<div ng-app='xxt' ng-controller='abCtrl'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='form-group'>
                <div class='input-group input-group-lg'>
                    <span class='input-group-btn'>
                        <button class='btn btn-primary' ng-click='openDeptPicker()'>部门</button>
                    </span>
                    <input type='search' class='form-control' x-webkit-speech lang="zh-CN" placeholder='检索关键字' ng-model='abbr'>
                    <span class='input-group-btn' ng-if='!canReset'>
                        <button class='btn btn-primary' ng-click='begin()'>搜索</button>
                    </span>
                    <span class='input-group-btn' ng-if='canReset'>
                        <button class='btn btn-primary' ng-click='reset()'>取消</button>
                    </span>
                </div>
            </div>
            <div class='input-group input-group-lg' ng-if='pickedDept' ng-click='pickDept(null)'>
                <p class='form-control'>{{pickedDept.name}}</p>
                <div class='input-group-btn'>
                    <button class='btn btn-default'>
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </div>
            </div>
            <ul class='list-group' infinite-scroll='more()' infinite-scroll-distance='0' infinite-scroll-disabled='loading'>
                <li class='list-group-item' ng-repeat='p in persons' ng-click='open(p)'>
                    <div class='name'>{{p.name}}</div>
                    <div class='dept'>{{p.depts|depts}}</div>
                    <span class='glyphicon glyphicon-chevron-right pull-right open'></span>
                </li>
            </ul>
        </div>
    </div>
    <div id='dlg'>
        <table class='table table-bordered'>
            <tr>
                <td>姓名</td>
                <td>{{opened.name}}</td>
            </tr>
            <tr>
                <td>电话</td>
                <td>
                    <span ng-repeat='t in opened.tels'>
                        <a href='tel:{{t}}'>{{t}}</a>&nbsp;&nbsp;
                        <span>
                </td>
            </tr>
            <tr>
                <td>邮件</td>
                <td>{{opened.email}}</td>
            </tr>
            <tr>
                <td>部门</td>
                <td>
                    <span ng-repeat='o in opened.depts'>{{o.name}}
                        <span ng-if='$index<opened.depts.length-1'>,</span>
                    </span>
                </td>
            </tr>
        </table>
        <button class='btn btn-default btn-block'>关闭</button>
    </div>
    <div id='dlg2'>
        <ul class='depts list-group'>
            <li class='list-group-item clearfix' ng-repeat='d in showDepts'>
                <button class='btn btn-default' ng-click='pickDept(d)'>{{d.name}}</button>
                <button class='btn btn-default pull-right' ng-click='childDept(d)' ng-if='d.hasChild'>
                    <span class='glyphicon glyphicon-chevron-right'></span>
                </button>
            </li>
        </ul>
        <div class='actions'>
            <button class='btn btn-lg' ng-class="upperDepts.length?'btn-primary':'btn-default'" ng-disabled='upperDepts.length===0'
            ng-click='backDept()'>返回</button>
            <button class='btn btn-primary btn-lg' ng-click='closeDeptPicker()'>关闭</button>
        </div>
    </div>
</div>