<!DOCTYPE html>
<html ng-app='xxt' ng-controller='ctrl'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="." />
        <title><?php TPL::pt('title');?></title>
        <link href="//libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/views/default/article.css?_=1" rel="stylesheet">
        <style ng-if="mpa.header_page.css" ng-bind='mpa.header_page.css'></style>
        <style ng-if="mpa.footer_page.css" ng-bind='mpa.footer_page.css'></style>
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <header dynamic-html='mpa.header_page.html'></header>
        <div id='mask' ng-if="loading">
            <div>
                <i class='fa fa-spinner fa-5x fa-pulse'></i>
            </div>
        </div>
        <div class="article">
            <div class="wrap">
                <h1 id="title" class="ttile" ng-bind='article.title'></h1>
                <div id="attribute">
                    <span class="time" ng-bind="article.modify_at*1000|date:'yyyy-MM-dd'"></span>
                    <span class="author" ng-bind='article.author'></span>
                    <span id='article_from_mp' ng-if='mpa.yx_cardid'>
                        <a ng-click="followMp()" href="javascript:void(0)" ng-bind='mpa.yx_cardname'></a>
                    </span>
                </div>
                <div class="headpic" ng-if="article.hide_pic!=='Y'">
                    <img ng-src="{{article.pic}}">
                </div>
                <div id="content" class="content" dynamic-html='article.body'></div>
                <div id="attachment" ng-if="article.attachments">
                    <table class='table table-bordered'>
                        <caption>附件</caption>
                        <tr ng-repeat='a in article.attachments'>
                            <td>
                                <a ng-href="{{'/rest/mi/article/attachmentGet?mpid='+mpid+'&articleid='+article.id+'&attachmentid='+a.id}}" target='_blank'
                                ng-bind='a.name'></a>
                            </td>
                            <td ng-bind='a.size|filesize' style="width:90px"></td>
                        </tr>
                    </table>
                </div>
                <p class="url" ng-if="article.url">
                    <a href="{{article.url}}" target="_self">阅读原文</a>
                </p>
                <div id='stat'>
                    <span class='read'>
                        <span>阅读</span>
                        <span id='readNum' ng-bind='article.read_num'></span>
                    </span>
                    <span class='like'>
                        <em ng-class="{'praised':article.praised}" ng-click="like()"></em>
                        <span id='score' ng-bind='article.score'></span>
                    </span>
                </div>
                <div id='tag' ng-if="article.channels.length||article.tags.length">
                    <span ng-repeat="c in article.channels" ng-click="openChannel(c)">{{c.title}}</span>
                    <span ng-repeat="t in article.tags" ng-click="searchByTag(t)">{{t.title}}</span>
                </div>
                <div id='remark' class='clearfix' ng-show="mpa.can_article_remark==='Y'">
                    <h5>评论
                        <span ng-if='article.remark_num' ng-bind="'（' + article.remark_num + '）'"></span>
                    </h5>
                    <ul class='list-group' ng-hide="mode==='preview'">
                        <li class='list-group-item' ng-repeat="r in article.remarks" ng-click='reply(r)'>
                            <div class='content' ng-bind="r.remark"></div>
                            <div class='clearfix'>
                                <div class='nickname' ng-bind="r.nickname"></div>
                                <div class='datetime' ng-bind="r.create_at*1000|date:'yy-MM-dd HH:mm'"></div>
                            </div>
                        </li>
                    </ul>
                    <textarea id='newRemark' rows='4' class='form-control' ng-disabled="mode==='preview'" ng-model="newRemark"></textarea>
                    <button class='btn btn-primary pull-right' ng-disabled="mode==='preview'" ng-click='remark()'>发表评论</button>
                </div>
            </div>
        </div>
        <footer dynamic-html='mpa.footer_page.html'></footer>
        <script type="text/javascript">
            if (/MicroMessenger/i.test(navigator.userAgent)) {
                var mpid = location.search.match(/mpid=([^&]*)/)[1];
                document.write("<script src='http:\/\/res.wx.qq.com\/open\/js\/jweixin-1.0.0.js'><\/script>");
                document.write("<script src='\/rest\/mi\/matter\/wxjssdksignpackage?mpid="+mpid+"&url="+encodeURIComponent(location.href.split('#')[0])+"'><\/script>");
            }
        </script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/xxt.share.js?_=1"></script>
        <script src="/views/default/article.js?_=8"></script>
        <script type="text/javascript">
            if (document.location.host === 'xinxintong.sinaapp.com') {
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F40ec59c933400d729f57930675635edb' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
    </body>

</html>