*{margin:0;padding:0}
body{height:100%;background-color:#ddd;font-family:Microsoft Yahei,Arial;padding:0 8px}
.ng-cloak{display:none}

/* matters */
.list-group{margin-top:4px}
.list-group-item{margin-bottom:8px;padding-bottom:0}
.heading_pic{position:absolute;top:0;left:0px;box-sizing:border-box;width:64px;height:64px;border:2px solid #EEE;background-size:cover;background-position:center;}
.header{font-size:12px;color:#999}
.content{position:relative;min-height:70px}
.content>div:nth-child(2){margin-left:70px}
.creater_name{float:right}
.create_at{float:left}
.title{font-weight:700;font-size:16px;margin-top:4px}
.summary{font-size:14px;color:#666;margin-top:4px;max-height:36px;overflow:hidden}
.summary.last-row{margin-bottom:10px}
.actions{height:36px;background:#eee;margin:12px -15px 0}
.actions>span{display:inline-block;width:49%;text-align:center;line-height:36px}
.actions .like:before{content:' ';margin-right:4px;-webkit-tap-highlight-color:rgba(0,0,0,0);display:inline-block;background-image:url("/static/img/icons.svg");background-size:68.75px 103.13px;background-position:-31.25px 0;background-repeat:no-repeat;width:15px;height:15px}
.actions .like.praised:before{background-position:-31.25px -25px}
.actions .remark:before{content:'评论';margin-right:4px}

/* auth */
#frmAuth{display:none;position:absolute;top:0;left:0;right:0;border:none;width:100%;z-index:999;box-sizing:border-box;}