<!DOCTYPE html>
<html ng-app='xxt' ng-controller='ctrl'>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href='.'>
        <title><?php TPL::pt('title');?></title>
        <style type="text/css">
            html,body{height:100%;width:100%;padding:0;margin:0}
            body{font-family: "HSimHei","Microsoft YaHei"}
            #content{height:100%;width:100%}
            #frmAuth{display:none;position:absolute;top:0;left:0;right:0;border:none;width:100%;z-index:999;box-sizing:border-box;}
        </style>
        <style ng-if="article.page.css" ng-bind='article.page.css'></style>
    </head>
    <body>
        <div id="content" dynamic-html='article.page.html'></div>
        <script type="text/javascript">
        if (/MicroMessenger/i.test(navigator.userAgent)) {
        var mpid = location.search.match(/[\?&]mpid=([^&]*)/)[1];
        document.write("<script src='http:\/\/res.wx.qq.com\/open\/js\/jweixin-1.0.0.js'><\/script>");
        document.write("<script src='\/rest\/mi\/matter\/wxjssdksignpackage?mpid="+mpid+"&url="+encodeURIComponent(location.href.split('#')[0])+"'><\/script>");
        }
        </script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/xxt.share.js?_=1"></script>
        <script src="/views/default/custom.js?_=3"></script>
    </body>
</html>