<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title><?php echo APP_TITLE;?></title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/site.fe.css" rel="stylesheet">
    <style>
        body{margin-bottom:50px}
    </style>
</head>

<body ng-controller='ctrlMain'>
    <div dynamic-html='page.html'></div>
    <script src="/static/js/require.js" defer async data-main="/views/default/home-loader.js?_=3"></script>
</body>

</html>
