<div ng-controller="ctrlValueWrap">
    <div class='checkbox' ng-if="activeWrap.schema">
        <p class='form-control' ng-bind="activeWrap.schema.title" style='height:auto;word-break:break-all;'></p>
    </div>
    <div class="checkbox" ng-if="activeWrap.schema&&activeWrap.schema.type!=='html'">
        <label>
            <input type='checkbox' name='inline' ng-true-value="'Y'" ng-false-value="'N'" ng-model='activeWrap.config.inline' ng-change="updWrap('config','inline')">标题与数据在同一行</label>
    </div>
    <div class='checkbox' ng-if="activeWrap.schema&&activeWrap.schema.type!=='html'">
        <label>
            <input type='checkbox' name='splitLine' ng-true-value="'Y'" ng-false-value="'N'" ng-model='activeWrap.config.splitLine' ng-change="updWrap('config','splitLine')">显示分割线</label>
    </div>
</div>
