<div class='col-md-12'>
    <div class='form-group'>
        <a href ng-click="gotoHome()">活动首页</a>
    </div>
    <div class='form-group'>
        <label ng-bind="::team.title"></label>
    </div>
    <div class='form-group'>
        <button class='btn btn-default' ng-click="config()">团队设置</button>
    </div>
    <div class='form-group'>
        <button class='btn btn-default' ng-click="invite()">发起邀请</button>
    </div>
    <div class='list-group'>
        <div class='list-group-item'>
            成员1（组长）
        </div>
        <div class='list-group-item'>
            成员2
        </div>
        <div class='list-group-item'>
            成员3
        </div>
    </div>
</div>