<div class='col-md-12'>
    <div class='form-group'>
        <button class='btn btn-default' ng-click="gotoHome()"><span class='glyphicon glyphicon-arrow-left'></span> 活动首页</button>
        <button class='btn btn-default' ng-click="config()"><span class='glyphicon glyphicon-cog'></span> 团队设置</button>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='form-group'>
                <label ng-bind="::team.title"></label>
            </div>
            <div class='form-group'>
                <div class='help-block' ng-bind="::team.summary"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">已有成员</div>
        <div class="panel-body">
            <div class='list-group'>
                <div class='list-group-item' ng-repeat="mem in members">
                    <span ng-bind="::mem.nickname"></span><span ng-if="mem.is_leader==='Y'">（组长）</span><button ng-if="mem.is_leader==='N'&&user.records[team.team_id].is_leader==='Y'" class='btn btn-default btn-xs pull-right' ng-click="quit(mem)">移出</button>
                </div>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <button class='btn btn-default' ng-click="invite()"><span class='glyphicon glyphicon-share-alt'></span> 发起邀请</button>
    </div>
</div>