.thumbnail{position:relative;height:194px;cursor:pointer}
.thumbnail>:first-child{height:100px;overflow:hidden}
.thumbnail>:nth-child(2){height:30px;padding-top:4px;overflow:hidden}
.thumbnail .label{margin:0 2px 2px 0}
.thumbnail .attr{position:absolute;height:20px;left:4px;right:4px;bottom:34px}
.thumbnail .attr>div{display:table;width:100%;}
.thumbnail .attr>div>div{display:table-cell;width:50%;}
.thumbnail .attr .modify_at{text-align:right}
.thumbnail .stat{position:absolute;height:20px;left:4px;right:4px;bottom:8px}
.thumbnail .stat>div{display:table-cell;color:#999;line-height:30px}
.thumbnail .stat .ordered{color:red;}
.thumbnail button.remove{position:absolute;top:4px;right:4px}
.combox>.form-control{padding:3px 12px}
.combox .selected{display:inline-block;font-size:100%;font-weight:400;margin-right:4px;padding:4px 4px;vertical-align:middle}
.combox .selected button.close{float:none;color:#FFFFFF;font-weight:400;opacity:1;margin-left:4px;font-size:130%}
.combox .dropdown-menu .options{max-height:150px;overflow-y:auto}
.combox .dropdown-menu .actions{margin:4px 4px 0 0}
.combox .dropdown-menu .actions button{padding:4px 12px}
.combox .dropdown-menu .checkbox{clear:both;display:block;padding:3px 20px;margin:0 0 0 10px;white-space:nowrap}
.combox .dropdown-menu .checkbox label{display:inline-block;width:100%}
.combox .dropdown-menu .checkbox:hover{background-color:#F5F5F5}
.status-bar>*{vertical-align:middle;}
.status-bar>.pagination{margin:0;cursor:pointer;}