<div ng-controller='linkCtrl' ng-init="hasParent='<?php echo empty($_SESSION['mpaccount']->parent_mpid) ? 'N':'Y';?>'">
    <div class='form-inline form-group'>
        <button class='btn btn-success' ng-click='create()' title='新建链接'>新建</button>
        <label class="checkbox-inline" ng-show="hasParent==='Y'"><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='fromParent' ng-change='doSearch()'>来源于父账号</label>
    </div>
    <div style='margin:0 -15px'>
        <div class='col-md-3' ng-repeat='l in links'>
            <div class='thumbnail' ng-mouseenter='enter=true' ng-mouseleave='enter=false' ng-click='edit(l)'>
                <div>
                    <h4>{{l.title}}</h4>
                    <p>{{l.summary}}</p>
                </div>
                <div>
                    <span class='creater_name'>{{l.creater_name}}</span>
                    <span class='create_at'>{{l.create_at*1000|date:'yyyy-MM-dd'}}</span>
                </div>
                <button class='btn btn-default btn-sm remove' ng-click='remove($event,l)' ng-if='enter'>
                <i class='fa fa-trash-o fa-2x'></i>
                </button>
            </div>
        </div>
    </div>
</div>