ul,ol{padding-left:0;margin-bottom:0;list-style: none;overflow:hidden;}
.active{color:#2994d0;}
body{width: 100%;height: 100%;background-color: #F6F6F6;color: #333;font-family: "Microsoft YaHei";}
.container{margin-top: 71px;}
.navbar .navbar-text{float:none;}
.orderItem{overflow: hidden;margin-bottom: 15px;}
.orderItem > .col-xs-3{padding-left: 0;padding-right:   0;cursor: pointer;}
.orderResult .result{width: 100%;height: 104px;margin-bottom: 20px;padding:15px 10px;font-size:13px;background-size: contain;background-repeat:  no-repeat;}
.odd{background-image:url('/static/img/odd.png');}
.even{background-image:url('/static/img/even.png');}
.lineOne{margin-bottom: 10px;}
.lineOne > p, .lineTwo > p{display: inline-block;width: 49%;padding-left: 5%;margin-bottom: 0;position: relative;}
.lineOne > p:before, .lineTwo > p:before{content:'';width: 10px;height: 10px;border-radius: 50%;position: absolute;top:4px;left:0;}
.lineOne > p:nth-child(1):before {background-color: #40A2F6;}
.lineOne > p:nth-child(2):before {background-color: #FF75B7;}
.lineTwo > p:nth-child(1):before {background-color: #FFAA70;}
.lineTwo > p:nth-child(2):before {background-color: #5EFFF1;}
.more{width: 100%;text-align: center;}