.thumbnail{position:relative;height:180px;cursor:pointer}
.thumbnail .footer{position:absolute;left:4px;right:4px;bottom:4px;}
.thumbnail .datetime{display:inline-block;color:#999;line-height:30px;float:right}
.thumbnail button.remove{position:absolute;top:4px;right:4px}
.thumbnail.create>div{display:table;width:100%;height:100%}
.thumbnail.create>div>div{display:table-cell;vertical-align:middle;text-align:center}