.carousel{margin-bottom: 0px;}


/* tem-info */
.team-info{position: relative;padding:25px 10px 35px 35px;margin-bottom: 10px;box-shadow:0 0 5px rgba(0, 204, 204, .5);overflow: hidden;}
.team-img{width:20%;margin-right:3%;}
.team-content{width:57%;overflow:hidden;}
.team-handel{width:20%;}
.team-content > .team-text{padding:20px 0;overflow:hidden;}
.team-text > h4{font-weight:800;}
.team-content > .team-summary{font-size:14px;color:#333;line-height:1.8;margin-top: 6%;}
.team-handel .btn-warning{color: #fff;background-color: #ffb400;border-color: #ffb400;box-shadow:0 0 10px 2px #ffb400;}
.team-handel .btn-primary{color: #fff;background-color: #0080ff;border-color: #0080ff;box-shadow:0 0 10px 2px #0080ff;}
.btn-custom{font-size:18px;font-weight:600;padding:5px 20px;border-radius: 50em;margin-left: 10px;}
.btn:focus,.btn:active:focus{outline: none;}
.xxt_scan{cursor:pointer;width:77px;height:77px;bottom:0;right:0;background-position: -137px -259px;}
.team-qrcode{position: absolute;right:-85px;bottom:0;}
.qrcode{width:96px;height:96px;}


/* loadMore */
.btn{border:none;}
.btn-lg{padding:10px 80px;}


/* 右侧栏小功能 */
.tms-top{bottom:60px;}
.tms-qrcode{bottom:128px;}
#gototalk:after{content: '';width: 0;height: 0;position: fixed;bottom: 140px;right: 60px;border-top: 16px solid transparent;border-left: 11px solid #4a9dce;border-bottom: 16px solid transparent;}
.talk-qrcodes{height:auto;position:fixed;right:70px;bottom:60px;}
.talk-qrcode{width:110px;height:auto;font-size:12px;line-height: 1.5;color: #fff;border-bottom: 1px dashed #fff;padding-bottom: 10px;text-align:center;background-color:#4a9dce;}
.talk-qrcode:last-child{border-bottom: none;}


/*template/matter*/
.template{position:relative;height:200px;cursor:pointer;display:flex;flex-direction:column;padding:15px;}
.template .summary{flex:1;overflow:hidden;}
.template .attr{display:flex;padding:8px 0;}
.template .creater_name{flex:1;}
.template .actions{border-top:1px solid #ddd;padding-top:8px;}