.carousel{margin-bottom:0;}

/* tem-info */
.team-info{position:relative;padding:20px;margin-bottom:30px;overflow:hidden;border:1px solid #efefef;}
.team-img{width:17%;margin-right:2%;}
.team-content{width:81%;overflow:hidden;}
.team-content > .team-head{overflow: hidden;}
.team-title{margin-top:45px;margin-bottom: 30px;}
.team-handle{width:23%;}
.team-content > .team-summary{color:#666;}

.btn:focus,.btn:active:focus{outline:none;}
.xxt_scan{cursor:pointer;width:77px;height:77px;bottom:0;right:0;background-position:-137px -259px;}
.team-qrcode{position:absolute;right:0;bottom:30px;}
.qrcode{width:96px;height:96px;}

/* 右侧栏小功能 */
.tms-top{bottom:60px;}
.tms-qrcode{bottom:128px;}
#gototalk:after{content:'';width:0;height:0;position:fixed;bottom:140px;right:60px;border-top:16px solid transparent;border-left:11px solid #4a9dce;border-bottom:16px solid transparent;}
.talk-qrcodes{height:auto;position:fixed;right:70px;bottom:60px;}
.talk-qrcode{width:110px;height:auto;font-size:12px;line-height:1.5;color:#fff;border-bottom:1px dashed #fff;padding-bottom:10px;text-align:center;background-color:#4a9dce;}
.talk-qrcode:last-child{border-bottom:none;}

/*template/matter*/
.template{position:relative;height:200px;cursor:pointer;display:flex;flex-direction:column;padding:15px;}
.template .summary{flex:1;overflow:hidden;}
.template .attr{display:flex;padding:8px 0;}
.template .creater_name{flex:1;}
.template .actions{border-top:1px solid #ddd;padding-top:8px;}