<div id='home' class='container' ng-controller="ctrlHome">
    <div class='row' ng-if="site.home_carousel">
        <div class='col-md-12'>
            <div ng-controller="ctrlCarousel">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides" index="$index">
                        <img ng-src="{{slide.picUrl}}" style="height:305px;margin:auto;">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
            <div class='col-md-12'>
                <div class="media">
                    <div class="media-left">
                        <img class="img-circle" style="width:200px;height:200px"ng-src='{{site.heading_pic}}'>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <h4>{{site.name}}</h4>
                            <form class="navbar-form pull-right ng-cloak" ng-cloak style='margin-right:0'>
                                <button class="btn btn-success" ng-click="subscribeSite()">关注</button>
                                <button class="btn btn-success" ng-click="contributeSite()">投稿</button>
                            </form>
                        </div>
                        <div class="media-summary">{{site.summary}}</div>
                    </div>
                </div>
            </div>
        </div>
    <div class='row'>
        <div class='col-md-12 col-xs-12 main'>
            <div class="col-md-8 col-xs-12">
                <uib-tabset active="0" class="row">
                    <uib-tab index="$index" ng-repeat="c in c_channels">
                        <uib-tab-heading>{{c.title}}</uib-tab-heading>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="m in c._matters" ng-click="openMatter(m)">
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" ng-src='{{m.pic||m.thumbnail}}'>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{m.title}}</h4>
                                                <div class="media-summary">{{m.summary}}</div>
                                                <div class='attr clearfix'>
                                                    <div class='put_at pull-right' ng-bind="m.create_at*1000|date:'yyyy-MM-dd'"></div>
                                                    <div class="forward pull-right">
                                                        <a href="" ng-click="forward(user,m)">
                                                            <span class="site_fe_home site_fe_home_icon xxt_forward"></span>转发
                                                        </a>
                                                    </div>
                                                    <div class="favor pull-right" >
                                                        <a href="" ng-click="favor(user,m)" >
                                                            <span class="site_fe_home site_fe_home_icon xxt_favor"></span>收藏
                                                        </a>
                                                    </div>
                                                    <div class='creater_name pull-right'>
                                                        <a ng-href='/rest/site/home?site={{m.siteid}}'>
                                                            <span class="site_fe_home site_fe_home_icon xxt_team"></span>
                                                            {{m.site_name}}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class='btn btn-lg btn-primary  btn-gradient center-block' ng-click="moreMatters(c.channel_id)" ng-if="cTotal.total>=page.size">加 载 更 多</button>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <aside class="col-md-4 col-xs-12 pull-right">
                <div class="mainSide" ng-repeat="r in r_channels">
                    <div class="mainSide-header">
                        <span class="site_fe_home site_fe_home_icon xxt_guide"></span>
                        <h4>{{r.title}}</h4>
                        <small class="pull-right">
                            <a ng-href="/rest/site/fe/matter?site={{r.siteid}}&id={{r.channel_id}}&type=channel">更多<span class="site_fe_home site_fe_home_icon xxt_chevron-right"></span></a>
                        </small>
                    </div>
                    <div class='madinSide-body'>
                        <a class='list-group-item' ng-repeat="m in r._matters" ng-href="{{m.url}}">
                            <span class="site_fe_home site_fe_home_icon xxt_line"></span>{{m.title}}
                            <hr/>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div id='gototop' class='tms-switch'>
        <span class="site_fe_home site_fe_home_icon xxt_backTop"></span>
    </div>
</div>
