<div id='home' class='container' ng-controller="ctrlHome">
    <div class='row team'>
        <div class='col-md-12 col-xs-12'>
            <div class="team-info">
                <div class="team-img" ng-style="{'background-image':'url('+(site.home_heading_pic||site.heading_pic)+')'}">
                </div>
                <div class="team-title">
                    <div>{{site.name}}</div>
                    <div uib-dropdown dropdown-append-to="elSiteCard" on-toggle="siteCardToggled(open)" ng-if="site.can_contribute==='Y'||site.can_subscribe==='Y'">
                        <i class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></i>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li>
                                <a ng-if="site.can_contribute==='Y'" href='' ng-click="contributeSite()">投稿</a>
                                <a ng-if="site.can_subscribe==='Y'" href='' ng-click="subscribeSite()">关注</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="team-summary">{{site.summary}}</div>
            </div>
        </div>
    </div>
    <div ng-controller="ctrlCarousel" ng-if="site.home_carousel.length">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" index="$index" style="padding-top:30%;position:relative">
                <img ng-src="{{slide.picUrl}}" style="position:absolute;top:0;left:0;width:100%;height:100%">
                <div class="carousel-caption"></div>
            </div>
        </div>
    </div>
    <div class='row matters' ng-class="{'layout_g2_g1':site.home_mobile_layout==='g2_g1'}">
        <div class="col-md-9 col-xs-12 section">
            <uib-tabset active="0" class="row" style="padding-bottom:10px">
                <uib-tab index="$index" ng-repeat="c in c_channels_matters">
                    <uib-tab-heading>{{c.display_name}}</uib-tab-heading>
                    <div class="media-item clearfix" ng-repeat="m in cTotal[c.channel_id]['data']" ng-click="openMatter(m)">
                        <div class="media-item-left">
                            <div class="media-item-img" ng-style="{'background-image':'url('+m.pic||m.thumbnail+')'}"></div>
                        </div>
                        <div class="media-item-body">
                            <div class='media-item-body-flexbox'>
                                <div class="media-heading">{{m.title}}</div>
                                <div class="media-summary">{{m.summary}}</div>
                                <div class='media-attr'>
                                    <div class='put_at'>
                                        <span ng-bind="m.create_at*1000|date:'yyyy-MM-dd'"></span>
                                    </div>
                                    <div class="favor">
                                        <a href="" ng-click="favor(user,m)"><i class="glyphicon glyphicon-star-empty"></i><span> 收藏</span></a>
                                    </div>
                                    <div class="forward hide">
                                        <a href="" ng-click="forward(user,m)"><i class="glyphicon glyphicon-share"></i><span> 转发</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class='btn btn-lg btn-primary  btn-gradient center-block' ng-click="moreMatters(c.channel_id)" ng-if="cTotal[c.channel_id]['total'] >= page.size">加载更多</button>
                    </div>
                </uib-tab>
                <span uib-dropdown on-toggle="toggled(open)" class="pull-right" ng-if="c_channels.length > 3">
                        <a href id="simple-dropdown" uib-dropdown-toggle>
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li ng-repeat="c in c_next_channels">
                              <a ng-href="/rest/site/fe/matter?site={{c.siteid}}&id={{c.channel_id}}&type=channel" target='_self'>
                                    <h4 class="inline-block" ng-bind="c.display_name"></h4>
                                </a>
                            </li>
                        </ul>
                    </span>
            </uib-tabset>
        </div>
        <div class="col-md-3 col-xs-12 section">
            <div class="mainSide hidden-xs" ng-repeat="r in channelArticles">
                <div class="mainSide-header">
                    <span class="site_fe_home site_fe_home_icon xxt_guide"></span>
                    <span class=''>{{r.title}}</span>
                    <span ng-if="r.total>5" class="pull-right"><a ng-href="{{r.url}}">更多<i class="glyphicon glyphicon-menu-right"></i></a></span>
                </div>
                <div class='madinSide-body'>
                    <ul class="list-unstyled row">
                        <li class="list-item" ng-repeat="m in r.data">
                            <a ng-href="{{m.url}}">
                                <span ng-bind="m.title"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mainSide visible-xs-block">
                <uib-tabset active="0">
                    <uib-tab index="$index" ng-repeat="r in channelArticles">
                        <uib-tab-heading>{{r.title}}</uib-tab-heading>
                        <ul class="list-unstyled">
                            <li class="list-item" ng-repeat="d in r.data">
                                <a ng-href="{{d.url}}">
                                    <span ng-bind="d.title"></span>
                                </a>
                            </li>
                        </ul>
                        <div ng-if="r.total>5" class="text-center"><a ng-href="{{r.url}}" target='_self'>更 多</a></div>
                    </uib-tab>
                    <span uib-dropdown on-toggle="toggled(open)" class="pull-right" ng-if="channelArticles.length>2">
                            <a href id="simple-dropdown" uib-dropdown-toggle>
                                <i class="glyphicon glyphicon-th-list"></i>
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li ng-repeat="c in r_next_channels">
                                  <a ng-href='{{c.url}}' target='_self'>
                                        <span ng-bind="c.display_name"></span>
                    </a>
                    </li>
                    </ul>
                    </span>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="footer">
            <a href="" class="pull-right" ng-click="gotoTop()">回顶部</a>
        </div>
    </div>
    <div class='tms-tool-sidebar tms-tool-backtop hidden-xs' ng-click="gotoTop()">
        <span class="site_fe_home site_fe_home_icon xxt_backTop"></span>
    </div>
    <div class="tms-tool-sidebar tms-tool-qrcode hidden-xs" ng-if="site.home_qrcode_group">
        <span class="site_fe_home site_fe_home_icon xxt_talk_qrcode" ng-mouseenter="active=true" ng-mouseleave="active=false"></span>
        <div class="gotalk" ng-show="active">
            <div class="talk-qrcodes" ng-if="site.home_qrcode_group">
                <div class="talk-qrcode" ng-repeat="q in site.home_qrcode_group">
                    <span ng-bind="q.tip"></span>
                    <img class="qrcode" ng-src="{{q.picUrl}}" />
                </div>
            </div>
        </div>
    </div>
</div>