<div class='container-fluid' ng-controller="ctrlSplit">
    <div id='players' class='row'>
        <div class='col-md-12' ng-repeat="round in rounds">
            <div class='thumbnail'>
                <h4 ng-bind="round.title"></h4>
                <div>
                    <span class="player" style="display:inline-block;" ng-repeat="winner in round.winners">
                        <span ng-bind="winner.data.name"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <form class="navbar-form navbar-right">
                <button class='btn btn-success' ng-disabled="winners.length" ng-click='start()'>进行分组</button>
                <button class='btn btn-danger' ng-click='empty()'>清空结果</button>
            </form>
        </div>
    </nav>
</div>
