<!DOCTYPE html>
<html ng-app='app' ng-controller="ctrlBase">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
</head>

<body ng-controller="ctrlInvite">
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container' ng-cloak>
        </div>
    </nav>
    <div class='container'>
        <div class="row">
            <div class='col-md-12'>
                <div class='form-group'>
                    <label ng-bind="::team.title"></label>
                </div>
                <div class='form-group' ng-repeat="schema in schemas" ng-switch on="schema.type">
                    <label ng-bind="schema.title" ng-if="schema.type!=='html'"></label>
                    <input type='text' class='form-control' ng-model="member[schema.id]" ng-switch-when="shorttext">
                    <textarea class="form-control" ng-model="member[schema.id]" rows="3" ng-switch-when="longtext"></textarea>
                    <ul class='list-unstyled' ng-switch-when="single">
                        <li class="radio" ng-repschemat="op in schema.ops">
                            <label>
                                <input type="radio" name="{{action.id+'_'+schema.id}}" value="{{op.v}}" ng-model="member[schema.id]"><span>{{op.l}}</span></label>
                        </li>
                    </ul>
                    <ul class='list-unstyled' ng-switch-when="multiple">
                        <li class="checkbox" ng-repschemat="op in schema.ops">
                            <label>
                                <input type="checkbox" ng-model="member[schema.id][op.v]"><span>{{op.l}}</span></label>
                        </li>
                    </ul>
                    <div ng-switch-when="date" tms-date="Y" tms-date-value="member[schema.id]">
                        <div ng-bind="member[schema.id]*1000|date:'yy-MM-dd HH:mm'" class="form-control"></div>
                    </div>
                    <div tms-image-input="Y" ng-switch-when="image">
                        <ul class="img-tiles clschemarfix list-unstyled" name="{{schema.id}}">
                            <li wrap="img" ng-repschemat="img in member[schema.id]" class="img-thumbnail">
                                <img flex-img>
                                <button class="btn btn-default btn-xs" ng-click="removeImage(schema,$index)"><span class="glyphicon glyphicon-remove"></span></button>
                            </li>
                            <li class="img-picker">
                                <button class="btn btn-default" ng-click="chooseImage(schema)"><span class="glyphicon glyphicon-picture"></span>
                                    <br>选择图片</button>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="html">
                        <div ng-bind-html="schema.content"></div>
                    </div>
                </div>
                <div class='form-group'>
                    <button class='btn btn-default' ng-click="accept()">加入团队</button>
                </div>
            </div>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="<?php echo auto_version('/static/js/xxt.ui.error.js');?>"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/group/invite.js');?>"></script>
</body>

</html>