<div ng-controller='logCtrl'>
    <div class='form-group'>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>openid</th>
                    <th style='width:100px'>发送日期</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='l in logs'>
                    <td>{{l.openid}}</td>
                    <td>{{l.create_at*1000|date:'yy-MM-dd'}}</td>
                    <td>{{l.status}}</td>
                </tr>
            </tbody>
        </table> 
    </div>
    <div class='form-group clearfix'>
        <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
        <pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
    </div>
</div>