<div class='wrap' ng-controller="ctrlRecordSchema">
    <div id='filterQuick' ng-cloak>
        <div ng-repeat="singleFilter in singleFilters">
            <div tms-dropdown basic-data="singleFilter" criteria="criteria" shift-menu="shiftMenu(criteria)"></div>
        </div>
        <div tms-filter append-to-ele="appendToEle" basic-data="multiFilters" filter="filter" criteria="criteria" confirm="confirm(filterOpt)" class='tmsFilter'></div>
    </div>
    <div id='filterTip' class='hidden-xs' ng-if="filter.isFilter||filter.tags.length">
        <div class='bg-info small' ng-repeat="multifilter in multiFilters" ng-if="criteria[multifilter.type]!==null">
            <span ng-repeat="menu in multifilter.menus" ng-if="criteria[multifilter.type]==menu.id" ng-bind="menu.title"></span>
            <button class='close' trace-biz ng-click="shiftTip(multifilter.type)"><span>&times;</span></button>
        </div>
        <div class='bg-info small' ng-repeat="tag in filter.tags">
            <span ng-bind="tag.label"></span>
            <button class='close' trace-biz ng-click="shiftTag(tag,false)"><span>&times;</span></button>
        </div>
    </div>
    <div id='repos'>
        <div class='records'>
            <div class='record' ng-repeat="rec in repos" ng-cloak>
                <div class='top-bar'>
                    <div class='seq label label-default'>{{$index+1}}</div>
                    <div class='nickname text-muted'>{{rec.nickname||'隐藏'}}</div>
                    <button ng-if="rec.favored" class="btn btn-default btn-xs" ng-click="favorRecord(rec)">已收藏</button>
                    <div ng-if="rec.agreed==='Y'">
                        <button class="btn btn-xs btn-success">推荐</button>
                    </div>
                </div>
                <div class='data' ng-click="remarkRecord(rec, $event)">
                    <div tms-repos-record-data schemas="schemas" record="rec" current-tab="selectedTab"></div>
                </div>
                <div class='bottom-bar'>
                    <div class='datetime text-muted'>{{rec.enroll_at*1000|date:'MM-dd HH:mm'}}</div>
                    <a href ng-if="rec.like_num!='0'"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':rec.like_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.like_num"></span></a>
                    <a href ng-if="rec.dislike_num!='0'"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':rec.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.dislike_num"></span></a>
                    <a href ng-if="rec.coworkDataTotal&&rec.coworkDataTotal!='0'"><span>答</span>&nbsp;<span ng-bind="rec.coworkDataTotal"></span></a>
                    <a href ng-if="rec.remark_num!='0'"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="rec.remark_num"></span></a>
                    <div class="btn-group" uib-dropdown>
                        <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-top" uib-dropdown-menu>
                            <li><a href ng-click="shareRecord(rec)"><span class='glyphicon glyphicon-share'></span> 分享</a></li>
                            <li ng-if="!rec.favored"><a href ng-click="favorRecord(rec)"><span class='glyphicon glyphicon-bookmark'></span> 收藏</a></li>
                            <li><a href ng-click="assignTag(rec)"><span class='glyphicon glyphicon-tag'></span> 标签</a></li>
                            <li ng-if="rec.favored"><a href ng-click="assignTopic(rec)"><span class='glyphicon glyphicon-inbox'></span> 专题</a></li>
                            <li ng-if="rec.userid===user.uid"><a href ng-click="editRecord($event,rec)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                            <li ng-if="app.scenarioConfig.can_assoc === 'Y'" class='divider'></li>
                            <li ng-if="app.scenarioConfig.can_assoc === 'Y'"><a href ng-click="copyRecord($event,rec)"><span class='glyphicon glyphicon-copy'></span> 复制</a></li>
                        </ul>
                    </div>
                </div>
                <div class='tags' ng-if="rec.tags||rec.userTags">
                    <button class='btn btn-info btn-xs' ng-repeat="tag in rec.tags" ng-bind="tag.label" ng-click="shiftTag(tag,true)"></button>
                    <button class='btn btn-default btn-xs' ng-repeat="tag in rec.userTags" ng-bind="tag.label" ng-click="shiftTag(tag,true)"></button>
                </div>
            </div>
            <div class='record' ng-show="page.total>repos.length" ng-cloak>
                <div class='text-center' tms-scroll-spy selector='#repos' onbottom='recordsScrollToBottom()' offset='70' toggle-spy="spyRecordsScroll">
                    <button style='border-radius:15px;' class='btn btn-default' ng-click="recordList()"><span ng-class="{'ele-running':reposLoading}"><i class='ele-running-indicator'><i></i></i></span> 更多【{{repos.length}}/{{page.total}}】 </button>
                </div>
            </div>
        </div>
    </div>
</div>