<div class='wrap' ng-controller="ctrlPublicTopic">
    <nav class="nav site-navbar-primary navbar-fixed-top">
        <div class="container" id="nav_container">
            <div class="row">
                <div class="col-md-7 col-xs-7">
                    <ul class='nav site-nav'>
                        <li class='active' ng-click="navTo($event,nav)"><a href><span>问题</span></a></li>
                        <li ng-click="navTo($event,nav)"><a href><span>答案</span></a></li>
                        <li ng-click="navTo($event,nav)"><a href><span>专题</span></a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-xs-5">
                    <div id='filterQuick' ng-cloak>
                        <div ng-repeat="singleFilter in singleFilters">
                            <div tms-dropdown basic-data="singleFilter" criteria="criteria" shift-menu="shiftMenu(criteria)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class='topics' id='topic'>
        <div class='topic' ng-repeat="topic in topics" ng-click="gotoTopic(topic, $event)" ng-cloak>
            <div class='tms-flex-row small text-muted'>
                <div class='tms-flex-grow' ng-bind-html="topic.nickname"></div>
                <div ng-bind="topic.create_at*1000|date:'MM-dd HH:mm'"></div>
            </div>
            <hr>
            <div class='form-group'>
                <div ng-bind="topic.title"></div>
            </div>
            <div class='form-group' ng-if="topic.summary">
                <div class='text-muted small' ng-bind="topic.summary"></div>
            </div>
        </div>
    </div>
</div>