<div class='form-group clearfix'>
    <div class='pull-right'>
        <button class='btn btn-primary' ng-click='submit()'>提交</button>
    </div>
</div>
<div class='form-group'>
    <label>URL</label>
    <div class='form-control'>{{checkin.url}}</div>
</div>
<div class='form-group'>
    <label>签到页面（CSS）</label>
    <textarea class='form-control' ng-model='checkin.extra_css'></textarea>
</div>
<div class='form-group'>
    <label>签到页面（HTML）</label>
    <textarea class='form-control' ng-model='checkin.extra_ele'></textarea>
</div>
<div class='form-group'>
    <label>签到页面（JS）</label>
    <textarea class='form-control' ng-model='checkin.extra_js'></textarea>
</div>
