#rouletteWrap{position:relative;margin:0 auto;height:340px;width:340px}
#pointer{position:absolute;top:120px;left:120px;width:100px;height:100px;cursor:pointer}
.award_slot{position:absolute;background-color:rgba(255,255,255,0.1);display:table;overflow:hidden;width:60px;height:60px;text-align:center;font-size:1.2em;color:white}
.award_slot > div {display:table-cell;vertical-align:middle}
.award_bg{background-size:contain;background-position:center center}
.award_title{background-color:rgba(30,30,30,0.2)}
@media screen and (max-width:360px) { 
    #rouletteWrap{height:340px;width:340px}
    #pointer{top:120px;left:120px;height:100px;width:100px}
    .award_slot{font-size:1em}
}
@media screen and (max-width:320px) { 
    #rouletteWrap{height:300px;width:300px}
    #pointer{top:105px;left:105px;height:90px;width:90px}
    .award_slot{font-size:1em}
}