<div ng-controller='ReceCtrl'>
    <div class='form-group form-inline clearfix'>
        <div class='form-group' style='width:250px;margin-left:0'>
            <div class='input-group'>
                <input type='text' class='form-control' ng-model='page.keyword' placeholder='请输入搜索关键字'>
                <span class='input-group-btn'><button class='btn btn-default' type='button' ng-click='doSearch(1)'><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>
    </div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='wdith:200px'>昵称</th>
                <th style='width:140px'>发送时间</th>
                <th>内容</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='m in messages'>
                <td><a href='javascript:void(0)' ng-click='viewUser(m.openid)'>{{m.nickname||m.openid}}</a></td>
                <td>{{m.create_at*1000|date:'yyyy-MM-dd HH:mm'}}</td>
                <td style='width:500px'>{{m.data}}</td>
            </tr>
        </tbody>
    </table>
    <div class='form-group clearfix'>
        <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
        <pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle' total-items="page.total" max-size="7" items-per-page="page.size" boundary-links="true" rotate="false" ng-model="page.current" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
    </div>
</div>
