<style>
div.mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
</style>
<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">编辑页面</h5>
</div>
<div class="modal-body">
    <tinymce id='tinymcePagelet' height='200' toolbar='code'></tinymce>
</div>
<div class="modal-footer" style="margin-top:0">
    <button class="btn btn-default" ng-click="reset()">清空</button>
    <button class="btn btn-success" ng-click="ok()">保存</button>
</div>