<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">筛选条件</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">处理态度</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="criteria.agreed">
                    <option value='all'>全部</option>
                    <option value=''>未表态</option>
                    <option value='Y'>推荐</option>
                    <option value='A'>接受</option>
                    <option value='N'>屏蔽</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">发表留言用户</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="criteria.remarker" size=5 ng-options="u.userid as u.nickname for u in remarkers">
                    <option value=''>忽略</option>
                </select>
                <div ng-show="page.total>page.size">
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:middle;cursor:pointer" boundary-links="true" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRound()"></ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">提交内容用户</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="criteria.enrollee" size=5 ng-options="u.userid as u.nickname for u in enrollees">
                    <option value=''>忽略</option>
                </select>
                <div ng-show="page.total>page.size">
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:middle;cursor:pointer" boundary-links="true" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRound()"></ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>