<div class="modal-header">
    <button class="close" type="button" ng-click="close()">×</button>
    <h5 class="modal-title ">轮次</h5>
</div>
<div class="modal-body ">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">名称</label>
            <div class="col-md-9">
                <input type='text' class="form-control" ng-model='round.title'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">状态</label>
            <div class="col-md-9">
                <p class="form-control-static">{{roundState[round.state]}}</p>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-3 control-label'>开始时间</label>
            <div class="col-md-9">
                <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-obj="round" tms-date="round.start_at" tms-state="start_at"></tms-datepicker>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-3 control-label'>结束时间</label>
            <div class="col-md-9">
                <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-obj="round" tms-date="round.end_at" tms-state="end_at"></tms-datepicker>
            </div>
        </div>
        <div class='form-group' ng-if="missionRounds&&missionRounds.length">
            <label class='col-md-3 control-label'>关联项目轮次</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="round.mission_rid" ng-options="rnd.rid as rnd.title for rnd in missionRounds">
                    <option value=''>未指定</option>
                </select>
            </div>
        </div>
        <div class='form-group' ng-if="round.rid&&entry">
            <label class='col-md-3 control-label'>轮次填写链接</label>
            <div class="col-md-9">
                <div class='input-group'>
                    <div class='form-control' style='height:auto;word-break:break-all' ng-bind='entry.url'></div>
                    <span class='input-group-addon'>
                    <a class='btn btn-default' ng-href="{{entry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                </span>
                </div>
            </div>
        </div>
        <div class='form-group' ng-if="round.rid&&entry">
            <label class='col-md-3 control-label'>轮次填写二维码</label>
            <div class='col-md-9'>
                <div>
                    <span><img style='width:135px;height:135px;' ng-src="{{entry.qrcode}}"></span>
                    <button class='btn btn-default' ng-click="downloadQrcode(entry.qrcode)">下载</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" ng-click="remove()" ng-if="round.rid&&round.state!=='1'">删除</button>
    <button class="btn btn-success pull-left" ng-click="start()" ng-if='round.state==0||round.state==2'>启用</button>
    <button class="btn btn-success pull-left" ng-click="stop()" ng-if='round.state==1'>停用</button>
    <button class="btn btn-success" ng-click="ok() ">保存</button>
</div>