<!-- begin: generate by schema -->
<?php foreach ($this->schema as $def) { 
$schema = $def->schema;
?>
<div wrap="input" class="form-group form-group-lg" schema="<?php echo $schema->id;?>" schema-type="<?php echo $schema->type;?>">
<label><?php echo $schema->title; ?></label>
<ul tms-checkbox-group="<?php echo $schema->id;?>" tms-checkbox-group-model="data" tms-checkbox-group-upper="<?php echo count($schema->ops);?>">
<?php foreach ($schema->ops as $op) {?>
<li class="checkbox" wrap="checkbox"><label><input type="checkbox" name="<?php echo $schema->id; ?>" ng-model="data.<?php echo $schema->id . '.' . $op->v; ?>"><span><?php echo $op->l; ?></span></label></li>
<?php } ?>
</ul>
</div>
<?php } ?>
<!-- end: generate by schema -->
<p></p>
<div wrap="button" class="form-group"><button id="btnSubmit" class="btn btn-primary btn-block btn-lg" ng-click="submit($event,'result')"><span>提交投票</span></button></div>