<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>我的轨迹</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=1' rel="stylesheet">
    <link href='/views/default/site/fe/user/notice/main.css?_=2' rel="stylesheet">
</head>

<body>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <div class="container ng-cloak" ng-controller="ctrlMain" ng-cloak>
        <nav class='navbar navbar-default navbar-fixed-top'>
            <div class='container-fluid text-right'>
                <p class="navbar-text">
                    <a class='navbar-link' href='/rest/site/home?site={{site.id}}' target='_self'>{{site.name}} &nbsp;
                        <span class='glyphicon glyphicon-menu-right'></span>
                    </a>
                </p>
            </div>
        </nav>
        <div class='row'>
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <form class="nav navbar-form navbar-left">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="filterOptions" value="part" ng-model="oFilter.type">未读消息</label>
                                <label class="radio-inline">
                                    <input type="radio" name="filterOptions" value="all" ng-model="oFilter.type">全部消息</label>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class='list-group'>
                    <div class='list-group-item log' ng-repeat="log in logs">
                        <div class='pull-left'>{{log.batch.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
                        <div class='pull-left'>
                            <div class='pull-left item' ng-repeat="item in log.data" ng-bind-html="item"></div>
                        </div>
                        <div class='pull-right' ng-if="oFilter.type=='part'">
                            <div class='btn btn-default btn-sm' ng-click="closeNotice(log)">
                                <span class='glyphicon glyphicon-ok'></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <button class='btn btn-default btn-block' ng-click="more()" ng-if="logs.length<oPage.total">更多</button>
            </div>
        </div>
    </div>
    <script src="/static/js/require.js" defer async data-main="/views/default/site/fe/user/notice/main-loader.js?_=1"></script>
</body>

</html>
