.ng-cloak{display:none}
.container{margin-top:71px;}
.navbar .navbar-text{float:none;}
.navbar-form{margin-top: 12px;margin-bottom: 12px;}
.log .thumbnail{margin-top:3em;position:relative;}
.log .create_at{position:absolute;top:-2em;left:50%;margin-left:-48px;color:#999;}