<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">选择报告中包含的内容</h5>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab index="0" heading="标识项">
            <div style='max-height:370px;overflow-y:auto'>
                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th style='width:46px'>操作</th>
                                <th>题目</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='schema in appMarkSchemas' class='record'>
                                <td>
                                    <input type='checkbox' ng-model="markRows.selected[schema.id]">
                                </td>
                                <td>{{schema.title}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </uib-tab>
        <uib-tab index="1" heading="选择活动">
            <form class="form-inline">
                <select class='form-control' ng-model="criteria.mission_phase_id" ng-options="phase.phase_id as phase.title for phase in phases" ng-change="doSearch()">
                    <option value=''>所有阶段</option>
                </select>
            </form>
            <div style='max-height:420px;overflow-y:auto'>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:32px'>
                                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="appRows.allSelected">
                            </th>
                            <th>项目活动</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="matter in matters">
                            <td>
                                <input type='checkbox' ng-model="appRows.selected[$index]">
                            </td>
                            <td><span>{{matter.title}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>