<div ng-controller='ListCtrl'>
    <style>
        #btnPublish{display:block;position:fixed;left:4px;right:4px;bottom:4px}
    </style>
    <div class='row'>
        <div id='subjectList' class='list-group' style='margin-bottom:42px'>
            <a class='list-group-item' ng-repeat='s in subjects' ng-click='selectSubject(s.sid);'>
                <div class='subject'>{{s.subject}}</div>
                <div class='content'>{{s.content}}</div>
                <div class='clearfix'>
                    <div class='nickname'><span>发布者：</span>{{s.nickname}}</div>
                    <div class='datetime'>{{s.publish_at*1000|date:'yyyy-MM-dd hh:mm'}}</div>
                </div>
            </a>
        </div>
    </div>
    <a id='btnPublish' class='btn btn-primary btn-lg' ng-click='publish()'>我要发帖</a>
</div>
