<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/tms.css" rel="stylesheet">
        <link href="/views/default/pl/fe/main.css?_=1" rel="stylesheet">
        <title><?php echo APP_TITLE;?></title>
    </head>
    <body ng-app='app' ng-controller='ctrlMain'>
        <nav class='navbar navbar-default'>
            <div class='container'>
                <div class='navbar-header'>
                    <a class='navbar-brand' href='/rest/home' target='_self'><?php echo APP_TITLE;?></a>
                </div>
                <form class='navbar-form navbar-right'>
                    <div class="btn-group">
                        <a href='' target='_self' class="btn btn-default"><i class='glyphicon glyphicon-user'></i> {{loginUser.nickname}}</a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href='/rest/pl/fe/user/settings' target='_self'>用户设置</a></li>
                            <li class="divider"></li>
                            <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
        <div class='container ng-cloak' ng-cloak>
            <div id='viewRecent' class='row' ng-controller="ctrlRecent">
                <div class='col-md-12'>
                    <nav class='navbar navbar-default tms-panel-heading'>
                        <div class='container-fluid'>
                            <p class="navbar-text">我进行的工作</p>
                        </div>
                    </nav>
                    <div class='tms-panel-body'>
                        <div class='col-md-4' ng-repeat='m in matters'>
                            <div class='thumbnail matter' ng-class="m.matter_type" ng-click='open(m)'>
                                <h4 class='title' ng-bind="m.matter_title"></h4>
                                <p class='summary' ng-bind="m.matter_summary"></p>
                                <div class='attr'>
                                    <div class='creater_name' ng-bind="m.operator_name"></div>
                                    <div class='create_at' ng-bind="m.operate_at*1000|date:'yyyy-MM-dd'"></div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12'>
                            <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
                            <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row' ng-controller="ctrlMission">
                <div class='col-md-12'>
                    <nav class='navbar navbar-default tms-panel-heading'>
                        <div class='container-fluid'>
                            <p class="navbar-text">我参与的项目</p>
                        </div>
                    </nav>
                    <div class='tms-panel-body'>
                        <div  class='col-md-4' ng-repeat='m in missions'>
                            <div class='thumbnail mission' ng-click='open(m)'>
                                <h4 class='title' ng-bind="m.title"></h4>
                                <p class='summary' ng-bind="m.summary"></p>
                                <div class='attr'>
                                    <div class='creater_name' ng-bind="m.creater_name"></div>
                                    <div class='create_at' ng-bind="m.create_at*1000|date:'yyyy-MM-dd'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row hide' ng-controller="ctrlTrend">
                <div class='col-md-12'>
                    <nav class='navbar navbar-default tms-panel-heading'>
                        <div class='container-fluid'>
                            <p class="navbar-text">我关注的团队</p>
                        </div>
                    </nav>
                    <div class='tms-panel-body'>
                        <div  class='col-md-4' ng-repeat='matter in trends'>
                            <div class='thumbnail matter' ng-click="open(matter)">
                                <h4 class='title' ng-bind="matter.matter_title"></h4>
                                <p class='summary' ng-bind="matter.matter_summary"></p>
                                <div class='attr'>
                                    <div class='site_name' ng-bind="matter.from_site_name"></div>
                                    <div class='create_at' ng-bind="matter.put_at*1000|date:'yyyy-MM-dd'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12' ng-controller="ctrlSite">
                    <nav class='navbar navbar-default tms-panel-heading'>
                        <div class='container-fluid'>
                            <p class="navbar-text">我所属的团队</p>
                            <form class='navbar-form navbar-right'>
                                <button class='btn btn-success' ng-click='create()'><span class='glyphicon glyphicon-plus'></span>创建团队</button>
                            </form>
                        </div>
                    </nav>
                    <div class='tms-panel-body'>
                        <div  class='col-md-4' ng-repeat='site in sites'>
                            <div class='thumbnail site' ng-click="open(site)">
                                <h4 class='title' ng-bind="site.name"></h4>
                                <p class='summary' ng-bind="site.summary"></p>
                                <div class='attr'>
                                    <div class='creater_name' ng-bind="site.creater_name"></div>
                                    <div class='create_at' ng-bind="site.create_at*1000|date:'yyyy-MM-dd'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/ui-tms.js"></script>
        <script src="/views/default/pl/fe/main2.js"></script>
    </body>
</html>