<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/tms.css" rel="stylesheet">
        <style type='text/css'>
        body{padding-top:71px;}
        .site,.template{position:relative;height:120px;cursor:pointer}
        .site .footer,.template .footer{position:absolute;bottom:4px;left:4px;right:4px}
        .site .footer .datetime{display:inline-block;float:right;color:#999}
        </style>
        <title><?php echo APP_TITLE;?></title>
    </head>
    <body ng-app='xxt' ng-controller='ctrlMain'>
        <nav class='navbar navbar-inverse navbar-fixed-top tms-large' role='navigation'>
            <ul class='nav navbar-nav navbar-right'>
                <li><a href='/page/pl/fe/user/settings' target='_self'>用户设置</a></li>
                <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
            </ul>
        </nav>
        <div class='container'>
            <div class='row'>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <span>我的站点</span>
                        <button class='btn btn-success pull-right' ng-click='create()'><span class='glyphicon glyphicon-plus'></span>创建站点</button>
                    </div>
                    <div class="panel-body">
                        <div  class='col-md-3' ng-repeat='site in sites'>
                            <div class='thumbnail site' ng-mouseenter='mouseenter=true' ng-mouseleave='mouseenter=false' ng-click='open($event,site)'>
                                <button class='btn btn-default pull-right' ng-if='mouseenter' ng-click='remove($event, site)'><span class='glyphicon glyphicon-trash'></span></button>
                                <div ng-bind="site.name"></div>
                                <div class='footer'>
                                    <span class='datetime' ng-bind="site.create_at*1000|date:'yy-MM-dd'"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default hide">
                    <div class="panel-heading">
                        推荐站点
                    </div>
                    <div class="panel-body">
                        <div  class='col-md-3' ng-repeat='site in recommendedSites'>
                            <div class='thumbnail site' ng-mouseenter='mouseenter=true' ng-mouseleave='mouseenter=false'>
                                <button class='btn btn-default pull-right' ng-if='mouseenter' ng-click="collectSite($event,site)"><span class='glyphicon glyphicon-star-empty'></span></button>
                                <div ng-bind="site.name"></div>
                                <div class='footer'>
                                    <span ng-bind="site.creater_name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/ui-tms.js"></script>
        <script src="/views/default/pl/fe/main2.js"></script>
    </body>
</html>