<div ng-app='xxt' ng-controller='WallCtrl' ng-init="jsonParams='<?php echo urlencode(json_encode(TPL::val('params')));?>'">
    <div class='container'>
        <div class='row'>
            <div class='header'><?php TPL::pt('title');?></div>
            <div class='logo'></div>
            <ul class='wall'>
                <li style="display:list-item" class='message clearfix' ng-repeat='m in messages'>
                <div class="avatar" ng-if="m.src==='wx'">
                    <img ng-src="m.headimgurl" width="100" height="100">
                </div>
                <div class="content">
                    <span class='nickname'>{{m.nickname}}</span>
                    <span>：</span>
                    <span class='data'>{{m.data}}</span>
                </div>
                </li>
            </ul>
            <button class='btn btn-success' ng-click='stop()' style='display:none'>暂停</button>
        </div>
    </div>
</div>
<?php $css=TPL::val('body_css'); if (!empty($css)) { ?>
<style>
    <?php echo $css;?>
</style>
<?php }?>
