<div class='row'>
    <div class='col-md-12'>
        <div class='list-group'>
            <div class='list-group-item' ng-repeat="matter in matters" ng-click="openMatter(matter)" ng-switch="matter.matter_type">
                <div class='title'>{{matter.matter_title}}</div>
                <div class='operate_at'>
                    <span>最后操作：{{matter.operate_at*1000|date:'yy-MM-dd HH:mm'}}</span>
                </div>
                <div ng-switch-when="enroll">
                    <span>登记记录条数：{{matter.act.enroll_num}}</span>
                </div>
                <div ng-switch-when="enroll">
                    <span>发表评论数量：{{matter.act.do_remark_num}}</span>
                </div>
                <div ng-switch-when="signin">
                    <span>签到次数：{{matter.act.signin_num}}</span>
                </div>
                <div ng-switch-when="singin">
                    <span>迟到次数：{{matter.act.late_num}}</span>
                </div>
            </div>
        </div>
        <div class='form-group' ng-if="page.total>page.size">
            <div class='pl-pagination'>
                <span>总数：{{page.total}}</span>
                <ul uib-pagination boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
            </div>
        </div>
    </div>
</div>