<div class="row">
    <div class="col-md-12 ng-cloak" >
        <uib-tabset active="active" type="tabs">
            <uib-tab  ng-repeat="history in historys" heading="{{history.title}}" ng-click="init(history.title)">
                <div class='list-group-item app' ng-repeat="app in history.content" ng-click="openApp(app,history.title)">
                    <div class='title'>{{app.matter_title}}</div>
                    <div class='operate_at'  ng-switch on="history.title">
                        <span ng-switch-when="活动记录">最后操作:</span>
                        <span ng-switch-when="阅读记录">最后阅读:</span>
                        <span ng-switch-default>收藏时间:</span>
                        {{app.operate_at*1000||app.read_at*1000||app.favor_at*1000|date:'yy-MM-dd HH:mm'}}
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class='col-md-12' ng-show="page.total>page.size">
        <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
        <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
    </div>
</div>