.DS_Store
node_modules/
cus/
log/*
kcfinder/upload
vendor/
*.log
#ue/
docker/mariadb/data
docker/mariadb/log
docker/mongodb/data
docker-compose.override.yml
*.local.js
#kafka
docker/kafka/logs
docker/canal/*log