.DS_Store
.VSCodeCounter
node_modules/
dist/
cus/
log/*
kcfinder/upload
vendor/
test/
*.log
.env
.env.*

docker/mariadb/data
docker/mariadb/log
docker/mongodb/data
docker-compose.override.yml
*.local.js

#ue/
ue/site/fe/assets
ue/site/fe/login
ue/site/fe/channel

#kafka
docker/kafka/logs
docker/canal/*log

#lowdb
_lowdb.json

# pnpm
pnpm-lock.yaml