<div class='col-md-6 col-md-offset-3'>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <label>标题：最多35个汉字，70个英文字符</label>
                <input type='text' class='form-control' ng-model='editing.title' ng-change="update('title');">
            </div>
            <div class='form-group'>
                <label>头图（可选）：建议尺寸：900像素 * 500像素</label>
                <div style='position:relative'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                            <button class='btn btn-default' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                        </div>
                        <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{editing.pic}}" width='180px' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label>摘要（可选）：最多120个汉字，240个英文字符</label>
                <textarea class='form-control' ng-model='editing.summary' ng-change="update('summary');"></textarea>
            </div>
            <div class='form-group' ng-controller='ctrlSetChannel' ng-init="matterType='link';matterObj='editing'">
                <label>所属频道（可选）</label>
                <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
            </div>
            <div class='form-group'>
                <label>管理标签（可选）</label>
                <p class="form-control" ng-click="tagMatter('M')">
                    <span class="tag" ng-repeat="t in editing.matter_mg_tag" ng-bind="t.title"></span>
                </p>
            </div>
            <div class='form-group' ng-if="editing.mission">
                <label>所属项目</label>
                <div class="input-group">
                    <input class='form-control' title="{{editing.mission.title}}" value="{{editing.mission.title}}" readonly="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="quitMission()">
                            <span class='glyphicon glyphicon-remove'></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class='form-group' ng-if="!editing.mission">
                <button class='btn btn-success' ng-click="assignMission()">指定项目</button>
            </div>
        </div>
    </div>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <label>设置进入条件</label>
                <div class='radio'>
                    <label>
                        <input type='radio' value='none' ng-model="rule.scope" ng-change="changeUserScope()">不限用户来源</label>
                </div>
                <div class='radio'>
                    <label>
                        <input type='radio' value='member' ng-model="rule.scope" ng-change="changeUserScope()">限通讯录联系人访问</label>
                </div>
                <div class='radio'>
                    <label>
                        <input type='radio' value='group' ng-model="rule.scope" ng-change="changeUserScope()">限同项目内分组活动用户访问</label>
                </div>
                <div class='radio' ng-if="sns">
                    <label>
                        <input type='radio' value='sns' ng-model="rule.scope" ng-change="changeUserScope()">限公众号关注用户访问</label>
                </div>
            </div>
            <div class='form-group' ng-if="rule.scope==='member'">
                <table class='table table-bordered'>
                    <tbody>
                        <tr ng-repeat="msid in editing.entry_rule.member">
                            <td><span>{{mschemasById[msid]?mschemasById[msid].title:'通讯录不存在'}}</span></td>
                            <td>
                                <button class='btn btn-default btn-xs' ng-click="removeMschema(msid)"><span class='glyphicon glyphicon-remove'></span></button>
                                <button class='btn btn-default btn-xs' ng-click="editMschema(mschemasById[msid])"><span class='glyphicon glyphicon-edit'></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class='btn btn-default' ng-click="chooseMschema()">选择通讯录</button>
            </div>
            <div class='form-group' ng-if="rule.scope==='group'">
                <div class="input-group">
                    <input class='form-control' title="{{editing.entry_rule.group.title}} - {{editing.entry_rule.group.round.title}}" value="{{editing.entry_rule.group.title}} - {{editing.entry_rule.group.round.title}}" readonly>
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="removeGroupEditing()">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </div>
                </div>
                <button class='btn btn-default' ng-click="chooseGroupEditing()">选择分组活动</button>
            </div>
            <div class='form-group' ng-if="rule.scope==='sns'">
                <table class='table table-bordered'>
                    <tbody>
                        <tr ng-if="sns.wx">
                            <td>公众号【<span>{{sns.wx.title}}</span>】关注用户</td>
                        </tr>
                        <tr ng-if="sns.qy">
                            <td>公众号【<span>{{sns.qy.title}}</span>】关注用户</td>
                        </tr>
                        <tr ng-if="sns.yx">
                            <td>公众号【<span>{{sns.yx.title}}</span>】关注用户</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <label>链接</label>
                <select class='form-control' ng-model='editing.urlsrc' ng-options='k as v for (k,v) in urlsrcs' ng-change="update('urlsrc')"></select>
                <div ng-switch='editing.urlsrc'>
                    <textarea class='form-control' ng-model='editing.url' tms-auto-update tms-wait=1000 tms-update="update('url')" ng-switch-when="0"></textarea>
                    <select class='form-control' ng-model='editing.url' ng-options='n.id as n.title for n in news' ng-change="update('url')" ng-switch-when="1"></select>
                    <select class='form-control' ng-model='editing.url' ng-options='c.id as c.title for c in channels' ng-change="update('url')" ng-switch-when="2"></select>
                    <select class='form-control' ng-model='editing.url' ng-options='i.id as i.title for i in inners' ng-change="update('url')" ng-switch-when="3"></select>
                </div>
            </div>
            <div class='form-group' ng-show='editing.urlsrc==0'>
                <label>方法</label>
                <div>
                    <label class='radio-inline'>
                        <input type='radio' ng-model='editing.method' value='GET' ng-change="update('method')">GET</label>
                    <label class='radio-inline'>
                        <input type='radio' ng-model='editing.method' value='POST' ng-change="update('method')">POST</label>
                </div>
            </div>
            <div class='form-group' ng-show='editing.urlsrc==0'>
                <label>参数（可选）</label>
                <div>
                    <button class='btn btn-default btn-sm' ng-click='addParam()'>添加</button>
                    <ul class='list-group' name='params' style='margin-bottom:0'>
                        <li class='list-group-item' ng-repeat='p in editing.params'>
                            <div>
                                <div class='col-md-8' style='padding-left:0'>
                                    <div class='input-group'>
                                        <input type='text' placeholder='参数名称' class='form-control' ng-model='p.pname' ng-blur='updateParam(p)'>
                                        <span class='input-group-btn'>
                                            <button class='btn btn-default' ng-click='removeParam(p)'>
                                                <span class='glyphicon glyphicon-remove'></span>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-4' style='padding-left:0'>
                                    <div class='checkbox'>
                                        <label>
                                            <input type='checkbox' ng-model='p.customValue' ng-change='changePValueMode(p)'>自定义值</label>
                                    </div>
                                </div>
                            </div>
                            <select class='form-control' ng-model='p.pvalue' ng-options="k as v for (k,v) in linkparams " ng-change='updateParam(p)' ng-if='!p.customValue'></select>
                            <input type='text' class='form-control' ng-model='p.pvalue' ng-if='p.customValue' tms-auto-update tms-wait=1000 tms-update='updateParam(p)'>
                            <select class='form-control' ng-if="p.pvalue==='{{authed_identity}}'" ng-model='p.authapi_id' ng-options="aapi.authid as aapi.name for aapi in authapis" ng-change='updateParam(p)'></select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='form-group' ng-show='editing.urlsrc==3||editing.url==9'>
                <label>参数（可选）</label>
                <div>
                    <button class='btn btn-default btn-sm' ng-click='addParam()'>添加</button>
                    <ul class='list-group' name='params' style='margin-bottom:0'>
                        <li class='list-group-item' ng-repeat='p in editing.params'>
                            <div class='input-group'>
                                <p title='参数名称' class='form-control'>{{p.pname}}</p>
                                <span class='input-group-btn'>
                                    <button class='btn btn-default' ng-click='removeParam(p)'>
                                        <span class='glyphicon glyphicon-remove'></span>
                                </button>
                                </span>
                            </div>
                            <select class='form-control' ng-model='p.pvalue' ng-options="c.id as c.title for c in channels" ng-change='updateParam(p)'></select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='checkbox' ng-if="editing.urlsrc==0 && editing.method=='GET'">
                <label>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.open_directly' ng-change="update('open_directly')">跳过日志和访问控制</label>
            </div>
            <div class='checkbox'>
                <label>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.embedded' ng-change="update('embedded')">采用嵌入方式打开链接内容</label>
            </div>
        </div>
    </div>
    <div class='panel panel-default'>
        <button class='btn btn-block' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
        <button class='btn btn-block btn-default' ng-click="remove()">删除</button>
    </div>
</div>
<script type="text/ng-template" id="chooseGroupApp.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
        <h5 class="modal-title">分组活动</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class='form-group'>
                <label class="col-md-3 control-label">目标活动</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.app" ng-options="app.title for app in apps"></select>
                    <div class='checkbox' ng-if="app.mission">
                        <label>
                            <input disabled type='checkbox' ng-model="data.sameMission" ng-true-value="'Y'" ng-false-value="'N'"> 选择同一个项目中的活动</label>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">目标分组</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.round" ng-options="rnd.title for rnd in data.app.rounds">
                        <option>全部分组</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>