.ng-cloak{display:none}
*,*:before,*:after{box-sizing:border-box}
*{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
html,body{height: 100%}
body{font-family:Microsoft Yahei,Arial;background:#f8f8f8}
table{width:100%;border:1px solid #ddd;border-collapse:collapse;border-spacing:0}
th,td{border:1px solid #ddd;padding:.5em}
th{text-align:center;}
th:first-child{width:7em}
#alert{display:block;opacity:0;height:0;overflow:hidden;width:300px;position:fixed;top:40%;left:50%;margin:0 0 0 -150px;text-align:center;color:#333;transition:opacity .5s;border:1px solid #999;padding:1em;background-color:#fff;-webkit-box-shadow:3px 3px 3px #999;-moz-box-shadow:3px 3px 3px #999;box-shadow:3px 3px 3px #999;z-index:-1;}
#alert.active{opacity:1;height:auto;z-index:999}
#greeting{position:absolute;left:15px;right:15px;bottom:30px;border:1px solid #999;-webkit-box-shadow:3px 3px 3px #999;-moz-box-shadow:3px 3px 3px #999;box-shadow:3px 3px 3px #999;background:#fff;padding:15px;z-index:999;}
#greeting>div{text-align:center;}
#greeting>div:last-child{margin-top:1em;padding-top:.5em;border-top:1px solid #999;}
#greeting>div:last-child>a{text-decoration:none;display:inline-block;padding:.5em 2em;background:#e8e8e8;color:#333;}
#leftChance{margin:1.5em 0;}
#leftChance:before{content:attr(title);}
#awards{list-style:none;padding:0;margin:1.5em 0;}
#awards>li>span:first-child:after{content:':';}
#winners{position:absolute;z-index:99;top:0;left:0;width:100%;height:24px;background:rgba(255,255,255,0.5);overflow:hidden}
#scroller{position:absolute;z-index:1;-webkit-tap-highlight-color:rgba(0,0,0,0);width:1600px;height:100%;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;}
#scroller ul{list-style:none;padding:0;margin:0;width:100%;height:100%;text-align:center}
#scroller li{display:block;float:left;width:159px;height:100%;border-right:1px solid #ccc;font-size:14px}
#frmPopup{display:none;position:absolute;top:0;left:0;right:0;border:none;width:100%;z-index:999;box-sizing:border-box;}
#debug{position:absolute;display:none;top:0;right:0}