#records{margin-bottom:60px;}
#records table img{max-width:96px;}
ul{padding-left:0;}
@media screen and (max-width:768px){
	table thead{display:none;}
	.table-bordered{background:#ddd;border:0;border-collapse:separate;-webkit-border-vertical-spacing:10px;}
	.table-bordered>tbody>tr>td{background:#fff;display:block;position:relative;border:1px solid #ccc;border-top:0;border-bottom:1px dotted #eee;padding:0;}
	.table-bordered>tbody>tr>td:first-child{border-top:1px solid #ccc;}
	.table-bordered>tbody>tr>td:last-child{border-bottom:1px solid #ccc;}
	.table-bordered>tbody>tr>td>span{display:inline-block;padding:.5em;padding-left:9em;min-height:2em;}
	td:after{content:attr(data-th);display:inline-block;width:8em;background:#eee;padding:.5em;position:absolute;top:0;bottom:0;left:0;}
	.navbar-form{width:auto;border:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;-webkit-box-shadow:none;box-shadow:none;text-align:right;}
	#records{margin-bottom:110px;}
  .modal.auto-height .modal-dialog,
  .modal.auto-height.middle-width .modal-dialog.modal-lg{width:100%;margin-left:0;left:0;}
}
.notice{color:red;}
.navbar-form .form-control{display:inline-block;width:auto;}

/* img tiles */
ul{padding-left:0}
ul.img-tiles li{position:relative;display:inline-block;overflow:hidden;width:80px;height:80px;margin:0px;padding:0px;float:left}
ul.img-tiles li.img-thumbnail img{display:inline-block;position:absolute}
ul.img-tiles li.img-thumbnail button{position:absolute;top:0;right:0}
ul.img-tiles li.img-picker button{position:auto;width:100%;height:100%}
ul.img-tiles li.img-picker button span{font-size:36px}