.ng-cloak{display:none}
.container{margin-top:71px;}
.navbar .navbar-text{float:none;}
.navbar-form{margin-top: 12px;margin-bottom: 12px;}
.log{line-height: 2.5;overflow: hidden;}
.log > div:nth-child(1), .log .item{margin-right:1em;}