body{font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;background:#f8f8f8;padding:71px 0;}
.navbar-nav.tms-breadcrumb>li>a{padding-left:0;padding-right:0;color:#428bca;max-width:12em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.navbar-nav.tms-breadcrumb>li:last-child>a{color:#777;}
.navbar-nav.tms-breadcrumb>li+li>a:before{content:'/\00a0';padding-left:5px;color:#ccc;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}

/*setting*/
.form-group{padding:8px;background:#fff;border-radius:4px;}
.form-group.compact{margin-bottom:0;}
.tile .form-group:last-child{margin-bottom:0;}

/*tinymce*/
div.mce-tinymce.mce-container.mce-panel{margin-top:0;border:1px solid #ccc;}
div.mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
div.mce-tinymce div.mce-edit-area{border:0!important;border-top:1px solid #ccc!important;}
div.mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.mce-btn-has-text button span{vertical-align:baseline;}
.mce-ico.mce-i-save:before{color:green;}
.mce-disabled .mce-ico.mce-i-save:before{color:#555;}
.tag {background: #337ab7;padding: 3px 6px;margin: 4px;border-radius: 4px;color: #fff;}