/*tinymce*/
div.mce-tinymce.mce-container.mce-panel{margin-top:0;border:1px solid #ccc;}
div.mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
div.mce-tinymce div.mce-edit-area{border:0!important;border-top:1px solid #ccc!important;}
div.mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.mce-btn-has-text button span{vertical-align:baseline;}
.mce-ico.mce-i-save:before{color:green;}
.mce-disabled .mce-ico.mce-i-save:before{color:#555;}
.tag{background:#337ab7;padding:3px 6px;margin:4px;border-radius:4px;color:#fff;}

/*preview*/
#simulator{position:relative;width:360px;height:640px;border:1px solid #ccc;box-shadow:0px 2px 5px 5px rgba(192,192,192,1);}
#simulator iframe{width:100%;height:100%;border:0;}
#simulatorActions{position:absolute;top:80px;left:350px;width:150px;}

/*main-view*/
#main-access .badge a{color:#fff;text-decoration:none;}

/* log-view */
#spread-view .bg0{background: #fff;}
#spread-view .bg1{background: #ccc;}
#spread-view .operate_btn a{margin-right: 10px;}
.hidden{visibility: hidden;}
.visible{visibility: visible;}
