<div class='col-md-6 col-md-offset-3'>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <label>标题：最多35个汉字，70个英文字符</label>
                <input type='text' class='form-control' ng-model='editing.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
            <div class='form-group'>
                <label>头图（可选）：建议尺寸：900像素 * 500像素</label>
                <div style='position:relative'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                            <button class='btn btn-default' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span> 选择图片</button>
                        </div>
                        <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{editing.pic}}" width='180px' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                    <div style='position:absolute;top:30px;left:210px'>
                        <label class='checkbox-inline'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.hide_pic' ng-change="update('hide_pic');">正文中不显示头图</label>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label>摘要（可选）：最多120个汉字，240个英文字符</label>
                <textarea class='form-control' ng-model='editing.summary' tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
            </div>
            <div class='form-group'>
                <label>作者（可选）：最多8个汉字或英文字符</label>
                <input type='text' class='form-control' ng-model='editing.author' tms-auto-update tms-wait=1000 tms-update="update('author')">
            </div>
            <div class='form-group'>
                <label>原文链接(可选)</label>
                <textarea class='form-control' ng-model='editing.url' tms-auto-update tms-wait=1000 tms-update="update('url')"></textarea>
            </div>
            <div class='form-group' ng-if="editing.mission">
                <label>所属项目</label>
                <div class="input-group">
                    <input class='form-control' title="{{editing.mission.title}}" value="{{editing.mission.title}}" readonly="">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="quitMission()">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class='form-group' ng-if="!editing.mission">
                <button class='btn btn-success' ng-click="assignMission()">指定项目</button>
            </div>
        </div>
    </div>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group' ng-controller='ctrlSetChannel' ng-init="matterType='article';matterObj='editing'">
                <label>所属频道（可选）</label>
                <combox evt-prefix='channel' readonly=true link='Y' prop='title' existing='editing.channels' options='channels'></combox>
            </div>
            <div class='form-group'>
                <label>内容标签（可选）</label>
                <p class="form-control" ng-click="tagMatter('C')">
                    <span class="tag" ng-repeat="t in editing.matter_cont_tag" ng-bind="t.title"></span>
                </p>
            </div>
            <div class='form-group'>
                <label>管理标签（可选）</label>
                <p class="form-control" ng-click="tagMatter('M')">
                    <span class="tag" ng-repeat="t in editing.matter_mg_tag" ng-bind="t.title"></span>
                </p>
            </div>
            <div class='form-group'>
                <label>指定关联应用</label>
                <div class="pl-input-group" ng-repeat="app in editing.config.nav.app">
                    <div class='form-control pl-line' ng-bind="app.title"></div>
                    <button class="btn btn-default" ng-click="removeNavApp($index)">
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </div>
            </div>
            <div class='form-group'>
                <button class='btn btn-success' ng-click="assignNavApp()">指定关联应用</button>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-if="editing.entry">
        <div class='panel-body'>
            <div class='form-group'>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.approved' ng-change="update('approved');">审核通过</label>
            </div>
        </div>
    </div>
    <div id='main-access' class="panel panel-default" ng-controller='ctrlAccess'>
        <div class="panel-body">
            <div class='form-group'>
                <label>设置参与规则</label>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.member" ng-change="changeUserScope('member')">用户参与活动前需填写通讯录联系人信息</label>
                    <span ng-if="rule.scope.member==='Y'">
                            <span class='badge' ng-repeat="(msid,entry) in editing.entryRule.member">
                                    <a href title='进入查看' ng-click="editMschema(mschemasById[msid])">{{mschemasById[msid]?mschemasById[msid].title:'通讯录不存在'}}</a>
                                    <a href title='取消指定' class='glyphicon glyphicon-remove' ng-click="removeMschema(msid)"></a>
                                </span>
                    <a href ng-click="chooseMschema()">添加</a>
                    </span>
                </div>
                <div class='checkbox' ng-if="snsCount===1">
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.sns" ng-change="changeUserScope('sns')">邀请用户关注公众号【{{sns[snsNames[0]].title}}】，以便获取用户的昵称和头像，向用户发送活动通知</label>
                </div>
                <div class='checkbox' ng-if="snsCount>1">
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.sns" ng-change="changeUserScope('sns')">邀请用户关注公众号，以便获取用户的昵称和头像，向用户发送活动通知</label>
                    <div ng-if="rule.scope.sns==='Y'" style='margin-left:20px'>
                        <label class='checkbox-inline' ng-repeat="snsName in snsNames">
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="" ng-model="app.entryRule.sns[snsName].entry" ng-change="update('entryRule')"> {{sns[snsName].title}}</label>
                    </div>
                </div>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.group" ng-change="changeUserScope('group')">用户参与活动前需要在分组活动</label><span class='badge' ng-if="rule.scope.group==='Y'"><a href='/rest/pl/fe/matter/group?site={{editing.siteid}}&id={{editing.entryRule.group.id}}' target='_self'>{{editing.entryRule.group.title}} - {{editing.entryRule.group.round.title}}</a></span>中分组 <a ng-if="rule.scope.group==='Y'" href ng-click="chooseGroupApp()">指定</a>
                </div>
            </div>
        </div>
    </div>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <div>创建人：{{editing.creater_name}}</div>
                <div>创建时间：{{editing.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
                <div>修改人：{{editing.modifier_name}}</div>
                <div>最后一次修改时间：{{editing.modify_at*1000|date:'yy-MM-dd HH:mm'}}</div>
            </div>
        </div>
    </div>
    <hr>
    <div class='form-group'>
        <button class='btn btn-default btn-block' ng-click="remove()">删除图文</button>
    </div>
</div>
<script type="text/ng-template" id="chooseGroupApp.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
        <h5 class="modal-title">分组活动</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class='form-group'>
                <label class="col-md-3 control-label">目标活动</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.app" ng-options="app.title for app in apps"></select>
                    <div class='checkbox' ng-if="app.mission">
                        <label>
                            <input disabled type='checkbox' ng-model="data.sameMission" ng-true-value="'Y'" ng-false-value="'N'"> 选择同一个项目中的活动</label>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">目标分组</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.round" ng-options="rnd.title for rnd in data.app.rounds">
                        <option>全部分组</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>