<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model='editing.title' ng-change="update('title');">
            <div class='help-block'>标题：最多35个汉字，70个英文字符</div>
        </div>
        <div class='form-group'>
            <div style='position:relative'>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                        <button class='btn btn-default' ng-click='setPic();'>
                        <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                    </div>
                    <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src="{{editing.pic}}" width='180px' />
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                        <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                        <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
                <div style='position:absolute;top:30px;left:210px'>
                    <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.hide_pic' ng-change="update('hide_pic');">正文中不显示头图</label>
                </div>
            </div>
            <div class='help-block'>头图（可选）：建议尺寸：900像素 * 500像素</div>
        </div>
        <div class='form-group'>
            <textarea class='form-control' ng-model='editing.summary' ng-change="update('summary');"></textarea>
            <div class='help-block'>摘要（可选）：最多120个汉字，240个英文字符</div>
        </div>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model='editing.author' ng-change="update('author');">
            <div class='help-block'>作者（可选）：最多8个汉字或英文字符</div>
        </div>
        <div class='form-group' ng-if="editing.custom_body!=='Y'">
            <textarea class='form-control' ng-model='editing.url' ng-change="update('url');"></textarea>
            <div class='help-block'>原文链接(可选)</div>
        </div>
    </div>
    <div class='tile'>
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">添加素材
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="embedMatter()">内置素材</a>
                    </li>
                    <li>
                        <a href="#" ng-click="embedVideo()">视频</a>
                    </li>
                    <li>
                        <a href="#" ng-click="embedAudio()">音频</a>
                    </li>
                </ul>
            </div>
            <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_picviewer' ng-change="update('can_picviewer');">支持图片缩放浏览</label>
        </div>
        <tinymce content='editing.body' contenteditable='bodyEditable' onsavecallback="tinymceSave()" toolbar="fullscreen code save" update="onBodyChange()" change="onBodyChange()" id='body1' height='700'></tinymce>
        <div class='help-block'>正文：少于2万字符</div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <button id='addAttachment' class='btn btn-default btn-sm'>
                <span class='glyphicon glyphicon-plus'></span>
            </button>
            <ul class='list-group' style='margin-bottom:0'>
                <li class='list-group-item' ng-repeat='a in editing.attachments' ng-mouseenter="enter=true" ng-mouseleave="enter=false">
                    <span>
                        <a ng-href='{{downloadUrl(a)}}' target='_blank'>{{a.name}}</a>
                    </span>
                    <button class='btn btn-default btn-xs pull-right' ng-if='enter' ng-click='delAttachment($index,a)'>
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </li>
            </ul>
            <div class='help-block'>附件（可选）</div>
        </div>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div style='word-break: break-all;'>{{entry.url}}</div>
        </div>
        <div class="form-group">
            <div><img ng-src="{{entry.qrcode}}"></div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>阅读：{{editing.read_num}}</div>
            <div>评论：{{editing.remark_num}}</div>
            <div>点赞：{{editing.score}}</div>
            <div>分享好友：{{editing.share_friend_num}}</div>
            <div>分享朋友圈：{{editing.share_timeline_num}}</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group' ng-controller='ctrlSetChannel' ng-init="matterType='article';matterObj='editing'">
            <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
            <div class='help-block'>频道（可选）</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <combox evt-prefix='tag' prop='title' existing='editing.tags' options='tags'></combox>
            <div class='help-block'>内容标签</div>
        </div>
        <div class='form-group'>
            <combox evt-prefix='tag2' prop='title' existing='editing.tags2' options='tags2'></combox>
            <div class='help-block'>管理标签</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <memberacl site-id='{{siteId}}' obj='editing' prop-access='access_control' update-access-control="update('access_control')" prop-member-schemas='authapis' update-member-schemas="update('authapis')" prop-acl='acl' change-acl-url='/rest/pl/fe/matter/article/setAcl?site={{siteId}}&id={{editing.id}}' remove-acl-url='/rest/pl/fe/matter/article/removeAcl?site={{siteId}}'></memberacl>
        </div>
    </div>
    <div class='tile' ng-if="editing.entry">
        <div class='form-group'>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.approved' ng-change="update('approved');">审核通过</label>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_share' ng-change="update('can_share');">可以分享</label>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_fullsearch' ng-change="update('can_fullsearch');">可以检索</label>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_site_header' ng-change="update('use_site_header');">使用站点页眉</label>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_site_footer' ng-change="update('use_site_footer');">使用站点页脚</label>
        </div>
        <div class='form-group' ng-if="editing.mission_id>0">
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_mission_header' ng-change="update('use_mission_header');">使用项目页眉</label>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_mission_footer' ng-change="update('use_mission_footer');">使用项目页脚</label>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>创建人：{{editing.creater_name}}</div>
            <div>创建时间：{{editing.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
            <div>修改人：{{editing.modifier_name}}</div>
            <div>最后一次修改时间：{{editing.modify_at*1000|date:'yy-MM-dd HH:mm'}}</div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="insertMedia.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">媒体文件</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>地址（URL）</label>
            <textarea class="form-control" ng-model='data.url' rows=6></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()">确定</button>
    </div>
</script>