<div class='col-md-12'>
  <div class='form-group' ng-if="!userapp.type">
    <div class='alert alert-warning'>没有在【进入规则】中指定参与人范围，无法统计数据。</div>
  </div>
  <div class='form-group' ng-if="userapp.type">
    <div class='form-inline'>
      <div class='form-group'>
        <button type='button' class='btn btn-default' ng-click="list()"><i class='glyphicon glyphicon-refresh'></i> 刷新</button>
      </div>
    </div>
  </div>
  <div class='form-group' ng-if="userapp.type">
    <table class='table table-bordered table-striped'>
      <thead>
        <tr>
          <th style='width:48px'>序号</th>
          <th style='width:96px'>用户</th>
          <th style='width:144px' ng-if="userapp.type==='group'">分组</th>
          <th style='width:96px'>阅读次数</th>
          <th style='width:144px'>最后阅读时间</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='r in readers'>
          <td>{{$index+1}}</td>
          <td>{{r.name}}</td>
          <td ng-if="userapp.type==='group'">{{r.team.title}}</td>
          <td>{{r.read.num}}</td>
          <td>{{r.read.latest|date:'yy-MM-dd HH:mm'}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>