#product{margin-bottom:1em;}
#product .form-group{display:table;width:100%;margin-bottom:0;border-bottom:1px dotted #ddd}
#product .form-group:last-child{border-bottom:0}
#product .form-group>*{display:table-cell;}
#product .form-group>label{width:6em;white-space:normal;word-wrap:break-word;word-break:break-all;background:#eee;padding-left:.5em}
#product .form-group>div{padding-left:1em}
#product .detail_text{max-height: 180px;overflow: auto}
#skus{margin-bottom:2em;}
#skus .sku .form-group{display:table;width:100%;margin-bottom:0;border-bottom:1px dotted #ddd}
#skus .sku .form-group:last-child{border-bottom:0}
#skus .sku .form-group>*{display:table-cell;}
#skus .sku .form-group>label{width:6em;white-space:normal;word-wrap:break-word;word-break:break-all;background:#eee;padding-left:.5em}
#skus .sku .form-group>div{padding-left:1em}
#skus .sku.selected{outline:1px solid red;}