<div ng-controller='productCtrl'>
    <div id='product'>
        <div class='form-group'>
            <label class='form-control-static'>名称</label>
            <div class='form-control-static' ng-bind='product.name'></div>
        </div>
        <div class='form-group'>
            <label class='form-control-static'>介绍</label>
            <div>
                <div class='form-control-static detail_text' ng-bind="product.detail_text||'&nbsp;'"></div>
            </div>
        </div>
        <div class='form-group prop' ng-repeat='cp in catelog.properties'>
            <label class='form-control-static' ng-bind='cp.name'></label>
            <div class='form-control-static' ng-bind="propValues[cp.id].name||'&nbsp;'"></div>
        </div>
    </div>
    <div id='skus'>
        <div class='sku' ng-class="{'selected':s.selected}" ng-repeat='s in skus' ng-click='chooseSku(s)'>
            <div class='price form-group' ng-if="s.cateSku.require_pay==='Y'">
                <label class='form-control-static'>价格（元）</label>
                <div class='form-control-static' ng-bind="(s.price/100)||'&nbsp;'"></div>
            </div>
            <div class='beginAt form-group' ng-if="s.cateSku.has_validity==='Y'">
                <label class='form-control-static'>有效期</label>
                <div class='form-control-static' ng-bind="s.validity_begin_at*1000|date:'yy/MM/dd hh:mm'"></div>
                <div class='form-control-static' ng-bind="s.validity_end_at*1000|date:'yy/MM/dd hh:mm'"></div>
            </div>
            <div class='price form-group'>
                <label class='form-control-static'>剩余数量</label>
                <div class='form-control-static' ng-bind="s.quantity"></div>
            </div>
        </div>
    </div>
    <button class='btn btn-success btn-lg btn-block' ng-click='gotoCart(orderInfo.skus)'>购物车</button>
    <button class='btn btn-success btn-lg btn-block' ng-click='gotoOrder(orderInfo.skus)'>订购</button>
</div>