<!--设置-->
<!--<div  ng-include="'/rest/pl/fe/matter/wall/nav.html'"></div>-->
<div class='form-group text-right'>
    <div class='col-md-12'>
        <button class='btn btn-success' ng-click='start()' ng-if="wall.active==='N'">启用</button>
        <button class='btn btn-default' ng-click='end()' ng-if="wall.active==='Y'">停用</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="tile">
            <div class="form-group">
                <div class='help-block'>名称</div>
                <input type="text" class="form-control" ng-model='wall.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
            <div class="form-group compact">
                <div class='help-block'>头图（可选）：建议尺寸：900像素 * 500像素</div>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="!wall.pic">
                        <button class='btn btn-default' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span> 选择图片
                        </button>
                    </div>
                    <div style='position:relative' ng-if="wall.pic" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src='{{wall.pic}}' width='180px'/>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group" compact>
                <div class='help-block'>摘要（可选）：最多120个汉字，240个英文字符</div>
                <div class=''>
                    <textarea class='form-control' ng-model='wall.summary' tms-auto-update tms-wait=1000 tms-update="update('summary');" rows='3'></textarea>
                </div>
            </div>
            <div class='form-group'>
                <div class='help-block'>加入提示</div>
                <div class=''>
                    <textarea class="form-control" ng-model='wall.join_reply' tms-auto-update tms-wait=1000 tms-update="update('join_reply')"></textarea>
                </div>
            </div>
            <div class='form-group'>
                <div class='help-block'>退出提示</div>
                <div class=''>
                    <textarea class="form-control" ng-model='wall.quit_reply' tms-auto-update tms-wait=1000 tms-update="update('quit_reply')"></textarea>
                </div>
            </div>
            <div class='form-group'>
                <div class='help-block'>退出关键字</div>
                <div class=''>
                    <input type="text" class="form-control" ng-model='wall.quit_cmd' tms-auto-update tms-wait=1000 tms-update="update('quit_cmd')">
                </div>
            </div>
            <div class='form-group'>
                <div class='help-block'>消息处理</div>
                <div class=''>
                    <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='wall.skip_approve' ng-change="update('skip_approve')">跳过审核</label>
                    <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='wall.push_others' ng-change="update('push_others')">推送消息</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="tile">
            <div class="form-group compact">
                <div class="help-block">用户进入URL</div>
                <!--<div class='form-control' style='height:auto;word-break:break-all' ng-bind='entry.url'></div>-->
                <div class='form-control' style='height:auto;word-break:break-all' ng-model='wall.user_url' tms-auto-update tms-wait=1000 tms-update="update('user_url')"></div>
            </div>
        </div>
    </div>
</div>
