<div class='form-group text-right'>
    <div class='col-md-12'>
        <button class='btn btn-success' ng-click='start()' ng-if="wall.active==='N' && wall.scenario=='discuss'">启用</button>
        <button class='btn btn-default' ng-click='end()' ng-if="wall.active==='Y' && wall.scenario=='discuss'">停用</button>
        &emsp;
        <button class='btn btn-danger' ng-click='del()' >删除</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="tile">
            <div class="form-group">
                <div class='help-block'>名称</div>
                <input type="text" class="form-control" ng-model='wall.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
            <div class="form-group">
                <div class='help-block'>活动类型</div>
                <input type="text" class="form-control" ng-if="wall.scenario=='interact'" style="text-align:center" value="互动" readonly>
                <input type="text" class="form-control" ng-if="wall.scenario=='discuss'" style="text-align:center" value="讨论"  readonly>
            </div>
            <div class="form-group compact">
                <div class='help-block'>头图（可选）：建议尺寸：900像素 * 500像素</div>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="!wall.pic">
                        <button class='btn btn-default' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span> 选择图片
                        </button>
                    </div>
                    <div style='position:relative' ng-if="wall.pic" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src='{{wall.pic}}' width='180px' />
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group compact">
                <div class='help-block'>摘要（可选）：最多120个汉字，240个英文字符</div>
                <div class=''>
                    <textarea class='form-control' ng-model='wall.summary' tms-auto-update tms-wait=1000 tms-update="update('summary');" rows='3'></textarea>
                </div>
            </div>
            <div class='form-group compact' ng-if="!wall.mission">
                <button class='btn btn-success' ng-click="assignMission()">指定项目</button>
            </div>
            <div class='form-group compact' ng-if="wall.mission">
                <label>所属项目</label>
                <div class="input-group">
                    <input class='form-control' title="{{wall.mission.title}}" value="{{wall.mission.title}}" readonly="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="quitMission()">
                            <span class='glyphicon glyphicon-remove'></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class='form-group compact' ng-if="wall.mission.multi_phase==='Y'">
                <label>项目阶段</label>
                <select class='form-control' ng-model="wall.mission_phase_id" ng-change="choosePhase()" ng-options="phase.phase_id as phase.title for phase in wall.mission.phases">
                    <option value=''>全部</option>
                </select>
            </div>
            <div class='form-group'>
                <label>时间设置</label>
                    <div class=''>
                        <table class='table table-bordered'>
                            <tr>
                                <td>活动开始</td>
                                <td style='padding:0;width:380px;'>
                                    <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-date='wall.start_at' tms-state='start_at'></tms-datepicker>
                                </td>
                            </tr>
                            <tr>
                                <td>活动结束</td>
                                <td style='padding:0;width:380px;'>
                                    <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-date='wall.end_at' tms-state='end_at'></tms-datepicker>
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
            <div class='form-group' ng-if="wall.scenario=='discuss'">
                <div class='help-block'>加入提示</div>
                <div class=''>
                    <textarea class="form-control" ng-model='wall.join_reply' tms-auto-update tms-wait=1000 tms-update="update('join_reply')"></textarea>
                </div>
            </div>
            <div class='form-group' ng-if="wall.scenario=='discuss'">
                <div class='help-block'>退出提示</div>
                <div class=''>
                    <textarea class="form-control" ng-model='wall.quit_reply' tms-auto-update tms-wait=1000 tms-update="update('quit_reply')"></textarea>
                </div>
            </div>
            <div class='form-group' ng-if="wall.scenario=='discuss'">
                <div class='help-block'>退出关键字</div>
                <div class=''>
                    <input type="text" class="form-control" ng-model='wall.quit_cmd' tms-auto-update tms-wait=1000 tms-update="update('quit_cmd')">
                </div>
            </div>
            <div class='form-group' ng-if="wall.scenario=='discuss'">
                <div class='help-block'>消息处理</div>
                <div class=''>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='wall.skip_approve' ng-change="update('skip_approve')">跳过审核</label>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='wall.push_others' ng-change="update('push_others')">推送消息</label>
                </div>
            </div>
            <div class='form-group' ng-if="wall.scenario=='interact'">
                <label>已有图文</label>
                <button class='btn btn-default btn-sm' ng-click="addInteractMatter()">选择素材</button>
                <ul class='list-group' style='margin-bottom:0'>
                    <li class='list-group-item' ng-repeat="m in wall.interact_matter" ng-mouseenter='hover=true' ng-mouseleave='hover=false' title='{{m.type|typetitle}}'>
                        <a href='' ng-click="gotoMatter(m)">{{m.title}}</a>
                        <button class='btn btn-xs btn-default pull-right' ng-if="hover" ng-click="removeInteractMatter(m)">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class='form-group' ng-if="wall.scenario=='interact'">
                <div class='help-block'>互动方式</div>
                <div class=''>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='interactAction.shareF' ng-change="update('scenario_config')">分享-朋友</label>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='interactAction.shareT' ng-change="update('scenario_config')">分享-朋友圈</label>
                    <!-- <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='interactAction.read' ng-change="update('scenario_config')">阅读</label> -->
                </div>
                <div class='help-block'></div>
                <div class='help-block'>参加人数（最少4人，最多24人）</div>
                <div class=''>
                    <select class='form-control' ng-model="wall.scenario_config.player_sum" ng-change="update('scenario_config')">
                    <option value='4'>4</option>
                    <option value='8'>8</option>
                    <option value='12'>12</option>
                    <option value='16'>16</option>
                    <option value='20'>20</option>
                    <option value='24'>24</option>
                </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-if="wall.scenario=='discuss'">
        <div class="tile">
            <div class="form-group compact">
                <div class="help-block">用户进入URL</div>
                <div class='input-group'>
                    <input class='form-control' readonly value="{{entry.url}}">
                    <span class='input-group-btn'>
                        <button class='btn btn-default text2Clipboard' data-clipboard-text="{{entry.url}}">复制</button>
                        <a class='btn btn-default' ng-href="{{entry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </span>
                </div>
            </div>
            <div class="form-group compact">
                <span><img id='entryQrcode' ng-src="{{entry.qrcode}}"></span>
                <button class='btn btn-default' ng-click="downloadQrcode(entry.qrcode)">下载</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class='form-group'>
            <label>管理标签（可选）</label>
            <p class="form-control" ng-click="tagMatter('M')">
                <span class="tag" ng-repeat="t in wall.matter_mg_tag" ng-bind="t.title"></span>
            </p>
        </div>
    </div>
</div>