body{background:#f8f8f8;padding:71px 0;}
.navbar-nav.tms-breadcrumb>li>a{padding-left:0;padding-right:0;color:#428bca;max-width:12em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.navbar-nav.tms-breadcrumb>li:last-child>a{color:#777;}
.navbar-nav.tms-breadcrumb>li+li>a:before{content:'/\00a0';padding-left:5px;color:#ccc;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile>.form-group,.tile>.checkbox{padding:8px;background:#fff;border-radius:4px;}
.tile>.form-group.compact{margin-bottom:0;}
.tile>.form-group:last-child{margin-bottom:0;}
.tag {background: #337ab7;padding: 3px 6px;margin: 4px;border-radius: 4px;color: #fff;}

/*app-view*/
#app-view .pages .container-fluid{padding-bottom:8px;}

/*app-view/app-setting*/
#appSetting .checkbox{display:block;}
#appSetting .checkbox input{margin-right:.5em;}

/*pages*/
.page-editor{position:relative;float:left;width:550px;}
.page-editor .mce-tinymce{margin-right:44px!important}
.page-editor .mce-tinymce.mce-container.mce-panel{border:1px solid #ccc;}
.page-editor .mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
.page-editor .mce-tinymce div.mce-edit-area{border:0!important;border-top:1px solid #ccc!important;}
.page-editor .mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.page-editor .sidebar{width:44px;background:transparent;position:absolute;top:0;right:0;margin-top:35px;}
.page-editor .sidebar button{height:36px;color:black;border-radius:0;margin-left:-1px;margin-bottom:-1px}
.page-editor .sidebar button:disabled{color:gray}