<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">操作</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-3 control-label">操作</label>
            <div class="col-md-9">
                <select class='form-control' ng-model='schema.name' ng-options='k as v.l for (k,v) in buttons' ng-change="choose()"></select>
            </div>
        </div>
        <div class="form-group" ng-show="'remarkRecord'!==schema.name">
            <label class="col-md-3 control-label">显示为</label>
            <div class="col-md-9">
                <input type='text' class='form-control' ng-model='schema.label'>
            </div>
        </div>
        <div class="form-group" ng-show="['closeWindow','editRecord'].indexOf(schema.name)===-1">
            <label class="col-md-3 control-label">操作后</label>
            <div class="col-md-9">
                <select class='form-control' ng-model='schema.next' ng-options='k as v.l for (k,v) in pages'>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="['editRecord'].indexOf(schema.name)!==-1">
            <label class="col-md-3 control-label">操作后</label>
            <div class="col-md-9">
                <select class='form-control' ng-model='schema.next' ng-options='k as v.l for (k,v) in inputPages'>
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="'sendInvite'===schema.name">
            <label class="col-md-3 control-label">接受邀请页</label>
            <div class="col-md-9">
                <select class='form-control' ng-model='schema.accept' ng-options='k as v.l for (k,v) in pages'>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" style="margin-top:0">
    <button class="btn btn-success" ng-click="ok()">确定</button>
</div>