<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/tms.css" rel="stylesheet">
        <?php 
        if ($css = TPL::val('css')) {
        foreach ($css as $c) {
        call_user_func_array(array($this,'import_css'), $c);
        }
        }
        ?>
        <title>定制页面</title>
    </head>
    <body style='padding-top:71px;' ng-app='xxtApp' ng-controller='codeCtrl'>
        <notice-box err='errmsg' info='infomsg' prog='prog' delay='1000'></notice-box>
        <nav class='navbar navbar-inverse navbar-fixed-top'>
        <ul class='nav navbar-nav'>
            <?php $c = TPL::val('layout-top'); $c && TPL::output($c);?>
        </ul>
        <ul class='nav navbar-nav navbar-right' style='margin-right:0'>
            <li><a href='/page/user/settings' target='_self'>设置</a></li>
            <li><a href='/rest/user/logout' target='_self'>退出</a></li>
        </ul>
        </nav>
        <div class='container-fluid'>
            <div class='row'>
                <?php $c = TPL::val('layout-body'); $c && TPL::output($c);?>
            </div>
        </div>
        <script src="/static/js/ace/ace.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/ui-bootstrap.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/ui-tms.js"></script>
        <?php
        if ($js = TPL::val('global_js')) {
        call_user_func_array(array($this,'global_js'), $js);
        }
        ?>
        <script>
            xxtApp=angular.module('xxtApp',['ui.tms'<?php $m = TPL::val('angular-modules');if (!empty($m)) echo ','.$m;?>])
            .config(['$locationProvider','$controllerProvider',function($locationProvider,$controllerProvider) {
                $locationProvider.html5Mode(true);
                xxtApp.register = {controller: $controllerProvider.register};
            }])
            .controller('codeCtrl',['$rootScope',function($rootScope){
                $rootScope.$on('xxt.notice-box.timeout',function(event,name){
                    if (name==='info') $rootScope.infomsg = '';
                    else if (name==='err') $rootScope.errmsg = '';
                });
            }]); 
        </script>
        <?php
        if ($js = TPL::val('js')) {
        foreach ($js as $j) {
        $j[] = true;
        call_user_func_array(array($this,'import_js'), $j);
        }
        }
        ?>
    </body>
</html>