<div ng-controller='pageCtrl' ng-init="jsonPage='<?php echo urlencode(json_encode(TPL::val('page')));?>'">
    <div class='col-md-2'>
        <div class='form-group'>
            <label>说明</label>
            <textarea class='form-control' ng-model='page.summary' tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
        </div>
        <div class='form-group'>
            <label>JS文件</label>
            <ul class='list-group'>
                <li class='list-group-item' ng-repeat='j in page.ext_js' ng-mouseenter="enter=true" ng-mouseleave="enter=false">
                    <span style='word-break:break-all'>{{j.url}}</span>
                    <button class='btn btn-default btn-xs pull-right' ng-show='enter' ng-click="removeExternal(j,$index)"><span class='glyphicon glyphicon-remove'></span></button>
                </li>
                <li class='list-group-item'><button class='btn btn-default btn-block' ng-click="addExternal('J')"><span class='glyphicon glyphicon-plus'></span></li></button></li>
            </ul>
        </div>
        <div class='form-group'>
            <label>CSS文件</label>
            <ul class='list-group'>
                <li class='list-group-item' ng-repeat='c in page.ext_css' ng-mouseenter="enter=true" ng-mouseleave="enter=false">
                    <span style='word-break:break-all'>{{c.url}}</span>
                    <button class='btn btn-default btn-xs pull-right' ng-show='enter' ng-click="removeExternal(c, $index)"><span class='glyphicon glyphicon-remove'></span></button>
                </li>
                <li class='list-group-item'><button class='btn btn-default btn-block' ng-click="addExternal('C')"><span class='glyphicon glyphicon-plus'></span></li></button></li>
            </ul>
        </div>
    </div>
    <div class='col-md-10' style='height:100%'>
        <div style='position:relative;height:100%'>
            <div id='panel'>
                <div id='html' ng-class="{'max':maxed==='html'}">
                    <pre id='htmlEditor' class='editor' title='html'></pre>
                    <button class='btn btn-sm' ng-class="htmlChanged?'btn-success':'btn-default'" title='保存' ng-click="save('html')">
                        <span class='glyphicon glyphicon-save'></span>
                    </button>
                    <button class='btn btn-sm btn-default' title='缩放' ng-click="zoom('html')">
                        <span class='glyphicon' ng-class="maxed==='html' ? 'glyphicon-resize-small': 'glyphicon-resize-full'"></span>
                    </button>
                </div>
                <div id='css' ng-class="{'max':maxed==='css'}">
                    <pre id='cssEditor' class='editor' title='css'></pre>
                    <button class='btn btn-sm' ng-class="cssChanged?'btn-success':'btn-default'" title='保存' ng-click="save('css')">
                        <span class='glyphicon glyphicon-save'></span>
                    </button>
                    <button class='btn btn-sm btn-default' title='缩放' ng-click="zoom('css')">
                        <span class='glyphicon' ng-class="maxed==='css' ? 'glyphicon-resize-small': 'glyphicon-resize-full'"></span>
                    </button>
                </div>
                <div id='js' ng-class="{'max':maxed==='js'}">
                    <pre id='jsEditor' class='editor' title='javascript'></pre>
                    <button class='btn btn-sm' ng-class="jsChanged?'btn-success':'btn-default'" title='保存' ng-click="save('js')">
                        <span class='glyphicon glyphicon-save'></span>
                    </button>
                    <button class='btn btn-sm btn-default' title='缩放' ng-click="zoom('js')">
                        <span class='glyphicon' ng-class="maxed==='js' ? 'glyphicon-resize-small': 'glyphicon-resize-full'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="external.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="close()">×</button>
            <h5 class="modal-title">外部资源</h5>
        </div>
        <div class="modal-body">
            <textarea class='form-control' ng-model='external.url'></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="confirm()">确定</button>
        </div>
    </script>
</div>