<div class='people-favor' id="favor">
    <nav class="navbar site-navbar-tab navbar-default small">
        <div class="container-fluid" style='display:flex;align-items:center;'>
            <ul class="nav navbar-nav">
                <li ng-class="{'active':subView==='repos.html'}"><a href ng-click="subView='repos.html'"><i class='glyphicon glyphicon-bookmark'></i> 收藏</a></li>
                <li ng-class="{'active':subView==='tag.html'}"><a href ng-click="subView='tag.html'"><i class='glyphicon glyphicon-tag'></i> 标签</a></li>
                <li ng-class="{'active':subView==='topic.html'}"><a href ng-click="subView='topic.html'"><i class='glyphicon glyphicon-inbox'></i> 专题</a></li>
            </ul>
            <div ng-if="subView==='topic.html'" style='margin-left:16px;'>
                <button class="btn btn-default btn-sm navbar-btn" ng-click="addTopic()"><i class='glyphicon glyphicon-plus'></i>创建</button>
            </div>
            <div ng-if="subView==='tag.html'" style='margin-left:16px;'>
                <button class="btn btn-default btn-sm navbar-btn" ng-click="addTag()"><i class='glyphicon glyphicon-plus'></i>创建</button>
            </div>
        </div>
    </nav>
    <div class='view' ng-include="subView"></div>
</div>
<script type="text/ng-template" id="repos.html">
    <div ng-controller="ctrlRepos" class='records col-xs-12'>
        <div id='filterQuick' ng-cloak>
            <div class="btn-group" uib-dropdown dropdown-append-to-body='true'>
                <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                    <span ng-if="criteria.agreed==='all'">表态</span>
                    <span ng-if="criteria.agreed==='Y'">推荐</span>
                    <span ng-if="criteria.agreed==='D'">讨论</span>
                    <span ng-if="criteria.agreed==='N'">关闭</span>
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a href ng-click="shiftAgreed('all')">全部</a></li>
                    <li><a href ng-click="shiftAgreed('Y')">推荐</a></li>
                    <li><a href ng-click="shiftAgreed('D')">讨论</a></li>
                    <li><a href ng-click="shiftAgreed('N')">关闭</a></li>
                </ul>
            </div>
        </div>
        <!-- end: filterQuick -->
        <div id='repos'>
            <div class='records'>
                <div class='record' ng-repeat="rec in repos" ng-cloak>
                    <div class='top-bar'>
                        <div class='seq label label-default'>{{$index+1}}</div>
                        <div class='nickname text-muted'>{{rec.nickname||'隐藏'}}</div>
                        <button ng-if="rec.favored" class="btn btn-default btn-xs" ng-click="favorRecord(rec)">取消收藏</button>
                        <div ng-if="!rec._canAgree&&rec.agreed&&rec.agreed!=='A'">
                            <button ng-if="rec.agreed==='D'&&(rec.userid===user.uid||user.is_leader==='S'||user.is_editor==='Y'||(user.is_leader==='Y'&&(rec.userid===groupUser.userid||groupOthers[rec.userid])))" class="btn btn-danger btn-xs">讨论</button>
                            <button ng-if="rec.agreed==='Y'" class="btn btn-success btn-xs">推荐</button>
                            <button ng-if="rec.agreed==='N'" class="btn btn-danger btn-xs">关闭</button>
                        </div>
                        <div ng-if="rec._canAgree">
                            <div class="btn-group btn-group-xs" uib-dropdown>
                                <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                    <span ng-if="rec.agreed===''">未表态</span>
                                    <span ng-if="rec.agreed==='D'">讨论</span>
                                    <span ng-if="rec.agreed==='A'">接受</span>
                                    <span ng-if="rec.agreed==='Y'">推荐</span>
                                    <span ng-if="rec.agreed==='N'">关闭</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href ng-click="setAgreed(rec,'')">不表态</a></li>
                                    <li><a href ng-click="setAgreed(rec,'D')">讨论</a></li>
                                    <li><a href ng-click="setAgreed(rec,'A')">接受</a></li>
                                    <li><a href ng-click="setAgreed(rec,'Y')">推荐</a></li>
                                    <li><a href ng-click="setAgreed(rec,'N')">关闭</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='data'>
                        <blockquote>
                            <div tms-repos-record-data schemas="schemas" record="rec"></div>
                        </blockquote>
                    </div>
                    <div class='bottom-bar small text-muted'>
                        <div ng-bind="rec.enroll_at*1000|date:'MM-dd HH:mm'"></div>
                        <a href ng-click="likeRecord(rec)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':rec.like_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.like_num"></span></a>
                        <a href ng-click="dislikeRecord(rec)"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':rec.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.dislike_num"></span></a>
                        <a href ng-click="remarkRecord(rec)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="rec.remark_num"></span></a>
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-top" uib-dropdown-menu>
                                <li><a href ng-click="shareRecord(rec)"><span class='glyphicon glyphicon-share'></span> 分享</a></li>
                                <li><a href ng-click="assignTopic(rec)"><span class='glyphicon glyphicon-inbox'></span> 专题</a></li>
                                <li><a href ng-click="assignTag(rec)"><span class='glyphicon glyphicon-tag'></span> 标签</a></li>
                                <li ng-if="rec.userid===user.uid"><a href ng-click="editRecord($event,rec)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class='tags' ng-if="rec.userTags">
                        <button class='btn btn-default btn-xs' ng-repeat="tag in rec.userTags" ng-bind="tag.label" ng-click="shiftTag(tag,true)"></button>
                    </div>
                    <div class='remarks' ng-if="rec.agreedRemarks.length">
                        <div class='remark' ng-repeat="remark in rec.agreedRemarks">
                            <div class='top-bar text-muted'>
                                <div ng-bind="remark.create_at*1000|date:'MM-dd HH:mm'"></div>
                                <div ng-bind-html="remark.nickname"></div>
                            </div>
                            <blockquote>
                                <div ng-bind-html="remark.content"></div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class='record' ng-show="page.total>repos.length" ng-cloak>
                    <div class='text-center' tms-scroll-spy selector='window' onbottom='recordsScrollToBottom()' offset='70' toggle-spy="spyRecordsScroll">
                        <button style='border-radius:15px;' class='btn btn-default' ng-click="recordList()"><span ng-class="{'ele-running':reposLoading}"><i class='ele-running-indicator'><i></i></i></span> 更多【{{repos.length}}/{{page.total}}】 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="tag.html">
    <div ng-controller='ctrlTag' class='tags col-xs-12'>
        <div ng-if="tags.length===0">
            <div class='alert alert-info'>用【标签】对收藏的记录进行分类，便于查找和分享，<a href class="alert-link" ng-click="addTag()"> 创建标签</a></div>
        </div>
        <div class='tag-editor' ng-if="newTag">
            <input type='text' ng-model="newTag.label">
            <button class='btn btn-default' ng-click="submitNewTag()">确定</button>
            <button class='btn btn-default' ng-click="cancelNewTag()">取消</button>
        </div>
        <div class='list-group'>
            <div class='list-group-item' ng-repeat="tag in tags">
                <div ng-class="{'form-group':canSetPublic}">
                    <div ng-bind="tag.label"></div>
                </div>
                <div class='checkbox' ng-if="canSetPublic">
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="tag.public" ng-change="update(tag,'public')">对所有人可见</label>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="topic.html">
    <div ng-controller='ctrlTopic' class='topics col-xs-12'>
        <div ng-if="topics.length===0">
            <div class='alert alert-info'>用【专题】对收藏的记录进行分类，便于查找和分享，<a href class="alert-link" ng-click="addTopic()"> 创建专题</a></div>
        </div>
        <div ng-if="topics.length">
            <div class='panel' ng-repeat="topic in topics">
                <div class='panel-body'>
                    <div class='tms-flex-row small text-muted'>
                        <div class='tms-flex-grow' ng-bind-html="topic.nickname"></div>
                        <div ng-bind="topic.create_at*1000|date:'MM-dd HH:mm'"></div>
                    </div>
                    <hr>
                    <div class='form-group'>
                        <div ng-bind="topic.title"></div>
                    </div>
                    <div class='form-group' ng-if="topic.summary">
                        <div class='text-muted small' ng-bind="topic.summary"></div>
                    </div>
                    <div class='bottom-bar small text-muted'>
                        <div><span ng-if="topic.share_in_group==='Y'"><i class='glyphicon glyphicon-check'></i> 组内共享</span></div>
                        <button class='btn btn-default btn-xs' ng-click="copyTopic(topic)"><i class='glyphicon glyphicon-copy'></i></button>
                        <button class='btn btn-default btn-xs' ng-click="removeTopic(topic)"><i class='glyphicon glyphicon-remove'></i></button>
                        <button class='btn btn-default btn-xs' ng-click="editTopic(topic)"><i class='glyphicon glyphicon-edit'></i> <span ng-bind="topic.rec_num"></span></button>
                        <button class='btn btn-default btn-xs' ng-click="gotoTopic(topic)"><i class='glyphicon glyphicon-eye-open'></i></button>
                        <button class='btn btn-default btn-xs' ng-click="shareTopic(topic)"><i class='glyphicon glyphicon-share-alt'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editTopic.html">
    <div class="modal-body">
        <div class='form-group'>
            <label>标题</label>
            <input type='text' class='form-control' ng-model="topic.title" ng-change="update('title')">
        </div>
        <div class='form-group'>
            <label>描述</label>
            <textarea class='form-control' ng-model="topic.summary" ng-change="update('summary')"></textarea>
        </div>            <div class='checkbox' ng-if="topic.group_id">
            <label>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="topic.share_in_group" ng-change="update('share_in_group')"> 组内共享</label>
        </div>
        <div class='checkbox'>
            <label>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="topic.is_public" ng-change="update('is_public')"> 公共专题（显示在共享页，所有用户可见）</label>
        </div>
        <hr>
        <div class='records'>
            <div class='record' ng-repeat="rec in repos" ng-cloak>
                <div class='top-bar'>
                    <div class='seq label label-default' ng-bind="$index+1"></div>
                    <div class='nickname text-muted' ng-bind="rec.nickname||'隐藏'"></div>
                    <div>
                        <button ng-if="rec.agreed==='D'&&(rec.userid===user.uid||user.is_leader==='S'||user.is_editor==='Y'||(user.is_leader==='Y'&&(rec.userid===groupUser.userid||groupOthers[rec.userid])))" class="btn btn-danger btn-xs">讨论</button>
                        <button ng-if="rec.agreed==='Y'" class="btn btn-success btn-xs">推荐</button>
                        <button ng-if="rec.agreed==='N'" class="btn btn-danger btn-xs">关闭</button>
                    </div>
                    <div class="btn-group" uib-dropdown>
                        <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li><a href ng-click="quitRec(rec,$index)"><span class='glyphicon glyphicon-inbox'></span> 移出</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="moveRec(rec,-1*$index,$index)"><span class='glyphicon glyphicon-arrow-up'></span> 到顶</a></li>
                            <li><a href ng-click="moveRec(rec,repos.length-1-$index,$index)"><span class='glyphicon glyphicon-arrow-down'></span> 到底</a></li>
                        </ul>
                    </div>
                </div>
                <div class='data'>
                    <blockquote>
                        <div class='schema' ng-class="{'cowork':schema.cowork==='Y'}" ng-if="rec.data[schema.id]||schema.cowork==='Y'" ng-repeat="schema in schemas" ng-switch on="schema.type">
                            <div class='text-muted data-title'>{{schema.title}}</div>
                            <div ng-switch-when="file">
                                <div ng-repeat="file in rec.data[schema.id]">
                                    <video ng-if="file.type.indexOf('video')===0" controls="controls" preload="none">
                                        <source src="{{file.url}}" type="{{file.type}}" />
                                    </video>
                                    <audio ng-if="file.type.indexOf('audio')===0" controls="controls" preload="none">
                                        <source src="{{file.url}}" type="{{file.type}}" />
                                    </audio>
                                    <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' style="width:40%" />
                                </div>
                            </div>
                            <div ng-switch-when="voice">
                                <div ng-repeat="voice in rec.data[schema.id]">
                                    <audio controls="controls" preload="none">
                                        <source src="{{voice.url}}" type="{{voice.type}}" />
                                    </audio>
                                </div>
                            </div>
                            <div ng-switch-when="image">
                                <ul class='list-unstyled'>
                                    <li ng-repeat="img in rec.data[schema.id].split(',')"><img ng-src="{{img}}" /></li>
                                </ul>
                            </div>
                            <div ng-switch-when="score">
                                <div ng-repeat="item in rec.data[schema.id]">
                                    <span ng-bind="item.title"></span>:<span ng-bind="item.score"></span>;
                                </div>
                            </div>
                            <div ng-switch-when="multitext">
                                <ul ng-if="rec.data[schema.id]" style='padding-left:20px'>
                                    <li ng-repeat="item in rec.data[schema.id]"><span dynamic-html="item.value"></span></li>
                                </ul>
                            </div>
                            <div ng-switch-when="single"><span ng-bind="rec.data[schema.id]"></span></div>
                            <div ng-switch-when="multiple">
                                <span ng-repeat="item in rec.data[schema.id]">
                                    <span ng-bind="item"></span><span ng-hide="$index==rec.data[schema.id].length-1">,</span>
                                </span>
                            </div>
                            
                            <div ng-switch-when="longtext">
                                <span ng-bind-html="rec.data[schema.id]"></span>
                            </div>
                            <div ng-switch-when="url">
                                <span ng-bind-html="rec.data[schema.id]._text"></span>
                            </div>
                            <div ng-switch-default>
                                <span>{{rec.data[schema.id]}}</span>
                            </div>
                            <div ng-if="schema.supplement==='Y'&&rec.supplement[schema.id]" class='supplement' ng-bind-html="rec.supplement[schema.id]"></div>
                        </div>
                    </blockquote>
                </div>
                <div class='bottom-bar small text-muted'>
                    <div ng-bind="rec.enroll_at*1000|date:'MM-dd HH:mm'"></div>
                    <button ng-if="$index" class='btn btn-default btn-xs' ng-click="moveRec(rec,-1,$index)"><i class='glyphicon glyphicon-chevron-up'></i></button>
                    <button ng-if="$index<repos.length-1" class='btn btn-default btn-xs' ng-click="moveRec(rec,1,$index)"><i class='glyphicon glyphicon-chevron-down'></i></button>
                    <div><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':rec.like_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.like_num"></span></div>
                    <div><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':rec.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.dislike_num"></span></div>
                    <div><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="rec.remark_num"></span></div>
                </div>
            </div>
            <div class='record' ng-show="page.total>repos.length" ng-cloak>
                <div class='text-center' tms-scroll-spy selector='window' onbottom='recordsScrollToBottom()' offset='70' toggle-spy="spyRecordsScroll">
                    <button style='border-radius:15px;' class='btn btn-default' ng-click="recordList()"><span ng-class="{'ele-running':reposLoading}"><i class='ele-running-indicator'><i></i></i></span> 更多【{{repos.length}}/{{page.total}}】 </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class='text-center'>
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </div>
</script>