<div class='col-md-5'>
    <div class='list-group'>
        <a href='' class='list-group-item' ng-class="{'active':'site.matter.push'===editing.event_name}" ng-click="choose('site.matter.push')">推送素材</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.enroll.submit'===editing.event_name}" ng-click="choose('site.enroll.submit')">登记活动——提交记录</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.enroll.remark'===editing.event_name}" ng-click="choose('site.enroll.remark')">登记活动——记录被评论</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.enroll.submit.recommend'===editing.event_name}" ng-click="choose('site.enroll.submit.recommend')">登记活动——推荐提交记录</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.enroll.remark.recommend'===editing.event_name}" ng-click="choose('site.enroll.remark.recommend')">登记活动——推荐评论内容</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.enroll.submit.mask'===editing.event_name}" ng-click="choose('site.enroll.submit.mask')">登记活动——提交内容屏蔽</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.enroll.remark.mask'===editing.event_name}" ng-click="choose('site.enroll.remark.mask')">登记活动——评论内容屏蔽</a>
        <a href='' class='list-group-item' ng-class="{'active':'timer.enroll.report'===editing.event_name}" ng-click="choose('timer.enroll.report')">登记活动——定时发送活动报告</a>
        <a href='' class='list-group-item' ng-class="{'active':'site.signin.submit'===editing.event_name}" ng-click="choose('site.signin.submit')">签到活动——提交</a>
    </div>
</div>
<div class='col-md-7'>
    <div class='alert alert-info' ng-if="!editing">请选择需要发送通知的事件</div>
    <div ng-show="editing">
        <div class='form-group'>
            <button class='btn btn-default' ng-click="chooseTmplmsg()">选择模板消息</button>
        </div>
        <div ng-show="config">
            <div class='form-group'>
                <label>模板名称</label>
                <p class='form-control-static' ng-bind="config.tmplmsg.title"></p>
            </div>
            <div class='form-group'>
                <label>模板示例</label>
                <p class='form-control-static' ng-bind="config.tmplmsg.example"></p>
            </div>
            <div class='mappings'>
                <table class='table table-bordered'>
                    <tbody>
                        <tr class='mapping' ng-repeat="p in config.tmplmsg.params">
                            <td>
                                <p class='form-control-static' ng-bind="p.plabel"></p>
                            </td>
                            <td>
                                <input type='text' class='form-control' ng-model="config.mapping[p.pname].name">
                            </td>
                            <td>
                                <button class="btn btn-default" ng-click="selectProperty(p)">属性</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='form-group'>
                <button class='btn btn-success' ng-click="save()">保存</button>
                <button class='btn btn-danger' ng-click="clean()">清除</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tmplmsgSelector.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()">×</button>
        <h5 class="modal-title">选择模板</h5>
    </div>
    <div class="modal-body">
        <div class='form-group'>
            <label>团队模板</label>
            <select class='form-control' ng-model="data.selected" ng-options='t.title for t in tmplmsgs'>
                <option></option>
            </select>
        </div>
        <div class='form-group'>
            <label>系统模板</label>
            <select class='form-control' ng-model="data.selected" ng-options='t.title for t in plTmplmsgs'>
                <option></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="propertySelector.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="close()">×</button>
        <h5 class="modal-title">选择属性</h5>
    </div>
    <div class="modal-body">
        <div class='form-group'>
            <label>属性来源</label>
            <select class='form-control' ng-model="data.srcProp" ng-change='changeSrcProp()'>
                <option value='matter'>素材属性</option>
                <option value='text'>自定义文本</option>
            </select>
        </div>
        <div class='form-group' ng-show="data.srcProp==='matter'">
            <label>素材属性</label>
            <select class='form-control' ng-model="data.selected" ng-options="p.name for p in matterProps">
                <option></option>
            </select>
        </div>
        <div class='form-group' ng-show="data.srcProp==='text'">
            <label>自定义文本</label>
            <textarea class='form-control' rows=5 ng-model="data.selected.name"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
    </div>
</script>