<table class='table table-bordered' style='margin:0'>
	<tr>
		<td>站点主页</td>
		<td>站点主页</td>
		<td>
			<a href='' ng-click="editPage($event,'home')">编辑页面</a>
			<a href='' ng-click="resetPage($event,'home')" ng-show="site.home_page_name.length'">重置页面</a>
		</td>
	</tr>
	<tr>
		<td>通用页眉</td>
		<td>通用页眉</td>
		<td>
			<a href='' ng-click="editPage($event,'header')">编辑页面</a>
			<a href='' ng-click="resetPage($event,'header')" ng-show="site.header_page_name.length'">重置页面</a>
		</td>
	</tr>
	<tr>
		<td>通用页脚</td>
		<td>通用页脚</td>
		<td>
			<a href='' ng-click="editPage($event,'footer')">编辑页面</a>
			<a href='' ng-click="resetPage($event,'footer')" ng-show="site.footer_page_name.length'">重置页面</a>
		</td>
	</tr>
	<tr>
		<td>提示在PC端完成</td>
		<td>某些与用户互动的页面适合在PC端展现，可以在此处设置提示的内容。</td>
		<td>
			<a href='' ng-click="editPage($event,'shift2pc')">编辑页面</a>
			<a href='' ng-click="resetPage($event,'shift2pc')" ng-show="site.shift2pc_page_name.length'">重置页面</a>
		</td>
	</tr>
</table>