@import "../../../../../../static/less/site.fe.base.less";

/*dialog*/
.dialog.mask {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	z-index: 1060
}

.dialog.dlg {
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 15px
}

.dialog .dlg-header {
	padding: 15px 15px 0 15px
}

.dialog .dlg-body {
	padding: 15px 15px 0 15px
}

.dialog .dlg-footer {
	text-align: right;
	padding: 15px
}

.dialog .dlg-footer button {
	border-radius: 0
}

/*filter*/
div[wrap=filter] .detail {
	background: #ccc
}

div[wrap=filter] .detail .options .label {
	display: inline-block;
	margin: .5em;
	padding-top: .3em;
	font-size: 100%
}

div[wrap=filter] .detail .actions .btn {
	border-radius: 0
}

/*nav*/
.tms-act-toggle {
	position: fixed;
	right: 15px;
	bottom: 8px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	box-shadow: 0px 2px 6px rgba(18, 27, 32, 0.425);
	color: #fff;
	background: @brand-primary;
	border: 1px solid @brand-primary-border;
	border-radius: 24px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	z-index: 1050;
}

.tms-nav-target>*+* {
	margin-top: .5em;
}

.tms-act-popover-wrap {
	&>div+div {
		margin-top: 8px;
	}

}

#frmPlugin {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	z-index: 1060;
	box-sizing: border-box;
	padding-bottom: 48px;
	background: #fff;
}

#frmPlugin iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

#frmPlugin:after {
	content: '关闭';
	position: absolute;
	width: 100px;
	text-align: center;
	left: 50%;
	margin-left: -50px;
	bottom: 4px;
	padding: 5px 6px 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/*input list view*/
div[wrap]>.description {
	word-wrap: break-word;
}
