@import "../../../../../../static/less/site.fe.base.less";

body {
    margin-bottom: 64px;
}

img {
    max-width: 100%;
}

hr {
    margin: 12px 0 12px;
}

p {
    word-break: break-all;
}

blockquote {
    font-size: 16px;
    margin-bottom: 8px;
}

button.option {
    padding: 0;
}

.navbar-header {
    .page-title {
        display: inline-block;

        .notice-count {
            display: inline-block;
            background: red;
            color: white;
            line-height: 14px;
            min-width: 14px;
            border-radius: 7px;
            font-size: 8px;
            vertical-align: middle;
            margin-left: 4px;
        }

        .caret {
            margin-left: 4px;
        }
    }
}

.tms-nav-target {
    .btn {
        .notice-count {
            background: red;
            color: white;
            line-height: 14px;
            min-width: 14px;
            border-radius: 7px;
            font-size: 8px;
            vertical-align: middle;
            margin-left: 4px;
        }
    }
}

#advCriteria {
    width: 200px;
    height: 100%;
    padding: 0;
    cursor: pointer;
    z-index: 3;

    .category-body {
        width: 100%;
        height: 45vh;
        color: #000;
        background-color: #fff;
        position: relative;

        & * {
            box-sizing: content-box;
        }
        .category-item {
            height: 100%;
            overflow: hidden;

            .item-inner {
                margin-right: -25px;
                padding-right: 20px;
                overflow-y: scroll;
                height: 100%;
            }

            .dir {
                height: 26px;
                line-height: 26px;
                font-size: 16px;
                padding: 6px 10px;

                .icon-indicator {
                    float: right;
                    margin-top: 3px;
                }
            }

            .dir.active {
                color: red;
            }

            .childrenDir {
                position: absolute;
                top: -1px;
                left: 100%;
                width: 200px;
                height: 100%;
                display: none;
                background-color: #fff;
            }

            .childrenDir.block {
                display: block;
                border: 1px solid lightgray;
            }
        }
    }

    .panel-body {
        padding: 0px;
    }
    .panel-group {
        margin-bottom: 8px;
    }
}

#filterCriteria {
    position: relative;

    .history-panel {
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        position: absolute;
        z-index: 3;

        .history-item {
            color: #000;
            font: 14px arial;
            line-height: 22px;
            padding: 5px 12px;
            cursor: default;
            box-sizing: content-box;
        }

        .history-item:hover {
            background-color: #f0f0f0;
        }
    }
}

#filterQuick {
    margin: 4px 8px;
    padding: 4px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    &>* {
        display: inline-block;
    }
}

#filterTip {
    margin: 4px 8px;
    padding: 4px 0;

    &>* {
        display: inline-block;
        padding: 4px 8px;

        .close {
            margin-left: 4px;
        }
    }

    &>*+* {
        margin-left: 4px;
    }
}

.record {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;

    &>* {
        margin: 8px 0;
    }

    .data {
        blockquote {
            .schema+.schema {
                margin-top: 8px;
                padding-top: 8px;
                border-top: 1px dashed #ddd;
            }

            .schema>div+div {
                margin-top: 4px;
            }
        }

        .datetime {
            font-size: .8em;
        }
    }

    .tags {
        &>button+button {
            margin-left: 4px;
        }
    }

    .remarks {
        font-size: .9em;
        border-top: 1px dashed #ddd;
        margin-top: 16px;
        padding: 1rem 0 0 2rem;
        position: relative;

        &:before {
            position: absolute;
            left: 50%;
            margin-left: -2em;
            top: -0.7em;
            color: #999;
        }

        .remark {
            .top-bar {
                display: flex;
            }

            .top-bar>:first-child {
                flex: 1;
            }
        }

        .remark+.remark {
            margin-bottom: 1em;
        }

        &.agreed:before {
            content: '推荐留言';
        }

        &.round:before {
            content: '轮次留言';
        }
    }
}

.top-bar {
    display: flex;

    .seq {
        margin-right: 8px;
    }

    .label {
        padding-top: .3em
    }

    .nickname {
        flex-grow: 1;
        text-align: left;
        font-size: .9em;
    }

    &>*+* {
        padding-left: 8px;
    }
}

.data-title:before {
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-left: 6px solid @brand-primary;
}

.bottom-bar {
    display: flex;
    align-items: center;
    font-size: .9em;
    color: #777;

    &>*+* {
        margin-left: 16px;

        .like {
            color: @brand-primary;
        }
    }

    &>:first-child {
        flex: 1;
    }

    a {
        text-decoration: none;
        color: #777;
    }

    .btn-default {
        color: #777;
    }

    .dropdown {
        button {
            border: 0;
        }
    }
}

.tag {
    background: #3af;
    padding: 4px 6px;
    margin: 4px;
    border-radius: 2px;
    font-size: .8em;
    color: #fff;
}

#favorGuide {
    position: fixed;
    align-items: center;
    z-index: 1051;
    width: 100%;
    bottom: 0;
    display: flex;
    border: 1px solid #bce8f1;
    background: #d9edf7;
    padding: 8px 16px;
    color: #31708f;

    &>:first-child {
        flex-grow: 1;
    }

    &>:last-child {
        margin-left: 4px;
    }
}

.navbar.site-navbar-tab {
    min-height: unset;
    border-bottom: 0;

    .navbar-nav {
        float: left;
        margin: 0;

        &>li {
            float: left;
        }
    }

    .navbar-btn {
        margin: 0;
    }
}

#record,
#cowork,
#remarks {
    padding: 16px;
    background: #fff;
}

#record {
    .title {
        margin: 0 -1rem .5rem -1rem;
        background: #ddd;
        padding: .5rem 1rem;
        border-bottom: 1px solid #ccc;

        .dropdown-menu {
            right: 0;
            left: auto;
            min-width: auto;
        }
    }

    .data blockquote>div+div {
        margin-top: 8px;
    }

    .tags,
    .assocs {
        margin-top: 8px;
    }

    .tags {
        &>button+button {
            margin-left: 4px;
        }
    }

    .assocs>div {
        padding: 4px 0;

        .assoc-reason {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 8px;
            padding: 0 4px;
        }

        .assoc-text {
            cursor: pointer;
        }
    }
}

#cowork {
    position: relative;
    margin-top: 1rem;
}

#cowork {
    .item {
        position: relative;
        transition: background 1s;
    }

    .blink {
        background: #d9edf7;
    }
}

#remarks {
    position: relative;
    margin-top: 3rem;
}

#remarks {
    &:before {
        content: '留言';
        position: absolute;
        left: 50%;
        margin-left: -1em;
        top: -2em;
        font-size: .7em;
        color: #eee;
        padding: .2em 1em;
        background: #666;
        border-radius: 1em;
    }

    .remarkList {
        background: #fff;
        min-height: 167px;
        margin-bottom: 30px;
    }

    .remark {
        position: relative;
        background: #fff;
        border-bottom: 1px solid #ddd;
        transition: background 1s;
        padding: 8px 0;

        &:last-child {
            border-bottom: 0;
        }

        &>* {
            margin: 1em 0 .2em;
        }
    }

    .blink {
        background: #d9edf7;
    }

    .form-control {
        border-radius: 0;
    }
}

.modal-edit-topic {
    .record {
        padding-left: 0;
        padding-right: 0;
    }
}

.tms-editor {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;

    &>*:first-child {
        position: relative;
        flex-grow: 1;
        margin-bottom: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow-y: auto;

        iframe {
            display: block;
            width: 100%;
            border: 0;
        }
    }
}

@media screen and (max-width:768px) {
    .site-navbar-default {
        margin-bottom: 0;
    }

    #advCriteria {
        position: absolute;
        top: 34px;
        right: 0;
        margin-top: 1px;
        width: 300px;
        height: auto;
        background: #fff;
        padding: 0 0 8px;
        border: 1px solid #ccc;
        border-top: 0;
        z-index: 1000;

        .panel-group {
            .panel {
                margin: 0 -1px;
                border-radius: 0;
            }
        }
    }

    .app {
        .records.col-xs-12,
        .tags.col-xs-12,
        .topics.col-xs-12 {
            padding: 0;
        }
    }

    #filterCriteria {
        margin-left: -1px;
        margin-right: -1px;

        .form-control,
        .input-group-btn .btn {
            border-radius: 0;
        }
    }
}