html,
body {
    background-color: #f6f6f6;
}

body {
    position: relative;
    font-size: 14px;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul>li {
    text-align: center;
    line-height: 1.8;
    position: relative;
    overflow: hidden;
}

a {
    color: #666;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

.site-navbar-default {
    background-color: #3594fa;
    border-color: #3594fa;
}

.site-navbar-alpha {
    background-color: #fff;
    border-color: #fff;
}

.site-navbar-alpha .navbar-brand {
    height: 78px;
    padding: 25px;
}
.site-navbar-alpha .nav>li>a:focus, .site-navbar-alpha .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}

.main.site-navbar-alpha {
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}

.main.site-navbar-alpha .navbar-nav>li>a{
    padding-top: 25px;
    padding-bottom: 25px;
}

.second.site-navbar-alpha .navbar-nav>li>a {
    margin-right: 40px;

}

.second.site-navbar-alpha .navbar-nav>li.active>a {
    color: #3594fa;
    border-bottom: 2px solid #3594fa;
}


.app {
    margin-bottom: 64px;
    color: #333;
}

.filter {
    padding: 40px 60px 0;
    background-color: #fff;
}

.filter>.col-xs-4 .form-control {
    font-size: 14px;
}

.filter>.col-xs-4 .form-control:focus {
    box-shadow: none;
}

.result {
    background-color: #fff;
    padding: 20px 60px;
}

.result>div>ul>li:nth-child(1) {
    color: #999;
    font-size: 12px;
}

.result>div>ul>li.record {
    height: 80px;
    line-height: 80px;
    cursor: pointer;
}

.user-info {
    color: #666;
    font-size: 12px;
    text-align: left;
}

.data-headimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-headimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -15px;
}

.r-box {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #F51A1A;
    position: absolute;
    top: 0;
    left: 0;
}

.r-box:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 20px solid #fff;
    border-right: 20px solid transparent;
}

.r-box:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 40px solid #fff;
    border-left: 40px solid transparent;
}

.r-text {
    position: absolute;
    top: 6px;
    left: 2px;
    font-size: 12px;
    color: #fff;
    transform: rotate(-45deg);
}

.f-box {
    width: 100%;
}

.s-box {
    padding-top: 56.25%;
    position: relative;
}

.c-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mask {
    width: 100%;
    height: 15%;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2f2933;
    opacity: 0.6;
}

.tip {
    position: absolute;
    bottom: 1px;
    right: 5px;
    color: #fff;
    font-size: 14px;
}

.tip>.glyphicon {
    top: 1px;
    margin-right: 5px;
}

.text-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width:768px) {
    .site-navbar-default {
        margin-bottom: 0;
    }

    .filter {
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0;
    }

    .filter>div+div .form-control {
        border-left: 0;
    }

    .filter .form-control {
        border-radius: 0;
    }

    .filter>.col-xs-4,
    .filter>.col-xs-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .filter>.col-xs-4 .form-control {
        padding-right: 0;
        padding-left: 10px;
        border: none;
        border-radius: 0;
        font-size: 14px;
    }

    .result {
        background-color: #f5f5f5;
        padding: 0;
        font-size: 13px;
    }

    .result>div>ul>li.record {
        height: 60px;
        line-height: 60px;
        margin-bottom: 5px;
        background-color: #fff;
        border-bottom: none;
    }

    .user-headimg {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: -10px;
    }

    .col-xs-12 {
        margin-top: 10px;
    }

    .hidden {
        display: none !important;
    }
}



/* 小图标以及各颜色值 */

.custom {
    position: absolute;
}

.custom-entry {
    right: 0;
}

.custom-md-like {
    top: 5px;
    left: 85px;
}

.index-num {
    display: inline-block;
    width: 22px;
    height: 22px;
    color: #333;
}

.index-num.num-top {
    color: red;
}

.index-user-img {
    display: inline-block;
    width: 15px;
    height: 22px;
    margin-top: 3px;
    margin-bottom: -3px;
    background: url('/static/img/site_fe_enroll.png') no-repeat;
}

.first-user-img {
    background-position: 0 -25px;
}

.second-user-img {
    background-position: -1px -89px;
}

.third-user-img {
    background-position: -1px -162px;
}

.text-color {
    color: #999999;
    font-size: 12px;
}

.like-color {
    width: 16px;
    height: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 1.4;
    background-color: #F51A1A;
}

.odd-color {
    background-color: #ebebeb;
}