a {
    color: #666;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

.site-navbar-default {
    background-color: #3594fa;
    border-color: #3594fa;
}

.site-navbar-alpha {
    background-color: #fff;
    border-color: #fff;
}

.site-navbar-alpha .navbar-brand {
    height: 78px;
    padding: 25px;
}
.site-navbar-alpha .nav>li>a:focus, .site-navbar-alpha .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}

.main.site-navbar-alpha {
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}

.main.site-navbar-alpha .navbar-nav>li>a{
    padding-top: 25px;
    padding-bottom: 25px;
}

.second.site-navbar-alpha .navbar-nav>li>a {
    margin-right: 40px;

}

.second.site-navbar-alpha .navbar-nav>li.active>a {
    color: #3594fa;
    border-bottom: 2px solid #3594fa;
}
img{max-width:100%}

/* default form style*/
div[wrap].wrap-splitline{padding-bottom:0.5em;border-bottom:1px dotted #ccc;}
div[wrap].wrap-inline>*{display:inline-block;vertical-align:top;margin:0 1em 0 0;}
div[wrap].wrap-inline>label{width:6em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div[wrap][schema-type=image] ul{list-style:none;padding:0;margin:0;max-width:50%;}
div[wrap][schema-type=multitext] ul,div[wrap][schema-type=file] ul{padding-left:20px;}
div[schema-type=image]>ul>li>img{width:100%;}
div[wrap=matter]>span{cursor:pointer;text-decoration:underline;}
div[wrap] .supplement{font-style:italic;margin-top:1em;}

/*list*/
li .wrap-inline>label{padding:7px 0;color:#444;}
li .wrap-inline{border-bottom:1px dashed #efefef;}
li .wrap-inline:last-child{border-bottom:0;}
.tag{background:#3af;padding:4px 6px;margin:4px;border-radius:2px;font-size:.8em;color:#fff;}
