<div ng-controller='RemarkCtrl'>
    <div class='form-group form-inline clearfix'>
        <pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle' total-items="page.total" max-size="7" items-per-page="page.size" boundary-links="true" rotate="false" ng-model="page.current" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
    </div>
    <div class='remarks list-group'>
        <li class='list-group-item' ng-repeat='r in remarks'>
        <div class='remark'>{{r.remark}}</div>
        <div class='clearfix'>
            <div class='nickname'><span>发布者：</span>{{nickname(r)}}</div>
            <div class='datetime'>{{r.create_at*1000|date:'yyyy-MM-dd HH:mm'}}</div>
        </div>
        </li>
    </div>
</div>
