<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tms.css?_=1" rel="stylesheet">
    <link href="/views/default/pl/fe/console/frame.css?_=2" rel="stylesheet">
    <title>
        <?php echo APP_TITLE;?>
    </title>
</head>

<body class="wrapper" ng-controller='ctrlFrame'>
    <nav class='navbar navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a class='navbar-brand' href='/rest/home' target='_self'>
                    <?php echo APP_TITLE;?>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target='#navbar-collapse-1'>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <form class='navbar-form navbar-left'>
                <select class='form-control' title='团队列表' ng-model="criteria.sid">
                    <option value=''>全部团队</option>
                    <option value="{{site.id}}" ng-repeat="site in sites">{{site.name}}</option>
                </select>
            </form>
            <ul class='nav navbar-nav'>
                <li ng-class="{'active':subView==='main'}">
                    <a href='/rest/pl/fe' ng-if="criteria.sid==''">我的工作台</a>
                    <a href='/rest/pl/fe?site={{criteria.sid}}' ng-if="criteria.sid!=''">我的工作台</a>
                </li>
                <li ng-class="{'active':subView==='friend'}"><a href='/rest/pl/fe/friend'>团队关注</a></li>
            </ul>
            <div class='collapse navbar-collapse' id='navbar-collapse-1'>
                <form class='navbar-form navbar-right ng-cloak' ng-cloak>
                    <button class="btn btn-default" ng-if="notice.page.total>0" uib-popover-template="'userNotice.html'" popover-title="未读消息" popover-placement="bottom" popover-append-to-body='true' popover-trigger="outsideClick" popover-class='user-notice'>
                        <span class='glyphicon glyphicon-bell'> </span>&nbsp;&nbsp;<span class="badge">{{notice.page.total}}</span>
                    </button>
                    <div class="btn-group">
                        <a href='' target='_self' class="btn btn-default"><i class='glyphicon glyphicon-user'></i> {{loginUser.nickname}}</a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href='/rest/pl/fe/user/settings' target='_self'>用户设置</a></li>
                            <li class="divider"></li>
                            <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class='ng-cloak container' ng-cloak ng-view></div>
    <script type="text/ng-template" id="userNotice.html">
        <div id="userNotice">
            <div class='list-group'>
                <div class='list-group-item log' ng-repeat="log in notice.logs" ng-mouseenter="entered=true" ng-mouseleave="entered=false">
                    <div>{{log._message}}</div>
                    <div ng-if="!entered">{{log.batch.create_at*1000|date:'M月d日'}}</div>
                    <div ng-if="entered">
                        <button class='btn btn-default btn-sm' ng-click="closeNotice(log)"><span class='glyphicon glyphicon-ok'></span></button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/js/resumable.js"></script>
    <script src="/static/js/ui-tms.js"></script>
    <script src="/static/js/xxt.ui.js"></script>
    <script src="/static/js/xxt.ui.tmplshop.js?_=2"></script>
    <script src="/views/default/pl/fe/_module/matter.service.js?_=1"></script>
    <script src="/static/js/require.js" data-main="/views/default/pl/fe/console/frame-loader.js?_=1"></script>
</body>

</html>
