<div ng-switch on="frameState.scope">
    <div ng-controller="ctrlMission" ng-switch-when="mission">
        <div class='col-md-12'>
            <div class='form-group' ng-if="frameState.sid!=='_coworker'">
                <div class='form-inline'>
                    <button class='btn btn-default' ng-click="criteria.byStar=criteria.byStar==='N'?'Y':'N'"><i class='glyphicon' ng-class="criteria.byStar==='Y'?'glyphicon-star':'glyphicon-star-empty'"></i> 星标</button>
                    <div class='form-group hide'>
                        <label>标签 </label>
                        <div class='input-group'>
                            <div class="form-control" style="width:120px" ng-click="matterTags('M')">
                                <span class='tag' ng-repeat="t in filter2.byTags" ng-bind="t.title"></span>
                            </div>
                            <div class='input-group-btn'>
                                <button class='btn btn-default' ng-click="cleanFilterTag()"><span class='glyphicon glyphicon-remove'></span></button>
                            </div>
                        </div>
                    </div>
                    <button class='btn btn-default' ng-click='createMission()' ng-disabled="!frameState.sid"><i class='glyphicon glyphicon-plus'></i> 新建项目</button>
                </div>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th data-filter-by='title' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">名称 <i class='glyphicon glyphicon-filter'></i></th>
                        <th style='width:74px'>报名活动</th>
                        <th style='width:74px'>签到活动</th>
                        <th style='width:74px'>分组活动</th>
                        <th style='width:74px'>全部活动</th>
                        <th style='width:140px'>创建人</th>
                        <th style='width:120px'>创建时间</th>
                        <th style='width:48px'>星标</th>
                        <th style='width:64px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='m in missions'>
                        <td>{{$index+1}}</td>
                        <td ng-click="openMission(m,'app')">{{m.title}}</td>
                        <td ng-click="openMission(m,'app','enroll','registration')">{{m.matter.enroll.registration||0}}</td>
                        <td ng-click="openMission(m,'app','signin')">{{m.matter.signin||0}}</td>
                        <td ng-click="openMission(m,'app','group')">{{m.matter.group.split||0}}</td>
                        <td ng-click="openMission(m,'app')">{{m.matter.num||0}}</td>
                        <td>{{m.creater_name}}</td>
                        <td>{{m.create_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>
                            <i class='glyphicon' ng-class="m.star?'glyphicon-star':'glyphicon-star-empty'" ng-click="toggleStar(m)"></i>
                        </td>
                        <td>
                            <button class='btn btn-sm btn-default' ng-click="openMission(m,'main')">定义</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group clearfix'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
    </div>
    <div id='activities' ng-controller="ctrlActivity" ng-switch-when="activity">
        <div class='col-md-12'>
            <div class='form-group'>
                <div class='form-inline'>
                    <div class='form-group'>
                        <select class="form-control" ng-model="unionType">
                            <option value=''>全部类型</option>
                            <option ng-repeat="mt in unionMatterTypes" value="{{mt.name}}">{{mt.label}}</option>
                        </select>
                    </div>
                    <div class='form-group hide' ng-if="frameState.sid!==''">
                        <label>标签 </label>
                        <div class='input-group'>
                            <div class="form-control" style="width:120px" ng-click="matterTags('M')">
                                <span class='tag' ng-repeat="t in filter2.byTags" ng-bind="t.title"></span>
                            </div>
                            <div class='input-group-btn'>
                                <button class='btn btn-default' ng-click="cleanFilterTag()"><span class='glyphicon glyphicon-remove'></span></button>
                            </div>
                        </div>
                    </div>
                    <button class='btn btn-default' ng-click="criteria.byStar=criteria.byStar==='N'?'Y':'N'"><i class='glyphicon' ng-class="criteria.byStar==='Y'?'glyphicon-star':'glyphicon-star-empty'"></i> 星标</button>
                    <button ng-if="criteria.matter.type" class='btn btn-default' ng-click="addMatter(criteria.matter.type,criteria.matter.scenario)"><i class='glyphicon glyphicon-plus'></i> <span>新建<span ng-bind="scenarioNames[criteria.matter.scenario]||matterNames.app[criteria.matter.type]"></span>活动</span>
                    </button>
                    <div ng-if="!criteria.matter.type" class="btn-group" uib-dropdown>
                        <button class="btn btn-default" uib-dropdown-toggle>
                            <i class='glyphicon glyphicon-plus'></i> 新建 <span class="caret"></span>
                        </button>
                        <ul class='dropdown-menu' uib-dropdown-menu>
                            <li ng-repeat="mt in unionMatterTypes"><a href='' ng-click="addMatter(mt.name)">{{mt.label}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th ng-if="criteria.matter.type==='enroll'" style='width:90px'>场景</th>
                        <th data-filter-by='title' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">名称 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-if="criteria.matter.type==='signin'" style='width:80px'>签到轮次</th>
                        <th ng-if="criteria.matter.type==='enroll'||criteria.matter.type==='signin'" style='width:64px'>记录数</th>
                        <th ng-if="criteria.matter.type==='enroll'" style='width:64px'>填写人</th>
                        <th ng-if="criteria.matter.type==='enroll'" style='width:64px'>评论数</th>
                        <th style='width:140px'>创建人</th>
                        <th style='width:120px'>创建时间</th>
                        <th style='width:48px'>星标</th>
                        <th style='width:164px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='m in matters'>
                        <td data-th='序号' class='hidden-xs'><span>{{$index+1}}</span></td>
                        <td data-th='场景' ng-if="criteria.matter.type==='enroll'"><span>{{scenarioNames[m.matter_scenario||m.scenario]}}</span></td>
                        <td data-th='名称' ng-click="openMatter(m)"><span>{{m.matter_title||m.title}}</span></td>
                        <td data-th='签到轮次' ng-if="criteria.matter.type==='signin'"><span>{{m.opData[0].title}}</span></td>
                        <td data-th='记录数' ng-if="criteria.matter.type==='enroll'" ng-click="openMatter(m,'record')" title='点击查看详细数据' style='cursor:pointer;'><span>{{m.opData[0].total}}</span></td>
                        <td data-th='记录数' ng-if="criteria.matter.type==='signin'" ng-click="openMatter(m,'record')" title='点击查看详细数据' style='cursor:pointer;'><span>{{m.opData[0].total}}</span></td>
                        <td data-th='填写人' ng-if="criteria.matter.type==='enroll'" ng-click="openMatter(m,'enrollee')" title='点击查看详细数据' style='cursor:pointer;'><span>{{m.opData[0].enrollee_num}}</span></td>
                        <td data-th='评论数' ng-if="criteria.matter.type==='enroll'" ng-click="openMatter(m,'remark')" title='点击查看详细数据' style='cursor:pointer;'><span>{{m.opData[0].remark_total}}</span></td>
                        <td data-th='创建人'><span>{{m.operator_name||m.creater_name}}</span></td>
                        <td data-th='创建时间'><span>{{(m.operate_at||m.create_at)*1000|date:'yy-MM-dd HH:mm'}}</span></td>
                        <td data-th='星标' class='hidden-xs'>
                            <i class='glyphicon' ng-class="m.star?'glyphicon-star':'glyphicon-star-empty'" ng-click="toggleStar(m)"></i>
                        </td>
                        <td data-th='操作' ng-switch on="m.matter_type||m.type" class='span-cols-sm'>
                            <span ng-switch-when="group">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'player')">数据</button>
                                <button class='btn btn-sm btn-default' ng-click="copyMatter($event,m)">复制</button>
                            </span>
                            <span ng-switch-when="enroll">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'entry')">发放</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'record')">数据</button>
                                <button class='btn btn-sm btn-default hidden-xs' ng-click="copyMatter($event,m)">复制</button>
                            </span>
                            <span ng-switch-when="signin">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'preview')">预览</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'entry')">发放</button>
                                <button class='btn btn-sm btn-default' ng-click="copyMatter($event,m)">复制</button>
                            </span>
                            <span ng-switch-when="wall">
                                <button class='btn btn-sm btn-default' ng-click="copyMatter($event,m)">复制</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group clearfix'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="ctrlDoc" ng-switch-when="doc">
        <div class='col-md-12'>
            <div class='form-group'>
                <div class='form-inline'>
                    <div class="form-group">
                        <select class='form-control' ng-model="criteria.matter.type">
                            <option value=''>全部类型</option>
                            <option ng-repeat="type in matterNames.docOrder" value="{{type}}">{{matterNames.doc[type]}}</option>
                        </select>
                    </div>
                    <div class='form-group hide' ng-if="frameState.sid != ''">
                        <label>标签</label>
                        <div class='input-group'>
                            <div class="form-control" style="width:120px" ng-click="matterTags('M')">
                                <span class='tag' ng-repeat="t in filter2.byTags" ng-bind="t.title"></span>
                            </div>
                            <div class='input-group-btn'>
                                <button class='btn btn-default' ng-click="cleanFilterTag()"><span class='glyphicon glyphicon-remove'></span></button>
                            </div>
                        </div>
                    </div>
                    <button class='btn btn-default' ng-click="criteria.byStar=criteria.byStar==='N'?'Y':'N'"><i class='glyphicon' ng-class="criteria.byStar==='Y'?'glyphicon-star':'glyphicon-star-empty'"></i> 星标</button>
                    <button ng-if="criteria.matter.type" class='btn btn-default' ng-click="addMatter(criteria.matter.type)"><i class='glyphicon glyphicon-plus'></i> <span>新建<span ng-bind="matterNames.doc[criteria.matter.type]"></span></span>
                    </button>
                    <div ng-if="!criteria.matter.type" class="btn-group" uib-dropdown>
                        <button class="btn btn-default" uib-dropdown-toggle>
                            <i class='glyphicon glyphicon-plus'></i> 新建 <span class="caret"></span>
                        </button>
                        <ul class='dropdown-menu' uib-dropdown-menu>
                            <li ng-repeat="type in matterNames.docOrder"><a href='' ng-click="addMatter(type)">{{matterNames.doc[type]}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th data-filter-by='title' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">名称 <i class='glyphicon glyphicon-filter'></i></th>
                        <th style='width:140px'>创建人</th>
                        <th style='width:120px'>创建时间</th>
                        <th style='width:48px'>星标</th>
                        <th style='width:62px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='m in matters'>
                        <td>{{$index+1}}</td>
                        <td ng-click="openMatter(m,'preview')">{{m.matter_title||m.title}}</td>
                        <td>{{m.operator_name||m.creater_name}}</td>
                        <td>{{(m.operate_at||m.create_at)*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>
                            <i class='glyphicon' ng-class="m.star?'glyphicon-star':'glyphicon-star-empty'" ng-click="toggleStar(m)"></i>
                        </td>
                        <td>
                            <button class='btn btn-sm btn-default' ng-click="copyMatter($event,m)" ng-if="m.type=='article'">复制</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group clearfix'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="ctrlUser" ng-switch-when="user">
        <div class='col-md-3' ng-if="!frameState.sid">
            <div class='form-group'>
                <label>选择团队</label>
                <select class='form-control' ng-model="frameState.sid" ng-options="site.id as site.name for site in sites"></select>
            </div>
        </div>
        <div class="col-md-12" ng-if="frameState.sid" ng-switch on="catelog">
            <div class='form-group'>
                <div class='form-inline'>
                    <div class='form-group'>
                        <select class='form-control' ng-model="catelog">
                            <option value='member'>通讯录</option>
                            <option value='account'>访客</option>
                            <option value='subscribe'>关注用户</option>
                        </select>
                    </div>
                    <div class='form-group' ng-if="catelog==='member'">
                        <div class='input-group'>
                            <select class='form-control' ng-options="mschema.title for mschema in mschemas" ng-model="selected.mschema" ng-change="chooseMschema()"></select>
                            <div class='input-group-btn'><a class='btn btn-default' href="/rest/pl/fe/site/mschema?site={{selected.mschema.siteid}}#{{selected.mschema.id}}" target='_self'><span class='glyphicon glyphicon-edit'></span></a>
                            </div>
                        </div>
                    </div>
                    <div class='form-group' ng-if="catelog==='member'">
                        <button class='btn btn-default' ng-click="createMschema()"><i class='glyphicon glyphicon-plus'></i> 新建通讯录</button>
                    </div>
                </div>
            </div>
            <div ng-controller='ctrlMember' ng-switch-when="member">
                <div>
                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th style='width:48px'>序号</th>
                                <th style='width:120px'>填写日期</th>
                                <th style='width:80px'>通过审核</th>
                                <th ng-if='!mschema.attrs.name.hide' data-filter-by='name' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">姓名 <i class='glyphicon glyphicon-filter'></i></th>
                                <th ng-if='!mschema.attrs.mobile.hide' data-filter-by='mobile' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">手机 <i class='glyphicon glyphicon-filter'></i></th>
                                <th ng-if='!mschema.attrs.email.hide' data-filter-by='email' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">邮箱 <i class='glyphicon glyphicon-filter'></i></th>
                                <th ng-repeat='ea in mschema.extAttrs'>{{ea.title}}</th>
                                <th style='width:48px'>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='m in members'>
                                <td>{{$index+1}}</td>
                                <td>{{m.create_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                                <td>{{m.verified==='Y'?'是':(m.verified==='N'?'否':'待定')}}</td>
                                <td ng-if='!mschema.attrs.name.hide'>{{m.name}}</td>
                                <td ng-if="!mschema.attrs.mobile.hide">{{m.mobile}}</td>
                                <td ng-if="!mschema.attrs.email.hide">{{m.email}}</td>
                                <td ng-repeat='ea in mschema.extAttrs' ng-switch on="ea.type">
                                    <div ng-switch-when="image">
                                        <div ng-repeat="img in m._extattr[ea.id]"><img style="max-width:128px;" ng-src="{{img.imgSrc}}"></div>
                                    </div>
                                    <div ng-switch-default>{{m._extattr[ea.id]}}</div>
                                </td>
                                <td>
                                    <a href='' ng-click='editMember(m)'>修改</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class='form-group clearfix'>
                        <div class='pl-pagination'>
                            <span>总数：{{page.total}}</span>
                            <ul uib-pagination class='pull-right' ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller='ctrlSiteAccount' ng-switch-when="account">
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:48px'>序号</th>
                            <th data-filter-by='nickname' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">昵称 <i class='glyphicon glyphicon-filter'></i></th>
                            <th style='width:120px'>创建时间</th>
                            <th style='width:120px'>最近访问时间</th>
                            <th style='width:60px'>已注册</th>
                            <th style='width:60px'>主账号</th>
                            <th style='width:74px'>关联微信</th>
                            <th style='width:74px'>关联易信</th>
                            <th style='width:60px'>积分</th>
                            <th style='width:60px'>访问数</th>
                            <th style='width:60px'>收藏数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='u in users'>
                            <td>{{$index+1}}</td>
                            <td><a href='' ng-click="openProfile(u)">{{u.nickname}}</a></td>
                            <td>{{u.reg_time*1000|date:'yy-MM-dd HH:mm'}}</td>
                            <td><span ng-if="u.last_active">{{u.last_active*1000|date:'yy-MM-dd HH:mm'}}</span></td>
                            <td><span ng-if="u.unionid">是</span></td>
                            <td><span ng-if="u.is_reg_primary==='Y'">是</span></td>
                            <td><span ng-if="u.wx_openid">是</span></td>
                            <td><span ng-if="u.yx_openid">是</span></td>
                            <td>{{u.coin}}</td>
                            <td>{{u.read_num}}</td>
                            <td>{{u.favor_num}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class='form-group'>
                    <div class='pl-pagination'>
                        <span>总数：{{page.total}}</span>
                        <ul uib-pagination ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
                    </div>
                </div>
            </div>
            <div ng-controller='ctrlSiteSubscribe' ng-switch-when="subscribe">
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th data-filter-by='nickname' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">昵称 <i class='glyphicon glyphicon-filter'></i></th>
                            <th style='width:420px'>创建日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='u in users'>
                            <td><a href='' ng-click="openProfile(u.unionid)">{{u.nickname}}</a></td>
                            <td>{{u.subscribe_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class='form-group form-inline'>
                    <div class='pl-pagination'>
                        <span>总数：{{page.total}}</span>
                        <ul uib-pagination class='pull-right' ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="ctrlRecycle" ng-switch-when="recycle">
        <div class="col-md-12">
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th data-filter-by='title' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">名称 <i class='glyphicon glyphicon-filter'></i></th>
                        <th style='width:140px'>操作人</th>
                        <th style='width:120px'>操作时间</th>
                        <th style='width:48px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='m in matters'>
                        <td>{{$index+1}}</td>
                        <td>{{m.name||m.matter_title}}</td>
                        <td>{{m.creater_name||m.operator_name}}</td>
                        <td>{{(m.create_at||m.operate_at)*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>
                            <button ng-if="!m.siteid" class='btn btn-sm btn-default' title='恢复' ng-click="restoreSite(m)">恢复</button>
                            <button ng-if="m.siteid" class='btn btn-sm btn-default' title='恢复' ng-click="restoreMatter(m)">恢复</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="inviteEditor.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">邀请码</h5>
    </div>
    <div class="modal-body ">
        <form class='form-horizontal'>
            <div class='form-group'>
                <lable class='col-md-3 control-label'>可邀请次数</lable>
                <div class='col-md-9'>
                    <input class='form-control' ng-model="option.max_count">
                </div>
            </div>
            <div class='form-group'>
                <lable class='col-md-3 control-label'>到期时间</lable>
                <div class='col-md-9'>
                    <tms-datepicker class='tms-datepicker' tms-obj="option" tms-date="option.expire_at" tms-state="expireAt"></tms-datepicker>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>
<script type="text/ng-template" id="filterBy.html">
    <div class="form-group">
        <div class='input-group'>
            <input type="text" ng-model="filter.keyword" class="form-control" ng-keypress='filter.keyUp($event)' autofocus>
            <div class="input-group-btn">
                <button class='btn btn-default' ng-disabled="!filter.keyword" ng-click="filter.keyword=''"><i class='glyphicon glyphicon-erase'></i></button>
            </div>
        </div>
    </div>
    <div class='text-right'>
        <button class='btn btn-default' ng-click="filter.cancel()">取消筛选</button>
        <button class='btn btn-default' ng-click="filter.exec()">进行筛选</button>
        <button class='btn btn-default' ng-click="filter.close()"><i class='glyphicon glyphicon-remove'></i></button>
    </div>
</script>
<script type="text/ng-template" id="tagMatterData.html">
    <div class="modal-header">
        <h5 class="modal-title">活动管理标签</h5>
    </div>
    <div class="modal-body">
        <div class='list-group' style='max-height:300px;overflow-y:auto'>
            <div class='list-group-item' ng-repeat="tag in apptags">
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="model.selected[$index]"> {{tag.title}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
        <button class="btn btn-primary" ng-click="ok()">选择标签</button>
    </div>
</script>