<div class="main row">
    <aside class="main-sidebar">
        <section class="sidebar" style="height:auto">
            <ul class="sidebar-menu list-unstyled">
                <li ng-class="{'active':criteria2.scope==='top'}" ><a href='' ng-click="changeScope('top')" class="btn btn-default">置顶</a></li>
                <li ng-class="{'active':criteria2.scope==='recent'}"><a href='' ng-click="changeScope('recent')" class="btn btn-default">最近</a></li>
                <li ng-class="{'active':criteria2.scope==='site'}"><a href='' ng-click="changeScope('site')" class="btn btn-default">团队</a></li>
                <li ng-class="{'active':criteria2.scope==='mission'}" ><a href='' ng-click="changeScope('mission')" class="btn btn-default">项目</a></li>
                <li ng-class="{'active':criteria2.scope==='activity'}" ><a href='' ng-click="changeScope('activity')" class="btn btn-default">活动</a></li>
                <li ng-class="{'active':criteria2.scope==='info'}" ><a href='' ng-click="changeScope('info')" class="btn btn-default">资料</a></li>
                <li ng-class="{'active':criteria2.scope==='recycle'}" ng-if="criteria.sid==''"><a href='' ng-click="changeScope('recycle')" class="btn btn-default">回收站</a></li>
                </li>
                <li ng-if="criteria.sid!=''">
                    <button class="btn btn-default" ng-click='load(criteria.sid)'>设置团队</a>
                </li>
                <li>
                    <button id='popoverAddMatter' uib-popover-template="'addMatter.html'" popover-placement="right" popover-append-to-body='true' popover-trigger="show" popover-title="新建素材" class='btn btn-default' ng-click="popoverAddMatter()"><span>新建素材</span></button>
                </li>
            </ul>
        </section>
    </aside>
    <div class="main-container" ng-switch on="criteria2.scope">
        <div class="row" ng-controller="ctrlTop" ng-switch-when="top">
            <div class="col-md-12">
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style="width:40px">类型</th>
                            <th style='width:140px'>名称</th>
                            <th style='width:100px'>置顶时间</th>
                            <th style='width:140px'>操作</th>
                            <th style='width:140px'></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='t in top' >
                            <td>{{$index+1}}</td>
                            <td>{{matterNames[t.matter_type]}}</td>
                            <td>{{t.matter_title}}</td>
                            <td>{{(t.top_at*1000)|date:'MM-dd HH:mm'}}</td>
                            <td ng-switch on="t.matter_type">
                                <div ng-switch-when="enroll">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'main')">定义</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'publish')">设置</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'record')">数据</button>
                            </div>
                            <div ng-switch-when="signin">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'main')">定义</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'publish')">设置</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'record')">数据</button>
                            </div>
                            <div ng-switch-when="group">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'main')">定义</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'player')">数据</button>
                            </div>
                            <div ng-switch-when="mission">
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'main')">定义</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'matter')">活动</button>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'user')">数据</button>
                            </div>
                            <div ng-switch-when="site">
                                <a class='btn btn-sm btn-default' ng-click="openConsole(t)">工作台</a>
                                <a class='btn btn-sm btn-default' ng-click="setHome(t)">设置主页</a>
                            </div>
                            <div ng-switch-default>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(t,'main')">进入</button>
                            </div>
                            </td>
                            <td ng-switch on="t.top">
                                <button class='btn btn-default' title='取消置顶' ng-click="removeTop(t)">取消置顶</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
        <div class="row" id='viewRecent' ng-controller="ctrlRecent" ng-switch-when="recent">
            <div class='col-md-12'>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style="width:40px">类型</th>
                            <th style='width:140px'>名称</th>
                            <th style='width:140px'>修改人</th>
                            <th style='width:100px'>最后修改时间</th>
                            <th style='width:140px'>置顶</th>
                            <th style='width:140px'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='m in matters'>
                            <td>{{$index+1}}</td>
                            <td>{{matterNames[m.matter_type]}}</td>
                            <td>{{m.matter_title}}</td>
                            <td>{{m.operator_name}}</td>
                            <td>{{(m.operate_at*1000)|date:'MM-dd HH:mm'}}</td>
                            <td>
                                <button class='btn btn-sm btn-default' title='置顶' ng-click="stickTop(m)">置顶</button>
                            </td>
                            <td ng-switch on="m.matter_type">
                                <div ng-switch-when="enroll">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'publish')">设置</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'record')">数据</button>
                                </div>
                                <div ng-switch-when="signin">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'publish')">设置</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'record')">数据</button>
                                </div>
                                <div ng-switch-when="group">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'player')">数据</button>
                                </div>
                                <div ng-switch-when="mission">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'matter')">活动</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'user')">数据</button>
                                </div>
                                <div ng-switch-default>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">进入</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="ctrlSite" ng-switch-when="site">
            <div class='col-md-12'>
                <div ng-if="criteria.sid==''" class='pull-right'>
                    <button class="btn btn-default" ng-click='create()'><i class='glyphicon glyphicon-plus'></i> <span>新建</span></button>
                    <button uib-popover-template="'filter.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="outsideClick" class='btn btn-default pull-right'><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
                </div>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style='width:140px'>名称</th>
                            <th style='width:140px'>创建人</th>
                            <th style='width:100px'>创建时间</th>
                            <th style='width:140px'>置顶</th>
                            <th style='width:140px'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='site in sites'>
                            <td>{{$index+1}}</td>
                            <td>{{site.name}}</td>
                            <td>{{site.creater_name}}</td>
                            <td>{{site.create_at*1000|date:'yyyy-MM-dd'}}</td>
                            <td>
                                <button class='btn btn-sm btn-default' title='置顶' ng-click="stickTop(site)">置顶</button>
                            </td>
                            <td>
                                <a class='btn btn-sm btn-default' ng-click="openConsole(site)">工作台</a>
                                <a class='btn btn-sm btn-default' ng-click="setHome(site)">设置主页</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-controller="ctrlMission" ng-switch-when="mission">
            <div class='col-md-12'>
                <div class='pull-right'>
                    <button ng-if="criteria.sid!=''" class="btn btn-default" ng-click='create()'><i class='glyphicon glyphicon-plus'></i> <span>新建</span></button>
                    <button ng-if="criteria.sid==''" id='missionAddMatter' uib-popover-template="'addMatter.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="show" popover-title="新建" class='btn btn-default' ng-click="missionAddMatter()"><i class='glyphicon glyphicon-plus'></i> <span>新建</span></button>
                    <button uib-popover-template="'filter.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="outsideClick" class='btn btn-default pull-right'><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
                </div>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style='width:140px'>名称</th>
                            <th style='width:140px'>创建人</th>
                            <th style='width:100px'>创建时间</th>
                            <th style='width:140px'>置顶</th>
                            <th style='width:140px'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='m in missions'>
                            <td>{{$index+1}}</td>
                            <td>{{m.site_name}}\{{m.title}}</td>
                            <td>{{m.creater_name}}</td>
                            <td>{{m.create_at*1000|date:'yyyy-MM-dd'}}</td>
                            <td>
                                <button class='btn btn-sm btn-default' title='置顶' ng-click="stickTop(m)">置顶</button>
                            </td>
                            <td>
                                <button class='btn btn-sm btn-default' ng-click="open(m,'main')">定义</button>
                                <button class='btn btn-sm btn-default' ng-click="open(m,'matter')">活动</button>
                                <button class='btn btn-sm btn-default' ng-click="open(m,'user')">数据</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="ctrlActivity" ng-switch-when="activity">
            <div class='col-md-12'>
                <nav class='navbar navbar-default'>
                    <div class='container-fluid'>
                        <ul class='nav navbar-nav'>
                            <li ng-class="{'active':criteria3.matterType==='enroll'}"><a href='' ng-click="changeMatter('enroll')">登记活动</a></li>
                            <li ng-class="{'active':criteria3.matterType==='signin'}"><a href='' ng-click="changeMatter('signin')">签到活动</a></li>
                            <li ng-class="{'active':criteria3.matterType==='group'}"><a href='' ng-click="changeMatter('group')">分组活动</a></li>
                            <li ng-class="{'active':criteria3.matterType==='lottery'}"><a href='' ng-click="changeMatter('lottery')">抽奖活动</a></li>
                            <li ng-class="{'active':criteria3.matterType==='wall'}"><a href='' ng-click="changeMatter('wall')">信息墙</a></li>
                        </ul>
                        <form class='nav navbar-form pull-right'>
                            <button id='activityAddMatter' uib-popover-template="'addMatter.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="show" popover-title="新建" class='btn btn-default' ng-click="activityAddMatter()"><i class='glyphicon glyphicon-plus'></i> <span>新建</span></button>
                            <button uib-popover-template="'filter.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="outsideClick" class='btn btn-default pull-right'><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
                        </form>
                    </div>
                </nav>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style='width:140px'>名称</th>
                            <th ng-if="criteria3.matterType =='enroll'" style='width:140px'>场景</th>
                            <th style='width:140px'>创建人</th>
                            <th style='width:100px'>创建时间</th>
                            <th style='width:140px'>置顶</th>
                            <th style='width:140px'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='m in matters' >
                            <td>{{$index+1}}</td>
                            <td>{{m.matter_title}}</td>
                            <td ng-if="criteria3.matterType=='enroll'">{{scenarioNames[m.matter_scenario]}}</td>
                            <td>{{m.operator_name}}</td>
                            <td>{{m.operate_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                            <td>
                               <button class='btn btn-sm btn-default' title='置顶' ng-click="stickTop(m)">置顶</button>
                            </td>
                            <td ng-switch on="m.matter_type">
                                 <div ng-switch-when="group">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'player')">数据</button>
                                </div>
                                <div ng-switch-when="enroll">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</bumton>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'publish')">设置</bmtton>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'record')">数据</bumton>
                                </div>
                                <div ng-switch-when="signin">
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">定义</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'publish')">设置</button>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'record')">数据</button>
                                </div>
                                <div  ng-switch-default>
                                    <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">进入</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="ctrlInfo" ng-switch-when="info">
            <div class='col-md-12'>
                <nav class='navbar navbar-default'>
                    <div class='container-fluid'>
                        <ul class='nav navbar-nav'>
                            <li ng-class="{'active':criteria4.matterType==='article'}"><a href='' ng-click="changeMatter('article')">单图文</a></li>
                            <li ng-class="{'active':criteria4.matterType==='news'}"><a href='' ng-click="changeMatter('news')">多图文</a></li>
                            <li ng-class="{'active':criteria4.matterType==='channel'}"><a href='' ng-click="changeMatter('channel')">频道</a></li>
                            <li ng-class="{'active':criteria4.matterType==='link'}"><a href='' ng-click="changeMatter('link')">链接</a></li>
                            <li ng-class="{'active':criteria4.matterType==='contribute'}"><a href='' ng-click="changeMatter('contribute')">投稿</a></li>
                            <li ng-class="{'active':criteria4.matterType==='text'}"><a href='' ng-click="changeMatter('text')">文本</a></li>
                            <li ng-class="{'active':criteria4.matterType==='custom'}"><a href='' ng-click="changeMatter('custom')">定制页</a></li>
                        </ul>
                        <form class='nav navbar-form pull-right'>
                            <button id='infoAddMatter' uib-popover-template="'addMatter.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="show" popover-title="新建" class='btn btn-default' ng-click="infoAddMatter()"><i class='glyphicon glyphicon-plus'></i> <span>新建</span></button>
                            <button uib-popover-template="'filterMission.html'" popover-placement="bottom-right" popover-append-to-body='true' popover-trigger="outsideClick" class='btn btn-default pull-right'><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
                        </form>
                    </div>
                </nav>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style='width:140px'>名称</th>
                            <th style='width:140px'>创建人</th>
                            <th style='width:100px'>创建时间</th>
                            <th style='width:140px'>置顶</th>
                            <th style='width:140px'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='m in matters' >
                            <td>{{$index+1}}</td>
                            <td>{{m.matter_title}}</td>
                            <td>{{m.operator_name}}</td>
                            <td>{{m.operate_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                            <td>
                               <button class='btn btn-sm btn-default' title='置顶' ng-click="stickTop(m)">置顶</button>
                            </td>
                            <td>
                                <button class='btn btn-sm btn-default' ng-click="openMatter(m,'main')">进入</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='col-md-12'>
                    <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
                    <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="ctrlRecycle" ng-switch-when="recycle">
            <div class="col-md-12">
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th style='width:40px'>序号</th>
                            <th style='width:140px'>名称</th>
                            <th style='width:140px'>创建人</th>
                            <th style='width:100px'>创建时间</th>
                            <th style='width:140px'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='site in sites0'>
                            <td>{{$index+1}}</td>
                            <td>{{site.name}}</td>
                            <td>{{site.creater_name}}</td>
                            <td>{{site.create_at*1000|date:'yyyy-MM-dd'}}</td>
                            <td>
                                <button class='btn btn-default' title='恢复' ng-click="restoreSite(site)">恢复</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addMatter.html">
    <div id="addMatter">
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('site')">团队</button>
            <button class='btn btn-default' ng-click="addMatter('mission')">项目</button>
        </div>
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('article')">单图文</button>
            <button class='btn btn-default' ng-click="addMatter('news')">多图文</button>
            <button class='btn btn-default' ng-click="addMatter('channel')">频道</button>
        </div>
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('enroll')">登记活动</button>
            <button class='btn btn-default' ng-click="addMatter('signin')">签到活动</button>
            <button class='btn btn-default' ng-click="addMatter('group')">分组活动</button>
            <button class='btn btn-default' ng-click="addMatter('wall')">信息墙</button>
            <button class='btn btn-default' ng-click="addMatter('lottery')">抽奖活动</button>
        </div>
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('link')">链接</button>
            <button class='btn btn-default' ng-click="addMatter('custom')">定制页</button>
        </div>
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('addressbook')">通讯录</button>
            <button class='btn btn-default' ng-click="addMatter('contribute')">投稿活动</button>
            <button class='btn btn-default' ng-click="addMatter('merchant')">订购活动</button>
        </div>
        <div>
</script>
<script type="text/ng-template" id="filter.html">
    <div id="filterMission">
        <div class='form-group'>
            <label>名称</label>
            <input type='input' class='form-control' ng-model='filter2.byTitle'>
        </div>
        <div class='form-group'>
            <button class='btn btn-default btn-block' ng-click="doFilter()">执行筛选</button>
            <button class='btn btn-default btn-block' ng-click="cleanFilter()">取消筛选</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addMatterSite.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">指定创建素材的团队</h5>
    </div>
    <div class="modal-body ">
        <div class="radio" ng-repeat="site in mySites">
            <label ng-if="site._favored!=='Y'">
                <input type='radio' name='site' value="{{$index}}" ng-model='data.index'>{{site.name}}</label>
        </div>
        <div class='alert alert-danger' ng-if="mySites.length===0">请创建添加素材的团队</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>
