<div class="col-md-12" ng-switch on="frameState.scope">
    <div ng-switch-when="member">
        <div ng-controller='ctrlMember'>
            <div class='form-group'>
                <div class='form-inline'>
                    <div class='form-group'>
                        <div class='input-group'>
                            <select class='form-control' ng-options="mschema.title for mschema in mschemas" ng-model="selected.mschema" ng-change="chooseMschema()"></select>
                            <div class='input-group-btn'><a class='btn btn-default' href="/rest/pl/fe/site/mschema?site={{selected.mschema.siteid}}#{{selected.mschema.id}}" target='_self'><span class='glyphicon glyphicon-edit'></span></a>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <button class='btn btn-default' ng-click="createMschema()"><i class='glyphicon glyphicon-plus'></i> 新建通讯录</button>
                    </div>
                    <div class='btn-group'>
                        <button type="button" class='btn btn-default dropdown-toggle' data-toggle="dropdown">更多操作 <i class="caret"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href ng-click="notify(true)">给选中用户发消息<span>（{{rows.count}}）</span></a></li>
                            <li><a href ng-click="notify()">给全部用户发消息<span>（{{page.total}}）</span></a></li>
                        </ul>
                    </div>
                    <div class='form-group'>
                        <button class='btn btn-default' ng-click="doSearch()"><i class='glyphicon glyphicon-refresh'></i> 刷新</button>
                    </div>
                </div>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:28px'><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected" /></th>
                        <th style='width:48px'>序号</th>
                        <th style='width:120px'>填写日期</th>
                        <th style='width:80px'>通过审核</th>
                        <th ng-if='!mschema.attrs.name.hide' data-filter-by='name' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">姓名 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-if='!mschema.attrs.mobile.hide' data-filter-by='mobile' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">手机 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-if='!mschema.attrs.email.hide' data-filter-by='email' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">邮箱 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-repeat='ea in mschema.extAttrs'>{{ea.title}}</th>
                        <th style='width:48px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='m in members'>
                        <td><input type="checkbox" ng-change="rows.change($index)" ng-model="rows.selected[$index]" /></td>
                        <td>{{$index+1}}</td>
                        <td>{{m.create_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>{{m.verified==='Y'?'是':(m.verified==='N'?'否':'待定')}}</td>
                        <td ng-if='!mschema.attrs.name.hide'>{{m.name}}</td>
                        <td ng-if="!mschema.attrs.mobile.hide">{{m.mobile}}</td>
                        <td ng-if="!mschema.attrs.email.hide">{{m.email}}</td>
                        <td ng-repeat='ea in mschema.extAttrs' ng-switch on="ea.type">
                            <div ng-switch-when="date">
                                <span ng-if="m._extattr[ea.id]">{{m._extattr[ea.id]*1000|date:'yy-MM-dd HH:mm'}}</span>
                            </div>
                            <div ng-switch-when="image">
                                <div ng-repeat="img in m._extattr[ea.id]"><img style="max-width:128px;" ng-src="{{img.imgSrc}}"></div>
                                </div>
                                <div ng-switch-default>{{m._extattr[ea.id]}}</div>
                        </td>
                        <td>
                            <a href='' ng-click='editMember(m)'>修改</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="account">
        <div ng-controller='ctrlSiteAccount'>
            <div class='form-group'>
                <div class='form-inline clearfix'>
                    <div class='checkbox'>
                        <label><input type='checkbox' ng-model="query.onlyRegister"> 已注册</label>
                    </div>
                    <div class='checkbox'>
                        <label><input type='checkbox' ng-model="query.onlyWxfan"> 已关注公众号</label>
                    </div>
                    <div class='form-group pull-right'>
                        <button class='btn btn-default' ng-click="doSearch()"><i class='glyphicon glyphicon-refresh'></i> 刷新</button>
                    </div>
                </div>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th data-filter-by='nickname' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-trigger="'show'" popover-append-to-body="true" ng-click="filter.show($event)">昵称 <i class='glyphicon glyphicon-filter'></i></th>
                        <th style='width:120px'>创建时间</th>
                        <th style='width:120px'>最近访问时间</th>
                        <th style='width:60px'>已注册</th>
                        <th style='width:60px'>主账号</th>
                        <th style='width:74px'>微信昵称</th>
                        <th style='width:60px'>积分</th>
                        <th style='width:60px'>访问数</th>
                        <th style='width:60px'>收藏数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='u in users'>
                        <td>{{$index+1}}</td>
                        <td><a href='' ng-click="openProfile(u)">{{u.nickname}}</a></td>
                        <td>{{u.reg_time*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td><span ng-if="u.last_active">{{u.last_active*1000|date:'yy-MM-dd HH:mm'}}</span></td>
                        <td><span ng-if="u.unionid">是</span></td>
                        <td><span ng-if="u.is_reg_primary==='Y'">是</span></td>
                        <td><span ng-bind="u.wxfan.nickname"></span></td>
                        <td>{{u.coin}}</td>
                        <td>{{u.read_num}}</td>
                        <td>{{u.favor_num}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="inviteEditor.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">邀请码</h5>
    </div>
    <div class="modal-body ">
        <form class='form-horizontal'>
            <div class='form-group'>
                <lable class='col-md-3 control-label'>可邀请次数</lable>
                <div class='col-md-9'>
                    <input class='form-control' ng-model="option.max_count">
                </div>
            </div>
            <div class='form-group'>
                <lable class='col-md-3 control-label'>到期时间</lable>
                <div class='col-md-9'>
                    <tms-datepicker class='tms-datepicker' tms-obj="option" tms-date="option.expire_at" tms-state="expireAt"></tms-datepicker>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>
<script type="text/ng-template" id="filterBy.html">
    <div class="form-group">
        <div class='input-group'>
            <input type="text" ng-model="filter.keyword" class="form-control" ng-keypress='filter.keyUp($event)' autofocus>
            <div class="input-group-btn">
                <button class='btn btn-default' ng-disabled="!filter.keyword" ng-click="filter.keyword=''"><i class='glyphicon glyphicon-erase'></i></button>
            </div>
        </div>
    </div>
    <div class='text-right'>
        <button class='btn btn-default' ng-click="filter.cancel()">取消筛选</button>
        <button class='btn btn-default' ng-click="filter.exec()">进行筛选</button>
        <button class='btn btn-default' ng-click="filter.close()"><i class='glyphicon glyphicon-remove'></i></button>
    </div>
</script>