<div>
    <div class='form-inline form-group'>
        <div class='form-group'>
            <button class='btn' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
        </div>
        <div class="form-group pull-right" ng-if="mpaccount.asparent==='N'">
            <button class='btn btn-primary' ng-if="mpaccount.mpsrc==='wx'" ng-click='upload2Mp()'>上传到腾讯</button>
            <pushmatter class='btn btn-primary' matter-id='{{editing.id}}' matter-type='article' mpaccount="mpaccount">发送给指定用户</pushmatter>
            <div class='qrcode form-group' ng-controller='SendmeController'>
                <button class='btn btn-primary' data-toggle="popover" data-placement='left' ng-click="qrcode({type:'article',id:editing.id},$event)">发送给我</button>
            </div>
        </div>
    </div>
    <div class='form-horizontal'>
        <div class='form-group' ng-show="editing.creater_src!=='A'">
            <label class='col-md-2 control-label'>审核通过</label>
            <div class='col-md-10'>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.approved' ng-change="update('approved');">是</label>
            </div>
        </div>
        <div class='form-group' ng-if="mpaccount.asparent==='N'">
            <label class='col-md-2 control-label'>URL</label>
            <div class='col-md-10'>
                <p class='form-control-static'>{{entryUrl}}</p>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>标题</label>
            <div class='col-md-10'>
                <input type='text' class='form-control' ng-model='editing.title' ng-change="update('title');">
                <div class='help-block'>最多35个汉字，70个英文字符</div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>作者</label>
            <div class='col-md-10'>
                <input type='text' class='form-control' ng-model='editing.author' ng-change="update('author');">
                <div class='help-block'>最多8个汉字或英文字符</div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>头图</label>
            <div class='col-md-10' style='position:relative'>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="editing.pic==''">
                        <button class='btn btn-default' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                    </div>
                    <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src="{{editing.pic}}" width='180px' />
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
                <div style='position:absolute;top:30px;left:210px'>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.hide_pic' ng-change="update('hide_pic');">正文中不显示头图</label>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>摘要</label>
            <div class='col-md-10'>
                <textarea class='form-control' ng-model='editing.summary' ng-change="update('summary');"></textarea>
                <p class='help-block'>最多120个汉字，240个英文字符</p>
            </div>
        </div>
        <div class='form-group' ng-show="editing.custom_body==='N'">
            <label class='col-md-2 control-label'>正文</label>
            <div class='col-md-10'>
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">添加素材
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="embedMatter()">内置素材</a>
                            </li>
                            <li>
                                <a href="#" ng-click="embedVideo()">视频</a>
                            </li>
                            <li>
                                <a href="#" ng-click="embedAudio()">音频</a>
                            </li>
                        </ul>
                    </div>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_picviewer' ng-change="update('can_picviewer');">支持图片缩放浏览</label>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.custom_body' ng-change="update('custom_body');">定制页面</label>
                </div>
                <tinymce content='editing.body' contenteditable='bodyEditable' update="onBodyChange()" change="onBodyChange()" id='body1'></tinymce>
            </div>
        </div>
        <div class='form-group' ng-if="editing.custom_body==='Y'">
            <label class='col-md-2 control-label'>正文</label>
            <div class='col-md-10'>
                <button class='btn btn-success' ng-click='gotoCode()'>编辑页面</button>
                <button class='btn btn-success' ng-click='selectTemplate()'>选择模板</button>
                <button class='btn btn-success' ng-click='saveAsTemplate()'>作为模板</button>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.custom_body' ng-change="update('custom_body');">定制页面</label>
            </div>
        </div>
        <div class='form-group' ng-if="editing.custom_body==='N'">
            <label class='col-md-2 control-label'>原文链接(可选)</label>
            <div class='col-md-10'>
                <textarea class='form-control' ng-model='editing.url' ng-change="update('url');"></textarea>
            </div>
        </div>
        <div class='form-group' ng-show="editing.custom_body==='N'">
            <label class='col-md-2 control-label'>附件（可选）</label>
            <div class='col-md-10'>
                <button id='addAttachment' class='btn btn-default btn-sm'>
                    <span class='glyphicon glyphicon-plus'></span>
                </button>
                <ul class='list-group' style='margin-bottom:0'>
                    <li class='list-group-item' ng-repeat='a in editing.attachments' ng-mouseenter="enter=true" ng-mouseleave="enter=false">
                        <span>
                            <a ng-href='{{downloadUrl(a)}}' target='_blank'>{{a.name}}</a>
                        </span>
                        <button class='btn btn-default btn-xs pull-right' ng-if='enter' ng-click='delAttachment($index,a)'>
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>内容标签</label>
            <div class='col-md-10'>
                <combox evt-prefix='tag' prop='title' existing='editing.tags' options='tags'></combox>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>管理标签</label>
            <div class='col-md-10'>
                <combox evt-prefix='tag2' prop='title' existing='editing.tags2' options='tags2'></combox>
            </div>
        </div>
        <div class='form-group' ng-controller='setChannelCtrl' ng-init="matterType='article'">
            <label class='col-md-2 control-label'>频道（可选）</label>
            <div class='col-md-10'>
                <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='channelsFromParent' ng-change='updateChannelSrc()'>来源于父账号</label>
            </div>
        </div>
        <div class='form-group' ng-if="features.matter_visible_to_creater==='Y'">
            <label class='col-md-2 control-label'>可见范围</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-disabled="editing.creater!==editing.uid" ng-model='editing.public_visible' ng-true-value="'Y'"
                        ng-false-value="'N'" ng-change="update('public_visible')">设置为公开可见</label>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>其他设置</label>
            <div class='col-md-10'>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_share' ng-change="update('can_share');">可以分享</label>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_fullsearch' ng-change="update('can_fullsearch');">可以检索</label>
            </div>
        </div>
        <accesscontrol mpid='{{mpaccount.mpid}}' obj='editing' prop-acl='acl' prop-access='access_control' prop-apis='authapis'
        update-access-control="update('access_control')" update-authapis="update('authapis')" change-acl-url='/rest/mp/matter/article/setAcl?id={{editing.id}}'
        remove-acl-url='/rest/mp/matter/article/removeAcl' label-span='2' control-span='10'></accesscontrol>
        <div class='alert alert-info'>
            <span>创建人：{{editing.creater_name}}，</span>
            <span>创建于：{{editing.create_at*1000|date:'yyyy-MM-dd HH:mm'}}，</span>
            <span>修改人：{{editing.modifier_name}}，</span>
            <span>最后一次修改：{{editing.modify_at*1000|date:'yyyy-MM-dd HH:mm'}}</span>
        </div>
    </div>
    <div mattersgallery style='display:none' matter-url='/rest/mp/matter' matter-types='innerlinkTypes' has-parent='hasParent'></div>
    <mediagallery box-id='{{mpaccount.mpid}}' />
    <script type="text/ng-template" id="insertMedia.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title">媒体文件</h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>地址（URL）</label>
                <textarea class="form-control" ng-model='data.url' rows=6></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="ok()">确定</button>
        </div>
    </script>
</div>