<div>
    <div class='form-group form-inline clearfix'>
        <pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle' total-items="page.total"
        max-size="7" items-per-page="page.size" boundary-links="true" rotate="false" ng-model="page.current" previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
    </div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='width:130px'>发布者</th>
                <th style='width:130px'>时间</th>
                <th>内容</th>
                <th style='width:60px'>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='r in remarks'>
                <td ng-bind="r.nickname"></td>
                <td ng-bind="r.create_at*1000|date:'yyyy-MM-dd HH:mm'"></td>
                <td ng-bind="r.remark"></td>
                <td>
                    <button class='btn btn-danger btn-xs' ng-click='delRemark(r, $index)'>
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class='btn btn-danger' ng-click='cleanRemark()'>清空</button>
</div>