*{margin:0;padding:0}
body{height:100%;background-color:#ddd;font-family:Microsoft Yahei,Arial;}
.ng-cloak{display:none}

/* 搜索框 */
.form-group {padding:15px 12px;position: relative;background-color: #fff;margin-bottom:5px;}
.form-group > .input-group {width: 85%;}
.form-group > .input-group > .glyphicon {position: absolute;top:14px; left:10px;font-size:16px;z-index:100;}
.form-group > .input-group > .form-control {height:2em;padding-left:35px; font-size: 20px;line-height: 20px;border-radius: 3px;background-color: #eee;}
.form-group > .btn {font-weight:700;font-size:20px;padding:0;position: absolute;top:20px;right:10px;background-color: #fff;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline:none;box-shadow: none;}
/* matters */
.list-group-item:first-child{border-radius:0;}
.list-group-item{margin-bottom:10px;border:none;padding:10px;}
.content{position:relative;overflow:hidden;}
.heading_pic{ float:left;box-sizing:border-box;width:100px;height:100px;border:2px solid #EEE;background-size:cover;background-position:center;}
.content>div:nth-child(2){margin-left:105px;font-family:'Microsoft Yahei',Arial;overflow:hidden;}
.title{font-size:18px;color:#292929;margin-top:0.3em;min-height: 2.1em;}
.summary{font-size:14px;color:#6a6a6a;margin:0.7em 0;min-height:1.2em;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.row{font-size:12px;color: #a0a0a0;}
.tag > span {display: block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.message{font-size:20px;min-height:10000px;background-color: #fff;color: #6a6a6a;padding:10px 10px;}
.forbidden{overflow: -scroll;overflow-y:hidden;}