*{margin:0;padding:0}
body{height:100%;background-color:#ddd;font-family:Microsoft Yahei,Arial;padding:0 8px;}
.ng-cloak{display:none}

/* 搜索框 */
.matters > .input-group {width:80%; margin:100px auto; border-bottom:1px solid #ccc;}
.matters > .input-group > .glyphicon {top:0; font-size:20px;}
.matters > .input-group > .form-control {outline:none; border:0; box-shadow: none; font-size: 20px;}
.matters > .input-group > .input-group-addon {background-color:#fff; border:0;}

/* matters */
.list-group{margin-top:4px}
.list-group-item{margin-bottom:5px;padding-bottom:0}
.heading_pic{position:absolute;top:0;left:0;box-sizing:border-box;width:64px;height:64px;border:2px solid #EEE;background-size:cover;background-position:center;}


.content{position:relative;min-height:70px}
.content>div:nth-child(2){margin-left:70px;}

.title{font-weight:700;font-size:16px;margin-top:4px}
.summary{font-size:14px;color:#666;margin-top:4px;max-height:36px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;}

.tag{float:left;font-size:12px;color: #ccc;}
.create_at{float:right;font-size:12px;}
