html,body{height:100%;width:100%;position: relative;overflow: hidden;}
.ng-cloak{display:none;}
.article{position:relative;height:100%;box-sizing:border-box;overflow-y:auto;padding-top:50px;white-space:normal;word-wrap:break-word;word-break:break-all}

/* left-column */
#attribute{margin-top:10px}
#attribute > .siteName{margin-right: 55px;}
#attribute > h6{margin-right: 15px;color: #999;}
.article .headpic{margin:10px 0}
.article img{display:block;max-width:100%;margin:5px auto}
.article .content{margin:12pt 0 12pt 0}
.article .content p{margin:0 0 12pt;line-height:2em}
.article .url{margin-top:20px}
div.tablewrap{width:100%;overflow-x:auto;overflow-y:hidden}
table,table.mce-item-table{border:solid 1px #ddd;border-top:0;border-left:0;border-collapse:collapse;border-spacing:0;position:relative;table-layout:fixed}
table caption,table.mce-item-table caption{border:solid 1px #ddd;border-bottom:0;background:#E5E5E5;font-weight:bold;font-size:14px;padding:4px}
table thead,table.mce-item-table thead{text-align:center}
table th,table td,table.mce-item-table th,table.mce-item-table td{border-left:1px solid #ddd;border-top:1px solid #ddd;padding:5px;empty-cells:show}
#tag{font-size:14px;padding:1em 0;border-top:1px solid #eee}
#tag>span{display:inline-block;margin-right:.3em;padding:.7em;color:#333;background:#ccc}

/* qrcode */
#qrCode{position: absolute;top:60px;left:-135px;}

/*site*/
#site{padding:10px;background-color: #fafafa;overflow: hidden;}
#site .site-title{display: block;overflow: hidden;margin-bottom: 20px;}
.site-title > img{display: inline-block;width:30px;height: 30px;margin:0 10px 0 0;}
.site-title > h4, .site-title > i{line-height: 1.7;}
.site-title > i{color: #999;}
#site .site-summary{line-height: 1.7;color: #666;}

/*switch*/
.tms-switch{position:fixed;right:15px;width:48px;height:48px;background:rgba(192,192,192,0.5);border-radius:4px;color:#666;font-size:24px;line-height:48px;text-align:center;cursor:pointer;}
.tms-switch:before{font-size:0.7em;}
.tms-switch:nth-of-type(2){bottom:8px;}
.tms-switch:nth-of-type(3){bottom:64px;}
.tms-switch:nth-of-type(4){bottom:120px;}
.tms-switch:nth-of-type(5){bottom:176px;}
.tms-switch:nth-of-type(6){bottom:236px;}
#gototop:before{content:'顶部';}
.tms-switch-favor:before{content:'收藏';}
.tms-switch-favor.favored{background:rgba(132,255,192,0.5);}
.tms-switch-forward:before{content:'转发';}
.tms-switch-coinpay:before{content:'打赏';}
.tms-switch-siteuser:before{content:'我';}
@media screen and (max-width:719px){
	.tms-switch{bottom:8px;}
	.tms-switch:nth-of-type(2){right:16px;bottom:8px;}
	.tms-switch:nth-of-type(3){right:72px;bottom:8px;}
	.tms-switch:nth-of-type(4){right:128px;bottom:8px;}
	.tms-switch:nth-of-type(5){right:184px;bottom:8px;}
	.tms-switch:nth-of-type(6){right:244px;bottom:8px;}
}

/*picviewer*/
#picViewer{position:absolute;left:0px;right:0px;top:0px;bottom:0px;z-index:999;display:none;margin:0 auto;overflow:hidden;background:black}
#picViewer>div{position:absolute;bottom:6px;left:8px;right:8px;z-index:1999;height:36px}
#picViewer span{display:inline-block;width:36px;height:36px;line-height:36px;border-radius:18px;font-size:36px;text-align:center}
#picViewer span.page{position:absolute;left:50%;margin-left:-18px;font-size:18px}
#picViewer span.prev{position:absolute;left:50%;margin-left:-72px}
#picViewer span.next{position:absolute;left:50%;margin-left:36px}
#picViewer span.exit{position:absolute;right:0}
#frmPlugin{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;border:none;z-index:999;box-sizing:border-box;padding-bottom:48px;background:#fff;}
#frmPlugin iframe{width:100%;height:100%;}
#frmPlugin:after{content:'关闭';position:absolute;width:100px;text-align:center;left:50%;margin-left:-50px;bottom:4px;padding:5px 6px 3px;border:1px solid #ccc;border-radius:4px;}