<!DOCTYPE html>
<html ng-controller='ctrl'>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title><?php TPL::pt('title');?></title>
        <link href="/views/default/site/fe/matter/article/main.css?_=2" rel="stylesheet">
    </head>

    <body>
        <div class="article ng-cloak" ng-cloak>
            <header ng-if="article.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
            <header ng-if="article.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
            <div class="wrap">
                <div class="left-column">
                    <h1 id="title" class="ttile" ng-bind='article.title'></h1>
                    <div id="attribute">
                        <span class="time" ng-bind="article.modify_at*1000|date:'yy-MM-dd'"></span>
                        <span class="author" ng-bind='article.author'></span>
                        <span id='article_from_mp' ng-if='site.yx.cardid'>
                            <a ng-click="followYixinMp()" href="" ng-bind='site.yx.cardname'></a>
                        </span>
                    </div>
                    <div class="headpic" ng-if="article.hide_pic!=='Y'">
                        <img ng-src="{{article.pic}}">
                    </div>
                    <div id="content" class="content" dynamic-html='article.body'></div>
                    <div id="attachment" ng-if="article.attachments">
                        <table class='table table-bordered'>
                            <caption>附件</caption>
                            <tr ng-repeat='a in article.attachments'>
                                <td>
                                    <a ng-href="{{'/rest/site/fe/matter/article/attachmentGet?site='+siteId+'&articleid='+article.id+'&attachmentid='+a.id}}" target='_blank'
                                    ng-bind='a.name'></a>
                                </td>
                                <td ng-bind='a.size|filesize' style="width:90px"></td>
                            </tr>
                        </table>
                    </div>
                    <p class="url" ng-if="article.url">
                        <a ng-href="{{article.url}}" target="_self">阅读原文</a>
                    </p>
                    <div id="qrCode1">
                        <img class="code" ng-src="{{code}}" alt="">
                        <p class="note">(手机“扫一扫”，分享给好友)</p>
                    </div>
                    <div id='stat'>
                        <span class='read'>
                            <span>阅读</span>
                            <span id='readNum' ng-bind='article.read_num'></span>
                        </span>
                        <span class='like' style='display:none'>
                            <em ng-class="{'praised':article.praised}" ng-click="like()"></em>
                            <span id='score' ng-bind='article.score'></span>
                        </span>
                    </div>
                    <div id='tag' ng-if="article.channels.length||article.tags.length">
                        <span ng-repeat="c in article.channels" ng-click="openChannel(c)" ng-bind="c.title"></span>
                        <span ng-repeat="t in article.tags" ng-click="searchByTag(t)" ng-bind="t.title"></span>
                    </div>
                </div>
                <div class="right-column">
                    <div id="qrCode2">
                        <img class="code" ng-src="{{code}}" alt="">
                        <p class="note">(手机“扫一扫”，分享给好友)</p>
                    </div>
                </div>
            </div>
            <footer ng-if="article.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
            <footer ng-if="article.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
        </div>
        <div id='gototop' class='tms-switch'></div>
        <div class="loading"><div class='loading-indicator'><i></i></div></div>
        <script src="/static/js/require.js" defer async data-main="/views/default/site/fe/matter/article/main-loader.js?_=11"></script>
    </body>

</html>