html,body{height:100%;width:100%;position:relative;overflow:hidden;}
.ng-cloak{display:none;}
body>div:first-child{position:relative;height:100%;box-sizing:border-box;overflow-y:auto;white-space:normal;word-wrap:break-word;word-break:break-all}

/* left-column */
#title{font-size:28px;font-weight:700;margin-top:24px;}
#attribute{margin-top:10px;margin-bottom:30px;padding:0 10px;}
#attribute>h6{margin-right:15px;color:#999;}
.article{background-color:#fff;}
.article .headpic{margin:10px 0}
.article img{display:block;max-width:100%;margin:5px auto;}
.article .content{margin:12pt 0 30pt 0;}
.article .content p{margin:0 0 12pt;line-height:2em}
.article .url{margin-top:20px}
.behavior{position:relative;padding:24px 0;border-top:1px dashed #999;}
.behavior>div+div{margin-top:24px;}
#action{text-align:right;}
#action>a{display:inline-block;color:#999;border:1px solid #999;border-radius:16px;padding:8px 16px;}
#action>a+a{margin-left:16px;}
.behavior .md-attr{position:absolute;top:20px;right:0;}
.btn-custom-default{margin-left:0;margin-right:20px;border:1px solid #2994d0;background-color:#fff;color:#2994d0;}
.btn-custom-default:hover,.btn-custom-default:active,.btn-custom-default:focus{color:#fff;background-color:#2994d0;}
@media screen and (max-width:768px){
	.behavior{padding-bottom:0;}
	.article{padding:0 8px;}
	#title{font-size:24px;font-weight:500;}
	.behavior .xs-attr{width:100%;position:absolute;bottom:5px;left:0;}
	#action{display:flex;}
	#action>a{flex-grow:1;border:0;border-radius:0;padding:0;font-size:21px;text-align:center;margin-right:0px;}
	#action h6{display:none;}
}

/* qrcode */
#qrCode{text-align:center;}
#qrCode>img{width:75%;}
@media screen and (max-width:768px){
	#qrCode{display:none;}
}

/*switch*/
.tms-switch-favor,.tms-switch-forward,.tms-switch-siteuser{margin-right:40px;}

/*picviewer*/
#picViewer{position:absolute;left:0px;right:0px;top:0px;bottom:0px;z-index:999;display:none;margin:0 auto;overflow:hidden;background:black}
#picViewer>div{position:absolute;bottom:6px;left:8px;right:8px;z-index:1999;height:36px}
#picViewer span{display:inline-block;width:36px;height:36px;line-height:36px;border-radius:18px;font-size:36px;text-align:center}
#picViewer span.page{position:absolute;left:50%;margin-left:-18px;font-size:18px}
#picViewer span.prev{position:absolute;left:50%;margin-left:-72px}
#picViewer span.next{position:absolute;left:50%;margin-left:36px}
#picViewer span.exit{position:absolute;right:0}
#frmPlugin{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;border:none;z-index:999;box-sizing:border-box;padding-bottom:48px;background:#fff;}
#frmPlugin iframe{width:100%;height:100%;}
#frmPlugin:after{content:'关闭';position:absolute;width:100px;text-align:center;left:50%;margin-left:-50px;bottom:4px;padding:5px 6px 3px;border:1px solid #ccc;border-radius:4px;}
