html,body{height:100%;width:100%;position:relative;overflow:hidden;}
.ng-cloak{display:none;}
.article{position:relative;height:100%;box-sizing:border-box;overflow-y:auto;padding-top:50px;white-space:normal;word-wrap:break-word;word-break:break-all}
@media screen and (max-width:768px){
	.article{padding-top:0px;}
	.bgf{margin-bottom:0px;}
}

/* left-column */
#title{font-size:28px;font-weight:700;padding:0 10px;}
#attribute{margin-top:10px;margin-bottom:30px;padding:0 10px;}
#attribute > .siteName{margin-right:55px;}
#attribute > h6{margin-right:15px;color:#999;}
.article .headpic{margin:10px 0}
.article img{display:block;max-width:100%;margin:5px auto;}
.article .content{margin:12pt 0 30pt 0;padding:0 10px;}
.article .content p{margin:0 0 12pt;line-height:2em}
.article .url{margin-top:20px}
.article .behavior{padding:20px 10px 30px 10px;border-top:1px dashed #999;position:relative;}
.behavior #attachment,.behavior #tag{margin-bottom:20px;}
.behavior .md-attr{position:absolute;top:20px;right:0;}
.btn-custom-default{margin-left:0;margin-right:20px;border:1px solid #2994d0;background-color:#fff;color:#2994d0;}
.btn-custom-default:hover,.btn-custom-default:active,.btn-custom-default:focus{color:#fff;background-color:#2994d0;}
@media screen and (max-width:768px){
	#title{font-size:24px;font-weight:500;padding-top:10px;}
	.behavior .xs-attr{width:100%;position:absolute;bottom:5px;left:0;}
	.behavior #attr > div{width:33%;font-size:21px;text-align:center;margin-right:0px;}
	.behavior #attr h6{display:none;}
}

/* qrcode */
#qrCode{position:absolute;top:200px;left:0px;text-align:center;}
#qrCode > img{width:75%;}
@media screen and (max-width:768px){
	#qrCode{display:none;}
}

/*site*/
#site{padding:10px;background-color:#fafafa;overflow:hidden;}
#site .site-title{display:block;overflow:hidden;margin-bottom:20px;}
.site-title > img{display:inline-block;width:2em;height:2em;margin:0 8px 0 0;}
.site-title > h4{width:80%;line-height:1.7;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.site-title > i{color:#999;line-height:1.7;}
#site .site-summary{line-height:1.7;color:#666;white-space:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all;}
@media screen and (max-width:768px){
	#site{background-color:#fff;margin-bottom:8px;}
	#site .site-title,#site .site-summary{margin-bottom:4px;}
}

/*switch*/
.tms-switch-favor,.tms-switch-forward,.tms-switch-siteuser{margin-right:40px;}

/*picviewer*/
#picViewer{position:absolute;left:0px;right:0px;top:0px;bottom:0px;z-index:999;display:none;margin:0 auto;overflow:hidden;background:black}
#picViewer>div{position:absolute;bottom:6px;left:8px;right:8px;z-index:1999;height:36px}
#picViewer span{display:inline-block;width:36px;height:36px;line-height:36px;border-radius:18px;font-size:36px;text-align:center}
#picViewer span.page{position:absolute;left:50%;margin-left:-18px;font-size:18px}
#picViewer span.prev{position:absolute;left:50%;margin-left:-72px}
#picViewer span.next{position:absolute;left:50%;margin-left:36px}
#picViewer span.exit{position:absolute;right:0}
#frmPlugin{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;border:none;z-index:999;box-sizing:border-box;padding-bottom:48px;background:#fff;}
#frmPlugin iframe{width:100%;height:100%;}
#frmPlugin:after{content:'关闭';position:absolute;width:100px;text-align:center;left:50%;margin-left:-50px;bottom:4px;padding:5px 6px 3px;border:1px solid #ccc;border-radius:4px;}
