<div class='container-fluid'>
    <div id='list' class='row'>
        <nav class="navbar navbar-default navbar-fixed-top">
            <form class="navbar-form navbar-left tms-keep-inline">
                <div class="btn-group dropdown" uib-dropdown>
                    <button uib-dropdown-toggle ng-disabled="!countSelected()" class="btn btn-default">
                        选中记录 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="" ng-click="batchVerify()">通过审核</a></li>
                    </ul>
                </div>
                <button class='btn btn-default' ng-click="filter()">筛选</button>
                <label class='checkbox-inline' style='color:red' ng-show="imageSchemas.length">
                    <input type='checkbox' ng-model="bShowImage"> 显示图片</label>
            </form>
        </nav>
        <div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:50px'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected">
                        </th>
                        <th>登记时间</th>
                        <th ng-if="app.multi_rounds==='Y'">登记轮次</th>
                        <th>审核通过</th>
                        <th>用户昵称</th>
                        <th ng-repeat="schema in recordSchemas2">{{schema.title}}</th>
                        <th ng-repeat="schema in enrollDataSchemas">{{schema.title}}</th>
                        <th ng-repeat="schema in groupDataSchemas">{{schema.title}}</th>
                        <th>标签</th>
                        <th>备注</th>
                        <th style='width:72px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='r in records' class='record'>
                        <td data-th='选择'>
                            <div>
                                <input type='checkbox' ng-model="rows.selected[$index]">
                            </div>
                        </td>
                        <td data-th='登记时间'>
                            <div ng-class="{unread:r.enroll_at>lastCachedStatus.lastAt}">{{(r.enroll_at*1000)|date:'MM-dd HH:mm'}}</div>
                        </td>
                        <td data-th='登记轮次' ng-if="app.multi_rounds==='Y'">
                            <div>{{r.round.title}}</div>
                        </td>
                        <td data-th='审核通过'>
                            <div ng-class="{'notice':r.verified==='N'}">{{r.verified}}</div>
                        </td>
                        <td data-th='用户昵称'>
                            <div>{{r.nickname}}</div>
                        </td>
                        <td data-th='{{schema.title}}' ng-repeat="schema in recordSchemas2" ng-switch on="schema.type">
                            <div ng-switch-when="image">
                                <img ng-repeat="img in r._data[schema.id]" ng-src='{{img}}' ng-if="bShowImage" />
                            </div>
                            <div ng-switch-when="file">
                                <span ng-repeat='file in r._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </div>
                            <div ng-switch-when="multitext">
                                <p ng-repeat='item in r._data[schema.id]'><span ng-bind="item.value"></span></p>
                            </div>
                            <div ng-switch-when="date">{{(r._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</div>
                            <div ng-switch-when="remark" ng-class="{unread:r.verbose.data[schema.id].last_remark_at>lastCachedStatus.lastAt}">{{r.verbose.data[schema.id].remark_num}}</div>
                            <div ng-switch-when="agreed">
                                <select class='form-control input-sm' ng-model="r.verbose.data[schema.id].agreed" ng-change="setAgreed(r,schema.id)">
                                    <option value=''>不表态</option>
                                    <option value='A'>接受</option>
                                    <option value='Y'>推荐</option>
                                    <option value='N'>屏蔽</option>
                                </select>
                            </div>
                            <div ng-switch-default ng-bind-html="r._data[schema.id]"></div>
                            <div ng-if="['single', 'multiple', 'image', 'file'].indexOf(schema.type)!==-1&&r.supplement[schema.id].length">(补充说明：{{r.supplement[schema.id]}})</div>
                        </td>
                        <td data-th='{{schema.title}}' ng-repeat="schema in enrollDataSchemas" ng-switch on="schema.type">
                            <div ng-switch-when="image">
                                <img ng-repeat="img in r._data[schema.id]" ng-src='{{img}}' ng-if="bShowImage" />
                            </div>
                            <div ng-switch-when="file">
                                <span ng-repeat='file in r._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </div>
                            <div ng-switch-when="multitext">
                                <p ng-repeat='item in r._data[schema.id]'><span ng-bind="item.value"></span></p>
                            </div>
                            <div ng-switch-when="date">{{(r._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</div>
                            <div ng-switch-default ng-bind-html="r._data[schema.id]"></div>
                        </td>
                        <td data-th='{{schema.title}}' ng-repeat="schema in groupDataSchemas" ng-switch on="schema.type">
                            <div ng-switch-when="image">
                                <img ng-repeat="img in r._data[schema.id]" ng-src='{{img}}' ng-if="bShowImage" />
                            </div>
                            <div ng-switch-when="file">
                                <span ng-repeat='file in r._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </div>
                            <div ng-switch-when="multitext">
                                <p ng-repeat='item in r._data[schema.id]'><span ng-bind="item.value"></span></p>
                            </div>
                            <div ng-switch-when="date">{{(r._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</div>
                            <div ng-switch-default ng-bind-html="r._data[schema.id]"></div>
                        </td>
                        <td data-th='标签'>
                            <div>{{r.tags}}</div>
                        </td>
                        <td data-th='备注'>
                            <div>{{r.comment}}</div>
                        </td>
                        <td data-th='操作' class='span-cols-sm'>
                            <div class='hidden-xs'>
                                <button uib-popover-template="'leadToLogin.html'" popover-placement="bottom-right" popover-trigger="show" class='btn btn-xs btn-danger' ng-click='removeRecord($event,r)'>
                                    <i class='glyphicon glyphicon-remove'></i>
                                </button>
                                <button uib-popover-template="'leadToLogin.html'" popover-placement="bottom-right" popover-trigger="show" class='btn btn-xs btn-default' ng-click="switchToRecord($event,r)">
                                    <i class='glyphicon glyphicon-edit'></i>
                                </button>
                            </div>
                            <div class='visible-xs'>
                                <button uib-popover-template="'leadToLogin.html'" popover-placement="bottom-right" popover-trigger="show" class='btn btn-danger' ng-click='removeRecord($event,r)'>删除</button>
                                <button uib-popover-template="'leadToLogin.html'" popover-placement="bottom-right" popover-trigger="show" class='btn btn-default pull-right' ng-click="switchToRecord($event,r)">修改</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot ng-if="numberSchemas.length" class='hidden-xs'>
                    <tr>
                        <td>合计</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-repeat="schema in recordSchemas2" ng-switch on="schema.type">
                            <div ng-if="schema.format==='number'">
                                {{sum4SchemaAtPage[schema.id]}}/{{sum4Schema[schema.id]}}
                            </div>
                        </td>
                        <td class='matched enroll' ng-repeat="schema in enrollDataSchemas"></td>
                        <td class='matched group' ng-repeat="schema in groupDataSchemas"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <form class="navbar-form navbar-right">
                <p class="tms-keep-inline"><a href="" ng-click="switchTo('report')" class="navbar-link">看报告</a></p>
                <p class="tms-keep-inline" ng-if="remarkableSchemas.length"><a href="" ng-click="switchTo('remarks')" class="navbar-link">看评论</a></p>
                <span> 共{{page.total}}条，</span>
                <span>第 <select class='form-control' ng-model="page.at" ng-options="number as number for number in page.numbers" ng-change="getRecords()"></select><span>页</span></span>
                <button class='btn btn-default' ng-click="getRecords()">刷新</button>
            </form>
        </nav>
    </div>
    <script type="text/ng-template" id="leadToLogin.html">
        <div>
            <span>请登录后进行此操作，<a href='' ng-click="switchToLogin($event) ">继续</a></span>
        </div>
    </script>
</div>
