<div ng-controller="ctrlEdit">
    <div class="form-group" ng-if="activeSchema.type==='member'">
        <select class='form-control' disabled ng-model='selectedMemberSchema.schema' ng-options='ms.title for ms in memberSchemas'>
            <option></option>
        </select>
        <select class='form-control' disabled ng-model='selectedMemberSchema.attr' ng-options='a.title for a in selectedMemberSchema.schema._schemas'>
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <input type='text' class='form-control' placeholder="标题" ng-model='activeSchema.title' required ng-change="updSchema('title')">
    </div>
    <div class="form-group" ng-if="['single','multiple'].indexOf(activeSchema.type)!==-1">
        <button class="btn btn-default btn-sm" ng-click='addOption()'>添加</button>
        <ul class='list-group' style='margin-bottom:0;' ng-keyup="onOptionKeyup($event)">
            <li class='list-group-item' ng-repeat='op in activeSchema.ops' editable prop='l' obj='op'></li>
        </ul>
    </div>
    <div class="form-group" ng-if="'phase'===activeSchema.type">
        <ul class='list-group' style='margin-bottom:0'>
            <li class='list-group-item' ng-repeat='phase in app.mission.phases'>{{phase.title}}</li>
        </ul>
    </div>
    <div class="checkbox" ng-show="['name','mobile','email','shorttext'].indexOf(activeSchema.type)!==-1">
        <label><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='activeSchema.unique' ng-change="updSchema('unique')">唯一</label>
    </div>
    <button class='btn btn-sm btn-default' ng-click="removePopover()"><span class='glyphicon glyphicon-trash'></span></button>
    <button class='btn btn-sm btn-default' ng-click="upPopover()"><span class='glyphicon glyphicon-arrow-up'></span></button>
    <button class='btn btn-sm btn-default' ng-click="downPopover()"><span class='glyphicon glyphicon-arrow-down'></span></button>
    <button class='btn btn-default' ng-click="closePopover()">关闭</button>
</div>