<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">筛选条件</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">用户</label>
            <div class="col-md-9">
                <input type='text' class='form-control' ng-model="criteria.byUser">
            </div>
        </div>
        <div class="form-group" ng-switch on="type">
            <label class="col-md-3 control-label">事件类型</label>
            <div class="col-md-9" ng-switch-when="site">
                <select class='form-control' ng-model="criteria.byOp">
                    <option value="ALL">全部类型</option>
                    <option value="{{op.value}}" ng-repeat="op in siteOperations">{{op.title}}</option>
                </select>
            </div>
            <div class="col-md-9" ng-switch-when="pl">
                <select class='form-control' ng-model="criteria.byOp">
                    <option value="ALL">全部类型</option>
                    <option value="{{op.value}}" ng-repeat="op in plOperations">{{op.title}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>