<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php echo APP_TITLE;?>——个人中心</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
    <link href="<?php echo auto_version('/views/default/site/fe/user/main.css');?>" rel="stylesheet">
</head>

<body ng-controller='ctrlMain' class="ng-cloak" ng-cloak>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <nav class='navbar site-navbar-default navbar-fixed-top'>
        <div class='container-fluid text-right'>
            <p class="navbar-text">
                <a class='navbar-link' href='/rest/home' target='_self'>
                    <?php echo APP_TITLE;?> &nbsp;
                    <span class='glyphicon glyphicon-menu-right'></span>
                </a>
            </p>
        </div>
    </nav>
    <div class="container">
        <div class='avatar'>
            <div class='headimg' ng-if="user.loginExpire" tms-image-input="Y" ng-click="changeHeadImg()">
                <img ng-src="{{user.headimgurl}}">
                <span class='img-edit'><i class='glyphicon glyphicon-edit'></i> 上传新头像</span>
            </div>
            <div class='headimg' ng-if="!user.loginExpire">
                <img ng-src="{{user.headimgurl}}" >
                <span></span>
            </div>
            <div class='nickname' ng-bind="user.nickname"></div>
        </div>
        <div class='list-group'>
            <a class='list-group-item' href="/rest/site/fe/user/history?site={{site.id}}" target="_self">项目和活动<span class="badge" ng-bind="count.app"></span><span class="badge" ng-bind="count.mission"></span></a>
            <a class='list-group-item hide' href="/rest/site/fe/user/coin?site={{site.id}}" target="_self">我的积分</a>
            <a class='list-group-item hide subscription' href="/rest/site/fe/user/subscribe?site={{site.id}}" target="_self">我的关注<span class="badge-new" ng-if="count.newSubscriptions>0"></span><span class="badge" ng-bind="count.subscription"></span></a>
            <a class='list-group-item' href="/rest/site/fe/user/favor?site={{site.id}}" target="_self">我的收藏<span class="badge" ng-bind="count.favor"></span></a>
            <a class='list-group-item' href="/rest/site/fe/user/notice?site={{site.id}}" target="_self">我的通知<span class="badge" ng-bind="count.notice"></span></a>
            <a class='list-group-item hide' href="/rest/site/fe/user/share?site={{site.id}}" target="_self">我的分享</a>
            <a ng-if="count.invite" class='list-group-item' href="/rest/site/fe/user/invite?site={{site.id}}" target="_self">我的邀请<span class="badge" ng-bind="count.invite"></span></a>
            <a href class='list-group-item' ng-click="toggleUserSetting($event)">
                <span>个人设置</span>
                <div ng-if="userSetting">
                    <hr>
                    <div class='form-group'>
                        <input type='text' class='form-control input-lg' name='nickname' ng-model="user.nickname" placeholder='用户昵称'>
                    </div>
                    <div class='form-group'>
                        <button class="btn btn-lg btn-block btn-success" ng-click="changeNickname()">修改昵称</button>
                    </div>
                    <hr>
                    <div class='form-group'>
                        <input type='password' class='form-control input-lg' name='password' ng-model="user.password" placeholder='输入8-16位密码(需包含数字、字母、特殊字符)'>
                    </div>
                    <div class='form-group'>
                        <input type='password' class='form-control input-lg' ng-pattern="repeatPwd" name='password2' ng-model="password2" placeholder='再次输入登录密码' />
                    </div>
                    <div class='form-group'>
                        <button class="btn btn-lg btn-block btn-success" ng-click="changePwd()">修改登录密码</button>
                    </div>
                </div>
            </a>
        </div>
        <hr>
        <div>
            <button class="btn btn-default btn-block" ng-click='gotoLogin()' ng-if="!user.loginExpire">去登录</button>
            <button class="btn btn-default btn-block" ng-repeat="thirdApp in thirdApps" ng-click='openThirdAppUrl(thirdApp)' ng-if="!user.loginExpire&&thirdApps.length">{{thirdApp.appname}}账号/密码登录</button>
            <button class="btn btn-default btn-block" ng-click='gotoRegister()' ng-if="!user.loginExpire">注册，方便多终端访问</button>
            <button class="btn btn-default btn-block" ng-click='gotoMember(ms)' ng-repeat="ms in memberSchemas">补充【{{ms.title}}】信息</button>
            <button class="btn btn-default btn-block" ng-click='gotoConsole()' ng-if="user.loginExpire">进入工作台</button>
            <button class="btn btn-default btn-block" ng-click='logout()' ng-if="user.loginExpire">退出登录</button>
        </div>
        <div ng-if="user.siteRegistersByWx.length">
            <hr>
            <button ng-repeat="regUser in user.siteRegistersByWx" class='btn btn-default btn-block' ng-click="shiftRegUser(regUser)">用【<span ng-bind="regUser.uname"></span><span ng-if="regUser.is_wx_primary==='Y'">（微信默认）</span>】登录</button>
        </div>
        <div ng-if="user.plRegistersByWx.length">
            <hr>
            <div class='form-group' ng-repeat="regUser in user.plRegistersByWx">
                <button class='btn btn-default btn-block' ng-click="loginByReg(regUser)">用【<span ng-bind="regUser.uname"></span>】登录</button>
            </div>
        </div>
        <div style='height:60px'></div>
    </div>
    <nav class='navbar navbar-default navbar-fixed-bottom' ng-if="site.id!=='platform'">
        <div class='container-fluid text-right'>
            <p class="navbar-text">
                <a class='navbar-link' href='/rest/site/home?site={{site.id}}' target='_self'>
                    {{site.name}}&nbsp;<span class='glyphicon glyphicon-menu-right'></span>
                </a>
            </p>
        </div>
    </nav>
    <script src="<?php echo auto_version('/static/js/xxt.ui.error.js');?>"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="<?php echo auto_version('/asset/js/xxt.ui.http.js');?>"></script>
    <script src="<?php echo auto_version('/views/default/site/fe/user/main.js');?>"></script>
</body>

</html>