<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMember'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title>用户认证</title>
        <link href="//libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body{background-color:#f8f8f8;font-family:'Microsoft Yahei',Arial;position:relative;padding-top:60px;}
            #errmsg,#infomsg{position:fixed;top:0;left:0;right:0;text-align:center;}
        </style>
        <style ng-if="page.css" ng-bind='page.css'></style>
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <div id='errmsg' class='alert alert-danger' ng-class="{'active':errmsg}" ng-click="errmsg=''" ng-bind="errmsg" ng-show="errmsg"></div>
        <div id='infomsg' class='alert alert-success' ng-class="{'active':infomsg}" ng-click="infomsg=''" ng-bind="infomsg" ng-show="infomsg"></div>
        <div class="app">
            <div class='container'>
                <div class='row'>
                    <div dynamic-html="page.html">
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/angular.min.js "></script>
        <script src="/views/default/site/fe/user/member.js?_=13"></script>
    </body>
</html>