<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>选择自定义用户</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{background-color:#f8f8f8;font-family:'Microsoft Yahei',Arial;}
        #errmsg,#infomsg{position:fixed;top:0;left:0;right:0;text-align:center}
    </style>
</head>

<body ng-cloak class='ng-cloak' ng-app='app' ng-controller='ctrlMain'>
    <div id='errmsg' class='alert alert-danger' ng-class="{'active':errmsg}" ng-click="errmsg=''" ng-bind="errmsg" ng-show="errmsg"></div>
    <div id='infomsg' class='alert alert-success' ng-class="{'active':infomsg}" ng-click="infomsg=''" ng-bind="infomsg" ng-show="infomsg"></div>
    <div class='container'>
        <div class='row'>
            <div class='list-group'>
                <div class='list-group-item' ng-repeat="schema in schemas">
                    <a class='btn btn-primary btn-lg btn-block' ng-href='{{schema.url}}'>{{schema.title}}</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/angular.min.js"></script>
    <script src="/views/default/site/fe/user/schemaoptions.js?_=1"></script>
</body>

</html>
