/* matters */
.matters > .list-group > .list-group-item:hover{cursor:pointer;}
.list-group-item{margin-bottom:8px;overflow:hidden;}
.actions{height:36px;background:#eee;margin:12px -15px 0}
.actions>span{display:inline-block;width:49%;text-align:center;line-height:36px}
.actions .like:before{content:' ';margin-right:4px;-webkit-tap-highlight-color:rgba(0,0,0,0);display:inline-block;background-image:url("/static/img/icons.svg");background-size:68.75px 103.13px;background-position:-31.25px 0;background-repeat:no-repeat;width:15px;height:15px}
.actions .like.praised:before{background-position:-31.25px -25px}
.actions .remark:before{content:'评论';margin-right:4px}

/*site*/
#site{padding:10px;background-color:#fafafa;overflow:hidden;}
#site .site-title{display:flex;overflow:hidden;margin-bottom:20px;}
.site-title>img{display:inline-block;width:2em;height:2em;margin:0 8px 0 0;}
.site-title>span{height:2em;line-height:2em;overflow:hidden;text-overflow:ellipsis;}
.site-title>i{color:#999;line-height:2em;}
#site .site-summary{line-height:1.7;color:#666;white-space:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all;}
@media screen and (max-width:768px){
	#site{background-color:#fff;margin-bottom:8px;}
	#site .site-title,#site .site-summary{margin-bottom:4px;}
}

/* auth */
#frmAuth{display:none;position:absolute;top:0;left:0;right:0;border:none;width:100%;z-index:999;box-sizing:border-box;}
