<!DOCTYPE html>
<html ng-app='xxt' ng-controller='ctrl'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
        <base href="/" />
        <title><?php TPL::pt('title');?></title>
        <link href="//libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href='/views/default/site/fe/matter/channel/main.css?_=1' rel="stylesheet">
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <div class="matters">
            <select class='form-control input-lg' ng-model='Matter.orderby' ng-change='Matter.changeOrderby()' ng-if="channel.matter_type==='article'">
                <option value='time'>最新</option>
                <option value='score'>最热</option>
            </select>
            <ul class='list-group' infinite-scroll="Matter.nextPage()" infinite-scroll-disabled="Matter.busy" infinite-scroll-distance="1">
                <li class='list-group-item' ng-repeat='m in Matter.matters' ng-click='open(m)'>
                    <div class='header clearfix'>
                        <div class='create_at' ng-bind="m.add_at*1000|date:'yyyy-MM-dd'"></div>
                        <div class='creater_name' ng-bind='m.creater_name' style='display:none'></div>
                    </div>
                    <div class='content'>
                        <div ng-if="channel.show_pic_in_page==='Y'" ng-class="{'heading_pic':channel.show_pic_in_page==='Y'}" style="{{'background-image:url('+m.pic+')'}}"></div>
                        <div class='text'>
                            <div class='title' ng-bind='m.title'></div>
                            <div class='summary' ng-class="{'last-row':channel.matter_type!=='article'}" ng-bind='m.summary'></div>
                        </div>
                    </div>
                    <div class='actions' ng-if="channel.matter_type==='article'">
                        <span class='like' ng-class="{'praised':m.myscore==1}" ng-bind='m.score'></span>
                        <span class='remark' ng-bind='m.remark_num'></span>
                    </div>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
        if (/MicroMessenger/i.test(navigator.userAgent)) {
        var mpid = location.search.match(/mpid=([^&]*)/)[1];
        document.write("<script src='http:\/\/res.wx.qq.com\/open\/js\/jweixin-1.0.0.js'><\/script>");
        document.write("<script src='\/rest\/mi\/matter\/wxjssdksignpackage?mpid="+mpid+"&url="+encodeURIComponent(location.href.split('#')[0])+"'><\/script>");
        }
        </script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/ng-infinite-scroll.min.js"></script>
        <script src="/static/js/xxt.share.js?_=1"></script>
        <script src="/views/default/site/fe/matter/channel/main.js?_=2"></script>
        <script type="text/javascript">
        if (document.location.host === 'xinxintong.sinaapp.com') {
        var _bdhmProtocol = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F40ec59c933400d729f57930675635edb' type='text/javascript'%3E%3C/script%3E"));
        }
        </script>
    </body>
</html>