<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/custom-bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/home.fe.css');?>" rel="stylesheet">
    <link href='/views/default/site/fe/matter/channel/main.css?_=1' rel="stylesheet">
</head>

<body ng-app='app' ng-controller='ctrl' ng-cloak class='ng-cloak'>
    <div class="matters">
        <div class='form-group' ng-if="channel.matter_type==='article'">
            <select class='form-control input-lg' ng-model='Matter.orderby' ng-change='Matter.changeOrderby()'>
                <option value='time'>最新</option>
                <option value='score'>最热</option>
            </select>
        </div>
        <ul class='list-group' infinite-scroll="Matter.nextPage()" infinite-scroll-disabled="Matter.busy" infinite-scroll-distance="1">
            <li class='list-group-item media-item' ng-repeat='m in Matter.matters' ng-click='open(m)'>
                <div class="media-item-left">
                    <div class="media-item-img" ng-style="{'background-image':'url('+m.pic||m.thumbnail+')'}">
                    </div>
                </div>
                <div class="media-item-body">
                    <div class='creater_name'>
                        <a ng-href='/rest/site/home?site={{siteInfo.id}}'>
                            <img class="img-circle" ng-src="{{siteInfo.heading_pic}}" style="width:12px;height:12px">
                            <h6 class="inline pdl10">{{siteInfo.name}}</h6>
                            <i class="glyphicon glyphicon-menu-right pull-right"></i>
                        </a>
                    </div>
                    <h4 class="media-heading">{{m.title}}</h4>
                    <h5 class="media-summary">{{m.summary}}</h5>
                    <div class='attr clearfix'>
                        <div class='put_at pull-left'>
                            <a href="">
                                <h6 class="inline" ng-bind="m.add_at*1000|date:'yyyy-MM-dd'"></h6>
                            </a>
                        </div>
                        <div class="create_name">
                            <a href="">
                                <h6 class="inline" ng-bind="m.creater_name" style='display:none'></h6>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class='form-group'>
        <button class='btn btn-default btn-block' style="margin-left:0" ng-disabled="Matter.end" ng-click="Matter.nextPage()">更多</button>
    </div>
    <script type="text/javascript">
    if (/MicroMessenger/i.test(navigator.userAgent)) {
        var siteid = location.search.match(/site=([^&]*)/)[1];
        document.write("<script src='http:\/\/res.wx.qq.com\/open\/js\/jweixin-1.0.0.js'><\/script>");
        document.write("<script src='\/rest\/site\/fe\/base\/wxjssdksignpackage?site=" + siteid + "&url=" + encodeURIComponent(location.href.split('#')[0]) + "'><\/script>");
    }
    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/ng-infinite-scroll.min.js"></script>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/xxt.share.js?_=1"></script>
    <script src="<?php echo auto_version('/views/default/site/fe/matter/channel/main.js');?>"></script>
</body>

</html>