<div ng-controller='AwardCtrl'>
    <div class='list-group'>
        <div class='list-group-item' ng-repeat='award in lottery.awards'>
            <div class='form-inline'>
                <div class='form-group'>
                    <input type='text' class='form-control' ng-model='award.title' title='奖项名称' tms-auto-update tms-wait=1000 tms-update="update(award,'title')"
                    placeholder='奖项名称'>
                </div>
                <div class='form-group'>
                    <select class='form-control' title='奖项类型' ng-model='award.type' ng-change="update(award,'type')" ng-options='at.v as at.n for at in awardTypes'></select>
                </div>
                <div class='form-group' ng-if="award.type==3">
                    <select class='form-control' title='完成任务' ng-model='award.taskid' ng-change="update(award,'taskid')" ng-options='t.tid as t.title for t in lottery.tasks'>
                        <option value=''></option>
                    </select>
                </div>
                <div class='form-group' ng-if='award.type!=0'>
                    <select class='form-control' title='计数周期' ng-model='award.period' ng-change="update(award,'period');">
                        <option value='A'>总计</option>
                        <option value='D'>每天</option>
                    </select>
                </div>
                <div class='form-group' ng-if='award.type!=0'>
                    <input type='text' class='form-control' style='width:100px' title='奖品数量' ng-model='award.quantity' tms-auto-update tms-wait=1000
                    tms-update="update(award,'quantity')" placeholder='奖品数量'>
                </div>
                <div class='form-group'>
                    <div class='input-group' style='width:100px'>
                        <input type='text' class='form-control' title='中奖概率' ng-model='award.prob' tms-auto-update tms-wait=1000 tms-update="update(award,'prob')"
                        placeholder='中奖概率'>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class='form-group' ng-if="award.type==99&&award.period==='A'">
                    <input type='text' class='form-control' style='width:100px' title='已领取数量' ng-model='award.takeaway' tms-auto-update tms-wait=1000
                    tms-update="update(award,'takeaway')" placeholder='已领取数量'>
                </div>
                <button class='btn btn-default pull-right' ng-click='removeAward(award)'>
                <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
            <div>
                <input type="text" class="form-control" placeholder="兑奖URL" ng-model="award.get_prize_url" tms-auto-update tms-wait=1000
                tms-update="update(award,'get_prize_url')">
            </div>
            <div class='row' style='margin-top:10px'>
                <div class='col-md-4'>
                    <textarea class='form-control' style='height:10em' title='奖项描述' ng-model='award.description' tms-auto-update tms-wait=1000
                    tms-update="update(award,'description')" placeholder='奖项描述'></textarea>
                </div>
                <div class='col-md-4'>
                    <textarea class='form-control' style='height:10em' title='中奖词' ng-model='award.greeting' tms-auto-update tms-wait=1000 tms-update="update(award,'greeting')"
                    placeholder='中奖词'></textarea>
                </div>
                <div class='col-md-3'>
                    <div style="height:10em;border:1px solid #CCC">
                        <div style="height:100%;text-align:center;padding-top:3em" ng-if="award.pic==''">
                            <button class='btn btn-default' ng-click='setPic(award);'>
                            <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                        </div>
                        <div style='height:100%;position:relative' ng-if="award.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{award.pic}}" width='100%' height='100%' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic(award)'>
                            <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic(award)'>
                            <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='list-group-item'>
            <div style='display:table;height:100%;width:100%'>
                <div style='display:table-cell;text-align:center;vertical-align: middle'>
                    <button class='btn btn-primary btn-lg' ng-click='addAward()'>添加奖项</button>
                </div>
            </div>
        </div>
    </div>
    <mediagallery box-id="{{mpaccount.mpid}}" />
</div>