<div class='form-horizontal' ng-controller='SettingCtrl'>
    <div class='form-group' ng-if="lottery.fans_only==='Y'">
        <label class='col-md-2 control-label'>不是关注用户提示（抽奖时提示）</label>
        <div class='col-md-10'>
            <textarea class="form-control" ng-model='lottery.nonfans_alert' tms-auto-update tms-wait=1000 tms-update="update('nonfans_alert');"></textarea>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-2 control-label'>活动未开始提示</label>
        <div class='col-md-10'>
            <textarea class="form-control" ng-model='lottery.nostart_alert' tms-auto-update tms-wait=1000 tms-update="update('nostart_alert');"></textarea>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-2 control-label'>活动已结束提示</label>
        <div class='col-md-10'>
            <textarea class="form-control" ng-model='lottery.hasend_alert' tms-auto-update tms-wait=1000 tms-update="update('hasend_alert');"></textarea>
        </div>
    </div>
    <div class='form-group' ng-if="lottery.precondition==='Y'">
        <label class='col-md-2 control-label'>前置活动说明</label>
        <div class='col-md-10'>
            <textarea class="form-control" ng-model='lottery.preactivity' tms-auto-update tms-wait=1000 tms-update="update('preactivity');"></textarea>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-2 control-label'>抽奖机会用完提示</label>
        <div class='col-md-10'>
            <textarea class="form-control" ng-model='lottery.nochance_alert' tms-auto-update tms-wait=1000 tms-update="update('nochance_alert');"></textarea>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-2 control-label'>奖项中奖词</label>
        <div class='col-md-10'>
            <div class='checkbox'>
                <label><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='lottery.show_greeting' ng-change="update('show_greeting');">显示</label>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-2 control-label'>获奖名单</label>
        <div class='col-md-10'>
            <div class='checkbox'>
                <label><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='lottery.show_winners' ng-change="update('show_winners');">显示</label>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-2 control-label'>定制页面</label>
        <div class='col-md-10'>
            <div class='checkbox'>
                <label><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='lottery.custom_body' ng-change="update('custom_body');">是</label>
                <a href='#' ng-click='gotoCode()' ng-show="lottery.custom_body==='Y'">编辑页面</a>
            </div>
        </div>
    </div>
    <div ng-show="lottery.custom_body==='N'">
        <div class='form-group'>
            <label class='col-md-2 control-label'>补充内容（HTML）</label>
            <div class='col-md-10'>
                <textarea class="form-control" ng-model='lottery.extra_ele' rows=6 tms-auto-update tms-wait=1000 tms-update="update('extra_ele');"></textarea>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>样式（CSS）</label>
            <div class='col-md-10'>
                <textarea class="form-control" ng-model='lottery.extra_css' rows=6 tms-auto-update tms-wait=1000 tms-update="update('extra_css');"></textarea>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>脚本（JS）</label>
            <div class='col-md-10'>
                <textarea class="form-control" ng-model='lottery.extra_js' rows=6 tms-auto-update tms-wait=1000 tms-update="update('extra_js');"></textarea>
            </div>
        </div>
        <div>
        </div>
