<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <?php echo TPL::val('title');?>
    </title>
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
    <style>
    body {
        height: 100%;
        font-family: Microsoft Yahei, Arial
    }
    </style>
    <?php $css=TPL::val('css'); if (!empty($css)) {?>
    <style>
    <?php echo $css;
    ?>
    </style>
    <?php }?>
</head>

<body>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <ul class="nav navbar-nav text-right">
                <li>
                    <a href='/rest/site/fe/user?site=platform'><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline"> 我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <?php echo TPL::val('body');?>
    </div>
    <?php $js=TPL::val('js'); if (!empty($js)) {?>
    <script>
    <?php echo $js;?>
    </script>
    <?php }?>
</body>

</html>