body {
    font-family: Microsoft Yahei, Arial;
    font-size: 14px;
    background: #fafafa;
}

body>.container {
    background: #fafafa;
}

.ng-cloak {
    display: none;
}

.main-navbar {
    margin-bottom: 20px;
}

.navbar-default {
    background-color: #2994D0;
    border-bottom: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: #fff;
}

.glyphicon {
    top: 2px;
    margin-right: 10px;
}

.navbar-brand {
    height: 55px;
    padding: 17.5px 15px;
}

.main-navbar .navbar-brand:hover {
    color: #fff;
}

.main-navbar .navbar-nav li {
    font-size: 18px;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

nav form label {
    font-weight: normal;
}

@media screen and (min-width:768px) {
    .navbar-nav>li>a {
        padding: 17.5px 30px;
        font-size: 18px;
        line-height: 1;
    }
}

@media screen and (max-width:768px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
    }
    .navbar-brand>.icon-note {
        display: inline-block;
        width: 124px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .navbar-nav {
        margin: 8px 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav>li>a {
        padding: 10px 10px;
    }
}

@keyframes loadingRunning {
    0% {
        transform: rotate(0deg)
    }
    12% {
        transform: rotate(45deg)
    }
    25% {
        transform: rotate(90deg)
    }
    37% {
        transform: rotate(135deg)
    }
    50% {
        transform: rotate(180deg)
    }
    62% {
        transform: rotate(225deg)
    }
    75% {
        transform: rotate(270deg)
    }
    87% {
        transform: rotate(315deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loadingRunning {
    0% {
        -webkit-transform: rotate(0deg)
    }
    12% {
        -webkit-transform: rotate(45deg)
    }
    25% {
        -webkit-transform: rotate(90deg)
    }
    37% {
        -webkit-transform: rotate(135deg)
    }
    50% {
        -webkit-transform: rotate(180deg)
    }
    62% {
        -webkit-transform: rotate(225deg)
    }
    75% {
        -webkit-transform: rotate(270deg)
    }
    87% {
        -webkit-transform: rotate(315deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(224, 224, 224, 0.9)
}

.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    animation: loadingRunning 1s infinite;
    -webkit-animation: loadingRunning 1s infinite
}

.loading-indicator:before {
    content: "";
    display: block;
    width: 50px;
    height: 25px;
    padding: 5px;
    padding-bottom: 0;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: -webkit-linear-gradient(0deg, #999, # bbb)
}

.loading-indicator:after {
    content: "";
    display: block;
    width: 50px;
    height: 25px;
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: -webkit-linear-gradient(0deg, #eee, #bbb)
}

.loading-indicator>i {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #eee;
    top: 5px;
    left: 5px;
    border-radius: 20px
}

#cardPills {
    margin-bottom: 20px;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #fff;
    border: 1px solid #009900;
    color: darkgreen;
    margin: 0 4px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: lightgreen;
}

.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.nav-justified>li:first-child>a {
    margin-left: 0;
}

.nav-justified>li:last-child>a {
    margin-right: 0;
}

.thumbnail {
    padding: 8px 16px;
}

.thumbnail label {
    font-weight: normal;
    color: #aaa;
    margin: 0;
}

.thumbnail .title {
    margin-bottom: 8px;
}

.thumbnail .row>div {
    margin-bottom: 8px;
}

.thumbnail hr {
    margin: 0 0 8px;
}

.thumbnail a {
    color: #333;
}

#cards .row {
    position: relative;
}

#docs:before, #recommends:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    left: 16.67%;
    border-left: 1px solid #eee;
}

.timeline {
    position: relative;
    padding-top: 4px;
    font-size: 12px;
}

.timeline .date,
.timeline .time {
    white-space: nowrap;
}

.timeline:after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    background: lightgreen;
    border-radius: 8px;
    right: -8px;
}

.nickname, .group {
    display: inline-block;
    color: #aaa;
}

.remark_num, .like_num {
    display: table-cell;
    width: 1%;
    text-align: center;
}

.recommend img, .recommend video, .recommend audio {
    max-width: 100%;
}

.doc .summary, .recommend .value {
    color: #999;
}

#rank .index>div {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff;
    border: 1px solid #009900;
    border-radius: 16px;
    position: relative;
    margin-left: 12px;
    max-width: 6em;
}

#rank .user {
    padding: 8px 16px;
    border-left: 2px solid #009900;
    margin-bottom: 20px;
    background: #fff;
}

#rank {
    index
}

#rank>div {
    counter-increment: index;
}

#rank .index>div:before {
    content: counter(index);
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0%;
    margin-top: -12px;
    background: lightgreen;
    border: 1px solid #009900;
    border-radius: 12px;
    left: -12px;
    color: #009900;
}