<div ng-controller='ctrlSyslog' class='clearfix'>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>公众号</th>
                <th>日期</th>
                <th>操作</th>
                <th>数据</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in logs">
                <td ng-bind="l.mpid"></td>
                <td ng-bind="l.create_at*1000|date:'yy-MM-dd HH:mm'"></td>
                <td ng-bind="l.method"></td>
                <td><span ng-bind="l.data" style="display:inline-block;width:1000px;"></span></td>
                <td><button class='btn btn-danger btn-xs' ng-click='remove(l,$index)'><span class='glyphicon glyphicon-remove'></span></button></td>
            </tr>
        </tbody>
    </table>
    <div class='form-group clearfix'>
        <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
        <pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="fetch()"></pagination>
    </div>
</div>