body{background:#f8f8f8;padding-top:71px;}
.shortcut.navbar-nav{position:absolute;left:50%;margin-left:-208px;float:none;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}

/*setting*/
.tile .form-group,.tile .checkbox{padding:8px;background:#fff;border-radius:4px;}
.help-block{margin-bottom:0;}
.tile .form-group:last-child{margin-bottom:0;}

/*tinymce*/
div.mce-tinymce.mce-container.mce-panel{margin-top:0;border:1px solid #ccc;}
div.mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
div.mce-tinymce div.mce-edit-area{border:0!important;border-top:1px solid #ccc!important;}
div.mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}