<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <label>标题：最多35个汉字，70个英文字符</label>
            <input type="text" class="form-control" ng-model='app.title' tms-auto-update tms-wait=1000 tms-update="update('title');">
        </div>
        <div class='form-group'>
            <label>头图（可选）：建议尺寸：900像素 * 500像素</label>
            <div style='position:relative'>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="!app.pic">
                        <button class='btn btn-default' ng-click='setPic();'>
                        <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                    </div>
                    <div style='position:relative' ng-if="app.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src="{{app.pic}}" width='180px' />
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                        <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                        <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label>摘要（可选）：最多120个汉字，240个英文字符</label>
            <textarea class='form-control' ng-model='app.summary' tms-auto-update tms-wait=1000 tms-update="update('summary');" rows='3'></textarea>
        </div>
        <div class='form-group'>
            <label>图片存储位置</label>
            <div>
                <label class='radio-inline'><input type='radio' name='pic_store_at' value='U' ng-model='app.pic_store_at' ng-change="update('pic_store_at');">用户私有</label>
                <label class='radio-inline'><input type='radio' name='pic_store_at' value='M' ng-model='app.pic_store_at' ng-change="update('pic_store_at');">公众号共有</label>
            </div>
        </div>
        <div class='form-group'>
            <label>投稿自动加入频道</label>
            <select class='form-control' ng-model='app.params.channel' ng-change="update('params');" ng-options='c.id as c.title for c in channels'>
                <option></option>
            </select>
        </div>
        <div class='form-group'>
            <label>投稿人指定投稿加入频道</label>
            <combox evt-prefix='sub-channel' readonly=true prop='title' existing='app.subChannels' options='channels'></combox>
            <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='app.params.requireSubChannel' ng-change="update('params');">必选</label>
        </div>
        <div class='form-group'>
            <label>指定投稿人</label>
            <memberacl site-id='{{siteId}}' obj='app' prop-access='canSetInitiator' prop-acl='initiator' label-of-list='指定投稿人' prop-member-schemas="initiator_schemas" update-member-schemas="update('initiator_schemas')" hide-access-control=true></memberacl>
        </div>
        <div class='form-group'>
            <label>指定审稿人</label>
            <memberacl site-id='{{siteId}}' obj='app' prop-access='canSetReviewer' prop-acl='reviewer' label-of-list='指定投稿人' change-acl-url='/rest/pl/fe/matter/contribute/role/setUser?site={{siteId}}&app={{app.id}}&role=R' remove-acl-url='/rest/pl/fe/matter/contribute/role/delUser?site={{siteId}}&app={{app.id}}' hide-access-control=true hide-member-schemas=true></memberacl>
        </div>
        <div class='form-group'>
            <label>指定版面审稿人</label>
            <memberacl site-id='{{siteId}}' obj='app' prop-access='canSetTypesetter' prop-acl='typesetter' label-of-list='指定投稿人' change-acl-url='/rest/pl/fe/matter/contribute/role/setUser?site={{siteId}}&app={{app.id}}&role=T' remove-acl-url='/rest/pl/fe/matter/contribute/role/delUser?site={{siteId}}&app={{app.id}}' hide-access-control=true hide-member-schemas=true></memberacl>
        </div>
        <div class='form-group'>
            <label class='checkbox-inline'><input type='checkbox' ng-model='app.shift2pc' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update('shift2pc')">用户在手机上打开时，引导用户转发到PC端打开。需在【账号管理】【定制功能】中设置提示内容。</label>
        </div>
        <div class='form-group'>
            <label class='checkbox-inline'><input type='checkbox' ng-model='app.can_taskcode' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update('can_taskcode')">通过任务码直接在PC浏览器中打开任务。</label>
        </div>
    </div>
    <div class='tile'>
        <label>投稿内容模版</label>
        <tinymce id='templateBody' contenteditable='bodyEditable' height='700'></tinymce>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
        <button class='btn btn-block' ng-click="run()" ng-disabled='modified' ng-class="modified?'btn-default':'btn-success'">开始</button>
    </div>
    <div class='tile'>
        <div class='form-group' ng-controller='ctrlSetChannel' ng-init="matterType='contribute';matterObj='app'">
            <label>活动所属频道</label>
            <combox evt-prefix='channel' readonly=true prop='title' existing='app.channels' options='channels'></combox>
        </div>
        <div class='form-group'>
            <label>管理标签（可选）</label>
            <p class="form-control" ng-click="tagMatter('M')">
                <span class="tag" ng-repeat="t in app.matter_mg_tag" ng-bind="t.title"></span>
            </p>
        </div>
    </div>
    <div class='tile'>
        <a class='btn btn-success' href='/rest/pl/fe/matter/contribute/coin?site={{siteId}}&id={{id}}'>积分规则</a>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>创建人：{{app.creater_name}}</div>
            <div>创建时间：{{app.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
            <div>修改人：{{app.modifier_name}}</div>
            <div>最后一次修改时间：{{app.modify_at*1000|date:'yy-MM-dd HH:mm'}}</div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tagMatterData.html">
    <div class="modal-header">
        <h5 class="modal-title">打标签 - {{tagTitle}}</h5>
    </div>
    <div class="modal-body">
        <div class='list-group' style='max-height:300px;overflow-y:auto'>
            <div class='list-group-item' ng-repeat="tag in apptags">
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="model.selected[$index]"> {{tag.title}}</label>
            </div>
        </div>
        <div class='form-group'>
            <div class='input-group'>
                <input class='form-control' ng-model="model.newtag">
                <div class='input-group-btn'>
                    <button class='btn btn-default' ng-click="createTag()"><span class='glyphicon glyphicon-plus'></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
        <button class="btn btn-primary" ng-click="ok()">设置标签</button>
    </div>
</script>