<div class='container' ng-clock ng-app='xxtApp' ng-controller='myArticleCtrl' style='padding:71px 0' ng-init="jsonParams='<?php echo urlencode(json_encode(TPL::val('params')));?>'">
    <notice-box err='errmsg' info='infomsg' prog='progmsg' delay='2000'></notice-box>
    <div class='col-md-3'>
        <div class='list-group'>
            <div class='list-group-item'><button class='btn btn-success btn-block' ng-click='create()'>添加文章</button></div>
            <a class='list-group-item' ng-repeat='a in articles'>{{a.title}}</a>
        </div>
    </div>
    <div class='col-md-9'>
        <div class='form-horizontal' ng-show='editing'>
            <div class='form-group'>
                <label class='col-md-2 control-label'>标题</label>
                <div class='col-md-10'>
                    <input type='text' class='form-control' ng-model='editing.title' tms-auto-update tms-wait=1000 tms-update="update('title');">
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>创建日期</label>
                <div class='col-md-10'>
                    <p class='form-control-static'>{{editing.create_at*1000|date:'yyyy-MM-dd'}}</p>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>修改日期</label>
                <div class='col-md-10'>
                    <p class='form-control-static'>{{editing.modify_at*1000|date:'yyyy-MM-dd'}}</p>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>头图</label>
                <div class='col-md-10'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="editing.pic==''">
                            <button class='btn btn-default' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span> 选择图片
                            </button>
                        </div>
                        <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{editing.pic}}" width='180px'/>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>摘要</label>
                <div class='col-md-10'>
                    <textarea class='form-control' ng-model='editing.summary' tms-auto-update tms-wait=1000 tms-update="update('summary');"></textarea>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>正文</label>
                <div class='col-md-10'>
                    <tinymce content='editing.body' contenteditable='bodyEditable' update="update('body')" id='body1'></tinymce>
                </div>
            </div>
            <div class='form-group' ng-init="matterType='article'">
                <label class='col-md-2 control-label'>频道（可选）</label>
                <div class='col-md-10'>
                    <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>原文链接(可选)</label>
                <div class='col-md-10'>
                    <textarea class='form-control' ng-model='editing.url'  tms-auto-update tms-wait=1000 tms-update="update('url');"></textarea>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>显示设置</label>
                <div class='col-md-10'>
                    <label class='checkbox-inline'><input type='checkbox' ng-true-value='Y' ng-false-value='N' ng-model='editing.hide_pic' ng-change="update('hide_pic');">隐藏头图</label>
                    <label class='checkbox-inline'><input type='checkbox' ng-true-value='Y' ng-false-value='N' ng-model='editing.can_carousel' ng-change="update('can_carousel');">支持图册</label>
                    <label class='checkbox-inline'><input type='checkbox' ng-true-value='Y' ng-false-value='N' ng-model='editing.can_picviewer' ng-change="update('can_picviewer');">支持图片缩放浏览</label>
                    <label class='checkbox-inline'><input type='checkbox' ng-true-value='Y' ng-false-value='N' ng-model='editing.can_share' ng-change="update('can_share');">可以分享</label>
                </div>
            </div>
        </div>
        <div mattersgallery style='display:none' matter-url='/rest/mp/matter' matter-types='innerlinkTypes'></div>
        <div picgallery style='display:none' url='{{picGalleryUrl}}'></div>
    </div>
</div>
