html,body{height:100%;width:100%;}
ul{margin-top:0;margin-bottom:0;}

/* 公共小类 */
.home{position:relative;padding-bottom:50px;}
.ng-cloak{display:none}
.tms-notice{display:block;overflow-x:hidden;overflow-y:auto;width:360px;max-height:100%;position:fixed;top:0;left:50%;margin:0 0 0 -180px;text-align:center;word-break:break-all;opacity:1;height:auto;}
.site_fe_home{background-image:url('/static/img/site_fe_home.png');}
.col-md-8,.col-md-4,.col-md-9,.col-md-3{float:right;}
.bgf{background-color:#fff;margin-bottom:10px;}
.bgfa{background-color:#fafafa;}
.inline{display:inline;}
.pdl10{padding-left:10px;}
.inline-block{display:inline-block;margin-top:0;margin-bottom:0;}
@media screen and (max-width:768px){
  html,body{background-color:#f5f5f5;}
  .home{padding-bottom:0px;}
  .container{margin-right:auto;margin-left:auto;padding-left:0px;padding-right:0px;}
  .bgfa{background-color:#fff;margin-bottom:10px;}
}

/* 字体图标图片 */
.site_fe_home_icon{position:absolute;width:18px;height:18px;background-repeat:no-repeat;}
.xxt_console{top:11px;left:12px;background-position:-206px -32px;}
.xxt_team{width:22px;top:7px;left:15px;background-position:-106px -70px;}
.xxt_person{top:16px;left:15px;background-position:-107px -32px;}
.xxt_setting{top:58px;left:11px;background-position:-112px -114px;}
.xxt_quite{top:103px;left:12px;background-position:-109px -165px;}

/* nav */
.navbar-default{border-bottom:1px ridge #ececec;}
@media screen and (min-width:768px){
  .navbar-nav{margin:1% 0 0 45px;}
}
.navbar-collapse a > .nav-title{position:relative;font-size:18px;line-height:1.667;}
.navbar-collapse a > span{font-size:18px;line-height:1.667;}
.navbar-nav .active > a > .nav-title:after{content:' ';width:100%;position:absolute;left:0;bottom:-5px;border-bottom:2px solid #2994d0;}
.navbar-form{margin-top:0;margin-bottom:0;}
.dropdown-menu{padding:0px;}
.dropdown-menu>li>a{padding:10px 20px 10px 40px;}
.dropdown-menu>li>a>.xxt_person_index{top:14px;left:11px;background-position:-205px -71px;}
.dropdown-menu>li>a:hover .xxt_person_index{background-position:-157px -72px;}
.dropdown-menu>li>a:hover .xxt_setting{background-position:-43px -112px;}
.dropdown-menu>li>a:hover .xxt_quite{background-position:-40px -165px;}

/*carousel*/
.carousel{background:#fff;margin-bottom:10px;position:relative;}
.carousel-inner:before{content:'';position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 80%,rgba(0,0,0,0.6));}
@media screen and (min-width:768px){
  .carousel-indicators{bottom:0px;}
}
.carousel-indicators li{margin:0 10px 0 0;border-radius:0;background-color:#a3cfe2;border:0;}
.carousel-indicators .active{margin:0 10px 0 0;transform:rotate(45deg);position:relative;}
.carousel-indicators .active:after{content:'';width:4px;height:4px;background-color:#a3cfe2;position:absolute;top:50%;left:50%;margin-left:-2px;margin-top:-2px;}
.carousel-control.left{background-image:none;z-index:2;}
.carousel-control.right{background-image:none;z-index:2;}
@media screen and (max-width:768px){
  .carousel-indicators{bottom:-13px;}
  .carousel-indicators li,.carousel-indicators .active{width:8px;height:8px;}
}

/* tab-page */
@media screen and (min-width:768px){
  .col-md-9{padding-right:19px;}
}
.nav-tabs{border-bottom:none;}
.nav-tabs>li>a{font-size:18px;border:0;}
.nav>li>a{padding:0px 15px;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{border:0;border-bottom:3px solid #2994d0;}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{background-color:#fff;}
ul.nav-tabs >span > a{font-size:20px;line-height:1.4;}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:20px 0;}
.media-item{cursor:pointer;}
.media-item-left{width:31.82%;position:relative;}
.media-item-img{padding-top:57.15%;position:relative;}
.media-item-img > img{position:absolute;top:0;left:0;width:100%;height:100%;}
.media-item-body{width:68.18%;padding-left:20px;padding-right:20px;}
.creater_name > a{display:block;color:#333;line-height:1.5;margin-bottom:10px;}
.media-heading{width:100%;color:#333;margin-bottom:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.media-summary{width:100%;height:50px;color:#666;line-height:inherit;margin-top:0;margin-bottom:20px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.attr div{margin-right:40px;}
.attr a{color:#999;}

/* load-more */
.btn{border:none;line-height:1.1;margin-left:20px;}
.btn-lg{font-size:14px;padding:10px 56px;margin-left:auto;}
.btn-gradient{background:linear-gradient(to right,#7AC7F3,#268ECA);}

/* favor/forward */
#frmPlugin{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;border:none;z-index:999;box-sizing:border-box;padding-bottom:48px;background:#fff;}
#frmPlugin iframe{width:100%;height:100%;}
#frmPlugin:after{content:'关闭';position:absolute;width:100px;text-align:center;left:50%;margin-left:-50px;bottom:4px;padding:5px 6px 3px;border:1px solid #ccc;border-radius:4px;}
@media screen and (max-width:768px){
  .col-md-9 .nav-tabs{padding:10px 10px 0 10px;}
  .nav-tabs > li{width:30%;}
  .nav-tabs>li>a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
  .table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:0;}
  .media-item-left{width:29%;padding:15px 0;}
  .media-item-img{padding-top:82%;}
  .media-item-body{width:71%;padding:7px 10px;}
  .creater_name{margin-bottom:5px;}
  .media-heading{height:3em;line-height:1.5;margin-bottom:5px;white-space:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;word-break:break-all;}
  .media-summary,.favor,.forward{display:none;}
}

/* aside */
.xxt_guide{top:0;left:0;background-position:-111px -209px;}
.mainSide{padding:10px;margin-bottom:10px;}
.mainSide-header{position:relative;margin-bottom:30px;padding-left:30px;}
.mainSide-header > h3{width:80%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mainSide-header > h6 > a{color:#999;}
.list-item > a{display:block;color:inherit;padding-left:30px;padding-bottom:20px;position:relative;}
.list-item > a:before{content:'';width:8px;height:8px;background-color:#2994d0;transform:rotate(45deg);position:absolute;top:10px;left:5px;}
.list-item:not(:last-child) > a:after{content:'';width:1px;height:100%;background-color:#2994d0;position:absolute;top:10px;left:8px;}
.list-item > a > h4{line-height:1.75;}
.list-item > a:hover{color:#2994d0;}
@media screen and (max-width:768px){
  .mainSide .nav-tabs{margin-bottom:10px;}
  .mainSide ul > span > a{font-size:20px;line-height:1.4;}
  .list-item > a{padding-left:20px;padding-bottom:10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
  .list-item > a:before{width:4px;height:4px;transform:rotate(0deg);}
  .list-item:not(:last-child) > a:after{content:'';width:0px;}
}

/* little-tool */
.tms-tool-sidebar{position:fixed;right:0;width:60px;height:60px;cursor:pointer;}
.tms-tool-backtop{bottom:60px;}
.xxt_backTop{width:60px;height:60px;top:0;left:0;background-position:-41px -368px;}

/* xs-bottom */
.row > .footer{padding:10px;background-color:#fff;overflow:hidden;}

/*loading*/
@keyframes loadingRunning{
  0%{transform:rotate(0deg)}
  12%{transform:rotate(45deg)}
  25%{transform:rotate(90deg)}
  37%{transform:rotate(135deg)}
  50%{transform:rotate(180deg)}
  62%{transform:rotate(225deg)}
  75%{transform:rotate(270deg)}
  87%{transform:rotate(315deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loadingRunning{
  0%{-webkit-transform:rotate(0deg)}
  12%{-webkit-transform:rotate(45deg)}
  25%{-webkit-transform:rotate(90deg)}
  37%{-webkit-transform:rotate(135deg)}
  50%{-webkit-transform:rotate(180deg)}
  62%{-webkit-transform:rotate(225deg)}
  75%{-webkit-transform:rotate(270deg)}
  87%{-webkit-transform:rotate(315deg)}
  100%{-webkit-transform:rotate(360deg)}
}
.loading{position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(224,224,224,0.9);z-index:1090;}
.loading-indicator{position:absolute;top:50%;left:50%;margin-left:-25px;margin-top:-25px;width:50px;height:50px;animation:loadingRunning 1s infinite;-webkit-animation:loadingRunning 1s infinite;}
.loading-indicator:before{content:"";display:block;width:50px;height:25px;padding:5px;padding-bottom:0;box-sizing:border-box;border-top-left-radius:25px;border-top-right-radius:25px;background:-webkit-linear-gradient(0deg,#999,#bbb);}
.loading-indicator:after{content:"";display:block;width:50px;height:25px;padding:5px;padding-top:0;box-sizing:border-box;border-bottom-left-radius:25px;border-bottom-right-radius:25px;background:-webkit-linear-gradient(0deg,#eee,#bbb);}
.loading-indicator>i{display:block;position:absolute;width:40px;height:40px;background:#eee;top:5px;left:5px;border-radius:20px;}

/*notice box*/
@keyframes noticeprogress{
  0%{left:0;}
  100%{left:100%;}
}
@-webkit-keyframes noticeprogress{
  0%{left:0;}
  100%{left:100%;}
}
.notice-box{position:fixed;width:50%;top:0px;left:50%;margin-left:-25%;overflow:hidden;z-index:3999;text-align:center;word-break:break-all}
.notice-box.alert-progress{color:#31708f;background-color:#d9edf7;border-color:#bce8f1;}
.notice-box.alert-progress:after{animation:noticeprogress 2s infinite;animation-timing-function:linear;-webkit-animation:noticeprogress 3s infinite;-webkit-animation-timing-function:linear;content:'';display:inline-block;position:absolute;width:36px;height:6px;background:#337ab7;bottom:-3px;left:0;border-radius:3px;}
.notice-box pre{background:rgba(0,0,0,0);max-height:300px;overflow-y:auto;overflow-x:hidden;border:0;padding:0;margin:0;white-space:pre-wrap;}
@media screen and (min-device-height:768px){
  .notice-box pre{max-height:600px;}
}
