.pl-layout {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pl-layout .pl-layout-leftnav {
    flex-shrink: 0;
    width: 90px;
}
.pl-layout .pl-layout-leftnav .pl-layout-leftnav-header {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.pl-layout .pl-layout-main {
    flex-grow: 1;
    overflow-y: auto;
}
.pl-layout .pl-layout-main.pl-layout-main-topnav {
    position: relative;
    margin-top: 70px;
}
.pl-navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 91px;
    right: 0;
    z-index: 1030;
}