body{font-size:14px;overflow-x:hidden;padding:10px;font-family: Microsoft Yahei,Arial}
ul{list-style:none;padding:0}
div[wrap].active,li[wrap].active{outline:1px dotted #ccc}
div[wrap].active:before,li[wrap].active:before{content:' ';display:block;margin:2px;width:8px;height:8px;border-radius:4px;background: green}
div[wrap].wrap-splitline{padding-bottom:0.5em;border-bottom:1px solid #eee;}
div[wrap].wrap-inline>*{display:inline-block;vertical-align:middle;margin:0 1em 0 0;}
div[wrap].wrap-inline>label{width:6em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div.tablewrap{width:100%;overflow-x:auto;overflow-y:hidden}
table,table.mce-item-table{
    border:solid 1px #ddd;
    border-top: 0;
    border-left: 0;
    border-collapse: collapse;
    border-spacing: 0;
    position:relative;
    table-layout:fixed;
}
table caption,table.mce-item-table caption {
    border:solid 1px #ddd;
    border-bottom: 0;
    background: #E5E5E5;
    font-weight: bold;
    font-size: 14px;
    padding:4px;
}
table thead,table.mce-item-table thead{
    text-align:center;
}
table th,table td,table.mce-item-table th,table.mce-item-table td{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding:5px;
    empty-cells: show;
}
a.link2email.btn{background-color:#428BCA;border-color:#357EBD;color:#FFFFFF;-moz-user-select:none;background-image:none;border:1px solid rgba(0,0,0,0);border-radius:4px;cursor: pointer;display:inline-block;font-size:14px;font-weight:normal;line-height:1.45;margin-bottom:0;padding:6px 12px;text-align:center;vertical-align:middle;white-space:nowrap;text-decoration:none}
/* app/enroll/page */
ul.img-tiles li{position:relative;display:inline-block;overflow:hidden;width:80px;height:80px;margin:4px;float:left}
ul.img-tiles li.img-thumbnail {display:none;}
ul.img-tiles li.img-thumbnail img {display:inline-block;position:absolute}
ul.img-tiles li.img-thumbnail button{position:absolute;top:0;right:0}
ul.img-tiles li.img-picker button{position:auto;width:100%;height:100%}
ul.img-tiles li.img-picker button span{font-size:36px}
