<div class='container'>
    <div class='row'>
        <div id='record' class='col-md-12'>
            <div class='edit-content'>
                <div class='panel panel-default'>
                    <div class='panel-body'>
                        <div class='form-group'>
                            <div>#<span>{{task.taskSchema.task_seq}}</span>&nbsp;-&nbsp;<span>{{task.taskSchema.title}}</span></div>
                        </div>
                        <div class='form-group'>
                            <div>计划开始时间：<span>{{task.born_at*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                        </div>
                        <div class='form-group' ng-if="task.patch_at>0">
                            <div>补填时间：<span>{{task.patch_at*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                        </div>
                        <div class='form-group'>
                            <label>审核通过</label>
                            <div>
                                <label class='radio-inline'>
                                    <input type='radio' name='verified' value='P' ng-model="task.verified" ng-change="updateTask('verified')">待定</label>
                                <label class='radio-inline'>
                                    <input type='radio' name='verified' value='Y' ng-model="task.verified" ng-change="updateTask('verified')">是</label>
                                <label class='radio-inline'>
                                    <input type='radio' name='verified' value='N' ng-model="task.verified" ng-change="updateTask('verified')">否</label>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label>备注</label>
                            <textarea class='form-control' ng-model="task.comment" row=3 ng-change="updateTask('comment')"></textarea>
                        </div>
                        <div class='text-right'>
                            <button class='btn' ng-class="modified?'btn-success':'btn-default'" ng-disabled="!modified" ng-click="saveTask()">保存</button>
                        </div>
                    </div>
                </div>
                <div class='panel panel-default'>
                    <div class='panel-body' ng-repeat="action in task.taskSchema.actions">
                        <div class='form-group'>
                            <div>#<span>{{action.action_seq}}</span>&nbsp;-&nbsp;<span>{{action.action_desc}}</span></div>
                        </div>
                        <div class='form-group' ng-repeat="schema in action.checkSchemas" ng-switch on="schema.type">
                            <label ng-bind="schema.title" ng-if="schema.type!=='html'"></label>
                            <input type='text' class='form-control' ng-model="data[action.id][schema.id]" ng-switch-when="shorttext">
                            <textarea class="form-control" ng-model="data[action.id][schema.id]" rows="3" ng-switch-when="longtext"></textarea>
                            <ul ng-switch-when="single">
                                <li class="radio" ng-repeat="op in schema.ops">
                                    <label>
                                        <input type="radio" name="{{action.id+'_'+schema.id}}" value="{{op.v}}" ng-model="data[action.id][schema.id]"><span>{{op.l}}</span></label>
                                </li>
                            </ul>
                            <ul ng-switch-when="multiple">
                                <li class="checkbox" ng-repeat="op in schema.ops">
                                    <label>
                                        <input type="checkbox" ng-model="data[action.id][schema.id][op.v]"><span>{{op.l}}</span></label>
                                </li>
                            </ul>
                            <div tms-image-input="Y" ng-switch-when="image">
                                <ul class="img-tiles clearfix" name="{{action.id+'.'+schema.id}}">
                                    <li wrap="img" ng-repeat="img in data[action.id][schema.id]" class="img-thumbnail">
                                        <img flex-img>
                                        <button class="btn btn-default btn-xs" ng-click="removeImage(data[action.id][schema.id],$index)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </li>
                                    <li class="img-picker">
                                        <button class="btn btn-default" ng-click="chooseImage(action,schema)"><span class="glyphicon glyphicon-picture"></span>
                                            <br>上传图片</button>
                                    </li>
                                </ul>
                            </div>
                            <div ng-switch-when="file">
                                <ul class="list-group" ng-repeat="file in data[action.id][schema.id]">
                                    <li class="list-group-item" ng-if="file.type.indexOf('video')===0">
                                        <span><a ng-href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                                        <video controls="controls" style="width:100%;">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </video>
                                    </li>
                                    <li class="list-group-item" ng-if="file.type.indexOf('audio')===0">
                                        <span><a ng-href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                                        <audio controls="controls" style="width:100%;">
                                            <source src="{{file.url}}" type="{{file.type}}" title="{{file.name}}" />
                                        </audio>
                                    </li>
                                    <li class="list-group-item" ng-if="file.type.indexOf('image')===0">
                                        <img ng-src='{{file.url}}' style="width:100%" title="{{file.name}}" />
                                    </li>
                                    <li class="list-group-item" ng-if="file.type.indexOf('video')===-1&&file.type.indexOf('audio')===-1&&file.type.indexOf('image')===-1">
                                        <span><a ng-href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                                    </li>
                                    <button class="btn btn-default btn-xs" ng-click="removeFile(data[action.id][schema.id],$index)"><span class="glyphicon glyphicon-remove"></span></button>
                                </ul>
                                <button class="btn btn-default" ng-click="chooseFile(action,schema)">上传文件</button>
                            </div>
                            <div ng-switch-when='date'>
                                <tms-datepicker class='tms-datepicker' tms-title='时间' tms-obj="rnd" tms-date="data[action.id][schema.id]" tms-state="signinAt"></tms-datepicker>
                            </div>
                            <div ng-if="schema.supplement==='Y'">
                                <textarea placeholder="补充说明" rows="3" class="form-control supplement" ng-model="supplement[action.id][schema.id]"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class='panel-body'>
                        <div class='text-right'>
                            <button class='btn btn-default' ng-click="saveData()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid text-center">
                    <p class="navbar-text tms-keep-inline"><a href="" ng-click="switchTo('list')" class="navbar-link">看列表</a></p>
                    <p class="navbar-text tms-keep-inline"><a href="" ng-click="switchTo('report')" class="navbar-link">看报告</a></p>
                </div>
            </nav>
        </div>
    </div>
</div>
