<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<base href='/'>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/tms.css" rel="stylesheet">
		<link href="/views/default/pl/fe/site/console.css" rel="stylesheet">
		<title>我的站点</title>
	</head>
	<body ng-app='app' ng-controller='ctrlSite'>
		<notice-box err='errmsg' info='infomsg' delay='1000'></notice-box>
		<nav class='navbar navbar-inverse'>
			<ul class='nav navbar-nav'>
				<li><a href='/rest/pl/fe' target='_self'>首页</a></li>
			</ul>
			<ul class='nav navbar-nav site'>
				<li class='active'>
					<a href='/rest/pl/fe/site/console?site={{siteId}}'>工作台</a>
				</li>
				<li>
					<a href='/rest/pl/fe/site/user?site={{siteId}}' target='_self'>用户</a>
				</li>
				<li>
					<a href='/rest/pl/fe/file?site={{siteId}}' target='_self'>文件库</a>
				</li>
				<li>
					<a href='/rest/pl/fe/site/setting?site={{siteId}}' target='_self'>站点设置</a>
				</li>
			</ul>
			<ul class='nav navbar-nav navbar-right' style='margin-right:0'>
				<li><a href='/page/pl/fe/user/settings' target='_self'>设置</a></li>
				<li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
			</ul>
		</nav>
		<div class='container' ng-controller='ctrlConsole'>
			<div id='viewRecent'>
				<div class="input-group">
					<select class='form-control' ng-model="matterType" ng-change="chooseMatterType()">
						<option value='recent'>最近</option>
						<option value='mission'>项目</option>
						<option value='article'>单图文</option>
						<option value='news'>多图文</option>
						<option value='channel'>频道</option>
						<option value='enroll'>登记活动</option>
						<option value='signin'>签到活动</option>
						<option value='group'>分组活动</option>
						<option value='lottery'>抽奖活动</option>
						<option value='contribute'>投稿活动</option>
						<option value='text'>文本</option>
						<option value='custom'>定制页</option>
						<option value='link'>链接</option>
						<option value='merchant'>订购</option>
					</select>
					<span class="input-group-btn">
						<button class='btn btn-default' ng-disabled="matterType==='recent'" ng-click="addMatter()">添加</button>
				    </span>
			    </div>
    			<div class='matters'>
					<div class='col-md-6' ng-repeat='m in matters'>
						<div class='thumbnail' ng-click="open(m)">
							<h4 class='title' ng-bind='m.matter_title||m.title'></h4>
							<p class='summary' ng-bind='m.matter_summary||m.summary'></p>
							<div class='attr'>
								<div class='operator_name' ng-bind='m.operator_name||m.creater_name'></div>
								<div class='modify_at' title='修改时间' ng-bind="(m.operate_at||m.modify_at)*1000|date:'yy-MM-dd'"></div>
							</div>
						</div>
					</div>
					<button class='btn btn-block btn-default' ng-click="moreMatters()" ng-if="page.total>matters.length">更多</button>
				</div>
				<nav class="navbar navbar-default">
					<div class="navbar-form">
						<button class="btn btn-success" ng-click="addArticle()">＋图文</button>
						<button class="btn btn-success" ng-click="addEnrollByTemplate()">＋登记</button>
						<button class="btn btn-success" ng-click="addMission()">＋项目</button>
					</div>
				</nav>
			</div>
			<div id='viewUsers'>
				用户动态，开发中
			</div>
		</div>
		<script src="/static/js/angular.min.js"></script>
		<script src="/static/js/angular-route.min.js"></script>
		<script src="/static/js/angular-sanitize.min.js"></script>
		<script src="/static/js/ui-bootstrap.min.js"></script>
		<script src="/static/js/ui-bootstrap-tpls.min.js"></script>
		<script src="/static/js/ui-tms.js"></script>
		<script src="/static/js/matters-xxt.js"></script>
		<script src="/views/default/pl/fe/site/console.js?_=5"></script>
	</body>
</html>