<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <base href='/'>
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/tms.css" rel="stylesheet">
        <link href="/views/default/pl/fe/site/setting.css" rel="stylesheet">
        <title>我的站点</title>
    </head>
    <body ng-controller='ctrlSite'>
        <nav class='navbar navbar-inverse tms-large'>
            <ul class='nav navbar-nav'>
                <li><a href='/rest/pl/fe' target='_self'>首页</a></li>
            </ul>
            <ul class='nav navbar-nav site'>
                <li>
                    <a href='/rest/pl/fe/site/console?site={{siteId}}' target='_self'>工作台</a>
                </li>
                <li>
                    <a href='/rest/pl/fe/site/user?site={{siteId}}' target='_self'>用户</a>
                </li>
                <li>
                    <a href='/rest/pl/fe/file?site={{siteId}}' target='_self'>图片库</a>
                </li>
                <li class='active'>
                    <a href='/rest/pl/fe/site/setting?site={{siteId}}'>站点设置</a>
                </li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <li><a href='/page/pl/fe/user/settings' target='_self'>用户设置</a></li>
                <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
            </ul>
        </nav>
        <div class='container' ng-controller="ctrlSetting">
            <div id='viewSetting'>
                <div class='col-md-3'>
                    <div class='list-group'>
                        <a class='list-group-item' ng-class="{'active':subView==='basic'}" href="/rest/pl/fe/site/setting/basic?site={{siteId}}">基本信息</a>
                        <a class='list-group-item' ng-class="{'active':subView==='page'}" href="/rest/pl/fe/site/setting/page?site={{siteId}}">自定义页面</a>
                        <a class='list-group-item' ng-class="{'active':subView==='mschema'}" href="/rest/pl/fe/site/setting/mschema?site={{siteId}}">自定义用户信息</a>
                        <a class='list-group-item' ng-class="{'active':subView==='coin'}" href="/rest/pl/fe/site/setting/coin?site={{siteId}}">积分规则</a>
                        <a class='list-group-item' ng-class="{'active':subView==='admin'}" href="/rest/pl/fe/site/setting/admin?site={{siteId}}">添加管理员</a>
                        <a class='list-group-item' ng-class="{'active':subView==='notice'}" href="/rest/pl/fe/site/setting/notice?site={{siteId}}">消息通知</a>
                    </div>
                    <div class='list-group'>
                        <div class='list-group-item'><a href='' ng-click="gotoSns('wx')">微信公众号</a></div>
                        <div class='list-group-item'><a href='' ng-click="gotoSns('qy')">微信企业号</a></div>
                        <div class='list-group-item'><a href='' ng-click="gotoSns('yx')">易信公众号</a></div>
                    </div>
                </div>
                <div class='col-md-9'>
                    <div ng-view></div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/ZeroClipboard.min.js"></script>
        <script src="/static/js/ui-tms.js?_=1"></script>
        <script src="/static/js/xxt.ui.js?_=1"></script>
        <script src="/static/js/require.js" data-main="/views/default/pl/fe/site/setting-loader.js?_=1"></script>
    </body>
</html>