<div ng-controller='pageCtrl'>
    <div class='form-group form-inline'>
        <div class='form-group'>
            <label>打开活动显示</label>
            <select class='form-control' ng-model='editing.entry_page' ng-options='pname as page.title for (pname, page) in editing.pages' ng-change="update('entry_page')"></select>
        </div>
        <div class='form-group'>
            <label>已登记过显示</label>
            <select class='form-control' ng-model='editing.enrolled_entry_page' ng-options='pname as page.title for (pname, page) in editing.pages' ng-change="update('enrolled_entry_page')">
                <option value=''></option>
            </select>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class='active'><a href="#tab_form" data-toggle='tab'>{{editing.pages.form.title}}</a></li>
        <li><a href="#tab_result" data-toggle='tab'>{{editing.pages.result.title}}</a></li>
        <li ng-repeat='ep in extraPages()'><a href="#tab_{{ep.name}}" data-toggle='tab'>{{ep.title}}</a></li>
        <li class='pull-right'><button class='btn btn-success' ng-click='addPage()'><span class='glyphicon glyphicon-plus'>添加页面</span></button></li>
    </ul>
    <div class="tab-content">
        <div id='tab_form' class='tab-pane active'>
            <div class='form-inline' style='margin:15px 0'>
                <label class="checkbox-inline"><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.open_lastroll' ng-change="update('open_lastroll')">打开最后一条登记记录</label>
            </div>
            <div class='form-group'>
                <div class='form-inline'>
                    <button class='btn btn-default' ng-click="embedInput(editing.pages.form)">添加内容</button>
                    <button class='btn btn-default' ng-click="embedButton(editing.pages.form)">添加操作</button>
                    <a href='#' class='pull-right' ng-click="gotoCode(editing.pages.form.code_id)">编辑页面代码</a>
                </div>
                <tinymce content='editing.pages.form.html' id='form' height='500' update="updPage(editing.pages.form, 'html')"></tinymce>
                <textarea class="form-control" title='javascript' ng-model='editing.pages.form.js' rows=10 ng-if='editing.pages.form.js' tms-auto-update tms-wait=1000 tms-update="updPage(editing.pages.form, 'js');"></textarea>
            </div>
        </div>
        <div id='tab_result' class='tab-pane'>
            <div class='form-group'>
                <div>
                    <button class='btn btn-default' ng-click="embedShow(editing.pages.result)">添加内容</button>
                    <button class='btn btn-default' ng-click="embedButton(editing.pages.result)">添加操作</button>
                    <a href='#' class='pull-right' ng-click="gotoCode(editing.pages.result.code_id)">编辑页面代码</a>
                </div>
                <tinymce content='editing.pages.result.html' id='result' height='500' update="updPage(editing.pages.result, 'html')"></tinymce>
                <textarea class="form-control" title='javascript' ng-model='editing.pages.result.js' rows=10 ng-if='editing.pages.result.js' tms-auto-update tms-wait=1000 tms-update="updPage(editing.pages.result, 'js');"></textarea>
            </div>
        </div>
        <div id='tab_{{ep.name}}' class='tab-pane' ng-repeat='ep in extraPages()'>
            <div class='form-inline' style='margin:15px 0'>
                <div class='form-group'>
                    <p class='help-block'>ID:{{ep.name}}</p>
                </div>
                <div class='form-group'>
                    <select class='form-control' ng-model='ep.type' ng-change="updPage(ep,'type')">
                        <option value='I'>登记页</option>
                        <option value='V'>查看页</option>
                    </select>
                </div>
                <div class='form-group'>
                    <input type='text' class='form-control' ng-model='ep.title' tms-auto-update tms-wait=1000 tms-update="updPage(ep,'title')">
                </div>
                <button class='btn btn-default' ng-click='delPage(ep)'>删除</span></button>
                <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='ep.share_page' ng-change="updPage(ep,'share_page')">分享当前页</label>
            </div>
            <div class='form-group'>
                <div>
                    <button class='btn btn-default' ng-if="ep.type==='I'" ng-click="embedInput(ep)">添加内容</button>
                    <button class='btn btn-default' ng-if="ep.type==='V'" ng-click="embedShow(ep)">添加内容</button>
                    <button class='btn btn-default' ng-click="embedButton(ep)">添加操作</button>
                    <a href='#' class='pull-right' ng-click="gotoCode(ep.code_id)">编辑页面代码</a>
                </div>
                <tinymce content='ep.html' id='{{ep.name}}' height='500' update="updPage(ep,'html')"></tinymce>
                <textarea class="form-control" rows=10 title='javascript' ng-model='ep.js' ng-if='ep.js' tms-auto-update tms-wait=1000 tms-update="updPage(ep, 'js');"></textarea>
            </div>
        </div>
        <div mattersgallery style='display:none' matter-url='/rest/mp/matter' matter-types='innerlinkTypes'></div>
        <div picgallery style='display:none' url='{{picGalleryUrl}}'></div>
    </div>
    <script type="text/ng-template" id="embedInputLib.html">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">×</button>
            <h4 class="modal-title">内容</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label">类型</label>
                    <div class="col-md-10">
                        <select class='form-control' ng-model='def.type'>
                            <option value='0'>姓名</option>
                            <option value='1'>手机</option>
                            <option value='2'>邮箱</option>
                            <option value='3'>短文本</option>
                            <option value='4'>长文本</option>
                            <option value='5'>单选项</option>
                            <option value='6'>多选项</option>
                            <option value='7'>图片</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if='def.type!=0&&def.type!=1&&def.type!=2'>
                    <label class="col-md-2 control-label">名称</label>
                    <div class="col-md-10">
                        <input type='text' class='form-control' ng-model='def.name'>
                        <div class="checkbox">
                            <label><input type='checkbox' ng-true-value="'1'" ng-false-value="'0'" ng-model='def.showname'>显示名称</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if='def.type==5||def.type==6'>
                    <label class="col-md-2 control-label">排列方向</label>
                    <div class="col-md-10">
                        <label class="radio-inline"><input type='radio' name='align' value='V' ng-model='def.align'>垂直</label>
                        <label class="radio-inline"><input type='radio' name='align' value='H' ng-model='def.align'>水平</label>
                    </div>
                </div>
                <div class="form-group" ng-if='def.type==5||def.type==6'>
                    <label class="col-md-2 control-label">选项</label>
                    <div class="col-md-10">
                        <button class="btn btn-default btn-sm" ng-click='addOption()'>添加</button>
                        <ul class='list-group'>
                            <li class='list-group-item' ng-repeat='op in def.ops' editable prop='text' obj='op'></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" style="margin-top:0">
            <button class="btn btn-success" ng-click="ok()">确定</button>
        </div>
    </script>
    <script type="text/ng-template" id="embedShowLib.html">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">×</button>
            <h4 class="modal-title">内容</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label">类型</label>
                    <div class="col-md-10">
                        <select class='form-control' ng-model='def.type'>
                            <option value='record'>登记项</option>
                            <option value='list'>登记清单</option>
                            <option value='remarks'>评论清单</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="def.type==='list'">
                    <label class="col-md-2 control-label">数据范围</label>
                    <div class="col-md-10">
                        <label class='radio-inline'><input type='radio' value='U' name='scope' ng-model='def.dataScope'>当前用户</label>
                        <label class='radio-inline'><input type='radio' value='A' name='scope' ng-model='def.dataScope'>整个活动</label>
                    </div>
                </div>
                <div class="form-group" ng-show="def.type==='list'">
                    <label class="col-md-2 control-label">扩展操作</label>
                    <div class="col-md-10">
                        <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='def.canLike'>点赞</label>
                    </div>
                </div>
                <div class="form-group" ng-show="def.type==='list'||def.type==='rounds'">
                    <label class="col-md-2 control-label">选中后</label>
                    <div class="col-md-10">
                        <select class='form-control' ng-model='def.onclick'>
                            <option value=''>不处理</option>
                            <option value='{{ep.name}}' ng-repeat='ep in pages'>{{ep.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="def.type==='record'||def.type==='list'">
                    <label class="col-md-2 control-label">登记项</label>
                    <div class="col-md-10">
                        <ul class='list-group'>
                            <li class='list-group-item' style='padding-top:0;padding-bottom:7px'><label class='checkbox-inline'><input type='checkbox' ng-model='def.addEnrollAt'>登记时间</label></li>
                            <li class='list-group-item' style='padding-top:0;padding-bottom:7px'><label class='checkbox-inline'><input type='checkbox' ng-model='def.addNickname'>昵称</label></li>
                            <li class='list-group-item' style='padding-top:0;padding-bottom:7px' ng-repeat='s in def.schema'><label class='checkbox-inline'><input type='checkbox' ng-model='s.checked'>{{s.title}}</label></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" style="margin-top:0">
            <button class="btn btn-success" ng-click="ok()">确定</button>
        </div>
    </script>
    <script type="text/ng-template" id="embedButtonLib.html">
        <div class="modal-header">
            <button class="close" ng-click="cancel()" type="button">×</button>
            <h4 class="modal-title">操作</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-3 control-label">操作</label>
                    <div class="col-md-9">
                        <select class='form-control' ng-model='def.type' ng-options='b[1] for b in buttons' ng-change='def.label=def.type[1]'></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">显示为</label>
                    <div class="col-md-9">
                        <input type='text' class='form-control' ng-model='def.label'>
                    </div>
                </div>
                <div class="form-group" ng-if="def.type[0]==='submit'||def.type[0]==='gotoPage'">
                    <label class="col-md-3 control-label">成功后</label>
                    <div class="col-md-9">
                        <select class='form-control' ng-model='def.next'>
                            <option value=''></option>
                            <option value='{{ep.name}}' ng-repeat='ep in pages'>{{ep.title}}</option>
                            <option value='closeWindow'>关闭页面</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" style="margin-top:0">
            <button class="btn btn-success" ng-click="ok()">确定</button>
        </div>
    </script>
</div>
