<!DOCTYPE html>
<html ng-app="app" ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=1' rel="stylesheet">
</head>

<body>
    <div ng-cloak class='ng-cloak app'>
        <nav class='navbar site-navbar-default'>
            <div class='container'>
                <div class="navbar-header">
                    <div class="navbar-brand"></div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="pull-left" ng-if="subView!=='plan'">
                        <a href="" ng-click="toggleView('main')"><i class="glyphicon glyphicon-tasks"></i><span class="visible-lg-inline"> 计划</span></a>
                    </li>
                    <li class="pull-left" ng-if="subView!=='rank'">
                        <a href="" ng-click="toggleView('rank')"><i class="glyphicon glyphicon-stats"></i><span class="visible-lg-inline"> 排行</span></a>
                    </li>
                    <li class="pull-left" ng-if="app.invite.can_relay==='Y'">
                        <a href="" ng-click="invite()"><i class="glyphicon glyphicon-share"></i><span class="visible-lg-inline"> 邀请</span></a>
                    </li>
                    <li class="pull-left">
                        <a href="" ng-click="siteUser()"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline"> 我的</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class='container'>
            <div class='row' ng-view></div>
        </div>
        <script type="text/ng-template" id="plan.html">
            <div class='col-md-12'>
                <div id='plan' class='panel panel-default'>
                    <div class='panel-body'>
                        <div class='form-group'>
                            <div ng-bind="app.title"></div>
                        </div>
                        <div class='form-group' ng-if="app.pic">
                            <div class='matter-pic'>
                                <div class='img-thumbnail' ng-style="{'background-image':'url('+app.pic+')'}"></div>
                            </div>
                        </div>
                        <div ng-if="app.summary">
                            <div class='text-muted' ng-bind="app.summary"></div>
                        </div>
                    </div>
                </div>
                <div id='overview' class='panel panel-default'>
                    <div class='panel-body'>
                        <div class='form-group' ng-if="overview.lastUserTask">
                            累积进行/全部任务：<span>{{overview.user.task_num}}/{{app.tasks.length}}</span>
                        </div>
                        <div class='form-group' ng-if="overview.lastUserTask">
                            最近一次进行的任务：<a href="#task-{{overview.lastUserTask.task_seq}}">#{{overview.lastUserTask.task_seq}}&nbsp;-&nbsp;{{overview.lastUserTask.task_schema.title}}</a>
                        </div>
                        <div class='form-group' ng-if="overview.nowTaskSchema">
                            当前应该进行的任务：<a href="#task-{{overview.nowTaskSchema.task_seq}}">#{{overview.nowTaskSchema.task_seq}}&nbsp;-&nbsp;{{overview.nowTaskSchema.title}}</a>
                        </div>
                        <div class='form-group' ng-if="app.tasks[0].born_mode==='U'">
                            <div>您指定的任务开始时间：</div>
                            <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-data='overview.user.start_at' tms-state='start_at'></tms-datepicker>
                        </div>
                    </div>
                </div>
                <div class='list-group'>
                    <div id='task-{{task.task_seq}}' class='task list-group-item' ng-class="{'task-last':task.id===app.lastUserTask.task_schema_id}" ng-repeat="task in app.tasks" ng-click="toggleView('task',task)">
                        <div>#<span ng-bind="task.task_seq"></span>&nbsp;-&nbsp;<span ng-bind="task.title"></span></div>
                        <div ng-if="task.userTask">
                            <div class='text-muted'><span class='glyphicon glyphicon-time'></span> <span ng-bind="task.userTask.bornAt"></span></div>
                        </div>
                        <div ng-if="task.mockTask">
                            <div class='text-muted'><span class='glyphicon glyphicon-time'></span> <span ng-bind="task.mockTask.bornAt"></span></div>
                        </div>
                        <span class="task-label label label-info" ng-if="task.userTask">已执行</span>
                        <span class="task-label label label-info" ng-if="task.userTask.verified==='Y'">已通过</span>
                        <span class="task-label label label-info" ng-if="task.userTask.verified==='N'">未通过</span>
                        <span class="task-label label label-default" ng-if="task.userTask.patch_at>0">补录</span>
                        <span class="task-label label label-warning" ng-if="task.isDelayed==='Y'">已延误</span>
                        <span class="task-label label label-success" ng-if="task.id===overview.lastUserTask.task_schema_id">上次执行到这项任务</span>
                        <span class="task-label label label-primary" ng-if="task.id===overview.nowTaskSchema.id">应执行</span>
                        <span class="task-label label label-default" ng-if="task.as_placeholder==='Y'">间隔</span>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="task.html">
            <div class='col-md-12'>
                <div class='panel panel-default'>
                    <div class='panel-body'>
                        <div class='form-group'>
                            #{{activeTask.task_seq}}&nbsp;-&nbsp;{{activeTask.title}}
                        </div>
                        <div class='form-group' ng-if="userTask">
                            计划开始时间：<span ng-bind="userTask.bornAt"></span>
                        </div>
                        <div class='form-group' ng-if="userTask.patchAt">
                            实际开始时间：<span ng-bind="userTask.patchAt"></span>
                        </div>
                        <div class='form-group' ng-if="userTask">
                            审核通过：<span ng-bind="userTask.verified==='Y'?'是':userTask.verified==='N'?'否':'待定'"></span>
                        </div>
                        <div ng-if="userTask.comment">
                            组织者备注：{{userTask.comment}}
                        </div>
                    </div>
                </div>
                <div class='panel panel-default' ng-repeat="action in activeTask.actions">
                    <div class='panel-body'>
                        <div>
                            #<span ng-bind="action.action_seq"></span>&nbsp;-&nbsp;<span ng-bind="action.action_desc"></span>
                        </div>
                        <hr>
                        <div class='form-group' ng-repeat="schema in action.checkSchemas" ng-switch on="schema.type">
                            <label ng-bind="schema.title" ng-if="schema.type!=='html'"></label>
                            <div class="description" ng-if="'html'!==schema.type&&schema.description"><span ng-bind-html="schema.description"></span></div>
                            <input type='text' class='form-control' ng-model="data[action.id][schema.id]" ng-switch-when="shorttext">
                            <textarea class="form-control" ng-model="data[action.id][schema.id]" rows="3" ng-switch-when="longtext"></textarea>
                            <ul ng-switch-when="single">
                                <li class="radio" ng-repeat="op in schema.ops">
                                    <label>
                                        <input type="radio" name="{{action.id+'_'+schema.id}}" value="{{op.v}}" ng-model="data[action.id][schema.id]"><span>{{op.l}}</span></label>
                                </li>
                            </ul>
                            <ul ng-switch-when="multiple">
                                <li class="checkbox" ng-repeat="op in schema.ops">
                                    <label>
                                        <input type="checkbox" ng-model="data[action.id][schema.id][op.v]"><span>{{op.l}}</span></label>
                                </li>
                            </ul>
                            <div tms-image-input="Y" ng-switch-when="image">
                                <ul class="img-tiles clearfix" name="{{action.id+'.'+schema.id}}">
                                    <li wrap="img" ng-repeat="img in data[action.id][schema.id]" class="img-thumbnail">
                                        <img flex-img>
                                        <button class="btn btn-default btn-xs" ng-click="removeImage(action,schema,$index)"><span class="glyphicon glyphicon-remove"></span></button>
                                    </li>
                                    <li class="img-picker">
                                        <button class="btn btn-default" ng-click="chooseImage(action,schema)"><span class="glyphicon glyphicon-picture"></span>
                                            <br>选择图片</button>
                                    </li>
                                </ul>
                            </div>
                            <div tms-file-input="Y" ng-switch-when="file">
                                <ul class="list-group file" name="{{action.id+'.'+schema.id}}">
                                    <li class="list-group-item" ng-show="progressOfUploadFile">
                                        <div class="progressOfUploadFile" ng-bind="progressOfUploadFile"></div>
                                    </li>
                                    <li wrap="file" ng-repeat="file in data[action.id][schema.id]" class="list-group-item">
                                        <span class="file-name" ng-bind="file.name"></span>
                                    </li>
                                    <li class="list-group-item file-picker">
                                        <button class="btn btn-success" ng-click="chooseFile(action,schema)">选择文件</button>
                                    </li>
                                </ul>
                            </div>
                            <div tms-date="'Y'" tms-date-value="data[action.id][schema.id]" ng-switch-when="date">
                                <div wrap="date" class="form-control input-lg" ng-bind="data[action.id][schema.id]*1000|date:'yy-MM-dd HH:mm'"></div>
                            </div>
                            <div ng-switch-when="html">
                                <div ng-bind-html="schema.content"></div>
                            </div>
                            <div ng-if="schema.supplement==='Y'">
                                <textarea placeholder="补充说明" rows="3" class="form-control supplement" ng-model="supplement[action.id][schema.id]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button ng-if="activeTask.actions.length" class='btn btn-default btn-block' ng-click="submit()">提交</button>
            </div>
        </script>
        <script type="text/ng-template" id="rank.html">
            <div class="col-md-12 filter">
                <div class='col-md-2 col-xs-6'>
                    <select class='form-control' ng-model="appState.criteria.obj">
                        <option value='user'>用户</option>
                    </select>
                </div>
                <div class='col-md-3 col-xs-6' ng-if="appState.criteria.obj==='user'">
                    <select class='form-control' ng-model="appState.criteria.orderby" ng-change="changeCriteria()">
                        <option value='task_num'>提交记录数量</option>
                        <option value='coin'>积分</option>
                        <option value='score'>得分</option>
                    </select>
                </div>
            </div>
            <div class='col-md-12 result' ng-switch on="rankView.obj">
                <ul ng-switch-when="user">
                    <li class='hidden-xs'>
                        <div class='col-md-1'>序号</div>
                        <div class='col-md-9 text-left'>用户</div>
                        <div class='col-md-2'>数量</div>
                    </li>
                    <li ng-repeat="u in users" class='record'>
                        <div class='col-md-1 col-xs-1'>
                            <span class='index-num'>{{$index+1}}</span>
                        </div>
                        <div class="col-md-9 col-xs-8 text-left">
                            <img class='user-headimg' ng-src="{{u.headimgurl}}" />
                            <span>{{u.nickname}}</span>
                            <span ng-if="app.group_app_id">-{{u.group.round_title}}</span>
                        </div>
                        <div class='col-md-2 col-xs-1'><span>{{u.task_num||u.coin||u.score}}</span></div>
                    </li>
                </ul>
                <ul ng-switch-when="group">
                    <li class='hidden-xs'>
                        <div class='col-md-1'>序号</div>
                        <div class='col-md-9 text-left'>分组名称</div>
                        <div class='col-md-2'>数量</div>
                    </li>
                    <li ng-repeat="g in groups" class='record'>
                        <div class='col-md-1 col-xs-1'>
                            <span class='index-user-img mtb3' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                            <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                        </div>
                        <div class="col-md-9 col-xs-8 text-left">
                            <span>{{g.title}}</span>
                        </div>
                        <div class='col-md-2 col-xs-1'><span>{{g.num}}</span></div>
                    </li>
                </ul>
            </div>
        </script>
        <div class="loading">
            <div class='loading-indicator'><i></i></div>
        </div>
        <script src="/static/js/xxt.ui.error.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/resumable.js"></script>
        <script src="<?php echo auto_version('/bundles/default/site/fe/matter/plan/main.js');?>"></script>
</body>

</html>