<div class='container' ng-controller="ctrlTemplate">
    <div class='row'>
        <div class='col-md-4' ng-repeat="t in templates">
            <div class='thumbnail template'>
                <h4 class='title' ng-bind="t.title"></h4>
                <p class='summary' ng-bind="t.summary"></p>
                <div class='heading-pic' heading-pic ng-if="t.pic">
                    <img ng-src='{{m.pic}}'>
                </div>
                <div class='attr'>
                    <div class='creater_name' ng-bind="t.creater_name"></div>
                    <div class='put_at' ng-bind="t.put_at*1000|date:'yyyy-MM-dd'"></div>
                </div>
                <div class='actions'>
                    <a class='btn btn-sm btn-default' href='#'>预览</a>
                    <button class='btn btn-sm btn-success' ng-click='collect(t)'>收藏</button>
                    <button class='btn btn-sm btn-success' ng-click='createBy(t)'>使用</button>
                </div>
            </div>
        </div>
    </div>
</div>