<div id='home' ng-controller='ctrlHome' class='container'>
    <div class='row' ng-if="platform.home_carousel">
        <div class='col-md-12'>
            <div ng-controller="ctrlCarousel">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides" index="$index">
                        <img ng-src="{{slide.picUrl}}" style="height:305px;margin:auto;">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-12 col-xs-12 main">
            <div class='col-md-8 col-xs-12'>
                <div id="slider_extends" class="row slider_extends">
                    <ul class="list-unstyled">
                        <li ng-mouseenter="selectTag($index)" class="col-xs-6 col-md-4 slider_extend" ng-repeat="ta in topArticles" >
                            <a ng-href="{{ta.url}}">
                                <div class="caption">
                                    <h5 class="text-wrap">{{ta.title}}</h5>
                                    <p class="text-wrap">{{ta.summary}}</p>
                                </div>
                                <span class="mask"></span>
                                <img class="img-responsive" ng-src="{{ta.pic}}" />
                            </a>
                        </li>
                    </ul>
                </div>
                <uib-tabset active="0" class="row">
                    <uib-tab index="0" ng-if="articles.length">
                        <uib-tab-heading>热门时讯</uib-tab-heading>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="a in articles" ng-click="openMatter(a)">
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" ng-src='{{a.pic}}'>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{a.title}}</h4>
                                                <div class="media-summary">{{a.summary}}</div>
                                                <div class='attr clearfix'>
                                                    <div class='creater_name pull-left'>
                                                        <a ng-href='/rest/site/home?site={{a.siteid}}'>
                                                            <span class="site_fe_home site_fe_home_icon xxt_team"></span>
                                                            {{a.site_name}}
                                                        </a>
                                                    </div>
                                                    <div class='put_at pull-left' ng-bind="a.put_at*1000|date:'yyyy-MM-dd'"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class='btn btn-lg btn-primary  btn-gradient center-block' ng-click="moreMatters('article')" ng-if="articles.total>articles.length">加 载 更 多</button>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" ng-if="sites.length">
                        <uib-tab-heading>推荐团队</uib-tab-heading>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="s in sites" ng-click="openSite(s)">
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" ng-src='{{s.pic}}'>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{s.title}}</h4>
                                                <div class="media-summary">{{s.summary}}</div>
                                                <div class='attr clearfix'>
                                                    <div class='creater_name pull-left'>
                                                        <a ng-href='/rest/site/home?site={{s.siteid}}'>
                                                            <span class="site_fe_home site_fe_home_icon xxt_team"></span>
                                                            {{s.creater_name}}
                                                        </a>
                                                    </div>
                                                    <div class='put_at pull-left' ng-bind="s.put_at*1000|date:'yyyy-MM-dd'"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class='btn btn-lg btn-primary  btn-gradient center-block' ng-click="moreMatters('site')" ng-if="sites.total>sites.length">加 载 更 多</button>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" ng-if="apps.length">
                        <uib-tab-heading>推荐活动</uib-tab-heading>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="a in apps" ng-click="openMatter(a)">
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" ng-src='{{a.pic}}'>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{a.title}}</h4>
                                                <div class="media-summary">{{a.summary}}</div>
                                                <div class='attr clearfix'>
                                                    <div class='creater_name pull-left'>
                                                        <a ng-href='/rest/site/home?site={{a.siteid}}'>
                                                            <span class="site_fe_home site_fe_home_icon xxt_team"></span>{{a.creater_name}}
                                                        </a>
                                                    </div>
                                                    <div class='put_at pull-left' ng-bind="a.put_at*1000|date:'yyyy-MM-dd'"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class='btn btn-lg btn-primary  btn-gradient center-block' ng-click="moreMatters('app')" ng-if="apps.total>apps.length">加 载 更 多</button>
                        </div>
                    </uib-tab>
                    <uib-tab index="3" ng-if="templates.length">
                        <uib-tab-heading>精选模板</uib-tab-heading>
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="t in templates" ng-click="openTemplate(t)">
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" ng-src='{{t.pic}}'>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{t.title}}</h4>
                                                <div class="media-summary">{{t.summary}}</div>
                                                <div class='attr clearfix'>
                                                    <div class='creater_name pull-left'>
                                                        <a ng-href='/rest/site/home?site={{t.siteid}}'>
                                                            <span class="site_fe_home site_fe_home_icon xxt_team"></span>{{t.creater_name}}
                                                        </a>
                                                    </div>
                                                    <div class='put_at pull-left' ng-bind="t.put_at*1000|date:'yyyy-MM-dd'"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class='thumbnail template' ng-repeat="t in templates" ng-click="openTemplate(t)">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" ng-src='{{t.pic}}'>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{t.title}}</h4>
                                    <div>{{t.summary}}</div>
                                    <div class='attr'>
                                        <div class='creater_name' ng-bind="t.creater_name"></div>
                                        <div class='put_at' ng-bind="t.put_at*1000|date:'yyyy-MM-dd'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <aside class="col-md-4 col-xs-12 pull-right">
                <div class="mainSide" ng-repeat="c in channels">
                    <div class="mainSide-header">
                        <span class="site_fe_home site_fe_home_icon xxt_guide"></span>
                        <h4 >{{c.title}}</h4>
                        <small class="pull-right">
                            <a ng-href="{{c.url}}">更多<span class="site_fe_home site_fe_home_icon xxt_chevron-right"></span></a>
                        </small>
                    </div>
                    <div class="madinSide-body">
                        <a class="list-group-item" ng-href="{{a.url}}" ng-repeat="a in channelArticles">
                            <span class="site_fe_home site_fe_home_icon xxt_line"></span>{{a.title}}
                            <hr/>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div id='gototop' class='tms-switch'>
        <span class="site_fe_home site_fe_home_icon xxt_backTop"></span>
    </div>
</div>
<script type="text/ng-template" id="favorTemplateSite.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">指定收藏模版的团队</h5>
    </div>
    <div class="modal-body ">
        <div class="checkbox" ng-repeat="site in mySites">
            <label ng-if="site._favored!=='Y'">
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='site._selected'>{{site.name}}</label>
            <label ng-if="site._favored==='Y'">
                <input type='checkbox' checked disabled><span>{{site.name}}</span>（已收藏）</label>
            </label>
        </div>
        <div class='alert alert-danger' ng-if="mySites.length===0">请创建用于收藏本模版的团队</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>
<script type="text/ng-template" id="useTemplateSite.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">指定使用模版的团队</h5>
    </div>
    <div class="modal-body ">
        <div class="radio" ng-repeat="site in mySites">
            <label ng-if="site._favored!=='Y'">
                <input type='radio' name='site' value="{{$index}}" ng-model='data.index'>{{site.name}}</label>
        </div>
        <div class='alert alert-danger' ng-if="mySites.length===0">请创建使用模版的团队</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>
<script type="text/ng-template" id="subscribeSite.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">指定关注本团队的团队</h5>
    </div>
    <div class="modal-body ">
        <div class="checkbox" ng-repeat="site in mySites">
            <label ng-if="site._subscribed!=='Y'">
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='site._selected'>{{site.name}}</label>
            <label ng-if="site._subscribed==='Y'">
                <input type='checkbox' checked disabled><span>{{site.name}}</span>（已关注）</label>
            </label>
        </div>
        <div class='alert alert-danger' ng-if="mySites.length===0">请创建用于关注本团队的团队</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>
