@media screen and (min-width: 1200px){
  .container {width: 1288px;}
}
/*carousel*/
.carousel{background:#fff;margin-bottom:15px;position:relative;}
.carousel-inner:before{content:'';position: absolute;top:0;left:0;z-index: 1;width:100%;height:100%;background: linear-gradient(to bottom, rgba(0,0,0,0) 85%, rgba(0,0,0,0.6));}
@media screen and (min-width: 768px){.carousel-indicators {bottom:0px;}}
.carousel-indicators li{margin:0 10px 0 0;border-radius:0;background-color:#a3cfe2;border:0;}
.carousel-indicators .active{margin:0 10px 0 0;width:12px;height:12px;transform:rotate(45deg);position:relative;}
.carousel-indicators .active:after{content:'';width:4px;height:4px;background-color:#a3cfe2;position:absolute;top:50%;left:50%;margin-left:-2px;margin-top:-2px;}
.carousel-control.left{background-image:none;z-index: 2;}
.carousel-control.right{background-image:none;z-index: 2;}

/* extend-slides */
#slider_extends{margin-bottom: 30px;}
#slider_extends > ul > li {padding-left: 0;padding-right:15px;}
#slider_extends > ul > li:last-child{padding-right:0}
.slider_extend > a{display:block;color:#fff;position:relative;}
.slider_extend > a:hover{color:#fff;}
.caption{z-index:999;width:100%;position:absolute;bottom:0;left:0;padding-left:10px;padding-right: 10px;}
.text-wrap{font-size:14px;line-height: 1;width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.caption > p, .caption > h5{margin:8px 0;}
.mask{width: 100%;height:35%;background-color: #2f2933;opacity: 0.7;position:absolute;top: 65%;left: 0;z-index: 500;}
.slider_extend > a:hover > .mask{background-color: #3785b0;}
.slider_extend .img-responsive{height:150px;}

/* tab-page */
#home .media-object{width:210px;height:120px;}
.nav-tabs>li>a{font-size:17px;font-weight:700;border:0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:0;border-bottom:3px solid #388dbf;}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{background-color: #fff;}
.table>tbody>tr>td{padding:25px 0;cursor: pointer;}
.media-left{padding-right: 25px;}
.media-heading{margin-bottom:10px;}
.media-heading:hover{color: #388dbf;}
.media-body{padding-right: 5px;}
.media-summary{font-size: 14px;line-height:1.5;height:3vh;}
.attr{margin-top:55px;}
.attr div{margin-right:35px;}
.creater_name > a{position: relative;padding-left: 30px;}
.creater_name > a .xxt_team{top: 0px;left: 0px;}

/* aside */
.mainSide{padding:1em;margin-bottom: 20px;}
.mainSide-header{position: relative;margin-bottom: 40px;padding-left: 30px;}
.mainSide-header > h4{display: inline-block;margin: 0 0;}
.mainSide-header > small > a {color: #999;font-size:14px;position: relative;padding-right: 20px;}
.list-group-item{border:0;padding:0 0 0 30px;}
a.list-group-item:hover, a.list-group-item:focus {text-decoration: none;color: #388dbf;background-color:#fff;}
.xxt_guide{top:0;left:0;background-position: -111px -209px;}
.xxt_chevron-right{top:-1px;right:-5px;background-position: -43px -207px;}
.xxt_line{width:10px;height:85px;position:absolute;top:-10px;left:5px;background-position: -256px -30px;}

/* loadMore */
.btn{border:none;}
.btn-lg{padding:10px 80px;}
.btn-gradient{background: linear-gradient(to right, #7AC7F3 , #268ECA);}