/* extend-slides */
#slider_extends{margin-bottom:30px;}
.slider_extend{width:31.79%;margin-right:20px;}
.slider_extend:last-child{margin-right:0;}
.slider_extend > a{padding-top:57.15%;display:block;position:relative;}
.slider_extend > a > .slider-caption{z-index:999;width:100%;position:absolute;bottom:0;left:0;padding-left:10px;padding-right:10px;}
.slider_extend > a > .slider-caption > .slider-text-wrap{width:100%;color:#fff;line-height:1.5;margin-top:5px;margin-bottom:5px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.slider_extend > a > .slider-mask{width:100%;height:40%;background-color:#2f2933;opacity:0.7;position:absolute;top:60%;left:0;z-index:500;}
.slider_extend > a:hover > .mask{background-color:#2994d0;}
.slider_extend > a > .slider-img{width:100%;height:100%;position:absolute;top:0;left:0;}
@media screen and (max-width:768px){
	#slider_extends{margin-bottom:0px;height:160px;position:relative;overflow:hidden;}
	.slider_extend{position:absolute;margin-right:0px;top:0;left:0;}
	.arrow{min-height:100%;opacity:1;position:relative;top:50%;margin-top:-80px;z-index:4;}
	.prev,.next{width:20%;padding:10%;color:#fff;position:absolute;top:20%;z-index:5;font-size:18px;text-align:center;}
	.next{right:5%;}
	.slider_extend > a > .slider-caption > .slider-text-wrap{width:100%;margin-bottom:10px;margin-top:10px;color:#fff;display:block;line-height:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	.slider_extend > a > .slider-mask{height:30%;top:70%;}
}

/**
* matters
*/
.section{background-color:#fff;}
@media screen and (max-width:768px){
	.nav-tabs>li>a{font-size:14px;}
	.matters>div{padding:0 8px;}
	.matters .section+.section{margin-top:4px;}
}

/* 右侧栏小功能 */
.tms-tool-qrcode{bottom:128px;}
.xxt_talk_qrcode{width:60px;height:60px;top:0;left:0;background-position:-142px -368px;}
.qrcode{width:96px;height:96px;}
.gotalk:after{content:'';width:0;height:0;position:fixed;bottom:140px;right:60px;border-top:16px solid transparent;border-left:11px solid #4a9dce;border-bottom:16px solid transparent;}
.talk-qrcodes{height:auto;position:fixed;right:70px;bottom:60px;}
.talk-qrcode{width:106px;height:auto;font-size:12px;line-height:1.5;color:#fff;border-bottom:1px dashed #fff;padding:5px 0;text-align:center;background-color:#4a9dce;}
.talk-qrcode:last-child{border-bottom:none;}