.tms-panel{border:1px solid #e7e7e7;border-radius:4px;background:#fff;padding:30px 0;margin-bottom:30px;}
.carousel-control.left{background-image:none;}
.carousel-control.right{background-image:none;}
#sites,#templates,#apps,#articles{position:relative;}
#templates:before{content:'精选模版';position:absolute;top:-15px;left:-15px;background:#f00;padding:2px 4px;font-size:100%;color:#fff;border-radius:4px;}
#sites:before{content:'推荐团队';position:absolute;top:-15px;left:-15px;background:#600;padding:2px 4px;font-size:100%;color:#fff;border-radius:4px;}
#apps:before{content:'推荐活动';position:absolute;top:-15px;left:-15px;background:#00f;padding:2px 4px;font-size:100%;color:#fff;border-radius:4px;}
#articles:before{content:'热门时讯';position:absolute;top:-15px;left:-15px;background:#0a0;padding:2px 4px;font-size:100%;color:#fff;border-radius:4px;}

/*template/matter*/
.site,.template,.matter{position:relative;height:200px;display:flex;flex-direction:column;padding:15px;}
.site .summary,.template .summary,.matter .summary{flex:1;overflow:hidden;}
.site .attr,.template .attr,.matter .attr{display:flex;padding:8px 0;}
.site .creater_name,.template .creater_name,.matter .creater_name{flex:1;}
.site .actions,.template .actions,.matter .actions{border-top:1px solid #ddd;padding-top:8px;}