.ng-cloak{display:none;}
body{padding:71px 0;font-family:Microsoft Yahei,Arial;}
.navbar-nav.tms-breadcrumb>li>a{padding-left:0;padding-right:0;color:#428bca;max-width:12em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.navbar-nav.tms-breadcrumb>li:last-child>a{color:#777;}
.navbar-nav.tms-breadcrumb>li+li>a:before{content:'/\00a0';padding-left:5px;color:#ccc;}

/*publish-view*/
#simulator{position:relative;width:360px;height:640px;box-shadow:0px 2px 5px 5px rgba(0,0,0,0.3);}
#simulator iframe{width:100%;height:100%;border:0;}
#simulatorActions{position:absolute;top:80px;left:350px;width:150px;}
#viewActions{position:absolute;top:160px;left:350px;}

/*schema-view*/
#schema-view .flexrow{display:flex;margin-bottom:8px;}
#schema-view .flexrow button{flex:1;}
#schema-view .schemas{index}
#schema-view .schemas .schema{counter-increment:index;position:relative;padding-left:24px;padding-right:24px;}
#schema-view .schemas .schema:before{content:counter(index);background:#999;color:#fff;position:absolute;top:0px;left:0px;width:18px;height:18px;line-height:18px;text-align:center;border-top-left-radius:2px;}
#schema-view .schema{background:#fff;margin-bottom:15px;padding:8px;border:1px solid #ddd;}
#schema-view .schema.name:after{content:'姓名';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.mobile:after{content:'手机';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.email:after{content:'邮箱';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.date:after{content:'日期';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.shorttext:after{content:'单行文本';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.longtext:after{content:'多行文本';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.member:after{content:'自定义用户';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.single:after{content:'单选题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.score:after{content:'打分题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.multiple:after{content:'多选题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.image:after{content:'上传图片';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.file:after{content:'上传文件';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.location:after{content:'上传位置';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.html:after{content:'描述说明';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema .title{height:38px;line-height:38px;margin-bottom:5px;overflow:hidden;white-space:nowrap;cursor:move;}
#schema-view .schema .title div[editable]{display:inline-block;width:320px;}
#schema-view .schema-options .option{position:relative;cursor:move;height:38px;line-height:38px;overflow:hidden;white-space:nowrap;}
#schema-view .schema-options .option input[type=radio],#schema-view .schema-options .option input[type=checkbox]{vertical-align:middle;margin-top:0;}
#schema-view .schema-options .option div[editable]{display:inline-block;vertical-align:middle;margin-left:8px;width:300px;}
#schema-view .schema-options .option.entered{background:#f8f8f8;}
#schema-view .schema-options .option button{position:absolute;top:50%;right:5px;margin-top:-10px;}
#schema-view [editable]{cursor:text;}
#schema-view .actions{margin-top:10px;padding-top:10px;border-top:1px dotted #ddd;}

/*page-view*/
#page-view .schema-switch{position:absolute;top:50%;margin-top:-10px;right:4px;}

/*page-view pages*/
#pageEdit{height:300px;overflow-y:auto;}
#pageEdit .mce-tinymce.mce-container.mce-panel{border:1px solid #ccc;height:100%;box-sizing:border-box;}
#pageEdit .mce-tinymce.mce-container.mce-panel .mce-container-body{height:100%;}
#pageEdit .mce-tinymce .mce-edit-area{position:absolute;top:34px;left:0;right:0;bottom:0;border:0!important;border-top:1px solid #ccc!important;}
#pageEdit .mce-tinymce .mce-edit-area iframe{width:100%;height:100%!important;}
#pageEdit .mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
#pageEdit .mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
