<div id='record-view'>
    <table class='table table-bordered table-striped'>
        <thead>
        <tr>
            <th>模板名称</th>
            <th>活动类型</th>
            <th>使用者</th>
            <th>使用者ID</th>
            <th>购买时间</th>
            <th>购买版本</th>
            <th>购买站点名称</th>
            <th>购买站点ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='order in record.orders'>
            <td>{{order.title}}</td>
            <td>{{scenarioNames[order.scenario]}}</td>
            <td>{{order.buyer_name}}</td>
            <td>{{order.buyer}}</td>
            <td>{{order.purchase_at*1000|date:'yy-MM-dd HH:mm'}}</td>
            <td>{{order.template_version}}</td>
            <td>{{order.site_name}}</td>
            <td>{{order.siteid}}</td>
        </tr>
        </tbody>
    </table>
    <div class='form-group form-inline'>
        <span style='height:34px;line-height:34px'>总数：{{record.page.total}}</span>
        <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer;float:right"
            ng-show="read.page.total>read.page.size" boundary-links="true" total-items="read.page.total" max-size="7" items-per-page="read.page.size" rotate="false" ng-model="read.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="record.list()">
        </ul>
    </div>
</div>