html,body{width:100%;height:100%}
body{font-size:15px}
.container-fluid{padding:1em;}
#order .form-group{display:table;width:100%;margin-bottom:0;border-bottom:1px dotted #ddd}
#order .form-group:last-child{border-bottom:0}
#order .form-group>*{display:table-cell;}
#order .form-group>label{width:6em;white-space:normal;word-wrap:break-word;word-break:break-all;background:#eee;padding-left:.5em}
#order .form-group>div{padding-left:1em}
#dispose{position:fixed;left:1em;right:1em;bottom:1em;text-align:right}