html,body,#content,#content>.row{height:100%;}
#content{padding-top:52px;}
#link{height:100%;}
#link iframe{border:0;width:100%;height:100%;}
.invite{text-align: center;margin:20px 0;}
.invite>a{font-size:15px;padding:10px 25px;padding-left:50px;position: relative;color:#fff;background-color:#4780F3;}
.invite>a>.icon_invite{position: absolute;top:12px;width:21px;height:19px;background: url("../../../../../../static/img/icon_invite.png") no-repeat;background-position: 0 0;}
.behavior{position:relative;padding:24px 0;border-top:1px dashed #999;}
#action{text-align:right;}
#action>a{display:inline-block;color:#999;border:1px solid #999;border-radius:16px;padding:8px 16px;}
#action>a+a{margin-left:16px;}
/* qrcode */
#qrCode{text-align:center;}
#qrCode>img{width:75%;}
@media screen and (max-width:768px){
	#qrCode{display:none;}
  .invite>a{display:block;}
  .invite>a>.icon_invite{left:38%;}
}
@media screen and (min-width:768px){
  .invite>a{display:inline-block;border-radius:50px;box-shadow:0px 0px 35px #4780F3;}
  .invite>a>.icon_invite{left:25px;}
}
