<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/custom-bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/home.fe.css');?>" rel="stylesheet">
    <link href="<?php echo auto_version('/views/default/site/fe/matter/link/main.css');?>" rel="stylesheet">
</head>

<body ng-app='app' ng-controller='ctrl' ng-cloak class='ng-cloak'>
    <nav class='navbar hm-navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <a class='navbar-brand' href='/rest/home' target='_self'>
                    <?php echo APP_TITLE;?>
                </a>
            </div>
        </div>
    </nav>
    <div id='content' class='container'>
        <div class='row'>
            <div class='col-md-3 col-md-push-9 col-xs-12'>
                <div id='site-card' class='hm-tile'>
                    <div class="site-title">
                        <img class="img-circle" ng-src="{{siteInfo.heading_pic}}">
                        <a ng-href="{{'/rest/site/home?site='+siteInfo.id}}" target='_self' ng-bind="siteInfo.name"></a>
                        <div uib-dropdown dropdown-append-to="elSiteCard" on-toggle="siteCardToggled(open)" ng-if="siteInfo.can_subscribe==='Y'">
                            <i class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></i>
                            <ul class="dropdown-menu dropdown-menu-lg" uib-dropdown-menu>
                                <li>
                                    <a href='' ng-click="subscribeSite()">关注</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="site-summary" ng-bind="siteInfo.summary"></p>
                </div>
                <div class='hm-tile' ng-if="link.summary">
                    <div ng-bind="link.summary"></div>
                </div>
                <div id='qrCode' class='hidden-xs hidden-sm'>
                    <span><img ng-src="{{qrcode}}"></span>
                </div>
                <div class='hidden-xs hidden-sm hm-tile' ng-if="link.config.nav.app.length">
                    <div><span class='hm-tile-title'>相关资料</span></div>
                    <div ng-repeat="app in link.config.nav.app"><a class="matter"  href="#" ng-click="gotoNavApp(app)" ng-bind="app.title"></a></div>
                </div>
            </div>
            <div id="link" class='col-md-9 col-md-pull-3 col-xs-12'>
                <button id="btnFS" class="btn btn-success" ng-if="isSmallLayout">开始体验</button>
                <iframe></iframe>
                <div id="invite" class="invite">
                    <a href="" ng-click="invite(user,link)" ng-if="link.invite"><i class="icon_invite"></i><span> 邀请体验</span></a>
                </div>
                <div id="attachment" ng-if="link.attachments">
                    <p ng-repeat='a in link.attachments'>
                        <a ng-href="{{'/rest/site/fe/matter/link/attachmentGet?site='+link.siteid+'&linkid='+article.id+'&attachmentid='+a.id}}" target='_blank'><span>附件：</span><span>{{a.name}} ——</span><span ng-bind='a.size|filesize'></span></a>
                    </p>
                </div>
                <div id="matters" class="visible-xs visible-sm hm-tile" ng-if="link.config.nav.app.length">
                    <div><span class='hm-tile-title'>相关资料</span></div>
                    <div ng-repeat="app in link.config.nav.app"><a class="matter" ng-click="gotoNavApp(app)" ng-bind="app.title"></a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/link/main.js');?>"></script>
</body>

</html>