.qrcode .popover img{width:150px;height:150px}
.modal.mattersgallery .modal-dialog .modal-content .modal-body{overflow:auto}
.list-group-item.slim{padding-top:0;padding-bottom:7px}

/*pages*/
.editor{position:relative;float:left;width:572px;}
.editor .mce-tinymce{margin-right:44px!important}
.editor .mce-tinymce.mce-container.mce-panel{border:1px solid #ccc;}
.editor .mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
.editor .mce-tinymce div.mce-edit-area{border:0!important;border-top:1px solid #ccc!important;}
.editor .mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.editor .sidebar{width:44px;background:transparent;position:absolute;top:34px;right:0}
.editor .sidebar button{color:black;border-radius:0;margin-bottom:-1px}
.editor .sidebar button:disabled{color:gray}

/*records*/
#records{width:100%;overflow:auto;}
#records .table{max-width:none;min-width:none;table-layout:fixed;}
#records .table th{text-align:center;}
#records .table th.custom-col{width:140px;}
#records .table a{word-break:break-all;}
#records .table td span{word-break:break-all;}
#records .record td img{max-width:64px;max-height:64px}
.record-editor img{max-width:100%}