<div id="lottery-view">
    <div class='col-md-12'>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-bind="lotteryUrl"></td>
                    <td>
                        <a href="javascript:void(0)" ng-click="gotoCode()">编辑代码</a>
                        <a href="javascript:void(0)" ng-click="resetCode()">重置代码</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='col-md-3'>
        <div class='list-group'>
            <a class='list-group-item' ng-class="{'active':!editingRound}" ng-click='open()' style='text-align:center'>全部</a>
            <a class='list-group-item' ng-class="{'active':r===editingRound}" ng-repeat='r in rounds' ng-click='open(r)'>
                <span>{{r.title}}</span>
                <button class='btn btn-xs btn-default pull-right' ng-if="r===editingRound" ng-click='removeRound()'><span class='glyphicon glyphicon-remove'></span></button>
            </a>
            <a class='list-group-item'>
                <button class='btn btn-success btn-block' ng-click='addRound()'>添加</button> 
            </a>
        </div>
    </div>
    <div class='col-md-9'>
        <div class='form-horizontal' ng-if='editingRound'>
            <div class='form-group'>
                <label class='col-md-2 control-label'>轮次名称</label>
                <div class='col-md-10'>
                    <input type='text' class='form-control' ng-model='editingRound.title' tms-auto-update tms-wait=1000 tms-update="updateRound('title')">
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>抽奖次数</label>
                <div class='col-md-10'>
                    <input type='text' class='form-control' ng-model='editingRound.times' tms-auto-update tms-wait=1000 tms-update="updateRound('times')">
                </div>
            </div>
            <div class='form-group'>
                <div class='col-md-offset-2 col-md-10'>
                    <div class="checkbox">
                        <label>
                            <input type='checkbox' ng-model='editingRound.autoplay' ng-true-value="'Y'" ng-false-value="'N'" ng-change="updateRound('autoplay')">自动抽奖</label>
                    </div>
                </div>
            </div>
        </div>
        <div class='list-group' ng-if='editingRound'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:80px'>抽奖规则</th>
                        <th>抽奖对象</th>
                        <th style='width:48px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in aTargets">
                        <td>{{$index+1}}</td>
                        <td>
                            <combox evt-prefix='tag' existing='t.tags' options='aTags' state={{$index}}></combox>
                        </td>
                        <td>
                            <button class='btn btn-default btn-sm' ng-click='removeTarget($index)'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=3>
                            <button class='btn btn-primary' ng-click='saveTargets()'>保存</button>
                            <button class='btn btn-primary pull-right' ng-click='addTarget()'>添加</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='list-group'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th ng-if='!editingRound'>轮次</th>
                        <th>序号</th>
                        <th>昵称</th>
                        <th>姓名</th>
                        <th>手机号</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="w in winners">
                        <td ng-if='!editingRound'>{{w.title}}</td>
                        <td>{{$index+1}}</td>
                        <td>{{w.nickname}}</td>
                        <td>{{w.member.name}}</td>
                        <td>{{w.member.mobile}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>