<div ng-controller='enrollCtrl' ng-init="hasParent='<?php echo empty($_SESSION['mpaccount']->parent_mpid) ? 'N':'Y';?>'">
    <div class='form-inline form-group clearfix'>
        <label class="checkbox-inline" ng-show="hasParent==='Y'">
        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='fromParent' ng-change='doSearch()'>来源于父账号</label>
        <div class='form-group pull-right'>
            <button class='btn btn-success' ng-click='create()'>新建活动</button>
            <button class='btn btn-success' ng-click='createByInner()'>从内置模版创建</button>
            <button class='btn btn-success' ng-click='createByShare()'>从用户分享创建</button>
        </div>
    </div>
    <div class='form-group clearfix' style='margin:0 -15px'>
        <div class='col-md-3 app' ng-repeat='app in apps'>
            <div class='thumbnail' ng-mouseenter='mouseenter=true' ng-mouseleave='mouseenter=false' ng-click='open(app.id)'>
                <button class='btn btn-default pull-right' ng-if='mouseenter' ng-click='remove(app,$event)'>
                <i class='fa fa-trash'></i>
                </button>
                <button class='btn btn-default pull-right' title='复制活动' ng-if='mouseenter' ng-click='copy(app,$event)'>
                <i class='fa fa-copy'></i>
                </button>
                <span>{{app.title}}</span>
                <div class='footer'>
                    <div>
                        <div class='creater_name'>{{app.creater_name}}</div>
                        <div class='stat'>
                            <span title="打开次数" ng-bind="app.read_num"></span>/
                            <span title="分享好友数" ng-bind="app.share_friend_num"></span>/
                            <span title="分享朋友圈数" ng-bind="app.share_timeline_num"></span>
                        </div>
                        <div class='datetime'>{{app.create_at*1000|date:'yy-MM-dd'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='clearfix'>
        <span style='height:34px;line-height:34px' ng-show='page.total>0'>总数：{{page.total}}</span>
        <div class='pull-right'>
            <pagination style='margin-top:0;cursor:pointer' ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
        </div>
    </div>
    <script type='text/ng-template' id='templatePicker.html'>
        <div class="modal-header">
            <button class="close" ng-click="cancel()">×</button>
            <h5 class="modal-title">选择模板</h5>
        </div>
        <div class="modal-body template">
            <div class='options'>
                <div class='form-group'>
                    <label>场景</label>
                    <select class='form-control' ng-model='data.scenario' ng-options='s as s.title for s in templates' ng-change='chooseScenario()'></select>
                </div>
                <div class='form-group'>
                    <label>模板</label>
                    <select class='form-control' ng-model='data.template' ng-options='t.title for t in data.scenario.templates' ng-change='chooseTemplate()'></select>
                </div>
                <div class='form-group'>
                    <button class="btn" ng-class="{'btn-default':!selected.template,'btn-success':data.template}" ng-click="ok()" ng-disabled='!data.template'>创建活动</button>
                </div>
            </div>
            <div class='pages'>
                <div class='form-group'>
                    <select id='selectedPage' class='form-control' ng-model='data.selectedPage' ng-options='p.title for p in pages' ng-change='choosePage()'></select>
                </div>
                <div class='form-group'>
                    <iframe id='simulator' src=""></iframe>
                </div>
            </div>
            <div class='schema' ng-if="data.scenario.name==='voting'">
                <div class='form-group'>
                    <button class='btn btn-default' ng-click='choosePage()'>重新生成页面</button>
                </div>
                <div class='form-group'>
                    <textarea id='schemaData' ng-model="data.simpleSchema"></textarea>
                </div>
            </div>
        </div>
    </script>
</div>