.thumbnail{position:relative;height:140px;cursor:pointer}
.thumbnail .footer{position:absolute;left:4px;right:4px;bottom:4px;}
.thumbnail .footer>div{display:table;width:100%}
.thumbnail .footer>div>div{display:table-cell;color:#999;line-height:30px;}
.thumbnail .creater_name{width:30%}
.thumbnail .stat{width:40%;text-align:center}
.thumbnail .datetime{width:30%;text-align:right}
.thumbnail button.remove{position:absolute;top:4px;right:4px}
 #simulator{width: 377px;height:669px;border:1px solid #efefef;}
 #selectedPage{width: 377px;}