.thumbnail{position:relative;height:140px;cursor:pointer}
.thumbnail .footer{position:absolute;left:4px;right:4px;bottom:4px;}
.thumbnail .footer>div{display:table;width:100%}
.thumbnail .footer>div>div{display:table-cell;color:#999;line-height:30px;}
.thumbnail .creater_name{width:30%}
.thumbnail .stat{width:40%;text-align:center}
.thumbnail .datetime{width:30%;text-align:right}
.thumbnail button.remove{position:absolute;top:4px;right:4px}
.template .options{position:relative;float:left;width:180px;margin-right:15px;}
.template .pages{position:relative;float:left;width:301px;margin-right:15px;}
.template .schema{position:relative;float:left;width:301px;}
#simulator,#schemaData{width:100%;height:535px;border:1px solid #efefef;}
#schemaData{resize:none;}