<div>
    <div class='form-group form-inline'>
        <div class='form-group'>
            <select class='form-control' ng-model='page.searchBy' ng-options='s.v as s.n for s in searchBys'></select>
        </div>
        <div class='form-group' style='max-width:200px'>
            <div class="input-group">
                <input type='text' class='form-control' ng-model='page.keyword' placeholder='搜索条件' ng-keyup='keywordKeyup($event)'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click='doSearch(1)'>
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class='form-group'>
            <select class='form-control' title='登记轮次' ng-if='editing.rounds' ng-model='page.byRound' ng-options='r.rid as r.title for r in editing.rounds'
            ng-change='doSearch(1)'>
                <option value=>全部</option>
            </select>
        </div>
        <div class='form-group'>
            <combox title='标签' evt-prefix='search-tag' readonly='true' existing='page.tags' options='editing.tags'></combox>
        </div>
        <div class='form-group pull-right' style='width:120px'>
            <div class='input-group'>
                <input class='form-control' ng-model='page.size' title='每页条数' placeholder='每页条数'>
                <span class='input-group-btn'>
                    <button class='btn btn-default' ng-click='doSearch(1)'>
                        <span class='glyphicon glyphicon-refresh'></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div id='records'>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th style='width:40px'>
                        <input type='checkbox' ng-model="selectAll">
                    </th>
                    <th style='width:100px'>登记时间</th>
                    <th style='width:100px'>昵称</th>
                    <th class='custom-col' ng-repeat="c in cols" title="{{c.ops}}">{{c.title}}</th>
                    <th style='width:100px' ng-if="editing.can_signin==='Y'">签到时间</th>
                    <th style='width:140px'>标签</th>
                    <th style='width:60px' ng-if="editing.can_like_record==='Y'">点赞</th>
                    <th style='width:60px' ng-if="editing.can_remark_record==='Y'">评论</th>
                    <th style='width:72px'>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='r in roll' class='roll'>
                    <td>
                        <input type='checkbox' ng-model='selected[$index]'>
                    </td>
                    <td>{{(r.enroll_at*1000)|date:'MM-dd HH:mm'}}</td>
                    <td>
                        <a href='javascript:void(0)' xxt-fid='{{r.fid}}' ng-click='viewUser(r)'>{{r.nickname}}</a>
                    </td>
                    <td ng-repeat="c in cols">
                        <span ng-if="c.id.indexOf('member')===0">{{r.data.member[c.id.split('.')[1]]}}</span>
                        <span ng-if="c.type!=='img'&&c.type!=='file'">{{value2Label(r.data[c.id], c.id)}}</span>
                        <span ng-if="c.type==='img'" ng-init="imgs=r.data[c.id].split(',')">
                            <img ng-repeat="img in imgs" ng-src='{{img}}' />
                        </span>
                        <span ng-if="c.type==='file'" ng-init="files=json2Obj(r.data[c.id])">
                            <span ng-repeat='file in files'>{{file.name}}</span>
                        </span>
                    </td>
                    <td ng-if="editing.can_signin==='Y'">{{r.signin_at>0 ? ((r.signin_at*1000)|date:'yyyy-MM-dd HH:mm') : ''}}</td>
                    <td>{{r.tags}}</td>
                    <td ng-if="editing.can_like_record==='Y'">{{r.score}}</td>
                    <td ng-if="editing.can_remark_record==='Y'">{{r.remark_num}}</td>
                    <td>
                        <button class='btn btn-xs btn-danger' ng-click='removeRecord(r)'>
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                        <button class='btn btn-xs btn-default' ng-click='editRecord(r)'>
                            <span class='glyphicon glyphicon-edit'></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='form-group form-inline'>
        <combox title='标签' evt-prefix='batch-tag' readonly='true' options='editing.tags'></combox>
        <button class='btn btn-danger' ng-click='empty()'>清空记录</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default">添加用户记录</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0)" ng-click='importUser()'>认证用户</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click='importApp()'>其他活动</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click='addRecord()'>手工添加</a>
                </li>
            </ul>
        </div>
        <pushnotify class='btn btn-primary' single-matter='Y' matter-types='notifyMatterTypes'>发送信息</pushnotify>
        <span>总数：{{page.total}}</span>
        <pagination style='margin:0;cursor:pointer;vertical-align:bottom' ng-if='page.total>page.size' class='pull-right'
        boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
    </div>
    <script type="text/ng-template" id="editor.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title">登记记录</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal roll-editor">
                <div class="form-group" ng-repeat="c in cols" ng-if="c.id.indexOf('member')!==0">
                    <label class="col-md-2 control-label">{{c.title}}</label>
                    <div class="col-md-10">
                        <input type='text' class='form-control' ng-if="c.type!=='img'&&c.type!=='file'" ng-model="item.data[c.id]">
                        <span ng-if="c.type==='img'" ng-init="imgs=item.data[c.id].split(',')">
                            <img ng-repeat="img in imgs" ng-src='{{img}}' />
                        </span>
                        <span ng-if="c.type==='file'" ng-init="files=json2Obj(item.data[c.id])">
                            <video ng-repeat="file in files" style="width: 100%;" controls="controls"><source ng-src="{{file.url}}" type="{{file.type}}" /></video>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-if='item.enroll_at'>
                    <label class="col-md-2 control-label">登记时间</label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{item.enroll_at*1000|date:'yyyy-MM-dd hh:mm'}}</p>
                    </div>
                </div>
                <div class="form-group" ng-if='item.enroll_at'>
                    <label class="col-md-2 control-label">签到时间</label>
                    <div class="col-md-10">
                        <p class="form-control-static" ng-if='item.signin_at>0'>{{item.signin_at*1000|date:'yyyy-MM-dd hh:mm'}}</p>
                        <button class="btn btn-primary" ng-if='item.signin_at==0' ng-click="signin()">签到</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">活动标签</label>
                    <div class="col-md-10">
                        <combox evt-prefix='tag' existing='item.aTags' options='aTags'></combox>
                    </div>
                </div>
                <div class="form-group" style='display:none'>
                    <label class="col-md-2 control-label">备注</label>
                    <div class="col-md-10">
                        <textarea class='form-control' ng-model='item.comment'></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">保存</button>
        </div>
    </script>
    <script type="text/ng-template" id="userPicker.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h4 class="modal-title">选择认证用户</h5>
        </div>
        <div class="modal-body">
            <userpicker user-set='userSet' user-config='userConfig'></userpicker>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </script>
    <script type="text/ng-template" id="importApp.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title">导入用户</h5>
        </div>
        <div class="modal-body clearfix">
            <div class='col-md-6'>
                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat='a in activities'>
                    <div class='radio' style='margin:0'>
                        <label><input type='radio' name='act' ng-click='changeAct(a)'>{{a.title}}</label>
                    </div>
                    </li>
                </ul>
            </div>
            <div class='col-md-6'>
                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat='w in walls'>
                    <div class='radio' style='margin:0'>
                        <label><input type='radio' name='wall' ng-click='changeWall(w)'>{{w.title}}</label>
                    </div>
                    </li>
                </ul>
                <div class='form-inline'>
                    <div class="radio">
                        <label><input type='radio' value='online' disabled ng-model='param.wallUserState'> 在线用户</label>
                    </div>
                    <div class="radio">
                        <label><input type='radio' value='active' disabled ng-model='param.wallUserState'> 已发言用户</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class='form-inline'>
                <div class="radio">
                    <label><input type='radio' value='inter' disabled ng-model='param.alg'> 交集</label>
                </div>
                <div class="radio">
                    <label><input type='radio' value='union' disabled ng-model='param.alg'> 并集</label>
                </div>
                <button class="btn btn-primary" ng-click="ok()">确定</button>
            </div>
        </div>
    </script>
</div>