<div id='setting'>
    <div class='form-inline form-group'>
        <div class='form-group'>
            <button class='btn' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
            <button class='btn btn-default' ng-if="editing.multi_rounds==='N'" ng-click="canRounds()">设置轮次</button>
            <button class='btn btn-success' ng-click='saveAsTemplate()'>分享为模板</button>
        </div>
        <div class="form-group pull-right" ng-if="mpaccount.asparent==='N'">
            <pushmatter class='btn btn-primary' matter-id={{editing.id}} matter-type='enroll' mpaccount="mpaccount">发送给指定用户</pushmatter>
            <span class='qrcode' ng-controller='SendmeController'>
                <button class='btn btn-primary' data-toggle="popover" data-placement='left' ng-click="qrcode({type:'enroll',id:editing.id},$event)">发送给我</button>
            </span >
        </div>
    </div>
    <div id='attrs'>
        <div class='form-horizontal'>
            <div class='form-group' ng-if="mpaccount.asparent==='N'">
                <label class='col-md-2 control-label'>URL</label>
                <div class='col-md-10'>
                    <p class="form-control-static">{{editing.url}}</p>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>活动名称</label>
                <div class='col-md-10'>
                    <input type="text" class="form-control" ng-model='editing.title' ng-change="update('title')">
                    <div class='help-block'>最多35个汉字，70个英文字符</div>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>头图</label>
                <div class='col-md-10'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                            <button class='btn btn-default' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                        </div>
                        <div style='position:relative' ng-if="editing.pic" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src='{{editing.pic}}' width='180px' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>摘要</label>
                <div class='col-md-10'>
                    <textarea class='form-control' ng-model='editing.summary' ng-change="update('summary');"
                    rows='3'></textarea>
                    <p class='help-block'>最多120个汉字，240个英文字符</p>
                </div>
            </div>
            <div class='form-group' ng-controller='setChannelCtrl' ng-init="matterType='enroll'">
                <label class='col-md-2 control-label'>频道（可选）</label>
                <div class='col-md-10'>
                    <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='channelsFromParent' ng-change='updateChannelSrc()'>来源于父账号</label>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>开始时间（可选）</label>
                <div class='col-md-10 form-inline'>
                    <tms-datepicker tms-title='开始时间' tms-date='editing.start_at' tms-state='start_at'></tms-datepicker>
                    <select title='进入页面' class='form-control' ng-model='editing.before_start_page' ng-options='page.name as page.title for page in editing.pages'
                    ng-change="update('before_start_page')">
                        <option value=''></option>
                    </select>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>结束时间（可选）</label>
                <div class='col-md-10 form-inline'>
                    <tms-datepicker tms-title='结束时间' tms-date='editing.end_at' tms-state='end_at'></tms-datepicker>
                    <select title='进入页面' class='form-control' ng-model='editing.after_end_page' ng-options='page.name as page.title for page in editing.pages'
                    ng-change="update('after_end_page')">
                        <option value=''></option>
                    </select>
                </div>
            </div>
            <accesscontrol mpid='{{mpaccount.mpid}}' obj='editing' title='参与限制' label='仅限认证用户参与' prop-acl='acl' prop-access='access_control'
            prop-apis='authapis' update-access-control="update('access_control')" update-authapis="update('authapis')" change-acl-url='/rest/mp/app/enroll/setAcl?id={{aid}}' remove-acl-url='/rest/mp/app/enroll/removeAcl' label-span='2' control-span='10'></accesscontrol>
            <div class='form-group'>
                <label class='col-md-2 control-label'>参与规则</label>
                <div class='col-md-10'>
                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th style='width:180px'>用户范围</th>
                                <th>进入时</th>
                                <th style='width:140px'>登记时</th>
                                <th style='width:140px'>评论</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>未指定时</td>
                                <td>
                                    <div class='form-inline'>
                                        <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.otherwise.entry' ng-options='page.name as page.title for page in editing.pages'></select>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-plus'></span>
                                        </button>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-edit'></span>
                                        </button>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>认证用户
                                    <span ng-if="editing.acl.length">（在白名单）</span>
                                </td>
                                <td>
                                    <div class='form-inline'>
                                        <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.member.entry' ng-options='page.name as page.title for page in editing.pages'>
                                            <option value=''></option>
                                        </select>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-plus'></span>
                                        </button>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-edit'></span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <select class='form-control' disabled>
                                        <option value='Y'>允许</option>
                                    </select>
                                </td>
                                <td>
                                    <select class='form-control' disabled>
                                        <option value='Y'>允许</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>认证用户（不在白名单）</td>
                                <td>
                                    <div class='form-inline'>
                                        <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.member_outacl.entry' ng-options='p.name as p.title for p in pages4OutAcl'>
                                            <option value=''></option>
                                        </select>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-plus'></span>
                                        </button>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-edit'></span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.member_outacl.enroll'>
                                        <option value='Y'>允许</option>
                                        <option value='$authapi_outacl'>提示白名单</option>
                                    </select>
                                </td>
                                <td>
                                    <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.member_outacl.remark'>
                                        <option value='Y'>允许</option>
                                        <option value='N'>不允许</option>
                                        <option value='$authapi_outacl'>提示白名单</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>关注用户</td>
                                <td>
                                    <div class='form-inline'>
                                        <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.fan.entry' ng-options='p.name as p.title for p in pages4Unauth'>
                                            <option value=''></option>
                                        </select>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-plus'></span>
                                        </button>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-edit'></span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.fan.enroll'>
                                        <option value='$authapi_auth' ng-if="editing.access_control==='Y'">提示认证</option>
                                        <option value='Y'>允许</option>
                                    </select>
                                </td>
                                <td>
                                    <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.fan.remark'>
                                        <option value='Y'>允许</option>
                                        <option value='N'>不允许</option>
                                        <option value='$authapi_auth' ng-if="editing.access_control==='Y'">提示认证</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>非关注用户</td>
                                <td>
                                    <div class='form-inline'>
                                        <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.nonfan.entry' ng-options="p.name as p.title for p in pages4Nonfan"></select>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-plus'></span>
                                        </button>
                                        <button class='btn btn-default'>
                                            <span class='glyphicon glyphicon-edit'></span>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <select class='form-control' ng-change="updateEntryRule()" ng-model='editing.entry_rule.nonfan.enroll'>
                                        <option value='$mp_follow'>提示关注</option>
                                        <option value='Y'>允许</option>
                                    </select>
                                </td>
                                <td>
                                    <select class='form-control' disabled>
                                        <option value='N'>不允许</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>已登记过时进入</label>
                <div class='col-md-10'>
                    <select class='form-control' ng-model='editing.enrolled_entry_page' ng-options='page.name as page.title for page in editing.pages'
                    ng-change="update('enrolled_entry_page')">
                        <option value=''></option>
                    </select>
                    <label class='checkbox-inline' ng-show='isInputPage(editing.enrolled_entry_page)'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.open_lastroll' ng-change="update('open_lastroll')">登记页中自动打开已登记记录</label>
                </div>
            </div>
            <accesscontrol mpid='{{mpaccount.mpid}}' obj='editing' prop-apis='authapis' prop-access='canSetReceiver' update-access-control=false prop-acl='receiver' label-of-list='登记活动管理员' change-acl-url='/rest/mp/app/enroll/setEnrollReceiver?aid={{aid}}' remove-acl-url='/rest/mp/app/enroll/delEnrollReceiver' label-span='2' control-span='10' hide-access-control=true></accesscontrol>
            <div class='form-group'>
                <label class='col-md-2 control-label'>接收登记通知页</label>
                <div class='col-md-10'>
                    <select class='form-control' ng-model='editing.receiver_page' ng-options='page.name as page.title for page in editing.pages'
                    ng-change="update( 'receiver_page') ">
                        <option value=''></option>
                    </select>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>扩展功能</label>
                <div class='col-md-10'>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_like_record' ng-change="update('can_like_record');">登记点赞</label>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_remark_record' ng-change="update('can_remark_record');">登记评论</label>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.remark_notice' ng-change="update('remark_notice');">登记评论提醒</label>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_autoenroll' ng-change="update('can_autoenroll');">自动登记</label>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_invite' ng-change="update('can_invite');">邀请</label>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_signin' ng-change="update('can_signin');">签到</label>
                    <label class='checkbox-inline'>
                        <input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_lottery' ng-change="update('can_lottery');">抽奖</label>
                </div>
            </div>
            <div class='form-group' ng-if="editing.remark_notice==='Y'">
                <label class='col-md-2 control-label'>接收评论提醒页</label>
                <div class='col-md-10'>
                    <select class='form-control' ng-model='editing.remark_notice_page' ng-options='page.name as page.title for page in editing.pages'
                    ng-change="update( 'remark_notice_page')">
                        <option value=''></option>
                    </select>
                </div>
            </div>
            <div class='form-group' ng-show="editing.can_signin==='Y' ">
                <label class='col-md-2 control-label'>签到时已登记回复</label>
                <div class='col-md-10'>
                    <button class='btn btn-default btn-sm' ng-click='setSuccessReply()'>指定素材</button>
                    <a class='list-group-item' title='{{editing.successMatter.type|typetitle}}' ng-if='editing.successMatter'><span>{{editing.successMatter.title||editing.successMatter.content}}</span><button class='btn btn-default btn-xs pull-right' ng-click='removeSuccessReply()'><span class='glyphicon glyphicon-remove'></span></button></a>
                </div>
            </div>
            <div class='form-group' ng-show="editing.can_signin==='Y'">
                <label class='col-md-2 control-label'>签到时未登记回复</label>
                <div class='col-md-10'>
                    <button class='btn btn-default btn-sm' ng-click='setFailureReply()'>指定素材</button>
                    <a class='list-group-item' title='{{editing.failureMatter.type|typetitle}}' ng-if='editing.failureMatter'><span>{{editing.failureMatter.title||editing.failureMatter.content}}</span><button class='btn btn-default btn-xs pull-right' ng-click='removeFailureReply()'><span class='glyphicon glyphicon-remove'></span></button></a>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>提示PC端完成</label>
                <div class='col-md-10'>
                    <div class='checkbox'>
                        <label>
                            <input type='checkbox' ng-model='editing.shift2pc' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update( 'shift2pc')">用户在手机上打开时会引导用户转发到PC端打开。需在【账号管理/定制功能】中设置提示内容。</label>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-md-2 control-label'>支持PC端任务码</label>
                <div class='col-md-10'>
                    <div class='checkbox'>
                        <label>
                            <input type='checkbox' ng-model='editing.can_taskcode' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update( 'can_taskcode') ">通过任务码直接在PC浏览器中输入（{{taskCodeEntryUrl}}）进入任务</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mediagallery box-id="{{mpaccount.mpid}}" />
    <mattersgallery style='display:none' single-matter='true' has-parent='false' matter-url='/rest/mp/matter' matter-types='matterTypes'></mattersgallery>
</div>