@media screen and (max-width:719px){ #activity_code{display:none} }
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:Arial,"Microsoft YaHei";}
#errorMsg{display:none;position:fixed;z-index:1999;width:300px;top:5px;left:50%;margin-left:-150px}
.row{margin:0}
