html{height:100%;padding:0;margin:0}
body{margin:0;padding:0;
    height:100%;width:100%;
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    flex-flow:column;
}
body>.container{
    padding:0;
    margin-left:10px;
    margin-right:10px;
}
body>.container,body>.container>.row,#setting_page,#enroll_pages,.carousel-inner,.carousel-inner>.item.active,.carousel-inner>.item.active>div:first-child{
    -webkit-box-flex:1;
    flex:1;
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    flex-flow:column;
}
#enroll_pages iframe{
    -webkit-box-flex:1;
    flex:1;
    border:1px solid #CCC
}
#enroll_pages iframe+div{background-color:#ccc}
.carousel-indicators{position:relative;bottom:0;margin-top:15px}
.carousel-indicators li{width:20px;height:20px;border-radius:20px;background-color:#CCC;margin-left:5px}
.carousel-indicators .active{width:22px;height:22px;background-color:#666;margin-left:5px}
#sendme{text-align:center}
