<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">从其他活动导入记录</h5>
</div>
<div class="modal-body">
    <uib-tabset active="active">
        <uib-tab index="1" heading="1.从哪个活动和轮次">
            <p></p>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <div class='input-group'>
                            <input type='text' class='form-control' ng-model="fromApps.filter.byTitle" placeholder="输入活动标题筛选">
                            <div class='input-group-btn'>
                                <button class='btn btn-default' ng-click="doFilter()"><i class='glyphicon glyphicon-refresh'></i></button>
                            </div>
                        </div>
                        <select class="form-control" ng-model="data.fromApp" ng-options="app.title for app in fromApps.data" size="10"></select>
                    </div>
                    <div class='form-group' ng-if="fromApps.page.total>fromApps.page.size">
                        <div class='pl-pagination'>
                            <ul uib-pagination class='pagination-sm' boundary-links="true" total-items="fromApps.page.total" max-size="5" rotate="false" ng-model="fromApps.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchFromApp()"></ul>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <select class="form-control" ng-model="data.fromRnd" ng-options="rnd.title for rnd in fromRnds.data" size="10">
                            <option value=>所有轮次</option>
                        </select>
                    </div>
                    <div class='form-group' ng-if="fromRnds.page.total>fromRnds.page.size">
                        <div class='pl-pagination'>
                            <ul uib-pagination class='pagination-sm' boundary-links="true" total-items="fromRnds.page.total" max-size="5" rotate="false" ng-model="fromRnds.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchFromRnd()"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="2.导入到哪个轮次">
            <p></p>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <select class="form-control" ng-model="data.toRnd" ng-options="rnd.title for rnd in rounds.data" size="10"></select>
                    </div>
                    <div class='form-group' ng-if="rounds.page.total>rounds.page.size">
                        <div class='pl-pagination'>
                            <ul uib-pagination class='pagination-sm' boundary-links="true" total-items="rounds.page.total" max-size="5" rotate="false" ng-model="fromRnds.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRnd()"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="3.执行导入">
            <p></p>
            <div class='row'>
                <div class='col-md-6'>
                    <div class="alert alert-info">
                        将活动【<span ng-bind="data.fromApp.title"></span>】<span ng-if="data.fromRnd">填写轮次【<span ng-bind="data.fromRnd.title"></span>】</span><span ng-if="!data.fromRnd">所有</span>的记录导入到当前活动的填写轮次【<span ng-if="data.toRnd" ng-bind="data.toRnd.title"></span><span ng-if="!data.toRnd">需要指定</span>】
                    </div>
                    <div class="alert alert-info" ng-if="data.compatibleSchemas.length">
                        导入题目<span ng-repeat="schema in data.compatibleSchemas">【<span ng-bind="schema[0].title"></span>】</span>的数据
                    </div>
                    <div class="alert alert-warning" ng-if="data.compatibleSchemas.length===0">
                        没有可以导入的题目
                    </div>
                    <p class='help-block'>只导入目标活动中题目的名称和类型与当前活动的题目一致的数据</p>
                </div>
                <div class='col-md-6'>
                    <button class="btn btn-success" ng-click="ok()" ng-disabled="!data.toRnd||!data.fromApp||data.compatibleSchemas.length===0">执行导入</button>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
</div>