<div class='full-height flex-frame' ng-controller='ctrlProduct'>
    <div class='flex-main'>
        <div class='flex-main-wrap'>
            <div id='product'>
                <div class='form-group'>
                    <label class='form-control-static'>名称</label>
                    <div class='form-control-static' ng-bind='product.name'></div>
                </div>
                <div class='form-group' ng-if="product.detail_text">
                    <label class='form-control-static'>介绍</label>
                    <div>
                        <div class='form-control-static detail_text' ng-bind="product.detail_text||'&nbsp;'"></div>
                    </div>
                </div>
                <div class='form-group prop' ng-repeat='cp in catelog.properties'>
                    <label class='form-control-static' ng-bind='cp.name'></label>
                    <div class='form-control-static' ng-bind="propValues[cp.id].name||'&nbsp;'"></div>
                </div>
            </div>
            <div id='skus'>
                <div ng-repeat='cateSku in cateSkus'>
                    <div class='sku' ng-class="{'selected':sku.selected}" ng-repeat='sku in cateSku.skus' ng-click='chooseSku(sku)'>
                        <div class='price form-group' ng-if="cateSku.require_pay==='Y'">
                            <label class='form-control-static'>价格（元）</label>
                            <div class='form-control-static' ng-bind="(sku.price/100)||'&nbsp;'"></div>
                        </div>
                        <div class='beginAt form-group' ng-if="cateSku.has_validity==='Y'">
                            <label class='form-control-static'>有效期</label>
                            <div class='form-control-static' ng-bind="sku.validity_begin_at*1000|date:'yy/MM/dd hh:mm'"></div>
                            <div class='form-control-static' ng-bind="sku.validity_end_at*1000|date:'yy/MM/dd hh:mm'"></div>
                        </div>
                        <div class='quantitiy form-group' ng-if="sku.unlimited_quantity==='N'">
                            <label class='form-control-static'>剩余数量</label>
                            <div class='form-control-static' ng-bind="sku.quantity"></div>
                        </div>
                    </div>
                </div>
                <div class='empty-sku' ng-if="cateSkus.length===0">没有库存</div>
            </div>
        </div>
    </div>
    <footer class='flex-bar'>
        <button class="btn btn-lg btn-default" ng-click='addOther(product,orderInfo.skus)'>添加其他</button>
        <button class='cart btn btn-lg btn-default' ng-click='gotoCart(product,orderInfo.skus)'><span>已选</span><div class='status' ng-bind='Cart.countOfProducts'></div></button>
        <button class="btn btn-lg btn-default" ng-click='gotoOrder(product,orderInfo.skus)'>完成选择</button>
    </footer>
</div>