<div class="app" id="rank">
    <div class='filter'>
        <div class="col-md-2 col-xs-4">
            <div class='form-control' ng-click="setRound()" title='{{checkedRoundTitles}}' style='overflow:hidden;white-space:nowrap;'>{{checkedRoundTitles}}</div>
        </div>
        <div class='col-md-2 col-xs-4'>
            <select class='form-control' ng-model="appState.criteria.obj">
                <option value='user'>用户</option>
                <option value='group' ng-if="app.entryRule.group.id">用户分组</option>
                <option value='{{::rs.id}}' ng-repeat="rs in rankSchemas">{{::rs.title}}</option>
            </select>
        </div>
        <div class='col-md-3 col-xs-4'>
            <select class='form-control' ng-model="appState.criteria.orderby" ng-change="changeCriteria()">
                <option value='enroll' ng-if="config.enroll">提交记录数量</option>
                <option value='cowork' ng-if="config.cowork&&appState.dimension!=='schema'">获得答案数量</option>
                <option value='remark' ng-if="config.remark&&appState.dimension!=='schema'">获得留言数量</option>
                <option value='vote_schema' ng-if="config.vote_schema&&appState.dimension!=='schema'">问题得票数量</option>
                <option value='vote_cowork' ng-if="config.vote_cowork&&appState.dimension!=='schema'">答案得票数量</option>
                <option value='like' ng-if="config.like&&appState.dimension!=='schema'">获得点赞数量</option>
                <option value='do_remark' ng-if="config.remark_other&&appState.dimension!=='schema'">发表留言数量</option>
                <option value='score' ng-if="config.score">得分</option>
                <option value='average_score' ng-if="appState.criteria.obj==='group'&&config.average_score&&appState.dimension!=='schema'">组员平均得分</option>
                <option value='average_score' ng-if="config.average_score&&appState.dimension==='schema'">用户平均得分</option>
                <option value='total_coin' ng-if="app.scenarioConfig.can_coin==='Y'&&config.total_coin&&appState.dimension!=='schema'">积分</option>
                <option ng-repeat="ss in scopeSchemas" value='schema_{{ss.id}}'>{{::ss.title}}</option>
            </select>
        </div>
    </div>
    <div class='result'>
        <div ng-switch on="appState.dimension">
            <ul ng-switch-when="user">
                <li class='hidden-xs'>
                    <div class='col-md-1'>序号</div>
                    <div class='col-md-9 text-left'>用户</div>
                    <div class='col-md-2'>数值</div>
                </li>
                <li ng-repeat="u in users" class='record'>
                    <div class='col-md-1 col-xs-1'>
                        <span class='rank-num'>{{::$index+1}}</span>
                    </div>
                    <div class="col-md-9 col-xs-8 text-left">
                        <img class='user-headimg' ng-src="{{::u.headimgurl}}" />
                        <span>{{::u.nickname}}</span>
                        <span ng-if="app.entryRule.group.id">-{{::u.group.team_title}}</span>
                    </div>
                    <div class='col-md-2 col-xs-1'><span ng-bind="::u.rankVal"></span></div>
                </li>
            </ul>
            <ul ng-switch-when="group">
                <li class='hidden-xs'>
                    <div class='col-md-1'>序号</div>
                    <div class='col-md-9 text-left'>分组</div>
                    <div class='col-md-2'>数值</div>
                </li>
                <li ng-repeat="g in groups" class='record'>
                    <div class='col-md-1 col-xs-1'>
                        <span class='rank-num'>{{::$index+1}}</span>
                    </div>
                    <div class="col-md-9 col-xs-8 text-left">
                        <span>{{::g.title}}</span>
                    </div>
                    <div class='col-md-2 col-xs-1'><span ng-bind="::g.rankVal"></span></div>
                </li>
            </ul>
            <ul ng-switch-when="schema">
                <li class='hidden-xs'>
                    <div class='col-md-1'>序号</div>
                    <div class='col-md-9 text-left'>选项</div>
                    <div class='col-md-2'>数值</div>
                </li>
                <li ng-repeat="op in schemaOps" class='record'>
                    <div class='col-md-1 col-xs-1'>
                        <span class='rank-num'>{{::$index+1}}</span>
                    </div>
                    <div class="col-md-9 col-xs-8 text-left">
                        <span>{{::op.l}}</span>
                    </div>
                    <div class='col-md-2 col-xs-1'><span ng-if="appState.criteria.orderby!=='score'">{{::op.num}}</span><span ng-if="appState.criteria.orderby==='score'">{{::op.num|number:2}}</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>