<div class='app' id="stat">
    <h3>{{app.title}}</h3>
    <hr>
    <div ng-if="rounds.length>1">
        <div class="btn-group" uib-dropdown dropdown-append-to-body='true'>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                <span ng-bind="criteria.round.title"></span>
                <span class="glyphicon glyphicon-filter"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="rnd in rounds"><a href ng-click="shiftRound(rnd)">{{rnd.title}}</a></li>
            </ul>
        </div>
    </div>
    <!--schemas-->
    <div ng-repeat="schema in rpSchemas">
        <h3><span ng-bind="schema.title"></span></h3>
        <div ng-if="['single','multiple'].indexOf(schema.type)!==-1">
            <div id="{{schema.id}}" style='height:300px'></div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:4em'>编号</th>
                        <th>选项</th>
                        <th style='width:6em' ng-if="chartConfig.number==='Y'">数量</th>
                        <th style='width:6em' ng-if="chartConfig.percentage==='Y'">占比</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="op in stat[schema.id].ops">
                        <td>选项{{$index+1}}</td>
                        <td>{{op.l}}</td>
                        <td ng-if="chartConfig.number==='Y'">{{op.c}}</td>
                        <td ng-if="chartConfig.percentage==='Y'">{{op.p}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="'score'===schema.type">
            <div id="{{schema.id}}" style='height:300px'></div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:4em'>编号</th>
                        <th>打分项</th>
                        <th style='width:6em'>平均分</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="op in stat[schema.id].ops">
                        <td>选项{{$index+1}}</td>
                        <td>{{op.l}}</td>
                        <td>{{op.c}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="['single','multiple','score'].indexOf(schema.type)===-1" ng-init="page={schema:schema.id,at:1,size:10}">
            <div id="{{schema.id}}" style='height:300px' ng-if="schema.number&&schema.number=='Y'"></div>
            <table class='table table-bordered' ng-switch on="schema.type">
                <thead>
                    <tr>
                        <th ng-repeat='mark in app.rpConfig.marks' ng-if="mark.id!==schema.id">{{mark.name}}</th>
                        <th>登记内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in getRecords(schema,page).records">
                        <td ng-repeat='mark in app.rpConfig.marks' ng-if="['nickname'].indexOf(mark.id)!==-1&&mark.id!==schema.id">
                            <span ng-bind-html="record.nickname"></span>
                        </td>
                        <td ng-repeat='mark in app.rpConfig.marks' ng-if="['nickname'].indexOf(mark.id)===-1&&mark.id!==schema.id">
                            <span ng-bind-html="record._data[mark.id]"></span>
                        </td>
                        <td ng-switch on="schema.type">
                            <div ng-switch-when="image">
                                <span><img style='max-width:100%' ng-repeat="img in record._data[schema.id]" ng-src='{{img}}' /></span>
                            </div>
                            <div ng-switch-when="file">
                                <span ng-repeat='file in record._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </div>
                            <div ng-switch-when="multitext">
                                <p ng-repeat='item in record._data[schema.id]'><span ng-bind="item.value"></span></p>
                            </div>
                            <span ng-switch-when="date">{{(record._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                            <span ng-switch-default ng-bind-html="record._data[schema.id]"></span>
                        </td>
                    </tr>
                    <tr class='text-center' ng-if="schema.number&&schema.number=='Y'&&app.rpConfig.marks.length">
                        <td>合计</td>
                        <td colspan={{app.rpConfig.marks.length}}>{{getRecords(schema,page).sum}}</td>
                    </tr>
                    <tr class='text-center' ng-if="schema.number&&schema.number=='Y'&&!app.rpConfig.marks.length">
                        <td>合计：{{getRecords(schema,page).sum}}</td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="page.total>page.size">
                <div class='site-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination class='pagination-sm' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="getRecords(schema,page)"></ul>
                </div>
            </div>
        </div>
    </div>
    <!--schemas-->
    <div ng-if="scoreSummary.length">
        <hr style='height:1px;background:#aaa'>
        <h3><span>打分项汇总</span></h3>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>打分项</th>
                    <th>平均分</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="op in scoreSummary">
                    <td>{{op.l}}</td>
                    <td>{{op.c}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>