.header{font-size:40px;}
.wall{list-style-type:none;margin:0 auto;padding:0}
.message{display:inline;list-style-type:none}
.wall li .avatar{float:left}
.wall li .avatar img{}
.wall li .content{float: left;font-size:40px}
