<div class='container' ng-clock ng-app='xxtApp' ng-controller='initiateCtrl' style='padding:15px 0'>
    <notice-box err='errmsg' info='infomsg' prog='progmsg' delay='2000'></notice-box>
    <nav class='navbar navbar-default'>
        <div class="container-fluid">
            <ul class='nav navbar-nav navbar-right'>
                <button class='btn btn-success navbar-btn' ng-click='create()'>新建</button>
            </ul>
        </div>
    </nav>
    <div class='table'>
        <div class='thead'>
            <div class='tr'>
                <div>标题</div>
                <div>创建时间</div>
                <div>处理阶段</div>
                <div>审核状态</div>
                <div>阅读</div>
                <div>点赞</div>
            </div>
        </div>
        <div class='tbody'>
            <div class='tr' ng-repeat="a in articles" ng-click="open(a)">
                <div ng-bind="a.title" ng-class="{'pending':a.disposer.state==='P'&&a.disposer.phase==='I'}"></div>
                <div ng-bind="a.create_at*1000|date:'yy-MM-dd HH:mm'"></div>
                <div ng-bind="phases[a.disposer.phase]||'投稿'"></div>
                <div ng-bind="approved[a.approved]"></div>
                <div ng-bind="a.read_num"></div>
                <div ng-bind="a.score"></div>
            </div>
        </div>
    </div>
</div>
