<div>
    <div class='table'>
        <div class='thead'>
            <div class='tr'>
                <div>序号</div>
                <div>发起时间</div>
                <div>处理人</div>
                <div>接收时间</div>
                <div>处理时间</div>
                <div>阶段</div>
                <div>消息</div>
            </div>
        </div>
        <div class='tbody'>
            <div class='tr' ng-repeat="l in logs">
                <div ng-bind="l.seq"></div>
                <div ng-bind="l.send_at*1000|date:'yy-MM-dd HH:mm'"></div>
                <div ng-bind="l.disposer_name"></div>
                <div><span ng-if='l.receive_at>0' ng-bind="l.receive_at*1000|date:'yy-MM-dd HH:mm'"></span></div>
                <div><span ng-if='l.read_at>0' ng-bind="l.read_at*1000|date:'yy-MM-dd HH:mm'"><span></div>
                <div ng-bind="phases[l.phase]"></div>
                <div ng-bind="l.remark"></div>
            </div>
        </div>
    </div>
</div>