<div class='ng-cloak' ng-cloak ng-app='xxtApp' ng-controller='contributeCtrl' ng-init="jsonParams='<?php echo urlencode(json_encode(TPL::val('params')));?>'">
    <notice-box err='errmsg' info='infomsg' prog='progmsg' delay='2000'></notice-box>
    <div class='container'>
        <div class='row'>
            <div class="col-md-4" ng-repeat='e in entries'>
                <div class="thumbnail">
                    <p class='title' ng-bind='e.title'></p>
                    <p class='summary' ng-bind='e.summary'></p>
                    <button class='btn btn-default' ng-if='e.isInitiator' ng-click='initiate(e)'>投稿</button>
                    <button class='btn btn-default' ng-if='e.isReviewer' ng-click='review(e)'>审稿</button>
                    <button class='btn btn-default' ng-if='e.isTypesetter' ng-click='typeset(e)'>版面</button>
                </div>
            </div>
            <div class='alert alert-info' ng-if='!entries'>没有可参与的投稿活动</div>
        </div>
    </div>
</div>