<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">分组活动</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class='form-group'>
            <label class="col-md-3 control-label">目标活动</label>
            <div class="col-md-9">
                <select class="form-control" ng-model="data.app" ng-options="app.title for app in apps"></select>
                <div class='checkbox' ng-if="app.mission">
                    <label>
                        <input disabled type='checkbox' ng-model="data.sameMission" ng-true-value="'Y'" ng-false-value="'N'"> 选择同一个项目中的活动</label>
                </div>
            </div>
        </div>
        <div class='form-group' ng-if="!multiple">
            <label class="col-md-3 control-label">目标分组</label>
            <div class="col-md-9">
                <select class="form-control" ng-model="data.team" ng-options="team.title for team in teams">
                    <option>全部分组</option>
                </select>
            </div>
        </div>
        <div class='form-group' ng-if="multiple">
            <label class="col-md-3 control-label">目标分组</label>
            <div class="col-md-9" ng-if="teams.length">
                <div tms-array-checkbox model="data.teams">
                    <div class='checkbox' ng-repeat="team in teams">
                        <label class='checkbox-inline'>
                            <input type='checkbox' value='{{::team.team_id}}'><span>{{::team.title}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>