<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">登记项</h5>
</div>
<div class="modal-body">
    <div class='list-group-item' style='padding-top:0;padding-bottom:0' ng-repeat="s in schemas">
        <div class='checkbox'>
            <label><input type='checkbox' ng-model='s._selected' ng-change="choose(s)"><span ng-bind="s.title"></span></label>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top:0">
    <button class="btn btn-success" ng-click="ok()">确定</button>
</div>