<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">从其他活动的记录创建题目</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-6'>
            <div class='form-group'>
                <label>活动</label>
                <div class='input-group'>
                    <input type='text' class='form-control' ng-model="filter.byTitle" placeholder="输入活动标题筛选">
                    <span class='input-group-btn'>
                        <button class='btn btn-default' ng-click="doFilter()"><i class='glyphicon glyphicon-refresh'></i></button>
                    </span>
                </div>
                <select class="form-control" ng-model="result.fromApp" ng-options="app as app.title for app in apps" size="12" ng-change="selectApp()" style='overflow-x:auto'></select>
            </div>
            <div class='form-group'>
                <div class='pl-pagination'>
                    <ul uib-pagination ng-show="page.total>page.size" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="doSearch()"></ul>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='form-group'>
                <label>题目</label>
                <div class='list-group' style='height:300px;overflow-y:auto'>
                    <div class='list-group-item' ng-repeat="schema in result.fromApp.dataSchemas">
                        <label class="checkbox-inline">
                            <input type='checkbox' ng-model="schema._selected" ng-change="selectSchema(schema)">{{schema.title}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <div class='form-inline text-right'>
                <div class='form-group'>
                    <input type='number' class='form-control' ng-model="result.limit.num" placeholder="数量" style='width:6em'>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="limitScope" value="top" ng-model="result.limit.scope"> <span>按选择数排序的前<mark ng-bind="result.limit.num"></mark>选项</span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="limitScope" value="checked" ng-model="result.limit.scope"> <span>获得选择数大于<mark ng-bind="result.limit.num"></mark>的选项</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="!result.fromApp">执行</button>
</div>