<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">新页面</h5>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class='radio-inline'><input type='radio' value='I' name='type' ng-model='options.type'>填写页</label>
        <label class='radio-inline'><input type='radio' value='V' name='type' ng-model='options.type'>查看页</label>
        <label class='radio-inline'><input type='radio' value='L' name='type' ng-model='options.type'>列表页</label>
    </div>
</div>
<div class="modal-footer" style="margin-top:0">
    <button class="btn btn-success" ng-click="ok()">确定</button>
</div>