<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">筛选条件</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-if="rounds.length">
            <label class="col-md-3 control-label">轮次</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="criteria.rid" size=5>
                    <option value=''>全部轮次</option>
                    <option value="{{rnd.rid}}" ng-repeat="rnd in rounds">{{rnd.title}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" ng-if="app.groupApp">
            <label class="col-md-3 control-label">分组名称</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="criteria.byGroup" ng-options="round.round_id as round.title for round in app.groupApp.rounds">
                    <option></option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>
