<div class="modal-header">
    <h5 class="modal-title">从excel文件导入记录</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-12'>
            <div class='form-inline'>
                <div class='form-group' ng-class="{'has-error':!options.rid}">
                    <select class='form-control' ng-options="rnd.rid as rnd.title for rnd in rounds" ng-model="options.rid">
                        <option value=>选择导入轮次</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label class='radio-inline'>
                        <input type='radio' name='overwrite' value='' ng-model="options.overwrite"> 保留已有记录</label>
                    <label class='radio-inline'>
                        <input type='radio' name='overwrite' value='all' ng-model="options.overwrite"> 覆盖已有记录</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-md-4'>
            <div class='checkbox'>
                <label>
                    <input type='checkbox' ng-model="options.assoc.userid"> 导入记录作为用户填写内容（关联【系统用户ID】）</label>
            </div>
            <div>
                <div class='radio'>
                    <label>
                        <input type='radio' name='assocSource' value='app.mschema' ng-model="options.assoc.source"> 通过将导入记录中的信息与活动进入规则中指定的【通讯录】中的信息进行匹配，确定用户</label>
                </div>
            </div>
        </div>
        <div class='col-md-4' ng-switch on="options.assoc.source">
            <div ng-switch-when="app.mschema">
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th>通讯录题目</th>
                            <th>活动题目</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>姓名</td>
                            <td style='padding:0'>
                                <div ng-class="{'has-error':options.assoc.userid&&intersectedValidNum===0}">
                                    <select class='form-control' ng-model="options.assoc.intersected.name" ng-options="schema2.id as schema2.title for schema2 in dataSchemas">
                                        <option value=></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>手机</td>
                            <td style='padding:0'>
                                <div ng-class="{'has-error':options.assoc.userid&&intersectedValidNum===0}">
                                    <select class='form-control' ng-model="options.assoc.intersected.mobile" ng-options="schema2.id as schema2.title for schema2 in dataSchemas">
                                        <option value=></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
    <button id='btnImportByExcel' class="btn btn-primary" ng-disabled="hasError">选择文件并开始导入</button>
</div>