<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">从其他活动导入记录</h5>
</div>
<div class="modal-body">
    <div class='form-group'>
        <label>目标活动</label>
        <div class='input-group'>
        	<input type='text' class='form-control' ng-model="filter.byTitle" placeholder="输入活动标题筛选">
        	<span class='input-group-btn'>
        		<button class='btn btn-default' ng-click="doFilter()"><i class='glyphicon glyphicon-refresh'></i></button>
        	</span>
        </div>
        <select class="form-control" ng-model="data.fromApp" ng-options="app.id as app.title for app in apps" size="10"></select>
    </div>
    <div class='form-group'>
        <span style='display:inline-block;line-height:34px'>总数：{{page.total}}</span>
        <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class='pull-right' ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
    </div>
    <p class='help-block'>只从目标活动导入名称和类型一致的题目</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="!data.fromApp">执行</button>
</div>