<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">从其他活动导入记录</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-6'>
            <div class='form-group'>
                <label>目标活动</label>
                <div class='input-group'>
                	<input type='text' class='form-control' ng-model="filter.byTitle" placeholder="输入活动标题筛选">
                	<span class='input-group-btn'>
                		<button class='btn btn-default' ng-click="doFilter()"><i class='glyphicon glyphicon-refresh'></i></button>
                	</span>
                </div>
                <select class="form-control" ng-model="data.fromApp" ng-options="app as app.title for app in apps" size="15" ng-change="selectApp()"></select>
            </div>
            <div class='form-group'>
                <div style='line-height:34px'>总数：{{page.total}}</div>
                <ul uib-pagination style="margin:0;cursor:pointer" ng-show="page.total>page.size" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="doSearch()"></ul>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='list-group' style='height:395px;overflow-y:auto'>
                <div class='list-group-item checkbox' ng-repeat="schema in data.fromApp.dataSchemas">
                    <label><input type='checkbox' ng-model="schema._selected" ng-change="selectSchema(schema)">{{schema.title}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="!data.fromApp">执行</button>
</div>