<div class="modal-header">
    <button class="close" ng-click="cancel()" type="button">×</button>
    <h5 class="modal-title">修改</h5>
</div>
<div class="modal-body">
    <div class='row'>
		<div class='col-md-6'>
			<div class="form-group">
				<div>
                    <label class='radio-inline'><input type='radio' value='U' name='scope' ng-model="config.dataScope">当前用户</label>
                    <label class='radio-inline'><input type='radio' value='A' name='scope' ng-model="config.dataScope">整个活动</label>
                    <label class='radio-inline'><input type='radio' value='I' name='scope' ng-model="config.dataScope">当前用户邀请的</label>
                </div>
                <div class='help-block'>数据范围</div>
            </div>
            <div class="form-group">
                <select class='form-control' ng-model="config.onclick">
                    <option value=''>不跳转</option>
                    <option value='{{p.name}}' ng-repeat='p in app.pages'>{{p.title}}</option>
                </select>
                <div class='help-block'>选中后跳转到页面</div>
            </div>
        </div>
        <div class='col-md-6'>
		    <div class='list-group-item' ng-repeat="s in schemas">
		        <div class='checkbox' style='margin:0'>
		            <label><input type='checkbox' ng-model='s._selected' ng-change="choose(s)"><span ng-bind="s.title"></span></label>
		        </div>
		    </div>
	    </div>
    </div>
</div>
<div class="modal-footer" style="margin-top:0">
    <button class="btn btn-success" ng-click="ok()">确定</button>
</div>