<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">筛选条件</h5>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>审核通过</label>
        <div>
            <label class='radio-inline'>
                <input type='radio' name='verified' value='Y' ng-model="criteria.record.verified">是</label>
            <label class='radio-inline'>
                <input type='radio' name='verified' value='N' ng-model="criteria.record.verified">否</label>
            <label class='radio-inline'>
                <input type='radio' name='verified' value='' ng-model="criteria.record.verified">全部</label>
        </div>
    </div>
    <div class="form-group" ng-if="rounds.length">
        <label>轮次</label>
        <ul class='list-group' style='max-height:170px;overflow-y:auto'>
            <li>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="checkedRounds.ALL" ng-change="toggleCheckedRound('ALL')">全部</label>
            </li>
            <li ng-if="activeRound">
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="checkedRounds[activeRound.rid]" ng-change="toggleCheckedRound(activeRound.rid)">{{activeRound.title}}<span>（启用）</span></label>
            </li>
            <li ng-repeat="rnd in rounds">
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="checkedRounds[rnd.rid]" ng-change="toggleCheckedRound(rnd.id)">{{rnd.title}}</label>
            </li>
        </ul>
        <div class='pl-pagination' ng-show="pageOfRound.total>pageOfRound.size">
            <span>总数：{{pageOfRound.total}}</span>
            <ul uib-pagination boundary-links="true" total-items="pageOfRound.total" max-size="5" items-per-page="pageOfRound.size" rotate="false" ng-model="pageOfRound.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRound()"></ul>
        </div>
    </div>
    <div class="form-group" ng-if="groups.length">
        <label>分组</label>
        <select class='form-control' ng-model="criteria.record.group_id">
            <option value=''>全部</option>
            <option value="{{group.round_id}}" ng-repeat="group in groups">{{group.title}}</option>
        </select>
        <div class='pl-pagination' ng-show="pageOfRound.total>pageOfRound.size">
            <span>总数：{{pageOfRound.total}}</span>
            <ul uib-pagination boundary-links="true" total-items="pageOfRound.total" max-size="5" items-per-page="pageOfRound.size" rotate="false" ng-model="pageOfRound.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRound()"></ul>
        </div>
    </div>
    <div class="form-group" ng-repeat="schema in schemas">
        <label>{{schema.title}}</label>
        <div>
            <input type='text' class='form-control' ng-if="['shorttext','location'].indexOf(schema.type)!==-1" ng-model="criteria.data[schema.id]">
            <textarea class='form-control' ng-if="'longtext'===schema.type" ng-model="criteria.data[schema.id]"></textarea>
            <select class='form-control' ng-if="['single','phase'].indexOf(schema.type)!==-1" ng-model="criteria.data[schema.id]" ng-options="op.v as op.l for op in schema.ops">
                <option></option>
            </select>
            <ul ng-if="schema.type==='multiple'">
                <li class='checkbox' ng-repeat="op in schema.ops">
                    <label>
                        <input type="checkbox" name="{{schema.id}}" ng-model="criteria.data[schema.id][op.v]" /><span>{{op.l}}</span></label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="clean()">清除条件</button>
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>