<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">题目默认值</h5>
</div>
<div class="modal-body" ng-switch on="schema.type">
    <div class='form-group' ng-switch-when="single">
        <label ng-bind="schema.title"></label>
        <select class='form-control' ng-model="data.defaultValue" ng-options="op.v as op.l for op in schema.ops">
            <option>无</option>
        </select>
    </div>
    <div class='form-group' ng-switch-when="multiple">
        <label ng-bind="schema.title"></label>
        <div class='checkbox' ng-repeat="op in schema.ops">
            <label>
                <input type='checkbox' ng-model="data.defaultValue[op.v]">{{op.l}}</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">确定</button>
</div>