<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">指定其他活动中的题目</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-6'>
            <div class='form-group'>
                <label>活动</label>
                <div class='input-group'>
                    <input type='text' class='form-control' ng-model="filter.byTitle" placeholder="输入活动标题筛选">
                    <span class='input-group-btn'>
                        <button class='btn btn-default' ng-click="doFilter()"><i class='glyphicon glyphicon-refresh'></i></button>
                    </span>
                </div>
                <select class="form-control" ng-model="result.fromApp" ng-options="app as app.title for app in apps" size="12" ng-change="selectApp()"></select>
            </div>
        </div>
        <div class='col-md-6'>
            <label>题目</label>
            <div class='list-group' style='height:300px;overflow-y:auto'>
                <div class='list-group-item' ng-repeat="schema in result.fromApp.dataSchemas">
                    <label class="radio-inline">
                        <input type='radio' name='dsSchema' value="{{$index}}" ng-model="result.selected">{{schema.title}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='pl-pagination'>
                <span>总数：{{page.total}}</span>
                <ul uib-pagination ng-show="page.total>page.size" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="doSearch()"></ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="!result.fromApp">执行</button>
</div>