<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">指定活动中的题目</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-12'>
            <label>题目</label>
            <div class='list-group' style='height:300px;overflow-y:auto'>
                <div class='list-group-item' ng-repeat="schema in schemas">
                    <label class="checkbox-inline">
                        <input type='checkbox' ng-model="result[schema.id]">{{schema.title}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">执行</button>
</div>