<div class="modal-body">
    <uib-tabset active="activeView">
        <uib-tab index="groups" heading="分组">
            <div class='row' style='margin-top:15px;'>
                <div class='col-md-6'>
                    <div class='list-group'>
                        <div class='list-group-item' ng-class="{'active':g===activeGroup}" ng-repeat="g in groups" ng-click="toggleGroup(g)">
                            <div ng-bind="g.l"></div>
                        </div>
                    </div>
                    <button class='btn btn-default' ng-click="addGroup()">添加分组</button>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label>分组名称</label>
                        <input type='text' class='form-control' ng-disabled="!activeGroup" ng-model="activeGroup.l">
                    </div>
                    <div class='form-group'>
                        <label>显示条件</label>
                        <select class='form-control' ng-disabled="!activeGroup" ng-model="activeGroup.assocOp.schema" ng-options="schema.title for schema in singleSchemas">
                            <option value=>无</option>
                        </select>
                        <select class='form-control' ng-if="activeGroup.assocOp.schema" ng-model="activeGroup.assocOp.v" ng-options="op.v as op.l for op in activeGroup.assocOp.schema.ops">
                        </select>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="options" heading="选项">
            <div class='list-group' style='margin-top:15px;margin-bottom:0;'>
                <div class='list-group-item' ng-repeat="op in options" style='display:flex;'>
                    <div style='flex-grow:1'>
                        <div ng-bind="op.l"></div>
                    </div>
                    <div style='flex-grow:1'>
                        <select class='form-control' ng-model="op.g">
                            <option value=''>不属于分组</option>
                            <option value="{{g.i}}" ng-repeat="g in groups">{{g.l}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </uib-tab>
        <button class="close" ng-click="cancel()">×</button>
    </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>