<div class='container' ng-controller="ctrlSite">
    <div class='row'>
        <div class='col-md-4' ng-repeat="s in sites">
            <div class='thumbnail site'>
                <h4 class='title' ng-bind="s.title"></h4>
                <p class='summary' ng-bind="s.summary"></p>
                <div class='heading-pic' heading-pic ng-if="s.pic">
                    <img ng-src='{{s.pic}}'>
                </div>
                <div class='attr'>
                    <div class='creater_name' ng-bind="s.creater_name"></div>
                    <div class='put_at' ng-bind="s.put_at*1000|date:'yyyy-MM-dd'"></div>
                </div>
                <div class='actions'>
                    <a class='btn btn-sm btn-default' ng-click='open(s)'>打开</a>
                    <button class='btn btn-sm btn-success' ng-click='collect(s)'>关注</button>
                </div>
            </div>
        </div>
    </div>
</div>