<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <a href='/rest/pl/fe/matter/lottery/setting?site={{siteId}}&id={{id}}'>设置</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">进入URL</div>
        <div class="panel-body">
            <div class='input-group'>
                <input class='form-control' readonly value="{{entry.url}}">
                <div class='input-group-btn'>
                    <a class='btn btn-default' ng-href="{{entry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">进入二维码</div>
        <div class="panel-body">
            <span><img id='entryQrcode' ng-src="{{entry.qrcode}}"></span>
            <button class='btn btn-default' ng-click="downloadQrcode(entry.qrcode)">下载</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">屏幕地址</div>
        <div class="panel-body">
            <div class='input-group'>
                <input class='form-control' readonly value="{{opUrl}}">
                <div class='input-group-btn'>
                    <a class='btn btn-default' ng-href="{{opUrl}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block btn-default' ng-click="stop()">停止</button>
    </div>
    <div class='tile'>
        <a href="/rest/pl/fe/matter/lottery/result?site={{siteId}}&id={{id}}">抽奖结果</a>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>阅读：{{app.read_num}}</div>
            <div>分享好友：{{app.share_friend_num}}</div>
            <div>分享朋友圈：{{app.share_timeline_num}}</div>
        </div>
    </div>
</div>