<div ng-controller='timerCtrl'>
    <div class='col-md-5'>
        <div class='list-group'>
            <a class='list-group-item'><button class='btn btn-success btn-block' ng-click='create()'>新建定时消息</button></a>
            <a class='list-group-item' ng-class="{'active':t===editing}" ng-repeat='t in timers' ng-click='edit(t)'>
                <span>{{t.schedule}}</span>
                <button class='btn btn-default btn-xs pull-right' ng-click='remove($index)'><span class='glyphicon glyphicon-remove'></span></button>
            </a>
        </div>
    </div>
    <div class='col-md-7 form-horizontal' ng-show='editing'>
        <div class='form-group'>
            <label class='col-md-3 control-label'>发送时间</label>
            <div class='col-md-9'>
                <input type='text' title='小时' class='form-control' ng-model='editing.hour' tms-auto-update tms-wait=1000 tms-update="update('hour')">
                <p class='help-block'>小时 (0 - 23)</p>
            <select title='日期' class='form-control' ng-model='editing.mday' ng-change="update('mday')" ng-options="m for m in mdays"></select>
            <p class='help-block'>日期 (1 - 31)</p>
            <select title='星期几' class='form-control' ng-model='editing.wday' ng-change="update('wday')">
                <option value='忽略'>忽略</option>
                <option value='1'>周一</option>
                <option value='2'>周二</option>
                <option value='3'>周三</option>
                <option value='4'>周四</option>
                <option value='5'>周五</option>
                <option value='6'>周六</option>
                <option value='0'>周日</option>
            </select>
            <p class='help-block'>星期几 (0 - 6) (周日=0)</p>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-3 control-label'>推送素材</label>
        <div class='col-md-9'>
            <button class='btn btn-default btn-sm' ng-click='setReply()'>指定素材</button>
            <a class='list-group-item' title='{{editing.matter.type|typetitle}}'>{{editing.matter.title||editing.matter.content}}</a>
        </div>
    </div>
    <div class='form-group'>
        <label class='col-md-3 control-label'>启用</label>
        <div class='col-md-9'>
            <label class='radio-inline'><input type='radio' name='enabled' value='Y' ng-model='editing.enabled' ng-change="update('enabled')">是</label>
            <label class='radio-inline'><input type='radio' name='enabled' value='N' ng-model='editing.enabled' ng-change="update('enabled')">否</label>
        </div>
    </div>
    <div class='form-group'>
        <table class='table table-bordered'>
            <tr>
                <th>执行时间</th>
                <th>结果</th>
            </tr>
            <tr ng-repeat='l in logs'>
                <td ng-bind="l.occur_at*1000|date:'MM-dd HH:mm'"></td>
                <td ng-bind='l.result'></td>
            </tr>
        </table>
    </div>
    <mattersgallery single-matter='true' has-parent="{{hasParent}}" matter-types='matterTypes'></mattersgallery>
</div>