<p></p>
<div ng-controller="customCtrl">
<!-- begin: generate by schema -->
<?php foreach ($this->schema as $def) { ?>
<h4><?php echo $def->title; ?></h4>
<div class="container">
<div class="row">
<?php foreach ($def->ops as $op) {?>
<div class="thumbnail col-xs-6" ng-class="{'selected':data.<?php echo $def->id; ?>.<?php echo $op->v; ?>}" ng-click="chooseOption('<?php echo $def->id; ?>','<?php echo $op->v; ?>')">
<div><?php echo $op->l; ?></div>
</div>
<?php } ?>
</div>
</div>
<?php } ?>
<!-- end: generate by schema -->
</div>
<div wrap="button" class="form-group"><button id="btnSubmit" class="btn btn-primary btn-block btn-lg" ng-click="submit($event,'result')"><span>提交信息</span></button></div>