<div ng-controller='editCtrl'>
    <div class='form-inline form-group' style='text-align:right'>
        <div class='form-group'>
            <pushmatter class='btn btn-primary' matter-id={{editing.id}} matter-type='link' mpaccount="mpaccount">发送给指定用户</pushmatter>
        </div>
        <div class='qrcode form-group' ng-controller='SendmeController'>
            <button class='btn btn-primary' data-toggle="popover" data-placement='left' ng-click="qrcode({type:'link',id:editing.id},$event)">发送给我</button>
        </div>
    </div>
    <div class='form-horizontal' ng-show='editing'>
        <div class='form-group'>
            <label class='col-md-2 control-label' for='title'>标题</label>
            <div class='col-md-10'>
                <input type='text' class='form-control' ng-model='editing.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
        </div>
        <div class='form-group' ng-if='editing.creater!==editing.uid'>
            <label class='col-md-2 control-label'>创建人</label>
            <div class='col-md-10'>
                <p class='form-control-static'>{{editing.creater_name}}</p>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>创建日期</label>
            <div class='col-md-10'>
                <p class='form-control-static'>{{editing.create_at*1000|date:'yyyy-MM-dd'}}</p>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>头图</label>
            <div class='col-md-10'>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                        <button class='btn btn-default' ng-click='setPic();'>
                            <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                    </div>
                    <div style='position:relative' ng-if="editing.pic" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src='{{editing.pic}}' width='180px' />
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic()'>
                            <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic()'>
                            <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label' for='summary'>摘要</label>
            <div class='col-md-10'>
                <textarea class='form-control' ng-model='editing.summary' tms-auto-update tms-wait=1000 tms-update="update('summary')" rows='3'></textarea>
                <p class='help-block'>最多120个汉字，240个英文字符</p>
            </div>
        </div>
        <div class='form-group' ng-controller='setChannelCtrl' ng-init="matterType='link'">
            <label class='col-md-2 control-label'>频道（可选）</label>
            <div class='col-md-10'>
                <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='channelsFromParent' ng-change='updateChannelSrc()'>来源于父账号</label>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label' for='url'>链接</label>
            <div class='col-md-10' ng-switch='editing.urlsrc'>
                <select class='form-control' ng-model='editing.urlsrc' ng-options='k as v for (k,v) in urlsrcs' ng-change="update('urlsrc')"></select>
                <textarea class='form-control' ng-model='editing.url' tms-auto-update tms-wait=1000 tms-update="update('url')"
                ng-switch-when="0"></textarea>
                <select class='form-control' ng-model='editing.url' ng-options='n.id as n.title for n in news' ng-change="update('url')"
                ng-switch-when="1"></select>
                <select class='form-control' ng-model='editing.url' ng-options='c.id as c.title for c in channels' ng-change="update('url')"
                ng-switch-when="2"></select>
                <select class='form-control' ng-model='editing.url' ng-options='i.id as i.title for i in inners' ng-change="update('url')"
                ng-switch-when="3"></select>
            </div>
        </div>
        <div class='form-group' ng-show='editing.urlsrc==0'>
            <label class='col-md-2 control-label'>方法</label>
            <div class='col-md-10'>
                <label class='radio-inline'>
                    <input type='radio' ng-model='editing.method' value='GET' ng-change="update('method')">GET</label>
                <label class='radio-inline'>
                    <input type='radio' ng-model='editing.method' value='POST' ng-change="update('method')">POST</label>
            </div>
        </div>
        <div class='form-group' ng-show='editing.urlsrc==0'>
            <label class='col-md-2 control-label'>参数（可选）</label>
            <div class='col-md-10'>
                <button class='btn btn-default btn-sm' ng-click='addParam()'>添加</button>
                <ul class='list-group' name='params' style='margin-bottom:0'>
                    <li class='list-group-item' ng-repeat='p in editing.params'>
                        <div>
                            <div class='col-md-8' style='padding-left:0'>
                                <div class='input-group'>
                                    <input type='text' placeholder='参数名称' class='form-control' ng-model='p.pname' ng-blur='updateParam(p)'>
                                    <span class='input-group-btn'>
                                        <button class='btn btn-default' ng-click='removeParam(p)'>
                                            <span class='glyphicon glyphicon-remove'></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class='col-md-4' style='padding-left:0'>
                                <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' ng-model='p.customValue' ng-change='changePValueMode(p)'>自定义值</label>
                                </div>
                            </div>
                        </div>
                        <select class='form-control' ng-model='p.pvalue' ng-options="k as v for (k,v) in linkparams " ng-change='updateParam(p)'
                        ng-if='!p.customValue'></select>
                        <input type='text' class='form-control' ng-model='p.pvalue' ng-if='p.customValue' tms-auto-update tms-wait=1000
                        tms-update='updateParam(p)'>
                        <select class='form-control' ng-if="p.pvalue==='{{authed_identity}}'" ng-model='p.authapi_id' ng-options="aapi.authid as aapi.name for aapi in authapis"
                        ng-change='updateParam(p)'></select>
                    </li>
                </ul>
            </div>
        </div>
        <div class='form-group' ng-show='editing.urlsrc==3||editing.url==9'>
            <label class='col-md-2 control-label'>参数（可选）</label>
            <div class='col-md-10'>
                <button class='btn btn-default btn-sm' ng-click='addParam()'>添加</button>
                <ul class='list-group' name='params' style='margin-bottom:0'>
                    <li class='list-group-item' ng-repeat='p in editing.params'>
                        <div class='input-group'>
                            <p title='参数名称' class='form-control'>{{p.pname}}</p>
                            <span class='input-group-btn'>
                                <button class='btn btn-default' ng-click='removeParam(p)'>
                                    <span class='glyphicon glyphicon-remove'></span>
                                </button>
                            </span>
                        </div>
                        <select class='form-control' ng-model='p.pvalue' ng-options="c.id as c.title for c in channels" ng-change='updateParam(p)'></select>
                    </li>
                </ul>
            </div>
        </div>
        <div class='form-group' ng-if="editing.urlsrc==0 && editing.method=='GET'">
            <label class='col-md-2 control-label'>直接打开</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.open_directly' ng-change="update('open_directly')">跳过日志和访问控制</label>
                </div>
            </div>
        </div>
        <div class='form-group' ng-if="features.matter_visible_to_creater==='Y'">
            <label class='col-md-2 control-label'>可见范围</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-disabled="editing.creater!==editing.uid" ng-model='editing.public_visible' ng-true-value="'Y'"
                        ng-false-value="'N'" ng-change="update('public_visible')">设置为公开可见</label>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>访问控制</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.fans_only' ng-change="update('fans_only')">仅限关注用户访问</label>
                </div>
            </div>
        </div>
        <accesscontrol ng-if="editing.open_directly==='N'" mpid='{{mpaccount.mpid}}' obj='editing' prop-acl='acl' prop-access='access_control'
        prop-apis='authapis' update-access-control="update('access_control')" update-authapis="update('authapis')" change-acl-url='/rest/mp/matter/link/setAcl?id={{editing.id}}'
        remove-acl-url='/rest/mp/matter/link/removeAcl' label-span='2' control-span='10'></accesscontrol>
    </div>
    <mediagallery box-id="{{mpaccount.mpid}}" />
</div>