<div ng-controller='apiCtrl'>
    <div class="panel panel-default">
        <div class="panel-heading">用户认证服务</div>
        <div class="panel-body">
            <div class='list-group'>
                <div class='list-group-item'>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type='checkbox' disabled ng-true-value="'Y'" ng-false-value="'N'" ng-model='ia.valid'>
                        </span>
                        <p class='form-control'>应用内置认证</p>
                    </div>
                    <p class='form-control' title='进入前说明' style='height:auto;min-height:34px'>{{ia.entry_statement}}</p>
                    <p class='form-control' title='不在白名单中说明' style='height:auto;min-height:34px'>{{ia.acl_statement}}</p>
                    <p class='form-control' title='验证未通过说明' style='height:auto;min-height:34px'>{{ia.notpass_statement}}</p>
                </div>
                <div class='list-group-item' ng-repeat='a in authapis'>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input disabled type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='a.valid'>
                        </span>
                        <p class='form-control'>{{a.name}}</p>
                    </div>
                    <p class='form-control'>{{a.url}}</p>
                    <p class='form-control' title='进入前说明' style='height:auto;min-height:34px'>{{a.entry_statement}}</p>
                    <p class='form-control' title='不在白名单中说明' style='height:auto;min-height:34px'>{{a.acl_statement}}</p>
                    <p class='form-control' title='验证未通过说明' style='height:auto;min-height:34px'>{{a.notpass_statement}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">转发接口</div>
        <div class="panel-body">
            <div class='list-group'>
                <div class='list-group-item' ng-repeat='r in relays'>
                    <div class='form-horizontal'>
                        <div class='form-group'>
                            <label class='col-md-2 control-label'>接口名称</label>
                            <div class='col-md-10'>
                                <p class='form-control' style='height:auto;min-height:34px'>{{r.title}}</p>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-md-2 control-label'>接口地址</label>
                            <div class='col-md-10'>
                                <p class='form-control' style='height:auto;min-height:34px'>{{r.url}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="authapiEditor.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="close()">×</button>
            <h5 class="modal-title">{{authapi.name}}</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">属性ID</label>
                    <div class="col-md-10">
                        <input class="form-control" ng-model='attr.id'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">属性名称</label>
                    <div class="col-md-10">
                        <input class="form-control" ng-model='attr.label'>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger pull-left" ng-if='canRemove' ng-click="remove()">删除</button>
            <button class="btn btn-success" ng-click="ok()">保存</button>
        </div>
    </script>
</div>
