<div ng-controller='feaCtrl' ng-init='jsonParams="<?php echo urlencode(json_encode(TPL::val('params')));?>";'>
    <div class="panel panel-default">
        <div class="panel-heading">系统运行模式</div>
        <div class="panel-body">
            <div class='form-horizontal'>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>文章评论</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-true-value="'Y'" ng-false-value="'N'" ng-model='features.can_article_remark'>允许关注用户在文章后面发表评论（开通<span style='color:red'>网页授权</span>接口才生效）</label>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>素材可见性</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-model='features.matter_visible_to_creater' ng-true-value="'Y'" ng-false-value="'N'">仅创建者和管理员可见</label>
                        <p class="help-block">设置此选项可限制编辑的素材其他人不可编辑和使用，包括：图文，文本，多图文，频道和链接。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">公众号管理员</div>
        <div class="panel-body">
            <div class='form-horizontal'>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>联系方式</label> 
                    <div class='col-md-10'>
                        <p class='form-control'>{{features.admin_contact}}</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>邮箱</label> 
                    <div class='col-md-10'>
                        <p class='form-control'>{{features.admin_email}}</p>
                        <p class="help-block">若指定了公众号管理员邮箱，系统将用此邮箱向用户发送邮件。</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>SMTP</label> 
                    <div class='col-md-10'>
                        <p class='form-control'>{{features.admin_email_smtp}}</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>PORT</label> 
                    <div class='col-md-10'>
                        <p class='form-control'>{{features.admin_email_port}}</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>TLS</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-model='features.admin_email_tls' ng-true-value="'Y'" ng-false-value="'N'">是</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">页面背景设置</div>
        <div class="panel-body">
            <div class='form-horizontal'>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>背景元素</label> 
                    <div class='col-md-10'>
                        <pre class='form-control' style='height:auto;min-height:34px'>{{features.body_ele}}</pre>
                        <p class="help-block">用于给所有页面添加页面元素。</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>背景样式</label> 
                    <div class='col-md-10'>
                        <pre class='form-control' style='height:auto;min-height:34px'>{{features.body_css}}</pre>
                        <p class="help-block">用于给所有页面设置页面样式。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">提示关注页</div>
        <div class="panel-body">
            <div class='form-horizontal'>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>关注页内容</label> 
                    <div class='col-md-10'>
                        <pre class='form-control' style='height:auto;min-height:34px'>{{features.follow_ele}}</pre>
                        <p class="help-block">通过OAuth判断用户为非关注用户时显示的页面。</p>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>关注页样式</label> 
                    <div class='col-md-10'>
                        <pre class='form-control' style='height:auto;min-height:34px'>{{features.follow_css}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="panel panel-default" ng-if='false'>
        <div class="panel-heading">认证用户管理</div>
        <div class="panel-body">
            <div class='form-horizontal'>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>用户认证</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-model='features.can_member' ng-true-value="'Y'" ng-false-value="'N'">提供用户注册功能。</label>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>用户卡</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-model='features.can_member_card' ng-true-value="'Y'" ng-false-value="'N'">允许注册用户申请用户卡。</label>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>用户签到</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-model='features.can_member_checkin' ng-true-value="'Y'" ng-false-value="'N'">提供注册用户签到功能。</label>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-2 control-label'>用户积分</label> 
                    <div class='col-md-10'>
                        <label class='checkbox-inline'><input type='checkbox' disabled ng-model='features.can_member_credits' ng-true-value="'Y'" ng-false-value="'N'">提供注册用户积分功能。</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
