<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <?php TPL::pt('title');?>
    </title>
    <meta content="width=device-width,user-scalable=yes" name="viewport">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/tms.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
    <link href="<?php echo auto_version('/views/default/site/fe/invite/matter.css');?>" rel="stylesheet">
</head>

<body ng-app='app' ng-controller='ctrlMain'>
    <nav class='navbar site-navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <a class='navbar-brand' href='/rest/home' target='_self'>
                    <?php echo APP_TITLE;?>
                </a>
            </div>
        </div>
    </nav>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                <div class='panel'>
                    <div class='panel-body'>
                        <section id='matter'>
                            <ul>
                                <li class="radio" ng-repeat="matter in matterList">
                                    <label>
                                        <input type="radio" ng-model="criteria.id" ng-value="matter.id" id="{{matter.id}}" name="inviteMatter">
                                        <span ng-bind="matter.matter_title"></span>
                                        <div class='form-group' ng-if="matter.matter_pic">
                                            <div class='matter-pic'>
                                                <div class='img-thumbnail' ng-style="{'background-image':'url('+matter.matter_pic+')'}"></div>
                                            </div>
                                        </div>
                                        <div class='text-muted' ng-if="matter.matter_summary">
                                            <div ng-bind="matter.matter_summary"></div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div ng-if="invite">
                    <div class='panel'>
                        <div class='panel-body'>
                            <section id='inviteCodes'>
                                <div class='form-group'>
                                    <span class='glyphicon glyphicon-info-sign'></span> 专属邀请码
                                </div>
                                <div class='list-group'>
                                    <div class='inviteCode list-group-item' ng-repeat="code in inviteCodes">
                                        <div ng-bind="code.code"></div>
                                        <div ng-bind="code.remark"></div>
                                    </div>
                                </div>
                                <button class='btn btn-default' ng-click="addInviteCode()"><span class='glyphicon glyphicon-plus'></span> 添加邀请码</button>
                            </section>
                        </div>
                    </div>
                    <div class='panel' >
                        <div class='panel-body'>
                            <section id='inviteUrl'>
                                <div class='form-group' ng-if="wxAgent">
                                    <span class='glyphicon glyphicon-info-sign'></span> 通过微信直接将邀请分享至好友或朋友圈
                                </div>
                                <div class='form-group'>
                                    <span class='glyphicon glyphicon-info-sign'></span> 请复制下面的专属链接进行分享
                                </div>
                                <div class='form-group'>
                                    <span>{{invite.entryUrl}}</span>
                                </div>
                                <div class='form-group'>
                                    <span class='glyphicon glyphicon-info-sign'></span> 请输入邀请留言
                                </div>
                                <div class='message form-group'>
                                    <div>
                                        <textarea class='form-control' rows='3' ng-model="newInvite.message"></textarea>
                                    </div>
                                    <div>
                                        <button class='btn btn-default' ng-click="updateInvite('message')">提交</button>
                                    </div>
                                </div>
                            </section>
                            <hr>
                            <a ng-href="/rest/site/fe/user/invite/detail?invite={{invite.id}}">查看详情</a>
                        </div>
                    </div>
                    <div class='panel'>
                        <div class='panel-body'>
                            <span class='glyphicon glyphicon-info-sign'></span> 可以在【个人主页】【我的邀请】中查看发出的所有邀请情况
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/ng-template' id='codeEditor.html'>
        <div class="modal-header">
            <h5 class="modal-title">添加邀请码</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">备注</label>
                    <div class="col-md-9">
                        <textarea class='form-control' ng-model="code.remark" rows='3'></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">关闭</button>
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/js/ui-tms.js"></script>
    <script src="/asset/js/xxt.ui.share.js"></script>
    <script src="<?php echo auto_version('/views/default/site/fe/invite/matter.js');?>"></script>
</body>

</html>