<div>
    <div class='form-group'>
        <div class="form-inline">
            <div class='form-group' style='display:none;width:200px'>
                <tms-datepicker tms-title='开始日期' tms-date='startAt' tms-state='startAt'></tms-datepicker>
            </div>
            <div class='form-group' style='display:none;width:200px'>
                <tms-datepicker tms-title='结束日期' tms-date='endAt' tms-state='endAt'></tms-datepicker>
            </div>
        </div>
    </div>
    <div>
        <table class='table table-bordered table-striped'>
            <thead>
                <tr>
                    <th style='width:40px'></th>
                    <th style='width:90px'>日期</th>
                    <th>关注用户累积</th>
                    <th>关注用户新增</th>
                    <th>认证用户累积</th>
                    <th>认证用户新增</th>
                    <th>阅读累积</th>
                    <th>阅读新增</th>
                    <th>分享好友累积</th>
                    <th>分享好友新增</th>
                    <th>分享朋友圈累积</th>
                    <th>分享朋友圈新增</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='l in logs'>
                    <td>{{$index+1}}</td>
                    <td>{{l.year + '-' + l.month + '-' + l.day}}</td>
                    <td>{{l.fans_sum}}</td>
                    <td>{{l.fans_inc}}</td>
                    <td>{{l.member_sum}}</td>
                    <td>{{l.member_inc}}</td>
                    <td>{{l.read_sum}}</td>
                    <td>{{l.read_inc}}</td>
                    <td>{{l.sf_sum}}</td>
                    <td>{{l.sf_inc}}</td>
                    <td>{{l.st_sum}}</td>
                    <td>{{l.st_inc}}</td>
                </tr>
            </tbody>
        </table>
        <div class='form-group clearfix'>
            <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
            <pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="fetch()"></pagination>
        </div>
    </div>
</div>