<div class='col-md-6 col-md-offset-3' ng-controller="myCtrlMember">
    <div ng-if="!user.loginExpire">
        <div class='alert alert-info'>
            请注册登录账号或用已有账号登录。
        </div>
        <div ng-if="subView==='register'">
            <div class='form-group'>
                <input type="text" class='form-control input-lg' name='uname' placeholder='登录帐号' ng-model="loginUser.uname">
                <p class='help-block'>请输入用于注册的手机号或邮箱</p>
            </div>
            <div class='form-group'>
                <input type="text" class='form-control input-lg' name='nickname' placeholder='帐号昵称' ng-model="loginUser.nickname">
                <p class='help-block'>请输入或确认注册账号的用户昵称</p>
            </div>
            <div class='form-group'>
                <input type='password' class='form-control input-lg' name='password' ng-model="loginUser.password" ng-minlength='6' ng-maxlength='16' placeholder='输入6-16位登录密码'>
            </div>
            <div class='form-group'>
                <input type='password' class='form-control input-lg' ng-pattern="repeatPwd" name='password2' ng-model="password2" placeholder='再次输入登录密码'>
            </div>
            <div class='form-group'>
                <button class="btn btn-lg btn-block btn-success" ng-click='register()'>提交注册信息</button>
            </div>
            <div class='form-group'>
                <button class="btn btn-lg btn-block btn-default" ng-click="switchSubView('login')">已有登录帐号，去登录</button>
            </div>
        </div>
        <div ng-if="subView==='login'">
            <div class='form-group'>
                <input type="text" class='form-control input-lg' name='uname' placeholder='输入用于登录的帐号名' ng-model="loginUser.uname">
            </div>
            <div class='form-group'>
                <input type='password' class='form-control input-lg' name='password' ng-model="loginUser.password" ng-minlength='6' ng-maxlength='16' placeholder='输入6-16位登录密码'>
            </div>
            <div class='form-group'>
                <button class="btn btn-lg btn-block btn-success" ng-click="login()">登录</button>
            </div>
            <div class='form-group'>
                <button class="btn btn-lg btn-block btn-default" ng-click="switchSubView('register')">没有帐号，去注册</button>
            </div>
        </div>
    </div>
    <div ng-if="user.loginExpire">
        <div class='alert alert-info'>
            请填写【{{schema.title}}】联系人信息。
        </div>
        <div class='alert alert-warning' ng-if="member.verified==='N'">
            您提交的信息尚未通过审核，请耐心等候，或联系管理员。
        </div>
        <div class='form-group' ng-if="attrs.name">
            <label>姓名</label>
            <input type='text' required="" ng-model="member.name" placeholder='姓名' class='form-control input-lg'>
        </div>
        <div class='form-group' ng-if="attrs.mobile">
            <label>手机号</label>
            <input type='text' required="" ng-model="member.mobile" placeholder='手机号' class='form-control input-lg' ng-if="attrs.mobile_identity === true" readonly="readonly">
            <input type='text' required="" ng-model="member.mobile" placeholder='手机号' class='form-control input-lg' ng-if="attrs.mobile_identity === false">
        </div>
        <div class='form-group' ng-if="attrs.email">
            <label>邮箱</label>
            <input type='text' required="" ng-model="member.email" placeholder='邮箱' class='form-control input-lg' ng-if="attrs.email_identity === true" readonly="readonly">
            <input type='text' required="" ng-model="member.email" placeholder='邮箱' class='form-control input-lg' ng-if="attrs.email_identity === false">
        </div>
        <div class='form-group' ng-repeat="ea in attrs.extattrs">
            <label>{{ea.label}}</label>
            <input type='text' ng-model="member.extattr[ea.id]" placeholder='{{ea.label}}' class='form-control input-lg'>
        </div>
        <div class='form-group' ng-if="!member.id&&schema.require_invite==='Y'">
            <label>邀请码</label>
            <input type='text' required="" ng-model="member.invite_code" placeholder='邀请码' class='form-control input-lg'>
        </div>
        <div class='form-group' ng-if="!member.id">
            <button class='btn btn-lg btn-block' ng-class="posting ? 'btn-default':'btn-success'" ng-disabled='posting' ng-click="doAuth()">提交信息</button>
        </div>
        <div class='form-group' ng-if="member.id">
            <button class='btn btn-lg btn-block' ng-class="posting ? 'btn-default':'btn-success'" ng-disabled='posting' ng-click="doReauth()">确认信息</button>
        </div>
    </div>
</div>
