<div class='col-md-6 col-md-offset-3'>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <label>标题：最多35个汉字，70个英文字符</label>
                <input type='text' class='form-control' ng-model="editing.title" tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
            <div class='form-group'>
                <label>说明：最多120个汉字，240个英文字符</label>
                <textarea class='form-control' ng-model="editing.summary" tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
            </div>
            <div class='form-group'>
                <label>头图（可选, 建议尺寸：360像素 * 200像素）</label>
                <div style='position:relative'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                            <button class='btn btn-default' ng-click='setPic()'>
                                <span class='glyphicon glyphicon-picture'></span> 选择图片</button>
                        </div>
                        <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{editing.pic}}" width='180px' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group' ng-if="editing.mission">
                <label>所属项目</label>
                <div class="input-group">
                    <input class='form-control' title="{{editing.mission.title}}" value="{{editing.mission.title}}" readonly="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="quitMission()">
                            <span class='glyphicon glyphicon-remove'></span>
                    </button>
                    </span>
                </div>
            </div>
            <div class='form-group' ng-if="!editing.mission">
                <button class='btn btn-success' ng-click="assignMission()">指定项目</button>
            </div>
            <div class='form-group'>
                <label>管理标签（可选）</label>
                <p class="form-control" ng-click="tagMatter('M')">
                    <span class="tag" ng-repeat="t in editing.matter_mg_tag" ng-bind="t.title"></span>
                </p>
            </div>
            <div class='form-group'>
                <label>指定关联应用</label>
                <div class="pl-input-group" ng-repeat="app in editing.config.nav.app">
                    <div class='form-control pl-line' ng-bind="app.title"></div>
                    <button class="btn btn-default" ng-click="removeNavApp($index)">
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </div>
            </div>
            <div class='form-group'>
                <button class='btn btn-success' ng-click="assignNavApp()">指定关联应用</button>
            </div>
        </div>
    </div>
    <div class='panel panel-default'>
        <div class='panel-body'>
            <div class='form-group'>
                <label class="checkbox-inline">
                    <input type='checkbox' ng-model='editing.public_visible' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update('public_visible')">图文中用户是否可见</label>
            </div>
            <div class='form-group'>
                <label>固定标题</label>
                <input type='text' class='form-control' ng-model="editing.fixed_title" tms-auto-update tms-wait=1000 tms-update="update('fixed_title')">
            </div>
            <div class='form-group'>
                <label>素材类型</label>
                <select class='form-control' ng-model='editing.matter_type' ng-change="update('matter_type')" ng-options='amt.name as amt.title for amt in acceptMatterTypes'></select>
            </div>
            <div class='form-group'>
                <label>显示数量</label>
                <select class='form-control' ng-model='editing.volume' ng-change="update('volume')" ng-options='v for v in volumes'></select>
            </div>
            <div class='form-group'>
                <label>公众号卡片内容</label>
                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat="m in matters" ng-mouseenter='hover=true' ng-mouseleave='hover=false' title='{{m.type|typetitle}}'>
                        <a href='' ng-click="gotoMatter(m)">{{m.title}}</a>
                    </li>
                </ul>
            </div>
            <div class='form-group' ng-show="editing.matter_type==='article'">
                <label>排序规则</label>
                <div>
                    <label class="radio-inline">
                        <input type='radio' ng-model='editing.orderby' value="time" name='orderby' ng-change="update('orderby')">加入频道时间</label>
                    <label class="radio-inline">
                        <input type='radio' ng-model='editing.orderby' value="read" name='orderby' ng-change="update('orderby')">阅读数</label>
                    <label class="radio-inline">
                        <input type='radio' ng-model='editing.orderby' value="share" name='orderby' ng-change="update('orderby')">分享数</label>
                    <label class="radio-inline">
                        <input type='radio' ng-model='editing.orderby' value="like" name='orderby' ng-change="update('orderby')">点赞数</label>
                    <label class="radio-inline">
                        <input type='radio' ng-model='editing.orderby' value="remark" name='orderby' ng-change="update('orderby')">留言数</label>
                </div>
            </div>
            <div class='form-group'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-model='editing.show_pic_in_page' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update('show_pic_in_page')">页面形式中显示每条素材的头图</label>
                </div>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <button class='btn btn-block btn-default' ng-click="remove()">删除频道</button>
    </div>
</div>
<script type="text/ng-template" id="insertMedia.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">媒体文件</h5>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>地址（URL）</label>
            <textarea class="form-control" ng-model='data.url' rows=6></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()">确定</button>
    </div>
</script>