<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">发布模板</h5>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="radio-inline"><input type="radio" name="scope" ng-model="data.visible_scope" value="S">发布到团队</label>
        <label class="radio-inline"><input type="radio" name="scope" ng-model="data.visible_scope" value="P">发布到平台</label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">确定</button>
</div>