<div id='access-view'>
    <div class='col-md-4'>
        <div class='radio'>
            <label>
                <input type='radio' value='none' ng-model="rule.scope" ng-change="changeUserScope()">不限用户来源</label>
        </div>
        <div class='radio'>
            <label>
                <input type='radio' value='member' ng-model="rule.scope" ng-change="changeUserScope()">限通讯录联系人访问</label>
        </div>
        <div class='radio' ng-if="sns">
            <label>
                <input type='radio' value='sns' ng-model="rule.scope" ng-change="changeUserScope()">限公众号关注用户访问</label>
        </div>
        <hr>
        <table class='table table-bordered' ng-if="rule.scope==='none'">
            <tbody>
                <tr>
                    <td>默认进入页面</td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model='app.entry_rule.otherwise.entry' ng-options="p.name as p.title for p in jumpPages.inapp"></select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered' ng-if="rule.scope==='member'">
            <tbody>
                <tr ng-repeat="(msid,erm) in app.entry_rule.member">
                    <td><span>{{mschemasById[msid]?mschemasById[msid].title:'通讯录不存在'}}</span></td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model="erm.entry" ng-options="p.name as p.title for p in jumpPages.inapp">
                        </select>
                    </td>
                    <td>
                        <button class='btn btn-default btn-xs' ng-click="removeMschema(msid)"><span class='glyphicon glyphicon-remove'></span></button>
                        <button class='btn btn-default btn-xs' ng-click="editMschema(mschemasById[msid])"><span class='glyphicon glyphicon-edit'></span></button>
                    </td>
                </tr>
                <tr>
                    <td>不满足条件用户</td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model='app.entry_rule.other.entry' ng-options="p.name as p.title for p in jumpPages.nonMember"></select>
                    </td>
                    <td style='width:72px'></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class='btn btn-default' ng-click="chooseMschema()">选择通讯录</button>
        </div>
        <table class='table table-bordered' ng-if="rule.scope==='sns'">
            <tbody>
                <tr ng-if="sns.wx">
                    <td>微信公众号关注用户</td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model='app.entry_rule.sns.wx.entry' ng-options='p.name as p.title for p in jumpPages.inapp'>
                            <option value=''>忽略</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="sns.qy">
                    <td>微信企业号关注用户</td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model='app.entry_rule.sns.qy.entry' ng-options='p.name as p.title for p in jumpPages.inapp'>
                            <option value=''>忽略</option>
                        </select>
                    </td>
                </tr>
                <tr ng-if="sns.yx">
                    <td>易信公众号关注用户</td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model='app.entry_rule.sns.yx.entry' ng-options='p.name as p.title for p in jumpPages.inapp'>
                            <option value=''>忽略</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>不满足条件用户</td>
                    <td style='padding:0'>
                        <select style='border:0' class='form-control' ng-change="update('entry_rule')" ng-model='app.entry_rule.other.entry' ng-options="p.name as p.title for p in jumpPages.nonfan"></select>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <button class='btn btn-block btn-success' ng-click="reset()">重置规则</button>
        <hr>
        <table class='table table-bordered'>
            <tbody>
                <tr ng-if="app.enrollApp">
                    <td>签到成功时进入</td>
                    <td style='padding:0'>
                        <div class='form-inline'>
                            <div class='form-group'>
                                <select style='border:0' class='form-control' ng-model="app.entry_rule.success.entry" ng-options='p.name as p.title for p in app.pages' ng-change="update('entry_rule')">
                                    <option value=></option>
                                </select>
                            </div>
                            <button class="btn btn-default" type="button" ng-click="newPage('success.entry')">+</button>
                        </div>
                    </td>
                </tr>
                <tr ng-if="app.enrollApp">
                    <td>签到失败时进入</td>
                    <td style='padding:0'>
                        <div class='form-inline'>
                            <div class='form-group'>
                                <select style='border:0' class='form-control' ng-model="app.entry_rule.fail.entry" ng-options='p.name as p.title for p in app.pages' ng-change="update('entry_rule')">
                                    <option value=></option>
                                </select>
                            </div>
                            <button class="btn btn-default" type="button" ng-click="newPage('fail.entry')">+</button>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!app.enrollApp">
                    <td>签到后进入</td>
                    <td style='padding:0'>
                        <div class='form-inline'>
                            <div class='form-group'>
                                <select style='border:0' class='form-control' ng-model="app.entry_rule.success.entry" ng-options='p.name as p.title for p in app.pages' ng-change="update('entry_rule')">
                                    <option value=></option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
