body{background:#f8f8f8;padding:71px 0;}
body>nav{display:flex;}
body>nav>ul:nth-child(2){flex-grow:1;text-align:center;}
body>nav>ul:nth-child(2)>li{display:inline-block;float:none;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile>.form-group,.tile>.checkbox{padding:8px;background:#fff;border-radius:4px;}
.tile>.form-group.compact{margin-bottom:0;}
.tile>.form-group:last-child{margin-bottom:0;}

/*rounds*/
.rounds .navbar.round{margin-bottom:-1px;}

/*app-setting*/
#appSetting{width:200px;}
#appSetting .checkbox{display:block;}
#appSetting .checkbox input{margin-right:.5em;}
#app-view .schema .checkbox{margin:0;padding:0;}
#app-view .schema .checkbox label{margin-right:24px;}
#app-view .schema .checkbox button{position:absolute;top:0;right:0;}
#app-view .schema.dndable.ui-sortable-helper{min-height:41px;}

/*page*/
#pageArea{height:600px;position:relative;}
#pageArea .pages .container-fluid{padding-bottom:8px;}
#pageArea .page{position:absolute;top:120px;bottom:71px;overflow-y:auto;}

/*page schemas*/
#pageArea .page-schemas{position:absolute;top:0;bottom:0;left:0;width:290px;overflow-y:auto;}
#pageArea .page-schemas .schema .checkbox{margin:0;padding:0;}
#pageArea .page-schemas .schema .checkbox label{margin-right:24px;}
#pageArea .page-schemas .schema .checkbox button{position:absolute;top:0;right:0;}
#pageArea .page-schemas .schema.dndable.ui-sortable-helper{min-height:41px;}
#pageArea .page .page-schemas{position:absolute;top:0;bottom:0;left:0;width:290px;overflow-y:auto;}

/*page editor*/
#pageArea .page-editor{position:absolute;top:0;bottom:0;left:305px;width:540px;overflow-y:auto;}
.page-editor .mce-tinymce{margin-right:44px!important}
.page-editor .mce-tinymce.mce-container.mce-panel{border:1px solid #ccc;height:100%;box-sizing:border-box;}
.page-editor .mce-tinymce.mce-container.mce-panel .mce-container-body{height:100%;}
.page-editor .mce-tinymce .mce-edit-area{position:absolute;top:34px;left:0;right:0;bottom:0;border:0!important;border-top:1px solid #ccc!important;}
.page-editor .mce-tinymce .mce-edit-area iframe{width:100%;height:100%!important;}
.page-editor .mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
.page-editor .mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.page-editor .sidebar{width:44px;background:transparent;position:absolute;top:0;right:0;margin-top:35px;}
.page-editor .sidebar button{height:36px;color:black;border-radius:0;margin-left:-1px;margin-bottom:-1px}
.page-editor .sidebar button:disabled{color:gray}

/*wrap-editor*/
#pageArea .page-wrap{position:absolute;top:0;bottom:0;left:860px;width:250px;overflow-y:auto;}

/*record-view*/
#record-view{position:absolute;top:71px;bottom:0;left:30px;right:30px;display:flex;flex-direction:column;}
#record-view .top{flex-shrink:0;flex-grow:0;}
#record-view .middle{flex-shrink:1;flex-grow:1;overflow:hidden;display:flex;flex-direction:column;}
#record-view .bottom{flex-shrink:0;flex-grow:0;margin-left:-30px;margin-right:-30px;margin-bottom:0;}
#record-view .middle>*{flex-shrink:0;flex-grow:0;}
#record-view #signinRecords,#record-view #enrollRecords{flex-shrink:1;flex-grow:1;overflow:auto;}
#record-view table img{max-width:96px;}
#signinRecords th,#enrollRecords th{text-align:center;}
#signinRecords th.enroll{background:yellow;}
#signinRecords td span.signin_late,#enrollRecords td span.signin_late{color:red;}