body{background:#f8f8f8;padding:71px 0;}
body>nav{display:flex;}
body>nav>ul:nth-child(2){flex-grow:1;text-align:center;}
body>nav>ul:nth-child(2)>li{display:inline-block;float:none;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile>.form-group,.tile>.checkbox{padding:8px;background:#fff;border-radius:4px;}
.tile>.form-group.compact{margin-bottom:0;}
.tile>.form-group:last-child{margin-bottom:0;}

/*rounds*/
.rounds .navbar.round{margin-bottom:-1px;}

/*app-setting*/
#appSetting{width:200px;}
#appSetting .checkbox{display:block;}
#appSetting .checkbox input{margin-right:.5em;}

/*pages*/
.page-editor{position:relative;width:550px;}
.page-editor .mce-tinymce{margin-right:44px!important}
.page-editor .mce-tinymce.mce-container.mce-panel{border:1px solid #ccc;}
.page-editor .mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
.page-editor .mce-tinymce div.mce-edit-area{border:0!important;border-top:1px solid #ccc!important;}
.page-editor .mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.page-editor .sidebar{width:44px;background:transparent;position:absolute;top:0;right:0;margin-top:35px;}
.page-editor .sidebar button{height:36px;color:black;border-radius:0;margin-left:-1px;margin-bottom:-1px}
.page-editor .sidebar button:disabled{color:gray}

/*wrap-editor*/
#wrap-editor{width:240px;position:relative;left:565px;top:-660px;}

/*record-view*/
#record-view table img{max-width:96px;}