<div class='col-md-6'>
    <div class='form-group'>
        <label>活动名称</label>
        <input type='text' class='form-control' size='40' title='{{app.title}}' ng-model='app.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
    </div>
    <div class='form-group'>
        <label>活动说明</label>
        <textarea type='text' class='form-control' ng-model="app.summary" tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
    </div>
    <div class='form-group'>
        <label class='help-block'>管理标签（可选）</label>
        <p class="form-control" ng-click="tagRecordData('M')">
            <span class="tag" ng-repeat="t in app.matter_mg_tag" ng-bind="t.title"></span>
        </p>
    </div>
    <div class='form-group' ng-if="!app.mission">
        <button class='btn btn-success' ng-click="assignMission()">指定项目</button>
    </div>
    <div class='form-group' ng-if="app.mission">
        <label>所属项目</label>
        <div class="input-group">
            <input class='form-control' title="{{app.mission.title}}" value="{{app.mission.title}}" readonly="">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="quitMission()">
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </div>
        </div>
    </div>
    <div class='form-group' ng-if="app.mission.multi_phase==='Y'">
        <label>{{cstApp.naming.mission_phase}}</label>
        <select class='form-control' ng-model="app.mission_phase_id" ng-change="choosePhase()" ng-options="phase.phase_id as phase.title for phase in app.mission.phases">
            <option value=''>全部</option>
        </select>
    </div>
    <hr>
    <button class='btn btn-default btn-block' ng-click="remove()">删除活动</button>
</div>
<div class='col-md-6'>
    <div ng-controller="ctrlReceiver">
        <div class='form-group'>
            <p class=''><i class="glyphicon glyphicon-bell"></i> 事件提醒</p>
        </div>
        <div class='checkbox'>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="app.notify_submit" ng-change="update('notify_submit')">用户提交填写内容时通知</label>
        </div>
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMe()">把我加入接收人（接收应用内消息）</button>
        </div>
        <div class="form-group" ng-if="sns.qy.joined==='Y'">
            <button class='btn btn-default' ng-click='chooseQy()'>选择微信企业号用户加入接收人</button>
        </div>
        <div class='form-group' ng-if="sns.wx.joined==='Y'&&sns.wx.can_qrcode==='Y'">
            <button id='wxQrcode' uib-popover-template="'joinQrcode.html'" popover-trigger="show" popover-placement="bottom" class="btn btn-default" ng-click="qrcode('wx')">微信公众号用户扫码作为接收人 <span class="caret"></span></button>
        </div>
        <div class='form-group' ng-if="sns.yx.joined==='Y'&&sns.yx.can_qrcode==='Y'">
            <button id='yxQrcode' uib-popover-template="'joinQrcode.html'" popover-trigger="show" popover-placement="bottom" class="btn btn-default" ng-click="qrcode('yx')">易信公众号用户扫码作为接收人 <span class="caret"></span></button>
        </div>
        <div class='list-group'>
            <div class='list-group-item' ng-repeat="r in receivers" ng-mouseenter="entered=true" ng-mouseleave="entered=false">
                <span>{{r.nickname}}</span>&nbsp;<span ng-if="r.snsUser.snsName">{{r.snsUser.snsName}}</span>
                <button class='btn btn-default btn-xs pull-right' ng-show="entered" ng-click="remove(r)">
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="joinQrcode.html">
    <div style="width:200px">
        <img ng-src="{{qrcodeURL}}" style="width:100%">
    </div>
</script>
<script type="text/ng-template" id="chooseUser.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <span class="modal-title h5">选择管理员</span>
    </div>
    <div id="chooseUser" class="modal-body">
        <form class="form-inline form-group">
            <div class="form-group">
                <input type="text" class="form-control" ng-model='nickname' placeholder="请输入昵称">
                <button type="submit" class="btn btn-default" ng-click='search(nickname)'>搜索</button>
            </div>
        </form>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>操作</th>
                    <th>成员名称</th>
                    <th>用户ID</th>
                    <th>电话</th>
                    <th>邮箱</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users">
                    <td>
                        <input type="checkbox" ng-click="updateSelection($event,u)">
                    </td>
                    <td ng-bind="u.nickname"></td>
                    <td ng-bind="u.openid"></td>
                    <td ng-bind="u.mobile"></td>
                    <td ng-bind="u.email"></td>
                </tr>
            </tbody>
        </table>
        <div class='clearfix'>
            <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
            <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" class="pull-right" ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch(page.at,nickname)">
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="tagMatterData.html">
    <div class="modal-header">
        <h5 class="modal-title">打标签 - {{tagTitle}}</h5>
    </div>
    <div class="modal-body">
        <div class='list-group' style='max-height:300px;overflow-y:auto'>
            <div class='list-group-item' ng-repeat="tag in apptags">
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="model.selected[$index]"> {{tag.title}}</label>
            </div>
        </div>
        <div class='form-group'>
            <div class='input-group'>
                <input class='form-control' ng-model="model.newtag">
                <div class='input-group-btn'>
                    <button class='btn btn-default' ng-click="createTag()"><span class='glyphicon glyphicon-plus'></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
        <button class="btn btn-primary" ng-click="ok()">设置标签</button>
    </div>
</script>
