<div id='page-view' class='col-md-12'>
    <!-- pages -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <ul class="nav navbar-nav">
                <li ng-class="{'active':p===ep}" ng-repeat="p in app.pages">
                    <a href="#" ng-click="choosePage(p)"><span><i class='fa fa-file-o'></i> {{p.title}}</span></a>
                </li>
            </ul>
            <ul class="navbar-form navbar-right">
                <button class='btn' ng-class="ep.$$modified?'btn-success':'btn-default'" ng-click="save()">保存修改</button>
                <button uib-popover-template="'pageSetting.html'" popover-placement="bottom" popover-title="页面设置" popover-trigger="outsideClick" class="btn btn-default">页面设置 <span class="caret"></span></button>
            </ul>
        </div>
    </nav>
    <!-- end pages -->
    <!-- one page -->
    <div class='row' ng-controller="ctrlPageEdit">
        <!--page schemas-->
        <div class='col-md-3' tms-flex-height top='72' bottom='0'>
            <!-- create button wrap -->
            <div class='list-group-item'>
                <div class='help-block'>添加操作</div>
                <button class='btn btn-default' ng-click="newButton(btn)" ng-repeat="btn in buttons">{{btn.l}}</button>
            </div>
            <!-- end create button wrap-->
            <!--embed inner matter-->
            <div class='list-group-item'>
                <div class='help-block'>在页面中添加素材</div>
                <button class='btn btn-default' ng-click="embedMatter()">添加素材</button>
            </div>
            <!--embed inner matter-->
            <div class='list-group-item' ng-if="ep.type==='I'" ng-controller="ctrlAppSchemas4IV">
                <div class='help-block'>活动中所有填写项</div>
                <div class='list-group'>
                    <div class='list-group-item schema' ng-repeat="s in app.dataSchemas">
                        <span ng-bind="s.title"></span>
                        <span class='schema-switch'>
                                <input type='checkbox' bs-switch switch-size="mini" data-on-text="显" data-off-text="隐" ng-model="chooseState[s.id]" ng-change="choose(s)">
                            </span>
                    </div>
                </div>
                <a class='btn btn-default btn-block' href="/rest/pl/fe/matter/signin/schema?site={{app.siteid}}&id={{app.id}}">修改填写项</a>
            </div>
            <div class='list-group-item' ng-if="ep.type==='V'" ng-controller="ctrlAppSchemas4IV">
                <div class='help-block'>活动中所有填写项</div>
                <div class='list-group-item' ng-repeat="s in app.dataSchemas">
                    <span ng-bind="s.title"></span>
                    <span class='schema-switch'>
                            <input type='checkbox' bs-switch switch-size="mini" data-on-text="显" data-off-text="隐" ng-model="chooseState[s.id]" ng-change="choose(s)">
                        </span>
                </div>
                <div class='list-group-item' ng-repeat="s in otherSchemas">
                    <span ng-bind="s.title"></span>
                    <span class='schema-switch'>
                            <input type='checkbox' bs-switch switch-size="mini" data-on-text="显" data-off-text="隐" ng-model="chooseState[s.id]" ng-change="choose(s)">
                        </span>
                </div>
            </div>
        </div>
        <!--end page schemas-->
        <!--tinymce editor-->
        <div class='page-editor col-md-6' tms-flex-height top='72' bottom='0'>
            <tinymce id='tinymce-page' height='660' toolbar="code"></tinymce>
        </div>
        <!-- end tinymce editor -->
        <!-- wrap editor -->
        <div class='page-wrap col-md-3' ng-if="activeWrap.schema" tms-flex-height top='72' bottom='0'>
            <div class='list-group-item'>
                <div class='form-group' ng-include="wrapEditorHtml()"></div>
                <div class='form-group'>
                    <button class='btn btn-default' ng-click="refreshWrap(activeWrap)">刷新页面元素</button>
                    <button class='btn btn-default' ng-click="removeWrap()" title='删除'>
                        <i class='fa fa-remove'></i>
                    </button>
                </div>
                <div class='form-group'>
                    <div class='btn-group'>
                        <button class='btn btn-default' ng-click="moveWrap('up')">
                            <i class='fa fa-arrow-up'></i>
                        </button>
                        <button class='btn btn-default' ng-click="moveWrap('down')">
                            <i class='fa fa-arrow-down'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end wrap editor -->
    </div>
    <!-- end one page -->
</div>
<script type="text/ng-template" id="pageSetting.html">
    <div id="pageSetting">
        <div class='form-group'>
            <p>ID: <span ng-bind="ep.name"></span></p>
        </div>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model="ep.title" tms-auto-update tms-wait=1000 tms-update="updPage(ep,'title')">
        </div>
        <hr>
        <button class='btn btn-block btn-default' ng-click="cleanPage()">清空页面</button>
        <button class='btn btn-block btn-default' ng-click="delPage()">删除页面</button>
        <hr>
        <button class='btn btn-block btn-default' ng-click="addPage()">添加页面</button>
        <hr>
        <button class='btn btn-block btn-default' ng-click="gotoCode()">编辑代码</button>
        <div>
</script>