<div class="col-md-12">
    <!-- signin -->
    <div class='form-group'>
        <div class='form-inline'>
            <div class='form-group' ng-if='app.rounds'>
                <label>轮次</label>
                <select class='form-control' ng-model='page.byRound' ng-options='r.rid as r.title for r in app.rounds' ng-change='doSearch(1)'>
                    <option value=>全部</option>
                </select>
            </div>
            <div class='form-group'>
                <label>标签</label>
                <combox evt-prefix='search-tag' readonly='true' existing='criteria.tags' options='app.tags'></combox>
            </div>
            <button class='btn btn-default' ng-click='filter()'><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
            <div class="btn-group" uib-dropdown>
                <button class="btn btn-default" uib-dropdown-toggle>
                    更多操作 <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu>
                    <li><a href="" ng-click="batchVerify()">选中记录通过审核<span>（{{rows.count}}）</span></a></li>
                    <li><a href="" ng-click="verifyAll()">全部记录通过审核</a></li>
                    <li><a href="" ng-if="app.entry_rule.scope==='sns'" ng-click="notify(true)">选中记录发送信息<span>（{{rows.count}}）</span></a></li>
                    <li><a href="" ng-if="app.entry_rule.scope==='sns'" ng-click="notify()">全部记录发送信息</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="export()">导出全部记录</a></li>
                    <li><a href="" ng-click="exportImage()">导出全部图片</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="batchTag()">选中记录打标签<span>（{{rows.count}}）</span></a></li>
                    <li><a href="" ng-click="editRecord()">添加记录</a></li>
                    <li><a href="" ng-click="empty()">清空记录</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="createAppByRecords()">根据选中记录创建活动<span>（{{rows.count}}）</span></a></li>
                    <li ng-if="app.enroll_app_id"><a href="" ng-click="importByEnrollApp()">导入【{{app.enrollApp.title}}】数据</a></li>
                </ul>
            </div>
            <div class='form-group pull-right'>
                <div class='input-group'>
                    <span class="input-group-addon">每页条数</span>
                    <input class='form-control' ng-model='page.size' style='width:48px'>
                    <div class='input-group-btn'>
                        <button class='btn btn-default' ng-click='doSearch(1)'><i class='glyphicon glyphicon-refresh'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- records -->
    <div class='form-group' tms-flex-height top='72' bottom='135'>
        <div id='signinRecords' tms-table-wrap ready='tmsTableWrapReady'>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>操作</th>
                        <th style='width:40px'></th>
                        <th style='width:40px'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected">
                        </th>
                        <th style='width:100px' ng-if="bRequireNickname">昵称</th>
                        <th style='width:100px'>登记时间</th>
                        <th class='signin' ng-repeat="c in recordSchemas" ng-class="{'nickname':schema.id===app.assignedNickname.schema.id}">{{c.title}}</th>
                        <th class='enroll' ng-repeat="c in enrollDataSchemas" ng-class="{'nickname':schema.id===app.assignedNickname.schema.id}">{{c.title}}</th>
                        <th class='group' ng-repeat="c in groupDataSchemas" ng-class="{'nickname':schema.id===app.assignedNickname.schema.id}">{{c.title}}</th>
                        <th style='width:75px'>验证通过</th>
                        <th ng-if="page.byRound" style='width:100px'>签到时间</th>
                        <th ng-if="!page.byRound" style='width:75px'>签到次数</th>
                        <th ng-if="!page.byRound" style='width:75px'>迟到次数</th>
                        <th ng-if="!page.byRound" ng-repeat="r in app.rounds"><span>{{r.title}}</span></th>
                        <th style='width:140px' ng-if="app.tags.length">签到标签</th>
                        <th style='width:140px'>签到备注</th>
                        <th style='width:140px' class='enroll' ng-if="app.enroll_app_id">报名标签</th>
                        <th style='width:140px' class='enroll' ng-if="app.enroll_app_id">报名备注</th>
                        <th style='width:48px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='r in records'>
                        <td>
                            <button class='btn btn-xs btn-default' ng-click='editRecord(r)'>
                                <span class='glyphicon glyphicon-edit'></span>
                            </button>
                        </td>
                        <td>{{(page.at-1)*page.size+$index+1}}</td>
                        <td>
                            <input type='checkbox' ng-model="rows.selected[$index]">
                        </td>
                        <td ng-if="bRequireNickname">{{r.nickname}}</td>
                        <td>{{(r.enroll_at*1000)|date:'MM-dd HH:mm'}}</td>
                        <td class='signin' ng-repeat="schema in recordSchemas" ng-switch on="schema.type">
                            <span ng-switch-when="image">
                                <img ng-repeat="img in r._data[schema.id]" ng-src='{{img}}' />
                            </span>
                            <span ng-switch-when="file">
                                <span ng-repeat='file in r._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </span>
                            <span ng-switch-when="date">{{(r._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                            <span ng-switch-default ng-bind-html="r._data[schema.id]"></span>
                        </td>
                        <td class='enroll' ng-repeat="schema in enrollDataSchemas" ng-switch on="schema.type">
                            <span ng-switch-when="image">
                                <img ng-repeat="img in r._data[schema.id]" ng-src='{{img}}' />
                            </span>
                            <span ng-switch-when="file">
                                <span ng-repeat='file in r._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </span>
                            <span ng-switch-when="date">{{(r._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                            <span ng-switch-default ng-bind-html="r._data[schema.id]"></span>
                        </td>
                        <td class='group' ng-repeat="schema in groupDataSchemas" ng-switch on="schema.type">
                            <span ng-switch-when="image">
                                <img ng-repeat="img in r._data[schema.id]" ng-src='{{img}}' />
                            </span>
                            <span ng-switch-when="file">
                                <span ng-repeat='file in r._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </span>
                            <span ng-switch-when="date">{{(r._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                            <span ng-switch-default ng-bind-html="r._data[schema.id]"></span>
                        </td>
                        <td>{{r.verified}}</td>
                        <td ng-if="page.byRound"><span ng-class="{'signin_late':r._signinLate[page.byRound]}" ng-if="r.signin_log[page.byRound]">{{r.signin_log[page.byRound]*1000|date:'MM-dd HH:mm'}}</span></td>
                        <td ng-if="!page.byRound">{{r.signin_num}}</td>
                        <td ng-if="!page.byRound">{{r.lateCount}}</td>
                        <td ng-if="!page.byRound" ng-repeat="rnd in app.rounds"><span ng-class="{'signin_late':r._signinLate[rnd.rid]}" ng-if="r.signin_log[rnd.rid]">{{r.signin_log[rnd.rid]*1000|date:'MM-dd HH:mm'}}</span></td>
                        <td ng-if="app.tags.length">{{r.tags}}</td>
                        <td>{{r.comment}}</td>
                        <td ng-if="app.enroll_app_id">{{r._enrollRecord.tags}}</td>
                        <td ng-if="app.enroll_app_id">{{r._enrollRecord.comment}}</td>
                        <td>
                            <button class='btn btn-xs btn-danger' ng-click='removeRecord(r)'>
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- end records -->
    <div class='form-group' style='text-align:right;'>
        <span style='line-height:34px'>总数：{{page.total}}</span>
        <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
    </div>
</div>