<div style='margin-bottom:100px'>
	<div class="list-group">
		<div class="list-group-item row" style='margin-bottom:8px' ng-repeat="schema in schemas">
			<div class='col-md-5'>
				<div ng-include="'/views/default/pl/fe/matter/enroll/component/'+schema.type+'.html'"></div>
			</div>
			<div class='col-md-5'>
				<div class='form-horizontal'>
					<div class='form-group'>
						<input class='form-control' placeholder='标题' ng-model="schema.title" ng-change="modify(s,'title')">
						<div class="radio" ng-if="schema.type!=='single'&&schema.type!=='multiple'">
                            <label><input type='radio' value='placeholder' ng-model='schema.showname' ng-change="modify(schema,'showname')">显示在输入框内</label>
                            <label><input type='radio' value='label' ng-model='schema.showname' ng-change="modify(schema,'showname')">显示在输入框前</label>
                        </div>
					</div>
					<div class="form-group" ng-if="schema.type==='single'||schema.type==='multiple'">
						<button class="btn btn-default btn-sm" ng-click='addOption(schema)'>添加选项</button>
						<ul class='list-group' style='margin-bottom:0'>
							<li class='list-group-item' ng-repeat='op in schema.ops' editable prop='l' obj='op'></li>
						</ul>
					</div>
					<div class="form-group" ng-if="schema.type==='single'">
						<label class="radio-inline"><input type='radio' name='component' value='R' ng-model='schema.component' ng-change="modify(schema,'component')">单选钮</label>
						<label class="radio-inline"><input type='radio' name='component' value='S' ng-model='schema.component' ng-change="modify(schema,'component')">下拉框</label>
					</div>
					<div class="form-group" ng-if="(schema.type==='single'&&schema.component==='R')||schema.type==='multiple'">
						<label class="radio-inline"><input type='radio' name='align' value='V' ng-model='schema.align' ng-change="modify(schema,'align')">选项垂直排列</label>
						<label class="radio-inline"><input type='radio' name='align' value='H' ng-model='schema.align' ng-change="modify(schema,'align')">选项水平排列</label>
					</div>
				</div>
			</div><!--form-->
			<div class='col-md-2'>
				<button class='btn btn-default' ng-click="configSchema(schema)">设置</button>
				<button class='btn btn-danger' ng-click="removeSchema(schema)">删除</button>
			</div><!--actions-->
		</div>
	</div>
</div>
<nav class='navbar navbar-default navbar-fixed-bottom'>
	<div class='container' style='text-align:center'>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('name')">姓名</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('mobile')">手机</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('email')">邮箱</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('date')">日期</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('shorttext')">短文本</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('longtext')">长文本</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('single')">单选题</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('multiple')">多选题</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('image')">上传图片</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('file')">上传文件</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('location')">上传位置</button>
		<button class='btn btn-default navbar-btn' ng-click="addMember()">自定义用户信息</button>
		<button class='btn navbar-btn' ng-click='save()' ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
	</div>
</nav>
<script type="text/ng-template" id="memberSchema.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()" type="button">×</button>
        <h5 class="modal-title">内容</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-md-3 control-label">自定义用户</label>
                <div class="col-md-9">
                    <select class='form-control' ng-model='data.memberSchema' ng-options='ms.title for ms in memberSchemas' ng-change='shiftSchema()'></select>
                    <select class='form-control' ng-model='data.attr' ng-options='a.label for a in data.attrs' ng-change="shiftAttr()"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">名称</label>
                <div class="col-md-9">
                    <input type='text' class='form-control' ng-model='schema.title' required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:0">
        <button class="btn btn-success" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="configSchema.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">设置登记项</h5>
    </div>
    <div class="modal-body">
        <div class='form-horizontal'>
			<div class='form-group'>
				<label class='control-label col-md-2'>ID</label>
				<div class='col-md-10'>
					<input class='form-control' ng-model="schema.id">
				</div>
			</div>
			<div class='form-group'>
				<label class='control-label col-md-2'>必填</label>
				<div class='col-md-10'>
					<div class="checkbox">
						<label><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="s.required" ng-change="modify(s,'required')">是</label>
					</div>
				</div>
			</div>
			<div class='form-group'>
				<label class='control-label col-md-2'>说明</label>
				<div class='col-md-10'>
					<textarea class='form-control' ng-model="schema.comment"></textarea>
				</div>
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>