<div id='schema-view' ng-controller="ctrlSchemaList">
    <div class='col-md-3' tms-flex-height top='72' bottom='0'>
        <!--create schema-->
        <div class='form-group list-group-item'>
            <div class='help-block'>添加用户填写项</div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('shorttext')">填写题</button>
                <button class='btn btn-default' ng-click="newSchema('date')">日期</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('single')">单选题</button>
                <button class='btn btn-default' ng-click="newSchema('multiple')">多选题</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('image')">上传图片</button>
                <button class='btn btn-default' ng-click="newSchema('file')">上传文件</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('html')">描述说明</button>
            </div>
        </div>
        <div class='form-group list-group-item' ng-if="app.entryRule.enroll.id">
            <div class='help-block'>需要与【<a href='/rest/pl/fe/matter/enroll?site={{app.siteid}}&id={{app.entryRule.enroll.id}}' target='_self'>{{app.entryRule.enroll.title}}</a>】中的填写记录匹配的题目</div>
            <ul class='list-group'>
                <li class='list-group-item' ng-repeat="s in app.enrollApp.dataSchemas" ng-switch on="s.assocState">
                    <span>{{s.title}}</span>
                    <span ng-switch-when="yes" class='pull-right'>已关联</span>
                    <button ng-switch-when="no" class='btn btn-default btn-xs pull-right' ng-click="assocWithOtherApp(s,app.enrollApp)">关联</button>
                    <button ng-switch-default class='btn btn-default btn-xs pull-right' ng-click="newByOtherApp(s,app.enrollApp)">添加</button>
                </li>
            </ul>
        </div>
        <div class='form-group list-group-item' ng-if="app.entryRule.group.id">
            <div class='help-block'>需要与【<a href='/rest/pl/fe/matter/group?site={{app.siteid}}&id={{app.groupApp.id}}' target='_self'>{{app.entryRule.group.title}}</a>】中的分组记录匹配的题目</div>
            <ul class='list-group'>
                <li class='list-group-item' ng-repeat="s in app.groupApp.dataSchemas" ng-switch on="s.assocState">
                    <span>{{s.title}}</span>
                    <span ng-switch-when="yes" class='pull-right'>已关联</span>
                    <button ng-switch-when="no" class='btn btn-default btn-xs pull-right' ng-click="assocWithOtherApp(s,app.groupApp)">关联</button>
                    <button ng-switch-default class='btn btn-default btn-xs pull-right' ng-click="newByOtherApp(s,app.groupApp)">添加</button>
                </li>
            </ul>
        </div>
        <div class='form-group list-group-item' ng-repeat="(msid,erm) in app.entry_rule.member">
            <div class='help-block'>通讯录【{{mschemasById[msid].title}}】用户信息</div>
            <ul class='list-group'>
                <li class='list-group-item' ng-repeat="s in mschemasById[msid]._schemas" ng-switch on="s.assocState">
                    <span>{{s.title}}</span>
                    <span ng-switch-when="yes" class='pull-right'>已关联</span>
                    <button ng-switch-when="no" class='btn btn-default btn-xs pull-right' ng-click="assocWithMschema(s,mschemasById[msid])">关联</button>
                    <button ng-switch-default class='btn btn-default btn-xs pull-right' ng-click="newMember(mschemasById[msid],s)">添加</button>
                </li>
            </ul>
        </div>
        <!-- end create schema -->
    </div>
    <!-- schema list -->
    <div class='col-md-6' tms-flex-height top='72' bottom='0'>
        <div dnd-list dataset='appSchemas' evt-prefix="schemas" class='schemas'>
            <div data-schema-index="{{$index}}" class='dndable schema' ng-class="schema.type" ng-repeat="schema in app.dataSchemas">
                <div class='title' ng-if="schema.type!=='html'" ng-click="chooseSchema($event,schema)">
                    <div tms-editable prop='title' obj='schema' evt-prefix='title' no-remove="Y" style="min-height:34px;"></div>
                </div>
                <div ng-include="schemaHtml(schema)"></div>
                <div class='actions'>
                    <button class='btn btn-sm btn-default' ng-if="'html'===schema.type" ng-click="makePagelet(schema)"><span class='glyphicon glyphicon-pencil'> 编辑</span></button>
                    <button class="btn btn-default btn-sm" ng-if="['single','multiple'].indexOf(schema.type)!==-1" ng-click="addOption(schema)">添加选项</button>
                    <button class="btn btn-sm btn-default" ng-click="copySchema(schema)">复制登记项</button>
                    <button class='btn btn-sm btn-default' ng-click="upSchema(schema)"><span class='glyphicon glyphicon-arrow-up'></span></button>
                    <button class='btn btn-sm btn-default' ng-click="downSchema(schema)"><span class='glyphicon glyphicon-arrow-down'></span></button>
                    <button class='btn btn-sm btn-default' ng-click="removeSchema(schema)"><span class='glyphicon glyphicon-trash'></span></button>
                    <button ng-if="schema.id==='_round_id'" class='btn btn-sm btn-default' ng-click="refreshSchema(schema)"><span class='glyphicon glyphicon-refresh'></span></button>
                </div>
                <div ng-if="'Y'===schema.requireCheck">
                    <p class='help-block'>需要【<span>{{assocApp(schema.fromApp).title}}</span>】中有题目【<span>{{assocAppSchema(schema).title}}</span>】的值与填写内容匹配的记录
                        <button class='btn btn-default btn-xs' ng-click="unassocWithOtherApp(schema) "><span class='glyphicon glyphicon-remove'></span></button>
                    </p>
                </div>
                <div ng-if="'member'===schema.type">
                    <p class='help-block'>用通讯录【<span>{{mschemasById[schema.schema_id].title}}</span>】中【<span>{{mschemasById[schema.schema_id]._schemasById[schema.id].title}}</span>】自动填写
                        <button class='btn btn-default btn-xs' ng-click="unassocWithMschema(schema) "><span class='glyphicon glyphicon-remove'></span></button>
                    </p>
                </div>
            </div>
        </div>
        <div class='form-inline' ng-if="app.recycleSchemas.length ">
            <div class="btn-group " uib-dropdown>
                <button type="button " class="btn btn-default " uib-dropdown-toggle>恢复删除的题目 <i class="caret "></i></button>
                <ul uib-dropdown-menu>
                    <li ng-repeat="schema in app.recycleSchemas "><a href=" " ng-click="recycleSchema(schema) ">{{schema.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end schema list -->
    <div class='col-md-3' tms-flex-height top='72' bottom='0'>
        <div class='list-group-item' ng-include="schemaEditorHtml() "></div>
    </div>
</div>