.thumbnail{position:relative;height:145px;cursor:pointer;display:flex;flex-direction:column;padding:8px;}
.thumbnail .summary{flex:1;overflow: hidden;}
.thumbnail .attr{display:flex;}
.thumbnail .operator_name{flex:1;}