html,body{width:100%;height:100%}
body{background-color:#EEE}
#nickname{display:none}
#intro{position:absolute;top:0;bottom:135px;left:0;right:0;background-color:#FFF;color:#666;padding:15px;font-size:20px}
#actJoin{position:absolute;bottom:60px;width:100%;padding:15px}
#actLog{position:absolute;bottom:0;width:50%;left:25%;margin-left:-25%;padding:15px}
#actMember{position:absolute;bottom:0;width:50%;left:75%;margin-left:-25%;padding:15px}
.icon{display:inline-block;width:28px;height:24px;margin-right:4px;vertical-align:bottom}
#actLog .icon{background-image:url('/static/img/chat.png');background-size:cover}
#actMember .icon{background-image:url('/static/img/members.png');background-size:cover}
@media screen and (max-height:480px){ #intro{font-size:16px}}
