body{background:#EEE;margin:15px 0 65px 0}
.thumbnail{position:relative;cursor:pointer;padding:12px}
.thumbnail .title{font-weight:700;font-size:14px;margin-bottom:8px}
.thumbnail .datetime{font-size:12px;color:#999}
.thumbnail .pic {overflow:hidden;margin-bottom:8px}
.thumbnail .pic img{width:100%}
.thumbnail .summary{font-size:12px;color:#999}
