<div class='col-md-6 col-md-offset-3'>
    <div class='form-group'>
        <button class='btn btn-default' ng-click="configRule()">分组规则</button>
        <button class='btn btn-default' ng-click="addRound()">添加分组</button>
        <button class='btn btn-default' ng-click="emptyRule()">清除分组</button>
    </div>
</div>
<div class='col-md-6 col-md-offset-3'>
    <div id="{{rnd.round_id}}" class='panel pl-panel-default' ng-repeat="rnd in rounds">
        <div class='panel-body'>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label>名称</label>
                        <input type='text' class='form-control' ng-model='rnd.title' tms-auto-update tms-wait=1000 tms-update="updateRound(rnd,'title')">
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group'>
                        <label>人数</label>
                        <input type='text' class='form-control' ng-model='rnd.times' tms-auto-update tms-wait=1000 tms-update="updateRound(rnd,'times')">
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='form-group'>
                        <label>类型</label>
                        <select class='form-control' ng-model='rnd.round_type' ng-change="updateRound(rnd,'round_type')">
                            <option value='T'>团队</option>
                            <option value='R'>角色</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='row hide'>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label>扩展属性1</label>
                        <input type="text" class="form-control" ng-model="rnd.extattrs.attr1" tms-auto-update tms-wait=1000 tms-update="updateRound(rnd,'extattrs')">
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label>扩展属性2</label>
                        <input type="text" class="form-control" ng-model="rnd.extattrs.attr2" tms-auto-update tms-wait=1000 tms-update="updateRound(rnd,'extattrs')">
                    </div>
                </div>
            </div>
            <div class='checkbox' ng-if="app.scenario==='extract'">
                <label>
                    <input type='checkbox' ng-model='rnd.autoplay' ng-true-value="'Y'" ng-false-value="'N'" ng-change="updateRound(rnd,'autoplay')">自动抽取</label>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th>抽取规则</th>
                        <th style='width:89px'>移动</th>
                        <th style='width:52px'>删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in rnd.targets">
                        <td>{{$index+1}}</td>
                        <td>{{labelTarget(t)}}</td>
                        <td>
                            <button class='btn btn-default btn-sm' ng-click="moveUpTarget(rnd,t)">
                                <span class='glyphicon glyphicon-arrow-up'></span>
                            </button>
                            <button class='btn btn-default btn-sm' ng-click="moveDownTarget(rnd,t)">
                                <span class='glyphicon glyphicon-arrow-down'></span>
                            </button>
                        </td>
                        <td>
                            <button class='btn btn-default btn-sm' ng-click="removeTarget(rnd,$index)">
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4>
                            <button class='btn btn-primary pull-right' ng-click="addTarget(rnd)">添加规则</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-default pl-btn-remove' ng-click="removeRound(rnd)"><i class='glyphicon glyphicon-remove'></i></button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="configRule.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">分组条件</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class='form-group'>
                <label class="col-md-3 control-label">分组数量</label>
                <div class="col-md-9">
                    <input type='text' class="form-control" ng-model="rule.count">
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">每组人数</label>
                <div class="col-md-9">
                    <input type='text' class="form-control" ng-model="rule.times">
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">分组属性</label>
                <div class="col-md-9">
                    <div class='list-group'>
                        <div class='list-group-item' ng-repeat="schema in schemas">
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="schema._selected"> {{schema.title}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="targetEditor.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">抽取条件</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group" ng-repeat="s in schemas" ng-if="s.id.indexOf('member')!==0">
                <label class="col-md-3 control-label">{{s.title}}</label>
                <div class="col-md-9" ng-if="s.type!=='single'&&s.type!=='multiple'">
                    <input type='text' class='form-control' ng-model="target[s.id]">
                </div>
                <div class="col-md-9" ng-if="s.type==='single'||s.type==='multiple'">
                    <select class='form-control' ng-model="target[s.id]" ng-options="op.v as op.l for op in s.ops">
                        <option></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>