<!DOCTYPE html>
<html ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href='/'>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/views/default/site/fe/matter/template/main.css?_=1" rel="stylesheet">
    <title>模板</title>
</head>

<body>
    <nav class='navbar navbar-default'>
        <div class='container'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='/rest/home' target='_self'>
                    <?php echo APP_TITLE;?>
                </a>
            </div>
            <ul class='nav navbar-nav navbar-right ng-cloak' ng-if="isLogin==='N'" ng-cloak>
                <li><a href='/rest/pl/fe/user/login' target='_self'>登录</a></li>
                <li><a href='/rest/pl/fe/user/register' target='_self'>注册</a></li>
            </ul>
            <ul class='nav navbar-nav navbar-right ng-cloak' ng-if="isLogin==='Y'" ng-cloak>
                <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <div class='row'>
            <nav class='navbar navbar-default'>
                <div class='container-fluid'>
                    <ul class='navbar-form'>
                        <button class='btn btn-default' ng-click="favorTemplate()">收藏</button>
                        <button class='btn btn-default' ng-click="useTemplate()">使用</button>
                    </ul>
                </div>
            </nav>
        </div>
        <div class='row'>
            <div class='col-md-7 preview' ng-controller='ctrlPreview'>
                <div id='simulator'>
                    <iframe ng-src="{{previewURL}}"></iframe>
                    <div id='simulatorActions'>
                        <button class='btn btn-default btn-block' ng-disabled="!params.hasPrev" ng-click="prevPage()"><i class='glyphicon glyphicon-arrow-up'>上一页</i></button>
                        <button class='btn btn-default btn-block' ng-disabled="!params.hasNext" ng-click="nextPage()"><i class='glyphicon glyphicon-arrow-down'>下一页</i></button>
                    </div>
                </div>
            </div>
            <div class='col-md-5 tms-box'>
                <div class='form-group'>
                    <p class='form-control-static'>模板名称：<span ng-bind="template.title"></span></p>
                </div>
                <div class="form-group">
                    <p class='form-control-static'>版本号：
                        <select ng-model="template.vid" ng-change="chooseVersion(template.vid)" ng-options="v.id as v.version for v in template.versions">
                        </select>
                    </p>
                </div>
                <div class='form-group'>
                    <p class='form-control-static'>发布站点：<span ng-bind="template.site_name"></span></p>
                </div>
                <div class='form-group'>
                    <p class='form-control-static'>发布时间：<span ng-bind="template.put_at*1000|date:'yy-MM-dd'"></span></p>
                </div>
                <div class='form-group'>
                    <p class='form-control-static'>模板说明：<span ng-bind="template.summary"></span></p>
                </div>
                <div class='form-group'>
                    <p class='form-control-static'>更新说明：<span ng-show="version">{{version.up_said}}</span><span ng-hide="version">{{template.up_said}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="favorTemplateSite.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title ">指定收藏模版的站点</h5>
        </div>
        <div class="modal-body ">
            <div class="checkbox" ng-repeat="site in mySites">
                <label ng-if="site._favored!=='Y'">
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='site._selected'>{{site.name}}</label>
                <label ng-if="site._favored==='Y'">
                    <input type='checkbox' checked disabled><span>{{site.name}}</span>（已收藏）</label>
                </label>
            </div>
            <div class='alert alert-danger' ng-if="mySites.length===0">请创建用于收藏本模版的站点</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok() ">确定</button>
        </div>
    </script>
    <script type="text/ng-template" id="useTemplateSite.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title ">指定使用模版的站点</h5>
        </div>
        <div class="modal-body ">
            <div class="radio" ng-repeat="site in mySites">
                <label ng-if="site._favored!=='Y'">
                    <input type='radio' name='site' value="{{$index}}" ng-model='data.index'>{{site.name}}</label>
            </div>
            <div class='alert alert-danger' ng-if="mySites.length===0">请创建使用模版的站点</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok() ">确定</button>
        </div>
    </script>
    <script src="/static/js/require.js" defer async data-main="/views/default/site/fe/matter/template/main-loader.js?_=3"></script>
</body>

</html>