<div id='app-view'>
    <!--app-->
    <div class='col-md-12 app'>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-form navbar-left">
                    <div class='form-group'>
                        <label>标题</label>
                        <input type='text' class='form-control' ng-model='app.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
                    </div>
                    <div class='form-group' ng-if="app.mission.multi_phase==='Y'">
                        <label>项目阶段</label>
                        <select class='form-control' ng-model="app.mission_phase_id" ng-change="update('mission_phase_id')" ng-options="phase.phase_id as phase.title for phase in app.mission.phases">
                            <option></option>
                        </select>
                    </div>
                    <div class='form-group' ng-if="app.scenarioConfig.can_period!=='D'">
                        <label>开始时间</label>
                        <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-date='app.start_at' tms-state='start_at'></tms-datepicker>
                        <label>结束时间</label>
                        <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-date='app.end_at' tms-state='end_at'></tms-datepicker>
                    </div>
                </div>
                <div class="navbar-form navbar-right">
                    <button uib-popover-template="'appSetting.html'" popover-placement="bottom" popover-title="应用设置" popover-trigger="outsideClick" type="button" class="btn btn-default">活动设置 <span class="caret"></span></button>
                    <button class='btn btn-success' ng-click="publish()">收集数据</button>
                    <button class='btn btn-default' ng-click="remove()">删除</button>
                </div>
            </div>
        </nav>
        <div class='tile' ng-if="app.state==='2'" style='display:none'>
            <a href='/rest/pl/fe/matter/enroll/record?site={{siteId}}&id={{id}}'>登记结果</a>
        </div>
    </div>
    <!--app-->
    <!--pages-->
    <div class='col-md-12'>
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active':p===ep}" ng-repeat="p in app.pages">
                    <a href="#" ng-click="choosePage(p)"><span>{{p.title}}</span></a>
                </li>
                <ul class="navbar-form navbar-right">
                    <button uib-popover-template="'pageSetting.html'" popover-placement="bottom" popover-title="页面设置" popover-trigger="outsideClick" class="btn btn-default">页面设置 <span class="caret"></span></button>
                </ul>
            </ul>
        </div>
    </div>
    <!--pages-->
    <!--one page-->
    <div class='col-md-12 page' ng-controller="ctrlPage">
        <div class='row'>
            <div class='col-md-3'>
                <!--create input wrap-->
                <div class='form-group tile' ng-if="ep.type==='I'">
                    <button class='btn btn-default' ng-click="newSchema('name')">姓名</button>
                    <button class='btn btn-default' ng-click="newSchema('mobile')">手机</button>
                    <button class='btn btn-default' ng-click="newSchema('email')">邮箱</button>
                    <button class='btn btn-default' ng-click="newSchema('date')">日期</button>
                    <button class='btn btn-default' ng-click="newSchema('shorttext')">短文本</button>
                    <button class='btn btn-default' ng-click="newSchema('longtext')">长文本</button>
                    <button class='btn btn-default' ng-click="newSchema('single')">单选题</button>
                    <button class='btn btn-default' ng-click="newSchema('multiple')">多选题</button>
                    <button class='btn btn-default' ng-click="newSchema('image')">上传图片</button>
                    <button class='btn btn-default' ng-click="newSchema('file')">上传文件</button>
                    <button class='btn btn-default' ng-click="newSchema('location')">上传位置</button>
                    <button class='btn btn-default' ng-click="newSchema('phase')">项目阶段</button>
                    <button class='btn btn-default' ng-click="newMember()">自定义用户信息</button>
                    <div class='help-block'>添加登记项</div>
                </div>
                <!--create input wrap-->
                <!--create button wrap-->
                <div class='tile'>
                    <button class='btn btn-default' ng-click="newButton(btn)" ng-repeat="btn in buttons">{{btn.l}}</button>
                    <div class='help-block'>添加操作</div>
                </div>
                <!--create button wrap-->
                <div class='tile' ng-if="ep.type==='I'">
                    <div class='list-group' ng-controller="ctrlAppSchemas4Input">
                        <div class='list-group-item schema' ng-repeat="s in appSchemas">
                            <div class='checkbox' style='margin:0;padding:0' ng-mouseenter="entered=true" ng-mouseleave="entered=false">
                                <label><input type='checkbox' ng-model="chooseState[s.id]" ng-change="choose(s)"><span ng-bind="s.title"></span></label>
                                <button ng-if="entered" type="button" class="close" ng-click="remove(s)"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                    <div class='help-block'>所有登记项</div>
                </div>
                <div ng-if="ep.type==='V'" ng-controller="ctrlAppSchemas4View">
                    <div class='list-group-item' ng-repeat="s in appSchemas">
                        <div class='checkbox' style='margin:0'>
                            <label><input type='checkbox' ng-model="chooseState[s.id]" ng-change="choose(s)"><span ng-bind="s.title"></span></label>
                        </div>
                    </div>
                    <div class='list-group-item' ng-repeat="s in otherSchemas">
                        <div class='checkbox' style='margin:0'>
                            <label><input type='checkbox' ng-model="chooseState[s.id]" ng-change="choose(s)"><span ng-bind="s.title"></span></label>
                        </div>
                    </div>
                </div>
                 <div class='tile' ng-if="ep.type==='L'">
                    <button class='btn btn-default' ng-click="newList('records')">登记项列表</button>
                    <button class='btn btn-default' ng-click="newList('rounds')" ng-if="app.scenarioConfig.can_rounds==='Y'">添加轮次列表</button>
                </div>
            </div>
            <!--tinymce editor-->
            <div class='col-md-6'>
                <div class='page-editor'>
                    <tinymce content='ep.html' id='tinymce-page' height='660' change="onPageChange()" toolbar="code"></tinymce>
                    <div class='sidebar'>
                        <button class='btn btn-default' ng-click="updPage(ep,['html'])" title='保存修改' ng-disabled='!ep.$$modified'>
                        <i class='fa fa-save fa-fw'></i>
                        </button>
                        <button class='btn btn-default' ng-click="embedMatter()" title='添加素材'>
                        <i class='fa fa-file fa-fw'></i>
                        </button>
                        <button class='btn btn-default' ng-click="removeWrap()" title='删除' ng-disabled='!activeWrap'>
                        <i class='fa fa-remove fa-fw'></i>
                        </button>
                        <button class='btn btn-default' ng-click="moveWrap('up')" ng-disabled='!activeWrap'>
                        <span class='fa fa-arrow-up fa-fw'></span>
                        </button>
                        <button class='btn btn-default' ng-click="moveWrap('down')" ng-disabled='!activeWrap'>
                        <span class='fa fa-arrow-down fa-fw'></span>
                        </button>
                        <button class='btn btn-default' title='上一级' ng-click="moveWrap('upLevel')" ng-disabled='!activeWrap||activeWrap.upmost'>
                        <span class='fa fa-level-up fa-fw'></span>
                        </button>
                        <button class='btn btn-default' title='下一级' ng-click="moveWrap('downLevel')" ng-disabled='!activeWrap||activeWrap.downmost'>
                        <i class='fa fa-level-down fa-fw'></i>
                        </button>
                        <button class='btn btn-default' title='编辑代码' ng-click="gotoCode()">
                        <i class='fa fa-code fa-fw'></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--tinymce editor-->
            <div class='col-md-3'>
                <!--wrap editor-->
                <div class='tile' ng-if="activeWrap">
                    <div class='form-group' ng-include="wrapEditorHtml()">
                    </div>
                </div>
                <!--wrap editor-->
            </div>
        </div>
    </div>
    <!--page-->
</div>
<script type="text/ng-template" id="appSetting.html">
    <div id="appSetting">
        <div class='tile'>
            <div class='checkbox'>
                <label>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='app.use_site_header' ng-change="update('use_site_header');">使用站点页眉</label>
            </div>
            <div class='checkbox'>
                <label>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='app.use_site_footer' ng-change="update('use_site_footer');">使用站点页脚</label>
            </div>
        </div>
        <div class='tile' ng-if="app.mission_id>0">
            <div class='checkbox'>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='app.use_mission_header' ng-change="update('use_mission_header');">使用项目页眉</label>
            </div>
            <div class='checkbox'>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='app.use_mission_footer' ng-change="update('use_mission_footer');">使用项目页脚</label>
            </div>
        </div>
        <div class='tile' ng-if="app.state==='2'">
            <div class='form-group'>
                <div style='height:auto;word-break:break-all' ng-bind='url'></div>
            </div>
        </div>
    <div>
</script>
<script type="text/ng-template" id="pageSetting.html">
    <div id="pageSetting">
        <div class='form-group'>
            <input type='text' class='form-control' ng-model="ep.title" tms-auto-update tms-wait=1000 tms-update="updPage(ep,'title')">
        </div>
        <hr>
        <button class='btn btn-block btn-default' ng-click="gotoPageConfig()">修改页面</button>
        <button class='btn btn-block btn-default' ng-click="delPage()">删除页面</button>
        <hr>
        <button class='btn btn-block btn-default' ng-click="addPage()">添加页面</button>
        <hr>
        <a href="/rest/pl/fe/matter/enroll/config?site={{siteId}}&id={{id}}">活动进入规则</a>
    <div>
</script>