<div ng-controller="ctrlViewSchema">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class='checkbox' style='margin-top:0;margin-bottom:0'>
				<label><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="def.record.enabled">登记项</label>
			</div>
		</div>
		<div class="panel-body" ng-if="def.record.enabled==='Y'">
            <div class="form-group">
                <label>登记项</label>
                <ul class='list-group' style='overflow-y:auto;max-height:245px;margin-bottom:0'>
                    <li class='list-group-item slim'><label class='checkbox-inline'><input type='checkbox' ng-model='def.record.addEnrollAt'>登记时间</label></li>
                    <li class='list-group-item slim'><label class='checkbox-inline'><input type='checkbox' ng-model='def.record.addNickname'>昵称</label></li>
                    <li class='list-group-item slim'><label class='checkbox-inline'><input type='checkbox' ng-model='def.record.addHeadpic'>头像</label></li>
                    <li class='list-group-item slim' ng-repeat='s in def.record.schema'><label class='checkbox-inline'><input type='checkbox' ng-model='s.checked'>{{s.title}}<span style="color:#ccc;padding-left:2em">{{'ID:'+s.id}}</span></label></li>
                </ul>
            </div>
            <div class="form-group">
                <label>样式</label>
                <div class='checkbox' style='margin-top:0'>
                    <label><input type='checkbox' name='inline' ng-model='def.record.inline'>标题与数据在同一行</label>
                    <label><input type='checkbox' name='splitLine' ng-model='def.record.splitLine'>显示分割线</label>
                </div>
            </div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class='checkbox' style='margin-top:0;margin-bottom:0'>
				<label><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="def.list.enabled">登记清单</label>
			</div>
		</div>
		<div class="panel-body" ng-if="def.list.enabled==='Y'">
            <div class="form-group">
                <label>数据范围</label>
                <div class='radio' style='margin-top:0'>
                    <label><input type='radio' value='U' name='scope' ng-model='def.list.dataScope'>当前用户</label>
                    <label><input type='radio' value='A' name='scope' ng-model='def.list.dataScope'>整个活动</label>
                    <label><input type='radio' value='I' name='scope' ng-model='def.list.dataScope'>当前用户邀请的</label>
                </div>
            </div>
            <div class="form-group">
                <label>选中后</label>
                <select class='form-control' ng-model='def.list.onclick'>
                    <option value=''>不处理</option>
                    <option value='{{p.name}}' ng-repeat='p in app.pages'>{{p.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>登记项</label>
                <ul class='list-group' style='overflow-y:auto;max-height:245px;margin-bottom:0'>
                    <li class='list-group-item slim'><label class='checkbox-inline'><input type='checkbox' ng-model='def.list.addEnrollAt'>登记时间</label></li>
                    <li class='list-group-item slim'><label class='checkbox-inline'><input type='checkbox' ng-model='def.list.addNickname'>昵称</label></li>
                    <li class='list-group-item slim'><label class='checkbox-inline'><input type='checkbox' ng-model='def.list.addHeadpic'>头像</label></li>
                    <li class='list-group-item slim' ng-repeat='s in def.list.schema'><label class='checkbox-inline'><input type='checkbox' ng-model='s.checked'>{{s.title}}<span style="color:#ccc;padding-left:2em">{{'ID:'+s.id}}</span></label></li>
                </ul>
            </div>
            <div class="form-group" ng-show="def.type==='record'">
                <label>样式</label>
                <div class='checkbox' style='margin-top:0'>
                    <label><input type='checkbox' name='inline' ng-model='def.inline'>标题与数据在同一行</label>
                    <label><input type='checkbox' name='splitLine' ng-model='def.splitLine'>显示分割线</label>
                </div>
            </div>
		</div>
	</div>
    <div class='list-group form-group'>
        <div class='list-group-item' ng-repeat="s in ep.act_schemas">
            <span ng-bind='s.label'></span>
            <button class='btn btn-default btn-xs pull-right' ng-click='removeAct(s)'><span class='glyphicon glyphicon-remove'></span></button>
        </div>
        <button class='btn btn-success btn-block' ng-click='chooseAct()'>添加操作</button>
    </div>
	<div class='form-group'>
        <button class='btn btn-success btn-block' ng-click='makePage()'>生成页面</button>
        <button class='btn btn-success btn-block' ng-click='emptyPage()'>清空页面</button>
    </div>
    <div class='list-group form-group'>
        <div class='list-group-item' ng-repeat="p in others">
            <span ng-bind='p.title'></span>
        </div>
    </div>
</div>