<div id='enroller-view' class="col-md-12">
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <form class='navbar-form navbar-left'>
                <div class='input-group' ng-if="rule.scope=='member'">
                    <select class='form-control' ng-model="criteria.mschema" ng-options="mschema.title for mschema in mschemas" ng-change="searchEnrollee()"></select>
                    <div class='input-group-btn'>
                        <a class='btn btn-default' href='' target='_self' ng-click="gotoMschema(criteria.mschema)"><span class='glyphicon glyphicon-edit'></span></a>
                    </div>
                </div>
                <select class='form-control' ng-if="rounds.length>0" ng-model="criteria.rid">
                    <option value=''>全部轮次</option>
                    <option value="{{rnd.rid}}" ng-repeat="rnd in rounds">{{rnd.title}}</option>
                </select>
                <button type='button' class='btn btn-default' ng-click="notify(true)">给选中用户发消息</button>
                <button type='button' class='btn btn-default' ng-click="notify(false)">给全部用户发消息</button>
                <button type='button' class='btn btn-default' ng-click="export()">导出数据</button>
                <button type='button' class='btn btn-default' ng-click="searchEnrollee()">刷新数据</button>
            </form>
        </div>
    </nav>
    <div>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="criteria.allSelected">
                    </th>
                    <th style='width:48px'>序号</th>
                    <th ng-if="rule.scope!=='member'">姓名</th>
                    <th ng-if='criteria.mschema.attr_name[0]==0'>姓名</th>
                    <th ng-if='criteria.mschema.attr_mobile[0]==0'>手机号</th>
                    <th ng-if='criteria.mschema.attr_email[0]==0'>电子邮件</th>
                    <th ng-repeat='ea in criteria.mschema.extattr'>{{ea.label}}</th>
                    <th ng-if="app.group_app_id">分组</th>
                    <th>记录</th>
                    <th ng-if="app.userTask.minEnrollNum>0">要求记录数</th>
                    <th>评论</th>
                    <th ng-if="app.userTask.minRemarkNum>0">要求评论数</th>
                    <th>点赞</th>
                    <th ng-if="app.userTask.minLikeNum>0">要求赞同数</th>
                    <th>积分</th>
                    <th>得分</th>
                    <th ng-if="sns.wx.joined=='Y'">已关联微信</th>
                    <th ng-if="sns.yx.joined=='Y'">已关联易信</th>
                    <th ng-if="sns.qy.joined=='Y'">已关联微企</th>
                    <th>最后一次通知发送时间</th>
                    <th>最后一次通知发送结果</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='m in members'>
                    <td>
                        <input type='checkbox' ng-model="criteria.selected[$index]">
                    </td>
                    <td>{{$index+1}}</td>
                    <td ng-if="rule.scope!=='member'">{{m.nickname}}</td>
                    <td ng-if='criteria.mschema.attr_name[0]==0'>{{m.name}}</td>
                    <td ng-if='criteria.mschema.attr_mobile[0]==0'>{{m.mobile}}</td>
                    <td ng-if='criteria.mschema.attr_email[0]==0'>{{m.email}}</td>
                    <td ng-repeat='ea in criteria.mschema.extattr'>{{m.extattr[ea.id]}}</td>
                    <td ng-if='app.group_app_id'>
                        <div ng-if='m.group'>{{m.group.l}}</div>
                    </td>
                    <td>
                        <div ng-if='m.user.enroll_num'>{{m.user.enroll_num}}</div>
                        <div ng-if='m.enroll_num'>{{m.enroll_num}}</div>
                    </td>
                    <td ng-if="app.userTask.minEnrollNum>0">
                        <div>{{app.userTask.minEnrollNum}}</div>
                    </td>
                    <td>
                        <div ng-if='m.user.remark_other_num'>{{m.user.remark_other_num}}</div>
                        <div ng-if='m.remark_other_num'>{{m.remark_other_num}}</div>
                    </td>
                    <td ng-if="app.userTask.minRemarkNum>0">
                        <div>{{app.userTask.minRemarkNum}}</div>
                    </td>
                    <td>
                        <div ng-if='m.user.like_other_num'>{{m.user.like_other_num}}</div>
                        <div ng-if='m.like_other_num'>{{m.like_other_num}}</div>
                    </td>
                    <td ng-if="app.userTask.minLikeNum>0">
                        <div>{{app.userTask.minLikeNum>0}}</div>
                    </td>
                    <td>
                        <div ng-if='m.user.user_total_coin'>{{m.user.user_total_coin}}</div>
                        <div ng-if='m.user_total_coin'>{{m.user_total_coin}}</div>
                    </td>
                    <td>
                        <div ng-if='m.score'>{{m.score}}</div>
                    </td>
                    <td ng-if="sns.wx.joined=='Y'">
                        <div ng-show="m.wx_openid">是</div>
                    </td>
                    <td ng-if="sns.yx.joined=='Y'">
                        <div ng-show="m.yx_openid">是</div>
                    </td>
                    <td ng-if="sns.qy.joined=='Y'">
                        <div ng-show="m.qy_openid">是</div>
                    </td>
                    <td>
                        <div ng-if="m.tmplmsg.create_at">{{m.tmplmsg.create_at*1000|date: 'yy-MM-dd HH:mm'}}</div>
                    </td>
                    <td>
                        <div ng-if="m.tmplmsg">{{m._tmpStatus[0]}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class='form-group form-inline'>
            <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
            <ul uib-pagination style='margin:0;cursor:pointer' class='pull-right' ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="searchEnrollee()"></ul>
        </div>
    </div>
</div>