<div id='entry-view' class="col-md-6 col-md-offset-3">
    <div id='enrollee' class="panel panel-default">
        <div class="panel-body">
            <div class='form-group'>
                <label>进入活动链接</label>
                <div class='pl-input-group'>
                    <div class='form-control pl-line' ng-bind="entry.url"></div>
                    <button class='btn btn-default text2Clipboard' data-clipboard-text="{{entry.url}}">复制</button>
                    <a class='btn btn-default' ng-href="{{entry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                </div>
            </div>
            <div class="form-group" ng-if="app.entryRule.scope.sns!=='Y'||sns.qy.joined==='Y'">
                <span><img id='entryQrcode' ng-src="{{entry.qrcode}}"></span>
                <button class='btn btn-default' ng-click="downloadQrcode(entry.qrcode)">下载</button>
            </div>
            <div class='form-group' ng-if="app.entryRule.scope.sns==='Y'&&sns.wx.can_qrcode==='Y'" ng-controller="ctrlWxQrcode">
                <label>微信二维码</label>
                <div ng-if='!qrcode'>
                    <button class='btn btn-default' ng-click="create()">生成微信二维码</button>
                </div>
                <div ng-if='qrcode'>
                    <span><img style='width:135px;height:135px;' ng-src="{{qrcode.pic}}"></span>
                    <button class='btn btn-default' ng-click="download()">下载</button>
                </div>
            </div>
            <div class='form-group' ng-if="app.can_repos==='Y'">
                <label>进入共享数据页链接</label>
                <div class='pl-input-group'>
                    <div class='form-control pl-line'>{{entry.url}}&page=repos</div>
                    <a class='btn btn-default' ng-href="{{entry.url}}&page=repos" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    <button uib-popover-template="'reposSetting.html'" popover-placement="bottom" popover-append-to-body='true' popover-trigger="'outsideClick'" class='btn btn-default'><i class='glyphicon glyphicon-cog'></i></button>
                </div>
                <script type="text/ng-template" id="reposSetting.html">
                    <div class='form-group'>
                        <label>共享页默认排序规则</label>
                        <div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='lastest' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最近修改
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='earliest' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最早修改
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='lastest_first' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最近提交
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='earliest_first' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最早提交
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='mostliked' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最多赞同
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='agreed' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">精选推荐
                                </label>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
            <div class='form-group' ng-if="app.can_rank==='Y'">
                <label>进入排行榜页链接</label>
                <div class='pl-input-group'>
                    <div class='form-control pl-line'>{{entry.url}}&page=rank</div>
                    <a class='btn btn-default' ng-href="{{entry.url}}&page=rank" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    <button uib-popover-template="'rankSetting.html'" popover-placement="bottom" popover-append-to-body='true' popover-trigger="'outsideClick'" class='btn btn-default'><i class='glyphicon glyphicon-cog'></i></button>
                </div>
                <script type="text/ng-template" id="rankSetting.html">
                    <div class='form-group'>
                        <label>排行榜显示的排行数据</label>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.total_coin" ng-change="update('rankConfig')">积分
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='total_coin' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.score" ng-change="update('rankConfig')">得分
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='score' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.enroll" ng-change="update('rankConfig')">提交记录数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='enroll' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.remark" ng-change="update('rankConfig')">获得留言数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='remark' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.like" ng-change="update('rankConfig')">获得点赞数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='like' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.remark_other" ng-change="update('rankConfig')">发表留言数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='remark_other' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.like_other" ng-change="update('rankConfig')">进行点赞数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='like_other' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label>排行榜默认排行对象</label>
                        <div>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankObj' value='user' ng-model="app.rankConfig.defaultObj" ng-change="update('rankConfig')">用户
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankObj' value='group' ng-model="app.rankConfig.defaultObj" ng-change="update('rankConfig')">用户分组
                            </label>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <div id='organizer' class="panel panel-default">
        <div class="panel-body">
            <div ng-controller="ctrlOpUrl">
                <div class='form-group'>
                    <label>汇总结果分享链接</label>
                    <div class='pl-input-group'>
                        <div class='form-control pl-line' ng-bind="opEntry.url"></div>
                        <button class='btn btn-default text2Clipboard' data-clipboard-text="{{opEntry.url}}">复制</button>
                        <a class='btn btn-default' ng-href="{{opEntry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </div>
                </div>
                <div class='form-group'>
                    <button class='btn btn-default' ng-if="!opEntry.url" ng-click="makeOpUrl()">生成</button>
                    <button class='btn btn-default' ng-if="opEntry.url" ng-click="closeOpUrl()">关闭</button>
                    <button uib-popover-template="'opUrlPasswd.html'" popover-append-to-body='true' popover-placement="bottom" popover-title="访问密码" popover-trigger="outsideClick" type="button" class="btn btn-default" class='btn btn-default' ng-if="opEntry.url">密码 <span class="caret"></span></button>
                </div>
                <div class='form-group' ng-if="opEntry.url">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="opEntry.can_favor" ng-change="updCanFavor()">支持收藏</label>
                    <p class='help-block'>分享链接有效期1小时，设置【支持收藏】后，用户可收藏本链接，避免有效期限制</p>
                </div>
            </div>
            <hr>
            <div ng-controller="ctrlRpUrl">
                <div class='form-group'>
                    <label>统计报告分享链接</label>
                    <div class='pl-input-group'>
                        <div class='form-control pl-line' ng-bind="rpEntry.url"></div>
                        <button class='btn btn-default text2Clipboard' data-clipboard-text="{{rpEntry.url}}">复制</button>
                        <a class='btn btn-default' ng-href="{{rpEntry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </div>
                </div>
                <div class='form-group'>
                    <button class='btn btn-default' ng-if="!rpEntry.url" ng-click="makeOpUrl()">生成</button>
                    <button class='btn btn-default' ng-if="rpEntry.url" ng-click="closeOpUrl()">关闭</button>
                    <button uib-popover-template="'opUrlPasswd.html'" popover-append-to-body='true' popover-placement="bottom" popover-title="访问密码" popover-trigger="outsideClick" type="button" class="btn btn-default" class='btn btn-default' ng-if="rpEntry.url">密码 <span class="caret"></span></button>
                </div>
                <div class='form-group' ng-if="rpEntry.url">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rpEntry.can_favor" ng-change="updCanFavor()">支持收藏</label>
                    <p class='help-block'>分享链接有效期1小时，设置【支持收藏】后，用户可收藏本链接，避免有效期限制</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="opUrlPasswd.html">
        <div id="opUrlPasswd">
            <div class='form-group'>
                <div class='input-group'>
                    <input class='form-control' ng-model="opEntry.password">
                    <span class='input-group-btn'>
                    <button class='btn btn-default' ng-click="configOpUrl($event,'password')">设置</button>
                </span>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="rpUrlPasswd.html">
        <div id="rpUrlPasswd">
            <div class='form-group'>
                <div class='input-group'>
                    <input class='form-control' ng-model="rpEntry.password">
                    <span class='input-group-btn'>
                    <button class='btn btn-default' ng-click="configOpUrl($event,'password')">设置</button>
                </span>
                </div>
            </div>
        </div>
    </script>
    <div id='notice' class='panel panel-default' ng-controller="ctrlReceiver">
        <div class='panel-body'>
            <div class='form-group'>
                <p><i class="glyphicon glyphicon-bell"></i> 事件提醒</p>
            </div>
            <div class='form-group' ng-if="sns.wx.joined==='Y'&&sns.wx.can_qrcode==='Y'">
                <button id='wxQrcode' uib-popover-template="'joinQrcode.html'" popover-trigger="show" popover-placement="bottom" class="btn btn-default" ng-click="qrcode('wx')">微信公众号用户扫码作为接收人 <span class="caret"></span></button>
            </div>
            <div class='form-group' ng-if="sns.yx.joined==='Y'&&sns.yx.can_qrcode==='Y'">
                <button id='yxQrcode' uib-popover-template="'joinQrcode.html'" popover-trigger="show" popover-placement="bottom" class="btn btn-default" ng-click="qrcode('yx')">易信公众号用户扫码作为接收人 <span class="caret"></span></button>
            </div>
            <div class='list-group'>
                <div class='list-group-item' ng-repeat="r in receivers" ng-mouseenter="entered=true" ng-mouseleave="entered=false">
                    <span>{{r.nickname}}</span>&nbsp;<span ng-if="r.snsUser.snsName">{{r.snsUser.snsName}}</span>
                    <button class='btn btn-default btn-xs pull-right' ng-show="entered" ng-click="remove(r)">
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </div>
            </div>
            <div class='checkbox'>
                <label class='checkbox-inline'>
                    <input type='checkbox' ng-model="app.notifyConfig.submit.valid" ng-change="update('notifyConfig')">用户提交填写记录时通知接收人</label>
            </div>
            <div class='form-group' ng-if="app.notifyConfig.submit.valid">
                <label class='radio-inline'>
                    <input type='radio' name='notifySubmitPage' value="console" ng-model="app.notifyConfig.submit.page" ng-change="update('notifyConfig')">汇总结果分享链接</label>
                <label class='radio-inline'>
                    <input type='radio' name='notifySubmitPage' value="cowork" ng-model="app.notifyConfig.submit.page" ng-change="update('notifyConfig')">讨论页</label>
                <label class='radio-inline'>
                    <input type='radio' name='notifySubmitPage' value="repos" ng-model="app.notifyConfig.submit.page" ng-change="update('notifyConfig')">数据共享页</label>
            </div>
            <div>
                <div class='checkbox'>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="timerTask.report.state" ng-change="shiftTimerTask('report')">定时向所有接收人发送活动提醒</label>
                </div>
                <div class='form-group' ng-if="timerTask.report.taskId">
                    <label class='radio-inline'>
                        <input type='radio' name='reportPage' value="console" ng-model="timerTask.report.task.task_arguments.page" ng-change="saveTimerTask('report')">汇总结果分享链接</label>
                    <label class='radio-inline'>
                        <input type='radio' name='reportPage' value="repos" ng-model="timerTask.report.task.task_arguments.page" ng-change="saveTimerTask('report')">数据共享页</label>
                    <label class='radio-inline'>
                        <input type='radio' name='reportPage' value="event" ng-model="timerTask.report.task.task_arguments.page" ng-change="saveTimerTask('report')">动态页</label>
                </div>
                <div ng-if="timerTask.report.taskId">
                    <div class='radio'>
                        <label>
                            <input type='radio' value='Y' ng-model="timerTask.report.task.pattern"> 每年</label>
                        <label>
                            <input type='radio' value='M' ng-model="timerTask.report.task.pattern"> 每月</label>
                        <label>
                            <input type='radio' value='W' ng-model="timerTask.report.task.pattern"> 每周</label>
                    </div>
                    <div class='form-group'>
                        <div class='form-inline'>
                            <select class='form-control' ng-model="timerTask.report.task.mon" ng-if="timerTask.report.task.pattern==='Y'">
                                <option value='-1'>每月</option>
                                <option value='1'>1月</option>
                                <option value='2'>2月</option>
                                <option value='3'>3月</option>
                                <option value='4'>4月</option>
                                <option value='5'>5月</option>
                                <option value='6'>6月</option>
                                <option value='7'>7月</option>
                                <option value='8'>8月</option>
                                <option value='9'>9月</option>
                                <option value='10'>10月</option>
                                <option value='11'>11月</option>
                                <option value='12'>12月</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.report.task.mday" ng-if="timerTask.report.task.pattern==='M'||timerTask.report.task.pattern==='Y'">
                                <option value='-1'>每日</option>
                                <option value='1'>1号</option>
                                <option value='2'>2号</option>
                                <option value='3'>3号</option>
                                <option value='4'>4号</option>
                                <option value='5'>5号</option>
                                <option value='6'>6号</option>
                                <option value='7'>7号</option>
                                <option value='8'>8号</option>
                                <option value='9'>9号</option>
                                <option value='10'>10号</option>
                                <option value='11'>11号</option>
                                <option value='12'>12号</option>
                                <option value='13'>13号</option>
                                <option value='14'>14号</option>
                                <option value='15'>15号</option>
                                <option value='16'>16号</option>
                                <option value='17'>17号</option>
                                <option value='18'>18号</option>
                                <option value='19'>19号</option>
                                <option value='20'>20号</option>
                                <option value='21'>21号</option>
                                <option value='22'>22号</option>
                                <option value='23'>23号</option>
                                <option value='24'>24号</option>
                                <option value='25'>25号</option>
                                <option value='26'>26号</option>
                                <option value='27'>27号</option>
                                <option value='28'>28号</option>
                                <option value='29'>29号</option>
                                <option value='30'>30号</option>
                                <option value='31'>31号</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.report.task.wday" ng-if="timerTask.report.task.pattern==='W'">
                                <option value='-1'>每天</option>
                                <option value='1'>周一</option>
                                <option value='2'>周二</option>
                                <option value='3'>周三</option>
                                <option value='4'>周四</option>
                                <option value='5'>周五</option>
                                <option value='6'>周六</option>
                                <option value='0'>周日</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.report.task.hour">
                                <option value='-1'>每小时</option>
                                <option value='0'>0点</option>
                                <option value='1'>1点</option>
                                <option value='2'>2点</option>
                                <option value='3'>3点</option>
                                <option value='4'>4点</option>
                                <option value='5'>5点</option>
                                <option value='6'>6点</option>
                                <option value='7'>7点</option>
                                <option value='8'>8点</option>
                                <option value='9'>9点</option>
                                <option value='10'>10点</option>
                                <option value='11'>11点</option>
                                <option value='12'>12点</option>
                                <option value='13'>13点</option>
                                <option value='14'>14点</option>
                                <option value='15'>15点</option>
                                <option value='16'>16点</option>
                                <option value='17'>17点</option>
                                <option value='18'>18点</option>
                                <option value='19'>19点</option>
                                <option value='20'>20点</option>
                                <option value='21'>21点</option>
                                <option value='22'>22点</option>
                                <option value='23'>23点</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.report.task.min">
                                <option value='-1'>每分种</option>
                                <option value='0'>0分</option>
                                <option value='5'>5分</option>
                                <option value='10'>10分</option>
                                <option value='15'>15分</option>
                                <option value='20'>20分</option>
                                <option value='25'>25分</option>
                                <option value='30'>30分</option>
                                <option value='35'>35分</option>
                                <option value='40'>40分</option>
                                <option value='45'>45分</option>
                                <option value='50'>50分</option>
                                <option value='55'>55分</option>
                            </select>
                        </div>
                    </div>
                    <div class='checkbox' ng-show="['6','0'].indexOf(timerTask.report.task.wday)===-1">
                        <label>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="timerTask.report.task.notweekend"> 不包含周六、周日</label>
                    </div>
                    <div class='form-group'>
                        <div class='form-inline'>
                            <span>终止时间</span>
                            <tms-datepicker class='tms-datepicker' tms-title='终止时间' tms-date='timerTask.report.task.task_expire_at' tms-state='report'></tms-datepicker>
                        </div>
                    </div>
                    <div class='form-group' ng-if="timerTask.report.task.task_expire_at==0">
                        <div class='form-inline'>
                            <div class='form-group'>
                                <span>剩余执行次数 </span>
                                <select class='form-control' ng-model="timerTask.report.task.left_count">
                                    <option value='0'>0次</option>
                                    <option value='1'>1次</option>
                                    <option value='2'>2次</option>
                                    <option value='3'>3次</option>
                                    <option value='4'>4次</option>
                                    <option value='5'>5次</option>
                                    <option value='6'>6次</option>
                                    <option value='7'>7次</option>
                                    <option value='8'>8次</option>
                                    <option value='9'>9次</option>
                                    <option value='10'>10次</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='form-inline'>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' ng-model="timerTask.report.task.enabled" ng-true-value="'Y'" ng-false-value="'N'"> 定时规则生效</label>
                            </div>
                            <button class='btn' ng-class="timerTask.report.modified?'btn-success':'btn-default'" ng-disabled="!timerTask.report.modified" ng-click="saveTimerTask('report')">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <div class='checkbox'>
                    <label class='checkbox-inline' uib-tooltip='定时将包含【活动进入链接】消息发送给所有填写人'>
                        <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="timerTask.remind.state" ng-change="shiftTimerTask('remind')">定时向所有填写人发送活动提醒 <span class='glyphicon glyphicon-question-sign'></span></label>
                </div>
                <div ng-if="timerTask.remind.taskId">
                    <div class='radio'>
                        <label>
                            <input type='radio' value='Y' ng-model="timerTask.remind.task.pattern"> 每年</label>
                        <label>
                            <input type='radio' value='M' ng-model="timerTask.remind.task.pattern"> 每月</label>
                        <label>
                            <input type='radio' value='W' ng-model="timerTask.remind.task.pattern"> 每周</label>
                    </div>
                    <div class='form-group'>
                        <div class='form-inline'>
                            <select class='form-control' ng-model="timerTask.remind.task.mon" ng-if="timerTask.remind.task.pattern==='Y'">
                                <option value='-1'>每月</option>
                                <option value='1'>1月</option>
                                <option value='2'>2月</option>
                                <option value='3'>3月</option>
                                <option value='4'>4月</option>
                                <option value='5'>5月</option>
                                <option value='6'>6月</option>
                                <option value='7'>7月</option>
                                <option value='8'>8月</option>
                                <option value='9'>9月</option>
                                <option value='10'>10月</option>
                                <option value='11'>11月</option>
                                <option value='12'>12月</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.remind.task.mday" ng-if="timerTask.remind.task.pattern==='M'||timerTask.remind.task.pattern==='Y'">
                                <option value='-1'>每日</option>
                                <option value='1'>1号</option>
                                <option value='2'>2号</option>
                                <option value='3'>3号</option>
                                <option value='4'>4号</option>
                                <option value='5'>5号</option>
                                <option value='6'>6号</option>
                                <option value='7'>7号</option>
                                <option value='8'>8号</option>
                                <option value='9'>9号</option>
                                <option value='10'>10号</option>
                                <option value='11'>11号</option>
                                <option value='12'>12号</option>
                                <option value='13'>13号</option>
                                <option value='14'>14号</option>
                                <option value='15'>15号</option>
                                <option value='16'>16号</option>
                                <option value='17'>17号</option>
                                <option value='18'>18号</option>
                                <option value='19'>19号</option>
                                <option value='20'>20号</option>
                                <option value='21'>21号</option>
                                <option value='22'>22号</option>
                                <option value='23'>23号</option>
                                <option value='24'>24号</option>
                                <option value='25'>25号</option>
                                <option value='26'>26号</option>
                                <option value='27'>27号</option>
                                <option value='28'>28号</option>
                                <option value='29'>29号</option>
                                <option value='30'>30号</option>
                                <option value='31'>31号</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.remind.task.wday" ng-if="timerTask.remind.task.pattern==='W'">
                                <option value='-1'>每天</option>
                                <option value='1'>周一</option>
                                <option value='2'>周二</option>
                                <option value='3'>周三</option>
                                <option value='4'>周四</option>
                                <option value='5'>周五</option>
                                <option value='6'>周六</option>
                                <option value='0'>周日</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.remind.task.hour">
                                <option value='-1'>每小时</option>
                                <option value='0'>0点</option>
                                <option value='1'>1点</option>
                                <option value='2'>2点</option>
                                <option value='3'>3点</option>
                                <option value='4'>4点</option>
                                <option value='5'>5点</option>
                                <option value='6'>6点</option>
                                <option value='7'>7点</option>
                                <option value='8'>8点</option>
                                <option value='9'>9点</option>
                                <option value='10'>10点</option>
                                <option value='11'>11点</option>
                                <option value='12'>12点</option>
                                <option value='13'>13点</option>
                                <option value='14'>14点</option>
                                <option value='15'>15点</option>
                                <option value='16'>16点</option>
                                <option value='17'>17点</option>
                                <option value='18'>18点</option>
                                <option value='19'>19点</option>
                                <option value='20'>20点</option>
                                <option value='21'>21点</option>
                                <option value='22'>22点</option>
                                <option value='23'>23点</option>
                            </select>
                            <select class='form-control' ng-model="timerTask.remind.task.min">
                                <option value='-1'>每分种</option>
                                <option value='0'>0分</option>
                                <option value='5'>5分</option>
                                <option value='10'>10分</option>
                                <option value='15'>15分</option>
                                <option value='20'>20分</option>
                                <option value='25'>25分</option>
                                <option value='30'>30分</option>
                                <option value='35'>35分</option>
                                <option value='40'>40分</option>
                                <option value='45'>45分</option>
                                <option value='50'>50分</option>
                                <option value='55'>55分</option>
                            </select>
                        </div>
                    </div>
                    <div class='checkbox' ng-show="['6','0'].indexOf(timerTask.remind.task.wday)===-1">
                        <label>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="timerTask.remind.task.notweekend"> 不包含周六、周日</label>
                    </div>
                    <div class='form-group'>
                        <div class='form-inline'>
                            <span>终止时间</span>
                            <tms-datepicker class='tms-datepicker' tms-title='终止时间' tms-date='timerTask.remind.task.task_expire_at' tms-state='remind'></tms-datepicker>
                        </div>
                    </div>
                    <div class='form-group' ng-if="timerTask.remind.task.task_expire_at==0">
                        <div class='form-inline'>
                            <div class='form-group'>
                                <span>剩余执行次数 </span>
                                <select class='form-control' ng-model="timerTask.remind.task.left_count">
                                    <option value='0'>0次</option>
                                    <option value='1'>1次</option>
                                    <option value='2'>2次</option>
                                    <option value='3'>3次</option>
                                    <option value='4'>4次</option>
                                    <option value='5'>5次</option>
                                    <option value='6'>6次</option>
                                    <option value='7'>7次</option>
                                    <option value='8'>8次</option>
                                    <option value='9'>9次</option>
                                    <option value='10'>10次</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='form-inline'>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' ng-model="timerTask.remind.task.enabled" ng-true-value="'Y'" ng-false-value="'N'"> 定时规则生效</label>
                            </div>
                            <button class='btn' ng-class="timerTask.remind.modified?'btn-success':'btn-default'" ng-disabled="!timerTask.remind.modified" ng-click="saveTimerTask('remind')">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="joinQrcode.html">
        <div style="width:200px">
            <img ng-src="{{qrcodeURL}}" style="width:100%">
        </div>
    </script>
    <div id='mpshare' class="panel panel-default">
        <div class="panel-body">
            <div class='form-group'>
                <label>公众号分享卡片头图（可选，建议尺寸360*200）</label>
                <div style='position:relative'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="!app.pic">
                            <button class='btn btn-default' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                        </div>
                        <div style='position:relative' ng-if="app.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{app.pic}}" width='180px' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label>公众号分享卡片摘要（可选）</label>
                <textarea class='form-control' ng-model='app.summary' rows=5 tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3" id="entryScrollspy" style='position:relative;'>
    <ul class="nav nav-pills nav-stacked pl-workspace" style='position:fixed;'>
        <li><a href="#enrollee">用户入口</a></li>
        <li><a href="#organizer">组织者入口</a></li>
        <li><a href="#notice">事件提醒</a></li>
        <li><a href="#mpshare">公众号分享</a></li>
    </ul>
</div>