<div id='entry-view' class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='form-group'>
                <label>进入活动链接</label>
                <div class='pl-input-group'>
                    <div class='form-control pl-line' ng-bind="entry.url"></div>
                    <a class='btn btn-default' ng-href="{{entry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                </div>
            </div>
            <div class="form-group" ng-if="app.entryRule.scope.sns!=='Y'||sns.qy.joined==='Y'">
                <span><img id='entryQrcode' ng-src="{{entry.qrcode}}"></span>
                <button class='btn btn-default' ng-click="downloadQrcode(entry.qrcode)">下载</button>
            </div>
            <div class='form-group' ng-if="app.entryRule.scope.sns==='Y'&&sns.wx.can_qrcode==='Y'" ng-controller="ctrlWxQrcode">
                <label>微信二维码</label>
                <div ng-if='!qrcode'>
                    <button class='btn btn-default' ng-click="create()">生成微信二维码</button>
                </div>
                <div ng-if='qrcode'>
                    <span><img style='width:135px;height:135px;' ng-src="{{qrcode.pic}}"></span>
                    <button class='btn btn-default' ng-click="download()">下载</button>
                </div>
            </div>
            <div class='form-group' ng-if="app.scenarioConfig.can_repos==='Y'">
                <label>进入共享数据页链接</label>
                <div class='pl-input-group'>
                    <div class='form-control pl-line'>{{entry.url}}&page=repos</div>
                    <a class='btn btn-default' ng-href="{{entry.url}}&page=repos" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    <button uib-popover-template="'reposSetting.html'" popover-placement="bottom" popover-append-to-body='true' popover-trigger="'outsideClick'" class='btn btn-default'><i class='glyphicon glyphicon-cog'></i></button>
                </div>
                <script type="text/ng-template" id="reposSetting.html">
                    <div class='form-group'>
                        <label>共享页默认排序规则</label>
                        <div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='lastest' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最近修改
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='earliest' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最早修改
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='lastest_first' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最近提交
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='earliest_first' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最早提交
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='mostliked' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">最多赞同
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input type='radio' name='defaultReposOrder' value='agreed' ng-model="app.reposConfig.defaultOrder" ng-change="update('reposConfig')">精选推荐
                                </label>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
            <div class='form-group' ng-if="app.scenarioConfig.can_rank==='Y'">
                <label>进入排行榜页链接</label>
                <div class='pl-input-group'>
                    <div class='form-control pl-line'>{{entry.url}}&page=rank</div>
                    <a class='btn btn-default' ng-href="{{entry.url}}&page=rank" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    <button uib-popover-template="'rankSetting.html'" popover-placement="bottom" popover-append-to-body='true' popover-trigger="'outsideClick'" class='btn btn-default'><i class='glyphicon glyphicon-cog'></i></button>
                </div>
                <script type="text/ng-template" id="rankSetting.html">
                    <div class='form-group'>
                        <label>排行榜显示的排行数据</label>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.total_coin" ng-change="update('rankConfig')">积分
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='total_coin' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.score" ng-change="update('rankConfig')">得分
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='score' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.average_score" ng-change="update('rankConfig')">平均得分
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='average_score' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.enroll" ng-change="update('rankConfig')">提交记录数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='enroll' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.remark" ng-change="update('rankConfig')">获得留言数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='remark' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.like" ng-change="update('rankConfig')">获得点赞数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='like' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.remark_other" ng-change="update('rankConfig')">发表留言数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='remark_other' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                        <div>
                            <label class='checkbox-inline'>
                                <input type='checkbox' ng-model="app.rankConfig.scope.do_like" ng-change="update('rankConfig')">进行点赞数量
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankItem' value='do_like' ng-model="app.rankConfig.defaultItem" ng-change="update('rankConfig')">默认
                            </label>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label>排行榜默认排行对象</label>
                        <div>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankObj' value='user' ng-model="app.rankConfig.defaultObj" ng-change="update('rankConfig')">用户
                            </label>
                            <label class='radio-inline'>
                                <input type='radio' name='defaultRankObj' value='group' ng-model="app.rankConfig.defaultObj" ng-change="update('rankConfig')">用户分组
                            </label>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-controller="ctrlTaskRemind">
        <div class='panel-body'>
            <div class='form-group'>
                <p><i class="glyphicon glyphicon-bell"></i> <span>任务提醒</span></p>
            </div>
            <!--begin timer-->
            <div class='timer' ng-repeat="timer in timers">
                <div class='form-group'>
                    <label class='radio-inline'>
                        <input type='radio' value='' ng-model="timer.task.task_arguments.page">按照活动进入规则</label>
                    <label class='radio-inline'>
                        <input type='radio' value='repos' ng-model="timer.task.task_arguments.page">共享页</label>
                    <label class='radio-inline'>
                        <input type='radio' value='event' ng-model="timer.task.task_arguments.page">动态页</label>
                    <label class='radio-inline'>
                        <input type='radio' value='rank' ng-model="timer.task.task_arguments.page">排行榜</label>
                </div>
                <div class='form-group'>
                    <label class='radio-inline'>
                        <input type='radio' value='enroll' ng-model="timer.task.task_arguments.receiver.scope" ng-change="defaultReceiver(timer)">填写人</label>
                    <label class='radio-inline'>
                        <input type='radio' value='mschema' ng-model="timer.task.task_arguments.receiver.scope" ng-change="defaultReceiver(timer)">通讯录</label>
                    <label class='radio-inline'>
                        <input type='radio' value='group' ng-model="timer.task.task_arguments.receiver.scope" ng-change="defaultReceiver(timer)"><span>分组活动</span>&nbsp;<a ng-if="timer.task.task_arguments.receiver.scope==='group'" ng-click="assignGroup(timer)">指定</a></label>
                </div>
                <div class='form-group' ng-if="timer.task.task_arguments.receiver.scope==='mschema'">
                    <input class='form-control' title="{{timer._temp.mschema.title}}" value="{{timer._temp.mschema.title}}" readonly>
                </div>
                <div class='form-group' ng-if="timer.task.task_arguments.receiver.scope==='group'">
                    <div class='row'>
                        <div class='col-md-7'>
                            <div class='pl-input-group' ng-if="timer._temp">
                                <div class='form-control pl-line' ng-bind="timer._temp.group.title"></div>
                                <a class='btn btn-default' ng-href="/rest/pl/fe/matter/group?site={{app.siteid}}&id={{timer._temp.group.id}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                            </div>
                            <div class='pl-input-group' ng-if="!timer._temp">
                                <div class='form-control pl-line' ng-bind="timer.task.task_arguments.receiver.app.title"></div>
                                <a class='btn btn-default' ng-href="/rest/pl/fe/matter/group?site={{app.siteid}}&id={{timer.task.task_arguments.receiver.app.id}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class='pl-input-group'>
                                <div ng-if="timer._temp" class='form-control pl-line' ng-bind="timer._temp.group.round.title"></div>
                                <div ng-if="!timer._temp" class='form-control pl-line' ng-bind="timer.task.task_arguments.receiver.app.round.title"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include="'/views/default/pl/fe/_module/timerNotice.html'"></div>
                <hr>
            </div>
            <!--end timer-->
            <div>
                <button class='btn btn-default' ng-click="srvTimer.add(app,timers,'remind',{page:'',receiver:{scope:'enroll'}})">添加定时发送规则</button>
            </div>
            <div ng-if="timers.length">
                <hr>
                <a href ng-click="switchTo('notice')">查看通知发送日志</a>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-controller="ctrlAbsentRemind">
        <div class='panel-body'>
            <div class='form-group'>
                <p><i class="glyphicon glyphicon-bell"></i> 事件提醒【未完成任务】</p>
            </div>
            <!--begin timer-->
            <div class='timer' ng-repeat="timer in timers">
                <div tms-array-checkbox model="timer.task.task_arguments.receiver.scope">
                    <div class='checkbox'>
                        <label>
                            <input type='checkbox' value='user'>未完成任务的用户
                        </label>
                    </div>
                    <div class='checkbox' ng-if="app.entryRule.group.id">
                        <label>
                            <input type='checkbox' value='leader'>用户在分组活动【<span ng-bind="app.entryRule.group.title"></span>】所属分组的组长
                        </label>
                    </div>
                    <div class='checkbox'>
                        <label class='checkbox-inline'>
                            <input type='checkbox' value='group'><span>指定分组活动和分组</span>&nbsp;<a ng-if="timer.task.task_arguments.receiver.scope&&timer.task.task_arguments.receiver.scope.indexOf('group')!==-1" ng-click="assignGroup(timer)">指定</a>
                        </label>
                    </div>
                </div>
                <div class='form-group' ng-if="timer.task.task_arguments.receiver.scope.indexOf('group')!==-1">
                    <div class='row'>
                        <div class='col-md-7'>
                            <div class='pl-input-group'>
                                <div class='form-control pl-line' ng-bind="timer.task.task_arguments.receiver.group.title"></div>
                                <a class='btn btn-default' ng-href="/rest/pl/fe/matter/group?site={{app.siteid}}&id={{timer.task.task_arguments.receiver.group.id}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class='pl-input-group'>
                                <div class='form-control pl-line' ng-bind="timer.task.task_arguments.receiver.group.round.title"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='radio-inline'>
                        <input type='radio' value='start' ng-model="timer.task.task_arguments.offset">填写轮次开始时间后</label>
                    <label class='radio-inline'>
                        <input type='radio' value='end' ng-model="timer.task.task_arguments.offset">填写轮次结束时间前</label>
                </div>
                <div ng-include="'/views/default/pl/fe/_module/timerNotice.html'"></div>
                <hr>
            </div>
            <!--end timer-->
            <div>
                <button class='btn btn-default' ng-click="srvTimer.add(app,timers,'absent',{receiver:{scope:['user']}})">添加定时发送规则</button>
            </div>
            <div ng-if="timers.length">
                <hr>
                <a href ng-click="switchTo('notice')">查看通知发送日志</a>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-controller="ctrlEventRemind">
        <div class='panel-body'>
            <div class='form-group'>
                <p><i class="glyphicon glyphicon-bell"></i> 事件提醒【用户提交填写记录】</p>
            </div>
            <hr>
            <div ng-if="config.submit">
                <div class='form-group'>
                    <label class='radio-inline'>
                        <input type='radio' value="cowork" ng-model="config.submit.page">讨论页</label>
                </div>
                <div tms-array-checkbox model="config.submit.receiver.scope">
                    <div class='checkbox' ng-if="app.entryRule.group.id">
                        <label>
                            <input type='checkbox' value='leader'>用户在分组活动【<span ng-bind="app.entryRule.group.title"></span>】所属分组的组长
                        </label>
                    </div>
                    <div class='checkbox'>
                        <label class='checkbox-inline'>
                            <input type='checkbox' value='group'><span>指定分组活动和分组</span>&nbsp;<a ng-if="config.submit.receiver.scope&&config.submit.receiver.scope.indexOf('group')!==-1" ng-click="assignGroup(config.submit.receiver)">指定</a>
                        </label>
                    </div>
                </div>
                <div class='form-group' ng-if="config.submit.receiver.scope&&config.submit.receiver.scope.indexOf('group')!==-1">
                    <div class='row'>
                        <div class='col-md-7'>
                            <input class='form-control' title="{{config.submit.receiver.group.title}}" value="{{config.submit.receiver.group.title}}" readonly>
                        </div>
                        <div class='col-md-5'>
                            <input class='form-control' title="{{config.submit.receiver.group.round.title}}" value="{{config.submit.receiver.group.round.title}}" readonly>
                        </div>
                    </div>
                </div>
                <hr>
                <div class='form-inline'>
                    <div class='checkbox'>
                        <input type='checkbox' bs-switch data-on-text="启用" data-off-text="停用" ng-model="config.submit.valid">
                    </div>
                    <button class='btn' ng-class="{'btn-default':!modified, 'btn-success':modified}" ng-disabled="!modified" ng-click="save()">保存</button>
                </div>
            </div>
            <div ng-if="!config.submit">
                <button class='btn btn-default' ng-click="initConfig('submit')">设置提醒规则</button>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-controller="ctrlEventRemind">
        <div class='panel-body'>
            <div class='form-group'>
                <p><i class="glyphicon glyphicon-bell"></i> 事件提醒【用户提交留言】</p>
            </div>
            <hr>
            <div ng-if="config.remark">
                <div class='form-group'>
                    <label class='radio-inline'>
                        <input type='radio' value="cowork" ng-model="config.remark.page">讨论页</label>
                </div>
                <div tms-array-checkbox model="config.remark.receiver.scope">
                    <div class='checkbox'>
                        <label>
                            <input type='checkbox' value='related'>被留言内容（记录、内容或留言）的提交人
                        </label>
                    </div>
                    <div class='checkbox'>
                        <label class='checkbox-inline'>
                            <input type='checkbox' value='group'><span>指定分组活动和分组</span>&nbsp;<a ng-if="config.remark.receiver.scope&&config.remark.receiver.scope.indexOf('group')!==-1" ng-click="assignGroup(config.remark.receiver)">指定</a>
                        </label>
                    </div>
                </div>
                <div class='form-group' ng-if="config.remark.receiver.scope&&config.remark.receiver.scope.indexOf('group')!==-1">
                    <div class='row'>
                        <div class='col-md-7'>
                            <input class='form-control' title="{{config.remark.receiver.group.title}}" value="{{config.remark.receiver.group.title}}" readonly>
                        </div>
                        <div class='col-md-5'>
                            <input class='form-control' title="{{config.remark.receiver.group.round.title}}" value="{{config.remark.receiver.group.round.title}}" readonly>
                        </div>
                    </div>
                </div>
                <hr>
                <div class='form-inline'>
                    <div class='checkbox'>
                        <input type='checkbox' bs-switch data-on-text="启用" data-off-text="停用" ng-model="config.remark.valid">
                    </div>
                    <button class='btn' ng-class="{'btn-default':!modified, 'btn-success':modified}" ng-disabled="!modified" ng-click="save()">保存</button>
                </div>
            </div>
            <div ng-if="!config.remark">
                <button class='btn btn-default' ng-click="initConfig('remark')">设置提醒规则</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-controller="ctrlOpUrl">
                <div class='form-group'>
                    <label>汇总结果分享链接</label>
                    <div class='pl-input-group'>
                        <div class='form-control pl-line' ng-bind="opEntry.url"></div>
                        <a class='btn btn-default' ng-href="{{opEntry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </div>
                </div>
                <div class='form-group'>
                    <button class='btn btn-default' ng-if="!opEntry.url" ng-click="makeOpUrl()">生成</button>
                    <button class='btn btn-default' ng-if="opEntry.url" ng-click="closeOpUrl()">关闭</button>
                    <button uib-popover-template=" 'opUrlPasswd.html'" popover-append-to-body='true' popover-placement="bottom" popover-title="访问密码" popover-trigger="outsideClick" type="button" class="btn btn-default" class='btn btn-default' ng-if="opEntry.url">密码 <span class="caret"></span></button>
                </div>
                <div class='form-group' ng-if="opEntry.url">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value=" 'Y'" ng-false-value=" 'N'" ng-model="opEntry.can_favor" ng-change="updCanFavor()">支持收藏</label>
                    <p class='help-block'>分享链接有效期1小时，设置【支持收藏】后，用户可收藏本链接，避免有效期限制</p>
                </div>
            </div>
            <hr>
            <div ng-controller="ctrlRpUrl">
                <div class='form-group'>
                    <label>统计报告分享链接</label>
                    <div class='pl-input-group'>
                        <div class='form-control pl-line' ng-bind="rpEntry.url"></div>
                        <a class='btn btn-default' ng-href="{{rpEntry.url}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </div>
                </div>
                <div class='form-group'>
                    <button class='btn btn-default' ng-if="!rpEntry.url" ng-click="makeOpUrl()">生成</button>
                    <button class='btn btn-default' ng-if="rpEntry.url" ng-click="closeOpUrl()">关闭</button>
                    <button uib-popover-template=" 'opUrlPasswd.html'" popover-append-to-body='true' popover-placement="bottom" popover-title="访问密码" popover-trigger="outsideClick" type="button" class="btn btn-default" class='btn btn-default' ng-if="rpEntry.url">密码 <span class="caret"></span></button>
                </div>
                <div class='form-group' ng-if="rpEntry.url">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-true-value=" 'Y'" ng-false-value=" 'N'" ng-model="rpEntry.can_favor" ng-change="updCanFavor()">支持收藏</label>
                    <p class='help-block'>分享链接有效期1小时，设置【支持收藏】后，用户可收藏本链接，避免有效期限制</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="opUrlPasswd.html">
        <div id="opUrlPasswd">
            <div class='form-group'>
                <div class='input-group'>
                    <input class='form-control' ng-model="opEntry.password">
                    <div class='input-group-btn'>
                        <button class='btn btn-default' ng-click="configOpUrl($event, 'password')">设置</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="rpUrlPasswd.html">
        <div id="rpUrlPasswd">
            <div class='form-group'>
                <div class='input-group'>
                    <input class='form-control' ng-model="rpEntry.password">
                    <div class='input-group-btn'>
                        <button class='btn btn-default' ng-click="configOpUrl($event,'password')">设置</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='form-group'>
                <label>公众号分享卡片头图（可选，建议尺寸360*200）</label>
                <div style='position:relative'>
                    <div style="width:182px;border:1px solid #CCC">
                        <div style="height:100px;text-align:center;padding-top:32px" ng-if="!app.pic">
                            <button class='btn btn-default' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                        </div>
                        <div style='position:relative' ng-if="app.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                            <img name='pic' ng-src="{{app.pic}}" width='180px' />
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                <span class='glyphicon glyphicon-picture'></span>
                            </button>
                            <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                <span class='glyphicon glyphicon-trash'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label>公众号分享卡片摘要（可选）</label>
                <textarea class='form-control' ng-model='app.summary' rows=5 tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
            </div>
        </div>
    </div>
</div>