body{background:#f8f8f8;padding:71px 0;font-family:Microsoft Yahei,Arial;}
body>nav{display:flex;height:50px;}
body>nav>ul:nth-child(2){flex-grow:1;text-align:center;}
body>nav>ul:nth-child(2)>li{height:50px;display:inline-block;float:none;overflow:hidden;}
body>nav>ul:nth-child(2)>.title a{max-width:20em;white-space:nowrap;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile>.form-group,.tile>.checkbox{padding:8px;background:#fff;border-radius:4px;}
.tile>.form-group.compact{margin-bottom:0;}
.tile>.form-group:last-child{margin-bottom:0;}

/*app-view*/
#page-view .pages .container-fluid{padding-bottom:8px;}
#page-view .page{position:absolute;top:120px;bottom:71px;overflow-y:auto;}
#page-view .schema .checkbox{margin:0;padding:0;}
#page-view .schema .checkbox label{margin-right:24px;}
#page-view .schema .checkbox button{position:absolute;top:0;right:0;}
#page-view .schema.dndable.ui-sortable-helper{min-height:41px;}
#page-view .page .page-schemas{position:absolute;top:0;bottom:0;left:0;width:290px;overflow-y:auto;}
#page-view .page .page-editor{position:absolute;top:0;bottom:0;left:305px;width:540px;overflow-y:auto;}
#page-view .page .wrap-editor{position:absolute;top:0;bottom:0;left:860px;width:250px;overflow-y:auto;}

/*schema-view*/
#schema-view .flexrow{display:flex;margin-bottom:8px;}
#schema-view .flexrow button{flex:1;}
#schema-view .schemas{index}
#schema-view .schemas .schema{counter-increment:index;position:relative;padding-left:24px;padding-right:24px;}
#schema-view .schemas .schema:before{content:counter(index);background:#999;color:#fff;position:absolute;top:-6px;left:-6px;width:18px;height:18px;line-height:18px;text-align:center;border-radius:4px;}
#schema-view .schema{background:#fff;margin-bottom:15px;padding:8px;border:1px solid #ddd;}
#schema-view .schema.name:after{content:'姓名';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.mobile:after{content:'手机';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.email:after{content:'邮箱';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.member:after{content:'自定义用户';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.single:after{content:'单选题';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.phase:after{content:'项目阶段';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.score:after{content:'打分题';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.multiple:after{content:'多选题';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.image:after{content:'上传图片';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema.file:after{content:'上传文件';position:absolute;top:-6px;right:-6px;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
#schema-view .schema .title{height:38px;line-height:38px;margin-bottom:5px;overflow:hidden;white-space:nowrap;cursor:move;}
#schema-view .schema .title div[editable]{display:inline-block;width:320px;}
#schema-view .schema-options .option{position:relative;cursor:move;height:38px;line-height:38px;overflow:hidden;white-space:nowrap;}
#schema-view .schema-options .option input[type=radio],#schema-view .schema-options .option input[type=checkbox]{vertical-align:middle;margin-top:0;}
#schema-view .schema-options .option div[editable]{display:inline-block;vertical-align:middle;margin-left:8px;width:300px;}
#schema-view .schema-options .option.entered{background:#f8f8f8;}
#schema-view .schema-options .option button{position:absolute;top:50%;right:5px;margin-top:-10px;}
#schema-view [editable]{cursor:text;}
#schema-view .actions{margin-top:10px;padding-top:10px;border-top:1px dotted #ddd;}

/*app-view/app-setting*/
#appSetting{width:160px;font-family:Microsoft Yahei,Arial;}

/*app-view pages*/
.page-editor .mce-tinymce{margin-right:44px!important}
.page-editor .mce-tinymce.mce-container.mce-panel{border:1px solid #ccc;height:100%;box-sizing:border-box;}
.page-editor .mce-tinymce.mce-container.mce-panel .mce-container-body{height:100%;}
.page-editor .mce-tinymce .mce-edit-area{position:absolute;top:34px;left:0;right:0;bottom:0;border:0!important;border-top:1px solid #ccc!important;}
.page-editor .mce-tinymce .mce-edit-area iframe{width:100%;height:100%!important;}
.page-editor .mce-tinymce.mce-container.mce-panel.mce-fullscreen{margin-top:51px}
.page-editor .mce-tinymce .mce-menubtn.mce-fixed-width span{width:auto;}
.page-editor .sidebar{width:44px;background:transparent;position:absolute;top:0;right:0;margin-top:35px;}
.page-editor .sidebar button{height:36px;color:black;border-radius:0;margin-left:-1px;margin-bottom:-1px}
.page-editor .sidebar button:disabled{color:gray}

/*publish-view*/
#publish-view .records .summary{font-size:32px;text-align:center;}
#simulator{width:360px;height:640px;border:1px solid #efefef;}

/*publish*/
#publish-view .statistic caption{text-align:center;border:1px solid #ddd;border-bottom:0;}
#publish-view .statistic .table-bordered>thead>tr>th{border-bottom:1px;}

/*record-view*/
#record-view{position:absolute;top:71px;bottom:0;left:30px;right:30px;display:flex;flex-direction:column;}
#record-view .top{flex-shrink:0;flex-grow:0;}
#record-view .middle{flex-shrink:1;flex-grow:1;overflow:hidden;display:flex;flex-direction:column;}
#record-view .bottom{flex-shrink:0;flex-grow:0;margin-left:-30px;margin-right:-30px;margin-bottom:0;}
#record-view .middle>*{flex-shrink:0;flex-grow:0;}
#record-view #enrollRecords{flex-shrink:1;flex-grow:1;overflow:auto}
#record-view table img{max-width:96px;}
#enrollRecords th{text-align:center;}
#enrollRecords td span.signin_late{color:red;}
#record-view #enrollRecords .matched.enroll{background:yellow;}
#record-view #enrollRecords .matched.group{background:lightgreen;}