<div class="col-md-6 col-md-offset-3">
    <div class="form-group">
        <div class="form-inline">
            <button class='btn btn-default' ng-if="active=='1'" ng-click="filter('pl', plLog.criteria)"><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
            <button class='btn btn-default' ng-if="active=='2'" ng-click="filter('site', siteLog.criteria)"><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
            <button class='btn btn-default' ng-if="active=='3'" ng-click="filter('page', pageLog.criteria)"><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
            <button class='btn btn-default' ng-if="active=='4'" ng-click="filter('behavior', behaviorLog.criteria)"><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
            <button class="btn btn-default" ng-click="clean()"><i class="glyphicon glyphicon-erase"></i> <span>清除条件</span></button>
            <button class='btn btn-default pull-right' ng-if="active=='1'" ng-click="export('pl', plLog.criteria)"><i class='glyphicon glyphicon-export'></i> <span>导出记录</span></button>
            <button class='btn btn-default pull-right' ng-if="active=='2'" ng-click="export('site', siteLog.criteria)"><i class='glyphicon glyphicon-export'></i> <span>导出记录</span></button>
            <button class='btn btn-default pull-right' ng-if="active=='3'" ng-click="export('page', pageLog.criteria)"><i class='glyphicon glyphicon-export'></i> <span>导出记录</span></button>
            <button class='btn btn-default pull-right' ng-if="active=='4'" ng-click="export('behavior', behaviorLog.criteria)"><i class='glyphicon glyphicon-export'></i> <span>导出记录</span></button>
        </div>
    </div>
    <uib-tabset active="active">
        <uib-tab index="1">
            <uib-tab-heading>管理端</uib-tab-heading>
            <table class='table table-bordered table-striped pl-workspace'>
                <thead>
                    <tr>
                        <th style='width:120px;'>打开时间</th>
                        <th>用户</th>
                        <th style='width:80px;'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='log in plLog.logs'>
                        <td>{{log.operate_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>{{log.nickname||'未知'}}</td>
                        <td>{{operations[log.operation]}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group form-inline'>
                <div class='pl-pagination'>
                    <span>总数：{{plLog.page.total}}</span>
                    <div class="input-group pull-right">
                        <span class="input-group-addon">每页条数</span>
                        <input type="text" class="form-control text-center" style="width:64px;" ng-model="plLog.page.size">
                        <div class='input-group-btn'>
                            <button class='btn btn-default' ng-click='plLog.list(1)'>
                                <span class='glyphicon glyphicon-refresh'></span>
                            </button>
                        </div>
                    </div>
                    <ul uib-pagination ng-show="plLog.page.total>plLog.page.size" class="pull-right" boundary-links="true" total-items="plLog.page.total" max-size="7" items-per-page="plLog.page.size" rotate="false" ng-model="plLog.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="plLog.list()"></ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>用户端</uib-tab-heading>
            <table class='table table-bordered table-striped pl-workspace'>
                <thead>
                    <tr>
                        <th style='width:120px;'>时间</th>
                        <th style='width:150px;'>用户</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='log in siteLog.logs'>
                        <td>{{log.operate_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>{{log.nickname||'未知'}}</td>
                        <td>
                            <span>{{operations[log.operation]}}</span>
                            <span ng-if="log.event_op=='Update'&&log.operation=='site.matter.enroll.submit'">-修改</span>
                            <span ng-if="log.event_op=='Save'">保存</span>
                            <span ng-if="log.event_op=='Y'&&log.operation.indexOf('like')!==-1">-点赞</span>
                            <span ng-if="log.event_op=='N'&&log.operation.indexOf('like')!==-1">-取消点赞</span>
                            <span ng-if="log.event_op=='Y'&&log.operation.indexOf('agree')!==-1">-推荐</span>
                            <span ng-if="log.event_op=='N'&&log.operation.indexOf('agree')!==-1">-屏障</span>
                            <span ng-if="log.event_op=='A'">-接受</span>
                            <span ng-if="log.event_op=='D'">-讨论</span>
                            <span ng-if="log.event_op=='N'&&log.operation=='site.matter.enroll.schema.get.vote'">-取消</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group form-inline'>
                <div class='pl-pagination'>
                    <span>总数：{{siteLog.page.total}}</span>
                    <div class="input-group pull-right">
                        <span class="input-group-addon">每页条数</span>
                        <input type="text" class="form-control text-center" style="width:64px;" ng-model="siteLog.page.size">
                        <div class='input-group-btn'>
                            <button class='btn btn-default' ng-click='siteLog.list(1)'>
                                <span class='glyphicon glyphicon-refresh'></span>
                            </button>
                        </div>
                    </div>
                    <ul uib-pagination ng-show="siteLog.page.total>siteLog.page.size" class="pull-right" boundary-links="true" total-items="siteLog.page.total" max-size="7" items-per-page="siteLog.page.size" rotate="false" ng-model="siteLog.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="siteLog.list()"></ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading>传播页行为记录</uib-tab-heading>
            <table class='table table-bordered table-striped pl-workspace'>
                <thead>
                    <tr>
                        <th style='width:120px;'>打开时间</th>
                        <th>用户</th>
                        <th>操作</th>
                        <th>来源</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='log in pageLog.logs'>
                        <td>{{log.action_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>{{log.nickname||'未知'}}</td>
                        <td><span>{{operations[log.event]}}</span></td>
                        <td>{{log.origin_nickname}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group form-inline'>
                <div class='pl-pagination'>
                    <span>总数：{{pageLog.page.total}}</span>
                    <div class="input-group pull-right">
                        <span class="input-group-addon">每页条数</span>
                        <input type="text" class="form-control text-center" style="width:64px;" ng-model="pageLog.page.size">
                        <div class='input-group-btn'>
                            <button class='btn btn-default' ng-click='pageLog.list(1)'>
                                <span class='glyphicon glyphicon-refresh'></span>
                            </button>
                        </div>
                    </div>
                    <ul uib-pagination ng-show="pageLog.page.total>pageLog.page.size" class="pull-right" boundary-links="true" total-items="pageLog.page.total" max-size="7" items-per-page="pageLog.page.size" rotate="false" ng-model="pageLog.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageLog.list()"></ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="4">
            <uib-tab-heading>页面运行统计</uib-tab-heading>
            <table class='table table-bordered table-striped pl-workspace'>
                <thead>
                    <tr>
                        <th ng-if="behaviorLog.criteria.target_type==='topic'||behaviorLog.criteria.target_type==='cowork'">页面标识</th>
                        <th style='width:120px;'>打开时间</th>
                        <th>用户</th>
                        <th>操作</th>
                        <th>来源</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='log in behaviorLog.logs'>
                        <td ng-if="behaviorLog.criteria.target_type==='topic'||behaviorLog.criteria.target_type==='cowork'">{{log.matter_id}}</td>
                        <td>{{log.action_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>{{log.nickname||'未知'}}</td>
                        <td><span>{{operations[log.event]}}</span></td>
                        <td>{{log.origin_nickname}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group form-inline'>
                <div class='pl-pagination'>
                    <span>总数：{{behaviorLog.page.total}}</span>
                    <div class="input-group pull-right">
                        <span class="input-group-addon">每页条数</span>
                        <input type="text" class="form-control text-center" style="width:64px;" ng-model="behaviorLog.page.size">
                        <div class='input-group-btn'>
                            <button class='btn btn-default' ng-click='behaviorLog.list(1)'>
                                <span class='glyphicon glyphicon-refresh'></span>
                            </button>
                        </div>
                    </div>
                    <ul uib-pagination ng-show="behaviorLog.page.total>behaviorLog.page.size" class="pull-right" boundary-links="true" total-items="behaviorLog.page.total" max-size="7" items-per-page="behaviorLog.page.size" rotate="false" ng-model="behaviorLog.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="behaviorLog.list()"></ul>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>