<div class="col-md-6 col-md-offset-3">
    <table class='table table-bordered table-striped pl-workspace'>
        <thead>
            <tr>
                <th style='width:120px;'>打开时间</th>
                <th>用户</th>
                <th style='width:80px;'>操作</th>
                <th style='width:120px;'>累计操作次数</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='log in read.logs'>
                <td>{{log.operate_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                <td>{{log.nickname||'未知'}}</td>
                <td>{{log.operation}}</td>
                <td>{{log.user_op_num}}</td>
            </tr>
        </tbody>
    </table>
    <div class='form-group form-inline'>
        <div class='pl-pagination'>
            <span>总数：{{read.page.total}}</span>
            <ul uib-pagination ng-show="read.page.total>read.page.size" boundary-links="true" total-items="read.page.total" max-size="7" items-per-page="read.page.size" rotate="false" ng-model="read.page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="read.list()"></ul>
        </div>
    </div>
</div>