<div class='col-md-4'>
    <div class='form-group'>
        <label>活动名称</label>
        <input type='text' class='form-control' size='40' title='{{app.title}}' ng-model='app.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
    </div>
    <div class='form-group'>
        <label>活动类型</label>
        <select class='form-control' ng-model="app.scenario" ng-change="update('scenario');">
            <option value='common'>通用登记</option>
            <option value='registration'>报名</option>
            <option value='voting'>投票</option>
            <option value='group_week_report'>周报</option>
            <option value='quiz'>测验</option>
        </select>
    </div>
    <div class='form-group'>
        <label>活动说明</label>
        <textarea type='text' class='form-control' ng-model="app.summary" tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
    </div>
    <div class='form-group'>
        <label class='help-block'>管理标签（可选）</label>
        <p class="form-control" ng-click="tagMatter('M')">
            <span class="tag" ng-repeat="t in app.matter_mg_tag" ng-bind="t.title"></span>
        </p>
    </div>
    <div class='form-group' ng-if="!app.mission">
        <button class='btn btn-success' ng-click="assignMission()">指定项目</button>
    </div>
    <div class='form-group' ng-if="app.mission">
        <label>所属项目</label>
        <div class="input-group">
            <input class='form-control' title="{{app.mission.title}}" value="{{app.mission.title}}" readonly>
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="quitMission()" title='删除项目'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
                <a class="btn btn-default" href='/rest/pl/fe/matter/mission?site={{app.siteid}}&id={{app.mission.id}}' target='_self' title='查看项目'>
                    <span class='glyphicon glyphicon-new-window'></span>
                </a>
            </div>
        </div>
    </div>
    <div class='form-group' ng-if="app.mission.multi_phase==='Y'">
        <label>{{cstApp.naming.mission_phase}}</label>
        <select class='form-control' ng-model="app.mission_phase_id" ng-change="choosePhase()" ng-options="phase.phase_id as phase.title for phase in app.mission.phases">
            <option value=''>全部</option>
        </select>
    </div>
    <hr>
    <div class='form-group hide'>
        <label>允许每用户填写条数（0不限制）</label>
        <input type='text' class='form-control' ng-model="app.count_limit" tms-auto-update tms-wait=1000 tms-update="update('count_limit')">
    </div>
    <div class='checkbox'>
        <label>
            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'D'" ng-model="app.scenarioConfig.can_rounds" ng-change="update('scenarioConfig')">支持按轮次登记</label>
    </div>
    <div class='checkbox hide'>
        <label>
            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="app.can_siteuser" ng-change="update('can_siteuser')">开放用户主页</label>
    </div>
    <div class='checkbox'>
        <label>
            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="app.can_repos" ng-change="update('can_repos')">开放共享页</label>
    </div>
    <div class='checkbox'>
        <label>
            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="app.can_rank" ng-change="update('can_rank')">开放排行页</label>
    </div>
    <hr>
    <button class='btn btn-default btn-block' ng-click="shareAsTemplate()">生成模版</button>
    <button class='btn btn-default btn-block' ng-click="exportAsTemplate()">导出模版</button>
    <button class='btn btn-default btn-block hide' ng-click="applyToHome()">申请发布到平台主页</button>
    <hr>
    <button class='btn btn-default btn-block' ng-click="remove()">删除活动</button>
    <hr>
    <div class='form-group'>
        <label>要求每用户至少填写记录条数（0或空代表无限制）</label>
        <input type='text' class='form-control' ng-model='app.userTask.minEnrollNum' tms-auto-update tms-wait=1000 tms-update="update('userTask')">
    </div>
    <div class='form-group'>
        <label>要求每用户至少发表评论条数（0或空代表无限制）</label>
        <input type='text' class='form-control' ng-model='app.userTask.minRemarkNum' tms-auto-update tms-wait=1000 tms-update="update('userTask')">
    </div>
    <div class='form-group'>
        <label>要求每用户至少赞同的条数（0或空代表无限制）</label>
        <input type='text' class='form-control' ng-model='app.userTask.minLikeNum' tms-auto-update tms-wait=1000 tms-update="update('userTask')">
    </div>
    <div class='form-group'>
        <label>要求每用户最多赞同的条数（0或空代表无限制）</label>
        <input type='text' class='form-control' ng-model='app.userTask.maxLikeNum' tms-auto-update tms-wait=1000 tms-update="update('userTask')">
    </div>
</div>
<div class="col-md-4 overview">
    <div class='aspect'>
        <div class='alert alert-info'>1、填写题目</div>
        <ul class='status-group'>
            <li class='status'>共有<span ng-bind="app.dataSchemas.length"></span>道题目，必填题<span ng-bind="status.schema.required"></span>道</li>
            <li class='status' ng-if="!app.enroll_app_id">未指定关联的登记数据 <span class='glyphicon glyphicon-question-sign' uib-tooltip='指定关联登记活动和关联题目后，关联题目填写的内容必须在关联的登记活动中有对应记录'></span></li>
            <li class='status' ng-if="app.enroll_app_id">已经和登记活动【<span ng-bind="app.enrollApp.title"></span>】关联</li>
            <li class='status' ng-if="!app.group_app_id">未指定关联的分组数据 <span class='glyphicon glyphicon-question-sign' uib-tooltip='指定关联分组活动和关联题目后，关联题目填写的内容必须在关联的分组活动中有对应记录'></span></li>
            <li class='status' ng-if="app.group_app_id">已经和分组活动【<span ng-bind="app.groupApp.title"></span>】关联</li>
            <li class='status'>填写完成后进入【<span ng-bind="status.page.submitAfter.title"></span>】</li>
            <li class='status'>填写过再次进入活动，打开【<span ng-bind='status.page.whenEnrolled.title'></span>】</li>
            <li class='status'>填写人可填写多条记录 <span class='glyphicon' ng-class="status.page.addRecord==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span></li>
            <li class='status'>允许填写人删除提交后的数据 <span class='glyphicon' ng-class="status.page.removeRecord==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span></li>
            <li class='status'>填写人可以查看填写的历史记录 <span class='glyphicon' ng-class="status.page.browseHistory==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span></li>
            <li class='status'>填写人可以评论其他人填写的数据 <span class='glyphicon glyphicon-ok'></span>，可以评论的题目有<span ng-bind="status.schema.remarkable"></span>道</li>
            <li class='status'>填写人可以查看其他人填写的数据 <span class='glyphicon' ng-class="status.page.repos==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span>，可以查看的题目有<span ng-bind="status.schema.shareable"></span>道</li>
            <li class='status'>查看填写数据排行榜 <span class='glyphicon' ng-class="status.page.rank==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span> <span class='glyphicon glyphicon-question-sign' uib-tooltip='排行页面可以对填写人、填写内容、评论内容按照获得的评论数、赞同数等排序显示'></span></li>
        </ul>
    </div>
    <div class='aspect'>
        <div class='alert alert-info'>2、填写人</div>
        <ul class='status-group'>
            <li class='status'>不限制填写的人和填写的终端 <span class='glyphicon' ng-class="app.entry_rule.scope==='none'?'glyphicon-ok':'glyphicon-ban-circle'"></span>，<span>每个终端作为1个填写人，系统自动给填写人生成昵称</span></li>
            <li class='status' ng-if="status.user.member.length===0">指定通信录中的联系人可以填写 <span class="glyphicon glyphicon-ban-circle"></span></li>
            <li class='status' ng-repeat="mschema in status.user.member">通信录【<span ng-bind="mschema.title"></span>】中通过审核的联系人可以填写，已通过审核有<span ng-bind="mschema.count.verified"></span>人，未通过审核有<span ng-bind="mschema.count.unverified"></span>人，<span ng-if="mschema.is_wx_fan==='Y'">填写人可以通过公众号接收通知</span><span ng-if="mschema.is_wx_fan==='N'">填写人不可以通过公众号接收通知</span>，<span>用联系人的姓名或手机号或邮箱作为填写人昵称</span></li>
            <li class='status' ng-if="status.user.sns.length===0">关注指定公众号的用户可以填写 <span class="glyphicon glyphicon-ban-circle"></span></li>
            <li class='status' ng-repeat="sns in status.user.sns">用户需关注【<span ng-bind="sns.title"></span>】后填写<span>，填写人可以通过公众号接收通知</span>，<span>用公众号中的昵称作为填写人的昵称？</span>，填写人可以通过公众号接收通知</li>
        </ul>
    </div>
    <div class='aspect'>
        <div class='alert alert-info'>3、填写时间</div>
        <ul class='status-group'>
            <li class='status'><span ng-if="app.start_at>0">活动开始时间：<span ng-bind="app.start_at*1000|date:'MM-dd HH:mm'"></span></span><span ng-if="app.start_at==0">未指定活动开始时间</span>，<span ng-if="app.end_at>0">活动结束时间：<span ng-bind="app.end_at*1000|date:'MM-dd HH:mm'"></span></span><span ng-if="app.end_at==0">未指定活动结束时间</span></li>
            <li class='status' ng-repeat="rule in app.roundCron" ng-switch on="rule.period">
                <div ng-switch-when="D">每日{{rule.hour}}点生成填写轮次 <span class='glyphicon' ng-class="rule.enabled==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span>
                </div>
                <div ng-switch-when="W">每周{{rule.wday}}，{{rule.hour}}点生成填写轮次 <span class='glyphicon' ng-class="rule.enabled==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span>
                </div>
                <div ng-switch-when="M">每月{{rule.mday}}日{{rule.hour}}点生成填写轮次 <span class='glyphicon' ng-class="rule.enabled==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span>
                </div>
            </li>
            <li class='status' ng-if="app.multi_rounds==='Y'"><span>当前轮次：{{summary.title}}</span></li>
        </ul>
    </div>
</div>
<div class="col-md-4 overview">
    <div class='aspect'>
        <div class='alert alert-info'>4、填写记录</div>
        <ul class='status-group'>
            <li class='status' ng-if="app.multi_rounds==='Y'">轮次：{{summary.title}}</li>
            <li class='status'>已有<span ng-bind="summary.enrollee_num"></span>人，提交<span ng-bind="summary.total"></span>条记录</li>
            <li class='status' ng-repeat="mschema in status.user.member">通信录【<span ng-bind="mschema.title"></span>】中已有<span ng-bind="summary.mschema[mschema.id].enrolled"></span>人提交记录，<span>{{mschema.count.verified-summary.mschema[mschema.id].enrolled}}</span>人未提交记录</li>
            <li class='status'>已有<span ng-bind="summary.remark_total"></span>条评论</li>
        </ul>
    </div>
    <div class='aspect'>
        <div class='alert alert-info'>5、管理员</div>
        <ul class='status-group'>
            <li class='status'>记录提交时通知管理员<span class='glyphicon' ng-class="app.notify_submit==='Y'?'glyphicon-ok':'glyphicon-ban-circle'"></span></li>
        </ul>
        <div class='list-group'>
            <div class='list-group-item' ng-repeat="admin in admins">
                <span>{{admin.nickname}}</span>&nbsp;<span ng-if="admin.snsUser.snsName">{{admin.snsUser.snsName}}</span>
            </div>
        </div>
    </div>
</div>