<div class='col-md-6'>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='form-group form-inline'>
                <label>ID:&nbsp;<span style='font-weight:normal' ng-bind="ep.name"></span></label>
            </div>
            <div class='form-group'>
                <input type='text' class='form-control' ng-model='ep.title' tms-auto-update tms-wait=1000 tms-update="updPage(ep,'title')">
                <div class='help-block'>页面名称</div>
            </div>
            <div class='form-group'>
                <label class='radio-inline'><input type='radio' value="I" ng-model='ep.type' ng-change="updPage(ep,'type')">填写页</label>
                <label class='radio-inline'><input type='radio' value="V" ng-model='ep.type' ng-change="updPage(ep,'type')">查看页</label>
                <label class='radio-inline'><input type='radio' value="L" ng-model='ep.type' ng-change="updPage(ep,'type')">列表页</label>
                <div class='help-block'>页面类型</div>
            </div>
            <div class='form-group' style='display:none'>
                <label class="checkbox-inline"><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='ep.check_entry_rule' ng-change="updPage(ep,'check_entry_rule')">检查进入规则</label>
            </div>
            <div class='form-group' style='display:none' ng-show="app.can_autoenroll==='Y'">
                <label class="checkbox-inline"><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='ep.autoenroll_onenter' ng-change="updPage(ep,'autoenroll_onenter')">进入时自动登记</label>
                <label class="checkbox-inline"><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='ep.autoenroll_onshare' ng-change="updPage(ep,'autoenroll_onshare')">分享时自动登记</label>
            </div>
            <div class='form-group' style='display:none'>
                <label class='checkbox-inline'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='ep.share_page' ng-change="updPage(ep,'share_page')">分享时分享当前页</label>
            </div>
            <div class='form-group' style='display:none'>
                <label>分享卡片中摘要信息</label>
                <select class='form-control' ng-model='ep.share_summary' ng-options='v.id as v.title for (k,v) in schema' ng-change="updPage(ep,'share_summary')">
                    <option value=''>活动摘要</option>
                </select>
            </div>
            <button class='btn btn-default' ng-click='delPage()'>删除页面</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-include="'/views/default/pl/fe/matter/enroll/comp-'+(ep.type==='I'?'input':'view')+'.html?_=11'" ng-controller='ctrlPageSchema'></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class='list-group form-group'>
            <div class='list-group-item' ng-repeat="p in others">
                <a href='/rest/pl/fe/matter/enroll/page?site={{siteId}}&id={{id}}&page={{p.name}}'>{{p.title}}（{{p.name}}）</a>
            </div>
        </div>
    </div>
</div>
<div class='col-md-6' ng-if="ep" ng-controller="ctrlPageEditor">
    <div class='page-editor'>
        <tinymce content='ep.html' id='{{ep.name}}' height='669' change="onPageChange(ep)"></tinymce>
        <div class='sidebar'>
            <button class='btn btn-default' ng-click="updPage(ep,['data_schemas','html'])" title='保存修改' ng-disabled='!ep.$$modified'>
            <i class='fa fa-save fa-fw'></i>
            </button>
            <button class='btn btn-default' title='编辑代码' ng-click="gotoCode(ep.code_id)">
            <i class='fa fa-code fa-fw'></i>
            </button>
        </div>
    </div>
</div>