<div id='page-view'>
    <!--pages-->
    <div class='col-md-12 pages'>
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{'active':p===ep}" ng-repeat="p in app.pages">
                    <a ng-click="choosePage(p)"><span><i class='fa fa-file-o'></i> {{p.title}}</span></a>
                </li>
                <li class="pull-right">
                    <button uib-popover-template="'pageSetting.html'" popover-append-to-body='true' popover-placement="bottom" popover-title="高级设置" popover-trigger="outsideClick" class="btn btn-default">高级设置 <span class="caret"></span></button>
                </li>
            </ul>
        </div>
    </div>
    <!-- end pages -->
    <!-- one page-->
    <div class='col-md-12 page' ng-controller="ctrlEditor">
        <!--page schemas-->
        <div class='page-schemas'>
            <!--create input wrap-->
            <div class='form-group tile' ng-if="ep.type==='I'">
                <div class='help-block'>在页面中添加登记项</div>
                <button class='btn btn-default' ng-click="newSchema('name')">姓名</button>
                <button class='btn btn-default' ng-click="newSchema('mobile')">手机</button>
                <button class='btn btn-default' ng-click="newSchema('email')">邮箱</button>
                <button class='btn btn-default' ng-click="newSchema('date')">日期</button>
                <button class='btn btn-default' ng-click="newSchema('shorttext')">单行文本</button>
                <button class='btn btn-default' ng-click="newSchema('longtext')">多行文本</button>
                <button class='btn btn-default' ng-click="newSchema('single')">单选题</button>
                <button class='btn btn-default' ng-click="newSchema('multiple')">多选题</button>
                <button class='btn btn-default' ng-click="newSchema('image')">上传图片</button>
                <button class='btn btn-default' ng-click="newSchema('file')">上传文件</button>
                <button class='btn btn-default' ng-click="newSchema('location')">上传位置</button>
                <button class='btn btn-default' ng-click="newSchema('phase')">项目阶段</button>
            </div>
            <div class='form-group tile' ng-if="app.scenario==='voting'">
                <button class='btn btn-default' ng-click="batchSingleScore()">批量设置单选题分值</button>
            </div>
            <div class='form-group tile' ng-repeat="ms in memberSchemas" ng-if="ep.type==='I'">
                <div class='help-block'>{{ms.title}}</div>
                <button class='btn btn-default' ng-click="newMember(ms,s)" ng-repeat="s in ms._schemas">{{s.title}}</button>
            </div>
            <!-- end create input wrap -->
            <!-- create button wrap -->
            <div class='tile'>
                <div class='help-block'>在页面中添加操作</div>
                <button class='btn btn-default' ng-click="newButton(btn)" ng-repeat="btn in buttons">{{btn.l}}</button>
            </div>
            <!-- end create button wrap-->
            <!-- embed inner matter -->
            <div class='tile'>
                <div class='help-block'>在页面中添加素材</div>
                <button class='btn btn-default' ng-click="embedMatter()">添加素材</button>
            </div>
            <!-- end embed inner matter-->
            <!-- toggle schema in pages -->
            <div class='tile' ng-if="ep.type==='I'" ng-controller="ctrlAppSchemas4Input">
                <div class='help-block'>活动中所有登记项</div>
                <div dnd-list dataset='appSchemas' class='list-group'>
                    <div class='list-group-item dndable schema' ng-repeat="s in appSchemas">
                        <div class='checkbox'>
                            <label><input type='checkbox' ng-model="chooseState[s.id]" ng-change="choose(s)"><span ng-bind="s.title"></span></label>
                            <button data-schema-index="{{$index}}" uib-popover-template="'schemaAction.html'" popover-append-to-body='true' popover-placement="right-bottom" popover-trigger="show" class='btn btn-default btn-xs popover-schema'><span class='glyphicon glyphicon-cog'></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="ep.type==='V'" ng-controller="ctrlAppSchemas4View">
                <div class='list-group-item' ng-repeat="s in appSchemas">
                    <div class='checkbox' style='margin:0'>
                        <label><input type='checkbox' ng-model="chooseState[s.id]" ng-change="choose(s)"><span ng-bind="s.title"></span></label>
                    </div>
                </div>
                <div class='list-group-item' ng-repeat="s in otherSchemas">
                    <div class='checkbox' style='margin:0'>
                        <label><input type='checkbox' ng-model="chooseState[s.id]" ng-change="choose(s)"><span ng-bind="s.title"></span></label>
                    </div>
                </div>
            </div>
            <div class='tile' ng-if="ep.type==='L'">
                <button class='btn btn-default' ng-click="newList('records')">登记项列表</button>
                <button class='btn btn-default' ng-click="newList('rounds')" ng-if="app.scenarioConfig.can_rounds==='Y'">添加轮次列表</button>
            </div>
            <!-- end toggle schema in pages -->
        </div>
        <!--page schemas-->
        <!--tinymce editor-->
        <div class='page-editor'>
            <tinymce id='tinymce-page' toolbar="code"></tinymce>
            <div class='sidebar'>
                <button class='btn btn-default' ng-click="removeWrap()" title='删除' ng-disabled='!activeWrap'>
                <i class='fa fa-remove fa-fw'></i>
                </button>
                <button class='btn btn-default' ng-click="moveWrap('up')" ng-disabled='!activeWrap'>
                <span class='fa fa-arrow-up fa-fw'></span>
                </button>
                <button class='btn btn-default' ng-click="moveWrap('down')" ng-disabled='!activeWrap'>
                <span class='fa fa-arrow-down fa-fw'></span>
                </button>
                <button class='btn btn-default' title='上一级' ng-click="moveWrap('upLevel')" ng-disabled='!activeWrap'>
                <span class='fa fa-level-up fa-fw'></span>
                </button>
                <button class='btn btn-default' title='下一级' ng-click="moveWrap('downLevel')" ng-disabled='!activeWrap'>
                <span class='fa fa-level-down fa-fw'></span>
                </button>
                <button ng-if="ep.type==='I'" class='btn btn-default' title='复制' ng-click="copySchema(activeWrap.schema)" ng-disabled='!activeWrap'>
                <span class='fa fa-copy fa-fw'></span>
                </button>
                <button class='btn btn-default' title='编辑代码' ng-click="gotoCode()">
                <i class='fa fa-code fa-fw'></i>
                </button>
            </div>
        </div>
        <!-- end tinymce editor -->
        <!-- wrap schema editor -->
        <div class='wrap-editor tile' ng-if="activeWrap.schema||activeWrap.schemas">
            <div class='form-group' ng-include="wrapEditorHtml()"></div>
            <button class='btn btn-default btn-block' ng-click="refreshWrap(activeWrap)">刷新页面元素</button>
        </div>
        <!-- end wrap schema editor-->
    </div>
    <!-- end one page -->
    <!-- bottom navbar-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid" style='text-align:center'>
            <form class="navbar-form" style='display:inline-block'>
                <button class='btn btn-lg btn-success' ng-click="updPage(ep,['data_schemas','act_schemas','html'])">保存修改</button>
                <a class='btn btn-lg btn-success' href="/rest/pl/fe/matter/enroll/publish?site={{siteId}}&id={{id}}">发布设置</a>
            </form>
            <form class="navbar-form navbar-right" style='display:inline-block'>
                <button class='btn btn-lg btn-default' ng-click="remove()">删除活动</button>
            </form>
        </div>
    </nav>
    <!-- end bottom navbar-->
</div>
<script type="text/ng-template" id="pageSetting.html">
    <div id="pageSetting">
        <div class='form-group'>
            <p>ID: <span ng-bind="ep.name"></span></p>
        </div>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model="ep.title" tms-auto-update tms-wait=1000 tms-update="updPage(ep,'title')">
        </div>
        <hr>
        <button class='btn btn-block btn-default' ng-click="cleanPage()">清空页面</button>
        <button class='btn btn-block btn-default' ng-click="delPage()">删除页面</button>
        <hr>
        <button class='btn btn-block btn-default' ng-click="addPage()">添加页面</button>
    <div>
</script>
<script type="text/ng-template" id="schemaAction.html">
    <div id="schemaAction">
        <button class='btn btn-sm btn-default' ng-click="removePopover()"><span class='glyphicon glyphicon-trash'></span></button>
        <button class='btn btn-sm btn-default' ng-click="upPopover()"><span class='glyphicon glyphicon-arrow-up'></span></button>
        <button class='btn btn-sm btn-default' ng-click="downPopover()"><span class='glyphicon glyphicon-arrow-down'></span></button>
        <button class="btn btn-sm btn-default" style='border:0;color:#ccc' title='关闭' ng-click="closePopover()"><span class='glyphicon glyphicon-remove'></span></button>
    <div>
</script>