<div class="col-md-12">
    <uib-tabset active="tabActive" classes="ng-cloak">
        <uib-tab index="0">
            <uib-tab-heading>行动规则</uib-tab-heading>
            <div class='panel panel-default' ng-controller="ctrlActionRule">
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-md-4'>
                            <div class='form-group'>
                                <label>每轮次至少提交的记录数量</label>
                                <input type='text' class='form-control' ng-model="rule.record.submit.end.min" placeholder="输入需要的数量">
                            </div>
                            <div class='form-group'>
                                <label>每轮提交记录的截止时间</label>
                                <input type='text' class='form-control' ng-model="rule.record.submit.end.offset" placeholder="输入需要的时间">
                            </div>
                            <div class='form-group'>
                                <label>每轮提交填写记录的要求说明</label>
                                <input type='text' class='form-control' ng-model="rule.record.submit.end.desc">
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label>每轮次至少提交多少条记录后开启填写记录投票（点赞）</label>
                                <input type='text' class='form-control' ng-model="rule.record.like.pre.record.num" placeholder="输入需要的数量">
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label>每轮次每人对填写记录至少点赞数</label>
                                <input type='text' class='form-control' ng-model="rule.record.like.end.min" placeholder="输入需要的数量">
                            </div>
                            <div class='form-group'>
                                <label>每轮次每人对填写记录最多点赞数</label>
                                <input type='text' class='form-control' ng-model="rule.record.like.end.max" placeholder="输入需要的数量">
                            </div>
                            <div class='form-group'>
                                <label>每轮记录点赞的截止时间</label>
                                <input type='text' class='form-control' ng-model="rule.record.like.end.offset" placeholder="输入需要的时间">
                            </div>
                            <div class='form-group'>
                                <label>每轮对填写记录投票（点赞）的要求说明</label>
                                <input type='text' class='form-control' ng-model="rule.record.like.end.desc">
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label>获得多少个投票（点赞）的填写记录才能开启协作填写</label>
                                <input type='text' class='form-control' ng-model="rule.record.cowork.pre.record.likeNum" placeholder="输入需要的数量">
                            </div>
                            <div class='form-group'>
                                <label>开启协作填写要求说明</label>
                                <input type='text' class='form-control' ng-model="rule.record.cowork.pre.desc">
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label>每轮次至少提交的协作填写数据或留言的数量</label>
                                <input type='text' class='form-control' ng-model="rule.cowork.submit.end.coworkOrRemark.num" placeholder="输入需要的数量">
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label>每轮次每个填写记录至少获得多少个协作填写数据项后开始投票</label>
                                <input type='text' class='form-control' ng-model="rule.cowork.like.pre.record.coworkNum" placeholder="输入需要的数量">
                            </div>
                            <div class='form-group'>
                                <label>每轮次每人对协作填写数据至少点赞数</label>
                                <input type='text' class='form-control' ng-model="rule.cowork.like.end.min" placeholder="输入需要的数量">
                            </div>
                            <div class='form-group'>
                                <label>每轮次每人对协作填写数据最多点赞数</label>
                                <input type='text' class='form-control' ng-model="rule.cowork.like.end.max" placeholder="输入需要的数量">
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label>获得多少赞同的协同填写数据显示在共享页</label>
                                <input type='text' class='form-control' ng-model="rule.cowork.repos.pre.likeNum" placeholder="输入需要的数量">
                            </div>
                            <button class='btn' ng-class="{'btn-success':rulesModified,'btn-default':!rulesModified}" ng-click="save()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>积分规则</uib-tab-heading>
            <div ng-controller="ctrlCoinRule">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>说明</th>
                            <th>活动积分</th>
                            <th ng-if="app.mission">项目积分</th>
                            <th>计算方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in rules">
                            <td ng-bind="r.data.act"></td>
                            <td ng-bind="r.desc"></td>
                            <td>
                                <input type='text' ng-model="r.data.actor_delta" ng-change="changeRules()">
                            </td>
                            <td ng-if="app.mission">
                                <span>{{r.mission.actor_delta||0}}</span>
                            </td>
                            <td>
                                <label class='radio-inline'>
                                    <input type='radio' name='{{r.data.act}}' value='A' ng-model="r.data.actor_overlap" ng-change="changeRules()">累加
                                </label>
                                <label class='radio-inline'>
                                    <input type='radio' name='{{r.data.act}}' value='R' ng-model="r.data.actor_overlap" ng-change="changeRules()">替代
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class='btn' ng-class="{'btn-success':rulesModified,'btn-default':!rulesModified}" ng-disabled="!rulesModified" ng-click="save()">保存</button>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>积分日志</uib-tab-heading>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th style='width:120px'>时间</th>
                        <th>用户</th>
                        <th>获得积分原因</th>
                        <th>获得积分</th>
                        <th>获得总积分</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in logs">
                        <td>{{$index+1}}</td>
                        <td>{{log.occur_at*1000|date:'yy-MM-dd hh:mm'}}</td>
                        <td>{{log.nickname}}</td>
                        <td>{{log.act}}</td>
                        <td>{{log.delta}}</td>
                        <td>{{log.user_total_coin}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="fetchLogs()"></ul>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>