<div id='schema-view' ng-controller="ctrlSchemaList">
    <div class='schema-proto col-md-3 hidden-xs' tms-flex-height top='72' bottom='0'>
        <!--create schema-->
        <div class='form-group list-group-item'>
            <div class='help-block'>添加题目</div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('shorttext')">填写题</button>
                <button class='btn btn-default' ng-click="newSchema('multitext')">多项填写题</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('single')">单选题</button>
                <button class='btn btn-default' ng-click="newSchema('multiple')">多选题</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('image')">上传图片</button>
                <button class='btn btn-default' ng-click="newSchema('file')">上传文件</button>
                <button class='btn btn-default hide' ng-click="newSchema('location')">上传位置</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('html')" style="padding:6px 0">描述说明</button>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style='width:100%;'>
                        更多 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href ng-click="newSchema('score')">打分题</a></li>
                        <li><a href ng-click="newSchema('date')">日期题</a></li>
                        <li><a href ng-click="newSchema('url')">上传链接</a></li>
                        <li><a href ng-click="newSchema('voice')">微信录音</a></li>
                        <li class="divider"></li>
                        <li><a href ng-click="newMedia('audio')">音频文件</a></li>
                        <li><a href ng-click="newMedia('vedio')">视频文件</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='form-group list-group-item'>
            <button class='btn btn-default btn-block' ng-click="importByOther()">由其他活动中的题目生成题目</button>
            <div class="btn-group btn-block">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" style='width:100%'>
                    由其他活动的填写结果生成题目 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href ng-click="createInputByOption()">【选项】生成【填写题】</a></li>
                    <li><a href ng-click="createInputByScore()">【打分题】生成【填写题】</a></li>
                    <li><a href ng-click="createScoreByInput()">【填写内容】生成【打分题】</a></li>
                </ul>
            </div>
        </div>
        <div class='form-group list-group-item'>
            <div class='form-group' ng-if="!app.enroll_app_id">
                <button class='btn btn-success btn-block' ng-click="assignEnrollApp()">指定登记匹配名单</button>
            </div>
            <div ng-if="app.enroll_app_id" class='help-block'>需要与【<a href='/rest/pl/fe/matter/enroll?site={{app.siteid}}&id={{app.enrollApp.id}}' target='_self'>{{app.enrollApp.title}}</a>】中的填写记录匹配的题目
                <button class='btn btn-default btn-xs' ng-click="cancelEnrollApp()"><span class='glyphicon glyphicon-remove'></span></button>
            </div>
            <ul class='list-group' ng-if="app.enroll_app_id">
                <li class='list-group-item' ng-repeat="s in app.enrollApp.dataSchemas" ng-switch on="s.assocState">
                    <span>{{s.title}}</span>
                    <span ng-switch-when="yes" class='pull-right'>已关联</span>
                    <button ng-switch-when="no" class='btn btn-default btn-xs pull-right' ng-click="assocWithOtherApp(s,app.enrollApp)">关联</button>
                    <button ng-switch-default class='btn btn-default btn-xs pull-right' ng-click="newByOtherApp(s,app.enrollApp)">添加</button>
                </li>
            </ul>
        </div>
        <div class='form-group list-group-item'>
            <div class='form-group' ng-if="!app.group_app_id">
                <button class='btn btn-success btn-block' ng-click="assignGroupApp()">指定分组匹配名单</button>
            </div>
            <div ng-if="app.group_app_id" class='help-block'>需要与【<a href='/rest/pl/fe/matter/group?site={{app.siteid}}&id={{app.groupApp.id}}' target='_self'>{{app.groupApp.title}}</a>】中的分组记录匹配的题目
                <button class='btn btn-default btn-xs' ng-click="cancelGroupApp()"><span class='glyphicon glyphicon-remove'></span></button>
            </div>
            <ul class='list-group' ng-if="app.group_app_id">
                <li class='list-group-item' ng-repeat="s in app.groupApp.dataSchemas" ng-switch on="s.assocState">
                    <span>{{s.title}}</span>
                    <span ng-switch-when="yes" class='pull-right'>已关联</span>
                    <button ng-switch-when="no" class='btn btn-default btn-xs pull-right' ng-click="assocWithOtherApp(s,app.groupApp)">关联</button>
                    <button ng-switch-default class='btn btn-default btn-xs pull-right' ng-click="newByOtherApp(s,app.groupApp)">添加</button>
                </li>
            </ul>
        </div>
        <div class='form-group' ng-if="app.entryRule.scope.member==='Y'">
            <div class='list-group-item' ng-repeat="(msid,erm) in app.entryRule.member">
                <div class='help-block'>通讯录【<a href ng-click='editMschema(mschemasById[msid])'>{{mschemasById[msid].title}}</a>】用户信息</div>
                <ul class='list-group'>
                    <li class='list-group-item' ng-repeat="s in mschemasById[msid]._schemas" ng-switch on="s.assocState">
                        <span>{{s.title}}</span>
                        <span ng-switch-when="yes" class='pull-right'>已关联</span>
                        <button ng-switch-when="no" class='btn btn-default btn-xs pull-right' ng-click="assocWithMschema(s,mschemasById[msid])">关联</button>
                        <button ng-switch-default class='btn btn-default btn-xs pull-right' ng-click="newMember(mschemasById[msid],s)">添加</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end create schema -->
        <!-- actions -->
        <div class='list-group-item' ng-controller="ctrlImport">
            <div class='form-group compact'>
                <button class='btn btn-default btn-block' ng-click="downloadTemplate()">下载导入模板</button>
            </div>
            <div class='form-group'>
                <button class='btn btn-default btn-block' ng-click="importByExcel()">导入记录【.xlsx】</button>
            </div>
            <div>
                <button id='btnImportImg' class='btn btn-default btn-block'>导入图片【.zip】</button>
                <div class="text-muted" style="font-size:12px;margin-top:5px">
                    <p>* 如需在指定题目(支持多题目)中导入图片,需将图片放入与对应题目同名的文件夹中,并打包成zip格式的文件上传</p>
                    * 如需同时导入图片和记录,需先下载导入模板(xlsx格式),而后与图片文件夹并列打包成zip格式的文件上传
                </div>
            </div>
        </div>
        <!-- end actions -->
    </div>
    <!-- schema list -->
    <div class='col-md-6' tms-flex-height top='72' bottom='0'>
        <div dnd-list dataset='app.dataSchemas' evt-prefix="schemas" class='schemas'>
            <div data-schema-index="{{$index}}" class='dndable schema {{schema.type}}' ng-class="{'active':schema===activeSchema}" ng-repeat="schema in app.dataSchemas">
                <div class='title' ng-if="schema.type!=='html'||schema.mediaType" ng-click="chooseSchema($event,schema)">
                    <div editable prop='title' obj='schema' evt-prefix='title' no-remove="Y" style="min-height:34px;"></div>
                </div>
                <div class="description" ng-if="'html'!==schema.type&&schema.description">
                    <span ng-bind-html="trustAsHtml(schema,'description')"></span>
                </div>
                <div ng-include="schemaHtml(schema)"></div>
                <div class='actions hidden-xs'>
                    <button class='btn btn-sm btn-default' ng-if="'html'===schema.type" ng-click="makePagelet(schema)"><span class='glyphicon glyphicon-pencil'> 编辑</span></button>
                    <button class="btn btn-default btn-sm" ng-if="['single','multiple','score'].indexOf(schema.type)!==-1" ng-click="addOption(schema)">添加选项</button>
                    <button class="btn btn-default btn-sm" ng-click="copySchema(schema)">复制题目</button>
                    <button class='btn btn-sm btn-default' ng-click="upSchema(schema)"><span class='glyphicon glyphicon-arrow-up'></span></button>
                    <button class='btn btn-sm btn-default' ng-click="downSchema(schema)"><span class='glyphicon glyphicon-arrow-down'></span></button>
                    <button class='btn btn-sm btn-default' ng-click="removeSchema(schema)"><span class='glyphicon glyphicon-trash'></span></button>
                    <button ng-if="schema.id==='_round_id'" class='btn btn-sm btn-default' ng-click="refreshSchema(schema)">刷新 <span class='glyphicon glyphicon-refresh'></span></button>
                </div>
                <div ng-if="'Y'===schema.requireCheck">
                    <p class='help-block'>需要【<span>{{assocApp(schema.fromApp).title}}</span>】中有题目【<span>{{assocAppSchema(schema).title}}</span>】的值与填写内容匹配的记录
                        <button class='btn btn-default btn-xs' ng-click="unassocWithOtherApp(schema) "><span class='glyphicon glyphicon-remove'></span></button>
                    </p>
                </div>
                <div ng-if="schema.schema_id">
                    <p class='help-block'>用通讯录【<span>{{mschemasById[schema.schema_id].title}}</span>】中【<span>{{mschemasById[schema.schema_id]._schemasById[schema.id].title}}</span>】自动填写
                        <button class='btn btn-default btn-xs' ng-click="unassocWithMschema(schema) "><span class='glyphicon glyphicon-remove'></span></button>
                    </p>
                </div>
            </div>
        </div>
        <div class='form-inline' ng-if="app.recycleSchemas.length">
            <div class="btn-group" uib-dropdown>
                <button class="btn btn-default" uib-dropdown-toggle>恢复删除的题目 <i class="caret"></i></button>
                <ul uib-dropdown-menu>
                    <li ng-repeat="schema in app.recycleSchemas"><a href ng-click="recycleSchema(schema)">{{schema.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='col-md-3 hidden-xs' tms-flex-height top='72' bottom='0'>
        <div class='list-group-item' ng-include="schemaEditorHtml() "></div>
    </div>
    <!-- end schema list -->
    <nav class='navbar navbar-default navbar-fixed-bottom visible-xs-block'>
        <div class='container-fluid'>
            <button class='btn navbar-btn btn-default' uib-popover-template=" 'schemaProto.html' " popover-placement="top-left " popover-trigger="show " popover-title=" " ng-click="showSchemaProto($event) ">添加</button>
            <button class="btn navbar-btn btn-default " ng-if="['single','multiple','score'].indexOf(activeSchema.type)!==-1 " ng-click="addOption(activeSchema) ">添加选项</button>
            <button class="btn navbar-btn btn-default " ng-click="copySchema(activeSchema) ">复制</button>
            <button class='btn navbar-btn btn-default' ng-click="upSchema(activeSchema) "><span class='glyphicon glyphicon-arrow-up'></span></button>
            <button class='btn navbar-btn btn-default' ng-click="downSchema(activeSchema) "><span class='glyphicon glyphicon-arrow-down'></span></button>
            <button class='btn navbar-btn btn-default' ng-click="removeSchema(activeSchema) "><span class='glyphicon glyphicon-trash'></span></button>
        </div>
    </nav>
</div>
<script type="text/ng-template " id="schemaProto.html ">
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema( 'shorttext') ">单行文本</button>
        <button class='btn btn-default' ng-click="newSchema( 'longtext') ">多行文本</button>
        <button class='btn btn-default' ng-click="newSchema( 'date') ">日期</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema( 'single') ">单选题</button>
        <button class='btn btn-default' ng-click="newSchema( 'multiple') ">多选题</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema( 'image') ">上传图片</button>
        <button class='btn btn-default' ng-click="newSchema( 'file') ">上传文件</button>
        <button class='btn btn-default' ng-click="newSchema( 'location') ">上传位置</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema( 'score') ">打分题</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema( 'html') ">描述说明</button>
    </div>
</script>
<script type="text/ng-template " id="assignEnrollApp.html ">
    <div class="modal-header ">
        <button class="close " type="button " ng-click="cancel() ">×</button>
        <h5 class="modal-title ">关联登记活动</h5>
    </div>
    <div class="modal-body ">
        <form class="form-horizontal ">
            <div class='form-group'>
                <label class="col-md-3 control-label ">目标活动</label>
                <div class="col-md-9 ">
                    <select class="form-control " ng-model="data.source " ng-options="app.id as app.title for app in apps "></select>
                    <div class='checkbox' ng-if="app.mission ">
                        <label>
                            <input disabled type='checkbox' ng-model="data.sameMission " ng-true-value=" 'Y' " ng-false-value=" 'N' ">选择同一个项目中的活动</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button class="btn btn-primary " ng-click="ok() ">确定</button>
    </div>
</script>
<script type="text/ng-template " id="assignGroupApp.html ">
    <div class="modal-header ">
        <button class="close " type="button " ng-click="cancel() ">×</button>
        <h5 class="modal-title ">关联分组活动</h5>
    </div>
    <div class="modal-body ">
        <form class="form-horizontal ">
            <div class='form-group'>
                <label class="col-md-3 control-label ">目标活动</label>
                <div class="col-md-9 ">
                    <select class="form-control " ng-model="data.source " ng-options="app.id as app.title for app in apps "></select>
                    <div class='checkbox' ng-if="app.mission ">
                        <label>
                            <input disabled type='checkbox' ng-model="data.sameMission " ng-true-value=" 'Y' " ng-false-value=" 'N' "> 选择同一个项目中的活动</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button class="btn btn-primary " ng-click="ok() ">确定</button>
    </div>
</script>
<script type="text/ng-template" id="newMedia.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">文件</h5>
    </div>
    <div class="modal-body">
        <div class='form-group'>
            <button id='addAttachment' class='btn btn-default btn-sm'>
                <span class='glyphicon glyphicon-plus'></span> 选择文件并上传
            </button>
        </div>
        <div class='input-group'>
            <div class='form-control' ng-bind="attachment.name"></div>
            <div class='input-group-btn'>
                <button class='btn btn-default' ng-click='delAttachment()'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()">确定</button>
    </div>
</script>