<div style='margin-bottom:100px'>
	<div class="panel panel-default" ng-repeat="s in schemas">
		<div class="panel-body">
			<div class='form-horizontal'>
				<div class='form-group'>
					<label class='control-label col-md-2'>ID</label>
					<div class='col-md-10'>
						<input class='form-control' ng-model="s.id">
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2'>名称</label>
					<div class='col-md-10'>
						<input class='form-control' ng-model="s.title">
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2'>说明</label>
					<div class='col-md-10'>
						<textarea class='form-control' ng-model="s.comment"></textarea>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2'>类型</label>
					<div class='col-md-10'>
						<p class='form-control' ng-model="s.type"></p>
					</div>
				</div>
				<div class='form-group'>
					<label class='control-label col-md-2'>必填</label>
					<div class='col-md-10'>
						<div class="checkbox">
							<label><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="s.required">是</label>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="s.type==='single'">
					<label class="col-md-2 control-label">形式</label>
					<div class="col-md-10">
						<label class="radio-inline"><input type='radio' name='component' value='R' ng-model='s.component'>单选钮</label>
						<label class="radio-inline"><input type='radio' name='component' value='S' ng-model='s.component'>下拉框</label>
					</div>
				</div>
				<div class="form-group" ng-if="(s.type==='single'&&s.component==='R')||s.type==='multiple'">
					<label class="col-md-2 control-label">排列方向</label>
					<div class="col-md-10">
						<label class="radio-inline"><input type='radio' name='align' value='V' ng-model='s.align'>垂直</label>
						<label class="radio-inline"><input type='radio' name='align' value='H' ng-model='s.align'>水平</label>
					</div>
				</div>
				<div class="form-group" ng-if="s.type==='single'||s.type==='multiple'">
					<label class="col-md-2 control-label">选项</label>
					<div class="col-md-10">
						<button class="btn btn-default btn-sm" ng-click='addOption(s)'>添加</button>
						<ul class='list-group' style='margin-bottom:0'>
							<li class='list-group-item' ng-repeat='op in s.ops' editable prop='l' obj='op'></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nav class='navbar navbar-default navbar-fixed-bottom'>
	<div class='container' style='text-align:center'>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('name')">姓名</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('mobile')">手机</button>
		<button class='btn btn-default navbar-btn' ng-click="addSchema('email')">邮箱</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('date')">日期</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('shorttext')">短文本</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('longtext')">长文本</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('single')">单选题</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('multiple')">多选题</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('image')">上传图片</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('file')">上传文件</button>
		<button class='btn btn-default navbar-btn'  ng-click="addSchema('location')">上传位置</button>
		<button class='btn btn-success navbar-btn' ng-click='save()'>保存</button>
	</div>
</nav>