<div class="col-md-8 col-md-offset-2">
    <uib-tabset active="tabActive">
        <uib-tab index="0">
            <uib-tab-heading><i class='glyphicon glyphicon-repeat'></i> 填写轮次</uib-tab-heading>
            <div class='pl-tab-pane-rim'>
                <div class='form-group' ng-if="app.sync_mission_round!=='Y'">
                    <button class='btn btn-default' ng-click="add()"><i class='glyphicon glyphicon-plus'></i> 增加轮次</button>
                </div>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <tr>
                            <th class='text-center'>名称</th>
                            <th class='text-center' style='width:4em'>状态</th>
                            <th class='text-center' style='width:8em'>开始时间</th>
                            <th class='text-center' style='width:8em'>结束时间</th>
                            <th style='width:4em'>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='round' ng-repeat="r in rounds" ng-class="{success:r._isActive}">
                            <td>{{r.title}}</td>
                            <td>
                                <span>{{roundState[r.state]}}</span>
                            </td>
                            <td>
                                <span ng-if="r.start_at>0">{{r.start_at*1000|date:'yy-MM-dd HH:mm'}}</span>
                            </td>
                            <td>
                                <span ng-if="r.end_at>0">{{r.end_at*1000|date:'yy-MM-dd HH:mm'}}</span>
                            </td>
                            <td>
                                <button class='btn btn-default btn-xs' ng-click='edit(r)'>
                                    <span class='glyphicon glyphicon-edit'></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='form-group' ng-show="pageOfRound.total>pageOfRound.size">
                    <div class='pl-pagination'>
                        <span>总数：{{pageOfRound.total}}</span>
                        <ul uib-pagination boundary-links="true" total-items="pageOfRound.total" max-size="7" items-per-page="pageOfRound.size" rotate="false" ng-model="pageOfRound.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRound()"></ul>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" ng-if="app.sync_mission_round!=='Y'">
            <uib-tab-heading><i class='glyphicon glyphicon-time'></i> 定时生成</uib-tab-heading>
            <div class='pl-tab-pane-rim' ng-controller="ctrlRoundCron">
                <div ng-include="'/views/default/pl/fe/_module/roundCron.html'"></div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>