.product{margin-bottom:1em;}
.product .form-group{display:table;width:100%;margin-bottom:0;border-bottom:1px dotted #ddd}
.product .form-group:last-child{border-bottom:0}
.product .form-group>*{display:table-cell;}
.product .form-group>label{width:6em;white-space:normal;word-wrap:break-word;word-break:break-all;background:#eee;padding-left:.5em}
.product .form-group>div{padding-left:1em}
.product .detail_text{max-height:180px;overflow:auto}

/*skus*/
.skus{margin:1em 0;}
.sku{display:table;width:100%;border-bottom:1px dotted #ddd;}
.sku.unavailable{background:#ccc;}
.sku.removed{text-decoration:line-through;color:#999;}
.sku .description,.sku .actions{display:table-cell;}
.sku .description>div{border-bottom:1px dotted #ddd;}
.sku .description>div:last-child{border-bottom:0;}
.sku .description .summary{padding:.5em;}
.sku .price{display:table;width:100%;margin:.5em 0;}
.sku .price>*{display:table-cell;}
.sku .price>label{width:6em;white-space:normal;word-wrap:break-word;word-break:break-all;background:#eee;padding-left:.5em}
.sku .price>div{padding-left:1em;color:red;}
.sku .actions{width:80px;text-align:center;vertical-align:middle;}
.sku .content>div:last-child{border-bottom:0;}

/*order properties*/
.order-properties{margin:0 .5em;}
.order-property input.form-control{border-radius:0}

/*contact*/
.contact{margin:0 .5em;}
.contact input.form-control{border-radius:0}

/*footer*/
body{padding-bottom:64px;}
footer{position:fixed;bottom:0;left:0;right:0;border-top:1px solid #ddd;background:rgb(255,255,255);display:-webkit-box;display:box;display:-webkit-flex;display:flex;}
footer .btn{display:block;margin:4px;box-flex:1.0;flex-grow:1;-webkit-box-flex:1.0;}