<div ng-controller='orderCtrl'>
    <div class='catelog' ng-repeat="cate in catelogs">
        <div class='products'>
            <div class='product' ng-repeat="p in cate.products">
                <div class='form-group'>
                    <label class='form-control-static'>名称</label>
                    <div class='form-control-static' ng-bind='p.name'></div>
                </div>
                <div class='form-group'>
                    <label class='form-control-static'>介绍</label>
                    <div>
                        <div class='form-control-static detail_text' ng-bind="p.detail_text||'&nbsp;'"></div>
                    </div>
                </div>
                <div class='form-group prop' ng-repeat='cp in cate.properties'>
                    <label class='form-control-static' ng-bind='cp.name'></label>
                    <div class='form-control-static' ng-bind="p.propValue[cp.id].name||'&nbsp;'"></div>
                </div>
                <div class='skus'>
                    <div class='sku' ng-class="{'selected':s.selected,'unavailable':(s.quantity==0&&!orderId),'removed':s.removed}" ng-repeat='s in p.skus'>
                        <div>
                            <div class='summary'>
                                <div ng-bind="summarySku(cate,p,s)"></div>
                            </div>
                            <div class='price' ng-if="s.cateSku.require_pay==='Y'">
                                <div ng-bind="(s.price/100)||'&nbsp;'"></div>
                            </div>
                        </div>
                        <div class='actions'>
                            <button class='btn btn-danger btn-sm' ng-show='!s.removed' ng-click='removeSku(p, s, $index)'>删除</button>
                            <button class='btn btn-success btn-sm' ng-show='s.removed&&s.quantity>0' ng-click='restoreSku(p, s, $index)'>恢复</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='order-properties'>
            <div class='order-property form-group' ng-repeat='p in cate.orderProperties'>
                <label class='form-control-static' ng-bind='p.name'></label>
                <input type='text' class='form-control input-lg' ng-model='orderInfo.extPropValues[cate.id][p.id]'>
            </div>
        </div>
    </div>
    <div class='contact'>
        <div class='form-group'>
            <label class='form-control-static'>联系人姓名</label>
            <input type='text' class='form-control input-lg' ng-model='orderInfo.receiver_name'>
        </div>
        <div class='form-group'>
            <label class='form-control-static'>联系人电话</label>
            <input type='text' class='form-control input-lg' ng-model='orderInfo.receiver_mobile'>
        </div>
    </div>
    <footer>
        <button ng-click='create()'>提交订单</button>
    </footer>
</div>