<div class="modal-body">
    <div class='form-group'>
        <label>关联对象</label>
        <input type='input' class='form-control' ng-model="assoc.text" ng-change="update('text')">
    </div>
    <div class='form-group'>
        <label>关联理由</label>
        <input type='input' class='form-control' ng-model="assoc.reason" ng-change="update('reason')">
    </div>
    <div class='form-group' ng-if="user.is_editor==='Y'||user.is_leader==='Y'||user.is_leader==='S'">
        <label class='radio-inline'>
            <input type='radio' name='public' value='N' ng-model="assoc.public" ng-change="update('public')"> 仅自己可见</label>
        <label class='radio-inline'>
            <input type='radio' name='public' value='Y' ng-model="assoc.public" ng-change="update('public')"> 所有人可见</label>
    </div>
    <div class='checkbox' ng-if="user.is_editor==='Y'||user.is_leader==='Y'||user.is_leader==='S'">
        <hr>
        <label>
            <input type='checkbox' ng-model="assoc.updatePublic" ng-disabled="countUpdated===0">更新结果所有人可见</label>
    </div>
</div>
<div class="modal-footer">
    <div class='text-center'>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="countUpdated===0">保存</button>
    </div>
</div>