<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">历史数据</h5>
</div>
<div class="modal-body">
    <div class='list-group'>
        <div class='list-group-item clearfix' ng-class="{'list-group-item-info':rec.current}" ng-repeat="rec in records">
            <div ng-class="{'rec-current':rec.current}">
                <div style='float:left;width:4em'>{{::$index+1}}</div>
                <div style='float:left'>{{::rec.value}}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>