<div ng-if="rec">
    <div class='dir' ng-if="rec.recordDir.length"><span class='text-muted glyphicon glyphicon-folder-open'></span>&nbsp;&nbsp;<span ng-repeat="dir in rec.recordDir track by $index">{{dir}}<span ng-if="$index!==rec.recordDir.length-1"> / </span></span></div>
    <div ng-repeat="schema in schemas" class='schema' ng-if="rec.data[schema.id]" ng-switch on="schema.type">
        <div class='text-muted' ng-class="{true:'data-title-one', false:'data-title-zero'}[schemaCounter>1]"><span>{{::schema.title}}</span></div>
        <div ng-switch-when="file">
            <div ng-repeat="file in rec.data[schema.id]" ng-switch on="file.type">
                <video ng-switch-when="video" controls="controls" preload="none">
                    <source src="{{file.url}}" type="{{file.type}}" />
                </video>
                <audio ng-switch-when="audio" controls="controls" preload="none">
                    <source src="{{file.url}}" type="{{file.type}}" />
                </audio>
                <audio ng-switch-when="audio/x-m4a" controls="controls" preload="none">
                    <source src="{{file.url}}" type="{{file.type}}" />
                </audio>
                <audio ng-switch-when="audio/mp3" controls="controls" preload="none">
                    <source src="{{file.url}}" type="{{file.type}}" />
                </audio>
                <img ng-switch-when="image" ng-src='{{file.url}}' style="width:40%" />
                <a ng-switch-default href ng-click="open(file)">{{file.name}}</a>
            </div>
        </div>
        <div ng-switch-when="voice">
            <div ng-repeat="voice in rec.data[schema.id]">
                <audio controls="controls" preload="none">
                    <source src="{{voice.url}}" type="{{voice.type}}" />
                </audio>
            </div>
        </div>
        <div ng-switch-when="image">
            <ul class='list-unstyled'>
                <li ng-repeat="img in rec.data[schema.id].split(',')"><img ng-src="{{img}}" /></li>
            </ul>
        </div>
        <div ng-switch-when="multitext">
            <div ng-repeat="item in rec.data[schema.id]">
                <div class='top-bar tms-flex-row'>
                    <div class='seq tms-flex-grow text-muted' ng-if="item.multitext_seq">#<span ng-bind="item.multitext_seq"></span></div>
                    <span ng-if="item.voteResult&&item.voteResult.state!=='BS'">得票：<span ng-bind="item.voteResult.vote_num"></span>&nbsp;&nbsp;</span>
                    <span ng-if="item.score>0" style='font-size:80%'>得分：<span ng-bind="item.score"></span></span>
                </div>
                <blockquote>
                    <p dynamic-html="item.value"></p>
                </blockquote>
            </div>
        </div>
        <div ng-switch-when="single"><span ng-bind="rec.data[schema.id]"></span></div>
        <div ng-switch-when="multiple"><span ng-bind="rec.data[schema.id]"></span></div>
        <div ng-switch-when="longtext">
            <span ng-bind-html="rec.data[schema.id]"></span>
        </div>
        <div ng-switch-when="url">
            <span ng-bind-html="rec.data[schema.id]._text"></span>
        </div>
        <div ng-switch-default>
            <span ng-bind-html="rec.data[schema.id]"></span>
        </div>
        <div ng-if="schema.supplement==='Y'&&rec.supplement[schema.id]" class='supplement' ng-bind-html="rec.supplement[schema.id]"></div>
        <div ng-if="rec.voteResult[schema.id]" class='small'>
            <span ng-if="rec.voteResult[schema.id].state!=='BS'">得票：<span ng-bind="rec.voteResult[schema.id].vote_num"></span></span>
        </div>
    </div>
</div>