<div ng-repeat="schema in schemas">
    <div class='schema' ng-class="{'cowork':schema.cowork==='Y'}" ng-if="rec.data[schema.id]||schema.cowork==='Y'" ng-switch on="schema.type">
        <div class='text-muted data-title'>{{schema.title}}</div>
        <div ng-switch-when="file">
            <div ng-repeat="file in rec.data[schema.id]">
                <video ng-if="file.type.indexOf('video')===0" controls="controls" preload="none">
                    <source src="{{file.url}}" type="{{file.type}}" />
                </video>
                <audio ng-if="file.type.indexOf('audio')===0" controls="controls" preload="none">
                    <source src="{{file.url}}" type="{{file.type}}" />
                </audio>
                <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' style="width:40%" />
            </div>
        </div>
        <div ng-switch-when="voice">
            <div ng-repeat="voice in rec.data[schema.id]">
                <audio controls="controls" preload="none">
                    <source src="{{voice.url}}" type="{{voice.type}}" />
                </audio>
            </div>
        </div>
        <div ng-switch-when="image">
            <ul class='list-unstyled'>
                <li ng-repeat="img in rec.data[schema.id].split(',')"><img ng-src="{{img}}" /></li>
            </ul>
        </div>
        <div ng-switch-when="multitext">
            <ul ng-if="rec.data[schema.id]" style='padding-left:20px'>
                <li ng-repeat="item in rec.data[schema.id]"><span dynamic-html="item.value"></span></li>
            </ul>
        </div>
        <div ng-switch-when="single"><span ng-bind="rec.data[schema.id]"></span></div>
        <div ng-switch-when="multiple"><span ng-bind="rec.data[schema.id]"></span></div>
        <div ng-switch-when="longtext">
            <span ng-bind-html="rec.data[schema.id]"></span>
        </div>
        <div ng-switch-when="url">
            <span ng-bind-html="rec.data[schema.id]._text"></span>
        </div>
        <div ng-switch-default>
            <span>{{rec.data[schema.id]}}</span>
        </div>
        <div ng-if="schema.cowork==='Y'">
            <button class='btn btn-default btn-sm' ng-click="coworkRecord(rec)"><span ng-if="rec.coworkState[schema.id].length">查看全部（<span ng-bind="rec.coworkState[schema.id].length"></span>）或</span>添加 <span class='glyphicon glyphicon-menu-right'></span> <span class='text-muted' ng-if="rec._coworkRequireLikeNum">（还需要{{rec._coworkRequireLikeNum}}个<span class='glyphicon glyphicon-thumbs-up'></span>）</span>
            </button>
        </div>
        <div ng-if="schema.supplement==='Y'&&rec.supplement[schema.id]" class='supplement' ng-bind-html="rec.supplement[schema.id]"></div>
    </div>
</div>