<style>
</style>
<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">投票</h5>
</div>
<div id='voteRecData' class="modal-body">
    <div class='list-group'>
        <div class='list-group-item' ng-repeat="rd in votingRecDatas">
            <div ng-bind="rd.view"></div>
            <div ng-if="rd.voteResult&&rd.voteResult.state==='IP'">
                <hr>
                <span>得票：<span ng-bind="rd.voteResult.vote_num"></span>&nbsp;&nbsp;</span>
                <button ng-if="rd.voteResult.vote_at==0" class='btn btn-default btn-xs' ng-click="vote(rd)"><span class='glyphicon glyphicon-triangle-top'></span> 投票</button>
                <button ng-if="rd.voteResult.vote_at>0" class='btn btn-default btn-xs' ng-click="unvote(rd)"><span class='glyphicon glyphicon-triangle-bottom'></span> 取消投票</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class='text-center'>
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
    </div>
</div>