<!DOCTYPE html>
<html ng-controller='ctrlMain'>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title><?php TPL::pt('title');?>-首页</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <style>body{margin-bottom:50px;}.ng-cloak{display:none;}</style>
    </head>
    
    <body>
        <nav class='navbar navbar-default'>
            <div class='container'>
                <div class='navbar-header'>
                    <a class='navbar-brand' href='/rest/home' target='_self'><?php echo APP_TITLE;?></a>
                </div>
                <ul class='nav navbar-nav navbar-right ng-cloak' ng-if="isLogin==='N'" ng-cloak>
                    <li><a href='/rest/pl/fe/user/login' target='_self'>登录</a></li>
                    <li><a href='/rest/pl/fe/user/register' target='_self'>注册</a></li>
                </ul>
                <ul class='nav navbar-nav navbar-right ng-cloak' ng-if="isLogin==='Y'" ng-cloak>
                    <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
                </ul>
            </div>
        </nav>
        <div class='container'>
            <div class='row'>
                <nav class='navbar navbar-default'>
                    <div class='container'>
                        <p class="navbar-text" ng-bind="site.name"></p>
                        <form class="navbar-form navbar-right ng-cloak" ng-cloak>
                            <button type="button" class="btn btn-success" ng-click="subscribeSite()" ng-if="s._subscribed!=='Y'">关注</button>
                            <button type="button" class="btn btn-default" ng-click="subscribeSite()" ng-if="s._subscribed==='Y'">已关注</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div id="content" dynamic-html='page.html' ng-cloak class='ng-cloak'></div>
        <script src="/static/js/require.js" defer async data-main="/views/default/site/home-loader.js?_=2"></script>
        <script type="text/ng-template" id="favorTemplateSite.html">
            <div class="modal-header">
                <button class="close" type="button" ng-click="cancel()">×</button>
                <h5 class="modal-title ">指定收藏模版的站点</h5>
            </div>
            <div class="modal-body ">
                <div class="checkbox" ng-repeat="site in mySites">
                    <label ng-if="site._favored!=='Y'"><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='site._selected'>{{site.name}}</label>
                    <label ng-if="site._favored==='Y'"><input type='checkbox' checked disabled><span>{{site.name}}</span>（已收藏）</label></label>
                </div>
                <div class='alert alert-danger' ng-if="mySites.length===0">请创建用于收藏本模版的站点</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok() ">确定</button>
            </div>
        </script>
        <script type="text/ng-template" id="useTemplateSite.html">
            <div class="modal-header">
                <button class="close" type="button" ng-click="cancel()">×</button>
                <h5 class="modal-title ">指定使用模版的站点</h5>
            </div>
            <div class="modal-body ">
                <div class="radio" ng-repeat="site in mySites">
                    <label ng-if="site._favored!=='Y'"><input type='radio' name='site' value="{{$index}}" ng-model='data.index'>{{site.name}}</label>
                </div>
                <div class='alert alert-danger' ng-if="mySites.length===0">请创建使用模版的站点</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok() ">确定</button>
            </div>
        </script>
        <script type="text/ng-template" id="subscribeSite.html">
            <div class="modal-header">
                <button class="close" type="button" ng-click="cancel()">×</button>
                <h5 class="modal-title ">指定关注本站点的站点</h5>
            </div>
            <div class="modal-body ">
                <div class="checkbox" ng-repeat="site in mySites">
                    <label ng-if="site._subscribed!=='Y'"><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='site._selected'>{{site.name}}</label>
                    <label ng-if="site._subscribed==='Y'"><input type='checkbox' checked disabled><span>{{site.name}}</span>（已关注）</label></label>
                </div>
                <div class='alert alert-danger' ng-if="mySites.length===0">请创建用于关注本站点的站点</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok() ">确定</button>
            </div>
        </script>
    </body>
</html>