<div ng-app='wbox.xxt' ng-controller='ListCtrl'>
    <div class='toolbar clearfix'>
        <button class='btn btn-success' ng-click='create()' title='新建图文'>新建</button>
        <select style='width:150px' class='form-control' title='排序' ng-model='order' ng-change='doSearch()'>
            <option value='time'>修改时间</option>
            <option value='title'>图文标题</option>
        </select>
        <combox style='width:200px' readonly='true' prop='title' existing='selectedTags' options='tags'></combox>
        <pagination class='pull-right' style='margin:0;cursor:pointer' ng-show='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.current" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
    </div>
    <div class='clearfix'>
        <div class='col-md-4' ng-repeat='a in articles'>
            <div class='thumbnail' ng-mouseenter='enter=true' ng-mouseleave='enter=false'>
                <div>
                    <h4>{{a.title}}</h4>
                    <p>{{a.summary}}</p>
                </div>
                <div><span class='label label-warning' ng-repeat='t in a.tags'>{{t.title}}</span></div>
                <div>
                    <button class='btn btn-sm' ng-class="a.approved==='Y'?'btn-primary':'btn-danger'" ng-click='edit(a)' title={{'编辑'+(a.approved==0?'（待审核）':'')}}>
                        <span class='glyphicon glyphicon-edit'></span>
                    </button>
                    <span class='modify_at'>{{a.modify_at*1000|date:'yyyy-MM-dd'}}</span>
                </div>
                <button class='btn btn-default btn-sm remove' ng-click='remove(a, $index)' ng-if='enter'>
                    <span class='glyphicon glyphicon-trash'></span>
                </button>
            </div>
        </div>
    </div>
</div>
