<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>历史轨迹</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=1' rel="stylesheet">
    <link href='/views/default/site/fe/user/history/main.css?_=1' rel="stylesheet">
</head>

<body>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <div class="container ng-cloak" ng-controller="ctrlMain" ng-cloak>
        <nav class='navbar navbar-default navbar-fixed-top'>
            <div class='container-fluid'>
                <div class="navbar-header">
                    <a class='navbar-brand' href='/rest/home' target='_self'>
                        <span class='glyphicon glyphicon-menu-left'></span>&nbsp;
                        <?php echo APP_TITLE;?>
                    </a>
                </div>
            </div>
        </nav>
        <div class='row'>
            <div class='col-md-12'>
                <uib-tabset active="0">
                    <uib-tab index="0">
                        <uib-tab-heading>我参与的活动（{{myApps.length}}）</uib-tab-heading>
                        <div class='list-group'>
                            <div class='list-group-item app' ng-repeat="app in myApps" ng-click="openApp(app)">
                                <div class='title'>{{app.matter_title}}</div>
                                <div class='operate_at'>最后操作：{{app.operate_at*1000|date:'yy-MM-dd HH:mm'}}</div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>我参与的项目（{{myMissions.length}}）</uib-tab-heading>
                        <div class='list-group'>
                            <div class='list-group-item' ng-repeat="mis in myMissions" ng-click="openMission(mis)">
                                <div class='title'>{{mis.mission_title}}</div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <script src="/static/js/require.js" defer async data-main="/views/default/site/fe/user/history/main-loader.js?_=4"></script>
</body>

</html>
