<div class='container-fluid' ng-app='app' ng-controller='merchantCtrl'>
    <div id='product'>
        <div class='form-group'>
            <label>名称</label>
            <div class='form-control-static' ng-bind='product.name'></div>
        </div>
        <div class='form-group'>
            <label>介绍</label>
            <div class='form-control-static' ng-bind="product.detail_text||'&nbsp;'"></div>
        </div>
        <div class='form-group prop' ng-repeat='p in catelog.properties'>
            <label ng-bind='p.name'></label>
            <div class='form-control-static' ng-bind="propValues[p.id].name||'&nbsp;'"></div>
        </div>
        <div class='form-group'>
            <label>价格</label>
            <div class='form-control-static' ng-bind="sku.price||'&nbsp;'"></div>
        </div>
    </div>
    <div id='customer'>
        <div class='form-group'>
            <label>姓名</label>
            <input type='text' class='form-control input-lg' ng-model='orderInfo.receiver_name'>
        </div>
        <div class='form-group'>
            <label>联系电话</label>
            <input type='text' class='form-control input-lg' ng-model='orderInfo.receiver_mobile'>
        </div>
    </div>
    <button class='btn btn-success btn-lg btn-block' ng-click='buy()'>提交</button>
</div>