<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model='editing.title' ng-change="update('title');">
            <div class='help-block'>标题：最多35个汉字，70个英文字符</div>
        </div>
        <div class='form-group'>
            <div style='position:relative'>
                <div style="width:182px;border:1px solid #CCC">
                    <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                        <button class='btn btn-default' ng-click='setPic();'>
                        <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                    </div>
                    <div style='position:relative' ng-if="editing.pic!=''" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                        <img name='pic' ng-src="{{editing.pic}}" width='180px' />
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                        <span class='glyphicon glyphicon-picture'></span>
                        </button>
                        <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                        <span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class='help-block'>头图（可选）：建议尺寸：900像素 * 500像素</div>
        </div>
        <div class='form-group'>
            <textarea class='form-control' ng-model='editing.summary' ng-change="update('summary');"></textarea>
            <div class='help-block'>摘要（可选）：最多120个汉字，240个英文字符</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <button class='btn btn-success' ng-click='gotoCode()'>编辑页面</button>
            <button class='btn btn-success' ng-click='selectTemplate()'>选择模板</button>
            <button class='btn btn-success' ng-click='saveAsTemplate()'>作为模板</button>
        </div>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
        <button class='btn btn-block btn-default' ng-click="copy()">复制</button>
        <button class='btn btn-block btn-default' ng-click="remove()">删除</button>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div style='word-break: break-all;'>{{entry.url}}</div>
        </div>
        <div class="form-group">
            <div><img ng-src="{{entry.qrcode}}"></div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>阅读：{{editing.read_num}}</div>
            <div>评论：{{editing.remark_num}}</div>
            <div>点赞：{{editing.score}}</div>
            <div>分享好友：{{editing.share_friend_num}}</div>
            <div>分享朋友圈：{{editing.share_timeline_num}}</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group' ng-controller='ctrlSetChannel' ng-init="matterType='article';matterObj='editing'">
            <combox evt-prefix='channel' readonly=true prop='title' existing='editing.channels' options='channels'></combox>
            <div class='help-block'>频道（可选）</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <combox evt-prefix='tag' prop='title' existing='editing.tags' options='tags'></combox>
            <div class='help-block'>内容标签</div>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_site_header' ng-change="update('use_site_header');">使用站点页眉</label>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_site_footer' ng-change="update('use_site_footer');">使用站点页脚</label>
        </div>
        <div class='form-group' ng-if="editing.mission_id>0">
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_mission_header' ng-change="update('use_mission_header');">使用项目页眉</label>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.use_mission_footer' ng-change="update('use_mission_footer');">使用项目页脚</label>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <label class='checkbox-inline'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='editing.can_share' ng-change="update('can_share');">可以分享</label>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>创建人：{{editing.creater_name}}</div>
            <div>创建时间：{{editing.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
            <div>修改人：{{editing.modifier_name}}</div>
            <div>最后一次修改时间：{{editing.modify_at*1000|date:'yy-MM-dd HH:mm'}}</div>
        </div>
    </div>
</div>