<div class='col-md-6 col-md-offset-3'>
    <div class='thumbnail'>
        <div class='radio'>
            <label>
                <input type='radio' value='none' ng-model="rule.scope" ng-change="changeUserScope()">不限用户来源</label>
        </div>
        <div class='radio'>
            <label>
                <input type='radio' value='member' ng-model="rule.scope" ng-change="changeUserScope()">限通讯录联系人访问</label>
        </div>
        <div class='radio' ng-if="snsCount>0">
            <label>
                <input type='radio' value='sns' ng-model="rule.scope" ng-change="changeUserScope()">限公众号关注用户访问</label>
        </div>
        <div ng-if="rule.scope==='member'">
            <table class='table table-bordered'>
                <tbody>
                    <tr ng-repeat="(msid,erm) in mission.entry_rule.member">
                        <td><span>{{mschemasById[msid]?mschemasById[msid].title:'通讯录不存在'}}</span></td>
                        <td>
                            <button class='btn btn-default btn-xs' ng-click="editMschema(mschemasById[msid])"><span class='glyphicon glyphicon-edit'></span></button>
                        </td>
                        <td>
                            <button class='btn btn-default btn-xs' ng-click="removeMschema(msid)"><span class='glyphicon glyphicon-remove'></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-default' ng-click="chooseMschema()">选择通讯录</button>
        </div>
        <table class='table table-bordered' ng-if="rule.scope==='sns'&&snsCount>1">
            <tbody>
                <tr ng-if="sns.wx">
                    <td>微信公众号关注用户</td>
                    <td>
                        <label class='checkbox-inline'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="" ng-change="update('entry_rule')" ng-model='mission.entry_rule.sns.wx.entry'>生效</label>
                    </td>
                </tr>
                <tr ng-if="sns.qy">
                    <td>微信企业号关注用户</td>
                    <td>
                        <label class='checkbox-inline'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="" ng-change="update('entry_rule')" ng-model='mission.entry_rule.sns.qy.entry'>生效</label>
                    </td>
                </tr>
                <tr ng-if="sns.yx">
                    <td>易信公众号关注用户</td>
                    <td>
                        <label class='checkbox-inline'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="" ng-change="update('entry_rule')" ng-model='mission.entry_rule.sns.yx.entry'>生效</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>