<div ng-controller="ctrlCoworker">
    <div class='form-group'>
        <div class='help-block'>添加用户共同管理项目</div>
        <div class='input-group'>
            <input type="text" class="form-control" ng-model='label' placeholder="请输入作为用户账号的邮箱">
            <span class='input-group-btn'>
                <button class='btn btn-primary' ng-click='add()' ng-disabled="!label||!label.length"><span class='glyphicon glyphicon-plus'></span></button>
            </span>
        </div>
    </div>
    <div class='form-group'>
        <div class='help-block'>或者发送邀请链接</div>
        <button id='shareMission' uib-popover-template="'shareMission.html'" popover-trigger="show" popover-placement="bottom" popover-title="应用设置" class='btn btn-block btn-success' ng-click="makeInvite()">获取链接</button>
    </div>
    <div class='list-group'>
        <a href='javascript:void(0)' class='list-group-item' ng-repeat="c in coworkers" ng-mouseenter="entered=true" ng-mouseleave="entered=false">
            <span>{{c.coworker_label}}</span>
            <button class='close' ng-if="entered" ng-click="remove(c)">&times;</button>
        </a>
    </div>
    <script type="text/ng-template" id="shareMission.html">
        <div id="shareMission">
            <div class='form-group'>
                <div class='help-block'>链接有效期30分钟</div>
                <div class='form-control' style='height:auto;word-break:break-all'>{{inviteURL}}</div>
            </div>
            <div class='form-group'>
                <button class='btn btn-default' ng-click="closeInvite()">关闭</button>
            </div>
        <div>
    </script>
</div>