<div class="col-md-12">
    <div class='form-group'>
        <div class='form-inline'>
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>更多操作 <i class="caret"></i></button>
                <ul uib-dropdown-menu>
                    <li><a href ng-click="createEnlAppByUser()">创建项目用户计分活动</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='width:32px'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="criteria.allSelected">
                </th>
                <th style='width:48px'>序号</th>
                <th data-filter-by='nickname' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">姓名 <i class='glyphicon glyphicon-filter'></i></th>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='group_id'}" ng-click="chooseOrderBy('group_id')">
                    <div>分组 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='user_total_coin'}" style='width:64px' ng-click="chooseOrderBy('user_total_coin')">
                    <div>积分 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='enroll_num'}" style='width:64px' ng-click="chooseOrderBy('enroll_num')">
                    <div>记录 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_enroll_at'}" style='width:96px' ng-click="chooseOrderBy('last_enroll_at')">
                    <div>最近填写 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='do_remark_num'}" style='width:64px' ng-click="chooseOrderBy('do_remark_num')">
                    <div>留言 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_do_remark_at'}" style='width:96px' ng-click="chooseOrderBy('last_do_remark_at')">
                    <div>最近留言 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='do_like_num'}" style='width:64px' ng-click="chooseOrderBy('do_like_num')">
                    <div>点赞 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_remark_like_at'}" style='width:96px' ng-click="chooseOrderBy('last_remark_like_at')">
                    <div>最近点赞 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='agree_num'}" style='width:64px' ng-click="chooseOrderBy('agree_num')">
                    <div>推荐 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_agree_at'}" style='width:96px' ng-click="chooseOrderBy('last_agree_at')">
                    <div>最近推荐 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='signin_num'}" style='width:96px' ng-click="chooseOrderBy('signin_num')">
                    <div>签到 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='enrollee in enrollees'>
                <td>
                    <input type='checkbox' ng-model="criteria.selected[$index]">
                </td>
                <td>{{$index+1}}</td>
                <td>{{enrollee.nickname}}</td>
                <td>{{enrollee.group.title}}</td>
                <td>
                    <div>{{enrollee.user_total_coin}}</div>
                </td>
                <td>
                    <div>{{enrollee.enroll_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_enroll_at}}</div>
                </td>
                <td>
                    <div>{{enrollee.do_remark_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_do_remark_at}}</div>
                </td>
                <td>
                    <div>{{enrollee.do_like_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_do_like_at}}</div>
                </td>
                <td>
                    <div>{{enrollee.agree_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_agree_at}}</div>
                </td>
                <td>
                    <div>{{enrollee.signin_num}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>