<div class="col-md-12">
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='width:32px'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="criteria.allSelected">
                </th>
                <th style='width:48px'>序号</th>
                <th data-filter-by='nickname' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="show" ng-click="filter.show($event)">姓名 <i class='glyphicon glyphicon-filter'></i></th>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='group_id'}" ng-click="chooseOrderBy('group_id')">
                    <div>分组 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='user_total_coin'}" style='width:64px' ng-click="chooseOrderBy('user_total_coin')">
                    <div>积分 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='enroll_num'}" style='width:64px' ng-click="chooseOrderBy('enroll_num')">
                    <div>记录 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_enroll_at'}" style='width:96px' ng-click="chooseOrderBy('last_enroll_at')">
                    <div>最近填写 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='remark_other_num'}" style='width:64px' ng-click="chooseOrderBy('remark_other_num')">
                    <div>评论 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_remark_other_at'}" style='width:96px' ng-click="chooseOrderBy('last_remark_other_at')">
                    <div>最近评论 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='like_other_num'}" style='width:64px' ng-click="chooseOrderBy('like_other_num')">
                    <div>点赞 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
                <th class='th-action' ng-class="{'active':criteria.orderBy==='last_remark_like_at'}" style='width:96px' ng-click="chooseOrderBy('last_remark_like_at')">
                    <div>最近点赞 <span class='glyphicon glyphicon-arrow-down'></span></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='enrollee in enrollees'>
                <td>
                    <input type='checkbox' ng-model="criteria.selected[$index]">
                </td>
                <td>{{$index+1}}</td>
                <td>{{enrollee.nickname}}</td>
                <td>{{enrollee.group.title}}</td>
                <td>
                    <div>{{enrollee.user_total_coin}}</div>
                </td>
                <td>
                    <div>{{enrollee.enroll_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_enroll_at}}</div>
                </td>
                <td>
                    <div>{{enrollee.remark_other_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_remark_other_at}}</div>
                </td>
                <td>
                    <div>{{enrollee.like_other_num}}</div>
                </td>
                <td>
                    <div>{{enrollee.last_like_other_at}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>