<div class='col-md-6 col-md-offset-3'>
    <div id='main-access' class='panel panel-default' ng-controller='ctrlAccess'>
        <div class='panel-body'>
            <div class='form-group'>
                <label>设置参与规则</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-true-value="'Y'" ng-model="rule.scope.register" ng-change="changeUserScope('register')">用户参与活动前需完成平台注册</label>
                </div>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.member" ng-change="changeUserScope('member')">用户参与活动前需填写通讯录联系人信息</label><span ng-if="rule.scope.member==='Y'"><span class='badge' ng-repeat="(msid,entry) in rule.member"><a href title='进入查看' ng-click="editMschema(mschemasById[msid])">{{mschemasById[msid]?mschemasById[msid].title:'通讯录不存在'}}</a> <a href title='取消指定' class='glyphicon glyphicon-remove' ng-click="removeMschema(msid)"></a></span> <a href ng-click="chooseMschema()">添加</a></span>
                    <div style='margin-left:20px'>
                        <label class='checkbox-inline'>
                            <input type='checkbox' ng-true-value="'Y'" ng-model="rule.optional.member" ng-change="changeUserScope('member')">不强制要求用户在通讯录中</label>
                    </div>
                </div>
                <div class='checkbox' ng-if="snsCount===1">
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.sns" ng-change="changeUserScope('sns')">邀请用户关注公众号【{{sns[snsNames[0]].title}}】，以便获取用户的昵称和头像，向用户发送活动通知</label>
                </div>
                <div class='checkbox' ng-if="snsCount>1">
                    <label>
                        <input type='checkbox' ng-true-value="'Y'" ng-model="rule.scope.sns" ng-change="changeUserScope('sns')">邀请用户关注公众号，以便获取用户的昵称和头像，向用户发送活动通知</label>
                    <div ng-if="rule.scope.sns==='Y'" style='margin-left:20px'>
                        <label class='checkbox-inline' ng-repeat="snsName in snsNames">
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="" ng-model="rule.sns[snsName].entry" ng-change="update('entryRule')"> {{sns[snsName].title}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-controller="ctrlRemind">
        <div class='panel-body'>
            <div class='form-group'>
                <label>参与人进入链接 <span class='glyphicon glyphicon-question-sign' uib-tooltip='参与人查看项目中所有需要参加的活动。'></span></label>
                <div class='input-group'>
                    <input class='form-control' readonly value="{{mission.entryUrl}}">
                    <div class='input-group-btn'>
                        <a class='btn btn-default' ng-href="{{::mission.entryUrl}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <label>接收项目定时通知的用户</label>
                <div class="input-group">
                    <input class='form-control' title="{{mission.userApp.title}}" value="{{mission.userApp.title}}" readonly="">
                    <div class="input-group-btn">
                        <a class='btn btn-default' href="/rest/pl/fe/matter/{{mission.userApp.type}}?site={{mission.siteid}}&id={{mission.userApp.id}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                        <button class="btn btn-default" ng-click="cancelUserApp()" ng-if="mission.userApp">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                        <button class='btn btn-success' ng-click="assignUserApp()" ng-if="!mission.userApp">指定</button>
                    </div>
                </div>
            </div>
            <!-- begin timers -->
            <div ng-repeat="timer in timers">
                <hr>
                <div ng-include="frameTemplates.url('timerNotice')"></div>
            </div>
            <!-- end timers -->
            <hr>
            <div>
                <button class='btn btn-default' ng-click="srvTimer.add(mission,timers,'remind')">添加定时通知规则</button>
            </div>
            <div ng-if="timers.length">
                <hr>
                <a href ng-click="switchTo('notice')">查看通知发送日志</a>
            </div>
        </div>
    </div>
    <div class='panel panel-default' ng-if="missionMschemas.length">
        <div class='panel-body'>
            <div class='form-group' ng-repeat="mschema in missionMschemas">
                <label>通讯录【{{mschema.title}}】填写链接 <span class='glyphicon glyphicon-question-sign' uib-tooltip='参与人填写通讯录信息。'></span></label>
                <div class='input-group'>
                    <input class='form-control' readonly value="{{mschema.fullUrl}}">
                    <div class='input-group-btn'>
                        <a class='btn btn-default' ng-href="{{mschema.fullUrl}}" target='_blank' title='打开'><i class='glyphicon glyphicon-open'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="assignUserApp.html">
    <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title">指定项目用户名单</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class='form-group'>
                    <label class="col-md-3 control-label">活动类型</label>
                    <div class="col-md-9">
                        <label class='radio-inline'>
                            <input type='radio' value='group' ng-model="data.appType">分组活动</label>
                        <label class='radio-inline'>
                            <input type='radio' value='enroll' ng-model="data.appType">登记活动</label>
                        <label class='radio-inline'>
                            <input type='radio' value='signin' ng-model="data.appType">签到活动</label>
                        <label class='radio-inline'>
                            <input type='radio' value='mschema' ng-model="data.appType">通讯录</label>
                    </div>
                </div>
                <div class='form-group'>
                    <label class="col-md-3 control-label">目标活动</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="data.appId" ng-options="app.id as app.title for app in apps" size=10></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </script>
</div>