.glyphicon-eye-close{color:red;}

/*main-view*/
#main-access .badge a{color:#fff;text-decoration:none;}

/*matter*/
.tag{background:#337ab7;padding:3px 6px;margin:4px;border-radius:4px;color:#fff;}

/*report*/
#viewReport img{height:48px;}
#viewReport .matter{position:relative;transition:background 1s;}
#viewReport .matter .seq{display:inline-block;width:2em;text-align:center;line-height:1.6em;font-size:.5em;position:absolute;top:0;left:-1em;background:#666;color:#fff;border-radius:1em;}
#viewReport .blink{background:#d9edf7;}
#viewReport .record>div{padding:.5em 0;border-bottom:1px dotted #ccc;}
#viewReport .record>div:last-child{border-bottom:0;}
#viewReport .record label{width:6em;overflow:hidden;vertical-align:bottom;white-space:nowrap;text-overflow:ellipsis;margin-right:1em;margin-bottom:0;}
#viewReport .record img{max-width:100%}

/* mschema */
#mschema-view img{max-width:128px;}
