html,body{height:100%;width:100%}
body{background:#f8f8f8;position:relative;overflow:hidden;display:flex;flex-direction:column;}
.site.navbar-nav{position:absolute;left:50%;margin-left:-208px;float:none;}
.site.navbar-nav .active:after{content:' ';position:absolute;left:0;right:0;bottom:-1px;height:3px;background:red;}
.container{flex:1.0;overflow:hidden;position:relative;display:flex;padding:0;}
#viewSetting,#viewMatter{flex:1.0;display:flex;flex-direction:column;border:1px solid #ddd;border-radius:4px;padding:15px 0 0 0;background:#fff;}
#viewSetting{margin-right:8px;}
#viewMatter{margin-left:8px;}

/*setting*/
#viewSetting .attrs{flex:1.0;overflow-y:auto;overflow-x:hidden;padding-left:15px;padding-right:15px;}
#viewSetting .navbar{margin:0 -1px;}

/*matter*/
#viewMatter .matters{flex:1.0;overflow-y:auto;overflow-x:hidden;}
#viewMatter .thumbnail{cursor:pointer;height:145px;display:flex;flex-direction:column;padding:8px;}
#viewMatter .thumbnail .summary{flex:1;overflow:hidden;}
#viewMatter .thumbnail .attrs{display:flex;}
#viewMatter .thumbnail .operator{flex:1;}
#viewMatter .navbar{margin:0 -1px;}

/*indicator*/
#viewMatter .thumbnail.indicator{flex-direction:row;align-items:center;background:#f8f8f8;}
#viewMatter .thumbnail.indicator>div{flex:1.0;font-size:18px;text-align:center;}