html,body{height:100%;width:100%}
body{background:#f8f8f8;position:relative;overflow:hidden;display:flex;flex-direction:column;}
.navbar.tms-large{font-size:18px;}
.container{flex:1.0;overflow:hidden;position:relative;display:flex;padding:0;}
#viewSetting,#viewMatter{display:flex;flex-direction:column;border:1px solid #ddd;border-radius:4px;padding:0;background:#fff;}
#viewSetting{flex:1.0;margin-right:8px;}
#viewMatter{flex:2.0;}

/*setting*/
#viewSetting .attrs{flex:1.0;overflow-y:auto;overflow-x:hidden;padding-left:15px;padding-right:15px;}
#viewSetting .navbar.tms-top{margin:-1px -1px 15px;}
#viewSetting .navbar.tms-bottom{margin:0 -1px;}

/*phase*/
#viewSetting .phases{phase}
#viewSetting .phases .phase{counter-increment:phase;position:relative;}
#viewSetting .list-group-item.phase:after{content:counter(phase);background:#eee;position:absolute;top:-1px;left:-1px;width:18px;height:18px;line-height:18px;text-align:center;}
#viewSetting .phases .phase .action{position:absolute;top:-1px;right:-1px;}

/*matter*/
#viewMatter .navbar.tms-top{margin:-1px -1px 15px;}
#viewMatter .matters{flex:1.0;overflow-y:auto;overflow-x:hidden;}
#viewMatter .thumbnail{position:relative;cursor:pointer;height:145px;display:flex;flex-direction:column;padding:8px;}
#viewMatter .thumbnail .summary{flex:1;overflow:hidden;}
#viewMatter .thumbnail .attrs{display:flex;}
#viewMatter .thumbnail .operator{flex:1;}
#viewMatter .thumbnail .actions{position:absolute;top:8px;right:8px;}
#viewMatter .navbar.tms-bottom{margin:0 -1px;}

/*indicator*/
#viewMatter .thumbnail.indicator{flex-direction:row;align-items:center;background:#f8f8f8;}
#viewMatter .thumbnail.indicator>div{flex:1.0;font-size:18px;text-align:center;}