<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <base href="/"/>
        <title>项目</title>
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/tms.css?_=2" rel="stylesheet">
        <link href="/views/default/pl/fe/matter/mission/main.css?_=1" rel="stylesheet">
    </head>
    <body  ng-app='app' ng-controller='ctrlApp' ng-cloak class='ng-cloak'>
        <notice-box err='errmsg' info='infomsg' prog='progmsg' delay='2000'></notice-box>
        <nav class='navbar navbar-inverse'>
            <ul class='nav navbar-nav'>
                <li><a href='/rest/pl/fe' target='_self'>首页</a></li>
            </ul>
            <ul class='nav navbar-nav site'>
                <li>
                    <a href='/rest/pl/fe/site/console?site={{siteId}}' target='_self'>工作台</a>
                </li>
            </ul>
            <ul class='nav navbar-nav navbar-right' style='margin-right:0'>
                <li><a href='/rest/pl/fe/user/settings' target='_self'>设置</a></li>
                <li><a href='/rest/pl/fe/user/logout' target='_self'>退出</a></li>
            </ul>
        </nav>
        <div class='container'>
            <div id='viewSetting' ng-controller="ctrlSetting">
                <div class='attrs'>
                    <div class='tile'>
                        <div class='form-group'>
                            <input type="text" class="form-control" ng-model='editing.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
                            <div class='help-block'>项目名称：最多35个汉字，70个英文字符</div>
                        </div>
                        <div class='form-group'>
                            <textarea class='form-control' ng-model="editing.summary" tms-auto-update tms-wait=1000 tms-update="update('summary')" rows='3'></textarea>
                            <div class='help-block'>摘要：最多120个汉字，240个英文字符</div>
                        </div>
                        <div class='form-group'>
                            <div style="width:182px;border:1px solid #CCC">
                                <div style="height:100px;text-align:center;padding-top:32px" ng-if="!editing.pic">
                                    <button class='btn btn-default' ng-click='setPic();'>
                                    <span class='glyphicon glyphicon-picture'></span>选择图片</button>
                                </div>
                                <div style='position:relative' ng-if="editing.pic" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
                                    <img name='pic' ng-src='{{editing.pic}}' width='180px' />
                                    <button class='btn btn-default btn-sm' style='position:absolute;top:2px;left:2px' ng-if='hover' ng-click='setPic();'>
                                    <span class='glyphicon glyphicon-picture'></span>
                                    </button>
                                    <button class='btn btn-default btn-sm' style='position:absolute;top:2px;right:2px' ng-if='hover' ng-click='removePic();'>
                                    <span class='glyphicon glyphicon-trash'></span>
                                    </button>
                                </div>
                            </div>
                            <div class='help-block'>头图（可选）：建议尺寸：900像素 * 500像素</div>
                        </div>
                        <div class='form-group'>
                            <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-date='editing.start_at' tms-state='mission.start_at'></tms-datepicker>
                            <div class='help-block'>开始时间（可选）</div>
                            <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-date='editing.end_at' tms-state='mission.end_at'></tms-datepicker>
                            <div class='help-block'>结束时间（可选）</div>
                        </div>
                        <div class='form-group'>
                            <input type="text" class="form-control" ng-model="editing.extattrs.attr1" tms-auto-update tms-wait=1000 tms-update="update('extattrs')">
                            <div class='help-block'>扩展属性1</div>
                        </div>
                        <div class='form-group'>
                            <input type="text" class="form-control" ng-model="editing.extattrs.attr2" tms-auto-update tms-wait=1000 tms-update="update('extattrs')">
                            <div class='help-block'>扩展属性2</div>
                        </div>
                    </div><!--tile-->
                    <div class='tile' ng-controller="ctrlPhase">
                        <div class='list-group'>
                            <div class='list-group-item' ng-repeat="p in phases">
                                <input type="text" class="form-control" ng-model="p.title" tms-auto-update tms-wait=1000 tms-update="update(p,'title')">
                                <div class='help-block'>阶段名称</div>
                                <textarea class="form-control" ng-model="p.summary" tms-auto-update tms-wait=1000 tms-update="update(p,'summary')"></textarea>
                                <div class='help-block'>阶段说明</div>
                                <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-obj="p" tms-date='p.start_at' tms-state='phase.start_at'></tms-datepicker>
                                <div class='help-block'>阶段开始时间</div>
                                <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-obj="p" tms-date='p.end_at' tms-state='phase.end_at'></tms-datepicker>
                                <div class='help-block'>阶段结束时间</div>
                                <button class='btn btn-default' ng-click="remove(p)">删除</button>
                            </div>
                        </div>
                        <button class='btn btn-success' ng-click="add()">添加阶段</button>
                    </div>
                    <div class='tile'>
                        <table class='table table-bordered' style='margin:0'>
                            <tr>
                                <td>项目页眉</td>
                                <td>项目页眉</td>
                                <td>
                                    <a href='' ng-click="editPage($event,'header')">编辑页面</a>
                                    <a href='' ng-click="resetPage($event,'header')" ng-show="editing.header_page_name.length">重置页面</a>
                                </td>
                            </tr>
                            <tr>
                                <td>项目页脚</td>
                                <td>项目页脚</td>
                                <td>
                                    <a href='' ng-click="editPage($event,'footer')">编辑页面</a>
                                    <a href='' ng-click="resetPage($event,'footer')" ng-show="editing.footer_page_name.length">重置页面</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <nav class="navbar navbar-default">
                    <div class="navbar-form">
                    </div>
                </nav>
            </div>
            <div id='viewMatter' ng-controller="ctrlMatter">
                <div class='matters'>
                    <div class='col-md-6' ng-repeat='m in matters'>
                        <div class='thumbnail' ng-click="open(m)">
                            <h4 class='title' ng-bind='m.title'></h4>
                            <p class='summary' ng-bind='m.summary'></p>
                            <div class='attrs'>
                                <div class='operator' ng-bind='m._operator'></div>
                                <div class='operateAt' ng-bind="m._operateAt*1000|date:'yy-MM-dd'"></div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6' ng-repeat='i in indicators'>
                        <div class='thumbnail indicator' ng-click="addByIndicator(i)">
                            <div><span class='glyphicon glyphicon-plus'></span>{{i.title}}</div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-default">
                    <div class="navbar-form">
                        <button class='btn btn-success' ng-click="addArticle()">+图文</button>
                        <button class='btn btn-success' ng-click="addEnroll('registration')">+报名</button>
                        <button class='btn btn-success' ng-click="addSignin()">+签到</button>
                        <button class='btn btn-success' ng-click="addGroup()">+分组</button>
                        <button class='btn btn-success' ng-click="addEnroll('voting')">+评价</button>
                    </div>
                </nav>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-route.min.js"></script>
        <script src="/static/js/angular-sanitize.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/tinymce/tinymce.min.js"></script>
        <script src="/static/js/ui-tms.js?_=1"></script>
        <script src="/static/js/xxt.ui.js"></script>
        <script src="/views/default/pl/fe/matter/mission/main.js?_=4"></script>
    </body>
</html>