<div id='viewMatter'>
    <nav class="navbar navbar-default tms-panel-heading">
        <div class='container-fluid'>
            <ul class="nav navbar-nav">
                <li ng-class="{'active':matterType===''}"><a href='#' ng-click="matterType=''">全部</a></li>
                <li ng-class="{'active':matterType==='article'}"><a href='#article' ng-click="matterType='article'">图文</a></li>
                <li ng-class="{'active':matterType==='registration'}"><a href='#registration' ng-click="matterType='registration'">报名</a></li>
                <li ng-class="{'active':matterType==='signin'}"><a href='#signin' ng-click="matterType='signin'">签到</a></li>
                <li ng-class="{'active':matterType==='group'}"><a href='#group' ng-click="matterType='group'">分组</a></li>
                <li ng-class="{'active':matterType==='voting'}"><a href='#voting' ng-click="matterType='voting'">投票</a></li>
                <li ng-class="{'active':matterType==='group_week_report'}"><a href='#group_week_report' ng-click="matterType='group_week_report'">团队周报</a></li>
                <li ng-class="{'active':matterType==='common'}"><a href='#common' ng-click="matterType='common'">通用登记</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button uib-popover-template="'addMatter.html'" popover-placement="bottom" popover-append-to-body='true' popover-trigger="outsideClick" popover-title="添加素材" class='btn btn-default'><i class='glyphicon glyphicon-plus'></i> <i class='caret'></i></button>
            </form>
            <div class='navbar-form navbar-right' ng-if="phases.length">
                <select class="form-control" title="项目阶段" ng-model="criteria.pid"  ng-change="doSearch(criteria.pid)" >
                    <option value="ALL">全部阶段</option>
                    <option value="{{phs.phase_id}}" ng-repeat="phs in phases">{{phs.title}}</option>
                </select>
            </div>
        </div>
    </nav>
    <div class='tms-panel-body'>
        <div class='col-md-4' ng-repeat='m in matters'>
            <div class='thumbnail' ng-class="m.scenario||m.type" ng-mouseenter="entered=true" ng-mouseleave="entered=false" ng-switch on="m.type">
                <h4 class='title' ng-bind='m.title'></h4>
                <p class='summary' ng-bind='m.summary'></p>
                <div class='attrs'>
                    <div class='operator' ng-bind='m._operator||m.creater_name||m.modifier_name'></div>
                    <div class='operateAt' ng-bind="(m._operateAt||m.modify_at||m.create_at)*1000|date:'yy-MM-dd'"></div>
                </div>
                <div class='actions' ng-switch-when="enroll">
                    <button class='btn btn-sm btn-default' ng-click="open(m,'main')">定义</button>
                    <button class='btn btn-sm btn-default' ng-click="open(m,'publish')">设置</button>
                    <button class='btn btn-sm btn-default' ng-click="open(m,'record')">数据</button>
                </div>
                <div class='actions' ng-switch-when="signin">
                    <button class='btn btn-sm btn-default' ng-click="open(m,'main')">定义</button>
                    <button class='btn btn-sm btn-default' ng-click="open(m,'publish')">设置</button>
                    <button class='btn btn-sm btn-default' ng-click="open(m,'record')">数据</button>
                </div>
                <div class='actions' ng-switch-when="group">
                    <button class='btn btn-sm btn-default' ng-click="open(m,'main')">定义</button>
                    <button class='btn btn-sm btn-default' ng-click="open(m,'player')">数据</button>
                </div>
                <div class='actions' ng-switch-default>
                    <button class='btn btn-sm btn-default' ng-click="open(m,'main')">进入</button>
                </div>
                <div class='actions-top' ng-if="entered">
                    <button class='btn btn-sm btn-default' ng-click="copyMatter($event,m)">复制</button>
                    <button class='btn btn-sm btn-default' title='删除' ng-click="removeMatter($event,m)"><span class='glyphicon glyphicon-remove'></span></button>
                </div>
            </div>
        </div>
        <div class='col-md-4' ng-repeat='i in indicators'>
            <div class='thumbnail indicator' ng-click="addByIndicator(i)">
                <div><span class='glyphicon glyphicon-plus'></span>{{i.title}}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addMatter.html">
    <div id="addMatter">
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('article')">单图文</button>
        </div>
        <div class='form-group'>
            <button class='btn btn-default' ng-click="addMatter('registration')">报名活动</button>
            <button class='btn btn-default' ng-click="addMatter('voting')">问卷活动</button>
            <button class='btn btn-default' ng-click="addMatter('quiz')">测验活动</button>
            <button class='btn btn-default' ng-click="addEnroll('group_week_report')">团队周报</button>
            <button class='btn btn-default' ng-click="addEnroll('common')">通用登记</button>
            <button class='btn btn-default' ng-click="addMatter('signin')">签到活动</button>
            <button class='btn btn-default' ng-click="addMatter('group')">分组活动</button>
        </div>
    <div>
</script>