.navbar-nav.tms-breadcrumb>li>a{padding-left:0;padding-right:0;color:#428bca;}
.navbar-nav.tms-breadcrumb>li+li>a:before{content:'/\00a0';padding-left:5px;color:#ccc;}
form .form-group:last-child{margin-bottom:0;}