<div id="viewReport">
    <div class='col-md-12'>
        <nav class='navbar navbar-default'>
            <div class='container-fluid' ng-controller="ctrlOpUrl">
                <form class='navbar-form navbar-left'>
                    <label>结果展示页面</label>
                    <div class='input-group'>
                        <input class='form-control' readonly value="{{opEntry.url}}">
                        <span class='input-group-btn'>
                        <button class='btn btn-default text2Clipboard' data-clipboard-text="{{opEntry.url}}">复制</button>
                        <a class='btn btn-default' href="{{opEntry.url}}" target="_blank"><i class='glyphicon glyphicon-open'></i></a>
                    </span>
                    </div>
                    <div class='form-group'>
                        <button class='btn btn-default' ng-if="!opEntry.url" ng-click="makeOpUrl()">生成</button>
                        <button class='btn btn-default' ng-if="opEntry.url" ng-click="closeOpUrl()">关闭</button>
                        <button uib-popover-template="'opUrlPasswd.html'" popover-append-to-body='true' popover-placement="bottom" popover-title="访问密码" popover-trigger="outsideClick" type="button" class="btn btn-default" class='btn btn-default' ng-if="opEntry.url">密码 <span class="caret"></span></button>
                    </div>
                    <div class='form-group' ng-if="opEntry.url">
                        <label class='checkbox-inline' uib-popover="分享链接有效期1小时，设置【支持收藏】后，用户可收藏本链接，避免有效期限制" popover-trigger="mouseenter" popover-placement="bottom">
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="opEntry.can_favor" ng-change="updCanFavor()">支持收藏</label>
                    </div>
                </form>
            </div>
        </nav>
        <nav class='navbar navbar-default'>
            <div class='container-fluid' ng-controller="ctrlOpUrl">
                <form class='navbar-form navbar-left'>
                    <div class='form-group'>
                        <label>用户名单</label>
                        <div class="input-group">
                            <input class='form-control' title="{{mission.userApp.title}}" value="{{mission.userApp.title}}" readonly="">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="cancelUserApp()" ng-if="mission.userApp">
                                    <span class='glyphicon glyphicon-remove'></span>
                            </button>
                            <button class='btn btn-success' ng-click="assignUserApp()" ng-if="!mission.userApp">指定</button>
                            </span>
                        </div>
                    </div>
                </form>
                <form class='navbar-form navbar-left'>
                    <button class='btn btn-default' ng-click="chooseApps()">选择活动</button>
                    <button class='btn btn-default' ng-click="makeReport()">生成报告</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="col-md-7" tms-flex-height top='144' bottom='50'>
        <div style='overflow-x:auto'>
            <table class='table table-bordered' style="table-layout:fixed;">
                <thead>
                    <tr>
                        <th style="width:4em">序号</th>
                        <th style="width:8em">用户</th>
                        <th style="width:8em" ng-repeat="app in report.orderedApps">{{app.title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in report.users" ng-click="chooseUser(user)">
                        <td>{{$index+1}}</td>
                        <td>{{user.nickname}}</td>
                        <td ng-repeat="app in report.orderedApps" ng-switch on="app.type">
                            <div ng-switch-when="enroll">
                                <div ng-if="user.data[$index].enroll_num">登记：{{user.data[$index].enroll_num}}</div>
                                <div ng-if="user.data[$index].remark_other_num">评论：{{user.data[$index].remark_other_num}}</div>
                            </div>
                            <div ng-switch-when="signin" ng-if="user.data[$index]">
                                <div>签到：{{user.data[$index].signin_num}}</div>
                                <div ng-if="user.data[$index].late_num" style='color:red'>迟到：{{user.data[$index].late_num}}</div>
                            </div>
                            <div ng-switch-when="group" ng-if="user.data[$index]">
                                <div ng-repeat="rnd in user.data[$index]">分组：{{rnd.round_title||'空'}}</div>
                            </div>
                            <div ng-switch-default>{{user.data[$index]}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='col-md-5' tms-flex-height top='144' bottom='50'>
        <uib-tabset active="0">
            <uib-tab index="0">
                <uib-tab-heading>展示（{{showMatters.length}}）</uib-tab-heading>
                <div class="form-group checkbox">
                    <label ng-if="activeUser">
                        <input type="checkbox" ng-model="choose" ng-true-value="'Y'" ng-false-value="'N'" ng-click="doAttend(choose)">仅展示此用户参加的活动
                    </label>
                </div>
                <div class='list-group' dnd-list dataset='showMatters' evt-prefix="matters">
                    <div class='list-group-item matter dndable' ng-repeat="matter in showMatters" ng-switch on="matter.type" ng-mouseenter="entered=true" ng-mouseleave="entered=false">
                        <div class='seq'>{{matter.seq+1}}</div>
                        <div class='form-group'>
                            <div class='title' ng-bind="matter.title"></div>
                        </div>
                        <div class='list-group' ng-switch-when="enroll">
                            <div class='list-group-item record' ng-repeat="rec in recordsByApp.enroll[matter.id]">
                                <div>
                                    <label>登记时间：</label><span>{{rec.enroll_at*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                                <div>
                                    <label>审核通过：</label><span>{{rec.verified}}</span></div>
                                <div>
                                    <label>备注：</label><span>{{rec.comment}}</span></div>
                                <div ng-repeat="schema in enrollAppSchemas[matter.id]" ng-switch on="schema.type">
                                    <label title="{{schema.title}}">{{schema.title}}：</label>
                                    <span ng-switch-when="image">
                                            <img ng-repeat="img in rec._data[schema.id]" ng-src='{{img}}' />
                                        </span>
                                    <span ng-switch-when="file">
                                            <span ng-repeat='file in rec._data[schema.id]'>{{file.name}}</span>
                                    </span>
                                    <span ng-switch-when="date">{{(rec._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                                    <span ng-switch-default ng-bind-html="rec._data[schema.id]"></span>
                                </div>
                            </div>
                        </div>
                        <div class='list-group' ng-switch-when="signin">
                            <div class='list-group-item record' ng-repeat="rec in recordsByApp.signin[matter.id]">
                                <div>
                                    <label>审核通过：</label><span>{{rec.verified}}</span></div>
                                <div>
                                    <label>备注：</label><span>{{rec.comment}}</span></div>
                                <div>
                                    <label>签到次数：</label><span>{{rec.signin_num}}</span></div>
                                <div ng-repeat="rnd in matter.rounds">
                                    <div>
                                        <label title="{{rnd.title}}">{{rnd.title}}：</label><span ng-if="rec.signin_log[rnd.rid]" ng-class="{'signin_late':rnd.late_at!==0&&(rec.signin_log[rnd.rid]+60)>rnd.late_at}">{{rec.signin_log[rnd.rid]*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class='list-group' ng-switch-when="group">
                            <div class='list-group-item record' ng-repeat="rec in recordsByApp.group[matter.id]">
                                <div>
                                    <label>所属分组：</label><span>{{rec.round_title}}</span></div>
                            </div>
                        </div>
                        <button class='btn btn-default btn-sm' ng-click="gotoDetail(matter)">查看活动全部数据</button>
                        <span ng-if="entered" class='pull-right'>
                                <button class='btn btn-default btn-sm' ng-click="hide(matter)">不放在展示页中</button>
                                <button class='btn btn-default btn-sm' ng-click="moveUp(matter,$index)"><i class='glyphicon glyphicon-arrow-up'></i></button>
                                <button class='btn btn-default btn-sm' ng-click="moveDown(matter,$index)"><i class='glyphicon glyphicon-arrow-down'></i></button>
                            </span>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>不展示（{{hideMatters.length}}）</uib-tab-heading>
                <div class='list-group'>
                    <a href='javascript:void(0)' class='list-group-item matter' ng-repeat="matter in hideMatters" ng-switch on="matter.type">
                        <div class='seq'>{{$index+1}}</div>
                        <div class='form-group'>
                            <div class='title' ng-bind="matter.title"></div>
                        </div>
                        <div class='list-group' ng-switch-when="enroll">
                            <div class='list-group-item record' ng-repeat="rec in recordsByApp.enroll[matter.id]">
                                <div>
                                    <label>登记时间：</label><span>{{rec.enroll_at*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                                <div>
                                    <label>审核通过：</label><span>{{rec.verified}}</span></div>
                                <div>
                                    <label>备注：</label><span>{{rec.comment}}</span></div>
                                <div ng-repeat="schema in enrollAppSchemas[matter.id]" ng-switch on="schema.type">
                                    <label>{{schema.title}}：</label>
                                    <span ng-switch-when="image">
                                            <img ng-repeat="img in rec._data[schema.id]" ng-src='{{img}}' />
                                        </span>
                                    <span ng-switch-when="file">
                                            <span ng-repeat='file in rec._data[schema.id]'>{{file.name}}</span>
                                    </span>
                                    <span ng-switch-when="date">{{(rec._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                                    <span ng-switch-default ng-bind-html="rec._data[schema.id]"></span>
                                </div>
                            </div>
                        </div>
                        <div class='list-group' ng-switch-when="signin">
                            <div class='list-group-item record' ng-repeat="rec in recordsByApp.signin[matter.id]">
                                <div>
                                    <label>审核通过：</label><span>{{rec.verified}}</span></div>
                                <div>
                                    <label>备注：</label><span>{{rec.comment}}</span></div>
                                <div>
                                    <label>签到次数：</label><span>{{rec.signin_num}}</span></div>
                                <div ng-repeat="rnd in matter.rounds">
                                    <div>
                                        <label>{{rnd.title}}：</label><span ng-class="{'signin_late':rnd.late_at!==0&&(rec.signin_log[rnd.rid]+60)>rnd.late_at}">{{rec.signin_log[rnd.rid]*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class='list-group' ng-switch="group">
                            <div class='list-group-item record' ng-repeat="rec in recordsByApp.group[matter.id]">
                                <div>
                                    <label>所属分组：</label><span>{{rec.round_title}}</span></div>
                            </div>
                        </div>
                        <button class='btn btn-default btn-sm' ng-click="gotoDetail(matter)">查看活动全部数据</button>
                        <button class='btn btn-default btn-sm' ng-click="show(matter)">放在展示页中</button>
                    </a>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<script type="text/ng-template" id="assignUserApp.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">指定项目用户名单</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class='form-group'>
                <label class="col-md-3 control-label">活动类型</label>
                <div class="col-md-9">
                    <label class='radio-inline'>
                        <input type='radio' value='enroll' ng-model="data.appType">报名活动</label>
                    <label class='radio-inline'>
                        <input type='radio' value='signin' ng-model="data.appType">签到活动</label>
                    <label class='radio-inline'>
                        <input type='radio' value='mschema' ng-model="data.appType">通讯录</label>
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">目标活动</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.appId" ng-options="app.id as app.title for app in apps"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="chooseApps.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">选择活动</h5>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class='list-group' style='max-height:420px;overflow-y:auto'>
                <div class='list-group-item' ng-repeat="matter in matters">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-model="matter._selected"> <span>{{matter.title}}</span></label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
