<style>
.user img{height:48px;}
.record>div{padding:.5em 0;border-bottom:1px dotted #ccc;}
.record label{width:6em;overflow:hidden;vertical-align:bottom;white-space:nowrap;text-overflow:ellipsis;margin-right:1em;margin-bottom:0;}
.record img{max-width:100%}
.signin_late{color:red;}
.signin_late:after{content:'（迟到）';}
</style>
<nav class='navbar navbar-default'>
	<div class='container-fluid'>
		<form class='navbar-form navbar-right'>
			<label>用户名单</label>
            <div class="input-group">
                <input class='form-control' title="{{mission.userApp.title}}" value="{{mission.userApp.title}}" readonly="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="cancelUserApp()" ng-if="mission.userApp">
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
            		<button class='btn btn-success' ng-click="assignUserApp()" ng-if="!mission.userApp">指定</button>
                </span>
            </div>
		</form>
	</div>
</nav>
<div class='row' ng-controller="ctrlUserAction">
    <div class='col-md-6' tms-flex-height top='144' bottom='50'>
        <div id='userRecords' tms-table-wrap ready='tmsTableWrapReady'>
            <h4>用户名单</h4>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:3em'></th>
                        <th style='width:100px'>登记时间</th>
                        <th class='custom-col row' ng-repeat="schema in mission.userApp.data_schemas">{{schema.title}}</th>
                        <th style='width:140px'>昵称</th>
                        <th style='width:80px'>审核通过</th>
                        <th style='width:140px' ng-if="app.tags.length">标签</th>
                        <th style='width:140px'>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='user in users' class='user' ng-class="{'active':user===activeUser}" ng-click="chooseUser(user)">
                        <td>{{(oUserPage.at-1)*oUserPage.size+$index+1}}</td>
                        <td>{{(user.enroll_at*1000)|date:'MM-dd HH:mm'}}</td>
                        <td ng-repeat="schema in mission.userApp.data_schemas" ng-switch on="schema.type">
                            <span ng-switch-when="image">
                                <img ng-repeat="img in user._data[schema.id]" ng-src='{{img}}' />
                            </span>
                            <span ng-switch-when="file">
                                <span ng-repeat='file in user._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                            </span>
                            <span ng-switch-when="date">{{(user._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                            <span ng-switch-default ng-bind-html="user._data[schema.id]"></span>
                        </td>
                        <td>{{user.nickname}}</td>
                        <td>{{user.verified}}</td>
                        <td ng-if="app.tags.length">{{user.tags}}</td>
                        <td>{{user.comment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div class='col-md-6' tms-flex-height top='144' bottom='50'>
        <div class='list-group'>
            <a href='javascript:void(0)' class='list-group-item app enroll' ng-repeat="app in missionApps.enroll">
                <div class='form-group'>
                    <div class='title' ng-bind="app.title"></div>
                </div>
                <div class='list-group'>
                    <div class='list-group-item record' ng-repeat="rec in recordsByApp.enroll[app.id]">
                        <div><label>登记时间：</label><span>{{rec.enroll_at*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                        <div><label>审核通过：</label><span>{{rec.verified}}</span></div>
                        <div><label>备注：</label><span>{{rec.comment}}</span></div>
                        <div ng-repeat="schema in enrollAppSchemas[app.id]" ng-switch on="schema.type">
                            <label>{{schema.title}}：</label>
                            <span ng-switch-when="image">
                                <img ng-repeat="img in rec._data[schema.id]" ng-src='{{img}}' />
                            </span>
                            <span ng-switch-when="file">
                                <span ng-repeat='file in rec._data[schema.id]'>{{file.name}}</span>
                            </span>
                            <span ng-switch-when="date">{{(rec._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                            <span ng-switch-default ng-bind-html="rec._data[schema.id]"></span>
                        </div>
                    </div>
                </div>
                <button class='btn btn-default btn-sm' ng-click="gotoDetail(app)"> 查看活动全部数据</button>
            </a>
        </div>
        <div class='list-group'>
            <a href='javascript:void(0)' class='list-group-item app signin' ng-repeat="app in missionApps.signin">
                <div class='form-group'>
                    <div class='title' ng-bind="app.title"></div>
                </div>
                <div class='list-group'>
                    <div class='list-group-item record' ng-repeat="rec in recordsByApp.signin[app.id]">
                        <div><label>审核通过：</label><span>{{rec.verified}}</span></div>
                        <div><label>备注：</label><span>{{rec.comment}}</span></div>
                        <div><label>签到次数：</label><span>{{rec.signin_num}}</span></div>
                        <div ng-repeat="rnd in app.rounds">
                            <div><label>{{rnd.title}}：</label><span ng-class="{'signin_late':rnd.late_at!==0&&(rec.signin_log[rnd.rid]+60)>rnd.late_at}">{{rec.signin_log[rnd.rid]*1000|date:'yy-MM-dd HH:mm'}}</span></div>
                        </div>
                    </div>
                </div>
                <button class='btn btn-default btn-sm' ng-click="gotoDetail(app)"> 查看活动全部数据</button>
            </a>
        </div>
        <div class='list-group'>
            <a href='javascript:void(0)' class='list-group-item app group' ng-repeat="app in missionApps.group">
                <div class='form-group'>
                    <div class='title' ng-bind="app.title"></div>
                </div>
                <div class='list-group'>
                    <div class='list-group-item record' ng-repeat="rec in recordsByApp.group[app.id]">
                        <div><label>所属分组：</label><span>{{rec.round_title}}</span></div>
                    </div>
                </div>
                <button class='btn btn-default btn-sm' ng-click="gotoDetail(app)"> 查看活动全部数据</button>
            </a>
        </div>
	</div>
</div>
<script type="text/ng-template" id="assignUserApp.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">用户名单活动</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class='form-group'>
                <label class="col-md-3 control-label">活动类型</label>
                <div class="col-md-9">
                    <label class='radio-inline'><input type='radio' value='enroll' ng-model="data.appType">报名活动</label>
                    <label class='radio-inline'><input type='radio' value='signin' ng-model="data.appType">签到活动</label>
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">目标活动</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.appId" ng-options="app.id as app.title for app in apps"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>