body{background:#f8f8f8;padding:71px 0;}
body>nav{display:flex;}
body>nav>ul:nth-child(2){flex-grow:1;text-align:center;}
body>nav>ul:nth-child(2)>li{display:inline-block;float:none;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile .tile-toggle{position:absolute;top:-15px;right:-15px;width:32px;height:32px;border:1px solid #ddd;border-radius:50%;background:#fff;}
.tile .tile-toggle i{display:inline-block;position:absolute;top:50%;left:50%;margin-left:-10px;margin-top:-9px;color:#ccc;font-size:20px;}
.tile .tile-toggle i:hover{color:#333;}

/*setting*/
.tile .form-group,.tile .checkbox{padding:8px;background:#fff;border-radius:4px;}
.tile .form-group.compact,.tile .checkbox.compact{margin-bottom:0}
.tile .form-group:last-child{margin-bottom:0;}
table th{text-align:center;}
th.name{width:100px;}
th.mobile{width:100px;}

/*running*/
.running .rounds .thumbnail{text-align:center;}