.ng-cloak{display:none;}
body{padding:71px 0;font-family:Microsoft Yahei,Arial;}
.navbar-nav.tms-breadcrumb>li>a{padding-left:0;padding-right:0;color:#428bca;max-width:12em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.navbar-nav.tms-breadcrumb>li:last-child>a{color:#777;}
.navbar-nav.tms-breadcrumb>li+li>a:before{content:'/\00a0';padding-left:5px;color:#ccc;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile .tile-toggle{position:absolute;top:-15px;right:-15px;width:32px;height:32px;border:1px solid #ddd;border-radius:50%;background:#fff;}
.tile .tile-toggle i{display:inline-block;position:absolute;top:50%;left:50%;margin-left:-10px;margin-top:-9px;color:#ccc;font-size:20px;}
.tile .tile-toggle i:hover{color:#333;}

/*setting*/
.tile .form-group,.tile .checkbox{padding:8px;background:#fff;border-radius:4px;}
.tile .form-group.compact,.tile .checkbox.compact{margin-bottom:0}
.tile .form-group:last-child{margin-bottom:0;}
table th{text-align:center;}
th.name{width:100px;}
th.mobile{width:100px;}

/*players*/
table img{max-width:96px;}

/*running*/
.running .rounds .thumbnail{text-align:center;}