<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <a  href='/rest/pl/fe/matter/group/setting?site={{siteId}}&id={{id}}' ng-bind='app.title'></a>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <button class='btn btn-block btn-success' ng-click='syncByApp()'>同步用户</button>
        </div>
        <div class='list-group'>
            <a class='list-group-item' ng-class="{'active':!editingRound}" ng-click="open(false)" style='text-align:center'>全部</a>
            <a class='list-group-item' ng-class="{'active':r===editingRound}" ng-repeat='r in rounds' ng-click='open(r)'>
                <span>{{r.title}}</span>
            </a>
        </div>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th ng-if="!editingRound"></th>
                    <th>序号</th>
                    <th>昵称</th>
                    <th>姓名</th>
                    <th>手机号</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="w in winners">
                    <td ng-if="!editingRound">{{w.title}}</td>
                    <td>{{$index+1}}</td>
                    <td>{{w.nickname}}</td>
                    <td>{{w.name}}</td>
                    <td>{{w.mobile}}</td>
                </tr>
            </tbody>
        </table>
        <div class='help-block'>分组结果</div>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block btn-default' ng-click="stop()">停止</button>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>
                <a href="javascript:void(0)" ng-click="gotoCode()">编辑页面</a>
                <a href="javascript:void(0)" ng-click="resetCode()">重置页面</a>
            </div>
            <div class='form-control' ng-bind="opUrl" style="height:auto;word-break:break-all;"></div>
            <div class='help-block'>投影地址</div>
        </div>
    </div>
    <div class='form-group'>
        <a href='/rest/pl/fe/matter/group/player?site={{siteId}}&id={{id}}'>分组用户</a>
    </div>
</div>