<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model="app.title" tms-auto-update tms-wait=1000 tms-update="update('title')">
            <div class='help-block'>标题：最多35个汉字，70个英文字符</div>
        </div>
        <div class='form-group compact' ng-if="app.mission.multi_phase==='Y'">
            <select class='form-control' ng-model="app.mission_phase_id" ng-change="update('mission_phase_id')" ng-options="phase.phase_id as phase.title for phase in app.mission.phases">
                <option></option>
            </select>
            <div class='help-block'>项目阶段</div>
        </div>
        <div class='form-group'>
            <textarea class='form-control' ng-model="app.summary" tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
            <div class='help-block'>摘要（可选）：最多120个汉字，240个英文字符</div>
        </div>
        <div class='form-group'>
            <select class='form-control' ng-model='app.scenario' ng-change="update('scenario');">
                <option value='split'>拆分</option>
                <option value='extract'>抽取</option>
            </select>
            <div class='help-block'>分组类型</div>
        </div>
    </div>
    <div class='tile' ng-controller="ctrlRule">
        <div class='form-group'>
            <button class='btn btn-success' ng-click='configRule()'>设置规则</button>
            <button class='btn btn-success' ng-click='addRound()'>添加分组</button>
        </div>
        <div class='list-group'>
            <a class='list-group-item' ng-class="{'active':r===editingRound}" ng-repeat='r in rounds' ng-click='open(r)' style='min-height:41px'>
                <span>{{r.title}}</span>
                <button class='btn btn-xs btn-default pull-right' ng-if="r===editingRound" ng-click='removeRound()'><span class='glyphicon glyphicon-remove'></span></button>
            </a>
        </div>
        <div ng-if='editingRound'>
            <div class='form-group'>
                <input type='text' class='form-control' ng-model='editingRound.title' tms-auto-update tms-wait=1000 tms-update="updateRound('title')">
                <div class='help-block'>名称</div>
            </div>
            <div class='form-group'>
                <input type='text' class='form-control' ng-model='editingRound.times' tms-auto-update tms-wait=1000 tms-update="updateRound('times')">
                <div class='help-block'>人数</div>
            </div>
            <div class='checkbox'>
                <label><input type='checkbox' ng-model='editingRound.autoplay' ng-true-value="'Y'" ng-false-value="'N'" ng-change="updateRound('autoplay')">自动抽取</label>
            </div>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:80px'>抽取规则</th>
                        <th>抽取对象</th>
                        <th style='width:48px'>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="t in aTargets">
                        <td>{{$index+1}}</td>
                        <td>{{labelTarget(t)}}</td>
                        <td>
                            <button class='btn btn-default btn-sm' ng-click='removeTarget($index)'>
                            <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=3>
                            <button class='btn btn-primary pull-right' ng-click='addTarget()'>添加规则</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='help-block'>分组规则</div>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block btn-success' ng-click="run()">开始</button>
        <button class='btn btn-block btn-default' ng-click="remove()">删除</button>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <button class='btn btn-block btn-success' ng-click='importByApp()'>导入用户</button>
        </div>
        <div class='form-group' ng-if="app.sourceApp">
            <div class="input-group">
                <div class='form-control' ng-bind="app.sourceApp.title"></div>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="cancelSourceApp()">
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </span>
            </div>
            <div class="help-block">分组用户来源</div>
        </div>
        <div class='form-group'>
            <a href='/rest/pl/fe/matter/group/player?site={{siteId}}&id={{id}}'>分组用户</a>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>创建人：{{app.creater_name}}</div>
            <div>创建时间：{{app.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
            <div>修改人：{{app.modifier_name}}</div>
            <div>最后一次修改时间：{{app.modify_at*1000|date:'yy-MM-dd HH:mm'}}</div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="configRule.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">分组条件</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class='form-group'>
                <label class="col-md-3 control-label">分组数量</label>
                <div class="col-md-9">
                    <input type='text' class="form-control" ng-model="rule.count">
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">每组人数</label>
                <div class="col-md-9">
                    <input type='text' class="form-control" ng-model="rule.times">
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">分组属性</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="rule.schema" ng-options="schema.title for schema in schemas">
                        <option></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="importByApp.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">筛选条件</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal record-editor">
            <div class='form-group'>
                <label class="col-md-3 control-label">数据来源</label>
                <div class="col-md-9">
                    <label class='radio-inline'><input type='radio' name='appType' value='registration' ng-model="data.appType">报名</label>
                    <label class='radio-inline'><input type='radio' name='appType' value='signin' ng-model="data.appType">签到</label>
                </div>
            </div>
            <div class='form-group'>
                <label class="col-md-3 control-label">目标活动</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.app" ng-options="app.id as app.title for app in apps"></select>
                    <div class='checkbox' ng-if="app.mission">
                        <label><input disabled type='checkbox' ng-model="data.sameMission" ng-true-value="'Y'" ng-false-value="'N'">选择同一个项目中的活动</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="targetEditor.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">抽取条件</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group" ng-repeat="s in schemas" ng-if="s.id.indexOf('member')!==0">
                <label class="col-md-3 control-label">{{s.title}}</label>
                <div class="col-md-9" ng-if="s.type!=='single'&&s.type!=='multiple'">
                    <input type='text' class='form-control' ng-model="target[s.id]">
                </div>
                <div class="col-md-9" ng-if="s.type==='single'||s.type==='multiple'">
                    <select class='form-control' ng-model="target[s.id]" ng-options="op.v as op.l for op in s.ops">
                        <option></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>