<div class='col-md-8'>
    <div class='tile'>
        <div class='form-group'>
            <input type='text' class='form-control' ng-model='app.title' ng-change="update('title');">
            <div class='help-block'>标题：最多35个汉字，70个英文字符</div>
        </div>
        <div class='form-group'>
            <textarea class='form-control' ng-model='app.summary' ng-change="update('summary');"></textarea>
            <div class='help-block'>摘要（可选）：最多120个汉字，240个英文字符</div>
        </div>
    </div>
</div>
<div class='col-md-4'>
    <div class='tile'>
        <button class='btn btn-block btn-success' ng-click='importByApp()'>导入用户</button>
        <button class='btn btn-block' ng-click="submit()" ng-disabled='!modified' ng-class="modified?'btn-success':'btn-default'">保存</button>
        <button class='btn btn-block' ng-click="run()" ng-disabled='modified' ng-class="modified?'btn-default':'btn-success'">开始</button>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <a href='/rest/pl/fe/matter/group/player?site={{siteId}}&id={{id}}'>分组用户</a>
        </div>
    </div>
    <div class='tile'>
        <div class='form-group'>
            <div>创建人：{{app.creater_name}}</div>
            <div>创建时间：{{app.create_at*1000|date:'yy-MM-dd HH:mm'}}</div>
            <div>修改人：{{app.modifier_name}}</div>
            <div>最后一次修改时间：{{app.modify_at*1000|date:'yy-MM-dd HH:mm'}}</div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="importByApp.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title">筛选条件</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal record-editor">
            <div class='form-group'>
                <label class="col-md-3 control-label">目标活动</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="data.source" ng-options="app.id as app.title for app in apps"></select>
                    <div class='checkbox' ng-if="app.mission">
                        <label><input disabled type='checkbox' ng-model="data.sameMission" ng-true-value="'Y'" ng-false-value="'N'">选择同一个项目中的活动</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>