<p></p>
<div ng-controller="customCtrl">
<!-- begin: generate by schema -->
<?php foreach ($this->schema as $schemaWrap) {$schema=$schemaWrap->schema;?>
<h4><?php echo $schema->title; ?></h4>
<div class="container">
	<div class="row" tms-checkbox-group="<?php echo $schema->id; ?>" tms-checkbox-group-model="data" tms-checkbox-group-upper="<?php echo count($schema->ops);?>">
		<?php foreach ($schema->ops as $op) {?>
		<div class="col-xs-6" name="<?php echo $schema->id; ?>" ng-click="chooseOption($event,'<?php echo $schema->id; ?>','<?php echo $op->v; ?>')">
			<div class="thumbnail">
				<div><?php echo $op->l; ?></div>
			</div>
		</div>
		<?php } ?>
	</div>
</div>
<?php } ?>
<!-- end: generate by schema -->
</div>