body{background:#f8f8f8;padding-top:71px;}
.shortcut.navbar-nav{position:absolute;left:50%;margin-left:-58px;float:none;}
.tile{position:relative;border:1px solid #ddd;border-radius:4px;padding:8px;background:#f8f8f8;margin-bottom:15px;}
.tile .tile-toggle{position:absolute;top:-15px;right:-15px;width:32px;height:32px;border:1px solid #ddd;border-radius:50%;background:#fff;}
.tile .tile-toggle i{display:inline-block;position:absolute;top:50%;left:50%;margin-left:-10px;margin-top:-9px;color:#ccc;font-size:20px;}
.tile .tile-toggle i:hover{color:#333;}

/*setting*/
.tile .form-group,.tile .checkbox{padding:8px;background:#fff;border-radius:4px;}
.help-block{margin-bottom:0;}
.tile .form-group:last-child{margin-bottom:0;}