<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrl'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title>lock</title>
        <link href="//libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/test/lock/lock.css?_=3" rel="stylesheet">
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <div class='container-fluid'>
            <div class='row'>
                <input class='form-control' type='text' tms-lock="lock">
                <button class='btn btn-default' tms-lock="lock" tms-lock-promoter="Y" ng-click="longFn()">long action</button>
                <button class='btn btn-default' tms-lock="lock" ng-click="otherFn()">other action</button>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/angular.min.js "></script>
        <script src="/test/lock/lock.js?_=1"></script>
    </body>
</html>