.site-navbar-light.navbar {
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.site-navbar-light {
    background-color: #fff;
    border-color: #fff;

    .site-nav {
        display: flex;
        line-height: 1;

        >li {
            flex-grow: 1;


            >a {
                text-align: center;
                letter-spacing: 2px;
                color: #333;
                padding: 0;

                &:hover,
                &:focus {
                    background-color: #fff;
                }

                >i {
                    display: block;
                    height: 18px;
                    margin-bottom: 4px;
                    font-size: 18px;
                    top: 0;
                    left: -1px;
                }

                >span {
                    display: block;
                    font-size: 12px;
                }
            }

            &.active>a {
                color: #0084ff;
            }
        }

    }
}

.site-navbar-primary.nav {
    height: 44px;
    padding-top: 12px;
}

.site-navbar-primary {
    background-color: #0084ff;
    border-color: #0084ff;

    .col-md-12.col-xs-12 {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .site-nav {
            margin-right: -15px;
            white-space: nowrap;
            font-size: 14px;
            line-height: 1;

            >li {
                display: inline-block;
                margin-right: 10%;

                >a {
                    height: 14px;
                    color: #a6d4ff;
                    letter-spacing: 2px;
                    padding: 0;

                    &:hover,
                    &:focus {
                        background-color: #0084ff;
                    }
                }

                >span {
                    display: none;
                    width: 60%;
                    height: 2px;
                    background-color: #fff;
                    margin: auto;
                    margin-top: 4px;
                }

                &.active {
                    >a {
                        color: #fff;
                        font-weight: 600;
                    }

                    >span {
                        display: block;
                    }
                }
            }
        }
    }
}

.app {
    padding: 54px 0 60px 0;
}

/* task */
#tasks {
    .tasks {
        .state-IP {
            background-color: #FFDF25;
        }

    }
}

/* event */
#event {
    .notice {
        position: relative;

        .seq {
            position: absolute;
            top: -0.8em;
            left: -0.5em;

            &.label {
                padding-bottom: .2em;
                font-weight: 400;
                border-radius: .5em;
            }
        }

        .event {
            &>*+* {
                margin-top: .5em;
            }

            .event-user,
            .event-action {
                font-size: .9em;
            }

            .event-action {
                a {
                    display: inline-block;
                    color: #777;
                }

                &>*+* {
                    margin-left: 1em;
                }
            }
        }
    }

    .action {
        position: relative;

        .seq {
            position: absolute;
            top: -0.8em;
            left: -0.5em;

            &.label {
                padding-bottom: .2em;
                font-weight: 400;
                border-radius: .5em;
            }
        }

        .event {
            &>*+* {
                margin-top: .5em;
            }
        }

        .footer {
            display: flex;
            margin-top: .5em;
            font-size: .9em;

            .datetime {
                flex: 1;
            }
        }
    }
}

/* kanban */
#kanbanView {
    #kanban {
        overflow-x: auto;

        .wrap {
            min-width: 640px;
        }

        .user {
            display: flex;

            &>div:first-child {
                width: 6em;
            }

        }

        .who {
            &>div {
                margin-bottom: .5em;
            }

        }

        .data {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            &>div {
                display: flex;
                order: 5;

                &>div:first-child {
                    width: 6em;
                }

                &>div:last-child {
                    flex: 1;
                    display: flex;

                    &>div {
                        flex: 1;
                    }

                }

            }

            &>div {
                margin-bottom: .5em;
            }

            .pos {
                display: inline-block;
                padding: 0 .25em;
                border-radius: .5em;
                border: 1px solid #ddd;
            }

            .ordered {
                color: red;
                order: 1;

                &>div:nth-child(2)>div:first-child>span {
                    border-color: red;
                }

            }

        }

    }

    .table-responsive {
        overflow-x: auto;
        min-height: 0.01%;
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        background-color: #fff;

        >.table {
            margin-bottom: 0;

            >thead,
            >tbody,
            >tfoot {
                >tr {

                    >th,
                    >td {
                        white-space: nowrap;
                    }

                }

            }

        }

        >.table-bordered {
            border: 0;

            >thead,
            >tbody,
            >tfoot {
                >tr {

                    >th:first-child,
                    >td:first-child {
                        border-left: 0;
                    }

                    >th:last-child,
                    >td:last-child {
                        border-right: 0;
                    }

                }

            }

            >tbody,
            >tfoot {
                >tr:last-child {

                    >th,
                    >td {
                        border-bottom: 0;
                    }

                }
            }
        }
    }

    tr.undone td:nth-child(2) {
        color: red;
    }

    td.undone {
        color: red;
    }

    #user-detail {
        &>div {
            display: flex;

            &>div {
                padding: .25em 0;
            }

            &>div:first-child {
                width: 12em;
            }

            &>div:nth-child(2) {
                flex: 1;
            }

        }

    }
}