body {
    margin-bottom: 64px;
}

.action {
    position: relative;

    .seq {
        position: absolute;
        top: -0.8em;
        left: -0.5em;

        &.label {
            padding-bottom: .2em;
            font-weight: 400;
            border-radius: .5em;
        }

    }

    .event {
        &>*+* {
            margin-top: .5em;
        }

    }

    .footer {
        display: flex;
        margin-top: .5em;
        font-size: .9em;

        .datetime {
            flex: 1;
        }

    }

}

.site-pagination {
    ul {
        margin: 0;
    }

}
