<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=2' rel="stylesheet">
</head>

<body ng-controller="ctrlAction">
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-bell visible-lg-inline"></i> <span tms-app-nav app-navs="appNavs">动态</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="favor(user, app)" class="tms-switch-favor"><i class="glyphicon glyphicon-star-empty"></i><span class="visible-lg-inline">收藏</span></a>
                </li>
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak app'>
        <div class='container'>
            <div ng-if="tasks.length">
                <div uib-alert ng-repeat="task in tasks" class='alert-info' close="closeTask($index)" ng-switch="task.id">
                    <span>{{task.msg}}</span>
                    <span ng-switch-when="record.submit.end"><span ng-if="task.coin">每条记录可获得【{{task.coin}}个】积分，</span><a href class="alert-link" ng-click="addRecord($event)">去添加</a></span>
                    <span ng-switch-when="record.like.pre"></span>
                    <span ng-switch-when="record.like.end"></span>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <label class='radio-inline'>
                            <input type='radio' name='scope' value='N' ng-model="filter.scope">通知</label>
                        <label class='radio-inline'>
                            <input type='radio' name='scope' value='M' ng-model="filter.scope">我的</label>
                        <label class='radio-inline'>
                            <input type='radio' name='scope' value='A' ng-model="filter.scope">全部</label>
                    </div>
                    <!--notice list-->
                    <div ng-if="filter.scope==='N'">
                        <div class='list-group'>
                            <div class='notice list-group-item' ng-repeat="notice in notices">
                                <div class='seq label label-default'>{{((page.at-1)*page.size)+$index+1}}</div>
                                <div class='event'>
                                    <div class='tms-flex-row text-muted event-user'>
                                        <div class='tms-flex-grow'>{{notice.event_nickname}}</div>
                                        <div>{{notice.event_at*1000|date:'MM-dd HH:mm'}}</div>
                                    </div>
                                    <div ng-switch on="notice.event_name" ng-click="gotoCowork(notice.enroll_key)">
                                        <div ng-switch-when="site.matter.enroll.submit">
                                            <span>（{{notice.notice_reason}}）</span>
                                            <div ng-switch on="notice.notice_reason">
                                                <div ng-switch-when="same.group">在你们的分组下添加记录</div>
                                                <div ng-switch-when="as.editor">添加记录</div>
                                                <div ng-switch-when="as.super">添加记录</div>
                                                <div ng-switch-default> 添加记录
                                                    <span>（{{notice.notice_reason}}）</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="site.matter.enroll.cowork.do.submit">
                                            <div ng-switch on="notice.notice_reason">
                                                <div ng-switch-when="record.owner">在你的记录（问题）下添加了协作数据（答案）</div>
                                                <div ng-switch-when="other.cowork">你们在同一记录（问题）下添加了协作数据（答案）</div>
                                                <div ng-switch-when="same.group">在你们组的记录下（问题）添加了协作数据（答案）</div>
                                                <div ng-switch-default> 添加协作数据
                                                    <span>（{{notice.notice_reason}}）</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-when="site.matter.enroll.do.remark">
                                            <div ng-switch on="notice.notice_reason">
                                                <div ng-switch-when="record.owner">在你的记录（问题）下留言</div>
                                                <div ng-switch-when="record.data.owner">在你的协作数据（答案）下留言</div>
                                                <div ng-switch-when="remark.owner">在你的留言下留言</div>
                                                <div ng-switch-default>留言
                                                    <span>（{{notice.notice_reason}}）</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-switch-default>
                                            {{notice.event_name}}
                                        </div>
                                    </div>
                                    <div class='text-right event-action'>
                                        <a href ng-click="closeNotice(notice)">关闭</a>
                                        <a href ng-click="closeNotice(notice,true)">看看并关闭</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='site-pagination text-center'>
                            <ul uib-pagination ng-if="page.total>page.size" boundary-links="true" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="searchNotice()"></ul>
                        </div>
                    </div>
                    <!--end notice list-->
                    <!--log list-->
                    <div ng-if="filter.scope==='A'||filter.scope==='M'">
                        <div class='list-group'>
                            <div class='action list-group-item' ng-repeat="log in logs">
                                <div class='seq label label-default'>{{((page.at-1)*page.size)+$index+1}}</div>
                                <div class='event' ng-switch on="log.event_name">
                                    <div ng-switch-when="site.matter.enroll.submit">
                                        <span class='nickname'>{{log.nickname}}</span> 添加记录
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.cowork.do.submit">
                                        <span class='nickname'>{{log.nickname}}</span> 在
                                        <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的记录下添加数据
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.do.remark">
                                        <div ng-switch on="log.target_type">
                                            <div ng-switch-when="record">
                                                <div ng-switch on="log.event_op">
                                                    <span class='nickname'>{{log.nickname}}</span> 在
                                                    <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的记录下<span ng-switch-when="New">添加</span><span ng-switch-when="Upd">修改</span>留言
                                                </div>
                                            </div>
                                            <div ng-switch-when="record.data">
                                                <div ng-switch on="log.event_op">
                                                    <span class='nickname'>{{log.nickname}}</span> 在
                                                    <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的数据下<span ng-switch-when="New">添加</span><span ng-switch-when="Upd">修改</span>留言
                                                </div>
                                            </div>
                                            <div ng-switch-when="remark">
                                                <div ng-switch on="log.event_op">
                                                    <span class='nickname'>{{log.nickname}}</span> 在
                                                    <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的留言下<span ng-switch-when="New">添加</span><span ng-switch-when="Upd">修改</span>留言
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.data.do.like">
                                        <div ng-switch on="log.event_op">
                                            <div ng-switch-when="Y">
                                                <span class='nickname'>{{log.nickname}}</span> 对
                                                <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的记录点赞
                                            </div>
                                            <div ng-switch-when="N">
                                                <span class='nickname'>{{log.nickname}}</span> 对
                                                <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的记录取消点赞
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.cowork.do.like">
                                        <div ng-switch on="log.event_op">
                                            <div ng-switch-when="Y">
                                                <span class='nickname'>{{log.nickname}}</span> 对
                                                <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的数据点赞
                                            </div>
                                            <div ng-switch-when="N">
                                                <span class='nickname'>{{log.nickname}}</span> 对
                                                <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的数据取消点赞
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.remark.do.like">
                                        <div ng-switch on="log.event_op">
                                            <div ng-switch-when="Y">
                                                <span class='nickname'>{{log.nickname}}</span> 对
                                                <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的留言点赞
                                            </div>
                                            <div ng-switch-when="N">
                                                <span class='nickname'>{{log.nickname}}</span> 对
                                                <span class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</span> 的留言取消点赞
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.data.get.agree">
                                        <div ng-switch on="log.event_op">
                                            <div ng-switch-when="Y">
                                                <span class='nickname'>{{log.owner_nickname}}</span> 的记录获得推荐
                                            </div>
                                            <div ng-switch-default>
                                                <span class='nickname'>{{log.owner_nickname}}</span> 的记录被修改了表态
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.cowork.get.agree">
                                        <div ng-switch on="log.event_op">
                                            <div ng-switch-when="Y">
                                                <span class='nickname'>{{log.owner_nickname}}</span> 的数据获得推荐
                                            </div>
                                            <div ng-switch-default>
                                                <span class='nickname'>{{log.owner_nickname}}</span> 的数据被修改了表态
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-when="site.matter.enroll.remark.get.agree">
                                        <div ng-switch on="log.event_op">
                                            <div ng-switch-when="Y">
                                                <span class='nickname'>{{log.owner_nickname}}</span> 的留言获得推荐
                                            </div>
                                            <div ng-switch-default>
                                                <span class='nickname'>{{log.owner_nickname}}</span> 的留言被修改了表态
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        <div class='nickname'>{{log.nickname}}</div>
                                        <div class='eventname'>{{log.eventName}}</div>
                                        <div class='nickname' ng-if="log.owner_nickname">{{log.owner_nickname}}</div>
                                        <div ng-if="log.event_op">{{log.event_op}}</div>
                                    </div>
                                    <div class='coin' ng-if="log.earn_coin>0">
                                        <span>{{log.nickname}}</span> 得到 <span>{{log.earn_coin}}</span> 个积分
                                    </div>
                                    <div class='coin' ng-if="log.owner_earn_coin>0">
                                        <span>{{log.owner_nickname}}</span> 得到 <span>{{log.owner_earn_coin}}</span> 个积分
                                    </div>
                                </div>
                                <div class='footer'>
                                    <div class='datetime text-muted'>{{log.event_at*1000|date:'MM-dd HH:mm'}}</div>
                                    <div ng-if="log.canGotoCowork">
                                        <a href ng-click="gotoCowork(log.enroll_key)">查看<span class='glyphicon glyphicon-menu-right'></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='site-pagination text-center'>
                            <ul uib-pagination ng-if="page.total>page.size" boundary-links="true" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="searchEvent()"></ul>
                        </div>
                    </div>
                    <!--end log list-->
                </div>
            </div>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/action.js');?>"></script>
</body>

</html>