<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
</head>

<body ng-controller="ctrlCowork" tms-trace send-url='/rest/site/fe/matter/enroll/analysis/submit?site={{app.siteid}}&app={{app.id}}&page=cowork&record={{record.id}}' ready-sign="record">
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-comment visible-lg-inline"></i> <span tms-pop-nav navs="popNav.navs" close-after='5000' custom="popNav.custom">讨论页</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">个人中心</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak app container'>
        <div class='row'>
            <div ng-if="tasks.length" ng-cloak>
                <div uib-alert ng-repeat="task in tasks" class='alert-info'>
                    <div><label><input type='checkbox' name='forTask' ng-true-value="'{{task.id}}'" ng-model="forTask"> 问题留言后，题目作为任务提交</label></div>
                    <div ng-bind="task"></div>
                </div>
            </div>
            <div id='record' class='record'>
                <div class='top-bar'>
                    <div class='nickname text-muted'><span class='glyphicon glyphicon-user'></span> {{record.nickname||'隐藏'}}</div>
                    <button ng-if="record.favored" class="btn btn-default btn-xs" ng-click="favorRecord(record)">已收藏</button>
                    <div ng-if="record._canAgree">
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                <span ng-if="record.agreed===''">未表态</span>
                                <span ng-if="record.agreed==='D'">讨论</span>
                                <span ng-if="record.agreed==='A'">接受</span>
                                <span ng-if="record.agreed==='Y'">推荐</span>
                                <span ng-if="record.agreed==='N'">关闭</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                <li><a href ng-click="setAgreed('')">不表态</a></li>
                                <li><a href ng-click="setAgreed('D')">讨论</a></li>
                                <li><a href ng-click="setAgreed('A')">接受</a></li>
                                <li><a href ng-click="setAgreed('Y')">推荐</a></li>
                                <li><a href ng-click="setAgreed('N')">关闭</a></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="!record._canAgree&&(record.agreed==='Y'||user.uid===record.userid||user.is_editor==='Y')" ng-switch on="record.agreed">
                        <button ng-switch-when="D" class='btn btn-xs btn-danger'>讨论</button>
                        <button ng-switch-when="Y" class='btn btn-xs btn-success'>推荐</button>
                        <button ng-switch-when="N" class='btn btn-xs btn-danger'>关闭</button>
                        <button ng-switch-when="" class='btn btn-xs btn-default'>未表态</button>
                    </div>
                </div>
                <hr>
                <div class='data'>
                    <blockquote>
                        <div tms-repos-record-data schemas="visibleSchemas" record="record"></div>
                    </blockquote>
                </div>
                <div class='bottom-bar small text-muted'>
                    <div><span ng-if="record.enroll_at>0">{{::record.enroll_at*1000|date:'MM-dd HH:mm'}}</span></div>
                    <a href ng-click="likeRecord()"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':record.like_log[user.uid]}"></span>&nbsp;<span ng-bind="record.like_num"></span></a>
                    <a href ng-click="dislikeRecord()"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':record.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="record.dislike_num"></span></a>
                    <a href ng-if="app.scenarioConfig.no_remark!=='Y'&&params.entryRuleResult.passed==='Y'" ng-click="writeRemark()"><span class="glyphicon glyphicon-comment"></span>&nbsp;<span ng-bind="record.rec_remark_num"></span></a>
                    <div class="btn-group" uib-dropdown>
                        <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li><a href ng-click="shareRecord(record)"><span class='glyphicon glyphicon-share'></span> 分享</a></li>
                            <li ng-if="!record.favored"><a href ng-click="favorRecord(record)"><span class='glyphicon glyphicon-bookmark'></span> 收藏</a></li>
                            <li><a href ng-click="assignTag(record)"><span class='glyphicon glyphicon-tag'></span> 标签</a></li>
                            <li ng-if="record.favored"><a href ng-click="assignTopic(record)"><span class='glyphicon glyphicon-inbox'></span> 专题</a></li>
                            <li ng-if="record.userid===user.uid||user.is_editor==='Y'"><a href ng-click="editRecord($event)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                            <li ng-if="app.scenarioConfig.can_assoc==='Y'" class='divider'></li>
                            <li ng-if="app.scenarioConfig.can_assoc==='Y'"><a href ng-click="copyRecord(record)"><span class='glyphicon glyphicon-copy'></span> 复制</a></li>
                            <li ng-if="app.scenarioConfig.can_assoc==='Y'"><a href ng-click="pasteRecord(record)"><span class='glyphicon glyphicon-paste'></span> 粘贴</a></li>
                            <li ng-if="app.transmitConfig.length&&user.is_editor==='Y'"><a href ng-click="transmitRecord(record)"><span class='glyphicon glyphicon-transfer'></span> 转发</a></li>
                        </ul>
                    </div>
                </div>
                <div class='tags' ng-if="record.userTags">
                    <button class='btn btn-default btn-xs' ng-repeat="tag in record.userTags" ng-bind="tag.label"></button>
                </div>
                <div class='assocs' ng-if="record.assocs.length">
                    <div ng-repeat="assoc in record.assocs" ng-if="assoc.entityB" class='tms-flex-row small'>
                        <div ng-if="assoc.assoc_reason" class='assoc-reason'><span ng-bind="assoc.assoc_reason"></span></div>
                        <div ng-click="gotoAssoc(assoc.entityB)" class='tms-flex-grow assoc-text'><i class='glyphicon glyphicon-link text-muted'></i> <span ng-bind="assoc.assoc_text"></span></div>
                        <div class="btn-group" uib-dropdown>
                            <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right  dropdown-menu-top" uib-dropdown-menu>
                                <li ng-if="assoc.log"><a href ng-click="removeAssoc(assoc)"><span class='glyphicon glyphicon-remove'></span> 取消</a></li>
                                <li><a href ng-click="editAssoc(assoc)"><span class='glyphicon glyphicon-edit'></span> 修改</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id='cowork' ng-if="coworkSchemas.length">
                <div ng-if="coworkTasks.length">
                    <div uib-alert ng-repeat="task in coworkTasks" class='alert-info' close="closeCoworkTask($index)" ng-switch="task.id">
                        <span>{{task.msg}}</span>
                        <span ng-switch-when="cowork.submit.end"></span>
                    </div>
                </div>
                <div class='schemaList' ng-controller="ctrlCoworkData">
                    <div ng-repeat="schema in coworkSchemas">
                        <div class='text-muted data-title'>{{::schema.title}}</div>
                        <div id='item-{{item.id}}' ng-repeat="item in record.verbose[schema.id].items" class='item'>
                            <hr>
                            <div class='top-bar tms-flex-row'>
                                <div class='seq tms-flex-grow text-muted'>#<span ng-bind="item.multitext_seq"></span></div>
                                <span ng-if="item.voteResult&&item.voteResult.state!=='BS'">得票：<span ng-bind="item.voteResult.vote_num"></span></span>
                                <div ng-if="(app.actionRule.cowork.agreed.pre.author&&user.uid==record.userid)||record._canAgree">
                                    <div class="btn-group" uib-dropdown>
                                        <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                            <span ng-if="item.agreed===''">未表态</span>
                                            <span ng-if="item.agreed==='D'">讨论</span>
                                            <span ng-if="item.agreed==='A'">接受</span>
                                            <span ng-if="item.agreed==='Y'">推荐</span>
                                            <span ng-if="item.agreed==='N'">关闭</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li><a href ng-click="agreeItem(item,'')">不表态</a></li>
                                            <li><a href ng-click="agreeItem(item,'D')">讨论</a></li>
                                            <li><a href ng-click="agreeItem(item,'A')">接受</a></li>
                                            <li><a href ng-click="agreeItem(item,'Y')">推荐</a></li>
                                            <li><a href ng-click="agreeItem(item,'N')">关闭</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="!(app.actionRule.cowork.agreed.pre.author&&user.uid==record.userid)&&!record._canAgree&&(item.agreed==='Y'||(item.agreed==='D'&&user.uid===record.userid)||user.uid===item.userid||user.is_editor==='Y')" ng-switch on="item.agreed">
                                    <button ng-switch-when="D" class='btn btn-xs btn-danger'>讨论</button>
                                    <button ng-switch-when="Y" class='btn btn-xs btn-success'>推荐</button>
                                    <button ng-switch-when="N" class='btn btn-xs btn-danger'>关闭</button>
                                    <button ng-switch-when="" class='btn btn-xs btn-default'>未表态</button>
                                </div>
                                <div ng-if="!item._others||user.is_editor==='Y'">
                                    <div class="btn-group" uib-dropdown>
                                        <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                            <span class="glyphicon glyphicon-option-vertical"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li><a href ng-click="removeItem(schema,$index)"><span class='glyphicon glyphicon-trash'></span> 删除</a></li>
                                            <li><a href ng-click="editItem(schema,$index)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                                            <li ng-if="user.is_editor==='Y'"><a href ng-click="assocMatter(item)"><span class='glyphicon glyphicon-link'></span> 关联</a></li>
                                            <li ng-if="app.scenarioConfig.no_remark!=='Y'"><a href ng-click="coworkAsRemark(schema,$index)"><span class='glyphicon glyphicon-transfer'></span> 转为留言</a></li>
                                            <li ng-if="item.voteResult.state==='IP'&&item.voteResult.vote_at==0"><a href ng-click="vote(item)"><span class='glyphicon glyphicon-triangle-top'></span> 投票</a></li>
                                            <li ng-if="item.voteResult.state==='IP'&&item.voteResult.vote_at>0"><a href ng-click="unvote(item)"><span class='glyphicon glyphicon-triangle-bottom'></span> 取消投票</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <blockquote>
                                <p dynamic-html="item.value"></p>
                                <footer>{{item.nickname||'隐藏'}}</footer>
                            </blockquote>
                            <div class='assocs' ng-if="assocs.data[item.id].length">
                                <div ng-repeat="assoc in assocs.data[item.id]" ng-if="assoc.entityB" class='tms-flex-row small'>
                                    <div ng-if="assoc.assoc_reason" class='assoc-reason'><span ng-bind="assoc.assoc_reason"></span></div>
                                    <div ng-click="gotoAssoc(assoc.entityB)" class='tms-flex-grow assoc-text'><i class='glyphicon glyphicon-link text-muted'></i> <span ng-bind="assoc.assoc_text"></span></div>
                                    <div class="btn-group" uib-dropdown>
                                        <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                            <span class="glyphicon glyphicon-option-vertical"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right  dropdown-menu-top" uib-dropdown-menu>
                                            <li ng-if="assoc.log"><a href ng-click="removeItemAssoc(item,assoc)"><span class='glyphicon glyphicon-remove'></span> 取消</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class='bottom-bar small text-muted'>
                                <div>{{item.submit_at*1000|date:'MM-dd HH:mm'}}</div>
                                <a href ng-click="likeItem(item)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':item.like_log[user.uid]}"></span>&nbsp;<span ng-bind="item.like_num"></span></a>
                                <a href ng-click="dislikeItem(item)"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':item.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="item.dislike_num"></span></a>
                                <a href ng-if="app.scenarioConfig.no_remark!=='Y'&&params.entryRuleResult.passed==='Y'" ng-click="writeItemRemark(item)"><span class="glyphicon glyphicon-comment"></span>&nbsp;<span ng-bind="item.remark_num"></span></a>
                                <a href ng-click="shareItem(item)"><span class='glyphicon glyphicon-share'></span></a>
                            </div>
                        </div>
                        <div class='text-center' ng-if="canSubmitCowork">
                            <hr>
                            <button class="btn btn-primary" ng-click="addItem(schema)"><span class='glyphicon glyphicon-plus'></span> 添加 <span class='text-muted' ng-if="constraint">（还需要{{constraint.gap}}<span class='glyphicon glyphicon-thumbs-up'></span>）</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id='remarks' ng-if="app.scenarioConfig.no_remark!=='Y'">
                <div class='remark' ng-if="remarkTasks.length">
                    <div uib-alert ng-repeat="task in remarkTasks" class='alert-info' close="closeRemarkTask($index)" ng-switch="task.id">
                        <span>{{task.msg}}</span>
                    </div>
                </div>
                <div id="remark-{{remark.id}}" class='remark' ng-repeat="remark in remarks">
                    <div class='top-bar tms-flex-row'>
                        <div class='seq tms-flex-grow text-muted'>#<span ng-bind="remark.seq_in_record"></span> <span class='reply small' ng-if="remark.reply" ng-bind-html="remark.reply"></span></div>
                        <div ng-if="record._canAgree">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                    <span ng-if="remark.agreed===''">未表态</span>
                                    <span ng-if="remark.agreed==='D'">讨论</span>
                                    <span ng-if="remark.agreed==='A'">接受</span>
                                    <span ng-if="remark.agreed==='Y'">推荐</span>
                                    <span ng-if="remark.agreed==='N'">关闭</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href ng-click="agreeRemark(remark,'')">不表态</a></li>
                                    <li><a href ng-click="agreeRemark(remark,'D')">讨论</a></li>
                                    <li><a href ng-click="agreeRemark(remark,'A')">接受</a></li>
                                    <li><a href ng-click="agreeRemark(remark,'Y')">推荐</a></li>
                                    <li><a href ng-click="agreeRemark(remark,'N')">关闭</a></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="!record._canAgree&&(remark.agreed==='Y'||(remark.agreed==='D')||user.uid===remark.userid||user.is_editor==='Y')" ng-switch on="remark.agreed">
                            <button ng-switch-when="D" class='btn btn-xs btn-danger'>讨论</button>
                            <button ng-switch-when="Y" class='btn btn-xs btn-success'>推荐</button>
                            <button ng-switch-when="N" class='btn btn-xs btn-danger'>关闭</button>
                            <button ng-switch-when="" class='btn btn-xs btn-default'>未表态</button>
                        </div>
                        <div ng-if="remark.userid===user.uid">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                    <span class="glyphicon glyphicon-option-vertical"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href ng-click="editRemark(remark)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                                    <li class='divider'></li>
                                    <li><a href ng-click="removeRemark(remark)"><span class='glyphicon glyphicon-trash'></span> 删除</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <blockquote>
                        <p dynamic-html="remark.content"></p>
                        <footer>{{remark.nickname}}</footer>
                    </blockquote>
                    <div class='bottom-bar small text-muted'>
                        <div>{{remark.modify_at*1000|date:'MM-dd HH:mm'}}</div>
                        <a href ng-click="likeRemark(remark)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':remark.like_log[user.uid]}"></span>&nbsp;<span ng-bind="remark.like_num"></span></a>
                        <a href ng-click="dislikeRemark(remark)"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':remark.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="remark.dislike_num"></span></a>
                        <a href ng-if="params.entryRuleResult.passed==='Y'" ng-click="writeRemark(remark)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="remark.remark_num"></span></a>
                        <a href ng-click="shareRemark(remark)"><span class='glyphicon glyphicon-share'></span></a>
                    </div>
                </div>
                <div class='remark'>
                    <div class='text-center'>
                        <button class='btn btn-primary' ng-click="writeRemark()"><span class='glyphicon glyphicon-pencil'></span> 写留言</button>
                    </div>
                </div>
            </div>
        </div>
        <div id='favorGuide' ng-if="favorStack.guiding">
            <span>已收藏</span>
            <button class='btn btn-default' ng-click="assignTopic()">选择专题</button>
            <button class='btn btn-default' ng-click="assignTag()">添加标签</button>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script type="text/ng-template" id="transmitRecord.html">
        <div class="modal-body">
            <div class='list-group'>
                <div class='list-group-item' ng-class="{'active':result.config===config}" ng-click="result.config=config" ng-repeat="config in transmitConfig">
                    <div>{{::config.app.title}}</div>
                </div>
            </div>
            <div class='checkbox'>
                <label><input type='checkbox' ng-model="result.gotoNewRecord"> 转发后跳转到新记录</label>
            </div>
        </div>
        <div class="modal-footer" tms-hide-parent-height='400'>
            <div class='text-center'>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
                <button class="btn btn-default" ng-click="ok()" ng-disabled="!result.config">转发记录到指定的活动</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="writeItem.html">
        <div class="modal-body">
            <div id='itemEditor' content='data.content' tms-editor></div>
        </div>
        <div class="modal-footer" tms-hide-parent-height='400'>
            <div class='text-center'>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
                <button class="btn btn-primary" ng-click="ok()">提交</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="writeRemark.html">
        <div class="modal-body">
            <div id='remarkEditor' content='data.content' tms-editor></div>
        </div>
        <div class="modal-footer" tms-hide-parent-height='400'>
            <div class='text-center'>
                <button class="btn btn-default" ng-click="cancel()">关闭</button>
                <button class="btn btn-primary" ng-click="ok()">提交留言</button>
            </div>
        </div>
    </script>
    <script src="<?php echo auto_version('/static/js/xxt.ui.error.js');?>"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/cowork.js');?>"></script>
</body>

</html>