<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
</head>

<body ng-controller="ctrlCowork" class='matter_enroll'>
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-comment visible-lg-inline"></i> <span tms-app-nav app-navs="appNavs">讨论页</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak app'>
        <div class='container'>
            <div class='row'>
                <div id='record'>
                    <div class='top-bar'>
                        <div class='nickname text-muted'><span class='glyphicon glyphicon-user'></span> {{record.nickname||'隐藏'}}</div>
                        <div ng-if="record._canAgree">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                    <span ng-if="record.agreed===''">未表态</span>
                                    <span ng-if="record.agreed==='D'">讨论</span>
                                    <span ng-if="record.agreed==='A'">接受</span>
                                    <span ng-if="record.agreed==='Y'">推荐</span>
                                    <span ng-if="record.agreed==='N'">屏蔽</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                    <li><a href ng-click="setAgreed('')">不表态</a></li>
                                    <li><a href ng-click="setAgreed('D')">讨论</a></li>
                                    <li><a href ng-click="setAgreed('A')">接受</a></li>
                                    <li><a href ng-click="setAgreed('Y')">推荐</a></li>
                                    <li><a href ng-click="setAgreed('N')">屏蔽</a></li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="!record._canAgree&&(record.agreed==='Y'||user.uid===record.userid||user.is_editor==='Y')" ng-switch on="record.agreed">
                            <button ng-switch-when="D" class='btn btn-xs btn-danger'>讨论</button>
                            <button ng-switch-when="Y" class='btn btn-xs btn-success'>推荐</button>
                            <button ng-switch-when="N" class='btn btn-xs btn-danger'>屏蔽</button>
                            <button ng-switch-when="" class='btn btn-xs btn-default'>未表态</button>
                        </div>
                        <div ng-if="record.userid===user.uid">
                            <button class='btn btn-default btn-xs' ng-click="editRecord($event)"><span class='glyphicon glyphicon-edit'></span></button>
                        </div>
                    </div>
                    <hr>
                    <div class='data'>
                        <blockquote>
                            <div ng-repeat="schema in visibleSchemas" ng-switch on="schema.type">
                                <div class='text-muted data-title'>{{schema.title}}</div>
                                <ul ng-switch-when="image" class='list-unstyled'>
                                    <li ng-repeat="img in record.verbose[schema.id].value"><img ng-src="{{img}}" /></li>
                                </ul>
                                <div ng-switch-when="file">
                                    <div ng-repeat="file in record.verbose[schema.id].value">
                                        <video ng-if="file.type.indexOf('video')===0" style="width:100%;" controls="controls" preload="none">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </video>
                                        <audio ng-if="file.type.indexOf('audio')===0" controls="controls" preload="none">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </audio>
                                        <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' style="width:100%" />
                                    </div>
                                </div>
                                <div ng-switch-when="voice">
                                    <div ng-repeat="voice in record.verbose[schema.id].value">
                                        <audio controls="controls" preload="none">
                                            <source src="{{voice.url}}" type="{{voice.type}}" />
                                        </audio>
                                    </div>
                                </div>
                                <div ng-switch-when="multitext">
                                    <ul ng-if="record.verbose[schema.id].multitext_seq == 0">
                                        <li ng-repeat="item in record.verbose[schema.id].value"><span ng-bind-html="item.value"></span></li>
                                    </ul>
                                    <span ng-if="record.verbose[schema.id].multitext_seq > 0" ng-bind-html="record.verbose[schema.id].value"></span>
                                </div>
                                <div ng-switch-when="longtext">
                                    <span ng-bind-html="record.verbose[schema.id].value"></span>
                                </div>
                                <div ng-switch-when="url">
                                    <span ng-bind-html="record.verbose[schema.id].value._text"></span>
                                </div>
                                <div ng-switch-default>
                                    <span>{{record.verbose[schema.id].value}}</span>
                                </div>
                                <div ng-if="schema.cantag==='Y'">
                                    <span class="tag" ng-repeat="t in record.verbose[schema.id].tag" ng-bind="t.label"></span>
                                </div>
                                <div ng-if="schema.supplement==='Y'" class='supplement' ng-bind-html="record.verbose[schema.id].supplement"></div>
                            </div>
                        </blockquote>
                    </div>
                    <div class='bottom-bar tms-flex-row' ng-if="bRemarkRecord">
                        <div class='datetime tms-flex-grow'><span ng-if="record.enroll_at>0">{{record.enroll_at*1000|date:'MM-dd HH:mm'}}</span></div>
                        <a href ng-click="likeRecord()"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':record.like_log[user.uid]}"></span>&nbsp;<span ng-bind="record.like_num"></span></a>
                        <a href ng-if="params.entryRuleResult.passed==='Y'" ng-click="writeRemark()"><span class="glyphicon glyphicon-comment"></span>&nbsp;<span ng-bind="record.rec_remark_num"></span></a>
                        <a href ng-click="shareRecord(record)"><span class='glyphicon glyphicon-share'></span></a>
                    </div>
                    <div class='bottom-bar tms-flex-row' ng-if="!bRemarkRecord">
                        <div class='datetime tms-flex-grow'><span ng-if="record.enroll_at>0">{{record.enroll_at*1000|date:'MM-dd HH:mm'}}</span></div>
                        <a href ng-click="likeRecord()"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':data.like_log[user.uid]}"></span>&nbsp;<span ng-bind="data.like_num"></span></a>
                        <a href ng-if="params.entryRuleResult.passed==='Y'" ng-click="writeRemark()"><span class="glyphicon glyphicon-comment"></span></a>
                    </div>
                </div>
                <div id='cowork' ng-if="coworkSchemas.length">
                    <div ng-if="coworkTasks.length">
                        <div uib-alert ng-repeat="task in coworkTasks" class='alert-info' close="closeCoworkTask($index)" ng-switch="task.id">
                            <span>{{task.msg}}</span>
                            <span ng-switch-when="cowork.submit.end"></span>
                        </div>
                    </div>
                    <div class='schemaList' ng-controller="ctrlCoworkData">
                        <div ng-repeat="schema in coworkSchemas">
                            <div class='text-muted data-title'>{{schema.title}}</div>
                            <div id='item-{{item.id}}' ng-repeat="item in record.verbose[schema.id].value" class='item'>
                                <hr>
                                <div class='top-bar tms-flex-row'>
                                    <div class='seq tms-flex-grow text-muted'>#<span ng-bind="item.multitext_seq"></span></div>
                                    <div ng-if="record._canAgree">
                                        <div class="btn-group" uib-dropdown>
                                            <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                                <span ng-if="item.agreed===''">未表态</span>
                                                <span ng-if="item.agreed==='D'">讨论</span>
                                                <span ng-if="item.agreed==='A'">接受</span>
                                                <span ng-if="item.agreed==='Y'">推荐</span>
                                                <span ng-if="item.agreed==='N'">屏蔽</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href ng-click="agreeItem(item,'')">不表态</a></li>
                                                <li><a href ng-click="agreeItem(item,'D')">讨论</a></li>
                                                <li><a href ng-click="agreeItem(item,'A')">接受</a></li>
                                                <li><a href ng-click="agreeItem(item,'Y')">推荐</a></li>
                                                <li><a href ng-click="agreeItem(item,'N')">屏蔽</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div ng-if="!record._canAgree&&(item.agreed==='Y'||(item.agreed==='D'&&user.uid===record.userid)||user.uid===item.userid||user.is_editor==='Y')" ng-switch on="item.agreed">
                                        <button ng-switch-when="D" class='btn btn-xs btn-danger'>讨论</button>
                                        <button ng-switch-when="Y" class='btn btn-xs btn-success'>推荐</button>
                                        <button ng-switch-when="N" class='btn btn-xs btn-danger'>屏蔽</button>
                                        <button ng-switch-when="" class='btn btn-xs btn-default'>未表态</button>
                                    </div>
                                    <div ng-if="!item._others">
                                        <div class="btn-group" uib-dropdown>
                                            <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                                <span class="glyphicon glyphicon-option-vertical"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                                <li><a href ng-click="removeItem(schema,$index)"><span class='glyphicon glyphicon-trash'></span> 删除</a></li>
                                                <li><a href ng-click="editItem(schema,$index)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <blockquote>
                                    <p dynamic-html="item.value"></p>
                                    <footer>{{item.nickname||'隐藏'}}</footer>
                                </blockquote>
                                <div class='bottom-bar tms-flex-row' ng-if="bRemarkRecord">
                                    <div class='datetime tms-flex-grow'>{{item.submit_at*1000|date:'MM-dd HH:mm'}}</div>
                                    <a href ng-click="likeItem(item)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':item.like_log[user.uid]}"></span>&nbsp;<span ng-bind="item.like_num"></span></a>
                                    <a href ng-if="params.entryRuleResult.passed==='Y'" ng-click="writeItemRemark(item)"><span class="glyphicon glyphicon-comment"></span>&nbsp;<span ng-bind="item.remark_num"></span></a>
                                    <a href ng-click="shareItem(item)"><span class='glyphicon glyphicon-share'></span></a>
                                </div>
                            </div>
                            <div class='text-center' ng-if="canSubmitCowork">
                                <hr>
                                <button class="btn btn-primary" ng-click="addItem(schema)"><span class='glyphicon glyphicon-plus'></span> 添加 <span class='text-muted' ng-if="constraint">（还需要{{constraint.gap}}<span class='glyphicon glyphicon-thumbs-up'></span>）</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='remarks'>
                    <div class='remark' ng-if="remarkTasks.length">
                        <div uib-alert ng-repeat="task in remarkTasks" class='alert-info' close="closeRemarkTask($index)" ng-switch="task.id">
                            <span>{{task.msg}}</span>
                        </div>
                    </div>
                    <div id="remark-{{remark.id}}" class='remark' ng-repeat="remark in remarks">
                        <div class='top-bar tms-flex-row'>
                            <div class='seq tms-flex-grow text-muted'>#<span ng-bind="bRemarkRecord?remark.seq_in_record:record.seq_in_data"></span> <span class='reply' ng-if="remark.reply" ng-bind-html="remark.reply"></span></div>
                            <div ng-if="record._canAgree">
                                <div class="btn-group" uib-dropdown>
                                    <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                        <span ng-if="remark.agreed===''">未表态</span>
                                        <span ng-if="remark.agreed==='D'">讨论</span>
                                        <span ng-if="remark.agreed==='A'">接受</span>
                                        <span ng-if="remark.agreed==='Y'">推荐</span>
                                        <span ng-if="remark.agreed==='N'">屏蔽</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                        <li><a href ng-click="agreeRemark(remark,'')">不表态</a></li>
                                        <li><a href ng-click="agreeRemark(remark,'D')">讨论</a></li>
                                        <li><a href ng-click="agreeRemark(remark,'A')">接受</a></li>
                                        <li><a href ng-click="agreeRemark(remark,'Y')">推荐</a></li>
                                        <li><a href ng-click="agreeRemark(remark,'N')">屏蔽</a></li>
                                    </ul>
                                </div>
                                <button class='btn btn-xs btn-default' ng-if="coworkSchemas.length&&remark.as_cowork_id==='0'" ng-click="remarkAsCowork(remark)">作为答案</button>
                            </div>
                            <div ng-if="!record._canAgree&&(remark.agreed==='Y'||(remark.agreed==='D')||user.uid===remark.userid||user.is_editor==='Y')" ng-switch on="remark.agreed">
                                <button ng-switch-when="D" class='btn btn-xs btn-danger'>讨论</button>
                                <button ng-switch-when="Y" class='btn btn-xs btn-success'>推荐</button>
                                <button ng-switch-when="N" class='btn btn-xs btn-danger'>屏蔽</button>
                                <button ng-switch-when="" class='btn btn-xs btn-default'>未表态</button>
                            </div>
                            <div ng-if="remark.userid===user.uid">
                                <div class="btn-group" uib-dropdown>
                                    <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                        <li><a href ng-click="removeRemark(remark)"><span class='glyphicon glyphicon-trash'></span> 删除</a></li>
                                        <li><a href ng-click="editRemark(remark)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <blockquote>
                            <p dynamic-html="remark.content"></p>
                            <footer>{{remark.nickname}}</footer>
                        </blockquote>
                        <div class='bottom-bar tms-flex-row'>
                            <div class='datetime tms-flex-grow'>{{remark.modify_at*1000|date:'MM-dd HH:mm'}}</div>
                            <a href ng-click="likeRemark(remark)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':remark.like_log[user.uid]}"></span>&nbsp;<span ng-bind="remark.like_num"></span></a>
                            <a href ng-if="params.entryRuleResult.passed==='Y'" ng-click="writeRemark(remark)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="remark.remark_num"></span></a>
                            <a href ng-click="shareRemark(remark)"><span class='glyphicon glyphicon-share'></span></a>
                        </div>
                    </div>
                    <div class='remark'>
                        <div ng-if="params.entryRuleResult.passed==='N'" ng-switch on="params.entryRuleResult.scope">
                            <div class='alert alert-info' ng-switch-when="sns">需要<a href='' class='alert-link' ng-click="askFollowSns()">关注公众号</a>后才能发表留言</div>
                            <div class='alert alert-info' ng-switch-when="member">需要<a href='' class='alert-link' ng-click="askBecomeMember()">填写联系人信息</a>后才能发表留言</div>
                        </div>
                        <div class='text-center' ng-if="params.entryRuleResult.passed==='Y'">
                            <button class='btn btn-primary' ng-click="writeRemark()"><span class='glyphicon glyphicon-plus'></span> 添加留言</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div tms-app-act app-acts="appActs"></div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script type="text/ng-template" id="writeItem.html">
        <div class="modal-body">
            <div id='remarkEditor' content='data.content' tms-editor></div>
        </div>
        <div class="modal-footer" tms-hide-parent-height='400'>
            <div class='text-center'>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
                <button class="btn btn-primary" ng-click="ok()">提交</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="writeRemark.html">
        <div class="modal-body">
            <div id='remarkEditor' content='data.content' tms-editor></div>
        </div>
        <div class="modal-footer" tms-hide-parent-height='400'>
            <div class='text-center'>
                <button class="btn btn-default" ng-click="cancel()">关闭</button>
                <button class="btn btn-primary" ng-click="ok()">提交留言</button>
            </div>
        </div>
    </script>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/cowork.js');?>"></script>
</body>

</html>