img{max-width:100%}
ul{margin:0;padding:0;list-style:none}
li{margin:0;padding:0}
.list-group{margin-bottom:0px;}
#notice{display:block;opacity:0;height:0;overflow:hidden;width:300px;position:fixed;top:0;left:50%;margin:0 0 0 -150px;text-align:center;transition:opacity 1s;z-index:-1;word-break:break-all}
#notice.active{opacity:1;height:auto;z-index:999}

/* score schema */
li[wrap=score]{padding:4px 4px 4px 0;}
li[wrap=score] label{padding:3px;font-weight:400;}
li[wrap=score]>.number{display:inline-block;margin-top:6px;border:1px solid #CCC;}
li[wrap=score]>.number>div{display:inline-block;width:48px;padding:4px 4px;margin:4px 4px;text-align:center;border-bottom:1px dotted #ddd}
li[wrap=score]>.number>.in{background:#33bb99;}

/* img tiles */
ul.img-tiles li{position:relative;display:inline-block;overflow:hidden;width:80px;height:80px;margin:0px;padding:0px;float:left}
ul.img-tiles li.img-thumbnail img{display:inline-block;position:absolute;max-width:none}
ul.img-tiles li.img-thumbnail button{position:absolute;top:0;right:0}
ul.img-tiles li.img-picker.img-edit{margin-left:10px;}
ul.img-tiles li.img-picker button,ul.img-tiles li.img-picker.img-edit>div{position:relative;width:100%;height:100%}
ul.img-tiles li.img-picker button span,ul.img-tiles li.img-picker.img-edit>div>span{font-size:36px}

/* url schema */
div[wrap=url]>.form-control{height:auto;min-height:46px;}

/* default form style*/
div[wrap].wrap-splitline{padding-bottom:0.5em;border-bottom:1px solid #fff;}
div[wrap].wrap-inline>*{display:inline-block;vertical-align:middle;margin:0 1em 0 0;}
div[wrap].wrap-inline>label{width:6em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div[wrap=matter]>span{cursor:pointer;text-decoration:underline;}
.tag{background:#3af;padding:4px 6px;margin:4px;border-radius:2px;font-size:.8em;color:#fff;}

/* 关联选项可见性控制 */
div[schema-type=single] li[wrap].radio,div[schema-type=multiple] li[wrap].checkbox{margin-top:5px;}
div[schema-type=single] li[wrap].radio:last-child,div[schema-type=multiple] li[wrap].checkbox:last-child{margin-bottom:25px;}
div[schema-type=single] li[wrap].radio.option-hide,div[schema-type=multiple] li[wrap].checkbox.option-hide{height:0;margin:0;visibility:hidden;}
div[schema-type=single] li[wrap].radio.option-hide>label,div[schema-type=multiple] li[wrap].checkbox.option-hide>label{height:0;min-height:0;}
div[schema-type=single] li[wrap].radio.option-hide>label>*,div[schema-type=multiple] li[wrap].checkbox.option-hide>label>*{height:0;display:inline-block;overflow:hidden;}

/* multitext modal */
.tms-editor{position:absolute;top:8px;bottom:8px;left:8px;right:8px;display:flex;flex-direction:column;}
.tms-editor>:first-child{position:relative;flex-grow:1;margin-bottom:8px;border:1px solid #ddd;border-radius:4px;overflow-y:auto;}
.tms-editor>:first-child iframe{display:block;width:100%;border:0;}

/*粘贴图片隐藏div样式 */
.pasteClass{width:1px;height:1px;position:fixed;left:-100px;overflow:hidden;}

/*选项的nickname*/
.option-nickname{display:inline-block;margin-left:8px;}
