<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=1' rel="stylesheet">
    <style ng-if="page.css" ng-bind='page.css'></style>
</head>

<body ng-controller='ctrlList'>
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-th-list visible-lg-inline"></i> <span tms-app-nav app-navs="appNavs">{{page.title}}</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="favor(user, app)" class="tms-switch-favor"><i class="glyphicon glyphicon-star-empty"></i><span class="visible-lg-inline">收藏</span></a>
                </li>
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak app'>
        <div class='container'>
            <div class='row' dynamic-html="page.html">
            </div>
        </div>
    </div>
    <div tms-app-act app-acts="appActs"></div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script type="text/ng-template" id="filter.html">
        <div class="modal-header">
            <h5 class="modal-title">筛选条件</h5>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" style='max-height:480px;overflow:auto'>
                <div class='form-group' ng-if="rounds.length">
                    <label class="col-md-3 control-label">轮次</label>
                    <div class="col-md-9">
                        <select class='form-control' ng-model="criteria.record.rid">
                            <option value='all'>全部轮次</option>
                            <option value="{{rnd.rid}}" ng-repeat="rnd in rounds">{{rnd.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-repeat="schema in filterSchemas">
                    <label class="col-md-3 control-label">{{schema.title}}</label>
                    <div class="col-md-9">
                        <input type='text' class='form-control' placeholder='输入筛选条件' ng-if="['shorttext','longtext','location'].indexOf(schema.type)!==-1" ng-model="criteria.data[schema.id]">
                        <select class='form-control' ng-if="'single'===schema.type" ng-model="criteria.data[schema.id]" ng-options="op.v as op.l for op in schema.ops">
                            <option value=''>选择筛选条件</option>
                        </select>
                        <ul ng-if="schema.type==='multiple'" style="padding:0">
                            <li class='checkbox' ng-repeat="op in schema.ops">
                                <label>
                                    <input type="checkbox" name="{{schema.id}}" ng-model="criteria.data[schema.id][op.v]" /><span>{{op.l}}</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">关闭</button>
            <button class="btn btn-success" ng-click="ok()">确定</button>
        </div>
    </script>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/list.js');?>"></script>
</body>

</html>