<!DOCTYPE html>
<html ng-controller='ctrl'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title><?php TPL::pt('title');?></title>
        <link href="//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href='static/css/loading.css?_=1' rel="stylesheet">
        <link href="/views/default/site/fe/matter/enroll/list.css?_=4" rel="stylesheet">
        <link href="/views/default/site/fe/matter/enroll/directive.css?_=1" rel="stylesheet">
        <style ng-if="appPage.css" ng-bind='appPage.css'></style>
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
        <header ng-if="app.use_mission_header==='Y'" dynamic-html="site.header_mission.html"></header>
        <div class="app">
            <div id='errmsg' class='alert alert-danger' ng-class="{'active':errmsg}" ng-click="errmsg=''" ng-bind='errmsg'></div>
            <div class='container'>
                <div class='row' ng-controller='ctrlView' dynamic-html="appPage.html">
                </div>
            </div>
        </div>
        <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="site.footer_mission.html"></footer>
        <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
        <div class="loading"><div class='loading-indicator'><i></i></div></div>
        <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
        <script src="static/js/require.js" defer async data-main="/views/default/site/fe/matter/enroll/list-loader.js?_=4"></script>
    </body>
</html>