html,body{font-family:Microsoft Yahei,Arial;width:100%;height:auto;}
body{position:relative;font-size:16px;padding:0;}
.ng-cloak{display:none;}
.container{position:relative;}
.navbar-default .navbar-nav > li > a,.navbar-default .navbar-brand{color:#fff;}
.navbar-brand{padding:17.5px 15px;}
.main-navbar .navbar-brand:hover{color:#fff;}
@media screen and (min-width:768px){
	.navbar-nav>li>a{padding:17.5px 30px;font-size:18px;line-height:1;}
}
@media screen and (max-width:768px){
	.navbar-brand{width:100%;text-align:center;}
	.navbar-brand > .icon-note{display:inline-block;width:124px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
	.navbar-nav{margin:8px 0;position:absolute;top:0;right:0;}
	.nav > li > a{padding:10px 10px;}
}
.tms-flex-row{display:flex;align-items:center;}
.tms-flex-row   .tms-flex-grow{flex:1;}
