<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=2' rel="stylesheet">
</head>

<body ng-app='app' ng-controller='ctrlMain'>
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-signal visible-lg-inline"></i> <span>数据排行</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="favor(user, app)" class="tms-switch-favor"><i class="glyphicon glyphicon-star-empty"></i><span class="visible-lg-inline">收藏</span></a>
                </li>
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak container'>
        <div id='rank' class='app' ng-controller="ctrlRank">
            <div class='row filter'>
                <div class="col-md-2 col-xs-4" ng-if="app.multi_rounds==='Y'">
                    <div class='form-control' ng-click="setRound()" title='{{checkedRoundTitles}}' style='overflow:hidden;white-space:nowrap;'>{{checkedRoundTitles}}</div>
                </div>
                <div class='col-md-2' ng-class="{true:'col-xs-4',false:'col-xs-6'}[app.multi_rounds=='Y']">
                    <select class='form-control' ng-model="appState.criteria.obj">
                        <option value='user'>用户</option>
                        <option value='group' ng-if="app.group_app_id||app.entryRule.scope.group==='Y'">用户分组</option>
                        <option value='data' ng-if="isRemark">提交内容</option>
                        <option value='data-rec' ng-if="isRemark">提交内容-推荐</option>
                        <option value='remark' ng-if="isRemark">内容评论</option>
                        <option value='remark-rec' ng-if="isRemark">内容评论-推荐</option>
                    </select>
                </div>
                <div class='col-md-3' ng-class="{true:'col-xs-4',false:'col-xs-6'}[app.multi_rounds=='Y']" ng-if="appState.criteria.obj==='user'">
                    <select class='form-control' ng-model="appState.criteria.orderby" ng-change="changeCriteria()">
                        <option value='enroll' ng-if="config.enroll">提交记录数量</option>
                        <option value='remark' ng-if="config.remark">获得评论数量</option>
                        <option value='like' ng-if="config.like">获得点赞数量</option>
                        <option value='remark_other' ng-if="config.remark_other">发表评论数量</option>
                        <option value='like_other' ng-if="config.like_other">进行点赞数量</option>
                        <option value='total_coin' ng-if="config.total_coin">积分</option>
                        <option value='score' ng-if="config.score">得分</option>
                    </select>
                </div>
                <div class='col-md-3' ng-class="{true:'col-xs-4',false:'col-xs-6'}[app.multi_rounds=='Y']" ng-if="appState.criteria.obj==='group'">
                    <select class='form-control' ng-model="appState.criteria.orderby" ng-change="changeCriteria()">
                        <option value='enroll' ng-if="config.enroll">提交记录数量</option>
                        <option value='remark' ng-if="config.remark">获得评论数量</option>
                        <option value='like' ng-if="config.like">获得点赞数量</option>
                        <option value='remark_other' ng-if="config.remark_other">发表评论数量</option>
                        <option value='like_other' ng-if="config.like_other">进行点赞数量</option>
                        <option value='total_coin' ng-if="config.total_coin">积分</option>
                        <option value='score' ng-if="config.score">得分</option>
                    </select>
                </div>
                <div class='col-md-3' ng-class="{true:'col-xs-4',false:'col-xs-6'}[app.multi_rounds=='Y']" ng-if="appState.criteria.obj==='data'||appState.criteria.obj==='data-rec'">
                    <select class='form-control' ng-model="appState.criteria.orderby" ng-change="changeCriteria()">
                        <option value='remark'>获得评论数量</option>
                        <option value='like'>获得点赞数量</option>
                    </select>
                </div>
            </div>
            <div class='row result'>
                <div ng-switch on="appState.criteria.obj">
                    <ul ng-switch-when="user">
                        <li class='hidden-xs'>
                            <div class='col-md-1'>序号</div>
                            <div class='col-md-9 text-left'>用户</div>
                            <div class='col-md-2'>数量</div>
                        </li>
                        <li ng-repeat="u in users" class='record'>
                            <div class='col-md-1 col-xs-1'>
                                <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                            </div>
                            <div class="col-md-9 col-xs-8 text-left">
                                <img class='user-headimg' ng-src="{{u.headimgurl}}" />
                                <span>{{u.nickname}}</span>
                                <span ng-if="app.group_app_id">-{{u.group.round_title}}</span>
                            </div>
                            <div class='col-md-2 col-xs-1'><span ng-if="appState.criteria.orderby!=='score'">{{u[appState.criteria.orderby+'_num']||u.user_total_coin}}</span><span ng-if="appState.criteria.orderby==='score'">{{u.score|number:2}}</span></div>
                        </li>
                    </ul>
                    <ul ng-switch-when="group">
                        <li class='hidden-xs'>
                            <div class='col-md-1'>序号</div>
                            <div class='col-md-9 text-left'>分组名称</div>
                            <div class='col-md-2'>数量</div>
                        </li>
                        <li ng-repeat="g in groups" class='record'>
                            <div class='col-md-1 col-xs-1'>
                                <span class='index-user-img mtb3' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                            </div>
                            <div class="col-md-9 col-xs-8 text-left">
                                <span>{{g.title}}</span>
                            </div>
                            <div class='col-md-2 col-xs-1'><span ng-if="appState.criteria.orderby!=='score'">{{g.num}}</span><span ng-if="appState.criteria.orderby==='score'">{{g.num|number:2}}</span></div>
                        </li>
                    </ul>
                    <ul ng-switch-when="data">
                        <li class='hidden-xs'>
                            <div class='col-md-1'>序号</div>
                            <div class='col-md-6 text-left'>提交内容</div>
                            <div class='col-md-3'>用户</div>
                            <div class='col-md-2'>数量</div>
                        </li>
                        <li ng-repeat="rec in records" class='record' ng-click="gotoRemark(rec.enroll_key,rec.schema_id, rec.id)">
                            <div class="visible-xs">
                                <div class='col-xs-1'>
                                    <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                    <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                                </div>
                                <div class='col-xs-8 user-info'>
                                    <img class='data-headimg' ng-src="{{rec.headimgurl}}" />
                                    <span>{{rec.nickname}}</span><span ng-if="app.group_app_id">-{{rec.group_title}}</span>
                                </div>
                                <div class='col-xs-2 text-color pull-right'><span>{{rec[appState.criteria.orderby+'_num']}}</span>
                                </div>
                            </div>
                            <div class='col-md-1 hidden-xs'>
                                <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                <span class='index-num' ng-if="$index>=3" ng-class="{'other':$index>=3}">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                            </div>
                            <div class='col-md-6 col-xs-12 text-left' ng-switch on="app._schemasById[rec.schema_id].type">
                                <div ng-switch-when="single">
                                    <span class='content'>{{value2Label(rec,rec.schema_id)}}</span>
                                </div>
                                <div ng-switch-when="multiple">
                                    <span class='content'>{{value2Label(rec,rec.schema_id)}}</span>
                                </div>
                                <div ng-switch-when="image" class='f-box'>
                                    <p class='s-box'>
                                        <img ng-src="{{rec.value[0]}}" class='c-box' />
                                        <span class='mask' ng-if="rec.value.length>1"></span>
                                        <span class='tip' ng-if="rec.value.length>1"><i class='glyphicon glyphicon-picture'></i>
                                        {{rec.value.length}}图</span>
                                    </p>
                                    <span ng-if="app._schemasById[rec.schema_id].supplement=='Y'" class='text-left content'>{{rec.supplement}}</span>
                                </div>
                                <div ng-switch-when="file" class='f-box'>
                                    <p class='s-box' ng-init='file=rec.value[0]'>
                                        <video class='c-box' ng-if="file.type.indexOf('video')===0" controls="controls">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </video>
                                        <audio ng-if="file.type.indexOf('audio')===0" controls="controls">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </audio>
                                        <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' />
                                    </p>
                                    <p>
                                        <a ng-href="{{file.url}}" target="_blank">{{file.name}}</a>
                                        <span ng-if="rec.value.length>1" class='pull-right'><i class='glyphicon glyphicon-file'></i>{{rec.value.length}}个文件</span>
                                    </p>
                                    <span ng-if="app._schemasById[rec.schema_id].supplement=='Y'" class='text-left content'>{{rec.supplement}}</span>
                                </div>
                                <div ng-switch-when="multitext">
                                    <p ng-repeat="item in rec.value"><span ng-bind="item.value"></span></p>
                                </div>
                                <div ng-switch-when="date"><span class='content'>{{(rec.value*1000)|date:'yy-MM-dd HH:mm'}}</span></div>
                                <div ng-switch-default><span class='content'>{{rec.value}}</span></div>
                                <div class='col-xs-12 col-xs-12 text-right text-color visible-xs hidden' ng-click='showStr($event)'>展开&nbsp;&or;</div>
                            </div>
                            <div class='col-md-3 hidden-xs'>
                                <span>{{rec.nickname}}</span><span ng-if="app.group_app_id">-{{rec.group_title}}</span>
                            </div>
                            <div class='col-md-2 hidden-xs'><span>{{rec[appState.criteria.orderby+'_num']}}</span></div>
                            <div class='custom custom-entry text-color hidden-xs'><span class='glyphicon glyphicon-menu-right'></span></div>
                        </li>
                    </ul>
                    <ul ng-switch-when="data-rec">
                        <li class='hidden-xs'>
                            <div class='col-md-1'>序号</div>
                            <div class='col-md-6 text-left'>提交内容</div>
                            <div class='col-md-3'>用户</div>
                            <div class='col-md-2'>数量</div>
                        </li>
                        <li ng-repeat="rec in recordsRec" class='record' ng-click="gotoRemark(rec.enroll_key,rec.schema_id, rec.id)">
                            <div class="visible-xs">
                                <div class='col-xs-1' style="z-index:100">
                                    <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                    <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                                </div>
                                <div class='col-xs-8 user-info'>
                                    <img class='data-headimg' ng-src="{{rec.headimgurl}}" />
                                    <span>{{rec.nickname}}</span><span ng-if="app.group_app_id">-{{rec.group_title}}</span>
                                </div>
                                <div class='col-xs-2 text-color pull-right'><span>{{rec[appState.criteria.orderby+'_num']}}</span>
                                </div>
                                <div class='r-box'><span class='r-text'>{{rec._agreed}}</span></div>
                            </div>
                            <div class='col-md-1 hidden-xs'>
                                <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                <span class='index-num' ng-if="$index>=3" ng-class="{'other':$index>=3}">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                            </div>
                            <div class='col-md-6 col-xs-12 text-left' ng-switch on="app._schemasById[rec.schema_id].type">
                                <div ng-switch-when="single">
                                    <span class='content'>{{value2Label(rec,rec.schema_id)}}</span>
                                </div>
                                <div ng-switch-when="multiple">
                                    <span class='content'>{{value2Label(rec,rec.schema_id)}}</span>
                                </div>
                                <div ng-switch-when="image" class='f-box'>
                                    <p class='s-box'>
                                        <img ng-src="{{rec.value[0]}}" class='c-box' />
                                        <span class='mask' ng-if="rec.value.length>1"></span>
                                        <span class='tip' ng-if="rec.value.length>1"><i class='glyphicon glyphicon-picture'></i>
                                        {{rec.value.length}}图</span>
                                    </p>
                                    <span ng-if="app._schemasById[rec.schema_id].supplement=='Y'" class='content text-left'>{{rec.supplement}}</span>
                                </div>
                                <div ng-switch-when="file" class='f-box'>
                                    <p class='s-box' ng-init='file=rec.value[0]'>
                                        <video class='c-box' ng-if="file.type.indexOf('video')===0" controls="controls">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </video>
                                        <audio ng-if="file.type.indexOf('audio')===0" controls="controls">
                                            <source src="{{file.url}}" type="{{file.type}}" />
                                        </audio>
                                        <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' />
                                    </p>
                                    <p>
                                        <a ng-href="{{file.url}}" target="_blank">{{file.name}}</a>
                                        <span ng-if="rec.value.length>1" class='pull-right'><i class='glyphicon glyphicon-file'></i>{{rec.value.length}}个文件</span>
                                    </p>
                                    <span ng-if="app._schemasById[rec.schema_id].supplement=='Y'" class='content text-left'>{{rec.supplement}}</span>
                                </div>
                                <div ng-switch-when="multitext">
                                    <div ng-if="rec.multitext_seq=='0'">
                                        <p ng-repeat="item in rec.value"><span ng-bind="item.value"></span></p>
                                    </div>
                                    <div ng-if="rec.multitext_seq!='0'">
                                        <span ng-bind="rec.value"></span>
                                    </div>
                                </div>
                                <div ng-switch-when="date"><span class='content'></span>{{(rec.value*1000)|date:'yy-MM-dd HH:mm'}}</div>
                                <div ng-switch-default><span class='content'>{{rec.value}}</span></div>
                                <div class='col-xs-12 text-right text-color visible-xs hidden' ng-click='showStr($event)'>展开&nbsp;&or;</div>
                            </div>
                            <div class='col-md-3 hidden-xs'>
                                <span>{{rec.nickname}}</span><span ng-if="app.group_app_id">-{{rec.group_title}}</span>
                            </div>
                            <div class='col-md-2 hidden-xs'><span>{{rec[appState.criteria.orderby+'_num']}}</span></div>
                            <div class="custom custom-md-like like-color hidden-xs"><span ng-if="rec.agreed=='Y'">荐</span></div>
                            <div class='custom custom-entry text-color hidden-xs'><span class='glyphicon glyphicon-menu-right'></span></div>
                        </li>
                    </ul>
                    <ul ng-switch-when="remark">
                        <li class='hidden-xs'>
                            <div class='col-md-1'>序号</div>
                            <div class='col-md-6 text-left'>评论内容</div>
                            <div class='col-md-3'>用户</div>
                            <div class='col-md-2'>赞同数</div>
                        </li>
                        <li ng-repeat="rem in remarks" class='record' ng-click="gotoRemark(rem.enroll_key,rem.schema_id,rem.data_id,rem.id)">
                            <div class="visible-xs">
                                <div class='col-xs-1'>
                                    <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                    <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                                </div>
                                <div class='col-xs-8 user-info'>
                                    <img class='data-headimg' ng-src="{{rem.headimgurl}}" />
                                    <span>{{rem.nickname}}</span><span ng-if="app.group_app_id">-{{rem.group_title}}</span>
                                </div>
                                <div class='col-xs-2 text-color pull-right'><span>{{rem.like_num}}</span>
                                </div>
                            </div>
                            <div class='col-md-1 hidden-xs'>
                                <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                            </div>
                            <div class='col-md-6 col-xs-12 text-left'>
                                <div><span class='content'>{{rem.content}}</span></div>
                                <div class='col-xs-12 text-right text-color visible-xs hidden' ng-click='showStr($event)'>展开&nbsp;&or;</div>
                            </div>
                            <div class='col-md-3 hidden-xs'>
                                <span>{{rem.nickname}}</span><span ng-if="app.group_app_id">-{{rem.group.round_title}}</span>
                            </div>
                            <div class='col-md-2 hidden-xs'><span>{{rem.like_num}}</span></div>
                            <div class='custom custom-entry text-color hidden-xs'><span class='glyphicon glyphicon-menu-right'></span></div>
                        </li>
                    </ul>
                    <ul ng-switch-when="remark-rec">
                        <li class='hidden-xs'>
                            <div class='col-md-1'>序号</div>
                            <div class='col-md-6 text-left'>评论内容</div>
                            <div class='col-md-3'>用户</div>
                            <div class='col-md-2'>赞同数</div>
                        </li>
                        <li ng-repeat="rem in remarksRec" class='record' ng-click="gotoRemark(rem.enroll_key,rem.schema_id,rem.data_id,rem.id)">
                            <div class="visible-xs">
                                <div class='col-xs-1' style="z-index:100">
                                    <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                    <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                                </div>
                                <div class='col-xs-8 user-info'>
                                    <img class='data-headimg' ng-src="{{rem.headimgurl}}" />
                                    <span>{{rem.nickname}}</span><span ng-if="app.group_app_id">-{{rem.group_title}}</span>
                                </div>
                                <div class='col-xs-2 text-color pull-right'><span>{{rem.like_num}}</span>
                                </div>
                                <div class='r-box'><span class='r-text'>{{rem._agreed}}</span></div>
                            </div>
                            <div class='col-md-1 hidden-xs'>
                                <span class='index-user-img' ng-if="$index<3" ng-class="{'first-user-img':$index=='0','second-user-img':$index=='1','third-user-img':$index=='2'}"></span>
                                <span class='index-num' ng-if="$index>=3">{{(appState.page.at-1)*appState.page.size+$index+1}}</span>
                            </div>
                            <div class='col-md-6 col-xs-12 text-left'>
                                <div><span class='content'>{{rem.content}}</span></div>
                                <div class='col-xs-12 text-right text-color visible-xs hidden' ng-click='showStr($event)'>展开&nbsp;&or;</div>
                            </div>
                            <div class='col-md-3 hidden-xs'>
                                <span>{{rem.nickname}}</span><span ng-if="app.group_app_id">-{{rem.group.round_title}}</span>
                            </div>
                            <div class='col-md-2 hidden-xs'><span>{{rem.like_num}}</span></div>
                            <div class="custom custom-md-like like-color hidden-xs"><span ng-if="rem.agreed=='Y'">荐</span></div>
                            <div class='custom custom-entry text-color hidden-xs'><span class='glyphicon glyphicon-menu-right'></span></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div tms-app-nav app-navs="appNavs"></div>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script type="text/ng-template" id="setRound.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title">轮次列表</h5>
        </div>
        <div class="modal-body">
            <div class='form-group'>
                <button class='btn btn-default btn-sm' ng-click="clean()">清除<span>已选的{{countOfChecked}}项</span></button>
            </div>
            <div class='form-group' style='height:230px;overflow-y:auto'>
                <div>
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-model="checkedRounds.ALL" ng-change="toggleCheckedRound('ALL')">全部轮次</label>
                </div>
                <div ng-if="activeRound">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-model="checkedRounds[activeRound.rid]" ng-change="toggleCheckedRound(activeRound.rid)">{{activeRound.title}}<span>（启用）</span></label>
                </div>
                <div ng-repeat="rnd in rounds">
                    <label class='checkbox-inline'>
                        <input type='checkbox' ng-model="checkedRounds[rnd.rid]" ng-change="toggleCheckedRound(rnd.id)">{{rnd.title}}</label>
                </div>
            </div>
            <div ng-show="pageOfRound.total>pageOfRound.size">
                <span class='hidden-xs' style='line-height:34px'>总数：{{pageOfRound.total}}</span>
                <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer" boundary-links="true" total-items="pageOfRound.total" max-size="5" items-per-page="pageOfRound.size" rotate="false" ng-model="pageOfRound.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearchRound()"></ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </script>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/rank.js');?>"></script>
</body>

</html>