html,body{height:auto;width:100%;font-family:Microsoft Yahei,Arial;background-color: #f5f5f5;}
body{position:relative;font-size:14px;padding:15px 0;}
ol,ul{list-style:none;margin:0;padding:0;overflow:hidden;}
ul > li{text-align:center;line-height:1.8;position:relative;overflow:hidden;}
.app{margin-bottom:64px;color:#333;}
.app > .filter{margin-top: 10px;padding:20px 0 40px;background-color:#fff;}
.filter > .col-xs-4 .form-control{font-size:16px;}
.filter > .col-xs-4 .form-control:focus{box-shadow: none;}
.app > .result{background-color: #fff;padding:0 10px 20px;}
.result > div> ul > li:nth-child(1){height:50px;line-height:50px;background-color:#2994D0;color:#fff;}
.result > div > ul > li.record{padding:10px 0;border-bottom:2px solid #f5f5f5;cursor:pointer;}
.result > div > ul > li.record:hover{background-color:#f5f5f5;}
.user-info{color:#666;font-size:12px;text-align:left;}
.data-headimg{width:20px;height:20px;border-radius:50%;margin-right:5px;}
.user-headimg{width:35px;height:35px;border-radius:50%;margin-right:5px;}
.r-box{width:40px;height:40px;color:#fff;background-color:#F51A1A;position:absolute;top:0;left:0;}
.r-box:before{content:'';width:0;height:0;position:absolute;top:0;left:0;border-top: 20px solid #fff;border-right:20px solid transparent;}
.r-box:after{content:'';width:0;height:0;position:absolute;bottom:0;right:0;border-bottom: 40px solid #fff;border-left:40px solid transparent;}
.r-text{position: absolute;top:6px;left:2px;font-size:12px;color: #fff;transform: rotate(-45deg);}
.f-box{width:100%;}
.s-box{padding-top:56.25%;position: relative;}
.c-box{position: absolute;top:0;left:0;width: 100%;height: 100%;}
.mask{width:100%;height:15%;margin-bottom:0;position:absolute;left:0;bottom:0;background-color:#2f2933;opacity:0.6;}
.tip{position:absolute;bottom:1px;right:5px;color:#fff;font-size:14px;}
.tip > .glyphicon{top:1px;margin-right:5px;}
.text-cut{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;}
@media screen and (max-width:768px){
  .app > .filter{margin-bottom: 10px;margin-top: 0;padding:0;}
  .filter > .col-xs-4, .filter > .col-xs-6{padding-left:0;padding-right:0;}
  .filter > .col-xs-4 .form-control{padding-right:0;padding-left:10px;border:none;border-radius:0;font-size:14px;}
  /* div[class*="col-xs"]{padding-left:0;padding-right:0;} */
  .app > .result{background-color:#f5f5f5;padding:0;font-size:13px;}
  .result > div > ul > li.record{padding:10px 10px;margin-bottom:5px;background-color:#fff;border-bottom:none;}
  .col-xs-12{margin-top:5px;}
  .hidden{display:none !important;}
}
header{margin:-15px -15px 0 -15px;}
footer{margin:0 -15px -15px -15px;}
/* 小图标以及各颜色值 */
.custom{position: absolute;}
.custom-entry{top:10px;right:-5px;}
.custom-md-like{top:5px;left:85px;}
.index-num{display:inline-block;width:15px;height:15px;line-height:15px;color: #fff;background-color:#2994d0;text-align:center;border-radius:50%;}
.index-user-img{display:inline-block;width:15px;height:22px;margin-top:7px;background:url('/static/img/site_fe_enroll.png') no-repeat;}
.first-user-img{background-position: -46px -34px;}
.second-user-img{background-position: -47px -98px;}
.third-user-img{background-position: -46px -171px;}
.index-data-img{display:inline-block;width:10px;height:15px;margin-top:5px;background:url('/static/img/site_fe_enroll.png') no-repeat;}
.first-data-img{background-position: -197px -34px;}
.second-data-img{background-position: -197px -102px;}
.third-data-img{background-position: -197px -178px;}
.text-color{color:#999999;font-size:12px;}
.like-color{width:16px;height:16px;color:#fff;font-size:12px;line-height:1.4;background-color:#F51A1A;}
