<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=2' rel="stylesheet">
</head>

<body>
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <div ng-cloak class='ng-cloak app'>
        <div class='container' ng-controller="ctrlRemark">
            <div id='recordData'>
                <blockquote ng-switch on="schema.type">
                    <p ng-switch-when="image"><img ng-src="{{record.data[schemaId]}}"></p>
                    <p ng-switch-default>{{record.data[schemaId]}}</p>
                    <p ng-if="schema.supplement==='Y'" class='supplement'>{{record.supplement[schemaId]}}</p>
                    <footer>{{record.nickname}}</footer>
                </blockquote>
                <div class='bottom-bar'>
                    <div class='datetime'>{{record.enroll_at*1000|date:'MM-dd HH:mm'}}</div>
                </div>
            </div>
            <div id='remarks'>
                <div class='remarkList'>
                    <div class='remark' ng-repeat="remark in remarks">
                        <div>
                            <span ng-if="remark.agreed==='Y'" class="label label-success">推荐</span>
                            <span ng-if="remark.agreed==='N'" class="label label-danger">屏蔽</span>
                        </div>
                        <blockquote>
                            <p>{{remark.content}}</p>
                            <footer>{{remark.nickname}}
                            </footer>
                        </blockquote>
                        <div class='bottom-bar'>
                            <div class='datetime'>{{remark.create_at*1000|date:'MM-dd HH:mm'}}</div>
                            <button class='btn btn-default btn-sm' ng-click="likeRemark(remark)"><span class='glyphicon' ng-class="{'glyphicon-heart':remark.like_log[user.uid],'glyphicon-heart-empty':!remark.like_log[user.uid]}"></span>&nbsp;<span ng-bind="remark.like_num"></span></button>
                        </div>
                    </div>
                </div>
                <div class='input-group'>
                    <textarea class='form-control' ng-model="newRemark.content"></textarea>
                    <span class='input-group-btn' style='padding-left:15px'>
                        <button class='btn btn-success'ng-click="addRemark()">发布</button>
                    </span>
                </div>
            </div>
        </div>
        <div id='bottomActions' class='form-group'>
            <div class='form-inline text-center'>
                <button class='btn btn-default' ng-click="back()">返回</button>
            </div>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/remark.js');?>"></script>
</body>

</html>
