blockquote {
	font-size: 16px;
	margin-bottom: 8px;
}

img {
	max-width: 100%
}

@media screen and (max-width:768px) {
	.site-navbar-default {
		margin-bottom: 0;
	}

	.container {
		padding: 0;
	}

	#filterCriteria .form-control, #filterCriteria .input-group-btn .btn {
		border-radius: 0;
	}

	#advCriteria {
		position: absolute;
		top: 34px;
		right: 0;
		margin-top: 1px;
		width: 300px;
		background: #fff;
		padding: 8px;
		border: 1px solid #ccc;
		border-top: 0;
		z-index: 1000;
	}

}

/* filter */
.container {
	position: relative;
}

#advCriteria .panel-group {
	margin-bottom: 0;
}

#advCriteria .form-control {
	float: none;
}

#advCriteria .form-group {
	display: block;
}

#advCriteria .form-group:last-child {
	margin-bottom: 0;
}

#advCriteria .dir-level-2 {
	margin-left: 1em;
}

#advCriteria .dir-level-3 {
	margin-left: 1em;
}

#advCriteria .dir.active {
	background-color: #ddd;
}

/* record */
#repos .record {
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding: 8px 16px;
}

#repos .record>* {
	margin: 8px 0;
}

#repos .record .header {
	display: flex;
}

#repos .record .header .seq {
	margin-right: 8px;
}

#repos .record .header .label {
	padding-top: .3em
}

#repos .record .header .nickname {
	flex-grow: 1;
	text-align: right;
	font-size: .9em;
}

#repos .record .data blockquote>div+div {
	margin-top: 8px;
}

#repos .record .data .data-title:before {
	content: ' ';
	display: inline-block;
	width: 12px;
	height: 12px;
	border-top: 6px solid #fff;
	border-right: 6px solid #fff;
	border-bottom: 6px solid #fff;
	border-left: 6px solid orange;
}

#repos .record .data .datetime {
	font-size: .8em;
}

#repos .record .bottom-bar>*+* {
	margin-left: 8px;
}

#repos .record .bottom-bar .like {
	color: red;
}
