<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
</head>

<body ng-controller="ctrlRepos" tms-trace send-url='/rest/site/fe/matter/enroll/analysis/submit?site={{app.siteid}}&app={{app.id}}&page=repos' ready-sign="app" class='enroll-repos'>
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container' ng-cloak>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-edit visible-lg-inline"></i> <span tms-pop-nav navs="popNav.navs" close-after='5000' custom="popNav.custom">共享页</span></span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='app container'>
        <div ng-if="tasks.length" ng-cloak>
            <div uib-alert ng-repeat="task in tasks" class='alert-info' close="closeTask($index)" ng-switch="task.id">
                <span ng-bind="task.msg"></span>
                <span ng-switch-when="record.submit.end"><span ng-if="task.coin">每条记录可获得【{{task.coin}}个】积分</span><a href class="alert-link" ng-click="addRecord($event)"> 去添加</a></span>
                <span ng-switch-when="record.like.pre"></span>
                <span ng-switch-when="record.like.end"></span>
                <span ng-switch-when="record.data.question"><a href class="alert-link" ng-click="addRecord($event)">，去提问</a></span>
                <span ng-switch-when="record.data.vote"><a href class="alert-link" ng-click="voteRecData()">，去投票</a></span>
                <span ng-switch-when="record.data.score"><a href class="alert-link" ng-click="scoreSchema()">，去打分</a></span>
            </div>
        </div>
        <div class='row'>
            <div id='advCriteria' class='col-md-3' ng-if="advCriteriaStatus.opened&&dirSchemas.length" ng-cloak>
                <div class="tree">
                    <div class="tree-header">目录<button class='close' ng-if="isSmallLayout" ng-click="advCriteriaStatus.dirOpen=!advCriteriaStatus.dirOpen"><span>&times;</span></button></div>
                    <div class="tree-body" ng-if="advCriteriaStatus.dirOpen">
                        <div class="tree-wrap">
                            <tms-tree tree-data="dirSchemas" checked-data="{{activeDirSchemas}}" dir-clicked="dirClicked($item, $active)" dir-icon="isSmallLayout"></tms-tree>
                        </div>
                    </div>
                </div>
                <div class='text-center' ng-if="isSmallLayout">
                    <button class='btn btn-default btn-sm' ng-click="advCriteriaStatus.opened=!advCriteriaStatus.opened">关闭</button>
                </div>
            </div>
            <div class='main col-xs-12' ng-class="{'col-md-9':dirSchemas.length,'col-md-12':dirSchemas.length===0}">
                <div id='filterCriteria'>
                    <div class='input-group'>
                        <input class='form-control' ng-model='criteria.keyword' placeholder='输入搜索关键字' trace-biz ng-click="toggleHistory('open', $event)">
                        <div class='input-group-btn'>
                            <button class='btn btn-default' ng-if="criteria.keyword" ng-click="criteria.keyword='';recordList(1)"><span class='glyphicon glyphicon-remove'></span></button>
                            <button class='btn btn-default' ng-click="recordList(1)"><span class='glyphicon glyphicon-search'></span></button>
                            <button class='btn btn-default' ng-click="addRecord($event)"><span class="glyphicon glyphicon-plus"></span> 记录</button>
                            <button ng-if="topics.length" class='btn btn-default' ng-click="showTopics($event)">专题</button>
                            <button id='advCriteriaSwitch' ng-if="dirSchemas.length" class="btn btn-default visible-xs-inline-block" ng-click="advCriteriaStatus.opened=!advCriteriaStatus.opened">
                                <span class='glyphicon glyphicon-th-list' ng-class="{'opened':advCriteriaStatus.opened}"></span> 目录
                            </button>
                        </div>
                    </div>
                </div>
                <div id='filterQuick' ng-cloak>
                    <div tms-dropdown basic-data="reposFilters[0]" criteria="{{criteria}}" shift-menu="shiftMenu(criteria)"></div>
                    <div tms-dropdown basic-data="reposFilters[1]" criteria="{{criteria}}" shift-menu="shiftMenu(criteria)"></div>
                    <div tms-filter basic-data="multiFilters" filter="{{filter}}" criteria="{{criteria}}" confirm="confirm(filterOpt)" class='pull-right' ng-if="multiFilters.length"></div>
                </div>
                <!-- end: filterQuick -->
                <div id='filterTip' class="hidden-xs" ng-if="filter.isFilter||filter.tags.length">
                    <div class="bg-info small" ng-repeat="multifilter in multiFilters" ng-if="criteria[multifilter.type]!==null">
                        <span ng-repeat="menu in multifilter.menus" ng-if="criteria[multifilter.type]==menu.id" ng-bind="menu.title"></span>
                        <button class="close" trace-biz ng-click="shiftTip(multifilter.type)"><span>&times;</span></button>
                    </div>
                    <div class="bg-info small" ng-repeat="tag in filter.tags">
                        <span ng-bind="tag.label"></span>
                        <button class="close" trace-biz ng-click="shiftTag(tag,false)"><span>&times;</span></button>
                    </div>
                </div>
                <div id='repos'>
                    <div class='records'>
                        <div class='record' ng-repeat="rec in repos" ng-cloak>
                            <div class='top-bar'>
                                <div class='seq label label-default'>{{$index+1}}</div>
                                <div class='nickname text-muted'>{{rec.nickname||'隐藏'}}</div>
                                <button ng-if="rec.favored" class="btn btn-default btn-xs" ng-click="favorRecord(rec)">已收藏</button>
                                <div ng-if="!rec._canAgree&&rec.agreed&&rec.agreed!=='A'">
                                    <button ng-if="rec.agreed==='D'&&(rec.userid===user.uid||user.is_leader==='S'||user.is_editor==='Y'||(user.is_leader==='Y'&&(rec.userid===user.uid||groupOthers[rec.userid])))" class="btn btn-danger btn-xs">讨论</button>
                                    <button ng-if="rec.agreed==='Y'" class="btn btn-success btn-xs">推荐</button>
                                    <button ng-if="rec.agreed==='N'" class="btn btn-danger btn-xs">关闭</button>
                                </div>
                                <div ng-if="rec._canAgree">
                                    <div class="btn-group btn-group-xs" uib-dropdown>
                                        <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                            <span ng-if="rec.agreed===''">未表态</span>
                                            <span ng-if="rec.agreed==='D'">讨论</span>
                                            <span ng-if="rec.agreed==='A'">接受</span>
                                            <span ng-if="rec.agreed==='Y'">推荐</span>
                                            <span ng-if="rec.agreed==='N'">关闭</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                            <li><a href ng-click="setAgreed(rec,'')">不表态</a></li>
                                            <li><a href ng-click="setAgreed(rec,'D')">讨论</a></li>
                                            <li><a href ng-click="setAgreed(rec,'A')">接受</a></li>
                                            <li><a href ng-click="setAgreed(rec,'Y')">推荐</a></li>
                                            <li><a href ng-click="setAgreed(rec,'N')">关闭</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class='data' ng-click="remarkRecord(rec, $event)">
                                <blockquote>
                                    <div tms-repos-record-data schemas="schemas" record="rec"></div>
                                </blockquote>
                            </div>
                            <div class='bottom-bar'>
                                <div class='datetime text-muted'>{{rec.enroll_at*1000|date:'MM-dd HH:mm'}}</div>
                                <a href ng-click="likeRecord(rec)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':rec.like_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.like_num"></span></a>
                                <a href ng-click="dislikeRecord(rec)"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':rec.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.dislike_num"></span></a>
                                <a href ng-click="remarkRecord(rec, $event)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="rec.remark_num"></span></a>
                                <div class="btn-group" uib-dropdown>
                                    <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-top" uib-dropdown-menu>
                                        <li><a href ng-click="shareRecord(rec)"><span class='glyphicon glyphicon-share'></span> 分享</a></li>
                                        <li ng-if="!rec.favored"><a href ng-click="favorRecord(rec)"><span class='glyphicon glyphicon-bookmark'></span> 收藏</a></li>
                                        <li><a href ng-click="assignTag(rec)"><span class='glyphicon glyphicon-tag'></span> 标签</a></li>
                                        <li ng-if="rec.favored"><a href ng-click="assignTopic(rec)"><span class='glyphicon glyphicon-inbox'></span> 专题</a></li>
                                        <li ng-if="rec.userid===user.uid"><a href ng-click="editRecord($event,rec)"><span class='glyphicon glyphicon-edit'></span> 编辑</a></li>
                                        <li ng-if="app.scenarioConfig.can_assoc === 'Y'" class='divider'></li>
                                        <li ng-if="app.scenarioConfig.can_assoc === 'Y'"><a href ng-click="copyRecord($event,rec)"><span class='glyphicon glyphicon-copy'></span> 复制</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class='tags' ng-if="rec.tags||rec.userTags">
                                <button class='btn btn-info btn-xs' ng-repeat="tag in rec.tags" ng-bind="tag.label" ng-click="shiftTag(tag,true)"></button>
                                <button class='btn btn-default btn-xs' ng-repeat="tag in rec.userTags" ng-bind="tag.label" ng-click="shiftTag(tag,true)"></button>
                            </div>
                            <div class='remarks agreed' ng-if="rec.agreedRemarks.length">
                                <div class='remark' ng-repeat="remark in rec.agreedRemarks">
                                    <div class='top-bar text-muted'>
                                        <div ng-bind="remark.create_at*1000|date:'MM-dd HH:mm'"></div>
                                        <div ng-bind-html="remark.nickname"></div>
                                    </div>
                                    <blockquote>
                                        <div ng-bind-html="remark.content"></div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class='remarks round' ng-if="rec.roundRemarks.length">
                                <div class='remark' ng-repeat="remark in rec.roundRemarks">
                                    <div class='top-bar text-muted'>
                                        <div ng-bind="remark.create_at*1000|date:'MM-dd HH:mm'"></div>
                                        <div ng-bind-html="remark.nickname"></div>
                                    </div>
                                    <blockquote>
                                        <div ng-bind-html="remark.content"></div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class='record' ng-show="page.total>repos.length" ng-cloak>
                            <div class='text-center' tms-scroll-spy selector='#repos' onbottom='recordsScrollToBottom()' offset='70' toggle-spy="spyRecordsScroll">
                                <button style='border-radius:15px;' class='btn btn-default' ng-click="recordList()"><span ng-class="{'ele-running':reposLoading}"><i class='ele-running-indicator'><i></i></i></span> 更多【{{repos.length}}/{{page.total}}】 </button>
                            </div>
                        </div>
                    </div>
                    <!--end records-->
                </div>
            </div>
        </div>
    </div>
    <div ng-if="popAct.acts.length" tms-pop-act acts="popAct.acts" custom="popAct.custom" close-after='5000'></div>
    <div id='favorGuide' ng-if="favorStack.guiding">
        <span>已收藏</span>
        <button class='btn btn-default' ng-click="assignTopic()">选择专题</button>
        <button class='btn btn-default' ng-click="assignTag()">添加标签</button>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="<?php echo auto_version('/static/js/xxt.ui.error.js');?>"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/repos.js');?>"></script>
</body>

</html>