html,body{height:100%;width:100%;background:#efefef;font-family:Microsoft Yahei,Arial;}
body{position:relative;font-size:16px;}
img{max-width:100%}

/*criteria*/
#advCriteriaSwitch span.opened{transform:rotate(90deg);}
#advCriteria{position:absolute;top:100%;right:0;margin-top:1px;width:300px;background:#fff;padding:1rem;border:1px solid #ccc;border-top:0;z-index:1000;}
#advCriteria .form-control{float:none;}
#advCriteria .form-group{display:block;}
#advCriteria .form-group:last-child{margin-bottom:0;}

/*record*/
#repos{background:#fff;padding:1rem;margin-bottom:64px;}
#repos p{word-break:break-all;}
#repos .record .glyphicon-heart{color:red;}
#repos .record{border-bottom:1px solid #ddd;}
#repos .record:last-child{margin-bottom:1rem;}
#repos .record>*{margin:1rem 0;}
#repos .record .label{padding-top:.3em}
#repos .record .bottom-bar{display:flex;}
#repos .record .bottom-bar .datetime{flex:1;line-height:30px;font-size:.8rem;}
#repos .record .remarks{font-size:.9em;border-top:1px dashed #ddd;padding:1rem 0 1rem 2rem;position:relative;}
#repos .record .remarks:before{content:'推荐评论';position:absolute;left:50%;margin-left:-1em;top:-0.7em;color:#999;}
#repos .record .remarks .remark{margin-bottom:1em;}
#repos .record .remarks .remark .bottom-bar>:first-child{flex:1;}
#repos .record .remarks .remark .bottom-bar>:first-child:before{content:'\2014 \00A0';}
.tag{background:#3af;padding:4px 6px;margin:4px;border-radius:2px;font-size:.8em;color:#fff;}