<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=2' rel="stylesheet">
</head>

<body ng-controller="ctrlRepos">
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-edit visible-lg-inline"></i> <span tms-app-nav app-navs="appNavs">数据共享</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="favor(user, app)" class="tms-switch-favor"><i class="glyphicon glyphicon-star-empty"></i><span class="visible-lg-inline">收藏</span></a>
                </li>
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='app container' ng-cloak>
        <div class='row'>
            <div id='advCriteria' class='col-md-3' ng-if="advCriteriaStatus.opened">
                <form ng-click="clickAdvCriteria($event)">
                    <div class='form-group' ng-if='rounds.length'>
                        <select class='form-control' ng-model='criteria.rid' ng-change="shiftRound()" size='6'>
                            <option value='all'>全部轮次</option>
                            <option value="{{rnd.rid}}" ng-repeat="rnd in rounds">{{rnd.title}}</option>
                        </select>
                    </div>
                    <div class='form-group' ng-if="userGroups.length">
                        <select class='form-control' ng-model="criteria.userGroup" ng-change="shiftUserGroup()" size=5 ng-options="grp.round_id as grp.title for grp in userGroups">
                            <option value>全部分组</option>
                        </select>
                    </div>
                    <div class='form-group'>
                        <select class='form-control' ng-model="criteria.owner" ng-change="shiftOwner()" size=2>
                            <option value='all'>全部用户</option>
                            <option value='{{params.user.uid}}'>我的</option>
                        </select>
                    </div>
                    <div class='form-group' ng-if="schemaCount>1">
                        <select class='form-control' ng-model="criteria.schema" ng-options="schema.id as schema.title for schema in schemas" ng-change="shiftSchema()" size='6'>
                            <option value>全部题目</option>
                        </select>
                    </div>
                    <div class='form-group' ng-if="dataTags&&dataTags.length">
                        <select class='form-control' ng-model="criteria.tag" ng-options="tag.id as tag.label for tag in dataTags" ng-change="shiftTag()" size='6'>
                            <option value>全部标签</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class='col-md-9 col-xs-12'>
                <div class='form-group'>
                    <div id='filterCriteria' class='input-group'>
                        <input class='form-control' ng-model='criteria.keyword' placeholder='输入搜索关键字'>
                        <div class='input-group-btn'>
                            <button class='btn btn-default' ng-if="criteria.keyword" ng-click="criteria.keyword='';list4Schema(1)"><span class='glyphicon glyphicon-remove'></span></button>
                            <button class='btn btn-default' ng-click="list4Schema(1)"><span class='glyphicon glyphicon-search'></span></button>
                            <button id='advCriteriaSwitch' class="btn btn-default visible-xs-inline-block" ng-click="advCriteriaStatus.opened=!advCriteriaStatus.opened">
                                <span class='glyphicon glyphicon-filter' ng-class="{'opened':advCriteriaStatus.opened}"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id='repos'>
                    <div class='records'>
                        <div class='record' ng-repeat="rec in repos">
                            <div class='header'>
                                <div class='seq label label-default'>{{((page.at-1)*page.size)+$index+1}}</div>
                                <span ng-if="rec.agreed==='Y'" class="label label-success">推荐</span>
                                <span ng-if="rec.agreed==='N'" class="label label-danger">屏蔽</span>
                                <span class='text-muted nickname'>{{rec.nickname}}</span>
                            </div>
                            <div class='data'>
                                <blockquote ng-switch on="schemas[rec.schema_id].type">
                                    <div class='text-muted data-title'>{{schemas[rec.schema_id].title}}</div>
                                    <div ng-switch-when="file">
                                        <div ng-repeat="file in rec.value">
                                            <video ng-if="file.type.indexOf('video')===0" style="width:100%;" controls="controls">
                                                <source src="{{file.url}}" type="{{file.type}}" />
                                            </video>
                                            <audio ng-if="file.type.indexOf('audio')===0" controls="controls">
                                                <source src="{{file.url}}" type="{{file.type}}" />
                                            </audio>
                                            <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' style="width:100%" />
                                        </div>
                                    </div>
                                    <ul ng-switch-when="image">
                                        <li ng-repeat="img in rec.value.split(',')"><img ng-src="{{img}}" /></li>
                                    </ul>
                                    <ul ng-switch-when="multitext">
                                        <li ng-repeat="item in rec.items">
                                            <span ng-bind="item.value"></span>
                                            <div>
                                                <button class='btn btn-default btn-sm' ng-click="likeRecordData(rec, item.id, $index)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':item.like_log[user.uid]}"></span>&nbsp;<span ng-bind="item.like_num"></span></button>
                                                <button ng-if="schemas[rec.schema_id].remarkable==='Y'" class='btn btn-default btn-sm' ng-click="gotoRemark(rec, item.id)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="item.remark_num"></span></button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div ng-switch-when="multiple"><span>{{value2Label(schemas[rec.schema_id],rec.value)}}</span></div>
                                    <div ng-switch-when="single"><span>{{value2Label(schemas[rec.schema_id],rec.value)}}</span></div>
                                    <div ng-switch-when="url"><span ng-bind-html="rec.value._text"></span></div>
                                    <div ng-switch-default>{{rec.value}}</div>
                                    <div ng-if="schemas[rec.schema_id].cantag==='Y'" class='tags'>
                                        <span class="tag" ng-repeat="t in rec.tag">{{t.label}}</span>
                                    </div>
                                    <div ng-if="schemas[rec.schema_id].supplement==='Y'" class='supplement'>{{rec.supplement}}</div>
                                </blockquote>
                                <div class='datetime text-muted'>{{rec.submit_at*1000|date:'MM-dd HH:mm'}}</div>
                            </div>
                            <div class='bottom-bar text-right'>
                                <button class='btn btn-default btn-sm' ng-click="likeRecordData(rec, rec.id)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':rec.like_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.like_num"></span></button>
                                <button ng-if="schemas[rec.schema_id].remarkable==='Y'" class='btn btn-default btn-sm' ng-click="gotoRemark(rec, rec.id)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="rec.remark_num"></span></button>
                                <span ng-if="groupUser.is_leader==='S'||(groupUser.is_leader==='Y'&&(rec.userid===groupUser.userid||groupOthers[rec.userid]))">
                                    <button ng-if="rec.agreed!=='Y'" class='btn btn-default btn-sm' ng-click="recommend(rec,'Y')">推荐</button>
                                    <button ng-if="rec.agreed==='Y'" class='btn btn-default btn-sm' ng-click="recommend(rec,'')">取消推荐</button>
                                </span>
                            </div>
                            <div class='remarks' ng-if="schemas[rec.schema_id].remarkable==='Y'&&rec.agreedRemarks.remarks.length">
                                <div class='remark' ng-repeat="remark in rec.agreedRemarks.remarks">
                                    <p ng-bind-html="remark.content"></p>
                                    <div class='bottom-bar text-muted'>
                                        <div ng-bind-html="remark.nickname"></div>
                                        <div>
                                            <button class='btn btn-default btn-sm' ng-click="likeRemark(remark)"><span class='glyphicon' ng-class="{'glyphicon-heart':remark.like_log[user.uid],'glyphicon-heart-empty':!remark.like_log[user.uid]}"></span>&nbsp;<span ng-bind="remark.like_num"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='text-center' ng-if="page.total>repos.length">
                        <button class='btn btn-default' ng-click="list4Schema()">更多 【{{repos.length}}/{{page.total}}】</button>
                    </div>
                </div>
            </div>
        </div>
        <div tms-app-act app-acts="appActs"></div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/repos.js');?>"></script>
</body>

</html>