<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=2' rel="stylesheet">
</head>

<body ng-controller="ctrlScore">
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container'>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-floppy-saved visible-lg-inline"></i><span tms-app-nav app-navs="appNavs">成绩单 <span class="caret"></span></span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="favor(user, app)" class="tms-switch-favor"><i class="glyphicon glyphicon-star-empty"></i><span class="visible-lg-inline">收藏</span></a>
                </li>
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak app'>
        <div class='container'>
            <table class='table table-bordered'>
                <tr>
                    <td>总分</td>
                    <td>{{record.score.sum}}</td>
                </tr>
            </table>
            <div class="schema" ng-class="{fail:record.score[schema.id]==='0'}" ng-repeat="schema in quizSchemas" ng-switch on="schema.type">
                <label><span>{{schema.title}}</span>&nbsp;&nbsp;<span>({{schema.score}}分)</span></label>
                <div ng-switch-when="single">
                    <dl>
                        <dd ng-repeat="op in schema.ops">
                            <span ng-class="{'answer':op.v===schema.answer}">{{op.l}}</span>
                            <span ng-if="op.v===record.data[schema.id]" class='glyphicon' ng-class="{'glyphicon-ok':op.v===schema.answer,'glyphicon-remove':op.v!==schema.answer}"></span>
                        </dd>
                    </dl>
                    <p class='user-answer'>你的回答：<span>{{value2Label(schema.id)}}</span></p>
                </div>
                <div ng-switch-when="multiple">
                    <dl>
                        <dd ng-repeat="op in schema.ops">
                            <span ng-class="{'answer':schema.answer.indexOf(op.v)!==-1}">{{op.l}}</span>
                            <span ng-if="record.data[schema.id].indexOf(op.v)!==-1" class='glyphicon' ng-class="schema.answer.indexOf(op.v)===-1?'glyphicon-remove':'glyphicon-ok'"></span>
                        </dd>
                    </dl>
                    <p class='user-answer'>你的回答：<span>{{value2Label(schema.id)}}</span></p>
                </div>
                <div ng-switch-default>
                    <p class='answer'>答案：{{schema.answer}}</p>
                    <p class='user-answer'>你的回答：<span>{{record.data[schema.id]}}</span></p>
                </div>
                <p class='user-score'>你的得分：<span>{{record.score[schema.id]}}</span></p>
            </div>
            <div tms-app-act app-acts="appActs"></div>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/score.js');?>"></script>
</body>

</html>