<!DOCTYPE html>
<html ng-controller='ctrl'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title></title>
        <link href="//libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/views/default/site/fe/matter/enroll/directive.css?_=1" rel="stylesheet">
        <link href="/views/default/site/fe/matter/enroll/template.css?_=2" rel="stylesheet">
        <style ng-if="page.css" ng-bind='page.css'></style>
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <header ng-bind-html='mpa.header_page.html'></header>
        <div class="app">
            <div id='errmsg' class='alert alert-danger' ng-class="{'active':errmsg}" ng-click="errmsg=''" ng-bind='errmsg'></div>
            <div class='container'>
                <div class='row'>
                    <form name='enroll' novalidate dynamic-html="page.html">
                    </form>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery.min.js"></script>
        <script src="static/js/require.js" defer async data-main="/views/default/site/fe/matter/enroll/template-loader.js?_=9"></script>
    </body>

</html>