<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo auto_version('/static/css/site.fe.css');?>" rel="stylesheet">
</head>

<body ng-controller="ctrlTopic" tms-trace send-url='/rest/site/fe/matter/enroll/analysis/submit?site={{topic.siteid}}&app={{topic.aid}}&page=topic&topic={{topic.id}}' ready-sign="topic">
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <nav class='navbar site-navbar-default'>
        <div class='container' ng-cloak>
            <div class="navbar-header">
                <a href class="navbar-brand">
                    <i class="glyphicon glyphicon-list-alt visible-lg-inline"></i> <span tms-pop-nav navs="popNav.navs" close-after='5000' custom="popNav.custom">专题页</span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline">我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='app container'>
        <div class='panel'>
            <div class='panel-body ng-cloak' ng-if="topic" ng-cloak>
                <div class='form-group' ng-if="topic.nickname">
                    <div class='text-muted' ng-bind="topic.nickname"></div>
                </div>
                <div class='form-group'>
                    <div ng-bind="topic.title"></div>
                </div>
                <div class='form-group' ng-if="topic.summary">
                    <div class='text-muted small' ng-bind="topic.summary"></div>
                </div>
                <div class='bottom-bar'>
                    <div class='datetime'><span ng-bind="topic.create_at*1000|date:'yy-MM-dd'"></span></div>
                    <button class='btn btn-default btn-xs' ng-click="shareTopic(topic)"><i class='glyphicon glyphicon-share-alt'></i></button>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='records col-xs-12'>
                <div id='repos' ng-if="!topic.task||topic.task.config_type!=='score'">
                    <div class='record' ng-repeat="rec in repos" ng-cloak>
                        <div class='top-bar'>
                            <div class='seq label label-default'>{{$index+1}}</div>
                            <div class='nickname text-muted'>{{rec.nickname||'隐藏'}}</div>
                            <button ng-if="rec.favored" class="btn btn-default btn-xs" ng-click="favorRecord(rec)">已收藏</button>
                            <div ng-if="!rec._canAgree&&rec.agreed&&rec.agreed!=='A'">
                                <button ng-if="rec.agreed==='D'&&(rec.userid===user.uid||user.is_leader==='S'||user.is_editor==='Y'||(user.is_leader==='Y'&&(rec.userid===user.uid||groupOthers[rec.userid])))" class="btn btn-danger btn-xs">讨论</button>
                                <button ng-if="rec.agreed==='Y'" class="btn btn-success btn-xs">推荐</button>
                                <button ng-if="rec.agreed==='N'" class="btn btn-danger btn-xs">关闭</button>
                            </div>
                            <div ng-if="rec._canAgree">
                                <div class="btn-group btn-group-xs" uib-dropdown>
                                    <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                        <span ng-if="rec.agreed===''">未表态</span>
                                        <span ng-if="rec.agreed==='D'">讨论</span>
                                        <span ng-if="rec.agreed==='A'">接受</span>
                                        <span ng-if="rec.agreed==='Y'">推荐</span>
                                        <span ng-if="rec.agreed==='N'">关闭</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                                        <li><a href ng-click="setAgreed(rec,'')">不表态</a></li>
                                        <li><a href ng-click="setAgreed(rec,'D')">讨论</a></li>
                                        <li><a href ng-click="setAgreed(rec,'A')">接受</a></li>
                                        <li><a href ng-click="setAgreed(rec,'Y')">推荐</a></li>
                                        <li><a href ng-click="setAgreed(rec,'N')">关闭</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class='data' ng-click="coworkRecord($event, rec)">
                            <blockquote>
                                <div tms-repos-record-data schemas="schemas" record="rec" task="topic.task"></div>
                            </blockquote>
                        </div>
                        <div class='bottom-bar'>
                            <div class='datetime text-muted'>{{rec.enroll_at*1000|date:'MM-dd HH:mm'}}</div>
                            <a href ng-click="likeRecord(rec)"><span class='glyphicon glyphicon-thumbs-up' ng-class="{'like':rec.like_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.like_num"></span></a>
                            <a href ng-click="dislikeRecord(rec)"><span class='glyphicon glyphicon-thumbs-down' ng-class="{'like':rec.dislike_log[user.uid]}"></span>&nbsp;<span ng-bind="rec.dislike_num"></span></a>
                            <a href ng-click="remarkRecord(rec)"><span class='glyphicon glyphicon-comment'></span>&nbsp;<span ng-bind="rec.remark_num"></span></a>
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle>
                                    <span class="glyphicon glyphicon-option-vertical"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-top" uib-dropdown-menu>
                                    <li><a href ng-click="shareRecord(rec)"><span class='glyphicon glyphicon-share'></span> 分享</a></li>
                                    <li ng-if="!rec.favored"><a href ng-click="favorRecord(rec)"><span class='glyphicon glyphicon-bookmark'></span> 收藏</a></li>
                                    <li ng-if="rec.userid===user.uid||user.is_editor==='Y'"><a href ng-click="quitTopic(rec)"><span class='glyphicon glyphicon-remove'></span> 移出专题</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class='remarks' ng-if="rec.agreedRemarks.length">
                            <div class='remark' ng-repeat="remark in rec.agreedRemarks">
                                <div class='top-bar text-muted'>
                                    <div ng-bind="remark.create_at*1000|date:'MM-dd HH:mm'"></div>
                                    <div ng-bind-html="remark.nickname"></div>
                                </div>
                                <blockquote>
                                    <div ng-bind-html="remark.content"></div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class='record' ng-show="page.total>repos.length" ng-cloak>
                        <div class='text-center' tms-scroll-spy selector='window' onbottom='recordsScrollToBottom()' offset='70' toggle-spy="spyRecordsScroll">
                            <button style='border-radius:15px;' class='btn btn-default' ng-click="recordList()"><span ng-class="{'ele-running':reposLoading}"><i class='ele-running-indicator'><i></i></i></span> 更多【{{repos.length}}/{{page.total}}】 </button>
                        </div>
                    </div>
                </div>
                <div ng-if="topic.task.config_type==='score'">
                    <div tms-score-record-data task="topic.task"></div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar site-navbar-tab navbar-default navbar-fixed-bottom" ng-if="topic.task.config_type==='question'&&topic.task.state==='IP'">
        <div class="container-fluid text-center">
            <button class="button-highlight btn navbar-btn" ng-click="gotoPage($event,'repos')"><span>评论老问题</span></button>
            <button class="button-highlight btn navbar-btn" ng-click="gotoPage($event,'repos')"><span>重提老问题</span></button>
            <button class="button-highlight btn navbar-btn" ng-click="addRecord($event)"><span>提出新问题</span></button>
        </div>
    </nav>
    <div ng-if="popAct.acts.length" tms-pop-act acts="popAct.acts" custom="popAct.custom" close-after='5000'></div>
    <script type="text/ng-template" id="assignTopic.html">
        <div class="modal-body">
            <div ng-repeat="topic in topics">
                <div>
                    <input type='checkbox' ng-model="topic.checked" ng-change="checkTopic(topic,$index)">
                </div>
                <div ng-bind="topic.title"></div>
                <div ng-bind="topic.summary"></div>
                <div ng-if="topic.create_at"><span ng-bind="topic.create_at*1000|date:'yy-MM-dd'"></span></div>
                <div ng-bind="topic.rec_num"></div>
            </div>
        </div>
        <div class="modal-footer" tms-hide-parent-height='400'>
            <div class='text-center'>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
                <button class="btn btn-primary" ng-click="ok()">确定</button>
            </div>
        </div>
    </script>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="<?php echo auto_version('/static/js/xxt.ui.error.js');?>"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/topic.js');?>"></script>
</body>

</html>