<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrlMain'>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
    <base href="/" />
    <title>
        <?php TPL::pt('title');?>
    </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/site.fe.css?_=2' rel="stylesheet">
    <style ng-if="page.css" ng-bind='page.css'></style>
</head>

<body>
    <header ng-if="app.use_site_header==='Y'" dynamic-html="site.header_page.html"></header>
    <header ng-if="app.use_mission_header==='Y'" dynamic-html="mission.header_page.html"></header>
    <div id="appLoginTip" uib-popover-template="'appLoginTip.html'" uib-popover="" popover-placement="bottom" popover-trigger="show" popover-append-to-body="true"></div>
    <nav class='navbar navbar-default main-navbar row'>
        <div class='container'>
            <div class="navbar-header">
                <a href="" class="navbar-brand">
                    <i class="glyphicon glyphicon-list-alt visible-lg-inline"></i><span class='icon-note' ng-bind='page.title'></span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left">
                    <a href="" ng-click="favor(user, app)" class="tms-switch-favor"><i class="glyphicon glyphicon-star-empty"></i><span class="visible-lg-inline"> 收藏</span></a>
                </li>
                <li class="pull-left">
                    <a href="" ng-click="siteUser(app.siteid)" class="tms-switch-siteuser"><i class="glyphicon glyphicon-user"></i><span class="visible-lg-inline"> 我的</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div ng-cloak class='ng-cloak app'>
        <div class='container'>
            <div class='row' ng-controller='ctrlView' dynamic-html="page.html">
            </div>
        </div>
    </div>
    <footer ng-if="app.use_mission_footer==='Y'" dynamic-html="mission.footer_page.html"></footer>
    <footer ng-if="app.use_site_footer==='Y'" dynamic-html="site.footer_page.html"></footer>
    <div class="loading">
        <div class='loading-indicator'><i></i></div>
    </div>
    <script src="/static/js/xxt.ui.error.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls.min.js"></script>
    <script src="<?php echo auto_version('/bundles/default/site/fe/matter/enroll/view.js');?>"></script>
    <script type="text/ng-template" id="appLoginTip.html">
        <div ng-controller="ctrlAppTip" ng-init="domId='#appLoginTip'">
            <div class='form-group'>
                <a href="/rest/site/fe/user/login?site={{app.siteid}}">登录</a>，在其他终端共享填写数据
            </div>
            <div class='text-right'>
                <button class='btn btn-default btn-sm' ng-click="closeTip()">关闭 <span ng-bind="autoCloseTime"></span></button>
            </div>
        </div>
    </script>
    <div class="tms-switch tms-switch-task" ng-click="showUserTask($event)" ng-if="app.user_task"></div>
    <div class="tms-switch tms-switch-repos" ng-click="gotoPage($event,'repos')" ng-if="app.can_repos==='Y'"></div>
    <div class="tms-switch tms-switch-rank" ng-click="gotoPage($event,'rank')" ng-if="app.can_rank==='Y'"></div>
</body>

</html>
