html,body{height:100%;width:100%;background:#efefef;font-family:Microsoft Yahei,Arial;}
body{position:relative;padding:15px;font-size:16px;}
.app{margin-bottom:64px;}
img{max-width:100%}
header{margin:-15px -15px 0 -15px;}
footer{margin:0 -15px -15px -15px;}

/* default form style*/
div[wrap].wrap-splitline{padding-bottom:0.5em;border-bottom:1px dotted #ccc;}
div[wrap].wrap-inline>*{display:inline-block;vertical-align:top;margin:0 1em 0 0;}
div[wrap].wrap-inline>label{width:6em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
div[wrap] ul{list-style:none;padding:0;margin:0;max-width:50%;}
div[schema-type=image]>ul>li>img{width:100%;}
div[wrap=matter]>span{cursor:pointer;text-decoration:underline;}
div[wrap].wrap-splitline.remarkable{padding-bottom:2em;position:relative;}
div[wrap].wrap-splitline.remarkable:after{content:'评论：'attr(data-remark);position:absolute;right:1em;bottom:.3em;font-size:.7em;padding:.2em 1em;background:#444;color:#fff;border-radius:1em;}
div[wrap] .supplement{font-style:italic;margin-top:1em;}

/*list*/
li .wrap-inline>label{padding:7px 0;color:#444;}
li .wrap-inline{border-bottom:1px dashed #efefef;}
li .wrap-inline:last-child{border-bottom:0;}
.tag{background:#3af;padding:4px 6px;margin:4px;border-radius:2px;font-size:.8em;color:#fff;}

/* auth */
#frmPopup{position:absolute;top:0;left:0;right:0;bottom:0;border:none;width:100%;z-index:999;box-sizing:border-box;}