.schema {
    background: #fff;

    .option {
        display: flex;
        direction: row;

        div:first-child {
            width: 70%;
            .option-link {
                display: inline-block;
                margin-left: 8px;
                color: #337ab7;
            }
        }

        div:nth-child(2) {
            text-align: center;
            width: 10%;
        }

        div:nth-child(3) {
            text-align: center;
            width: 20%;
        }

        margin-top: 16px;
    }

    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
}