.navbar {
    margin-bottom: 0;
}

#filterQuick {
    margin: 0px;
    padding: 4px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    &>* {
        display: inline-block;
    }

}

#filterTip {
    margin: 4px 0px;
    padding: 4px 0;

    &>* {
        display: inline-block;
        padding: 4px 8px;

        .close {
            margin-left: 4px;
        }

    }

    &>*+* {
        margin-left: 4px;
    }

}

.schema {
    background: #fff;

    .option {
        display: flex;
        direction: row;

        div:first-child {
            width: 70%;

            .option-link {
                display: inline-block;
                margin-left: 8px;
                color: #337ab7;
            }

        }

        div:nth-child(2) {
            text-align: center;
            width: 10%;
        }

        div:nth-child(3) {
            text-align: center;
            width: 20%;
        }

        margin-top: 16px;
    }

    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
}
