body {
    padding-top: 15px;
    background-color: #fff;
}

form button {
    margin-top: 20px;
}

.panel {
    margin-top: 15px;
}

.panel>.panel-heading>.btn-sm {
    line-height: 1;
}

.panel>.panel-body>p {
    font-size: 13px;
    padding: 4px 0;
    margin-bottom: 8px;
    border-bottom: 3px solid #fff;
}

.panel>.panel-body>p.text-orange {
    color: #f3ab26;
    border-bottom: 3px solid #f3ab26;
}