<div id='schema-view' ng-controller="ctrlList">
    <div class='schema-proto col-md-3 hidden-xs' tms-flex-height top='72' bottom='0'>
        <!--create schema-->
        <div class='form-group list-group-item'>
            <div class='help-block'>添加题目</div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('name')">姓名</button>
                <button class='btn btn-default' ng-click="newSchema('mobile')">手机</button>
                <button class='btn btn-default' ng-click="newSchema('email')">邮箱</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('date')">日期</button>
                <button class='btn btn-default' ng-click="newSchema('shorttext')">单行文本</button>
                <button class='btn btn-default' ng-click="newSchema('longtext')">多行文本</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('single')">单选题</button>
                <button class='btn btn-default' ng-click="newSchema('multiple')">多选题</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('image')">上传图片</button>
                <button class='btn btn-default' ng-click="newSchema('file')">上传文件</button>
                <button class='btn btn-default' ng-click="newSchema('location')">上传位置</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('score')">打分题</button>
            </div>
            <div class='flexrow'>
                <button class='btn btn-default' ng-click="newSchema('html')">描述说明</button>
            </div>
        </div>
        <!-- end create schema -->
    </div>
    <!-- schema list -->
    <div class='col-md-6' tms-flex-height top='72' bottom='0'>
        <div dnd-list dataset='app.data_schemas' evt-prefix="schemas" class='schemas'>
            <div data-schema-index="{{$index}}" class='dndable schema' ng-class="schema.type" ng-repeat="schema in app.data_schemas">
                <div class='title' ng-if="schema.type!=='html'" ng-click="chooseSchema($event,schema)">
                    <div editable prop='title' obj='schema' evt-prefix='title' no-remove="Y" style="min-height:34px;"></div>
                </div>
                <div ng-include="schemaHtml(schema)"></div>
                <div class='actions hidden-xs'>
                    <button class='btn btn-sm btn-default' ng-if="'html'===schema.type" ng-click="makePagelet(schema)"><span class='glyphicon glyphicon-pencil'> 编辑</span></button>
                    <button class="btn btn-default btn-sm" ng-if="['single','multiple','score'].indexOf(schema.type)!==-1" ng-click="addOption(schema)">添加选项</button>
                    <button class="btn btn-default btn-sm" ng-click="copySchema(schema)">复制题目</button>
                    <button class='btn btn-sm btn-default' ng-click="upSchema(schema)"><span class='glyphicon glyphicon-arrow-up'></span></button>
                    <button class='btn btn-sm btn-default' ng-click="downSchema(schema)"><span class='glyphicon glyphicon-arrow-down'></span></button>
                    <button class='btn btn-sm btn-default' ng-click="removeSchema(schema)"><span class='glyphicon glyphicon-trash'></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-3 hidden-xs' tms-flex-height top='72' bottom='0'>
        <div class='list-group-item' ng-include="schemaEditorHtml()"></div>
    </div>
    <!-- end schema list -->
    <nav class='navbar navbar-default navbar-fixed-bottom visible-xs-block'>
        <div class='container-fluid'>
            <button class='btn navbar-btn btn-default' uib-popover-template="'schemaProto.html'" popover-placement="top-left" popover-trigger="show" popover-title="" ng-click="showSchemaProto($event)">添加</button>
            <button class="btn navbar-btn btn-default" ng-if="['single','multiple','score'].indexOf(activeSchema.type)!==-1" ng-click="addOption(activeSchema)">添加选项</button>
            <button class="btn navbar-btn btn-default" ng-click="copySchema(activeSchema)">复制</button>
            <button class='btn navbar-btn btn-default' ng-click="upSchema(activeSchema)"><span class='glyphicon glyphicon-arrow-up'></span></button>
            <button class='btn navbar-btn btn-default' ng-click="downSchema(activeSchema)"><span class='glyphicon glyphicon-arrow-down'></span></button>
            <button class='btn navbar-btn btn-default' ng-click="removeSchema(activeSchema)"><span class='glyphicon glyphicon-trash'></span></button>
        </div>
    </nav>
</div>
<script type="text/ng-template" id="schemaProto.html">
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema('shorttext')">单行文本</button>
        <button class='btn btn-default' ng-click="newSchema('longtext')">多行文本</button>
        <button class='btn btn-default' ng-click="newSchema('date')">日期</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema('single')">单选题</button>
        <button class='btn btn-default' ng-click="newSchema('multiple')">多选题</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema('image')">上传图片</button>
        <button class='btn btn-default' ng-click="newSchema('file')">上传文件</button>
        <button class='btn btn-default' ng-click="newSchema('location')">上传位置</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema('score')">打分题</button>
    </div>
    <div class='flexrow'>
        <button class='btn btn-default' ng-click="newSchema('html')">描述说明</button>
    </div>
</script>