body{background-color:#ddd;}

/*filter*/
#filter{background:white;padding:1em;}
.name{margin-bottom:.25em;}
.option{display:inline-block;border:1px solid green;padding:.25em;margin-right:.5em;}
.option.selected{background:green;color:white;}
#filter .date .form-control{text-align:center}

/*products*/
.thumbnail{position:relative;padding:8px;}
.thumbnail .profile{height:64px;display:table}
.thumbnail .product-img{display:table-cell;height:64px;width:64px;}
.thumbnail .product-img img{width:100%;height:100%}
.thumbnail .product.properties{display:table-cell;padding-left:15px;vertical-align:middle}
.thumbnail .property-ext span{display:inline-block;margin-right:4px;}
.thumbnail .product-detail_text{max-height:64px;margin-top:4px;overflow-y:auto}
@media screen and (max-width:750px){
	.row{overflow-x:hidden;}
	.thumbnail{border-radius:0;margin-bottom:8px;}
}

/*skus*/
.cateSkus{margin-top:.25em;font-size:.8em;}
.sku{display:inline-block;border:1px solid #efefef;border-radius:2px;padding:.25em;margin-right:.25em;margin-top:.25em;}
.sku.unavailable{background:#ccc;text-decoration:line-through;color:#999;}
.empty-sku{display:inline-block;border:1px solid #efefef;border-radius:2px;padding:.25em;margin-top:.5em;}

/*cart*/
.cart .status{display:inline-block;color:white;background:red;font-size:12px;padding:.25em .8em;border-radius:1em;margin-left:.5em}

/*footer*/
body{padding-bottom:64px;}
footer{display:-webkit-box;position:fixed;bottom:0;left:0;right:0;border-top:1px solid #ddd;}
footer button{display:block;-webkit-box-flex:1;height:48px;border:0;background:white;border-left:1px solid #ddd;}
footer button:first-child{border-left:0;}

/*filter summary*/
#filterSummary{text-align:center;}