body{background-color:#ddd;padding-bottom:64px;}

/*filter*/
#filter{background:white;padding:1em;}
#fitler .title{margin-bottom:.25em;}
#filter .option{display:inline-block;border:1px solid green;padding:.25em;margin-right:.5em;}
#filter .option.selected{background:green;color:white;}
#filter .date .form-control{text-align:center}

/*products*/
.thumbnail{position:relative;padding:8px;}
.thumbnail .grip{width:40px;height:40px;position:absolute;top:0;right:0;border:1px solid #ccc;padding:4px;margin:8px;border-radius:50%;}
.thumbnail .grip div{width:100%;height:100%;border-radius:50%;}
.thumbnail .grip .checked{background:#26ca28;}
.thumbnail .profile{height:64px;display:table}
.thumbnail .product-img{display:table-cell;height:64px;width:79px;padding-right:15px;}
.thumbnail .product-img img{width:100%;height:100%}
.thumbnail .product.properties{display:table-cell;vertical-align:middle}
.thumbnail .property-ext span{display:inline-block;margin-right:4px;}
.thumbnail .product-detail_text{max-height:64px;margin-top:4px;overflow-y:auto}
@media screen and (max-width:750px){
	.row{overflow-x:hidden;}
	.thumbnail{border-radius:0;margin-bottom:8px;}
}

/*skus*/
.cateSkus{margin-top:.25em;font-size:.8em;}
.skus{border-left:1px solid #efefef;border-top:1px solid #efefef;}
.sku{display:inline-block;border:1px solid #efefef;border-left:0;border-top:0;padding:.25em 0;width:25%;text-align:center;}
.sku.unavailable{background:#ccc;text-decoration:line-through;color:#999;}
.empty-sku{display:inline-block;border:1px solid #efefef;border-radius:2px;padding:.25em;margin-top:.5em;}

/*cart*/
.cart .status{display:inline-block;color:white;background:red;font-size:12px;padding:.25em .8em;border-radius:1em;margin-left:.5em}

/*footer*/
footer{position:fixed;bottom:0;left:0;right:0;border-top:1px solid #ddd;background:rgb(255,255,255);display:-webkit-box;display:box;display:-webkit-flex;display:flex;}
footer .btn{display:block;margin:4px;box-flex:1.0;flex-grow:1;-webkit-box-flex:1.0;}

/*filter summary*/
#filterSummary{text-align:center;border-radius:0;}