<div ng-controller='shelfCtrl'>
	<div class='row' ng-hide='catelogs.length<=1'>
		<div class='form-group'>
			<select class='form-control' ng-model='selectedCatelog' ng-options='c.name for c in catelogs' ng-change='listProduct()'></select>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-6' ng-repeat='p in products'>
			<div class='thumbnail' ng-click='gotoOrder(p)'>
				<div class='profile'>
					<div class='product-img'><img ng-src='{{p.main_img}}'></div>
					<div class='product-name' ng-bind='p.name'></div>
				</div>
				<div class='product-detail_text' ng-bind='p.detail_text'></div>
			</div>
		</div>
	</div>
</div>