<div ng-controller='settingCtrl'>
    <div class='form-group'>
        <label>进入页内容</label>
        <textarea class="form-control" rows=12 ng-model='wall.entry_ele' tms-auto-update tms-wait=1000 tms-update="update('entry_ele')"></textarea>
    </div>
    <div class='form-group'>
        <label>进入页样式</label>
        <textarea class="form-control" rows=12 ng-model='wall.entry_css' tms-auto-update tms-wait=1000 tms-update="update('entry_css')"></textarea>
    </div>
    <div class='form-group'>
        <label>上墙URL</label>
        <div class="form-control">{{wall.wallUrl}}</div>
    </div>
    <div class='form-group'>
        <label>上墙页面样式</label>
        <textarea class="form-control" rows=12 ng-model='wall.body_css' tms-auto-update tms-wait=1000 tms-update="update('body_css')"></textarea>
    </div>
</div>
