<div ng-app='carouselApp' ng-controller='ctrl' ng-init="aid='<?php echo $_GET['aid'];?>';round='<?php echo isset($_GET['rid'])?$_GET['rid']:''; ?>'">
    <select ng-model='round' ng-change='shiftRound()' ng-options="r.round_id as r.title for r in rounds">
        <option value=''></option>
    </select>
    <button class='btn btn-sm btn-default pull-right' ng-click='empty()'>RESET</button>
    <div id='frame'>
        <div class='winners list-group'>
            <div class='list-group-item'>
                <span>获奖人数
                    <span ng-bind="winners.length"></span>
                </span>
            </div>
            <div class='list-group-item' ng-repeat='w in winners'>
                <span class='name' ng-bind="w.name"></span>
                <span class='mobile' ng-bind="w.mobile|maskmobile"></span>
            </div>
        </div>
        <div class='lottery-box'>
            <div class='swiper-container'>
                <div class='swiper-wrapper'>
                    <div class='swiper-slide' ng-repeat='p in persons'>
                        <div class='name' ng-bind="p.name||p.nickname"></div>
                        <div class='mobile' ng-show='p.mobile' ng-bind="p.mobile|maskmobile"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='actions'>
            <button class='btn btn-lg btn-danger' ng-click='start()' ng-if='!running'>开始</button>
            <button class='btn btn-lg btn-danger' ng-disabled='stopping' ng-click='stop()' ng-if='running'>停止</button>
        </div>
    </div>
</div>