<div class='form-group' ng-if='!hideAccessControl&&propAccess&&authapis.length'>
    <label class='col-md-{{labelSpan}} control-label' ng-if='labelSpan'>{{title||'访问控制'}}</label>
    <div class='col-md-{{controlSpan}}'>
        <div class='checkbox'>
            <label><input type='checkbox' ng-disabled="disabled&&disabled==='Y'" ng-true-value="'Y'" ng-false-value="'N'" ng-model="obj[propAccess]" ng-change="setAccessControl()">{{label||'仅限认证用户访问'}}</label>
        </div>
    </div>
</div>
<div class='form-group' ng-if="!hideAccessControl&&propAccess&&obj[propAccess]=='Y'">
    <div class='col-md-{{controlSpan}} col-md-offset-{{labelSpan}}'>
        <div class='list-group' style='margin-bottom:0'>
            <div class='list-group-item' ng-repeat='a in objAuthapis'>
                <label class='checkbox-inline' style='padding-top:0'><input type='checkbox' ng-disabled="disabled&&disabled==='Y'" ng-true-value="'Y'" ng-false-value="'N'" ng-model='a.checked' ng-change='setAuthapi(a)'>{{a.name}}</label>
                <span class='label label-info pull-right' style='font-size:100%;font-weight:400;padding: 0.3em 0.6em 0.3em;' ng-if='a.mpid!==mpid'>父账号</span>
            </div>
        </div>
    </div>
</div>
<div class='form-group' ng-if="propAccess&&obj[propAccess]==='Y'&&authapis.length&&changeAclUrl">
    <label class='col-md-{{labelSpan}} control-label' ng-if="labelSpan">{{labelOfList||'白名单'}}</label>
    <div class='col-md-{{controlSpan}}'>
        <button class='btn btn-default btn-sm' ng-click='addAcl()' style="display:none" ng-hide="disabled&&disabled==='Y'"><span class='glyphicon glyphicon-plus'></span></button>
        <button class="btn btn-default btn-sm" title='部门、标签、用户' ng-click="openAclSelector()" ng-hide="disabled&&disabled==='Y'"><span class='glyphicon glyphicon-folder-open'></span></button>
        <ul class='list-group acls' style='margin:0'>
            <li class='list-group-item' ng-repeat="acl in obj[propAcl||'acl']" ng-init="state={editing:acl.idsrc===''&&acl.id===undefined}" ng-click="clickAcl(acl,state,$event)" ng-mouseenter='enter=true' ng-mouseleave='enter=false'>
            <input type="text" class="form-control" ng-if='state.editing' ng-model="acl.identity" ng-blur="changeAcl(acl,state)">
            <button class="btn btn-default btn-xs pull-right" ng-if="!state.editing&&enter" ng-click="removeAcl(acl,$event)"><span class="glyphicon glyphicon-remove"></span></button>
            <div ng-if="!state.editing">{{acl.label||acl.identity}}</div>
            </li>
        </ul>
    </div>
</div>