<div class="combox input-group">
    <div class="form-control">
        <span class="label label-primary selected" ng-repeat="e in existing">{{e[prop]?e[prop]:e}}
            <button ng-show="!disabled" class="close" ng-click="removeOne(e)">×</button>
        </span>
        <input type="text" size="10" style="border:0px none;padding:0px;height:100%" ng-show="!readonly" ng-model="input" ng-blur="blur($event)"
        ng-keydown="keydown($event)">
    </div>
    <div class="input-group-btn" ng-show="!disabled">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu" style="left:auto;right:0">
            <div class="options">
                <div class="checkbox" ng-repeat="o in options">
                    <label>
                        <input type="checkbox" ng-checked="aChecked.indexOf(o)!==-1" ng-click="toggle(o)">{{o[prop]?o[prop]:o}}</label>
                </div>
            </div>
            <div class="actions pull-right">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="empty()">清空</button>
                    <button class="btn btn-primary" ng-click="done($event)">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>