<div class="input-group">
    <div class="form-control" title="{{title}}">
        <span ng-show="date!=0" ng-bind="date*1000|date:'yyyy-MM-dd HH:mm'"></span>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click='open()'>
            <span class='glyphicon glyphicon-calendar'></span>
        </button>
    </span>
    <script type="text/ng-template" id="tmsModalDatepicker.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <span class="modal-title h5">选择日期</span>
        </div>
        <div class="modal-body form-horizontal">
            <div class='form-group'>
                <label class='col-sm-2 control-label'>年</label>
                <div class='col-sm-10'>
                    <select class='form-control' ng-model='date.year' ng-options='y for y in years'></select>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-sm-2 control-label'>月</label>
                <div class='col-sm-10'>
                    <select class='form-control' ng-model='date.month' ng-options='m for m in months'></select>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-sm-2 control-label'>日</label>
                <div class='col-sm-10'>
                    <select class='form-control' ng-model='date.mday' ng-options='d for d in days'></select>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-sm-2 control-label'>点</label>
                <div class='col-sm-10'>
                    <select class='form-control' ng-model='date.hour' ng-options='h for h in hours'></select>
                </div>
            </div>
            <div class='form-group'>
                <label class='col-sm-2 control-label'>分</label>
                <div class='col-sm-10'>
                    <select class='form-control' ng-model='date.minute' ng-options='m for m in minutes'></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger pull-left" ng-click="empty()">清除</button>
            <button class="btn btn-primary" ng-click="ok()">选择</button>
        </div>
    </script>
</div>