<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <span class="modal-title h5">素材库</span>
    <select class='form-control' ng-if='matterTypes&&matterTypes.length>0' style='display:inline-block;width:120px' ng-model='p.matterType' ng-options='t.title for t in matterTypes'></select>
    <pagination style="margin:0;vertical-align:bottom;cursor:pointer" ng-show="p.matterType.value==='article'&&page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.current" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></pagination>
</div>
<div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="m in matters">
        <div class="checkbox" style="margin:0" ng-if='!singleMatter'>
            <label><input type="checkbox" ng-checked="aChecked.indexOf(m)!==-1" ng-click="doCheck(m)">{{m.title}}</label>
        </div>
        <div class="radio" style="margin:0" ng-if='singleMatter'>
            <label><input type="radio" ng-checked="aChecked.indexOf(m)!==-1" ng-click="doCheck(m)">{{m.title}}</label>
        </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">选择</button>
</div>