<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <span class="modal-title h5">应用共享</span>
</div>
<div class="modal-body">
    <div ng-if='isOne' class='form-horizontal'>
        <div class='form-group'>
            <label class="col-md-2 control-label">标题</label>
            <div class='col-md-10'>
                <input type='text' class='form-control' ng-model='editing.title' tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
        </div>
        <div class='form-group'>
            <label class="col-md-2 control-label">介绍</label>
            <div class='col-md-10'>
                <textarea class='form-control' ng-model='editing.summary' tms-auto-update tms-wait=1000 tms-update="update('summary')"></textarea>
            </div>
        </div>
    </div>
    <div class='col-md-4 shop' ng-repeat='item in Shop.items' ng-if='!isOne'>
        <div class='thumbnail' ng-mouseenter='mouseenter=true' ng-mouseleave='mouseenter=false'>
            <button class='btn btn-default pull-right' title='复制' ng-if='mouseenter' ng-click='copy(item)'>
                <span class='glyphicon glyphicon-copy'></span>
            </button>
            <div>
                <h5>{{item.title}}</h4>
                <p>{{item.summary}}</p>
            </div>
            <div class='footer'>
                <span class='creater_name'>{{item.creater_name}}</span>
                <span class='datetime'>{{item.put_at*1000|date:'yyyy-MM-dd HH:mm'}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" ng-if='isNew'>
    <button class='btn btn-success' ng-click='put()'>确定</button>
</div>
