<style>
#simulator {
    width: 100%;
    height: 480px;
    border: 1px solid #efefef;
}

#shareBoard .thumbnail {
    height: 128px;
}
</style>
<div class="modal-body">
    <ul class="nav nav-tabs" style="margin-bottom:15px;">
        <li ng-class="{'active':source==='platform'}"><a ng-click="switchSource('platform')">系统模板</a></li>
        <li ng-class="{'active':source==='share'}"><a ng-click="switchSource('share')">共享模板</a></li>
        <li ng-class="{'active':source==='file'}"><a ng-click="switchSource('file')">导入文件</a></li>
    </ul>
    <div ng-switch on="source">
        <!-- platform -->
        <div id='platformBoard' ng-switch-when="platform">
            <div class='row'>
                <div class='col-md-5 options'>
                    <div class='form-group'>
                        <label>场景</label>
                        <select class='form-control' ng-disabled="fixedScenario" ng-model='result.scenario' ng-options='s as s.title for s in templates2' ng-change='chooseScenario()'></select>
                    </div>
                    <div class='form-group'>
                        <label>模板</label>
                        <select class='form-control' ng-model='result.template' ng-options='t.title for t in result.scenario.templates' ng-change='chooseTemplate()'></select>
                    </div>
                    <div class='form-group'>
                        <label>模版页面预览</label>
                        <select id='selectedPage' class='form-control' ng-model='result.selectedPage' ng-options='p.title for p in pages' ng-change='choosePage()'></select>
                    </div>
                </div>
                <div class='col-md-7 pages'>
                    <div class='form-group'>
                        <iframe id='simulator' src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- end platform -->
        <!-- share -->
        <div id='shareBoard' ng-switch-when="share">
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-inline'>
                        <div class='form-group' style='margin-bottom:15px'>
                            <label class='radio-inline'>
                                <input type='radio' name='templateScope' value='P' ng-model='criteria.scope' ng-change='searchTemplate()'>平台模板</label>
                            <label class='radio-inline'>
                                <input type='radio' name='templateScope' value='S' ng-model='criteria.scope' ng-change='searchBySite()'>团队模板</label>
                            <label class='radio-inline'>
                                <input type='radio' name='templateScope' value='U' ng-model='criteria.scope' ng-change='searchShare2Me()'>共享给我的模板</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6' ng-repeat='t in templates'>
                    <div class='thumbnail'>
                        <label class='radio-inline'>
                            <input type='radio' name='template' value='{{$index}}' ng-model='data.choose' ng-change='choose(t)'><span ng-bind='t.title'></span></label>
                        <div ng-bind='t.summary'></div>
                        <div>需要支出积分：<span ng-bind='t.coin'></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end share -->
        <!-- share -->
        <div id='fileBoard' ng-switch-when="file">
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <button id="btnCreateByExcel" class='btn btn-default'>选择Excel文件创建活动</button>
                        <p class='help-block'>仅支持Excel2007格式（xlsx）的文件</p>
                    </div>
                    <div class='form-group'>
                        <label>选择从其他活动导出活动定义文件创建活动</label>
                        <input type="file" class='form-control' onchange="chooseFile(this.files[0])">
                    </div>
                </div>
            </div>
        </div>
        <!-- end file -->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">关闭</button>
    <button class="btn btn-default" ng-click="blank()">不使用模版创建</button>
    <button ng-if="source!=='file'" class="btn btn-success" ng-click="ok()">使用模版创建</button>
</div>