<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title ">邀请码</h5>
</div>
<div class="modal-body ">
    <form class='form-horizontal'>
        <div class='form-group'>
            <lable class='col-md-3 control-label'>可邀请次数</lable>
            <div class='col-md-9'>
                <input class='form-control' ng-model="option.max_count">
            </div>
        </div>
        <div class='form-group'>
            <lable class='col-md-3 control-label'>到期时间</lable>
            <div class='col-md-9'>
                <tms-datepicker class='tms-datepicker' tms-obj="option" tms-date="option.expire_at" tms-state="expireAt"></tms-datepicker>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok() ">确定</button>
</div>
