<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">请假</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">请假开始时间</label>
            <div class="col-md-9">
                <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-date='data.begin_at' tms-state='begin_at'></tms-datepicker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">请假结束时间</label>
            <div class="col-md-9">
                <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-date='data.end_at' tms-state='end_at'></tms-datepicker>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">确定</button>
</div>