<style>
/* img tiles */

ul {
    padding-left: 0
}

ul.img-tiles li {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    float: left
}

ul.img-tiles li.img-thumbnail img {
    display: inline-block;
    position: absolute
}

ul.img-tiles li.img-thumbnail button {
    position: absolute;
    top: 0;
    right: 0
}

ul.img-tiles li.img-picker button {
    position: auto;
    width: 100%;
    height: 100%
}

ul.img-tiles li.img-picker button span {
    font-size: 36px
}
</style>
<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">分组用户</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal player-editor">
        <div class="form-group" ng-repeat="schema in app.dataSchemas">
            <label class="col-md-3 control-label">{{schema.title}}</label>
            <div class="col-md-9" ng-switch on="schema.type">
                <textarea class='form-control' ng-switch-when="longtext" ng-model="player.data[schema.id]"></textarea>
                <select class='form-control' ng-switch-when="single" ng-model="player.data[schema.id]" ng-options="op.v as op.l for op in schema.ops">
                    <option></option>
                </select>
                <ul ng-switch-when="multiple">
                    <li class='checkbox' ng-repeat="op in schema.ops">
                        <label>
                            <input type="checkbox" name="{{schema.id}}" ng-model="player.data[schema.id][op.v]" /><span>{{op.l}}</span></label>
                    </li>
                </ul>
                <div ng-switch-when="score">
                    <div ng-repeat="op in schema.ops">
                        <div>{{op.l}}</div>
                        <select class='form-control' ng-model="player.data[schema.id][op.v]" ng-options="number as number for number in scoreRangeArray(schema)">
                            <option></option>
                        </select>
                    </div>
                </div>
                <ul ng-switch-when="image" class="img-tiles clearfix">
                    <li wrap="img" ng-repeat="img in player.data[schema.id]" class="img-thumbnail" title="图片">
                        <img flex-img="" />
                        <button class="btn btn-default btn-xs" ng-click="removeImage(player.data[schema.id],$index)"><span class="glyphicon glyphicon-remove"></span></button>
                    </li>
                    <li class="img-picker">
                        <button class="btn btn-default" ng-click="chooseImage(schema.id,1)"><span class="glyphicon glyphicon-picture"></span>
                            <br />上传图片</button>
                    </li>
                </ul>
                <div ng-switch-when="file">
                    <div ng-repeat="file in player.data[schema.id]">
                        <span ng-bind="file.url"></span>
                        <video ng-if="file.type.indexOf('video')===0" style="width:100%;" controls="controls">
                            <source src="{{file.url}}" type="{{file.type}}" />
                        </video>
                        <img ng-if="file.type.indexOf('image')===0" ng-src='{{file.url}}' style="width:100%" />
                    </div>
                </div>
                <input type='text' class='form-control' ng-switch-when="member" ng-model="player.data.member[schema.id.substr(7)]">
                <div ng-switch-default>
                    <input type='text' class='form-control' ng-if="schema.id.indexOf('member.')===0" ng-model="player.data.member[schema.id.substr(7)]">
                    <input type='text' class='form-control' ng-if="schema.id.indexOf('member.')!==0" ng-model="player.data[schema.id]">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">组长</label>
            <div class="col-md-9">
                <div class='checkbox'>
                    <label class='inline-checkbox'>
                        <input type='checkbox' ng-model="player.is_leader" ng-true-value="'Y'" ng-false-value="'N'"> 是</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">用户标签</label>
            <div class="col-md-9">
                <combox evt-prefix='tag' existing='player.aTags' options='aTags'></combox>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">备注</label>
            <div class="col-md-9">
                <textarea class='form-control' ng-model="player.comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">所属分组</label>
            <div class="col-md-9">
                <select class='form-control' ng-model="player.round_id" ng-options="r.round_id as r.title for r in rounds">
                    <option></option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">保存</button>
</div>