<table class='table table-bordered'>
    <thead>
        <tr>
            <th style='width:48px'>序号</th>
            <th style='width:48px'>操作</th>
            <th style='width:48px'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected" ng-change="selectAllRows(rows.allSelected)">
            </th>
            <th style='width:120px' ng-if="null===activeRound">分组</th>
            <th style='width:4em'>组长</th>
            <th class='custom-col {{schema.type}}' ng-repeat="schema in app._schemasById" title="{{schema.ops}}">{{schema.title}}</th>
            <th style='width:140px' ng-if="app.tags.length">标签</th>
            <th style='width:140px'>备注</th>
            <!--待删除-->
            <th style='width:72px'>用户昵称</th>
            <th style='width:48px'>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='p in players' class='player'>
            <td>{{$index+1}}</td>
            <td>
                <button class='btn btn-xs btn-default' ng-click='editPlayer(p)'>
                    <span class='glyphicon glyphicon-edit'></span>
                </button>
            </td>
            <td>
                <input type='checkbox' ng-model="rows.selected[$index]" ng-change="selectPlayer(p)">
            </td>
            <td ng-if="null===activeRound">{{p.round_title}}</td>
            <td>{{p.is_leader==='Y'?'是':'否'}}</td>
            <td ng-repeat="schema in app._schemasById">
                <span ng-if="schema.type!=='image'&&schema.type!=='file'&&schema.type!=='date'" ng-bind-html="p._data[schema.id]"></span>
                <span ng-if="schema.type==='image'">
                    <img ng-repeat="img in p._data[schema.id]" ng-src='{{img}}' />
                </span>
                <span ng-if="schema.type==='date'">{{(p._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                <span ng-if="schema.type==='file'">
                    <span ng-repeat='file in p._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                </span>
            </td>
            <td ng-if="app.tags.length">{{p.tags}}</td>
            <td>{{p.comment}}</td>
            <td>{{p.nickname}}</td>
            <td>
                <button class='btn btn-xs btn-danger' ng-click='removePlayer(p)'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>