<table class='table table-bordered'>
    <thead>
        <tr>
            <th style='width:72px'>操作</th>
            <th style='width:48px'>序号</th>
            <th style='width:48px'><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected" ng-change="selectAllRows(rows.allSelected)"></th>
            <th style='width:120px' ng-if="null===activeRound">分组</th>
            <th class='custom-col {{c.type}}' ng-repeat="c in app.data_schemas" title="{{c.ops}}">{{c.title}}</th>
            <th style='width:140px'>备注</th>
            <th style='width:72px'>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='p in players' class='player'>
            <td>
                <button class='btn btn-xs btn-danger' ng-click='removePlayer(p)'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
                <button class='btn btn-xs btn-default' ng-click='editPlayer(p)'>
                    <span class='glyphicon glyphicon-edit'></span>
                </button>
            </td>
            <td>{{$index+1}}</td>
            <td><input type='checkbox' ng-model="rows.selected[$index]" ng-change="selectPlayer(p)"></td>
            <td ng-if="null===activeRound">{{p.round_title}}</td>
            <td ng-repeat="c in app.data_schemas">
                <span ng-if="c.id.indexOf('member')===0">{{memberAttr(p.data, c.id)}}</span>
                <span ng-if="c.type!=='img'&&c.type!=='file'">{{value2Label(p.data[c.id], c.id)}}</span>
                <span ng-if="c.type==='img'" ng-init="imgs=p.data[c.id].split(',')">
                    <img ng-repeat="img in imgs" ng-src='{{img}}' />
                </span>
                <span ng-if="c.type==='file'" ng-init="files=json2Obj(p.data[c.id])">
                    <span ng-repeat='file in files'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                </span>
            </td>
            <td>{{p.comment}}</td>
            <td>
                <button class='btn btn-xs btn-danger' ng-click='removePlayer(p)'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
                <button class='btn btn-xs btn-default' ng-click='editPlayer(p)'>
                    <span class='glyphicon glyphicon-edit'></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>