<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">筛选条件</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class='form-group'>
            <label class="col-md-3 control-label">数据来源</label>
            <div class="col-md-9">
                <label class='radio-inline' ng-repeat="is in sourceTypes">
                    <input type='radio' name='appType' value='{{is.v}}' ng-model="data.appType">{{is.l}}</label>
            </div>
        </div>
        <div class='form-group'>
            <label class="col-md-3 control-label">目标活动</label>
            <div class="col-md-9">
                <select class="form-control" ng-model="data.app" ng-options="app.title for app in apps"></select>
                <div class='checkbox' ng-if="app.mission">
                    <label>
                        <input disabled type='checkbox' ng-model="data.sameMission" ng-true-value="'Y'" ng-false-value="'N'">仅在【{{app.mission.title}}】中选择</label>
                </div>
                <p class="help-block">
                    <span class='text-danger'>注：前往数据页，选择同步（全部用户）<span ng-if="data.appType=='mschema'">或选取（部分用户）</span>。</span>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
</div>