<table class='table table-bordered'>
    <thead>
        <tr>
            <th style='width:48px'>序号</th>
            <th style='width:28px'>
                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected" ng-change="selectAllRows(rows.allSelected)">
            </th>
            <th style='width:48px'>操作</th>
            <th style='width:120px' class='th-action' data-filter-by='round_title' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">主分组 <i class='glyphicon glyphicon-filter'></i></th>
            <th style='width:72px' ng-if="bRequireNickname">用户</th>
            <th style='width:8em'>主分组内角色</th>
            <th style='width:120px' class='th-action' data-filter-by='role_round_title' uib-popover-template="'filterByRole.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">辅助分组 <i class='glyphicon glyphicon-filter'></i></th>
            <th ng-class="{nickname:schema.id===app.assignedNickname.schema.id}" ng-repeat="schema in app._schemasById">{{schema.title}}</th>
            <th style='width:140px' ng-if="app.tags.length">标签</th>
            <th style='width:140px'>备注</th>
            <!--待删除-->
            <th style='width:48px'>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='p in players' class='player'>
            <td>{{$index+1}}</td>
            <td>
                <input type='checkbox' ng-model="rows.selected[$index]" ng-change="selectPlayer(p)">
            </td>
            <td>
                <button class='btn btn-xs btn-default' ng-click='editPlayer(p)'>
                    <span class='glyphicon glyphicon-edit'></span>
                </button>
            </td>
            <td>{{p.round_title}}</td>
            <td ng-if="bRequireNickname">{{p.nickname}}</td>
            <td>{{p.is_leader==='Y'?'组长':(p.is_leader==='S'?'超级用户':'组员')}}</td>
            <td>
                <div ng-repeat="title in p.role_round_titles">{{title}}</div>
            </td>
            <td ng-repeat="schema in app._schemasById" ng-switch on="schema.type">
                <span ng-switch-when="image">
                    <img ng-repeat="img in p._data[schema.id]" ng-src='{{img}}' />
                </span>
                <span ng-switch-when="date">{{(p._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                <span ng-switch_when="file">
                    <span ng-repeat='file in p._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                </span>
                <span ng-switch-default ng-bind-html="p._data[schema.id]"></span>
            </td>
            <td ng-if="app.tags.length">{{p.tags}}</td>
            <td>{{p.comment}}</td>
            <td>
                <button class='btn btn-xs btn-danger' ng-click='removePlayer(p)'>
                    <span class='glyphicon glyphicon-remove'></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<script type="text/ng-template" id="filterBy.html">
    <div class="form-group">
        <select class='form-control' ng-model="criteria.round.round_id">
            <option value='all'>全部分组</option>
            <option value='pending'>未分组</option>
            <option ng-repeat="rnd in teamRounds" value="{{rnd.round_id}}">{{rnd.title}}</option>
        </select>
    </div>
    <div class='text-right'>
        <button class='btn btn-default' ng-click="filter.cancel('round')">取消筛选</button>
        <button class='btn btn-default' ng-click="filter.exec('round')">进行筛选</button>
        <button class='btn btn-default' ng-click="filter.close()"><i class='glyphicon glyphicon-remove'></i></button>
    </div>
</script>
<script type="text/ng-template" id="filterByRole.html">
    <div class="form-group">
        <select class='form-control' ng-model="criteria.roleRound.round_id">
            <option value='all'>全部角色</option>
            <option value='pending'>未指定</option>
            <option ng-repeat="rnd in roleRounds" value="{{rnd.round_id}}">{{rnd.title}}</option>
        </select>
    </div>
    <div class='text-right'>
        <button class='btn btn-default' ng-click="filter.cancel('roleRound')">取消筛选</button>
        <button class='btn btn-default' ng-click="filter.exec('roleRound')">进行筛选</button>
        <button class='btn btn-default' ng-click="filter.close()"><i class='glyphicon glyphicon-remove'></i></button>
    </div>
</script>