.container{margin-top:71px;}
.navbar .navbar-text{float:none;}
.navbar-default{border-bottom: none;}
.navbar-form{margin-top: 12px;margin-bottom: 12px;}
.user-notice .log{line-height: 2.5;overflow: hidden;}
.user-notice .log>div:nth-child(1){margin-right:1em;}