<div class='container'>
	<div class='row'>
		<table class='table table-bordered'>
			<tbody>
				<tr>
					<td>平台主页</td>
					<td>平台主页</td>
					<td>
						<a href='' ng-click="editPage('home')">编辑页面</a>
						<a href='' ng-click="resetPage('home')" ng-show="platform.home_page_name">重置页面</a>
					</td>
				</tr>
				<tr>
					<td>平台模版库页面</td>
					<td>平台模版库页面</td>
					<td>
						<a href='' ng-click="editPage('template')">编辑页面</a>
						<a href='' ng-click="resetPage('template')" ng-show="platform.template_page_name">重置页面</a>
					</td>
				</tr>
				<tr>
					<td>平台团队库页面</td>
					<td>平台团队库页面</td>
					<td>
						<a href='' ng-click="editPage('site')">编辑页面</a>
						<a href='' ng-click="resetPage('site')" ng-show="platform.site_page_name">重置页面</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-controller="ctrlHomeCarousel">
			<table class='table table-bordered'>
				<tbody>
					<tr ng-repeat='s in slides'>
						<td>{{$index+1}}</td>
						<td><img ng-src="{{s.picUrl}}"/ style='width:200px'></td>
						<td>
							<button class='btn btn-xs btn-danger' ng-click="remove(c,$index)"><i class='glyphicon glyphicon-remove'></i></button>
						</td>
					</tr>
				</tbody>
			</table>
			<button class='btn btn-default' ng-click="add()">添加主页轮播</button>
		</div>
	</div>
</div>
<script type="text/ng-template" id="homePageTemplate.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">×</button>
        <h5 class="modal-title ">指定平台主页页面模板</h5>
    </div>
    <div class="modal-body ">
     	<div class='form-group'>
        	<select class='form-control' ng-model="data.template">
				<option value='siteuser'>站点用户</option>        		
				<option value='adminuser'>团队管理员用户</option>        		
        	</select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok() ">确定</button>
    </div>
</script>