<div ng-controller='notifyCtrl'>
    <div id="order" class='form-group'>
        <div class='form-group'>
            <label class='form-control-static'>联系人姓名</label>
            <div class='form-control-static' ng-bind='order.receiver_name'></div>
        </div>
        <div class='form-group'>
            <label class='form-control-static'>联系人电话</label>
            <div class='form-control-static' ng-bind='order.receiver_mobile'></div>
        </div>
        <div class='form-group' ng-repeat='oep in catelog.orderProperties'>
            <label class='form-control-static' ng-bind='oep.name'></label>
            <div class='form-control-static' ng-bind="orderExtPropValue(oep)"></div>
        </div>
        <div class='form-group'>
            <label class='form-control-static'>下单时间</label>
            <div class='form-control-static' ng-bind="order.order_create_time*1000|date:'yy-MM-dd HH:mm'"></div>
        </div>
        <div class='form-group'>
            <label class='form-control-static'>商品</label>
            <div class='form-control-static' ng-bind='product.name'></div>
        </div>
        <div class='form-group' ng-repeat='pv in product.propValues'>
            <label class='form-control-static' ng-bind='pv.name'></label>
            <div class='form-control-static' ng-bind="pv.value||'&nbsp;'"></div>
        </div>
    </div>
    <div id="feedback" class='form-group'>
        <div class='form-group' ng-repeat='ofp in catelog.feedbackProperties'>
            <label class='form-control-static' ng-bind='ofp.name'></label>
            <input type='text' class='form-control input-lg' ng-model="order.feedback[ofp.id]">
        </div>
        <div class='form-group'>
            <button class="btn btn-success btn-lg btn-block" ng-click="feedback()">保存并通知</button>
        </div>
    </div>
    <div id="dispose" class='form-group'>
        <button class="btn btn-success btn-lg" ng-click="finish()">完成</button>
        <button class="btn btn-success btn-lg" ng-click="cancel()">取消</button>
        <button class="btn btn-success btn-lg" ng-click="call()">电话</button>
    </div>
</div>