body{background:#EEE;padding:0 15px;margin:15px 0 65px 0}
p.help-block{margin-bottom:0}
.heading-pic{width:100%;overflow:hidden;border:1px solid #CCC;border-radius:4px;background:#FFF}
.heading-pic .empty{padding:15px 0;text-align:center}
.heading-pic .pic img{width:100%;overflow:hidden}
label span{font-weight:400;font-size:12px;color:#999}
/* dialog */
#pickImageFrom{display:none;z-index:1099;background-color:white;position:absolute;box-sizing:border-box;-moz-box-sizing:border-box;padding:15px;width:90%;margin:auto;webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5)}
#pickImageFrom:before,#dlg:after {content:" ";display:table}
#pickImageFrom:after {clear:both}