<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">从其他活动复制题目</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-6'>
            <div class='form-group'>
                <label>1.选择目标活动</label>
                <div class='input-group'>
                    <input type='text' class='form-control' ng-model="filter.byTitle" placeholder="输入活动标题筛选">
                    <span class='input-group-btn'>
                        <button class='btn btn-default' ng-click="doFilter()"><i class='glyphicon glyphicon-refresh'></i></button>
                    </span>
                </div>
                <select class="form-control" ng-model="result.fromApp" ng-options="app as app.title for app in apps" size="12" ng-change="selectApp()" style='overflow-x:auto'></select>
            </div>
            <div class='pl-pagination'>
                <ul uib-pagination class='pagination-sm' ng-if="page.total>page.size" total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="doSearch()"></ul>
            </div>
        </div>
        <div class='col-md-6'>
            <label>2.选择要复制的题目 <span ng-if="!result.schemas.length" class='text-danger glyphicon glyphicon-hand-left'></span></label>
            <div class='list-group' style='height:300px;overflow-y:auto'>
                <div class='list-group-item' ng-repeat="schema in result.fromApp.dataSchemas">
                    <label class="checkbox-inline">
                        <input type='checkbox' ng-model="schema._selected" ng-change="selectSchema(schema)">{{schema.title}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-class="{'btn-danger':disabled,'btn-success':!disabled}" ng-click="ok()" ng-disabled="disabled">复制</button>
</div>