<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">设置数据来源【{{::schema.title}}】</h5>
</div>
<div class="modal-body">
    <div class='row'>
        <div class='col-md-12'>
            <h4 style='display:inline-block'><span class='label label-default' ng-bind="result.fromApp.title"></span></h4>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <div class='form-group'>
                <label>1.选择目标活动</label>
                <div class='input-group'>
                    <input type='text' class='form-control' ng-model="filter.byTitle" placeholder="输入活动标题筛选">
                    <span class='input-group-btn'>
                        <button class='btn btn-default' ng-click="doSearch(1)"><i class='glyphicon glyphicon-refresh'></i></button>
                    </span>
                </div>
                <select class="form-control" ng-model="result.fromApp" ng-options="app as app.title for app in apps" size="12" ng-change="selectApp()" style="overflow-x:auto"></select>
            </div>
            <div class='form-group' ng-if="page.total>page.size">
                <div class='pl-pagination'>
                    <ul uib-pagination total-items="page.total" max-size="5" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="doSearch()"></ul>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <label>2.选择数据来源 <span ng-if="!result.type" class='text-danger glyphicon glyphicon-hand-left'></span></label>
            <div class='radio'>
                <label>
                    <input type='radio' value='input' ng-model="result.type">填写格式为数值的填写题</label>
            </div>
            <div class='radio'>
                <label>
                    <input type='radio' value='score' ng-model="result.type">题目得分（选择多个题目时求和）</label>
            </div>
            <div class='radio'>
                <label>
                    <input type='radio' value='score_rank' ng-model="result.type">题目得分排名</label>
            </div>
            <div class='radio'>
                <label>
                    <input type='radio' value='act' ng-model="result.type">用户在活动中的行为数据</label>
            </div>
            <div class='radio'>
                <label>
                    <input type='radio' value='option' ng-model="result.type">动态选项选择题中用户提供的选项获得的选择数</label>
            </div>
            <div ng-if="result.type==='act'">
                <label>3.选择行为 <span ng-if="!result.selected||result.selected.length===0" class='text-danger glyphicon glyphicon-hand-left'></span></label>
                <div style='height:300px;overflow-y:auto'>
                    <div tms-array-checkbox model="result.selected">
                        <div class='checkbox'>
                            <label class='checkbox-inline'>
                                <input type='checkbox' value="user_total_coin">用户获得的积分</label>
                            </label>
                        </div>
                        <div class='checkbox'>
                            <label class='checkbox-inline'>
                                <input type='checkbox' value="enroll_num">填写记录数</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="result.type&&result.type!=='act'">
                <label>3.选择题目 <span ng-if="!result.selected||result.selected.length===0" class='text-danger glyphicon glyphicon-hand-left'></span></label>
                <div style='height:300px;overflow-y:auto' ng-if="schemas.length">
                    <div tms-array-checkbox model="result.selected">
                        <div class='checkbox' ng-repeat="schema in schemas">
                            <label class='checkbox-inline'>
                                <input type='checkbox' value='{{::schema.id}}'><span>{{::schema.title}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="schemas.length===0">
                    <div ng-if="result.type==='input'" class='alert alert-danger'><strong>没有符合条件的题目！</strong>需要填写格式为【数值】的【填写题】。</div>
                    <div ng-if="result.type==='score'" class='alert alert-danger'><strong>没有符合条件的题目！</strong></div>
                    <div ng-if="result.type==='score_rank'" class='alert alert-danger'><strong>没有符合条件的题目！</strong></div>
                    <div ng-if="result.type==='option'" class='alert alert-danger'><strong>没有符合条件的题目！</strong>需要已【设置题目选项来源】的单选题或多选题。</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-class="{'btn-danger':disabled,'btn-success':!disabled}" ng-click="ok()" ng-disabled="disabled">设置</button>
</div>