<div class="modal-header">
    <button class="close" ng-click="cancel()">×</button>
    <h5 class="modal-title">设置题目的父题目</h5>
</div>
<div class="modal-body">
    <label>选择目标题目 <span ng-if="!result.id" class='text-danger glyphicon glyphicon-hand-left'></span></label>
    <div class='list-group' style='height:300px;overflow-y:auto'>
        <div class='list-group-item' ng-repeat="schema in htmlSchemas">
            <label class="radio-inline">
                <input type='radio' name='schemaParent' value="{{schema.id}}" ng-model="result.id" ng-change="selectSchema(schema)">{{schema.title}}</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-class="{'btn-danger':disabled,'btn-success':!disabled}" ng-click="ok()" ng-disabled="disabled">设置</button>
</div>