<div class="modal-header">
    <button class="close" type="button" ng-click="cancel()">×</button>
    <h5 class="modal-title">题目可见条件设置（不设置条件默认可见）</h5>
</div>
<div class="modal-body">
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>关联题目</th>
                <th>关联选项</th>
                <th style='width:70px'>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='rule in rules'>
                <td>
                    <select class='form-control' ng-model="rule.schema" ng-options="schema.title for schema in optSchemas"></select>
                </td>
                <td>
                    <select class='form-control' ng-model="rule.op" ng-options="op.l for op in rule.schema.ops"></select>
                </td>
                <td>
                    <button class='btn btn-default' ng-click="removeRule(rule)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class='btn btn-default' ng-click="addRule()">添加可见条件</button>
        <button class='btn btn-default' ng-click="cleanRule()">清除所有条件</button>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">确定</button>
</div>