<div>
    <div class='form-horizontal'>
        <div style='text-align:right;padding-bottom:15px'>
            <div style='display:inline-block'>
                <pushmatter class='btn btn-primary' matter-id={{editing.id}} matter-type='channel' mpaccount="mpaccount">发送给指定用户</pushmatter>
            </div>
            <div class='qrcode' style='display:inline-block' ng-controller='SendmeController'>
                <button class='btn btn-primary' data-toggle="popover" data-placement='left' ng-click="qrcode({type:'channel',id:editing.id},$event)">发送给我</button>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>URL</label>
            <div class='col-md-10'>
                <p class='form-control-static' style='height:auto' ng-bind="entryUrl"></p>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>名称</label>
            <div class='col-md-10'>
                <input type='text' class='form-control' ng-model="editing.title" tms-auto-update tms-wait=1000 tms-update="update('title')">
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>固定标题</label>
            <div class='col-md-10'>
                <input type='text' class='form-control' ng-model="editing.fixed_title" tms-auto-update tms-wait=1000 tms-update="update('fixed_title')">
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>素材类型</label>
            <div class='col-md-10'>
                <select class='form-control' ng-model='editing.matter_type' ng-change="update('matter_type')" ng-options='amt.name as amt.title for amt in acceptMatterTypes'></select>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>显示数量</label>
            <div class='col-md-10'>
                <select class='form-control' ng-model='editing.volume' ng-change="update('volume')" ng-options='v for v in volumes'></select>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>置顶（可选）</label>
            <div class='col-md-10'>
                <button class='btn btn-default btn-sm' ng-click="setFixed('top')">选择图文</button>
                <ul class='list-group' style='margin-bottom:0;'>
                    <li class='list-group-item' ng-if='topMatter' ng-mouseenter="hover=true" ng-mouseleave="hover=false" stuff="topMatter" title='{{topMatter.type|typetitle}}'>
                        <span>{{topMatter.title}}</span>
                        <button class='btn btn-xs btn-default pull-right' ng-if="hover" ng-click="setFixed('top',true)">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>已有图文</label>
            <div class='col-md-10'>
                <ul class='list-group' style='margin-bottom:0'>
                    <li class='list-group-item' ng-repeat="m in matters" ng-mouseenter='hover=true' ng-mouseleave='hover=false' title='{{m.type|typetitle}}'>
                        <span>{{m.title}}</span>
                        <button class='btn btn-xs btn-default pull-right' ng-if="hover" ng-click="removeMatter(m)">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>置底（可选）</label>
            <div class='col-md-10'>
                <button class='btn btn-default btn-sm' ng-click="setFixed('bottom',false)">选择图文</button>
                <ul class='list-group' style='margin-bottom:0;'>
                    <li class='list-group-item' ng-if='bottomMatter' ng-mouseenter="hover=true" ng-mouseleave="hover=false" stuff="bottomMatter"
                    title='{{bottomMatter.type|typetitle}}'>
                        <span>{{bottomMatter.title}}</span>
                        <button class='btn btn-xs btn-default pull-right' ng-if="hover" ng-click="setFixed('bottom',true)">
                            <span class='glyphicon glyphicon-remove'></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class='form-group' ng-show="editing.matter_type==='article'">
            <label class='col-md-2 control-label'>排序规则</label>
            <div class='col-md-10'>
                <label class="radio-inline">
                    <input type='radio' ng-model='editing.orderby' value="time" name='orderby' ng-change="update('orderby')">加入频道时间</label>
                <label class="radio-inline">
                    <input type='radio' ng-model='editing.orderby' value="read" name='orderby' ng-change="update('orderby')">阅读数</label>
                <label class="radio-inline">
                    <input type='radio' ng-model='editing.orderby' value="share" name='orderby' ng-change="update('orderby')">分享数</label>
                <label class="radio-inline">
                    <input type='radio' ng-model='editing.orderby' value="like" name='orderby' ng-change="update('orderby')">点赞数</label>
                <label class="radio-inline">
                    <input type='radio' ng-model='editing.orderby' value="remark" name='orderby' ng-change="update('orderby')">评论数</label>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>自动过滤</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-model='editing.filter_by_matter_acl' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update('filter_by_matter_acl')">根据素材的访问控制规则自动过滤</label>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <label class='col-md-2 control-label'>显示头图</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-model='editing.show_pic_in_page' ng-true-value="'Y'" ng-false-value="'N'" ng-change="update('show_pic_in_page')">页面形式中显示每条素材的头图</label>
                </div>
            </div>
        </div>
        <div class='form-group' ng-if="features.matter_visible_to_creater==='Y'">
            <label class='col-md-2 control-label'>可见范围</label>
            <div class='col-md-10'>
                <div class='checkbox'>
                    <label>
                        <input type='checkbox' ng-disabled="editing.creater!==editing.uid" ng-model='editing.public_visible' ng-true-value="'Y'"
                        ng-false-value="'N'" ng-change="update('public_visible')">设置为公开可见</label>
                </div>
            </div>
        </div>
        <accesscontrol mpid='{{mpaccount.mpid}}' obj='editing' prop-acl='acl' prop-access='access_control' prop-apis='authapis' update-access-control="update('access_control')"
        update-authapis="update('authapis')" change-acl-url='/rest/mp/matter/channel/setAcl?id={{editing.id}}' remove-acl-url='/rest/mp/matter/channel/removeAcl'
        label-span='2' control-span='10'></accesscontrol>
        <div class='alert alert-info'>
            <span>创建人：{{editing.creater_name}}，</span>
            <span>创建于：{{editing.create_at*1000|date:'yyyy-MM-dd HH:mm'}}</span>
        </div>
    </div>
    <div mattersgallery style='display:none' single-matter='true' matter-url='/rest/mp/matter' matter-types='matterTypes' has-parent="hasParent==='Y'"></div>
</div>