/*main-view*/
#main-view .badge a{color:#fff;text-decoration:none;}

/*task-view*/
#task-view .task{position:relative;}
#task-view .task-cog{position:absolute;top:-1px;right:-1px;}
#task-view .task-cog>button{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;}
#task-view .task:first-child .task-cog>button{border-top-right-radius:4px;}
#task-view .blink{background:#d9edf7;}

/*action-view*/
#action-view .action{position:relative;}
#action-view .action-cog{position:absolute;top:-1px;right:-1px;}
#action-view .action-cog>button{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;}
#action-view .action:first-child .action-cog>button{border-top-right-radius:4px;}

/*schema-view*/
#schema-view .flexrow{display:flex;margin-bottom:8px;}
#schema-view .flexrow button{flex:1;}
#schema-view .schemas{index}
#schema-view .schemas .schema{counter-increment:index;position:relative;padding-left:24px;padding-right:24px;}
#schema-view .schemas .schema:before{content:counter(index);background:#999;color:#fff;position:absolute;top:0px;left:0px;width:18px;height:18px;line-height:18px;text-align:center;border-top-left-radius:2px;}
#schema-view .schema{background:#fff;margin-bottom:15px;padding:8px;border:1px solid #ddd;}
#schema-view .schema.shorttext:after{content:'单行填空题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.longtext:after{content:'多行填空题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.date:after{content:'日期';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.member:after{content:'通讯录联系人';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.single:after{content:'单选题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.phase:after{content:'项目阶段';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.score:after{content:'打分题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.multiple:after{content:'多选题';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.image:after{content:'上传图片';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.file:after{content:'上传文件';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.location:after{content:'上传位置';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema.html:after{content:'描述说明';position:absolute;top:0;right:0;background:#999;padding:2px 4px;font-size:60%;color:#fff;border-top-right-radius:2px;}
#schema-view .schema .title{height:38px;line-height:38px;margin-bottom:5px;overflow:hidden;white-space:nowrap;cursor:move;}
#schema-view .schema .title div[editable]{display:inline-block;width:320px;}
#schema-view .schema-options .option{position:relative;cursor:move;height:auto;line-height:38px;overflow:hidden;white-space:nowrap;}
#schema-view .schema-options .option input[type=radio],#schema-view .schema-options .option input[type=checkbox]{vertical-align:middle;margin-top:0;}
#schema-view .schema-options .option div[editable]{display:inline-block;vertical-align:middle;margin-left:8px;width:300px;}
#schema-view .schema-options .option.entered{background:#f8f8f8;}
#schema-view .schema-options .option .btn-group{position:absolute;top:50%;right:5px;margin-top:-10px;}
#schema-view [editable]{cursor:text;}
#schema-view .actions{margin-top:10px;padding-top:10px;border-top:1px dotted #ddd;}
#schema-view .schema .description{word-wrap:break-word;}
#schema-view .schema .description img{max-width:100%;}
#schema-view .schema.active{border-left:4px solid red;margin-left:-3px;}

/*task-detail-view*/
#task-detail-view ul{padding-left:0}
#task-detail-view ul.img-tiles li{position:relative;display:inline-block;overflow:hidden;width:80px;height:80px;margin:0px;padding:0px;float:left}
#task-detail-view ul.list-group{position:relative;}
#task-detail-view ul.img-tiles li.img-thumbnail img{display:inline-block;position:absolute}
#task-detail-view ul.img-tiles li.img-thumbnail button,#task-detail-view ul.list-group button{position:absolute;top:0;right:0}
#task-detail-view ul.img-tiles li.img-picker button{position:auto;width:100%;height:100%}
#task-detail-view ul.img-tiles li.img-picker button span{font-size:36px}
