<style>
#stat-result img {
    max-height: 48px
}
</style>
<div class="col-md-12">
    <div class='form-group'>
        <div class='form-inline'>
            <div class='form-group'>
                <button class='btn btn-default' ng-click="export()">导出报告</button>
            </div>
            <div class='form-group'>
                <button class='btn btn-default' ng-click="config()">设置</button>
            </div>
        </div>
    </div>
    <div id='stat-result' class='panel panel-default'>
        <div class='panel-body'>
            <!--schemas-->
            <div ng-repeat="schema in schemasForReport">
                <h3><span ng-bind="schema.title"></span></h3>
                <div ng-if="['single','phase','multiple'].indexOf(schema.type)!==-1">
                    <div id="{{schema.id}}" style='height:300px'></div>
                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th style='width:4em'>编号</th>
                                <th>选项</th>
                                <th style='width:6em' ng-if="chartConfig.number==='Y'">数量</th>
                                <th style='width:6em' ng-if="chartConfig.percentage==='Y'">比例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="op in stat[schema.id].ops">
                                <td>选项{{$index+1}}</td>
                                <td>{{op.l}}</td>
                                <td ng-if="chartConfig.number==='Y'">{{op.c}}</td>
                                <td ng-if="chartConfig.percentage==='Y'">{{op.p}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="'score'===schema.type">
                    <div id="{{schema.id}}" style='height:300px'></div>
                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th style='width:4em'>编号</th>
                                <th>打分项</th>
                                <th style='width:6em'>平均分</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="op in stat[schema.id].ops">
                                <td>选项{{$index+1}}</td>
                                <td>{{op.l}}</td>
                                <td>{{op.c}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="['single','phase','multiple','score'].indexOf(schema.type)===-1" ng-init="page={at:1,size:10}">
                    <div id="{{schema.id}}" style='height:300px' ng-if="schema.number&&schema.number=='Y'"></div>
                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th ng-repeat='mark in app.rpConfig.marks' ng-if="mark.id!==schema.id">{{mark.name}}</th>
                                <th>登记内容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in getRecords(schema,page).records">
                                <td ng-repeat='mark in app.rpConfig.marks' ng-if="['nickname'].indexOf(mark.id)!==-1&&mark.id!==schema.id">
                                    <span ng-bind-html="record.nickname"></span>
                                </td>
                                <td ng-repeat='mark in app.rpConfig.marks' ng-if="['nickname'].indexOf(mark.id)===-1&&mark.id!==schema.id">
                                    <span ng-bind-html="record.task.data[mark.id]"></span>
                                </td>
                                <td ng-switch on="schema.type">
                                    <span ng-switch-when="image">
                                        <img ng-repeat="img in record.value" ng-src='{{img}}' />
                                    </span>
                                    <span ng-switch-when="file">
                                        <span ng-repeat='file in record.value'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                                    </span>
                                    <span ng-switch-when="date">{{(record.value*1000)|date:'yy-MM-dd HH:mm'}}</span>
                                    <span ng-switch-default ng-bind-html="record.value"></span>
                                </td>
                            </tr>
                            <tr class='text-center' ng-if="schema.number&&schema.number=='Y'">
                                <td>合计</td>
                                <td colspan={{app.rpConfig.marks.length}}>{{getRecords(schema,page).sum}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class='pl-pagination'>
                        <span>总数：{{page.total}}</span>
                        <ul uib-pagination ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="getRecords(schema,page)"></ul>
                    </div>
                </div>
            </div>
            <!--schemas-->
            <div ng-if="scoreSummary.length">
                <hr style='height:1px;background:#aaa'>
                <h3><span>打分项汇总</span></h3>
                <table class='table table-bordered'>
                    <thead>
                        <tr>
                            <th>打分项</th>
                            <th>平均分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="op in scoreSummary">
                            <td>{{op.l}}</td>
                            <td>{{op.c}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="config.html">
        <div class="modal-header">
            <button class="close" type="button" ng-click="cancel()">×</button>
            <h5 class="modal-title">设置</h5>
        </div>
        <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="标识项">
                    <div class='form-group' ng-if="tasks">
                        <select class='form-control' title='所有任务项' ng-model='filter.taskSchemaId' ng-options="task.id as task.title for task in data.taskSchemas">
                        </select>
                        <select class='form-control' title='所有行动项' ng-model='filter.actSchemaId' ng-options="action.id as action.action_desc for action in tasks[filter.taskSchemaId].actions" >
                        </select>
                    </div>
                    <div style='max-height:370px;overflow-y:auto'>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th style='width:46px'>操作</th>
                                    <th>题目</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='schema in appMarkSchemas' class='record'>
                                    <td>
                                        <input type='checkbox' ng-model="markRows.selected[schema.id]">
                                    </td>
                                    <td>{{schema.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="默认内容">
                    <div class='checkbox'>
                        <label>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="plConfig.number">选择题表格中显示数量</label>
                        <label>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="plConfig.percentage">选择题表格中显示百分比</label>
                    </div>
                    <div class='radio'>
                        <label>
                            <input type='radio' name='plLabel' value='number' ng-model="plConfig.label">选择题图片中显示数量</label>
                        <label>
                            <input type='radio' name='plLabel' value='percentage' ng-model="plConfig.label">选择题图片中显示百分比</label>
                    </div>
                    <label>不包含的题目</label>
                    <div style='max-height:370px;overflow-y:auto'>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th style='width:46px'>操作</th>
                                    <th>题目</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='schema in dataSchemas'>
                                    <td>
                                        <input type='checkbox' ng-model="plExcludeRows.selected[schema.id]" ng-change="plExcludeRows.change(schema)">
                                    </td>
                                    <td>{{schema.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="分享内容">
                    <div class='checkbox'>
                        <label>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="opConfig.number">选择题表格中显示数量</label>
                        <label>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="opConfig.percentage">选择题表格中显示百分比</label>
                    </div>
                    <div class='radio'>
                        <label>
                            <input type='radio' name='opLabel' value='number' ng-model="opConfig.label">选择题图片中显示数量</label>
                        <label>
                            <input type='radio' name='opLabel' value='percentage' ng-model="opConfig.label">选择题图片中显示百分比</label>
                    </div>
                    <label>不包含的题目</label>
                    <div style='max-height:370px;overflow-y:auto'>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th style='width:46px'>操作</th>
                                    <th>题目</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='schema in dataSchemas'>
                                    <td>
                                        <input type='checkbox' ng-model="opExcludeRows.selected[schema.id]" ng-change="opExcludeRows.change(schema)">
                                    </td>
                                    <td>{{schema.title}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">关闭</button>
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </script>
</div>