<div class="col-md-12">
    <div class='form-group'>
        <div class='form-inline'>
            <div style='display:inline-block'>
                <button class='btn btn-default' ng-click='filter()'><i class='glyphicon glyphicon-filter'></i> <span>筛选</span></button>
                <div class="btn-group" uib-dropdown>
                    <button class="btn btn-default" uib-dropdown-toggle>
                        更多操作 <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu>
                        <li><a href="" ng-click="batchVerify(rows)">选中记录通过审核<span>（{{rows.count}}）</span></a></li>
                        <li><a href="" ng-click="verifyAll()">全部记录通过审核</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="export()">导出全部记录</a></li>
                    </ul>
                </div>
            </div>
            <div class='form-group pull-right'>
                <div class='input-group'>
                    <span class="input-group-addon">每页条数</span>
                    <input class='form-control' ng-model='page.size' style='width:48px'>
                    <div class='input-group-btn'>
                        <button class='btn btn-default' ng-click='doSearch(1)'><i class='glyphicon glyphicon-refresh'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='width:48px'>操作</th>
                <th style='width:40px'></th>
                <th style='width:40px'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected">
                </th>
                <th style='width:120px'>用户</th>
                <th style='width:120px'>首次登记时间</th>
                <th style='width:120px'>最后登记时间</th>
                <th style='width:100px'>审核结果</th>
                <th style='width:120px'>任务名称</th>
                <th style='width:100px' ng-if="app.entryRule.scope.group&&app.entryRule.scope.group=='Y'">分组名称</th>
                <th ng-repeat="schema in app.checkSchemas">{{schema.title}}</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='task in tasks'>
                <td>
                    <button class='btn btn-xs btn-default' ng-click='gotoTask(task)'>
                        <span class='glyphicon glyphicon-edit'></span>
                    </button>
                </td>
                <td>{{$index+1}}</td>
                <td>
                    <input type='checkbox' ng-model="rows.selected[$index]" ng-change="rows.change($index)">
                </td>
                <td>{{task.nickname}}</td>
                <td>{{(task.first_enroll_at*1000)|date:'MM-dd HH:mm'}}</td>
                <td>{{(task.last_enroll_at*1000)|date:'MM-dd HH:mm'}}</td>
                <td>{{task.verified==='Y'?'是':(task.verified==='N'?'否':'待定')}}</td>
                <td>{{task.taskSchemaTitle}}</td>
                <td ng-if="app.entryRule.scope.group&&app.entryRule.scope.group=='Y'">
                    <span ng-if="task.group_id!==''">{{app._rounds[task.group_id].title}}</span>
                    <span ng-if="task.group_id===''">未分组</span>
                </td>
                <td ng-repeat="schema in app.checkSchemas" ng-switch on="schema.type">
                    <div ng-switch-when="image">
                        <img ng-repeat="img in task._data[schema.id]" ng-src='{{img}}' />
                    </div>
                    <div ng-switch-when="file">
                        <span ng-repeat='file in task._data[schema.id]'><a href='{{file.url}}' target="_blank">{{file.name}}</a></span>
                    </div>
                    <span ng-switch-when="date">{{(task._data[schema.id]*1000)|date:'yy-MM-dd HH:mm'}}</span>
                    <span ng-switch-default ng-bind-html="task._data[schema.id]"></span>
                    <p ng-if="['single', 'multiple', 'image', 'file'].indexOf(schema.type)!==-1&&task.supplement[schema.id].length">(补充说明：{{task.supplement[schema.id]}})</p>
                </td>
                <td>{{task.comment}}</td>
            </tr>
        </tbody>
    </table>
</div>