<div id='user-view' class="col-md-12">
    <div class='form-group'>
        <div class='form-inline'>
            <div style='display:inline-block'>
                <button class='btn btn-default' ng-click='addUser()'><i class='glyphicon glyphicon-plus'></i> <span>添加</span></button>
            </div>
        </div>
    </div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='width:48px'>操作</th>
                <th style='width:40px'></th>
                <th style='width:40px'>
                    <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected">
                </th>
                <th>用户</th>
                <th ng-if="app.entryRule.scope.group==='Y'">分组</th>
                <th style='width:106px'>开始任务时间</th>
                <th style='width:106px'>最后登记时间</th>
                <th style='width:76px'>活动分数</th>
                <th style='width:76px'>活动积分</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='user in users'>
                <td>
                    <button class='btn btn-xs btn-default' ng-click='editUser(user)'>
                        <span class='glyphicon glyphicon-edit'></span>
                    </button>
                </td>
                <td>{{$index+1}}</td>
                <td>
                    <input type='checkbox' ng-model="rows.selected[$index]" ng-change="rows.change($index)">
                </td>
                <td>{{user.nickname}}</td>
                <td ng-if="app.entryRule.scope.group==='Y'">{{user.group_title}}</td>
                <td>{{(user.start_at*1000)|date:'MM-dd HH:mm'}}</td>
                <td><span ng-if="user.last_enroll_at>0">{{(user.last_enroll_at*1000)|date:'MM-dd HH:mm'}}</span></td>
                <td>{{user.score}}</td>
                <td>{{user.coin}}</td>
                <td>{{user.comment}}</td>
            </tr>
        </tbody>
    </table>
    <div class='form-group'>
        <div class='pl-pagination'>
            <span>总数：{{page.total}}</span>
            <ul class='pull-right' uib-pagination ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="addUser.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
        <h5 class="modal-title">添加用户</h5>
    </div>
    <div class="modal-body">
        <div class='form-group'>
            <div class='form-inline'>
                <div class='form-group'>
                    <select class='form-control' ng-options="mschema.title for mschema in mschemas" ng-model="selected.mschema"></select>
                </div>
            </div>
        </div>
        <section>
            <table class='table table-bordered'>
                <thead>
                    <tr>
                        <th style='width:48px'>序号</th>
                        <th style='width:28px'>
                            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="rows.allSelected">
                        </th>
                        <th style='width:120px'>填写日期</th>
                        <th style='width:80px'>通过审核</th>
                        <th ng-if='msAttrs.name.hide===false' data-filter-by='name' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">姓名 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-if='msAttrs.mobile.hide===false' data-filter-by='mobile' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">手机 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-if='msAttrs.email.hide===false' data-filter-by='email' class='th-action' uib-popover-template="'filterBy.html'" popover-placement="bottom" popover-append-to-body="true" popover-trigger="'show'" ng-click="filter.show($event)">邮箱 <i class='glyphicon glyphicon-filter'></i></th>
                        <th ng-repeat='ea in selected.mschema.extattr'>{{ea.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='m in members'>
                        <td>{{$index+1}}</td>
                        <td>
                            <input type='checkbox' ng-model="rows.selected[$index]" ng-change="rows.change($index)">
                        </td>
                        <td>{{m.create_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                        <td>{{m.verified==='Y'?'是':(m.verified==='N'?'否':'待定')}}</td>
                        <td ng-if='msAttrs.name.hide===false'>{{m.name}}</td>
                        <td ng-if="msAttrs.mobile.hide===false">{{m.mobile}}</td>
                        <td ng-if="msAttrs.email.hide===false">{{m.email}}</td>
                        <td ng-repeat='ea in selected.mschema.extattr'>{{m.extattr[ea.id]}}</td>
                    </tr>
                </tbody>
            </table>
            <div class='form-group clearfix'>
                <div class='pl-pagination'>
                    <span>总数：{{page.total}}</span>
                    <ul uib-pagination class='pull-right' ng-if='page.total>page.size' boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
                </div>
            </div>
        </section>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>
<script type="text/ng-template" id="editUser.html">
    <div class="modal-header">
        <button class="close" ng-click="cancel()">×</button>
        <h5 class="modal-title">用户设置</h5>
    </div>
    <div class="modal-body">
        <div class='form-group' ng-if="firstTask.born_mode==='G'">
            <label>任务开始时间</label>
            <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-date='user.start_at' tms-state='start_at'></tms-datepicker>
        </div>
        <div class='form-group'>
            <label>备注</label>
            <textarea class='form-control' ng-model='user.comment' ng-change="update('comment')"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>