<div wrap="text" class="form-group">请填写登记信息</div>
<!-- begin: generate by schema -->
<?php foreach ($this->schema as $def) { ?>
<?php if (in_array($def->type,['name','email','mobile','shorttext'])) { ?>
<div class="form-group form-group-lg" wrap="input" schema="<?php echo $def->id;?>" schema-type="<?php echo $def->type;?>"><label class="sr-only"><?php echo $def->title;?></label><input ng-model="data.<?php echo $def->id;?>" title="<?php echo $def->title;?>" placeholder="<?php echo $def->title;?>" class="form-control input-lg" type="text" /></div>
<?php } else if ($def->type==='longtext') { ?>
<div class="form-group form-group-lg" wrap="input" schema="<?php echo $def->id;?>" schema-type="<?php echo $def->type;?>"><label class="sr-only"><?php echo $def->title;?></label><textarea style="height:auto;" ng-model="data.<?php echo $def->id;?>" title="<?php echo $def->title;?>" placeholder="<?php echo $def->title;?>" class="form-control input-lg" rows="3"></textarea></div>
<?php } else if (in_array($def->type,['single','phase'])) { ?>
<?php } ?>
<?php } ?>
<!-- end: generate by schema -->
<div id="act1" class="form-group" wrap="button"><button class="btn btn-primary btn-block btn-lg" ng-click="submit($event,'result')"><span>提交信息</span></button></div>