<div class='col-md-12' ng-if="!invite">
    <div class='form-group'>
        <button class='btn btn-default' ng-click="makeInvite()">开启邀请方式</button>
    </div>
    <div class='help-block'>开启邀请模式后，用户需要通过发放的邀请码才能参与活动。</div>
    <div class='help-block'>通过邀请参与活动的用户也可以生成自己的邀请链接和邀请码，邀请其他用户参与活动。</div>
    <div class='help-block'>发出邀请的用户可以查看每一个邀请码的使用情况。</div>
</div>
<div class='col-md-12' ng-if="invite">
    <div class='form-group'>
        <span>邀请成功：<span>直接{{invite.invitee_count}}</span>，<span>间接{{invite.relay_invitee_count}}</span></span>
    </div>
</div>
<div class='col-md-12' ng-if="invite">
    <uib-tabset active="active">
        <uib-tab index="1" heading="邀请设置">
            <div class='panel'>
                <div class='panel-body'>
                    <div class='col-md-8 col-md-offset-2'>
                        <div class='form-group'>
                            <label>邀请链接</label>
                            <div ng-bind="invite.entryUrl"></div>
                        </div>
                        <div class='form-group'>
                            <textarea class='form-control' ng-model="invite.message"></textarea>
                            <button class='btn btn-default' ng-click="update('message')">保存邀请留言</button>
                        </div>
                        <div class='checkbox'>
                            <label>
                                <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="invite.can_relay" ng-change="update('can_relay')">支持间接邀请</label>
                        </div>
                        <hr>
                        <button ng-if="invite.state==='1'" class='btn btn-default' ng-click="closeInvite()">关闭仅能通过邀请链接访问的显示</button>
                        <button ng-if="invite.state!=='1'" class='btn btn-default' ng-click="openInvite()">恢复仅能通过邀请链接访问的显示</button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="邀请码">
            <div class='panel'>
                <div class='panel-body'>
                    <table class='table table-bordered'>
                        <thead>
                            <th style='width:42px'></th>
                            <th style='width:80px'>编码</th>
                            <th style='width:80px'>直接邀请</th>
                            <th style='width:80px'>间接邀请</th>
                            <th>备注</th>
                            <th style='width:52px'>操作</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="code in codes">
                                <td>{{$index+1}}</td>
                                <td>{{code.code}}</td>
                                <td>{{code.used_count}}</td>
                                <td>{{code.relay_invitee_count}}</td>
                                <td>{{code.remark}}</td>
                                <td>
                                    <button class='btn btn-default btn-xs' ng-click="configCode(code)">设置</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class='btn btn-default' ng-click="addCode()">添加邀请码</button>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="所有邀请">
            <div class='panel'>
                <div class='panel-body'>
                    <table class='table table-bordered'>
                        <thead>
                            <th style='width:42px'></th>
                            <th>发起人</th>
                            <th style='width:80px'>直接邀请</th>
                            <th style='width:80px'>间接邀请</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ri in relayInvites">
                                <td>{{$index+1}}</td>
                                <td>{{ri.creator_name}}</td>
                                <td>{{ri.invitee_count}}</td>
                                <td>{{ri.relay_invitee_count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="4" heading="直接访问记录">
            <div class='panel'>
                <div class='panel-body'>
                    <table class='table table-bordered'>
                        <thead>
                            <th style='width:42px'></th>
                            <th style='width:80px'>邀请码</th>
                            <th>访问人</th>
                            <th style='width:120px'>访问时间</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="log in logs">
                                <td>{{$index+1}}</td>
                                <td>{{log.inviteCode.code}}</td>
                                <td>{{log.member.name||log.member.mobile||log.member.email||log.user.nickname||log.nickname}}</td>
                                <td>{{log.use_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<script type='text/ng-template' id='codeEditor.html'>
    <div class="modal-header">
        <h5 class="modal-title">设置邀请码</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">是否停止使用</label>
                <div class="col-md-9">
                    <label class="radio-inline"><input name="isUse" type="radio" value="Y" ng-model="code.stop">是</label>
                    <label class="radio-inline"><input name="isUse" type="radio" value="N" ng-model="code.stop" ng-checked="true" required>否</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">截止时间</label>
                <div class="col-md-9">
                    <tms-datepicker class='tms-datepicker' tms-title='时间' tms-obj="rnd" tms-date="code.expire_at*1000|date:'yy-MM-dd HH:mm'" tms-state="signinAt"></tms-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">使用次数</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" ng-trim="true"  ng-model="code.max_count" id="count"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">备注</label>
                <div class="col-md-9">
                    <textarea class='form-control' ng-model="code.remark"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>