<div class='col-md-12'>
    <div class='form-group'>
        <button class='btn btn-default' ng-click="makeInvite()">开通邀请方式</button>
    </div>
    <div class='form-group'>
        <p ng-bind="invite.entryUrl"></p>
        <p>本级邀请成功数：{{invite.invitee_count}}</p>
        <p>下级邀请成功数：{{invite.relay_invitee_count}}</p>
    </div>
    <div class='checkbox'>
        <label>
            <input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model="invite.require_code" ng-change="update('require_code')"> 需要邀请码
        </label>
    </div>
    <div class='list-group' ng-if="invite.require_code==='Y'">
        <div class='list-group-item' ng-repeat="code in codes">
            <div ng-bind="code.code"></div>
            <div>本级邀请成功数：<span ng-bind="code.used_count"></span></div>
            <div>下级邀请成功数：<span ng-bind="code.relay_invitee_count"></span></div>
            <div ng-bind="code.remark"></div>
            <button class='btn btn-default' ng-click="configCode(code)">设置</button>
        </div>
        <button class='btn btn-default' ng-click="addCode()">添加邀请码</button>
    </div>
    <label>本级邀请成功日志</label>
    <div class='list-group'>
        <div class='list-group-item' ng-repeat="log in logs">
            <div ng-bind="log.inviteCode.code"></div>
            <div ng-bind="log.nickname"></div>
            <div>{{log.use_at*1000|date:'yy-MM-dd HH:mm'}}</div>
        </div>
    </div>
    <label>发出的所有邀请</label>
    <div class='list-group'>
        <div class='list-group-item' ng-repeat="ri in relayInvites">
            <div><span ng-bind="ri.creator_name"></span></div>
            <div>本级邀请成功数：<span ng-bind="ri.invitee_count"></span></div>
            <div>下级邀请成功数：<span ng-bind="ri.relay_invitee_count"></span></div>
        </div>
    </div>
</div>
<script type='text/ng-template' id='codeEditor.html'>
    <div class="modal-header">
        <h5 class="modal-title">设置邀请码</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">备注</label>
                <div class="col-md-9">
                    <textarea class='form-control' ng-model="code.remark"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">关闭</button>
        <button class="btn btn-primary" ng-click="ok()">确定</button>
    </div>
</script>