<div ng-controller="ctrlStat" id="stat">
    <div class="row">
        <div class='col-md-3'>
            <div class='form-group'>
                <label>开始时间</label>
                <tms-datepicker class='tms-datepicker' tms-title='开始时间' tms-date='criteria.startAt' tms-state='start'></tms-datepicker>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group'>
                <label>结束时间</label>
                <tms-datepicker class='tms-datepicker' tms-title='结束时间' tms-date='criteria.endAt' tms-state='end'></tms-datepicker>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>事件筛选</label>
                <select ng-model="criteria.byEvent" class="form-control">
                    <option value="">全部类型</option>
                    <option value="{{event.id}}" ng-repeat="event in events">{{event.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <button class='btn btn-default pull-right' style="margin-left:10px" ng-click='export()'>导出记录</button>
            <button class='btn btn-success pull-right' ng-click="list()">搜索</button>
        </div>
    </div>
    <div>
        <table class='table table-bordered table-striped pl-workspace'>
            <thead>
                <tr>
                    <th style='width:120px;'>打开时间</th>
                    <th>用户名</th>
                    <th style='width:120px;'>操作</th>
                    <th>来源</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='log in logs'>
                    <td>{{log.action_at*1000|date:'yy-MM-dd HH:mm'}}</td>
                    <td>{{log.nickname||'未知'}}</td>
                    <td>{{operation[log.event]}}</td>
                    <td>{{log.origin_nickname}}</td>
                </tr>
            </tbody>
        </table>
        <div class='form-group form-inline'>
            <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
            <ul uib-pagination style="margin:0;vertical-align:bottom;cursor:pointer;float:right" ng-show="page.total>page.size" boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="list()"></ul>
        </div>
    </div>
</div>