<div ng-controller="ctrlInputWrap">
    <div class="radio" ng-if="['single','multiple','phase'].indexOf(activeWrap.schema.type)===-1">
        <label><input type='radio' value='placeholder' ng-model='activeWrap.config.showname' ng-change="updWrap(config,'showname')">输入框内</label>
        <label><input type='radio' value='label' ng-model='activeWrap.config.showname' ng-change="updWrap(config,'showname')">输入框前</label>
    </div>
    <div class="form-group" ng-if="['single','phase'].indexOf(activeWrap.schema.type)!==-1">
        <label class="radio-inline"><input type='radio' name='component' value='R' ng-model='activeWrap.config.component' ng-change="updWrap(config,'component')">单选钮</label>
        <label class="radio-inline"><input type='radio' name='component' value='S' ng-model='activeWrap.config.component' ng-change="updWrap(config,'component')">下拉框</label>
    </div>
    <div class="form-group" ng-if="(['single','phase'].indexOf(activeWrap.schema.type)!==-1&&activeWrap.config.component==='R')||activeWrap.schema.type==='multiple'">
        <label class="radio-inline"><input type='radio' name='align' value='V' ng-model='activeWrap.config.align' ng-change="updWrap(config,'align')">垂直</label>
        <label class="radio-inline"><input type='radio' name='align' value='H' ng-model='activeWrap.config.align' ng-change="updWrap(config,'align')">水平</label>
    </div>
    <div class="form-group" ng-if="activeWrap.schema.type==='member'">
        <select class='form-control' ng-model='selectedMemberSchema.schema' ng-options='ms.title for ms in memberSchemas' ng-change='shiftMemberSchema()'>
            <option></option>
        </select>
        <select class='form-control' ng-model='selectedMemberSchema.attr' ng-options='a.label for a in selectedMemberSchema.attrs' ng-change="shiftMemberSchemaAttr()">
            <option></option>
        </select>
        <div class="help-block">自定义用户信息</div>
    </div>
    <div class="form-group">
        <input type='text' class='form-control' placeholder="标题" ng-model='activeWrap.schema.title' required ng-change="updWrap(schema,'title')">
    </div>
    <div class="form-group" ng-if="['single','multiple'].indexOf(activeWrap.schema.type)!==-1">
        <button class="btn btn-default btn-sm" ng-click='addOption()'>添加</button>
        <ul class='list-group' style='margin-bottom:0'>
            <li class='list-group-item' ng-repeat='op in activeWrap.schema.ops' editable prop='l' obj='op'></li>
        </ul>
    </div>
    <div class="form-group" ng-if="'phase'===activeWrap.schema.type">
        <button class="btn btn-default btn-sm" ng-click='addPhase()'>添加</button>
        <ul class='list-group' style='margin-bottom:0'>
            <li class='list-group-item' ng-repeat='phase in app.mission.phases'>{{phase.title}}</li>
        </ul>
    </div>
    <div class="checkbox" ng-show="['image'].indexOf(activeWrap.schema.type)===-1">
        <label><input type='checkbox' ng-true-value="'Y'" ng-false-value="'N'" ng-model='activeWrap.config.required' ng-change="updWrap(config,'required')">必填</label>
    </div>
    <div class="form-group" ng-if="['image','file'].indexOf(activeWrap.schema.type)!==-1">
        <div class="col-md-10">
            <input type='text' class='form-control' ng-model='activeWrap.config.count' ng-change="updWrap(config,'count')">
        </div>
        <div class="help-block">数量</div>
    </div>
    <div class="form-group" ng-if="activeWrap.schema.type==='multiple'">
        <div class='input-group'>
            <span class='input-group-addon'>
                <input type='checkbox' ng-model='activeWrap.config.setUpper' ng-true-value="'Y'" ng-false-value="'N'" ng-change="updWrap(config,'setUpper')">
            </span>
            <input type='text' ng-disabled="activeWrap.config.setUpper==='N'" class='form-control' ng-model='activeWrap.config.upper' ng-change="updWrap(config,'upper')">
        </div>
        <div class="help-block">限制数量</div>
    </div>
</div>