<!DOCTYPE html>
<html ng-app='app' ng-controller='ctrl'>
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1.0" name="viewport">
        <base href="/" />
        <title><?php TPL::pt('title');?></title>
        <link href="//libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//libs.useso.com/js/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/views/default/app/enroll/page.css?_=2" rel="stylesheet">
        <style ng-if="Page.css" ng-bind='Page.css'></style>
    </head>
    
    <body ng-cloak class='ng-cloak'>
        <header ng-bind-html='mpa.header_page.html'></header>
        <div id='mask' ng-if="loading">
            <div>
                <i class='fa fa-spinner fa-5x fa-pulse'></i>
            </div>
        </div>
        <div class="app">
            <div id='errmsg' class='alert alert-danger' ng-class="{'active':errmsg}" ng-click="errmsg=''" ng-bind='errmsg'></div>
            <div class='container'>
                <div class='row'>
                    <form name='page' novalidate dynamic-html="Page.html">
                    </form>
                </div>
            </div>
            <div id='pickImageFrom'>
                <div class='form-group'>
                    <button class='btn btn-default btn-lg btn-block' ng-click="chooseImage(null,null,'camera')">拍照</button>
                </div>
                <div class='form-group'>
                    <button class='btn btn-default btn-lg btn-block' ng-click="chooseImage(null,null,'album')">相册</button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            if (/MicroMessenger/i.test(navigator.userAgent)) {
                var mpid = location.search.match(/mpid=([^&]*)/)[1];
                document.write("<script src='http:\/\/res.wx.qq.com\/open\/js\/jweixin-1.0.0.js'><\/script>");
                document.write("<script src='\/rest\/mi\/matter\/wxjssdksignpackage?mpid="+mpid+"&url="+encodeURIComponent(location.href.split('#')[0])+"'><\/script>");
            }
        </script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/angular.min.js "></script>
        <script src="/static/js/angular-sanitize.min.js "></script>
        <script src="/static/js/ng-infinite-scroll.min.js "></script>
        <script src="/static/js/resumable.js "></script>
        <script src="/static/js/xxt.share.js?_=1"></script>
        <script src="/static/js/xxt.image.js?_=1"></script>
        <script src="/static/js/xxt.geo.js?_=1"></script>
        <script src="/views/default/app/enroll/page.js?_=9"></script>
    </body>

</html>