<div class='form-group form-inline'>
    <div class='form-group'>
        <div class="input-group">
            <input type='text' class='form-control' ng-model='page.keyword' placeholder='按昵称' ng-keyup='keywordKeyup($event)'>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click='doSearch()'>
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <label ng-if="groups.length">易信公众号分组
        <select class='form-control' ng-model='selectedGroup' ng-options='g.name for g in groups' ng-change="doSearch()">
            <option value=></option>
        </select>
    </label>
</div>
<div>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th style='width:40px'></th>
                <th>昵称</th>
                <th style='width:160px'>关注日期</th>
                <th style='width:48px'>性别</th>
                <th>城市</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='f in users'>
                <td ng-bind="$index+1"></td>
                <td>{{f.nickname||'未知'}}</td>
                <td>{{f.subscribe_at*1000|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{SexMap[f.sex]}}</td>
                <td>{{f.city}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class='form-group clearfix'>
    <span style='height:34px;line-height:34px'>总数：{{page.total}}</span>
    <ul uib-pagination ng-show='page.total>page.size' class='pull-right' style='cursor:pointer;margin:0;vertical-align:middle'
    boundary-links="true" total-items="page.total" max-size="7" items-per-page="page.size" rotate="false" ng-model="page.at"
    class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="doSearch()"></ul>
</div>