body{margin-bottom:50px;}
.navbar-nav .active:after{content:' ';position:absolute;left:0;right:0;bottom:-1px;height:3px;background:red;}
/*tmplmsg*/
.margin-top{margin-top: 15px}
.thumbnail{position:relative;height:115px;display:flex;flex-direction:column;padding:.5em 1em;cursor: pointer}
.wx_temp:after{content:'微信';position:absolute;top:-8px;left:-8px;background:red;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
.creat_temp:after{content:'自创';position:absolute;top:-8px;left:-8px;background:blue;padding:2px 4px;font-size:60%;color:#fff;border-radius:4px;}
.recycle .thumbnail{cursor:auto;}
.thumbnail .summary{flex: 1;overflow:hidden;}
.thumbnail .attr{display:flex;padding:.5em 0;}
.thumbnail .creater_name{flex:1;}
.thumbnail .actions{border-top:1px solid #ddd;padding-top:.5em;}
.thumbnail:hover,.thumbnailActive{background: rgba(222,216,216,.5);}