body{padding:71px 0 50px;}
.ng-cloak{display:none;}
.navbar-nav .active:after{content:' ';position:absolute;left:0;right:0;bottom:-1px;height:3px;background:red;}

/*template*/
.template{position:relative;height:200px;cursor:pointer;display:flex;flex-direction:column;padding:15px;}
.template .summary{flex:1;overflow:hidden;}
.template .attr{display:flex;padding:8px 0;}
.template .creater_name{flex:1;}
.template .actions{border-top:1px solid #ddd;padding-top:8px;}

/* shelf */
.tms-panel-heading{margin-bottom:-1px;}
.tms-panel-body{border:1px solid #eee;border-radius:4px;background:#fff;padding:30px 0;margin-bottom:30px;}
.tms-panel-body:before{content:' ';display:table;}
.tms-panel-body:after{content:' ';display:table;clear:both;}